﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Styles.Render("~/Content/plugins/dropzone/dropzone.css")
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
    @Styles.Render("~/Content/plugins/toastr/toastr.min.css")
    @Styles.Render("~/Content/Site/generals.css")
    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css")
    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css")
    @RenderSection("styles", required: false)

    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    @Scripts.Render("~/Scripts/plugins/slimscroll/jquery.slimscroll.min.js")
    @Scripts.Render("~/Scripts/plugins/fastclick/fastclick.min.js")
    @Scripts.Render("~/Scripts/plugins/inputmask/jquery.inputmask.js")
    @Scripts.Render("~/Scripts/plugins/inputmask/jquery.inputmask.date.extensions.js")
    @Scripts.Render("~/Scripts/plugins/inputmask/jquery.inputmask.extensions.js")
    @Scripts.Render("~/Scripts/plugins/LoadingOverlay/loadingoverlay.min.js")
    @Scripts.Render("~/Scripts/plugins/labelBetter/jquery.label_better.min.js")
    @Scripts.Render("~/Scripts/plugins/dropzone/dropzone.js")
    @Scripts.Render("~/Scripts/plugins/toastr/toastr.min.js")
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    <script>
        var DefaultDate = "@DateTime.Now.ToString("yyyy-MM-dd") 07:00";
        $(".select2").select2();
    </script>
    @Scripts.Render("~/Scripts/Site/generals.js")
    @RenderSection("scripts", required: false)
</body>
</html>
