﻿@using ACSystem.Core.Models;
@model Settings

@{
    ViewBag.Title = "Ustawienia";
    ViewBag.Description = "";
    ViewBag.Active = "Settings";
    ViewBag.SubActive = "";

    var percentToGet = ViewBag.PercentToGet;
    var ProjectEndDaysRemind = ViewBag.ProjectEndDaysRemind;
}

<section class="content">
    @using (Html.BeginForm("Index", "Settings", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <div class="box-tools pull-right">
                            <button type="submit" class="btn btn-sm btn-primary" title="Dodaj">
                                ZAPISZ
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="control-label">
                                Procent z faktur
                            </label>
                            @Html.TextBoxFor(m => m.InvoicePercent, new { @class = "form-control" })
                            @*<input type="number" name="PercentToGet" min="0" max="100" step="1" class="form-control" value="@percentToGet" />*@
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Alert o zakończeniu projektu (ilość dni przed)
                            </label>
                            @Html.TextBoxFor(m => m.ProjectEndReminder, new { @class = "form-control" })
                            @*<input type="number" name="ProjectEndDaysRemind" min="0" max="365" step="1" class="form-control" value="@ProjectEndDaysRemind" />*@
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Czas na wykonanie zadania serwisowego [h]
                            </label>
                            @Html.TextBoxFor(m => m.ServiceTaskTime, new { @class = "form-control" })
                        </div>
                    </div>                    
                </div>
            </div>
           
        </div>
    }
</section>
