﻿@using ACSystem.Core;

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <title>ACSystem - @ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/bootstrap-datepicker.min.css")
        @Styles.Render("~/Content/bootstrap-datetimepicker.css")
        @Styles.Render("~/Content/plugins/toastr/toastr.min.css")
        @Styles.Render("~/Content/plugins/jqconfirm/jquery-confirm.min.css")
        @Styles.Render("~/Content/plugins/customBox/custombox.min.css")
        @Styles.Render("~/Content/plugins/dropzone/dropzone.css")
        @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css")
        @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css")
        @Styles.Render("~/Content/Site/layout.css")
        @Styles.Render("~/Content/Site/generals.css")
        @Styles.Render("~/Content/Site/_all-skins.css")
        @RenderSection("styles", required: false)

        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'82379402-83e0-4b75-a58a-5e087485e425'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
            @Html.Partial("_TopMenu")
            @Html.Partial("_SideMenu")
            <div class="content-wrapper">
                <section class="content-header">
                    <h1>
                        @ViewBag.Title

                        @if (ViewBag.ProjectStatus != null)
                    {
                        switch ((ProjectStatus)ViewBag.ProjectStatus)
                        {
                            case ProjectStatus.NotStarted:
                                <span class='label label-default'>Nie rozpoczęte</span>
                            break;
                        case ProjectStatus.UnderWork:
                            <span class='label label-warning'>W trakcie</span>
                        break;
                    case ProjectStatus.Finished:
                        <span class='label label-success'>Zakończone</span>
                    break;
                case ProjectStatus.FinishedWithFaults:
                    <span class='label label-danger'>Zakończone z błędami</span>
                break;
        }

    }

                        @if (ViewBag.InventoryStatus != null)
                    {
                        switch ((InventoryStatus)ViewBag.InventoryStatus)
                        {
                            case InventoryStatus.Busy:
                                <span class='label label-danger'>Zajęte</span>
                            break;
                        case InventoryStatus.Free:
                            <span class='label label-success'>Dostępne</span>
                        break;
                }

            }

                        <small>@ViewBag.Description</small>
                    </h1>
                    @if (ViewBag.Breadcrump != null)
                {
                    <ol class="breadcrumb">
                        @*<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a href="#">Examples</a></li>
                        <li class="active">Blank page</li>*@
                        @foreach (var bc in ViewBag.Breadcrump)
                    {
                        <li @if (bc.Active) { Html.DisplayText("class=active"); }>
                            @if (bc.Active)
                        {
                            if (!string.IsNullOrEmpty(bc.Icon))
                            {
                                ViewBag.FullClass = bc.Icon;
                                <i class="@ViewBag.FullClass"></i>
                        }
                        @bc.Page
                }
                else
                {
                    <a href="@bc.Url">
                        @if (!string.IsNullOrEmpty(bc.Icon))
                    {
                        <i class="@bc.Icon"></i>
                }
                        @bc.Page
                    </a>
            }
                        </li>
                }
                    </ol>
            }
                </section>
                @RenderBody()
            </div>
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 1.0.0
                </div>
                <strong>Copyright &copy; @DateTime.Now.Year <a href="http://Businesssoftware.pl">Business Software</a>.</strong> All rights
                reserved.
            </footer>
        </div>
        @Scripts.Render("~/Scripts/moment-with-locales.min.js")
        @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
        @Scripts.Render("~/Scripts/bootstrap-datepicker.min.js")
        @Scripts.Render("~/Scripts/plugins/slimscroll/jquery.slimscroll.min.js")
        @Scripts.Render("~/Scripts/plugins/fastclick/fastclick.min.js")
        @Scripts.Render("~/Scripts/plugins/toastr/toastr.min.js")
        @Scripts.Render("~/Scripts/plugins/jqconfirm/jquery-confirm.min.js")
        @*@Scripts.Render("https://dixso.github.io/custombox/assets/js/theDocs.all.min.js");*@
        @Scripts.Render("~/Scripts/plugins/customBox/custombox.min.js")
        @Scripts.Render("~/Scripts/plugins/inputmask/jquery.inputmask.js")
        @Scripts.Render("~/Scripts/plugins/inputmask/jquery.inputmask.date.extensions.js")
        @Scripts.Render("~/Scripts/plugins/inputmask/jquery.inputmask.extensions.js")
        @Scripts.Render("~/Scripts/plugins/LoadingOverlay/loadingoverlay.min.js")
        @Scripts.Render("~/Scripts/plugins/labelBetter/jquery.label_better.min.js")
        @Scripts.Render("~/Scripts/plugins/dropzone/dropzone.js")
        @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
        @Scripts.Render("~/Scripts/Site/app.js")
        @Scripts.Render("~/Scripts/Site/demo.js")
        <script>
            var DefaultDate = "@DateTime.Now.ToString("yyyy-MM-dd") 07:00";
        </script>

        <script>
            var host = window.location.host;

            if (host === "admin.acbygg.com")
                $("#test-msg").addClass("hidden");
        </script>
        @Scripts.Render("~/Scripts/Site/generals.js")
        @RenderSection("scripts", required: false)
    </body>
</html>
