﻿@using Microsoft.AspNet.Identity
@using ACSystem.Core.Models
@if (Request.IsAuthenticated)
{

    //var manager = new UserManager<ACSystemUser>(new Microsoft.AspNet.Identity.EntityFramework.UserStore<ACSystemUser>(new ACSystemContext()));
    //var userID = User.Identity.GetUserId();
    //ViewBag.User = manager.FindById(userID);

    <li class="dropdown user user-menu">        
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            @*<img src="../../dist/Profile_Images/@ViewBag.User.Image" class="user-image" alt="User Image">*@
            @*<span class="hidden-xs">@ViewBag.User.FullName</span>*@
            Wyloguj
        </a>
            <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                    @*<img src="../../dist/Profile_Images/@ViewBag.User.Image" class="img-circle" alt="User Image">*@
                    @*<p>*@
                        @*@ViewBag.User.FullName - @ViewBag.User.Position*@
                        @*<small>Member since Nov. 2012</small>
                    </p>
                </li>
                <!-- Menu Body -->
                <li class="user-body">
                    <div class="row">
                        
                    </div>
                    <!-- /.row -->
                </li>
                <!-- Menu Footer-->\
                <li class="user-footer">
                    @*<div class="pull-left">
                        <a href="/Account/Details/@ViewBag.User.Id" class="btn btn-default btn-flat">Profil</a>
                    </div>*@
                    <div class="pull-right">
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Wyloguj się</a>
                        }
                    </div>
                </li>
            </ul>
    </li>    
}
