﻿@using Microsoft.AspNet.Identity
@using ACSystem.Core.Models
@using ACSystem.Core.Repo;

@{
    var context = new ACSystemContext();
    var projectRepo = new ProjectsRepo(context);
    var antythinkTODO = projectRepo.AnyTaskToDo();
}

@if (Request.IsAuthenticated)
{
    //var manager = new UserManager<ACSystemUser>(new Microsoft.AspNet.Identity.EntityFramework.UserStore<ACSystemUser>(new ACSystemContext()));
    //ViewBag.User = manager.FindById(User.Identity.GetUserId());

<aside class="main-sidebar">
    <section class="sidebar">
        <form action="/Search/Global" method="GET" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="query" class="form-control" placeholder="Szukaj...">
                <span class="input-group-btn">
                    <button type="submit" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <form method="POST" class="sidebar-form" id="search-task-form">
            <div class="input-group">
                <input type="text" name="query" class="form-control" placeholder="Numer zadania...">
                <span class="input-group-btn">
                    <button type="submit" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MENU</li>
            <li @if (ViewBag.Active == "Pulpit") { Write("class=active"); }>
                <a href="/">
                    <i class="fa fa-dashboard"></i> <span>Pulpit</span>
                </a>
            </li>
            @if (Roles.IsUserInRole("Admin")) {
                <li class="@if (ViewBag.Active == "Users") { Write("active"); }">
                    <a href="/Account/List">
                        <i class="glyphicon glyphicon-user"></i> <span>Użytkownicy</span>
                    </a>
                </li>
            }

            @if (Roles.IsUserInRole("Admin")) {
                <li class="@if (ViewBag.Active == "Customers") { Write("active"); }">
                    <a href="/Customers">
                        <i class="fa fa-users"></i> <span>Klienci</span>
                    </a>
                </li>
            }

            @if (Roles.IsUserInRole("Admin")) {
                <li class="treeview @if (ViewBag.Active == "Projects") { Write("active"); }">
                    <a href="/Projects">
                        <i class="fa fa-archive"></i> <span>Projekty</span>
                        @if (antythinkTODO) {
                            <span class="text-danger" style="font-weight: bold">!</span>
                        }
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li @if (ViewBag.SubActive == "List") { Write("class=active"); }><a href="/Projects"><i class="fa fa-circle-o"></i> Lista</a></li>
                        <li>
                            <a href="/Projects/TaskTodo">
                                <i class="fa fa-check"></i> TO DO
                                @if (antythinkTODO) {
                                    <span class="text-danger" style="font-weight: bold">!</span>
                                }
                            </a>
                        </li>
                    </ul>
                </li>
            }

            @if (Roles.IsUserInRole("Admin")) {
                <li class="@if (ViewBag.Active == "Products") { Write("active"); }">
                    <a href="/Products">
                        <i class="fa fa-cube"></i> <span>Produkty</span>
                    </a>
                </li>
            }

            @if (Roles.IsUserInRole("Admin")) {
                <li class="treeview @if (ViewBag.Active == "Office") { Write("active"); }">
                    <a href="/Office">
                        <i class="fa fa-money"></i> <span>Księgowość</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li @if (ViewBag.SubActive == "Payroll") { Write("class=active"); }><a href="/Office/Payroll"><i class="fa fa-circle-o"></i> Lista płac</a></li>
                        <li @if (ViewBag.SubActive == "Invoice") { Write("class=active"); }><a href="/Office/Invoice"><i class="fa fa-circle-o"></i> Faktury</a></li>
                        <li @if (ViewBag.SubActive == "Fees") { Write("class=active"); }><a href="/Office/Fees"><i class="fa fa-circle-o"></i> Szkody</a></li>
                        <li @if (ViewBag.SubActive == "RentAndLoan") { Write("class=active"); }><a href="/RentAndLoan"><i class="fa fa-circle-o"></i> Czynsze i pożyczki</a></li>
                    </ul>
                </li>
            }

            @if (Roles.IsUserInRole("Admin")) {
                <li class="treeview @if (ViewBag.Active == "Parallel") { Write("active"); }">
                    <a href="/Parallel">
                        <i class="fa fa-table"></i> <span>Zestawienia</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li @if (ViewBag.SubActive == "Hours") { Write("class=active"); }><a href="/Parallel/Hours"><i class="fa fa-circle-o"></i> Godziny</a></li>
                        <li @if (ViewBag.SubActive == "Content") { Write("class=active"); }><a href="/Parallel/Content"><i class="fa fa-circle-o"></i> Zawartość projektu</a></li>
                        <li @if (ViewBag.SubActive == "FittersLocation") { Write("class=active"); }><a href="/Parallel/FittersLocation"><i class="fa fa-circle-o"></i> Lokalizacja monterów</a></li>
                        <li @if (ViewBag.SubActive == "InvoicePercent") { Write("class=active"); }><a href="/Parallel/InvoicePercentList"><i class="fa fa-circle-o"></i> Procenty faktur</a></li>
                        <li @if (ViewBag.SubActive == "TasksMinus") { Write("class=active"); }><a href="/Parallel/TasksMinus"><i class="fa fa-circle-o"></i> Zadania ujemne</a></li>
                        <li @if (ViewBag.SubActive == "Inventory") { Write("class=active"); }><a href="/Parallel/Inventory"><i class="fa fa-circle-o"></i> Inwentarz</a></li>
                        <li @if (ViewBag.SubActive == "CheckTaskPriceNorm") { Write("class=active"); }><a href="/Parallel/CheckTaskPriceNorm"><i class="fa fa-circle-o"></i> Różnice cen</a></li>
                        <li @if (ViewBag.SubActive == "CheckPayrollRateNorm") { Write("class=active"); }><a href="/Parallel/CheckPayrollRateNorm"><i class="fa fa-circle-o"></i> Różnice stawek</a></li>
                        <li @if (ViewBag.SubActive == "UnacceptedTasks") { Write("class=active"); }><a href="/Parallel/UnacceptedTasks"><i class="fa fa-circle-o"></i> Niezaakceptowane zadania</a></li>
                    </ul>
                </li>
            }

            @if (Roles.IsUserInRole("Admin")) {
                <li class="@if (ViewBag.Active == "Inventory") { Write("active"); }">
                    <a href="/Inventory">
                        <i class="fa fa-wrench"></i> <span>Inwentarz</span>
                    </a>
                </li>
            }

            @if (Roles.IsUserInRole("Admin")) {
                <li class="@if (ViewBag.Active == "Questions") { Write("active"); }">
                    <a href="/Question">
                        <i class="fa fa-question-circle"></i> <span>Pytania</span>
                    </a>
                </li>
            }

            @if (Roles.IsUserInRole("Admin")) {
                <li class="treeview @if (ViewBag.Active == "Settings") { Write("active"); }">
                    <a href="/Settings">
                        <i class="fa fa-cogs"></i> <span>Ustawienia</span>
                    </a>
                </li>
            }
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
}
