﻿@using ACSystem.Core
@model ACSystem.Core.Models.ACSystemUser

@{
    ViewBag.Title = "Szczegóły";
    ViewBag.Description = "Informacje o użytkowniku ACSystem - " + Model.FullName;
    ViewBag.Active = "Users";
    ViewBag.SubActive = "List";
    ViewBag.UserID = Model.Id;
    ViewBag.CompanyPercent = Model.CompanyPercent;
    ViewBag.FitterPercent = Model.FitterPercent;
}

@section Styles {
    @Styles.Render("~/Content/Site/account.css")
    @Styles.Render("~/Content/plugins/select2/select2.min.css")

}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    <script>
        $(document).ready(function () {
            $(".select2").select2();

            $(".file-dropzone").dropzone({
                sending: function (file, xhr, formData) {
                    var id = $(".file-dropzone").data("id");
                    // Will send the filesize along with the file as POST data.
                    formData.append("UserID", id);
                },
                success: function (first, response) {
                    if (response.result === "true") {
                        toastr.success("Dokument został dodany!");
                        $.each(response.docs, function (index, doc) {
                            AddDocRow(doc);
                        });
                    }
                },
                successMultiple: function (first, response) {
                    if (response.result === "true") {
                        toastr.success("Dokument został dodany!");
                        $.each(response.docs, function (index, doc) {
                            AddDocRow(doc);
                        });
                    }
                }
            });
        })

        $(document).on('click', '.save-document', function () {
            var id = $(this).data('id');
            var desc = $('#document-description-' + id).val();
            var show = $('.document-visible-' + id).is(':checked');

            var successFn = function () {
                toastr.success("Pomyślnie zaktualizowano dokument");
            }

            var errorFn = function () {
                toastr.error("Wystąpił błąd podczas aktualizacji dokumentu");
            }

            GetAjaxWithFunctions('/Account/UpdateDocument', 'POST', { ID: id, DocumentDescription: desc, ShowToUser: show }, successFn, errorFn, '');
        });

        $(document).on('click', '.delete-document', function () {
            var id = $(this).data('id');
            var successFn = function () {
                toastr.success("Pomyślnie usunięto dokument");
                $('#document-row-' + id).remove();
            }

            var errorFn = function () {
                toastr.error("Wystąpił błąd podczas usuwania dokumentu");
            }

            GetAjaxWithFunctions('/Account/DeleteDocument', 'POST', { ID: id }, successFn, errorFn, '');
        })

        function AddDocRow(doc) {
            var docRow = '<tr id="document-row-' + doc.ID + '>';
            docRow += '<td><input type="text" class="form-control" id="document-description-' + doc.ID + '" value="' + doc.DocumentDescription + '" /></td>';
            docRow += '<td style="text-align: center; vertical-align: middle;"><input type="checkbox" class="document-visible-' + doc.ID + '" value="True" checked/></td>';
            docRow += '<td style="text-align: center; vertical-align: middle;">'
            docRow += '<a class="text-success text-center save-document cursor-pointer" data-id="' + doc.ID + '" title="Zapisz"><i class="fa fa-check"></i></a>';
            docRow += '<a class="text-primary text-center cursor-pointer" href="' + doc.URL + '" title="Pobierz" target="_blank"><i class="fa fa-download"></i></a>';
            docRow += '<a class="text-danger text-center delete-document cursor-pointer" data-id="' + doc.ID + '" title="Usuń"><i class="fa fa-times"></i></a>';
            docRow += '</td>'
            docRow += "</tr>";

            $(".documents-table tbody").append(docRow);
        }

        var data = {
            current: "@Model.Id",
            dest: localStorage.getItem("account-dest"),
            orderby: localStorage.getItem("account-orderby"),
            search: localStorage.getItem("account-search"),
            filter: localStorage.getItem("account-filter")
        }

        var successFn = function (data) {
            var buttons = "";

            if (data.prev != "" && data.prev != null)
                buttons += '<a href="/Account/Details/' + data.prev + '" class="btn btn-primary btn-sm" title="Poprzedni użytkownik"><i class="fa fa-angle-left"></i></a>';

            if (data.next != "" && data.next != null)
                buttons += '<a href="/Account/Details/' + data.next + '" class="btn btn-primary btn-sm" title="Następny użytkownik"><i class="fa fa-angle-right"></i></a>';

            $("#prev-next-btns").html(buttons);
        }

        var errorFn = function () { }

        GetAjaxWithFunctions("/Account/GetPrevNextID", "POST", data, successFn, errorFn, "");


        $(document).on('click', '.free-inventory', function () {
            var inventoryID = $(this).data('inventory-id');

            LoadModalContent("#modal", "/Inventory/Modal_FreeInventory?InventoryID=" + inventoryID);
        });
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Dane użytkownika</h3>
                    <div class="box-tools" id="prev-next-btns">
                        @*@if (!string.IsNullOrEmpty(ViewBag.PrevAccount))
                            {
                                <a href="/Account/Details/@ViewBag.PrevAccount" class="btn btn-primary btn-sm" title="Poprzedni użytkownik"><i class="fa fa-angle-left"></i></a>
                            }
                            @if (!string.IsNullOrEmpty(ViewBag.NextAccount))
                            {
                                <a href="/Account/Details/@ViewBag.NextAccount" class="btn btn-primary btn-sm" title="Następny użytkownik"><i class="fa fa-angle-right"></i></a>
                            }*@
                    </div>
                </div>
                <div class="box-body user-info">
                    <img class="profile-user-img img-responsive img-circle" src="../../dist/Profile_Images/@Model.Image" alt="User profile picture">
                    <h3 class="profile-username text-center">
                        @Model.FullName

                        @if (Model.LockoutEnabled)
                        {
                            <small class="text-danger">
                                <br />
                                Zablokowany
                                @if (Model.LockTimestamp.HasValue)
                                {
                                    <span>(@Model.LockTimestamp.Value.ToString("yyyy-MM-dd HH:mm"))</span>
                                }
                            </small>
                        }

                    </h3><p class="text-muted text-center">@Model.Position</p>
                    <p class="text-muted text-center">Użytkownik @if (Model.UserType == UserType.Wewnetrzny) { Write("wewnętrzny"); } else { Write("zewnętrzny"); }</p>
                    <p class="text-muted text-center">@Model.DateOfBirth</p>
                    @if (Model.Calendar != null)
                    {
                        <div>
                            <dl>
                                <dt>Kalendarz</dt>
                                <dd style="background-color: @Model.Calendar.ColorHex; color: white; padding: 10px;">@Model.Calendar.Name</dd>
                            </dl>
                        </div>
                    }
                </div>
            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Dane kontaktowe</h3>
                </div>
                <div class="box-body user-contact">
                    <p><a href="mailto:@Model.Email">@Model.Email</a></p>
                    <p>@Model.PhoneNumber</p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-inventory" data-toggle="tab">INWENTARZ</a></li>
                    <li><a href="#tab-crew" data-toggle="tab">EKIPA</a></li>
                    <li><a href="#tab-log" data-toggle="tab">DZIENNIK ZMIAN</a></li>
                    <li><a href="#tab-docs" data-toggle="tab">DOKUMENTY</a></li>
                </ul>
                <div class="tab-content">
                    @Html.Partial("Partials/Inventory", Model)
                    @Html.Partial("Partials/Crew", Model.Crew_Supervisor.ToList())
                    @Html.Partial("Partials/ChangeLog", Model.UserChangeLog.ToList())
                    @Html.Partial("Partials/Documents", Model.UserDocuments.ToList())
                </div>
            </div>
        </div>
    </div>
</section>

<div id="modal" class="cal-modal cal-modal-form cal-modal-top"></div>