﻿@model EditUserViewModel
@using ACSystem.Core.Models

@{
    ViewBag.Title = "Edytuj";
    ViewBag.Description = "Edytuj użytkownika ACSystem - " + Model.Name + " " + Model.Surname;
    ViewBag.Active = "Users";
    ViewBag.SubActive = "Create";


    var calendars = (List<Calendar>)ViewBag.Calendars;

    var userIMG = (Model != null && !string.IsNullOrEmpty(Model.Image)) ? Model.Image : "no-photo.png";

    var firstColor = calendars.FirstOrDefault()?.ColorHex;
    if (Model.CalendarID.HasValue)
    {
        firstColor = calendars.FirstOrDefault(q => q.ID == Model.CalendarID.Value)?.ColorHex;
    }
}

@section Styles {
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
@Styles.Render("~/Content/plugins/huebee/huebee-colorpicker.css")
@Styles.Render("~/Content/plugins/iCheck/square/blue.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    @Scripts.Render("~/Scripts/plugins/huebee/huebee-colorpicker.min.js")
    @Scripts.Render("~/Scripts/plugins/iCheck/icheck.min.js")
    @Scripts.Render("~/Scripts/Site/account-create.js")
    <script>
    $('#CalendarID').change(function () {
        var color = $(this).children('option:selected').css("background-color");

        $(this).css("background-color", color);
        })

        $('input[type="checkbox"].minimal').iCheck({
            checkboxClass: 'icheckbox_square-blue',
        });
    </script>
}

<section class="content">
@using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(m => m.Podpis)
        @Html.HiddenFor(m => m.Image)
        @Html.HiddenFor(m => m.Id)
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Dane logowania</h3>
                    <div class="box-tools pull-right">
                        <button type="submit" class="btn btn-sm btn-primary" title="Zapisz">
                            ZAPISZ
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                        @*@Html.TextBoxFor(m => m.Login, new { @class = "form-control", placeholder = "Wpisz login", disabled = "" })*@
                        @*@Html.HiddenFor(m => m.Email);*@
                        <input type="text" class="form-control" placeholder="Wpisz email" id="Email" name="Email" value="@Model.Email" />
                    </div>
                    @*<div class="form-group">
                    @Html.LabelFor(m => m.Role, new { @class = "control-label" })
                    <select class="form-control select2" multiple="multiple" name="Role" id="Role" data-placeholder="Wybierz uprawnienia" style="width: 100%;">
                        @foreach (var role in ViewBag.Roles)
                        {
                            if (Model.Role.Contains(role)) { <option value="@role" selected>@role</option> }
                            else{ <option value="@role">@role</option> }
                        }
                    </select>
                </div>*@
                    <div class="form-group">
                        @Html.LabelFor(m => m.InSystemUserID, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.InSystemUserID, new { @class = "form-control", placeholder = "" })
                    </div>
                    <div class="form-group">
                        <label class="control-label">Kalendarz</label>
                        <div class="input-group">
                            <select class="form-control" name="CalendarID" id="CalendarID" style="background: @firstColor; color: white;">
                                @foreach (var c in calendars.OrderBy(q => q.Name)) {
                                    <option value="@c.ID" style="background: @c.ColorHex; color: white; padding: 20px;" @if (Model.CalendarID == c.ID) { Write("selected"); }>@c.Name</option>
                                }
                            </select>
                            <div class="input-group-btn">
                                <button type="button" id="add-calendar" class="btn btn-primary"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" class="minimal" value="True" name="FirstDoService" @if (Model != null && Model.FirstDoService.HasValue && Model.FirstDoService.Value) { Write("checked"); } />
                            Najpierw zadania zerwisowe
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" class="minimal" value="True" name="CanSeeAll" @if (Model.CanSeeAll) { Write("checked"); } />
                            Dostęp do wszystkich zadań
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" class="minimal" value="True" name="LockoutEnabled" @if (Model.LockoutEnabled) { Write("checked"); } />
                            Użytkownik zablokowany
                            @if (Model.LockTimestamp.HasValue) {
                                <small>(@Model.LockTimestamp.Value.ToString("yyyy-MM-dd HH:mm"))</small>
                            }
                        </label>
                    </div>
                </div>
            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Podpis</h3>
                    <div class="box-tools pull-right">
                        <div class="fileUpload btn btn-sm btn-primary">
                            <span>ZMIEŃ</span>
                            <input type="file" class="upload" id="podpis-img" name="podpis-img" accept="image/jpg, image/png" />
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <img class="podpis-user-img img-responsive" src="/Monter/dist/Podpisy/@Model.Podpis" alt="User podpis picture">
                </div>
            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Dane kontaktowe</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.PhoneNumber, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder = "Wpisz nazwisko" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Dane personalne</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Wpisz imię" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Surname, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Surname, new { @class = "form-control", placeholder = "Wpisz nazwisko" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.DateOfBirth, new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control", placeholder = "Wpisz datę urodzenia" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.HireDate, new { @class = "control-label" })
                        <input type="text" class="form-control" id="HireDate" name="HireDate" value="@(Model.HireDate?.ToString("yyyy-MM-dd"))" placeholder="Wpisz datę zatrudnienia" />
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ReleaseDate, new { @class = "control-label" })
                        <input type="text" class="form-control" id="ReleaseDate" name="ReleaseDate" value="@(Model.ReleaseDate?.ToString("yyyy-MM-dd"))" placeholder="Wpisz datę zwolnienia" />
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Position, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.Position, (SelectList)ViewBag.Positions, htmlAttributes: new { @class = "form-control select2", placeholder = "Wybierz stanowisko" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserType, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.UserType, (SelectList)ViewBag.UserTypes, htmlAttributes: new { @class = "form-control select2", placeholder = "Wybierz rodzaj użytkownika" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.PercentType, new { @class = "control-label" })
                        @Html.DropDownListFor(m => m.PercentType, (SelectList)ViewBag.PercentTypes, htmlAttributes: new { @class = "form-control select2", placeholder = "Wybierz stawkę" })
                    </div>
                    <div class="form-group">
                        <label for="HourlyRate" class="control-label">Stawka godzinowa</label>
                        <input type="number" class="form-control" id="HourlyRate" name="HourlyRate" value="@if (Model != null) { Write(Model.HourlyRate); }" />
                    </div>
                </div>
            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Zdjęcie użytkownika</h3>
                    <div class="box-tools pull-right">
                        <div class="fileUpload btn btn-sm btn-primary">
                            <span>ZMIEŃ</span>
                            <input type="file" class="upload" id="profile-img" name="profile-img" accept="image/jpg, image/png" />
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <img class="profile-user-img img-responsive img-circle" src="../../dist/Profile_Images/@userIMG" alt="User profile picture">
                </div>
            </div>
        </div>


    </div>
}
</section>

<div id="add-calendar-modal" class="cal-modal" style="width: 40%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">DODAJ KALENDARZ</h4>
            </div>
            <div class="modal-body">
                <form method="post" role="form" id="add-calendar-form">
                    <div class="form-group">
                        <label class="control-label">Nazwa kalendarza</label>
                        <input type="text" class="form-control" name="Name" />
                    </div>

                    <div class="radios form-group" style="float: left;">
                        <div class="check active" style="background-color: #AC725E; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#AC725E" name="ColorHex" />
                        </div>
                        <div class="check" style="background-color: #D06B64; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#D06B64" />
                        </div>
                        <div class="check" style="background-color: #F83A22; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#F83A22" />
                        </div>
                        <div class="check" style="background-color: #FA573C; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#FA573C" />
                        </div>
                        <div class="check" style="background-color: #FF7537; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#FF7537" />
                        </div>
                        <div class="check" style="background-color: #FFAD46; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#FFAD46" />
                        </div>
                        <div class="check" style="background-color: #42D692; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#42D692" />
                        </div>
                        <div class="check" style="background-color: #16A765; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#16A765" />
                        </div>

                        <div class="check" style="background-color: #7BD148; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#7BD148" />
                        </div>
                        <div class="check" style="background-color: #B3DC6C; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#B3DC6C" />
                        </div>
                        <div class="check" style="background-color: #F8E983; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#F8E983" />
                        </div>
                        <div class="check" style="background-color: #FAD165; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#FAD165" />
                        </div>
                        <div class="check" style="background-color: #92E1C0; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#92E1C0" />
                        </div>
                        <div class="check" style="background-color: #9FE1E7; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#9FE1E7" />
                        </div>
                        <div class="check" style="background-color: #9FC6E7; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#9FC6E7" />
                        </div>
                        <div class="check" style="background-color: #4986E7; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#4986E7" />
                        </div>

                        <div class="check" style="background-color: #9A9CFF; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#9A9CFF" />
                        </div>
                        <div class="check" style="background-color: #B99AFF; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#B99AFF" />
                        </div>
                        <div class="check" style="background-color: #C2C2C2; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#C2C2C2" />
                        </div>
                        <div class="check" style="background-color: #CABDBF; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#CABDBF" />
                        </div>
                        <div class="check" style="background-color: #CCA6AC; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#CCA6AC" />
                        </div>
                        <div class="check" style="background-color: #F691B2; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#F691B2" />
                        </div>
                        <div class="check" style="background-color: #CD74E6; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#CD74E6" />
                        </div>
                        <div class="check" style="background-color: #A47AE2; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#A47AE2" />
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary pull-right">ZAPISZ</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
