﻿@model ACSystem.Core.Models.ACSystemUser

@{
    ViewBag.Title = "Zarządzaj";
    ViewBag.Description = "Lista użytkowników ACSystem";
    ViewBag.Active = "Users";
    ViewBag.SubActive = "List";
}

@section Styles {

    @Styles.Render("~/Content/plugins/dataTables/dataTables.bootstrap.css")
    @Styles.Render("~/Content/plugins/iCheck/square/blue.css")
    @*@Styles.Render("~/Content/DataTables/dataTables.responsive.css")*@

}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/dataTables/jquery.dataTables.min.js");
    @Scripts.Render("~/Scripts/plugins/dataTables/dataTables.bootstrap.min.js")
    @Scripts.Render("~/Scripts/plugins/iCheck/icheck.min.js")
    @Scripts.Render("~/Scripts/Site/account.js")
}
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools">
                <button type="button" id="synchronize-users" class="btn btn-sm btn-flat btn-primary pull-right" style="margin-left: 15px;">SYNCHRONIZUJ</button>
                <a href="/Account/Create" class="btn btn-sm btn-primary pull-right" style="margin-left: 15px;">DODAJ</a>
                <div class="input-group input-group-sm pull-right" style="width: 150px;">
                    <input type="text" name="search" id="search-table-input" class="form-control pull-right" placeholder="Szukaj">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default" id="search-table-btn"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="input-group input-group-sm pull-right checkbox-filter">
                    <label>
                        <input type="checkbox" class="minimal status-filter filter value-0" id="fltr-chbx-1" value="0">
                        Pokaż zablokowanych użytkowników
                    </label>
                </div>
            </div>
        </div>
        <div class="box-body table-responsive no-padding">
            <table id="users-list" class="table table-bordered table-sortable" data-page="1" data-dest="asc" data-order-by="surname" data-filter="">
                <thead>
                    <tr>
                        <th data-id="surname" data-dest="asc" class="clickable">Nazwisko</th>
                        <th data-id="name" data-dest="desc" class="clickable">Imię</th>
                        <th data-id="email" data-dest="desc" class="clickable">Email</th>
                        <th data-id="phonenumber" data-dest="desc" class="clickable">Telefon</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right"></ul>
        </div>
    </div>
</section>


