﻿@using ACSystem.Core.Models
@using ACSystem.Core.Models.ViewModels
@using ACSystem.Core
@model IEnumerable<Tasks>

@{
    var taskDict = (Dictionary<int, int>)ViewBag.TaskDict;

    var photos = new List<TasksPhotos>();
}

<div class="tab-pane table-responsive no-padding" id="tab-error-photos">
    <table class="table table-hover table-pagination">
        <thead>
        <tr>
            <th style="text-align: center;" width="15px"></th>
            <th style="text-align: center;" width="60xp;">Lp.z.</th>
            <th>Zadanie</th>
            <th>Pytanie</th>
            <th>Opis</th>
            <th>Rodzaj</th>
            <th></th>
        </tr> 
        </thead>
        <tbody>
            @foreach (var t in Model.Where(q => q.Product.ProductType == TaskType.Kitchen && q.Task_Questions != null && q.Task_Questions.TaskQuestionPhoto != null && q.Task_Questions.TaskQuestionPhoto.Any()))
            {
                foreach (var tq in t.Task_Questions.TaskQuestionPhoto.Where(q => string.IsNullOrEmpty(q.Photo) == false))
                {
                    photos.Add(new TasksPhotos
                    {
                        ID = tq.Id,
                        LP = taskDict[t.Id].ToString(),
                        Zadanie = t.GetTaskName(t.Apartment.ProjectId) + " " + t.TaskSufix,
                        Pytanie = Dicts.PL_Questions[tq.Question],
                        Opis = tq.Description,
                        Link = $"<a href=\"/Monter/dist/Question_Images/{tq.Photo}\" class=\"btn btn-xs btn-primary\" target=\"_blank\">Pobierz</a>",
                        Rodzaj = "Błąd",
                        DataZamkniecia = t.ClosedDate ?? DateTime.Now,
                        Blocked = tq.Blocked,
                        Source = "Question_Images"
                    });                    
                }
            }

            @foreach (var t in Model.Where(q => q.Production != TaskProduction.Developer && q.TaskPatches != null && q.TaskPatches.Any()))
            {
                foreach (var tp in t.TaskPatches.Where(q => !string.IsNullOrEmpty(q.Photo)))
                {
                    photos.Add(new TasksPhotos
                    {
                        ID = tp.ID,
                        LP = taskDict[t.Id].ToString(),
                        Zadanie = t.GetTaskName(t.Apartment.ProjectId) + " " + t.TaskSufix,
                        Pytanie = tp.ItemTitle,
                        Opis = tp.ItemDescription,
                        Link = $"<a href=\"/Monter/dist/Patch_Images/{tp.Photo}\" class=\"btn btn-xs btn-primary\" target=\"_blank\">Pobierz</a>",
                        Rodzaj = "OK",
                        DataZamkniecia = t.ClosedDate ?? DateTime.Now,
                        Blocked = tp.PhotoBlocked,
                        Source = "Patch_Images"
                    });
                }
            }

            @foreach (var t in Model)
            {
                if (t.Task_Fitter.Any() == false)
                {
                    continue;
                }

                var activities = t.Task_Fitter.Where(q => q.Photos.Any()).ToList();

                if (activities.Any() == false)
                {
                    continue;
                }

                foreach(var a in activities)
                {
                    foreach (var ap in a.Photos)
                    {
                        photos.Add(new TasksPhotos
                        {
                            ID = ap.Id,
                            LP = taskDict[t.Id].ToString(),
                            Zadanie = t.GetTaskName(t.Apartment.ProjectId) + " " + t.TaskSufix,
                            Opis = ap.Desc,
                            Link = $"<a href=\"/Monter/dist/Task_Images/{ap.Photo}\" class=\"btn btn-xs btn-primary\" target=\"_blank\">Pobierz</a>",
                            Rodzaj = (a.Status != TaskStatus.Finished && a.Status != TaskStatus.Stoped) ? "Błąd" : "OK",
                            DataZamkniecia = t.ClosedDate ?? a.Timestamp,
                            Blocked = ap.Blocked,
                            Source = "Task_Images"
                        });
                    }
                }
            }
            
            @foreach (var p in photos.OrderByDescending(q => q.DataZamkniecia))
            {
                var blocked = (p.Blocked == true) ? "is-blocked" : "";

                <tr class="@p.Source-@p.ID @blocked">
                    <td>
                        <span><i class="fa fa-lock text-danger lock-icon"></i></span>
                    </td>
                    <td style="text-align: right;">@p.LP</td>
                    <td>@p.Zadanie</td>
                    <td>@p.Pytanie</td>
                    <td>@p.Opis</td>
                    <td>@p.Rodzaj</td>
                    <td>
                        @Html.Raw(p.Link)

                        @if (p.Blocked)
                        {
                            <button type="button" class="btn btn-xs btn-success block-photo" data-source="@p.Source" data-id="@p.ID" data-blocked="True">Odblokuj</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-xs btn-warning block-photo" data-source="@p.Source" data-id="@p.ID" data-blocked="False">Zablokuj</button>
                        }

                        <button type="button" class="btn btn-xs btn-danger delete-photo" data-source="@p.Source" data-id="@p.ID">Usuń</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

