﻿@model ACSystem.Core.Models.Apartments
@using ACSystem.Core;
@using ACSystem.Core.Models;


@{
    var taskDict = (Dictionary<int, int>) ViewBag.TaskDict;
}

<div class="tab-pane table-responsive no-padding active" id="tab-tasks">
    <div style="margin-bottom: 20px;">
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control textarea-wysiwg", style = "width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" })
        <div class="form-group col-md-12 no-padding" style="margin-top: 10px;">
            <button class="btn btn-xs btn-primary pull-right" id="save-apartment-description" data-apartment-id="@Model.Id">ZAPISZ OPIS</button>
        </div>
    </div>
    <div class="form-group col-md-3 pull-left">
        <select class="form-control select2" id="ProductId_search" data-placeholder="Wybierz produkt" style="width: 100%;">
            <option value="-1">Wybierz produkt...</option>
            @foreach (var pm in Model.Tasks.GroupBy(q => q.Product)) {
                <option value="@pm.Key.Id">@pm.FirstOrDefault().GetTaskName(Model.ProjectId)</option>

            }
        </select>
    </div>
    <button type="button" class="btn btn-xs btn-primary pull-right add-construction-service-task" data-apartment-id="@Model.Id" style="margin-bottom: 10px; margin-left: 10px;">DODAJ SERWIS - BUDOWLANE</button>
    <button type="button" class="btn btn-xs btn-primary pull-right add-kitchen-service-task" data-apartment-id="@Model.Id" style="margin-bottom: 10px; margin-left: 10px;">DODAJ SERWIS - KUCHNIA</button>
    <button type="button" class="btn btn-xs btn-primary pull-right add-task" data-apartment-id="@Model.Id" style="margin-bottom: 10px;">DODAJ ZADANIE</button>
    <table class="table table-hover tasks-in-apartment-table grouped-table">
        <thead>
        <tr>
            <th></th>
            <th>Lp</th>
            <th>Gr.</th>
            <th>Nazwa produktu</th>
            <th>Ilość</th>
            <th>Cena</th>
            <th>Tydz.</th>
            <th>Data</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (IGrouping<Products, Tasks> group in Model.Tasks.GroupBy(q => q.Product)) {
            int notStartedCount = group.Count(q => q.Status == TaskStatus.Free);
            int underWorkCount = group.Count(q => q.Status == TaskStatus.UnderWork);
            int stopedCount = group.Count(q => q.Status == TaskStatus.Stoped);
            int finishedCount = group.Count(q => q.Status == TaskStatus.Finished || q.Status == TaskStatus.FinishedWithFaultsCorrected);
            int finishedFaultsCount = group.Count(q => q.Status == TaskStatus.FinishedWithFaults);
            int placeNotReadyCount = group.Count(q => q.Status == TaskStatus.PlaceNotReady || q.Status == TaskStatus.Planned || q.Status == TaskStatus.DoWyjasnienia || q.Status == TaskStatus.NieNasze);

            <tbody class="labels pr-@group.Key.Id">
                <tr>
                    <td colspan="4">
                        <label for="@group.Key.Id">
                            @group.Key.GetTaskName(Model.ProjectId) (@group.Count())
                            @if (group.Any(q => q.Accepted == false)) {
                                <span class="text-success text-bold">[?]</span>
                            }
                        </label>
                        <input type="checkbox" name="@group.Key.Id" id="@group.Key.Id" data-toggle="toggle" />
                    </td>
                    <td colspan="4">
                        Prod.
                        @group.Where(q => q.Production == TaskProduction.Developer).Sum(q => q.ProductCount - q.Task_Fitter.Where(x => x.IsActive && x.Status != TaskStatus.Free && x.Status != TaskStatus.UnderWork).Sum(x => x.WorkDone)) z @group.Where(q => q.Production == TaskProduction.Developer).Sum(q => q.ProductCount) @group.FirstOrDefault().Product.Jm;
                        Serw.
                        @group.Where(q => q.Production != TaskProduction.Developer).Sum(q => q.ProductCount - q.Task_Fitter.Where(x => x.IsActive && x.Status != TaskStatus.Free && x.Status != TaskStatus.UnderWork).Sum(x => x.WorkDone)) z @group.Where(q => q.Production != TaskProduction.Developer).Sum(q => q.ProductCount) @group.FirstOrDefault().Product.Jm
                    </td>
                    <td colspan="2">
                        @{
                            if (notStartedCount > 0) {
                                <span class='label label-default'>@notStartedCount</span>
                            }

                            if (underWorkCount > 0) {
                                <span class='label label-warning'>@underWorkCount</span>
                            }

                            if (stopedCount > 0) {
                                <span class='label label-info'>@stopedCount</span>
                            }

                            if (finishedCount > 0) {
                                <span class='label label-success'>@finishedCount</span>
                            }

                            if (finishedFaultsCount > 0) {
                                <span class='label label-danger'>@finishedFaultsCount</span>
                            }

                            if (placeNotReadyCount > 0) {
                                <span class='label label-primary'>@placeNotReadyCount</span>
                            }
                        }
                    </td>
                </tr>
            </tbody>
            <tbody class="group-hide">
                @foreach (Tasks task in group.OrderBy(q => q.Status)) {
                    var color = "#FFFFFF";

                    if (task.Production == TaskProduction.Complaint) {
                        color = "#FFAFAF";
                    } else if (task.Production == TaskProduction.Warranty) {
                        color = "#FFF0AF";
                    }

                <tr class="tr-clickable pr-@task.ProductId" style="background-color: @color" title="@task.Description" data-toggle="tooltip" data-placement="bottom">
                        <td class="details-task icon-column-@task.Id" style="text-align: center;" data-task-id="@task.Id">
                            @if (task.Invoice) {
                                <span style="color: green;">[FV] </span>
                            } else if (task.ForceInvoice) {
                                <span style="color: red;">[FV] </span>
                            } else if (!task.Accepted) {
                                <span style="color: red; font-weight: bold;">[?] </span>
                            } else if (task.Blocked) {
                                <span style="color: red;">[<i class="glyphicon glyphicon-lock"></i>] </span>
                            }

                            @if (task.Task_Fitter.Any(q => q.InPayroll) && task.PayrollItems.Any(q => q.Status == PayItemStatus.Wyplacone)) {
                                <span style="color: green;"> [P]</span>
                            } else if (task.Task_Fitter.Any(q => q.InPayroll)) {
                                <span style="color: red;"> [P]</span>
                            }
                        </td>
                        <td class="details-task" data-task-id="@task.Id">@task.Id.ToString().PadLeft(6, '0')</td>
                        <td>
                            @((task.GroupTaskID.HasValue) ? task.GroupTaskID.Value.ToString().PadLeft(6, '0') : "")
                        </td>
                        <td class="details-task" data-task-id="@task.Id">@task.GetTaskName(task.Apartment.ProjectId) @task.TaskSufix</td>
                        <td class="details-task task-count-@task.Id" data-task-id="@task.Id">@{ Write(task.ProductCount - task.Task_Fitter.Where(q => q.IsActive && q.Status != TaskStatus.Free && q.Status != TaskStatus.UnderWork).Sum(q => q.WorkDone)); } z @task.ProductCount @task.Product.Jm</td>
                        <td class="details-task" data-task-id="@task.Id">@Math.Ceiling(task.ProductPrice) kr</td>
                        <td class="details-task" data-task-id="@task.Id">@task.StartDate.WeekNumber()</td>
                        <td class="details-task" data-task-id="@task.Id">@task.StartDate.ToString("dd/MM")</td>
                        <td class="details-task" data-task-id="@task.Id">
                            @switch (task.Status) {
                                case TaskStatus.Free:
                                <span class='label label-default'>Dostępne</span>
                                break;
                                case TaskStatus.UnderWork:
                                <span class='label label-warning'>W trakcie</span>
                                break;
                                case TaskStatus.Stoped:
                                <span class='label label-info'>Przerwane</span>
                                break;
                                case TaskStatus.Finished:
                                <span class='label label-success'>Zakończone</span>
                                break;
                                case TaskStatus.FinishedWithFaults:
                                <span class='label label-danger'>Zakończone z błędami</span>
                                break;
                                case TaskStatus.FinishedWithFaultsCorrected:
                                <span class='label label-success'>Zakończone z błędami</span>
                                break;
                                case TaskStatus.PlaceNotReady:
                                <span class="label label-primary">Miejsce nieprzygotowane</span>
                                break;
                                case TaskStatus.Planned:
                                <span class="label label-primary">Planowane</span>
                                break;
                                case TaskStatus.NieNasze:
                                <span class="label label-primary">Nie nasze</span>
                                break;
                                case TaskStatus.DoWyjasnienia:
                                <span class="label label-primary">Do wyjaśnienia</span>
                                break;
                            }
                        </td>
                        <td>
                            <div class="crud-container">
                                @if (!task.Accepted) {
                                    <a href="/Projects/AcceptTask/@task.Id" data-toggle="tooltip" data-placement="bottom" title="Zaakceptuj" class="crud crud-accept"><i class="glyphicon glyphicon-ok"></i></a>
                                }
                                @if (task.Invoice && task.Status != TaskStatus.Finished && task.Status != TaskStatus.FinishedWithFaultsCorrected) {
                                    <a href="/Projects/ForceFinishTask/@task.Id" data-toggle="tooltip" data-placement="bottom" title="Zakończ pozytywnie" class="crud crud-accept"><i class="glyphicon glyphicon-ok"></i></a>
                                }

                                @if (task.Status != TaskStatus.Finished && task.Status != TaskStatus.FinishedWithFaults && task.Status != TaskStatus.PlaceNotReady) {
                                    <span data-toggle="tooltip" data-placement="bottom" title="Ręczny koniec" data-task-id="@task.Id" data-back="apartment" class="crud crud-details handy-finish-task"><i class="fa fa-hand-paper-o"></i></span>
                                }
                                <a href="/Task/Details/@task.Id" class="crud crud-details"><i class="fa fa-eye"></i></a>
                                @*<span data-toggle="tooltip" data-placement="bottom" title="Szczegóły" data-task-id="@task.Id" class="crud crud-details details-task"><i class="glyphicon glyphicon-eye-open"></i></span>*@
                                @if (!task.Invoice) {
                                    <span data-toggle="tooltip" data-placement="bottom" title="Edytuj" data-task-id="@task.Id" data-task-type="@task.Production" class="crud crud-edit edit-task"><i class="glyphicon glyphicon-pencil"></i></span>
                                }
                                @if (!task.Invoice && !task.Task_Fitter.Any(q => q.InPayroll)) {
                                    <span data-toggle="tooltip" data-placement="bottom" title="Przenieś zadanie" data-task-id="@task.Id" data-back="apartment" class="crud crud-serwis move-task"><i class="fa fa-exchange"></i></span>
                                }
                                <span data-toggle="tooltip" data-placement="bottom" title="Serwis" data-task-id="@task.Id" data-back="apartment" class="crud crud-serwis serwis-task"><i class="glyphicon glyphicon-wrench"></i></span>

                                <span data-toggle="tooltip" data-placement="bottom" title="Dopełnij zadanie" data-task-id="@task.Id" class="crud crud-serwis fill-task"><i class="fa fa-flask"></i></span>

                                <span data-toggle="tooltip" data-placement="bottom" title="Przypisz montera" data-task-id="@task.Id" data-apartment-id="@Model.Id" class="crud crud-add-fitter add-fitter-task"><i class="fa fa-user-plus"></i></span>

                                <span data-toggle="tooltip" data-placement="bottom" title="Zaplanuj montera" data-task-id="@task.Id" data-apartment-id="@Model.Id" class="crud crud-plan-fitter plan-fitter-task"><i class="fa fa-sticky-note-o"></i></span>

                                <span data-toggle="tooltip" data-placement="bottom" title="Nadaj dostęp" data-task-id="@task.Id" data-apartment-id="@Model.Id" class="crud crud-access-grant access-grant-task"><i class="fa fa-key"></i></span>

                                @if (!task.Invoice) {
                                    if (!task.Blocked) {
                                        if (task.ForceInvoice) {
                                            <span data-toggle="tooltip" data-placement="bottom" title="Nie wymuszaj fakturowania" data-task-id="@task.Id" data-set="False" class="crud crud-delete force-invoice force-@task.Id"><i class="fa fa-usd"></i></span>
                                        } else {
                                            <span data-toggle="tooltip" data-placement="bottom" title="Wymuś fakturowanie" data-task-id="@task.Id" data-set="True" class="crud crud-accept force-invoice force-@task.Id"><i class="fa fa-usd"></i></span>
                                        }

                                        <span data-toggle="tooltip" data-placement="bottom" title="Zablokuj fakturowanie" data-task-id="@task.Id" data-blocked="0" class="crud crud-delete block-task lock-@task.Id"><i class="glyphicon glyphicon-lock"></i></span>
                                    } else {
                                        <span data-toggle="tooltip" data-placement="bottom" title="Odblokuj fakturowanie" data-task-id="@task.Id" data-blocked="1" class="crud crud-accept block-task lock-@task.Id"><i class="glyphicon glyphicon-lock"></i></span>
                                    }

                                }

                                <span data-toggle="tooltip" data-placement="bottom" title="Dodaj wydarzenie" data-task-id="@task.Id" data-project-id="@Model.Id" class="crud crud-add-event add-task-event"><i class="glyphicon glyphicon-calendar"></i></span>

                                @if ((task.Status == TaskStatus.Free && !task.Invoice) || !task.Accepted) {
                                    <span data-toggle="tooltip" data-placement="bottom" title="Usuń" data-task-id="@task.Id" data-project-id="@Model.Id" class="crud crud-delete delete-task"><i class="glyphicon glyphicon-remove"></i></span>
                                }
                            </div>
                        </td>
                    </tr>

                }
            </tbody>
        }
        </tbody>
    </table>
</div>


@{
    ViewBag.TaskDict = taskDict;
}



