﻿@using ACSystem.Core.Models
@using ACSystem.Core
@model IEnumerable<TaskComment>

@{
    var taskDict = (Dictionary<int, int>)ViewBag.TaskDict;
}

<div class="tab-pane table-responsive no-padding" id="tab-comments">
    <div class="box-comments">
        @foreach (var m in Model.OrderByDescending(q => q.Timestamp))
        {
        <div class="box-comment" style="padding: 10px;">
            <div class="comment-text" style="margin-left: 0;">
                <span class="username">
                    @if (m.IsViewed == false)
                    {
                        <span class="text-danger">!</span>
                    }
                    <a href="/Account/Details/@m.FitterID">@m.Fitter.User.FullName</a>
                    <span class="text-muted pull-right">@m.Timestamp.ToString("yyyy-MM-dd HH:mm")</span>
                </span>
                <span class="username">
                    @if (taskDict.ContainsKey(m.TaskID))
                    {
                        <span>Lp: @taskDict[m.TaskID] Zadanie: @m.Task.GetTaskName(m.Task.Apartment.ProjectId) if.Task.TaskSufix</span>
                    }
                    <span class="pull-right">
                        <label>
                            Zostaw w ToDo 
                            <input type="checkbox" class="minimal comment-todo" data-id="@m.ID" />
                        </label>
                    </span>
                </span>
                <span style="font-style: italic">
                    @m.Comment
                </span>
            </div>
        </div>
        }
    </div>
</div>

