﻿@using ACSystem.Core.Models
@using ACSystem.Core
@model IEnumerable<PlaceError>

<div class="tab-pane table-responsive no-padding" id="tab-place-errors">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th width="20px"></th>
                <th width="100px">Data błędu</th>
                <th>Monter</th>
                <th>Zadanie</th>
                <th width="110px">Data wysłania</th>
                <th width="200px" class="text-right">
                    <button type="button" class="btn btn-xs btn-success add-place-error" data-project-id="@ViewBag.ProjectID" data-apartment-id="@ViewBag.ApartmentID" data-task-id data-place="apartment">DODAJ</button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model.OrderBy(q => q.Date))
            {
                <tr class="row-place-error-@e.ID">
                    <td>
                        <button type="button" class="btn btn-link text-black row-place-error-expand no-padding" data-id="@e.ID"><i class="fa fa-plus-square"></i></button>
                    </td>
                    <td>@(e.Date?.ToString("yyyy-MM-dd"))</td>
                    <td>@(e.Fitter?.FullName)</td>
                    <td>@(e.Task?.Name) @(e.Task?.TaskSufix)</td>
                    <td>@(e.SendDate?.ToString("yyyy-MM-dd"))</td>
                    <td>
                        <button type="button" class="btn btn-xs btn-danger btn-flat pull-right delete-place-error" data-id="@e.ID">USUŃ</button>
                        <button type="button" class="btn btn-xs btn-primary btn-flat pull-right send-place-error-report" data-id="@e.ID" style="margin-right: 10px; margin-left: 10px;">WYŚLIJ</button>
                        <button type="button" class="btn btn-xs btn-primary btn-flat pull-right translate-place-error" data-id="@e.ID">TŁUMACZ</button>
                    </td>
                </tr>
                <tr class="row-place-error-@e.ID row-place-error-details row-place-error-details-@e.ID" style="display: none;">
                    <td></td>
                    <td colspan="5" style="padding: 0;">
                        <table class="table table-bordered table-hover" style="margin-bottom: 0;">
                            <tbody>
                                <tr>
                                    <td width="40%">
                                        <p class="text-bold">Opis</p>
                                        <p>
                                            @e.Description
                                        </p>
                                    </td>
                                    <td width="40%">
                                        <p class="text-bold">Tłumaczenie</p>
                                        <p>
                                            @e.Translated
                                        </p>
                                    </td>
                                    <td width="20%">
                                        <p class="text-bold">Zdjęcia</p>
                                        @{
                                            var i = 1;
                                            foreach (var p in e.PlaceError_Photos)
                                            {
                                                <p>
                                                    <a href="@("/Monter" + p.Photo)" target="_blank">Zdjęcie @i</a>
                                                </p>

                                                i++;
                                            }
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

