﻿@model ACSystem.Core.Models.Apartments

<div class="tab-pane table-responsive no-padding" id="tab-access">
    <button type="button" class="btn btn-sm btn-primary pull-right" id="add-apartment-access" data-apartment-id="@Model.Id" style="margin-bottom: 20px;">DODAJ</button>
    <table class="table table-bordered table-pagination">
        <thead>
            <tr>
                <th>Użytkownik</th>
                <th>Dostęp do</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var o in Model.Access_User_Apartment)
                {
                    <tr id="tr-apartment-access-@o.ID">
                        <td>@o.User.FullName</td>
                        <td>
                            Apartamentu
                        </td>
                        <td>
                            <div class="crud-container">
                                <span data-toggle="tooltip" data-placement="bottom" title="Usuń" data-access-id="@o.ID" class="crud crud-delete delete-apartment-access"><i class="glyphicon glyphicon-remove"></i></span>
                            </div>
                        </td>
                    </tr>
                }
                foreach (var o in Model.Project.Access_User_Project)
                {
                    <tr id="tr-project-access-@o.ID">
                        <td>@o.User.FullName</td>
                        <td>
                            Projektu
                        </td>
                        <td>
                            <div class="crud-container">
                                <span data-toggle="tooltip" data-placement="bottom" title="Usuń" data-access-id="@o.ID" class="crud crud-delete delete-project-access"><i class="glyphicon glyphicon-remove"></i></span>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
