﻿@using ACSystem.Core
@model IEnumerable<ACSystem.Core.Models.Tasks>

@{
    var taskDict = (Dictionary<int, int>) ViewBag.TaskDict;
}

<div class="tab-pane table-responsive no-padding" id="tab-reports">
    <table class="table table-hover table-pagination">
        <thead>
        <tr>
            <th>Lp.z.</th>
            <th>Nazwa produktu</th>
            <th>Monter</th>
            <th>Data zamknięcia</th>
            <th>Data wysłania</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var task in Model)
            {
                //if (task.Production != TaskProduction.Developer)
                //{
                //    continue;
                //}

                var task_fitter = task.Task_Fitter.FirstOrDefault(q => q.Status == ACSystem.Core.TaskStatus.Finished || q.Status == ACSystem.Core.TaskStatus.FinishedWithFaults)?.Fitter?.User?.FullName;

                //if (string.IsNullOrEmpty(task_fitter))
                //{
                //    continue;
                //}

                <tr>
                    <td style="text-align: right;">@taskDict[task.Id]</td>
                    <td>@task.GetTaskName(task.Apartment.ProjectId) @task.TaskSufix</td>

                    <td>@task_fitter</td>

                    <td>@if (task.ClosedDate.HasValue) { Write(task.ClosedDate.Value.ToString("yyyy-MM-dd")); }</td>
                    <td>@if (task.ReportSentDate.HasValue) { Write(task.ReportSentDate.Value.ToString("yyyy-MM-dd")); }</td>

                    <td>
                        @if (task.ReportSent.HasValue && task.ReportSent.Value == true)
                        {
                            <span class='label label-success'>Wysłany</span>
                        }
                        else
                        {
                            <span class='label label-default'>Nie wysłany</span>
                        }
                    </td>

                <td>

                    <div class="crud-container">
                    @*<span data-toggle="tooltip" data-placement="bottom" title="Szczegóły" data-task-id="@task.Id" class="crud crud-details details-raport"><i class="glyphicon glyphicon-eye-open"></i></span>*@
                    <span data-toggle="tooltip" data-placement="bottom" title="Drukuj" data-task-id="@task.Id" class="crud crud-print print-raport"  onclick="PrintURL('/Print/Raport?ID=@task.Id&Print=true')"><i class="glyphicon glyphicon-print"></i></span>
                    <span data-toggle="tooltip" data-placement="bottom" title="Wyślij" data-task-id="@task.Id" class="crud crud-mail send-raport"><i class="glyphicon glyphicon-envelope"></i></span>
                     </div>
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>
