﻿@using ACSystem.Core
@using ACSystem.Core.Models
@using ACSystem.Core.Models.ViewModels

@model Apartments

@{
    var tasksCount = 0;
    var tasksDone = 0;
    decimal tasksDonePercent = 0;
    decimal workHours = 0;
    decimal invoicesPrice = Model.Project.InvoiceList.Sum(q => q.Amount);
    var tasksFaults = 0;
    var payrollsSum = (Model.PayrollItems.Any()) ? Model.PayrollItems.Where(q => q.Active == true).Sum(q => q.ToPay) : 0;
    var payrollsSumPLN = (Model.PayrollItems.Any()) ? Model.PayrollItems.Where(q => q.Active == true).Sum(q => q.ToPayPLN) : 0;
    var payrollFeesSum = (Model.PayrollItems.Any()) ? Model.PayrollItems.Where(q => q.Active == true).Sum(q => q.Fees) : 0;
    var payrollFeesSumPLN = (Model.PayrollItems.Any()) ? Model.PayrollItems.Where(q => q.Active == true).Sum(q => q.FeesPLN) : 0;
    var table = new List<ParallelProjectContentViewModel>();
    var errors = new List<Tasks>();
    var notFinished = new List<Tasks>();

    var a = Model;

    tasksCount += a.Tasks.Count(q => q.Production == TaskProduction.Developer);

    tasksDone += a.Tasks.Count(t => (t.Status == TaskStatus.Finished || t.Status == TaskStatus.FinishedWithFaults || t.Status == TaskStatus.FinishedWithFaultsCorrected) && t.Production == TaskProduction.Developer);

    workHours = a.Tasks.Where(t => t.Task_Fitter != null && t.Production == TaskProduction.Developer).Aggregate(workHours, (current, t) => current + t.Task_Fitter.Where(q => q.IsActive == true).Sum(q => q.WorkTime) / 60);

    tasksFaults += a.Tasks.Count(t => (t.Status == TaskStatus.FinishedWithFaults || t.Status == TaskStatus.PlaceNotReady) && t.Production == TaskProduction.Developer);

    var convertPercent = (decimal)ViewBag.Percent;
    var invoiceConverted = (decimal)ViewBag.InvoiceConverted;
    var invoiceNotConverted = Model.Project.InvoiceList.Where(q => (q.IsPercentGenerated == null || q.IsPercentGenerated == false) && q.Complete).Sum(q => q.Amount) * ((decimal)(convertPercent / 100));

    decimal sumNotInvoicedTask = 0, projectValue = 0;
    var countNotInvoicedTask = 0;

    foreach (var t in a.Tasks.Where(q => q.Production == TaskProduction.Developer))
    {
        if (t.Invoice == false && t.Blocked == false)
        {
            decimal toAddSum = 0;

            if (t.Task_Fitter.Any())
            {
                toAddSum = t.ProductPrice * t.Task_Fitter.Sum(q => q.WorkDone);
            }
            else
            {
                toAddSum = t.ProductPrice * t.ProductCount;
            }

            sumNotInvoicedTask += toAddSum;
            countNotInvoicedTask += (toAddSum > 0) ? 1 : 0;
        }

        if (t.Task_Fitter.Any())
        {
            projectValue += t.ProductPrice * t.Task_Fitter.Where(q => q.IsActive).Sum(q => q.WorkDone);
        }
        else
        {
            projectValue += t.ProductPrice * t.ProductCount;
        }

        if (t.Status == TaskStatus.FinishedWithFaults || t.Status == TaskStatus.PlaceNotReady)
        {
            errors.Add(t);
        }

        if (t.Status == TaskStatus.Free || t.Status == TaskStatus.Stoped || t.Status == TaskStatus.UnderWork)
        {
            notFinished.Add(t);
        }

        if (table.Any(q => q.ProductName == t.GetTaskName(t.Apartment.ProjectId)))
        {
            var item = table.FirstOrDefault(q => q.ProductName == t.GetTaskName(t.Apartment.ProjectId));

            item.Count += t.ProductCount;

            item.Done += t.Task_Fitter.Where(q => q.IsActive == true).Sum(q => q.WorkDone);

            if (t.Status == TaskStatus.Finished || t.Status == TaskStatus.FinishedWithFaults || t.Status == TaskStatus.FinishedWithFaultsCorrected)
            {
                item.Value += t.ProductPrice;
            }

            item.DonePercent = (tasksCount > 0) ? Math.Ceiling(((decimal)tasksDone / (decimal)tasksCount) * 100) : 0;

            if (t.Status == TaskStatus.FinishedWithFaults || t.Status == TaskStatus.PlaceNotReady)
            {
                item.Faults++;
            }

            item.WorkHours += t.Task_Fitter.Where(q => q.IsActive == true).Sum(q => q.WorkTime) / 60;

            item.PayrollSum += t.PayrollItems.Where(q => q.Active == true).Sum(q => q.ToPay);
            item.PayrollSumPLN += t.PayrollItems.Where(q => q.Active == true).Sum(q => q.ToPayPLN);
            item.Fees += t.PayrollItems.Where(q => q.Active == true).Sum(q => q.Fees);
            item.FeesPLN += t.PayrollItems.Where(q => q.Active == true).Sum(q => q.FeesPLN);
        }
        else
        {
            int sum = t.Task_Fitter.Where(q => q.IsActive == true).Sum(q => q.WorkTime);

            var item = new ParallelProjectContentViewModel
            {
                ProductName = t.GetTaskName(t.Apartment.ProjectId),
                Count = t.ProductCount,
                Unit = t.Product.Jm,
                Done = t.Task_Fitter.Where(q => q.IsActive == true).Sum(q => q.WorkDone),
                Faults = (t.Status == TaskStatus.FinishedWithFaults || t.Status == TaskStatus.PlaceNotReady) ? 1 : 0,
                DonePercent = (t.Status == TaskStatus.Finished || t.Status == TaskStatus.FinishedWithFaults || t.Status == TaskStatus.FinishedWithFaultsCorrected) ? 100 : 0,
                Value = (t.Status == TaskStatus.Finished || t.Status == TaskStatus.FinishedWithFaults || t.Status == TaskStatus.FinishedWithFaultsCorrected) ? t.ProductPriceSum : 0,
                WorkHours = sum / 60,
                PayrollSum = t.PayrollItems.Where(q => q.Active == true).Sum(q => q.ToPay),
                PayrollSumPLN = t.PayrollItems.Where(q => q.Active == true).Sum(q => q.ToPayPLN),
                Fees = t.PayrollItems.Where(q => q.Active == true).Sum(q => q.Fees),
                FeesPLN = t.PayrollItems.Where(q => q.Active == true).Sum(q => q.FeesPLN)
            };

            table.Add(item);
        }
    }



    tasksDonePercent = (tasksCount > 0) ? Math.Ceiling(((decimal)tasksDone / (decimal)tasksCount) * 100) : 0;
}
<div class="tab-pane table-responsive no-padding" id="tab-parallel">
    <!-- ZADANIA -->
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green">
                <i class="fa fa-tasks"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Ilość zadań</span>
                <span class="info-box-number">
                    <span class="text-danger">@(tasksCount - tasksDone)</span> / @tasksCount
                    <br />
                    @if (tasksFaults > 0)
                    {
                        <span class="text-danger"><b>!!!</b> @tasksFaults</span>
                    }
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow">
                <i class="fa fa-percent"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Ilość wykonana</span>
                <span class="info-box-number">@tasksDone <br /> @tasksDonePercent %</span>
            </div>
        </div>
    </div>

    @*<div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red">
                <i class="fa fa-warning"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Błędne zadania</span>
                <span class="info-box-number">@tasksFaults</span>
            </div>
        </div>
    </div>*@

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red">
                <i class="fa fa-hourglass"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Przepracowany czas</span>
                <span class="info-box-number">@workHours H</span>
            </div>
        </div>
    </div>

    @{
        var payrollSekSum = Math.Ceiling(payrollsSum - payrollFeesSum);
        var profitPercent = (invoicesPrice > 0) ? (payrollSekSum / invoicesPrice) * 100 : 0;
    }

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-gray">
                <i class="fa fa-money"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Zarobiona wartość</span>
                <span class="info-box-number">
                    @Math.Ceiling(invoicesPrice) SEK
                    <br />
                    @Math.Ceiling(profitPercent) %
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green">
                <i class="fa fa-credit-card"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Suma list płac</span>
                <span class="info-box-number">@payrollSekSum SEK <br /> @(payrollsSumPLN - payrollFeesSumPLN) PLN </span>
            </div>
        </div>
    </div>

    @*<div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow">
                <i class="fa fa-dollar"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Procent z faktur</span>
                <span class="info-box-number"><small>JEST:</small> @Math.Ceiling(invoiceConverted) SEK <br /> <small>SUMA:</small> @Math.Ceiling(invoiceConverted + invoiceNotConverted) SEK </span>
            </div>
        </div>
    </div>*@

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-yellow">
                <i class="fa fa-dollar"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Zadania do faktur</span>
                <span class="info-box-number">
                    @countNotInvoicedTask
                    <br />
                    @Math.Ceiling(sumNotInvoicedTask) SEK
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green">
                <i class="fa fa-money"></i>
            </span>
            <div class="info-box-content">
                <span class="info-box-text">Wartość mieszkania</span>
                <span class="info-box-number">
                    @Math.Ceiling(projectValue) SEK
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border" style="padding: 12px;">
                <h3 class="box-title">Zestawienie apartamentu @Model.NumberOfApartment</h3>
            </div>
            <div class="box-body table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Produkt</th>
                        <th>Ilość</th>
                        <th>Wykonana</th>
                        <th>Błędów</th>
                        <th>Wartość</th>
                        <th>Godziny</th>
                        <th>Suma list płac</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var t in table)
                    {
                        <tr>
                            <td>@t.ProductName</td>
                            <td class="text-right">@t.Count @t.Unit</td>
                            <td class="text-right">@t.Done @t.Unit <br /> @Math.Ceiling(t.DonePercent) %</td>
                            <td class="text-right">@t.Faults</td>
                            <td class="text-right">@Math.Ceiling(t.Value) SEK</td>
                            <td class="text-right">@t.WorkHours</td>
                            <td class="text-right">@Math.Ceiling(t.PayrollSum - t.Fees) SEK <br /> @Math.Round(t.PayrollSumPLN - t.FeesPLN, 2) PLN</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="box box-danger">
            <div class="box-header with-border" style="padding: 12px;">
                <h3 class="box-title">Lista błędnych zadań</h3>
            </div>
            <div class="box-body table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Produkt</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var e in errors)
                    {
                        <tr>
                            <td>@e.GetTaskName(e.Apartment.ProjectId) @e.TaskSufix</td>
                            <td>
                                @switch (e.Status)
                                {
                                    case TaskStatus.FinishedWithFaults:
                                        <span class='label label-danger'>Zakończone z błędami</span>
                                        break;
                                    case TaskStatus.PlaceNotReady:
                                        <span class="label label-primary">Miejsce nieprzygotowane</span>
                                        break;
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="box box-warning">
            <div class="box-header with-border" style="padding: 12px;">
                <h3 class="box-title">Lista nieskończonych zadań</h3>
            </div>
            <div class="box-body table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Produkt</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var n in notFinished)
                    {
                        <tr>
                            <td>@n.GetTaskName(n.Apartment.ProjectId) @n.TaskSufix</td>
                            <td>
                                @switch (n.Status)
                                {
                                    case TaskStatus.Free:
                                        <span class='label label-default'>Dostępne</span>
                                        break;
                                    case TaskStatus.UnderWork:
                                        <span class='label label-warning'>W trakcie</span>
                                        break;
                                    case TaskStatus.Stoped:
                                        <span class='label label-info'>Przerwane</span>
                                        break;
                                }
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>