﻿@using ACSystem.Core.Models.ViewModels
@using ACSystem.Core.Models

@model QuestionsToTask

@if (Model.Questions.Count > 0)
{
<div id="questions-accordion" class="panel-group my-own-accordion">
    <div class="panel panel-default">
        <div class="panel-heading" id="questions-header">
            <h4 class="panel-title">
                <a data-parent="#questions-accordion" href="#questions-body">Pytania do zadania</a>
            </h4>
        </div>
        <div id="questions-body" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>Pytanie</th>
                            <th>Odpowiedź</th>
                            <th width="50px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var q in Model.Questions)
                        {
                            Task_Question currentQuestion = Model.Task_Questions.FirstOrDefault(x => x.QuestionID == q.ID);
                            string isChecked = (currentQuestion != null || Model.IsCreating) ? "checked" : "";
                            var questionAnswers = (Model.Answers != null && Model.Answers.Count > 0) ? Model.Answers.Where(x => x.QuestionID == q.ID) : new List<Answer>();

                            <tr>
                                <td>@q.QuestionPol</td>
                                <td>
                                    @if (questionAnswers.Count() > 0 && currentQuestion != null)
                                    {
                                        <select name="answers[]" class="form-control">
                                            <option>-</option>
                                            @foreach (var a in questionAnswers)
                                            {
                                                string isSelected = (a.ID == currentQuestion.AnswerID) ? "selected" : "";
                                                <option value="@q.ID-@a.ID" @isSelected>@a.AnswerPol</option>
                                            }
                                        </select>
                                    }
                                </td>
                                <td><input type="checkbox" name="questions[]" value="@q.ID" checked/></td>
                            </tr>
                        }
                    </tbody>
                </table>                
            </div>
        </div>
    </div>
</div>
}