﻿<div class="tab-pane table-responsive no-padding" id="tab-diff">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-diff-tasks" data-toggle="tab">ZADANIA</a></li>
            <li><a href="#tab-diff-payrolls" data-toggle="tab">LISTY PŁAC</a></li>
        </ul>
        <div class="tab-content">
            @Html.Partial("Partials/Project_Diff_Tasks")
            @Html.Partial("Partials/Project_Diff_Payrolls")
        </div>
    </div>
</div>