﻿@model Projects
@using ACSystem.Core
@using ACSystem.Core.Models

@{
    var Products = (ViewBag.PlanProductList != null) ? (List<Products>)ViewBag.PlanProductList : new List<ACSystem.Core.Models.Products>();
    var ProjectID = (ViewBag.ProjectID != null) ? (int)ViewBag.ProjectID : 0;
}

<div class="tab-pane table-responsive no-padding" id="tab-plan">
    <form class="form-group col-md-2">
        <input type="text" class="form-control" id="PlanProductCount" placeholder="Ilość" />
    </form>
    <div class="form-group col-md-10">
        <div class="input-group">
            <select class="form-control product-load select2" name="PlanProductId" id="PlanProductId" data-placeholder="Wybierz produkt" style="width: 100%;">
                @foreach (var pm in Products)
                {
                    if (Model.Product_Plan.Any(q => q.ProductID == pm.Id) == false)
                    {
                        <option value="@pm.Id">@pm.GetTaskName(ViewBag.ProjectID)</option>
                    }
                }
            </select>
            <span class="input-group-btn">
                <button type="button" class="btn btn-primary pull-right" id="plan-product" data-project-id="@Model.Id" style="margin-bottom: 20px;">DODAJ</button>
            </span>
        </div>
    </div>

    <table class="table table-bordered table-pagination plan-table">
        <thead>
            <tr>
                <th>Produkt</th>
                <th width="80px">Jm</th>
                <th width="120px">Plan</th>
                <th width="120px">Wykonano</th>
                <th width="120px">Pozostało</th>
                <th width="30px"></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var o in Model.Product_Plan)
                {
                    decimal planDone = 0;

                    foreach (var a in Model.Apartments.Where(q => q.Tasks.Any(x => x.ProductId == o.ProductID)))
                    {
                        foreach (var t in a.Tasks.Where(q => q.ProductId == o.ProductID && q.Production == TaskProduction.Developer))
                        {
                            planDone += t.Task_Fitter.Where(q => q.IsActive).Sum(q => q.WorkDone);
                        }
                    }

                    <tr class="plan-@o.PlanID">
                        <td><a href="/Products/Edit/@o.ProductID">@o.Product.GetTaskName(o.ProjectID)</a></td>
                        <td>
                            @o.Product.Jm
                        </td>
                        <td>
                            <a class="editable-field2" id="plan-count-@o.PlanID" href="#" data-type="text" data-pk="@o.PlanID" data-url="/Projects/EditPlanCount" data-title="Edytuj zaplanowaną ilość">@o.Count</a>
                        </td>
                        <td>
                            @planDone
                        </td>
                        <td>
                            @(o.Count - planDone)
                        </td>
                        <td>
                            <div class="crud-container">
                                <span data-toggle="tooltip" data-placement="bottom" title="Usuń" data-plan-id="@o.PlanID" class="crud crud-delete delete-plan-product"><i class="fa fa-remove"></i></span>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
