﻿@using ACSystem.Core
@using ACSystem.Core.Extensions
@model IEnumerable<IGrouping<int, ACSystem.Core.Models.Apartments>>

@foreach (var floor in Model.OrderBy(q => q.Key)) {


    var notStartedCount1 = 0;
    var underWorkCount1 = 0;
    var stopedCount1 = 0;
    var finishedCount1 = 0;
    var finishedFaultsCount1 = 0;
    var placeNotReadyCount1 = 0;

    var allFinished = true;

    foreach (var apartment in floor) {
        notStartedCount1 += apartment.Tasks.Count(q => q.Status == TaskStatus.Free);
        underWorkCount1 += apartment.Tasks.Count(q => q.Status == TaskStatus.UnderWork);
        stopedCount1 += apartment.Tasks.Count(q => q.Status == TaskStatus.Stoped);
        finishedCount1 += apartment.Tasks.Count(q => q.Status == TaskStatus.Finished || q.Status == TaskStatus.FinishedWithFaultsCorrected);
        finishedFaultsCount1 += apartment.Tasks.Count(q => q.Status == TaskStatus.FinishedWithFaults);
        placeNotReadyCount1 += apartment.Tasks.Count(q => q.Status == TaskStatus.PlaceNotReady || q.Status == TaskStatus.Planned || q.Status == TaskStatus.DoWyjasnienia || q.Status == TaskStatus.NieNasze);

        if (apartment.Tasks.All(q => q.Status == TaskStatus.Finished) == false) {
            allFinished = false;
        }
    }

    var lghNumbers = floor.Select(q => q.Letter + q.NumberOfApartment).ToList();
    var productsList = floor.Select(q => q.Tasks.GroupBy(x => x.ProductId).Select(x => x.Key)).ToList();
    var productsIDs = new List<int>();

    productsList.ForEach(x => productsIDs.AddRange(x));
    productsIDs = productsIDs.GroupBy(q => q).Select(q => q.Key).ToList();

    var timeNeeded = floor.Sum(q => q.Tasks.Sum(x => ((x.Production == TaskProduction.Developer) ? x.Product.ExpectedTime : Temp.Settings.ServiceTaskTime) * x.ProductCount));
    var timeDone = floor.Sum(q => q.Tasks.Sum(x => x.Task_Fitter.Where(y => ACSystem.Core.Models.Tasks.StatusesToCalculateTimes.Contains(y.Status) && y.IsActive).Sum(y => y.WorkDone * ((x.Production == TaskProduction.Developer) ? x.Product.ExpectedTime : Temp.Settings.ServiceTaskTime))));

    <tr data-child="1" data-level="@ViewBag.Level" class="search-apartment floor-row" id="@(ViewBag.KeyPrefix)floor-@floor.Key" data-lgh="@(string.Join(",", lghNumbers))" data-products="@(string.Join(",", productsIDs))" data-floor="@floor.Key">
        <td>
            Piętro @floor.Key (<span class="floor-count">@floor.Count()</span>) 
                               <span class="floor-time">Czas: @((timeNeeded - timeDone).TwoOrNone()) / @(timeNeeded.TwoOrNone()) h</span>
            @if (allFinished) {<span class="text-success"><i class="fa fa-check"></i></span>}
        </td>
        <td></td>
        <td colspan="2" style="text-align: center; padding-left: 10px;">
            @{
                if (notStartedCount1 > 0) {
                    <span class='label label-default'>@notStartedCount1</span>
                }

                if (underWorkCount1 > 0) {
                    <span class='label label-warning'>@underWorkCount1</span>
                }

                if (stopedCount1 > 0) {
                    <span class='label label-info'>@stopedCount1</span>
                }

                if (finishedCount1 > 0) {
                    <span class='label label-success'>@finishedCount1</span>
                }

                if (finishedFaultsCount1 > 0) {
                    <span class='label label-danger'>@finishedFaultsCount1</span>
                }

                if (placeNotReadyCount1 > 0) {
                    <span class='label label-primary'>@placeNotReadyCount1</span>
                }
            }
        </td>
        <td style="background:white;text-align:center;">
            <input type="checkbox" class="minimal floor-check cage-@ViewBag.Cage" value="cage-@ViewBag.Cage-floor-@floor.Key" />
        </td>
    </tr>

    foreach (var apartment in floor.OrderBy(q => q.NumberOfApartment.Length).ThenBy(q => q.NumberOfApartment)) {
        var notStartedCount = apartment.Tasks.Count(q => q.Status == TaskStatus.Free);
        var underWorkCount = apartment.Tasks.Count(q => q.Status == TaskStatus.UnderWork);
        var stopedCount = apartment.Tasks.Count(q => q.Status == TaskStatus.Stoped);
        var finishedCount = apartment.Tasks.Count(q => q.Status == TaskStatus.Finished || q.Status == TaskStatus.FinishedWithFaultsCorrected);
        var finishedFaultsCount = apartment.Tasks.Count(q => q.Status == TaskStatus.FinishedWithFaults);
        var placeNotReadyCount = apartment.Tasks.Count(q => q.Status == TaskStatus.PlaceNotReady || q.Status == TaskStatus.Planned || q.Status == TaskStatus.DoWyjasnienia || q.Status == TaskStatus.NieNasze);
        var apartmentProductsList = apartment.Tasks.GroupBy(x => x.ProductId).Select(x => x.Key).ToList();
        productsIDs = new List<int>();

        apartmentProductsList.ForEach(x => productsIDs.Add(x));
        productsIDs = productsIDs.GroupBy(q => q).Select(q => q.Key).ToList();

        timeNeeded = apartment.Tasks.Sum(q => ((q.Production == TaskProduction.Developer) ? q.Product.ExpectedTime : Temp.Settings.ServiceTaskTime) * q.ProductCount);
        timeDone = apartment.Tasks.Sum(q => q.Task_Fitter.Where(x => ACSystem.Core.Models.Tasks.StatusesToCalculateTimes.Contains(x.Status) && x.IsActive).Sum(x => x.WorkDone * ((q.Production == TaskProduction.Developer) ? q.Product.ExpectedTime : Temp.Settings.ServiceTaskTime)));

        <tr data-child="1" data-level="@(ViewBag.Level + 1)" id="@(ViewBag.KeyPrefix)floor-@floor.Key-apartment-@apartment.NumberOfApartment.Replace(" ", "-")" class="search-apartment apartment-row" data-lgh="@apartment.Letter@apartment.NumberOfApartment"
            data-products="@(string.Join(",", productsIDs))" data-apartment-cage="@apartment.Cage" data-apartment-floor="@apartment.Floor">
            <td>
                LGH @apartment.Letter@apartment.NumberOfApartment <span class="lgh-time">Czas: @((timeNeeded - timeDone).TwoOrNone()) / @(timeNeeded.TwoOrNone()) h</span>
            </td>
            <td style="width: 150px;">
                <a href="/Projects/ApartmentDetails/@apartment.Id" data-toggle="tooltip" data-placement="bottom" title="Szczegóły" class="btn btn-xs btn-primary"><i class="fa fa-search"></i></a>
                <button type="button" data-toggle="tooltip" data-placement="bottom" title="Edytuj" data-apartment-id="@apartment.Id" class="btn btn-xs btn-success edit-apartment"><i class="glyphicon glyphicon-pencil"></i></button>
                <button type="button" data-toggle="tooltip" data-placement="bottom" title="Kopiuj" data-apartment-id="@apartment.Id" data-project-id="@ViewBag.ProjectID" class="btn btn-xs btn-warning copy-apartment"><i class="fa fa-copy"></i></button>
                @if (apartment.Tasks.All(q => q.Status == TaskStatus.Free)) {
                    <button type="button" class="btn btn-xs btn-danger delete-apartment pull-right" data-toggle="tooltip" data-placement="bottom" title="Usuń" data-apartment-id="@apartment.Id" data-project-id="@ViewBag.ProjectID"><i class="fa fa-trash"></i></button>
                }
            </td>
            <td colspan="2" style="text-align: center; padding-left: 20px;">
                @{
                    if (notStartedCount > 0) {
                        <span class='label label-default'>@notStartedCount</span>
                    }

                    if (underWorkCount > 0) {
                        <span class='label label-warning'>@underWorkCount</span>
                    }

                    if (stopedCount > 0) {
                        <span class='label label-info'>@stopedCount</span>
                    }

                    if (finishedCount > 0) {
                        <span class='label label-success'>@finishedCount</span>
                    }

                    if (finishedFaultsCount > 0) {
                        <span class='label label-danger'>@finishedFaultsCount</span>
                    }

                    if (placeNotReadyCount > 0) {
                        <span class='label label-primary'>@placeNotReadyCount</span>
                    }
                }
            </td>
            <td style="background:white;text-align:center;" class="apartment-check-div">
                <input type="checkbox" class="minimal apartment-check cage-@ViewBag.Cage-floor-@floor.Key" value="@apartment.Id" />
            </td>
        </tr>
        foreach (var task in apartment.Tasks.OrderBy(q => q.Status)) {
            timeNeeded = ((task.Production == TaskProduction.Developer) ? task.Product.ExpectedTime : Temp.Settings.ServiceTaskTime) * task.ProductCount;
            timeDone = task.Task_Fitter.Where(x => ACSystem.Core.Models.Tasks.StatusesToCalculateTimes.Contains(x.Status) && x.IsActive).Sum(x => x.WorkDone * ((task.Production == TaskProduction.Developer) ? task.Product.ExpectedTime : Temp.Settings.ServiceTaskTime));

            <tr data-child="0" data-level="@(ViewBag.Level + 2)" id="task-@task.Id" class="childless search-apartment task-row tr-visible" title="@task.Description" data-toggle="tooltip" data-placement="bottom" data-lgh="@apartment.Letter@apartment.NumberOfApartment"
                data-products="@task.ProductId" data-task-cage="@apartment.Cage" data-task-floor="@apartment.Floor"
                data-time-needed="@(timeNeeded.TwoOrNone())" data-time-left="@((timeNeeded - timeDone).TwoOrNone())">
                <td>
                    <a href="/Task/Details/@task.Id">@task.GetTaskName(ViewBag.ProjectID) @task.TaskSufix</a>

                    @switch (task.Status) {
                        case TaskStatus.Free:
                            <span class='label label-default search-apartment' data-lgh="@apartment.Letter@apartment.NumberOfApartment" data-products="@task.ProductId" data-cage-dostepne="@apartment.Cage" data-floor-dostepne="@apartment.Floor">Dostępne</span>
                            break;
                        case TaskStatus.UnderWork:
                            <span class='label label-warning search-apartment' data-lgh="@apartment.Letter@apartment.NumberOfApartment" data-products="@task.ProductId" data-cage-wtrakcie="@apartment.Cage" data-floor-wtrakcie="@apartment.Floor">W trakcie</span>
                            break;
                        case TaskStatus.Stoped:
                            <span class='label label-info search-apartment' data-lgh="@apartment.Letter@apartment.NumberOfApartment" data-products="@task.ProductId" data-cage-zatrzymane="@apartment.Cage" data-floor-zatrzymane="@apartment.Floor">Przerwane</span>
                            break;
                        case TaskStatus.Finished:
                            <span class='label label-success search-apartment' data-lgh="@apartment.Letter@apartment.NumberOfApartment" data-products="@task.ProductId" data-cage-sukces="@apartment.Cage" data-floor-sukces="@apartment.Floor">Zakończone</span>
                            break;
                        case TaskStatus.FinishedWithFaults:
                            <span class='label label-danger search-apartment' data-lgh="@apartment.Letter@apartment.NumberOfApartment" data-products="@task.ProductId" data-cage-blad="@apartment.Cage" data-floor-blad="@apartment.Floor">Zakończone z błędami</span>
                            break;
                        case TaskStatus.FinishedWithFaultsCorrected:
                            <span class='label label-success search-apartment' data-lgh="@apartment.Letter@apartment.NumberOfApartment" data-products="@task.ProductId" data-cage-sukces="@apartment.Cage" data-floor-sukces="@apartment.Floor">Zakończone z błędami</span>
                            break;
                        case TaskStatus.PlaceNotReady:
                            <span class="label label-primary search-apartment" data-lgh="@apartment.Letter@apartment.NumberOfApartment" data-products="@task.ProductId" data-cage-other="@apartment.Cage" data-floor-other="@apartment.Floor">Miejsce nieprzygotowane</span>
                            break;
                        case TaskStatus.Planned:
                            <span class="label label-primary search-apartment" data-lgh="@apartment.Letter@apartment.NumberOfApartment" data-products="@task.ProductId" data-cage-other="@apartment.Cage" data-floor-other="@apartment.Floor">Planowane</span>
                            break;
                        case TaskStatus.NieNasze:
                            <span class="label label-primary search-apartment" data-lgh="@apartment.Letter@apartment.NumberOfApartment" data-products="@task.ProductId" data-cage-other="@apartment.Cage" data-floor-other="@apartment.Floor">Nie nasze</span>
                            break;
                        case TaskStatus.DoWyjasnienia:
                            <span class="label label-primary search-apartment" data-lgh="@apartment.Letter@apartment.NumberOfApartment" data-products="@task.ProductId" data-cage-other="@apartment.Cage" data-floor-other="@apartment.Floor">Do wyjaśnienia</span>
                            break;
                    }

                    <span>Czas: @((timeNeeded - timeDone).TwoOrNone()) / @(timeNeeded.TwoOrNone()) h</span>
                </td>
                <td class="text-center">
                    @(task.ProductCount - task.Task_Fitter.Where(q => q.IsActive).Sum(q => q.WorkDone)) / @task.ProductCount @task.Product.Jm
                </td>
                <td class="text-center">@Math.Ceiling(task.ProductPrice) SEK</td>
                <td class="text-center">Tydz. @task.StartDate.WeekNumber()</td>
                <td style="background:white;text-align:center;" class="tasks-table">
                    @if (!task.Invoice && !task.PayrollItems.Any()) {
                        <input type="checkbox" class="minimal task-check apartment-@task.ApartmentId" value="@task.Id" />
                    }
                </td>
            </tr>
        }
    }
}