﻿@using ACSystem.Core

@model ACSystem.Core.Models.Projects

<div class="tab-pane table-responsive no-padding" id="tab-project-managers">
    <table class="table table-hover table-pagination">
        <tr>
            <th>Imię i nazwisko</th>
            <th>Email</th>
            <th>Telefon</th>
        </tr>
        @foreach (var projectManager in Model.Project_ProjectManager)
        {
            <tr>
                <td>@projectManager.ProjectManager.Name</td>
                <td><a href="mail:@projectManager.ProjectManager.Email" title="@projectManager.ProjectManager.Email">@projectManager.ProjectManager.Email</a></td>
                <td>@projectManager.ProjectManager.PhoneNumber</td>
            </tr>
        }

    </table>
</div>