﻿@model Projects
@using ACSystem.Core.Models

@{
    var productsList = (List<Products>)ViewBag.ProductsList;
    var isSetProductsList = (bool)ViewBag.IsSetProductsList;
    var ProjectID = (ViewBag.ProjectID != null) ? (int)ViewBag.ProjectID : 0;

    var firstProduct = productsList?.FirstOrDefault(p => p.Product_Project.Any(q => q.ProjectID == ProjectID) == false && p.ForAllProjects == false);
    var firstPrice = Math.Ceiling(firstProduct?.Price ?? 0);
    var firstP1 = Math.Ceiling(firstProduct?.PercentHeight.Type1 ?? 0);
    var firstP2 = Math.Ceiling(firstProduct?.PercentHeight.Type2 ?? 0);
    var firstName = firstProduct?.Name;
    var firstInvoice = firstProduct?.DescriptionSE;
}

<div class="tab-pane table-responsive no-padding" id="tab-products">
    <div class="row">
        <div class="form-group col-md-4">
            <select class="form-control product-load select2" name="ProductId" id="ProductId" data-placeholder="Wybierz produkt" style="width: 100%;">
                @if (isSetProductsList == true) {
                    foreach (var pm in productsList.Where(q => q.IsActive == true)) {
                        if (pm.Product_Project.Any(q => q.ProjectID == ProjectID) == false) {
                            <option value="@pm.Id" data-price="@pm.Price" data-p1="@pm.PercentHeight.Type1" data-p2="@pm.PercentHeight.Type2" data-name="@pm.Name" data-invoice="@pm.DescriptionSE">@pm.Name</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="form-group col-md-3">
            <div class="input-group">
                <input type="number" class="form-control" id="ProductPrice" min="0" placeholder="Cena" value="@firstPrice" />
                <span class="input-group-addon">
                    kr
                </span>
            </div>
        </div>
        <div class="form-group col-md-2">
            <label>
                <input type="checkbox" class="minimal" name="NoExtra" id="NoExtra" value="True" />
                Bez dodatku
            </label>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary pull-left" id="connect-product" data-project-id="@Model.Id" style="margin-bottom: 20px;">DODAJ</button>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label class="control-label">Stawka #1</label>
            <div class="input-group">
                <input type="number" class="form-control" id="PercentType1" min="0" value="@firstP1" />
                <span class="input-group-addon">
                    %
                </span>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">Stawka #2</label>
            <div class="input-group">
                <input type="number" class="form-control" id="PercentType2" min="0" value="@firstP2" />
                <span class="input-group-addon">
                    %
                </span>
            </div>
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">Nazwa</label>
            <div class="input-group">
                <input type="text" class="form-control" id="product-name" value="@firstName" />
            </div>
        </div>
        <div class="form-group col-md-3">
            <label class="control-label">Nazwa na fakturze</label>
            <div class="input-group">
                <input type="text" class="form-control" id="product-invoice" value="@firstInvoice" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <button type="button" id="delete-selected-project-product" class="btn btn-primary pull-left" style="margin-bottom: 10px;">USUŃ ZAZNACZONE</button>
        </div>
    </div>

    <table class="table table-bordered table-pagination products-table">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="project-product-check-all" class="minimal" />
                </th>
                <th>Produkt</th>
                <th>Cena</th>
                <th>P1</th>
                <th>P2</th>
                <th>Bez dod.</th>
                <th width="20px"></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var o in Model.Product_Project)
                {
                    var productType = "";

                    switch (o.Product.ProductType)
                    {
                        case ACSystem.Core.TaskType.Construction:
                            productType = "Budowlanka";
                            break;
                        case ACSystem.Core.TaskType.Kitchen:
                            productType = "Kuchnia";
                            break;
                    }

                    <tr class="connect-@o.ID" data-name="@o.ProductName" data-type="@productType" data-invoice="@o.OnInvoiceName">
                        <td>
                            <input type="checkbox" class="minimal project-product-check" value="@o.ID" />
                        </td>
                        <td class="product-name">
                            <a href="/Products/Edit/@o.ProductID" >
                                @o.ProductName  @((!string.IsNullOrEmpty(o.OnInvoiceName)) ? $"({ o.OnInvoiceName})" : "") <small style="color: darkgray;">@productType</small>
                            </a>
                        </td>
                        <td id="connect-price-@o.ID" data-price="@o.Price">@o.Price kr</td>
                        <td id="connect-p1-@o.ID" data-p="@o.PercentType1">
                            @(
                            (o.PercentType1.HasValue && o.PercentType1.Value > 0)
                                ? o.PercentType1 + "% (" + Math.Round((o.Price * (o.PercentType1.Value / 100)), 2) + "kr)"
                                : ""
                            )
                        </td>
                        <td id="connect-p2-@o.ID" data-p="@o.PercentType2">
                            @(
                            (o.PercentType2.HasValue && o.PercentType2.Value > 0)
                                ? o.PercentType2 + "% (" + Math.Round((o.Price * (o.PercentType2.Value / 100)), 2) + "kr)"
                                : ""
                            )
                        </td>
                        <td id="no-extra-@o.ID" data-no-extra="@(o.NoExtra ? "true" : "false")">
                            @((o.NoExtra) ? "TAK" : "NIE")
                        </td>
                        <td>
                            <div class="crud-container">
                                <a href="/Question/QuestionsForProductProject/@o.ID" class="crud crud-edit" data-toggle="tooltip" data-placement="bottom" title="Pytania do produktu"><i class="fa fa-question"></i></a>
                                <a href="/Parallel/TasksForProductProject?ProjectID=@o.ProjectID&ProductID=@o.ProductID" class="crud crud-edit" data-toggle="tooltip" data-placement="bottom" title="Zestawienie dla produktu"><i class="fa fa-table"></i></a>
                                <span data-toggle="tooltip" data-placement="bottom" title="Edytuj cenę" data-connect-id="@o.ID" class="crud crud-edit edit-connect-product"><i class="fa fa-pencil"></i></span>
                                <span data-toggle="tooltip" data-placement="bottom" title="Usuń" data-connect-id="@o.ID" class="crud crud-delete delete-connect-product"><i class="glyphicon glyphicon-remove"></i></span>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<div id="editprice-modal" class="cal-modal cal-modal-form cal-modal-top">
    <div class="modal-dialog" style="width: 80vw">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">EDYCJA CENY</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="ToEditConnectID" />
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Nazwa</label>
                        <input type="text" id="ToEditName" class="form-control" />
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Nazwa na fakturze</label>
                        <input type="text" id="ToEditInvoice" class="form-control" />
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">Cena</label>
                        <div class="input-group">
                            <input type="text" id="ToEditPrice" class="form-control" />
                            <div class="input-group-addon">
                                kr
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label class="control-label">Stawka #1</label>
                        <div class="input-group">
                            <input type="text" id="ToEditPercentType1" class="form-control" />
                            <div class="input-group-addon">
                                %
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label class="control-label">Stawka #2</label>
                        <div class="input-group">
                            <input type="text" id="ToEditPercentType2" class="form-control" />
                            <div class="input-group-addon">
                                %
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-2">
                        <label>
                            <input type="checkbox" name="NoExtra" value="True" id="ToEditNoExtra" />
                            Bez dodatku
                        </label>
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-flat btn-block save-connect-product-price">ZAPISZ</button>
            </div>
        </div>
    </div>
</div>
