﻿@using ACSystem.Core.Models
@using ACSystem.Core
@model IEnumerable<Project_Activity>

<div class="tab-pane table-responsive no-padding" id="tab-journal">
    <div class="box-comments">
        @foreach (var m in Model.OrderByDescending(q => q.Timestamp))
        {
            <div class="box-comment" style="padding: 10px;">
                <div class="comment-text" style="margin-left: 0;">
                    <span class="username">
                        <span class="text-muted pull-right">@m.Timestamp.ToString("yyyy-MM-dd HH:mm")</span>
                    </span>
                    <span style="font-style: italic">
                        @m.Message
                    </span>
                </div>
            </div>
        }
    </div>
</div>

