﻿@model ACSystem.Core.Models.Projects

<div class="tab-pane table-responsive no-padding" id="tab-child-projects">
    <table class="table table-bordered table-pagination">
        <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>Nazwa projektu</th>
                <th>Ulica</th>
                <th>Miasto</th>
                <th>Apartamenty</th>
                <th>Status</th>
                <th>Klient</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var o in Model.ChildProjects)
                {

                    <tr class="tr-clickable">
                        <td class="project-details" data-project-id="@o.Id">
                            <div style="width: 20px; height: 20px; background-color: @o.Calendar.ColorHex"></div>
                        </td>
                        <td class="project-details" data-project-id="@o.Id">
                            @o.InSystemID
                        </td>
                        <td class="project-details" data-project-id="@o.Id">
                            @o.ProjectNumber
                        </td>
                        <td class="project-details" data-project-id="@o.Id">
                            @o.Street
                        </td>
                        <td class="project-details" data-project-id="@o.Id">
                            @o.City
                        </td>
                        <td class="project-details" data-project-id="@o.Id">
                            @o.Apartments.Count
                        </td>
                        <td class="project-details" data-project-id="@o.Id">
                            @switch (o.Status)
                            {
                                case ACSystem.Core.ProjectStatus.Finished:
                                    <span class="label label-success">Zakończony</span>
                                    break;
                                case ACSystem.Core.ProjectStatus.FinishedWithFaults:
                                    <span class="label label-danger">Zakończony z błędami</span>
                                    break;
                                case ACSystem.Core.ProjectStatus.NotStarted:
                                    <span class="label label-default">Nie rozpoczęty</span>
                                    break;
                                case ACSystem.Core.ProjectStatus.UnderWork:
                                    <span class="label label-warning">W trakcie</span>
                                    break;
                            }
                        </td>
                        <td class="project-details" data-project-id="@o.Id">
                            <a href="/Customers/Details/@o.CustomerId">@o.Customer.Name</a>
                        </td>
                        <td>
                            <div class="crud-container">
                                <a class="crud crud-details" href="/Projects/Details/@o.Id" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Szczegóły"><i class="glyphicon glyphicon-eye-open"></i></a>
                                <a class="crud crud-edit" href="/Projects/Edit/@o.Id" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Edytuj"><i class="glyphicon glyphicon-pencil"></i></a>
                                <span data-toggle="tooltip" data-placement="bottom" title="" data-project-id="@o.Id" class="crud crud-copy copy-project" data-original-title="Kopiuj"><i class="glyphicon glyphicon-copy"></i></span>
                            </div>
                        </td>
                    </tr>
                }
                            }
        </tbody>
    </table>
</div>
