﻿@model Todo
@using ACSystem.Core.Models
@using ACSystem.Core

@{
    ViewBag.Title = "Komentarze";
    Layout = "~/Views/Shared/Layouts/Popup.cshtml";
}

<div class="table-responsive">
    <h4 class="text-center">Komentarze</h4>

    <hr />
    
    <div class="box-comments">
        @foreach (var m in Model.Task.TaskComments.OrderByDescending(q => q.Timestamp))
        {
            <div class="box-comment" style="padding: 10px;">
                <div class="comment-text" style="margin-left: 0;">
                    <span class="username">
                        @if (m.IsViewed == false)
                        {
                            <span class="text-danger">!</span>
                        }
                        <a href="/Account/Details/@m.FitterID">@m.Fitter.User.FullName</a>
                        <span class="text-muted pull-right">@m.Timestamp.ToString("yyyy-MM-dd HH:mm")</span>
                    </span>
                    <span style="font-style: italic">
                        @m.Comment
                    </span>
                </div>
            </div>
        }
    </div>

</div>
