﻿@model Todo
@using ACSystem.Core.Models



<div class="modal-dialog col-sm-12" style="width: 600px">
    <div class="modal-content  col-sm-12">
        <div class="modal-body">
                <h3>Opis Todo</h3>
                    <textarea rows="12" data-id="@Model.ID" id="message-text" class="col-sm-12" style="margin: .5em auto;">@Model.Message</textarea>
                    <button type="button" class="btn btn-success" id="save-todo-message">Zapisz</button>
         </div>
    </div>
</div>

