﻿@model IEnumerable<ACSystem.Core.Models.ACSystemUser>
@using ACSystem.Core.Models

@{
    var Projects = (ViewBag.Projects != null) ? (List<Projects>)ViewBag.Projects : new List<Projects>();
}

<div class="modal-dialog" style="width: 300px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Przypisz monterowi</h4>
        </div>
        @using (Html.BeginForm("AddTodoDescription", "Projects", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
        <div class="modal-body">
            <div class="form-group" style="padding-left: 0">
                <label class="control-label">Użytkownik</label>
                <select class="form-control select2" name="FitterID" id="FitterID" data-placeholder="Wybierz montera" style="width: 100%;" required>
                    @foreach (var u in Model)
                    {
                        <option value="@u.Id">@u.FullName</option>
                    }
                </select>
            </div>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Anuluj</button>
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>
        }
    </div>
</div>