﻿@using ACSystem.Core.Models.ViewModels
@model NewToDoViewModel
@{
    ViewBag.Title = "AddToDoForm";
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/iCheck/icheck.min.js")
    @Scripts.Render("~/Scripts/Site/task-todo.js")
    @Scripts.Render("~/Scripts/Site/newTodoForm.js")
}

<div class="modal-dialog" style="width: 300px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">

            <div class="form-group" style="padding-left: 0">
                <label class="control-label">Przypisany użytkownik</label>
                <select class="todo-users" name="users" style="width: 100%;" required>
                    <option value="">Ogólne</option>

                    @foreach (var x in Model.Users)
                    {
                        <option value="@x.Id">@x.FullName</option>
                    }
                </select>
            </div>

            <label class="control-label">Wiadomość</label>
            <textarea rows="12" class="todo-message form-control"></textarea>

            @*<div class="form-group" style="padding-left: 0">
        <label class="control-label">Monter</label>
        <select class="todo-fitters" name="fitters" style="width: 100%;">
            @foreach (var x in Model.Fitters)
            {
                <option value="@x.Id">@x.User.FullName</option>
            }
        </select>
        </div>

        <div class="form-group" style="padding-left: 0">
            <select class="form-control type">
                <option value="0">Tłumaczenia pytań kontrolnych</option>
                <option value="1">Akceptacja</option>
                <option value="2">Zmiana Statusu</option>
                <option value="3">Zakończenie z błędami</option>
                <option value="4">Nowy komentarz</option>
                <option value="5">Poprawiony błąd</option>
                <option value="6">Opis</option>
            </select>
        </div>*@
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Anuluj</button>
            <button class="btn btn-primary saveNewTodo">Zapisz</button>
        </div>

    </div>
</div>