﻿@model AssignUserViewModel
@using ACSystem.Core.Models.ViewModels


<div class="modal-dialog" style="width: 300px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="todoValue" data-todoid="@Model.Todo.ID">Przypisz użytkownika do todo numer @Model.Todo.ID</h4>
        </div>
   
            <div class="modal-body">
                <div class="form-group" style="padding-left: 0">
                    <label class="control-label">Użytkownik</label>
                    <select class="users-list" name="users" style="width: 100%;">
                        <option value="">Ogólne</option>

                        @foreach (var u in Model.UsersList)
                        {
                            <option value="@u.Id">@u.FullName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Anuluj</button>
                <button class="btn btn-primary saveAssign">Zapisz</button>
            </div>
        
    </div>
</div>