﻿@model PlaceError
@using ACSystem.Core.Models
@using ACSystem.Core

@{
    ViewBag.Title = "Nowy błąd";
    Layout = "~/Views/Shared/Layouts/Popup.cshtml";

    var success = (ViewBag.Success != null && ViewBag.Success == true) ? 1 : 0;
    var exception = (ViewBag.Exception != null) ? (string)ViewBag.Exception : "";
}

@section Scripts {

    <script>
        $(document).ready(function () {
            var success = @success;
            var exception = "@exception";
            var todoID = @((ViewBag.TodoID != null) ? 1 : 0);

            if (success === 1) {
                if (window.opener != null && !window.opener.closed) {
                    if (todoID) {
                        var tr = window.opener.$("#tr-action-@ViewBag.TodoID");
                        tr.remove();
                    }
                    else
                        window.opener.location.reload();
                }

                window.close();
            }
            else if (exception != "")
                toastr.error(exception);

            $(".save").click(function () {
                $("form").submit();
            });

            $(".save-and-send").click(function () {
                $.LoadingOverlay("show");
                $.get("/Reports/PlaceError_ClientReport", { _placeErrorID: @Model.ID }, function (data) {
                    if (data.success) {
                        $("#Send").val("True");
                        $("form").submit();
                    }
                    else {
                        toastr.error("Wystąpił błąd podczas generowania raportu");
                    }
                });
            });
        });

    </script>
}

    <div class="table-responsive" style="padding: 15px;">
        <h4 class="text-center">Nowy błąd - tłumaczenie</h4>

        <p>Zgłosił: @((Model.Fitter.FullName != null) ? Model.Fitter.FullName : "-")</p>
        @if (Model.Date.HasValue)
        {
            <p>Data zgłoszenia: @Model.Date.Value.ToString("yyyy-MM-dd")</p>
        }

        @if (Model.Task != null)
        {
            <p>Projekt: @Model.Project.ProjectNumber</p>
            <p>Apartament: LGH @Model.Apartment.NumberOfApartment</p>
            <p>Zadanie: @ViewBag.ProductName</p>
        }
        else if (Model.Apartment != null)
        {
            <p>Projekt: @Model.Project.ProjectNumber</p>
            <p>Apartament: LGH @Model.Apartment.NumberOfApartment</p>
        }
        else if (Model.Project != null)
        {
            <p>Projekt: @Model.Project.ProjectNumber</p>
        }

        <hr />
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.ID)
            @Html.Hidden("TodoID", (int?)ViewBag.TodoID)
            @Html.Hidden("Send", "False");

            <div class="form-group">
                <label class="control-label">Treść błędu</label>
                <input type="text" class="form-control" name="Description" value="@Model.Description" />
            </div>
            <div class="form-group">
                <label class="control-label">Tłumaczenie</label>
                <input type="text" class="form-control" name="Translated" value="@Model.Translated" />
            </div>
            <div class="col-xs-6">
                <button type="button" id="save-and-send" class="btn btn-sm btn-flat btn-block btn-primary save-and-send" style="margin-bottom: 20px;">ZAPISZ I WYŚLIJ</button>
            </div>
            <div class="col-xs-6">
                <button type="button" id="save" class="btn btn-sm btn-flat btn-block btn-primary save" style="margin-bottom: 20px;">ZAPISZ</button>
            </div>
        }
    </div>
