﻿@using ACSystem.Core.Models
@model Todo
@{
    ViewBag.Title = "TooDescription";
}
@Scripts.Render("~/Scripts/Site/todoDescription.js")



<div class="container">
    <h3>Opis Todo</h3>
    <textarea rows="8" cols="80" data-id="@Model.ID" id="descriptionText" class="todo-message">@Model.Message</textarea>
    <button type="button" class="btn btn-primary" id="save-todo-description">Dodaj</button>
</div>

