﻿@model Todo
@using ACSystem.Core.Models
@using ACSystem.Core

@{
    ViewBag.Title = "Tłumaczenia";
    Layout = "~/Views/Shared/Layouts/Popup.cshtml";

    var success = (ViewBag.Success != null && ViewBag.Success == true) ? 1 : 0;
}

@section Scripts {
    
        <script>
            var success = @success;

            if (success === 1) {
                if (window.opener != null && !window.opener.closed) {
                    var tr = window.opener.$("#tr-action-@Model.ID");

                    tr.remove();
                }

                window.close();
            }
        </script>
}

<div class="table-responsive">
    <h4 class="text-center">Tłumaczenia</h4>

    <hr />
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.ID);

        <button type="submit" class="btn btn-sm btn-flat btn-block btn-primary" style="margin-bottom: 20px;">ZAPISZ</button>

    <table class="table table-bordered">
        <tr>
            <th>Tekst montera</th>
            <th>Tłumaczenie</th>
        </tr>
        @foreach (var q in Model.Task.Task_Questions.TaskQuestionPhoto)
        {
            <tr>
                <td>
                    <div class="form-group">
                        <label class="control-label">@Dicts.PL_Questions[q.Question]</label>
                        <input type="hidden" name="QuestionPhotosID[]" value="@q.Id" />
                        <input type="text" class="form-control" name="QuestionPhotosDesc[]" value="@q.Description" />
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label class="control-label" style="opacity: 0;">WYPEŁNIACZ</label>
                        <input type="text" class="form-control" name="QuestionPhotosTranslate[]" value="@q.TranslatedDescription" />
                    </div>
                </td>
            </tr>
        }
    </table>
    }
</div>
