﻿.user-info > p {
    color: rgba(0,0,0, 0.8);
    font-size: 17px;
}

.user-info {
    text-align: center;
}

.user-contact > p{
    margin-left: 10px;
    font-size: 17px;
}

.user-contact {
    text-align: center;
}
