﻿p.customer-name {
    font-size: 18px;
    font-weight: bold;
    color: rgba(0,0,0,0.7);
}

p.customer-address {
    font-size: 16px;
    color: rgba(0,0,0,0.7);
    margin-left: 10px;
}

p.customer-city {
    font-size: 16px;
    color: rgba(0,0,0,0.7);
    margin-left: 10px;
}

p.customer-vat {
    font-size: 16px;
    color: rgba(0,0,0,0.7);
    margin-left: 10px;
}

p.customer-nip {
    font-size: 16px;
    color: rgba(0,0,0,0.7);
    margin-left: 10px;
}

p.customer-email {
    font-size: 18px;
    text-align: center;
}

p.customer-email a {
    color: rgba(0,0,0,0.7);
}

p.customer-email a:hover {
    color: rgba(0,0,0,0.4);
}