﻿/* CRUD */
.crud-container {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;

    display: flex;
    margin: 0 auto;
}

tr:hover .crud-container {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 1;
}

.row-disabled {
    text-decoration: line-through;
}

.crud {
    cursor: pointer;
    color: #333;
    padding: 5px;
}

.crud-details:hover {
    color: #1D4AB1;
}

.crud-edit:hover {
    color: #5AAC56;
}

.crud-accept:hover {
    color: #5AAC56;
}

.crud-delete:hover {
    color: #B10005;
}

.crud-mail:hover {
    color: #ff9900;
}

.crud-serwis:hover {
    color: #ff9900;
}

.crud-add-fitter:hover {
    color: #2B823A;
}
.crud-plan-fitter:hover {
    color: #2B823A;
}

.crud-access-grant:hover {
    color: #2b823a;
}

.crud-delete-fitter:hover {
    color: #B10005;
}

.crud-add-event:hover {
    color: #FFDA00;
}

.crud-copy:hover {
    color: #832C65;
}

.crud-print:hover {
    color: #832C65;
}

.cal-modal {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    display: none;
}

.cal-modal-top {
    margin-top: 50px;
}

.cal-modal .close {
    position: absolute;
    top: 15px;
    right: 25px;
    color: #000;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.cal-modal {
    text-align: left !important;
}

.custombox-modal-container-slide > div {
    float: none;
}


/* File upload */
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/* Tables */
.sort-column-icon {
    float:right;
}

.table-sortable th.clickable {
    cursor: pointer;
}

.tr-clickable {
    cursor: pointer;
}

.tr-clickable:hover {
    background: #eee;
}

.td-clickable {
    cursor: pointer;
}

.td-clickable:hover {
    color: rgba(0,0,0,0.7);
}

td.with-label {
    text-align: center;
}

td a, td a:visited, td a:active {
    color: #333;
}

td a:hover{
    color: #999;
}

#filtr-container {
    margin: 10px 0;
}

#generate-payroll {
    margin: 10px 0;
}

.checkbox-filter label {
    margin-right:10px;
    margin-top: 5px;
}

.box-header {
    text-transform: uppercase;
}

dd a, dd a:visited, dd a:active {
    color: #333;
}

dd a:hover{
    color: #999;
}

.disactive {
    opacity: .6;
}

/* Paging */

.paging-nav {
  text-align: right;
  padding-top: 2px;
  margin-right: 10px;
}

.paging-nav a {
  margin: auto 1px;
  margin-bottom: 10px;
  text-decoration: none;
  display: inline-block;
  padding: 1px 7px;
  background: #fafafa;
  color: #666;
  border-radius: 3px;
}

.paging-nav .selected-page {
  background: #337ab7;
  color: #fff;
}

#modal-photos .modal-dialog {
    width: auto !important;
}

.gal-container{
	padding: 12px;
}
.gal-item{
	overflow: hidden;
	padding: 3px;
}
.gal-item .box{
	height: auto;
	overflow: hidden;
}
.box img{
	height: 100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
}
.gal-item a:focus{
	outline: none;
}
.gal-item a:after{
	content:"\e003";
	font-family: 'Glyphicons Halflings';
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 3px;
	left: 3px;
	top: 3px;
	bottom: 3px;
	text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
	opacity: 1;
}
.modal-open .gal-container .modal{
	background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
	padding: 0px;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
	outline: none;
}
.modal-open .gal-item button.close span{
	position: relative;
	top: -3px;
	font-weight: lighter;
	text-shadow:none;
}
.gal-container .modal-dialogue{
	width: 80%;
}
.gal-container .description{
	position: relative;
	height: 40px;
	top: -40px;
	padding: 10px 25px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	text-align: left;
}
.gal-container .description h4{
	margin:0px;
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}
@media (min-width: 768px) {
.gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto;
}
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}

.modal-photos {
    background-color: #FFF;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    padding: 24px;
    width: 60%;
    position: relative;
    display: none;
    overflow:scroll;
}

.modal-photos-multiple {
    width: auto !important;
    overflow-x: scroll;
}

.demo-close {
    display: block;
    position: absolute;
    top: 0;
    right: 30px;
    z-index: 10000;
    outline: none;
    font-size: 30px;
    line-height: 30px;
    transition: transform .3s ease-in-out;
    color: #333;
}

.demo-close:hover {
    transform: rotate(360deg);
    color: #333;
}

.demo-close-btn {
    display: none;
}

.bootstrap-datetimepicker-widget {
    z-index: 9999 !important;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.position-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

/* Radio Buttons Color */
.radios .check {
    width: 25px;
    height: 25px;
    background: #808080;
    border: none;
    float:left;
    margin-right: 5px;
    margin-top: 3px;
    color: white;
    text-align: center;
    padding-top: 6px;
}

.radios .check:hover, .radios .check.active {
    cursor: pointer;
}

.radios .check i {
    display: none;
}

.radios .check:hover i, .radios .check.active i {
    display: block;
}

.calendar-row {
    display: flex;
}

.calendar-name {
    margin-top: 10px;
    font-size: 13px;
    padding-top: 4px;
}

.calendar-check {
    width: 25px;
    height: 25px;
    border: none;
    color: white;
    text-align: center;
    padding-top: 6px;
    margin-right: 5px;
    border-radius: 5px;
}

.calendar-check:hover {
    opacity: 0.7;
}

.calendar-check i {
    display: none;
}

.calendar-check:hover i, .calendar-check.active i {
    display: block;
}

/*Placeholder*/
.lb_wrap {
    display: block !important;
}

.lb_label.top {
    top: 19px !important;
    left: 5px !important;
    font-weight: 600;
    color: #3c8dbc;
}

div.label-better {
    margin-bottom: 20px !important;
}

div.label-better-margin-top{
    margin-top: 20px !important;
}

.form-group.no-margin-bottom {
    margin-bottom: 0 !important;
}

.lb_label_my {
    margin-bottom: 0 !important;
    left: 5px !important;
    font-weight: 600 !important;
    color: #3c8dbc;
    position: relative;
}

/*SELECT2*/

.custombox-overlay {
    z-index: 9989 !important;
}

{
    z-index: 9990 !important;
}

.custombox-content .select2-container, .select2-container--open {
    z-index: 9999 !important;
}

.select2-container {
    z-index: 9988;
}

/*jconfirm*/

.jconfirm-bg {
    opacity: 0.8 !important;
}

/* OTHERS */
.question-photo{
    padding: 5px;
}

.question-photo:hover {
    color: blue;
    cursor: pointer;
}

.show-translate-btn{
    padding: 5px;
}

.show-translate-btn:hover {
    color: blue;
    cursor: pointer;
}

span.select2-container {
    width: 100% !important;
}

.cursor-pointer {
    cursor: pointer;
}

tr.selected {
    background-color: #3c8dbc;
    color: white;
}

tr.selected:hover {
    color: #333;
}

span.hover i {
    opacity: 0;
}

span.hover:hover {
    color: #888;
    cursor: pointer;
}

span.hover:hover i {
    opacity: 1;
}

.tr-hidden {
    display: none !important;
}

.table-tbody-scroll tbody {
    display: block;
    overflow-y: scroll;
    height: 400px;
}

.table-tbody-scroll thead, .table-tbody-scroll tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

/* Grouped Table */

.grouped-table .labels tr td {
    font-weight: bold;
    background-color: #999;
    color: white;
}

.grouped-table .label tr td label {
    display: block;
    cursor: pointer;
}

.grouped-table [data-toggle="toggle"] {
    display: none;
}

.grouped-table .group-hide {
    display: none;
}

/* End Grouped Table*/