﻿
.Tak {
    color: white;
    background: green;
}

.Nie {
    color: white;
    background: red;
}

.Nie_Dotyczy {
    color: white;
    background: gray;
}

#box-for-choose-type {
    display: block;
}

#box-for-task-event {
    display: none;
}

#box-for-fitter-event {
    display: none;
}

/* CALENDAR */

.fc-list-view table {
    table-layout: auto !important;
}


.fc-list-table .fc-widget-header {
    padding: 5px !important;
    font-weight: bold;
}

.fc-list-table .fc-widget-header .fc-list-heading-main {
    float: right;
}

.fc-list-table .fc-widget-header .fc-list-heading-alt {
    float: left;
}

.fc-list-table .fc-list-item-time {
    white-space: nowrap;
}

.fc td {
    border-style: solid;
    border-width: 1px;
    padding: 0;
    vertical-align: top;
}

.fc-list-table td {
    border-width: 0 0 0;
    padding: 8px 14px;
}

.fc-list-item {
    width: 100%;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.fc-list-item:hover {
    background: #f7f7f7;
}


.fc-list-item-title {
    width: 100%;
}

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: #ddd;
}