﻿#apartment-map iframe {
    width: 100%;
}

#apartment-map-in-modal iframe {
    width: 100%;
}

p.customer-email {
    font-size: 18px;
    text-align: center;
}

p.customer-email a {
    color: rgba(0,0,0,0.7);
}

p.customer-email a:hover {
    color: rgba(0,0,0,0.4);
}

.dd-customer-name, .dd-project-manager-name, .dd-map, .dd-link {
    cursor: pointer;
}

.dd-customer-name i, .dd-project-manager-name i, .dd-map i, .dd-link i {
    opacity: 0.3;
}

.dd-customer-name:hover i, .dd-project-manager-name:hover i, .dd-map:hover i, .dd-link:hover i {
    opacity: 1;
}
.select2-dropdown {
  z-index: 10003 !important;
}

.Tak {
    color: white;
    background: green !important;
}

.Tak input {
    color: black;
}

.Nie {
    color: white;
    background: red !important;
}

.Nie input {
    color: black;
}

.Nie_Dotyczy {
    color: white;
    background: gray !important;
}

.Nie_Dotyczy input {
    color:black;
}

.questions-hidden {
    display: none;
}

.questions tr th {
    text-align: center !important;
}

.is-blocked .lock-icon {
    display: block;
}

.lock-icon {
    display: none;
}
