﻿@using ACSystem.Core
@using ACSystem.Core.Models

@model ICollection<Apartments>

@{
    var ProjectID = ViewBag.ProjectID;
    var ApartmentID = ViewBag.ApartmentID;

    var returnID = (ApartmentID > 0) ? ApartmentID : ProjectID;
    var returnTypeID = (ApartmentID > 0) ? "ApartmentID" : "ProjectID";

    var tasks = new List<Tasks>();
    var products = new List<Products>();
    var fitters = new List<Fitters>();

    foreach (var a in Model)
    {
        tasks.AddRange(a.Tasks);
        products.AddRange(a.Tasks.Select(q => q.Product));

        foreach (var t in a.Tasks)
        {
            fitters.AddRange(t.Task_Fitter.Where(q => q.IsActive && q.Status != TaskStatus.Free && q.Status != TaskStatus.UnderWork && (q.WorkDone > 0 || q.WorkTime > 0)).Select(q => q.Fitter));
        }
    }

    var productsGrouped = products.GroupBy(q => q.Id);
    var fittersGrouped = fitters.GroupBy(q => q.Id);
}

<div class="tab-pane table-responsive no-padding" id="tab-excel" style="height: 400px;">

    <form role="form" id="excel-form">

        <input type="hidden" name="ProjectID" value="@ProjectID" />
        <div class="col-md-3" style="height: 400px;">
            <table class="table">
                <thead>
                    <tr>
                        <th style="padding-top: 0;">
                            <h4 style="margin-bottom: 4px;">WYBIERZ PRODUKTY</h4>
                        </th>
                        <th style="padding-top: 0;">
                            <input type="checkbox" id="check-all-products" />
                        </th>
                    </tr>
                </thead>
                <tbody style="overflow-y: scroll;">
                    @foreach (var a in productsGrouped)
                    {
                        <tr>
                            <td>@a.FirstOrDefault().Name</td>
                            <td>
                                <input type="checkbox" class="product-checkbox" name="Products[]" value="@a.Key" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="col-md-3" style="height: 400px;">
            <table class="table">
                <thead>
                    <tr>
                        <th style="padding-top: 0;">
                            <h4 style="margin-bottom: 4px;">WYBIERZ MONTERÓW</h4>
                        </th>
                        <th style="padding-top: 0;">
                            <input type="checkbox" id="check-all-fitters" />
                        </th>
                    </tr>
                </thead>
                <tbody style="overflow-y: scroll;">
                    @foreach (var a in fittersGrouped)
                    {
                        <tr>
                            <td>@a.FirstOrDefault().User.FullName</td>
                            <td>
                                <input type="checkbox" class="fitter-checkbox" name="Fitters[]" value="@a.Key" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @{
            var dateNow = DateTime.Now;
            var startDate = $"{dateNow.Year}-{dateNow.Month}-01";
            var endDate = $"{dateNow.Year}-{dateNow.Month}-{DateTime.DaysInMonth(dateNow.Year, dateNow.Month)}";
        }

        <div class="col-md-3" style="height: 400px;">
            <h4 class="text-center">ZAKRES DAT</h4>
            <div class="form-group">
                <label class="control-label">OD</label>
                <input type="text" class="form-control date-only" name="DateFrom" value="@startDate" />
            </div>
            <div class="form-group">
                <label class="control-label">DO</label>
                <input type="text" class="form-control date-only" name="DateTo" value="@endDate" />
            </div>
        </div>

        <div class="col-md-3" style="height: 400px;">
            <button type="submit" class="btn btn-block btn-primary">GENERUJ EXCEL</button>
        </div>

    </form>
</div>