﻿@using ACSystem.Core
@using ACSystem.Core.Models

@model ICollection<Apartments>

@{
    var ProjectID = ViewBag.ProjectID;
    var ApartmentID = ViewBag.ApartmentID;

    var returnID = (ApartmentID > 0) ? ApartmentID : ProjectID;
    var returnTypeID = (ApartmentID > 0) ? "ApartmentID" : "ProjectID";
}

<div class="tab-pane table-responsive no-padding" id="tab-tasks">

    <div id="accordion" class="col-md-3" style="height: 70vh; overflow-y: scroll;">
        @foreach (var a in Model)
        {
            <div class="panel box box-comment" style="margin-bottom: 0;">
                <div class="box-header with-border">
                    <h4 class="box-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#apartment-@a.Id" aria-expanded="false" class="collapsed">
                            LGH @a.Letter@a.NumberOfApartment
                        </a>
                    </h4>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-xs btn-primary show-details" data-box="#show-apartment-@a.Id">POKAŻ</button>
                    </div>
                </div>
                <div id="apartment-@a.Id" class="panel-collapse collapse" aria-expanded="false">
                    <div class="box-body table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Zadanie</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var t in a.Tasks)
                                {
                                    <tr>
                                        <td>
                                            @t.GetTaskName(t.Apartment.ProjectId) @t.TaskSufix
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-xs btn-primary show-details" data-box="#show-task-@t.Id">POKAŻ</button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-9">
        @foreach (var a in Model)
        {
            <div id="show-apartment-@a.Id" class="details-box hidden table-responsive">
                <h4>LGH @a.Letter@a.NumberOfApartment</h4>
                <br />
                <h5>RAPORT OGÓLNY</h5>
                <div style="height: 250px; overflow-y: scroll;">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Monter</th>
                                <th>Ilość</th>
                                <th>Czas</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{

                                var fittersList = new List<Fitters>();

                                foreach (var t in a.Tasks)
                                {
                                    foreach (var tf in t.Task_Fitter.Where(q => q.IsActive && q.Status != TaskStatus.Free && q.Status != TaskStatus.UnderWork && (q.WorkDone > 0 || q.WorkTime > 0)))
                                    {
                                        if (!fittersList.Any(q => q.Id == tf.FitterId))
                                        {
                                            fittersList.Add(tf.Fitter);
                                        }
                                    }
                                }

                                foreach (var f in fittersList)
                                {
                                    var forFitter = f.Task_Fitter.Where(q => q.IsActive && q.Task.ApartmentId == a.Id && q.FitterId == f.Id);
                                    var work = forFitter.Sum(q => q.WorkDone);
                                    var time = forFitter.Sum(q => q.WorkTime);

                                    <tr>
                                        <td>@f.User.FullName</td>
                                        <td>@work</td>
                                        <td>@(time / 60) h</td>
                                    </tr>
                                }

                                fittersList.Clear();
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                <h5>RAPORT SZCZEGÓŁOWY</h5>
                <div style="height: 250px; overflow-y: scroll;">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Zadanie</th>
                                <th>Monter</th>
                                <th>Ilość</th>
                                <th>Czas</th>
                                <th>Data</th>
                                <th>Timestamp</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var t in a.Tasks)
                            {
                                foreach (var tf in t.Task_Fitter.Where(q => q.IsActive && q.Status != TaskStatus.Free && q.Status != TaskStatus.UnderWork && (q.WorkDone > 0 || q.WorkTime > 0)))
                                {
                                    <tr>
                                        <td>@tf.Task.GetTaskName(tf.Task.Apartment.ProjectId) @tf.Task.TaskSufix</td>
                                        <td>@tf.Fitter.User.FullName</td>
                                        <td>@tf.WorkDone @tf.Task.Product.Jm</td>
                                        <td>@(tf.WorkTime / 60) h</td>
                                        <td>
                                            @if (tf.HandDateTime.HasValue)
                                            {
                                                Write(tf.HandDateTime.Value.ToString("yyyy-MM-dd HH:mm"));
                                            }
                                            else
                                            {
                                                Write(tf.Timestamp.ToString("yyyy-MM-dd HH:mm"));
                                            }
                                        </td>
                                        <td>@tf.Timestamp.ToString("yyyy-MM-dd HH:mm")</td>
                                        <td>
                                            <a href="/Reports/HorulyWorkReport_DisactiveWork?ActivityID=@tf.Id&IDType=@returnTypeID&ID=@returnID">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

                                foreach (var t in a.Tasks)
                                {
                                    foreach (var tf in t.Task_Fitter.Where(q => q.IsActive && q.Status != TaskStatus.Free && q.Status != TaskStatus.UnderWork && (q.WorkDone > 0 || q.WorkTime > 0)))
                                    {
                                        if (!fittersList.Any(q => q.Id == tf.FitterId))
                                        {
                                            fittersList.Add(tf.Fitter);
                                        }
                                    }

                <div id="show-task-@t.Id" class="details-box hidden table-responsive">
                    <h4>LGH @a.Letter@a.NumberOfApartment | Zadanie @t.GetTaskName(t.Apartment.ProjectId) @t.TaskSufix</h4>
                    <br />
                    <h5>RAPORT OGÓLNY</h5>
                    <div style="height: 250px; overflow-y: scroll;">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Monter</th>
                                    <th>Ilość</th>
                                    <th>Czas</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var f in fittersList)
                                {
                                    var forFitter = f.Task_Fitter.Where(q => q.IsActive && q.TaskId == t.Id && q.FitterId == f.Id);
                                    var work = forFitter.Sum(q => q.WorkDone);
                                    var time = forFitter.Sum(q => q.WorkTime);

                                    <tr>
                                        <td>@f.User.FullName</td>
                                        <td>@work</td>
                                        <td>@(time / 60) h</td>
                                    </tr>
                                } 
                                
                                @{
                                    fittersList.Clear();
                                }
                            </tbody>                            
                        </table>
                    </div>
                    <br />
                    <h5>RAPORT SZCZEGÓŁOWY</h5>
                    <div style="height: 250px; overflow-y: scroll;">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Monter</th>
                                    <th>Ilość</th>
                                    <th>Czas</th>
                                    <th>Data</th>
                                    <th>Timestamp</th>
                                    <th></th>
                                </tr>
                            </thead>
                            @foreach (var tf in t.Task_Fitter.Where(q => q.IsActive && q.Status != TaskStatus.Free && q.Status != TaskStatus.UnderWork && (q.WorkDone > 0 || q.WorkTime > 0)))
                            {
                                <tr>
                                    <td>@tf.Fitter.User.FullName</td>
                                    <td>@tf.WorkDone</td>
                                    <td>@(tf.WorkTime / 60)</td>
                                    <td>
                                        @if (tf.HandDateTime.HasValue)
                                        {
                                            Write(tf.HandDateTime.Value.ToString("yyyy-MM-dd HH:mm"));
                                        }
                                        else
                                        {
                                            Write(tf.Timestamp.ToString("yyyy-MM-dd HH:mm"));
                                        }
                                    </td>

                                    <td>@tf.Timestamp.ToString("yyyy-MM-dd HH:mm")</td>
                                    <td>
                                        <a href="/Reports/HorulyWorkReport_DisactiveWork?ActivityID=@t.Id&IDType=@returnTypeID&ID=@returnID">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            }
        }
    </div>
</div>