﻿@using ACSystem.Core.Models

@model Dictionary<int, List<Task_Fitter>>

@{ 
    var ProjectID = ViewBag.ProjectID;
    var ApartmentID = ViewBag.ApartmentID;

    var returnID = (ApartmentID > 0) ? ApartmentID : ProjectID;
    var returnTypeID = (ApartmentID > 0) ? "ApartmentID" : "ProjectID";
}

<div class="tab-pane table-responsive no-padding" id="tab-double">
    @foreach (var m in Model.Keys)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Monter</th>
                    <th>LGH</th>
                    <th>Zadanie</th>
                    <th>Data</th>
                    <th>Timestamp</th>
                    <th>Ilość</th>
                    <th>Czas</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model[m])
                {
                    <tr>
                        <td>@t.Fitter.User.FullName</td>
                        <td>@t.Task.Apartment.Letter@t.Task.Apartment.NumberOfApartment</td>
                        <td>@t.Task.GetTaskName(t.Task.Apartment.ProjectId) @t.Task.TaskSufix</td>
                        <td>
                            @if (t.HandDateTime.HasValue)
                            {
                                Write(t.HandDateTime.Value.ToString("yyyy-MM-dd HH:mm"));
                            }
                            else
                            {
                                Write(t.Timestamp.ToString("yyyy-MM-dd HH:mm"));
                            }
                        </td>
                        <td>@t.Timestamp.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>@t.WorkDone</td>
                        <td>@(t.WorkTime / 60)</td>
                        <td>
                            <a href="/Reports/HorulyWorkReport_DisactiveWork?ActivityID=@t.Id&IDType=@returnTypeID&ID=@returnID">
                                <i class="fa fa-remove"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>