﻿@using ACSystem.Core
@using ACSystem.Core.Models

@model ICollection<Apartments>

@{
    var ProjectID = ViewBag.ProjectID;
    var ApartmentID = ViewBag.ApartmentID;

    var returnID = (ApartmentID > 0) ? ApartmentID : ProjectID;
    var returnTypeID = (ApartmentID > 0) ? "ApartmentID" : "ProjectID";

    var tasks = new List<Tasks>();
    var fitters = new List<Fitters>();

    foreach (var a in Model)
    {
        tasks.AddRange(a.Tasks);

        foreach (var t in a.Tasks)
        {
            fitters.AddRange(t.Task_Fitter.Where(q => q.IsActive && q.Status != TaskStatus.Free && q.Status != TaskStatus.UnderWork && (q.WorkDone > 0 || q.WorkTime > 0)).Select(q => q.Fitter));
        }
    }

    var fittersGrouped = fitters.GroupBy(q => q.Id);
}

<div class="tab-pane table-responsive no-padding" id="tab-fitters">

    <div class="col-md-3" style="height: 70vh; overflow-y: scroll;">
        <table class="table">
            <thead>
                <tr>
                    <th>Monter</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in fittersGrouped)
                {
                    <tr>
                        <td>@a.FirstOrDefault().User.FullName</td>
                        <td>
                            <button type="button" class="btn btn-xs btn-primary show-details" data-box="#show-fitter-@a.Key">POKAŻ</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-9">
        @foreach (var a in fittersGrouped)
        {
            var currentFitter = a.FirstOrDefault();

            <div id="show-fitter-@a.Key" class="details-box hidden table-responsive">
                <h4>@currentFitter.User.FullName</h4>
                <br />
                <h5>RAPORT OGÓLNY</h5>
                <div style="height: 100px; overflow-y: scroll;">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Ilość</th>
                                <th>Czas</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ 
                                var forFitter = currentFitter.Task_Fitter.Where(q => q.IsActive && q.Task.Apartment.ProjectId == ProjectID);
                                var work = forFitter.Sum(q => q.WorkDone);
                                var time = forFitter.Sum(q => q.WorkTime);

                                <tr>
                                    <td>@work</td>
                                    <td>@(time / 60) h</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                <h5>RAPORT SZCZEGÓŁOWY</h5>
                <div style="height: 400px; overflow-y: scroll;">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>LGH</th>
                                <th>Zadanie</th>
                                <th>Ilość</th>
                                <th>Czas</th>
                                <th>Data</th>
                                <th>Timestamp</th>
                                <th></th>
                            </tr>
                        </thead>
                        @foreach (var tf in currentFitter.Task_Fitter.Where(q => q.IsActive && q.Task.Apartment.ProjectId == ProjectID && q.Status != TaskStatus.Free && q.Status != TaskStatus.UnderWork && (q.WorkDone > 0 || q.WorkTime > 0)))
                        {
                            <tr>
                                <td>@tf.Task.Apartment.Letter@tf.Task.Apartment.NumberOfApartment</td>
                                <td>@tf.Task.GetTaskName(tf.Task.Apartment.ProjectId) @tf.Task.TaskSufix</td>
                                <td>@tf.WorkDone @tf.Task.Product.Jm</td>
                                <td>@(tf.WorkTime / 60) h</td>
                                <td>
                                    @if (tf.HandDateTime.HasValue)
                                    {
                                        Write(tf.HandDateTime.Value.ToString("yyyy-MM-dd HH:mm"));
                                    }
                                    else
                                    {
                                        Write(tf.Timestamp.ToString("yyyy-MM-dd HH:mm"));
                                    }
                                </td>
                                <td>@tf.Timestamp.ToString("yyyy-MM-dd HH:mm")</td>
                                <td>
                                    <a href="/Reports/HorulyWorkReport_DisactiveWork?ActivityID=@tf.Id&IDType=@returnTypeID&ID=@returnID">
                                        <i class="fa fa-remove"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        }
    </div>
</div>