﻿@using ACSystem.Core
@using ACSystem.Core.Models

@model ICollection<Apartments>

@{
    var ProjectID = ViewBag.ProjectID;
    var ApartmentID = ViewBag.ApartmentID;

    var returnID = (ApartmentID > 0) ? ApartmentID : ProjectID;
    var returnTypeID = (ApartmentID > 0) ? "ApartmentID" : "ProjectID";

    var tasks = new List<Tasks>();
    var products = new List<Products>();

    foreach (var a in Model)
    {
        tasks.AddRange(a.Tasks);
        products.AddRange(a.Tasks.Select(q => q.Product));
    }

    var productsGrouped = products.GroupBy(q => q.Id);
}

<div class="tab-pane table-responsive no-padding" id="tab-products">

    <div class="col-md-3" style="height: 70vh; overflow-y: scroll;">
        <table class="table">
            <thead>
                <tr>
                    <th>Produkt</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in productsGrouped)
                {
                    <tr>
                        <td>@a.FirstOrDefault().Name</td>
                        <td>
                            <button type="button" class="btn btn-xs btn-primary show-details" data-box="#show-product-@a.Key">POKAŻ</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-9">
        @foreach (var a in productsGrouped)
        {
            <div id="show-product-@a.Key" class="details-box hidden table-responsive">
                <h4>@a.FirstOrDefault().Name</h4>
                <br />
                <h5>RAPORT OGÓLNY</h5>
                <div style="height: 250px; overflow-y: scroll;">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Monter</th>
                                <th>Ilość</th>
                                <th>Czas</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ 
                                var fittersList = new List<Fitters>();

                                foreach (var t in tasks.Where(q => q.ProductId == a.Key))
                                {
                                    foreach (var tf in t.Task_Fitter.Where(q => q.IsActive && q.Status != TaskStatus.Free && q.Status != TaskStatus.UnderWork && (q.WorkDone > 0 || q.WorkTime > 0)))
                                    {
                                        if (!fittersList.Any(q => q.Id == tf.FitterId))
                                        {
                                            fittersList.Add(tf.Fitter);
                                        }
                                    }
                                }

                                foreach (var f in fittersList)
                                {
                                    var forFitter = f.Task_Fitter.Where(q => q.IsActive && q.Task.Apartment.ProjectId == ProjectID && q.Task.ProductId == a.Key);
                                    var work = forFitter.Sum(q => q.WorkDone);
                                    var time = forFitter.Sum(q => q.WorkTime);

                                    <tr>
                                        <td>@f.User.FullName</td>
                                        <td>@work @a.FirstOrDefault().Jm</td>
                                        <td>@(time / 60) h</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <br />
                <h5>RAPORT SZCZEGÓŁOWY</h5>
                <div style="height: 250px; overflow-y: scroll;">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>LGH</th>
                                <th>Monter</th>
                                <th>Ilość</th>
                                <th>Czas</th>
                                <th>Data</th>
                                <th>Timestamp</th>
                                <th></th>
                            </tr>
                        </thead>
                        @foreach (var t in tasks.Where(q => q.ProductId == a.Key))
                        {
                            foreach (var tf in t.Task_Fitter.Where(q => q.IsActive && q.Status != TaskStatus.Free && q.Status != TaskStatus.UnderWork && (q.WorkDone > 0 || q.WorkTime > 0)))
                            {
                                <tr>
                                    <td>@tf.Task.Apartment.Letter@tf.Task.Apartment.NumberOfApartment</td>
                                    <td>@tf.Fitter.User.FullName</td>
                                    <td>@tf.WorkDone @tf.Task.Product.Jm</td>
                                    <td>@(tf.WorkTime / 60) h</td>
                                    <td>
                                        @if (tf.HandDateTime.HasValue)
                                        {
                                            Write(tf.HandDateTime.Value.ToString("yyyy-MM-dd HH:mm"));
                                        }
                                        else
                                        {
                                            Write(tf.Timestamp.ToString("yyyy-MM-dd HH:mm"));
                                        }
                                    </td>
                                    <td>@tf.Timestamp.ToString("yyyy-MM-dd HH:mm")</td>
                                    <td>
                                        <a href="/Reports/HorulyWorkReport_DisactiveWork?ActivityID=@tf.Id&IDType=@returnTypeID&ID=@returnID">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        }
    </div>
</div>