﻿@model ICollection<DateTime>

@{ 
    var ProjectID = ViewBag.ProjectID;
    var ApartmentID = ViewBag.ApartmentID;
}

<div class="tab-pane table-responsive no-padding active" id="tab-days-unchecked">
    @foreach (var d in Model.OrderBy(q => q.Date))
    {
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center">
            <div style="border: 1px solid #808080; padding: 15px 0; background: #c7c6c6; margin-bottom: 15px;">
                <a href="/Reports/HourlyWorkReportDetails?ProjectID=@ProjectID&ApartmentID=@ApartmentID&Day=@d.ToString("yyyy-MM-dd")">
                    <span style="color: black; font-size: 18px; font-weight: bold;">
                        @d.Day.ToString().PadLeft(2, '0')
                        .
                        @d.Month.ToString().PadLeft(2, '0')
                    </span>
                    <br />
                    <span style="color: black;">
                        @d.Year.ToString()
                    </span>
                </a>
            </div>
        </div>
    }
</div>