﻿@model ACSystem.Core.Models.Customers

@{
    ViewBag.Title = "Dodaj";
    ViewBag.Description = "Nowy klient ACSystem";
    ViewBag.Active = "Customers";
    ViewBag.SubActive = "Create";
}

@section Scripts {
    @Scripts.Render("~/Scripts/Site/customers-details.js")
}

<section class="content">
    @using (Html.BeginForm("Create", "Customers", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Dane klienta</h3>
                        <div class="box-tools pull-right">
                            <button type="submit" class="btn btn-sm btn-primary" title="Dodaj">
                                DODAJ
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Wpisz nazwę klienta" })
                        </div>
                        <div class="col-xs-9 form-group" style="padding-left: 0">
                            @Html.TextBoxFor(m => m.Street, new { @class = "form-control", placeholder = "Wpisz ulicę" })
                        </div>
                        <div class="col-xs-3 form-group" style="padding-right: 0">
                            @Html.TextBoxFor(m => m.HouseNo, new { @class = "form-control", placeholder = "Nr. domu" })
                        </div>
                        <div class="col-xs-4 form-group" style="padding-left: 0">
                            @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control", placeholder = "Kod pocztowy" })
                        </div>
                        <div class="col-xs-8 form-group" style="padding-right: 0">
                            @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "Wpisz miasto" })
                        </div>
                        <div class="form-group" style="padding-right: 0">
                            @Html.LabelFor(m => m.VATNumber, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.VATNumber, new { @class = "form-control", placeholder = "VAT" })
                        </div>
                        <div class="form-group" style="padding-right: 0">
                            @Html.LabelFor(m => m.VAT, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.VAT, new { @class = "form-control", placeholder = "VAT" })
                        </div>
                        <div class="form-group" style="padding-right: 0">
                            @Html.LabelFor(m => m.ReverseCharge, new { @class = "control-label" })
                            @Html.CheckBoxFor(m => m.ReverseCharge)
                        </div>
                    </div>
                </div>   
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Dane kontaktowe</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Wpisz email klienta" })
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Informacje dodatkowe</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.PaymentTerm, new { @class = "control-label" })
                            <input type="number" id="PaymentTerm" name="PaymentTerm" class="form-control" placeholder="Liczba dni" value="@Model.PaymentTerm"/>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.DocumentsLeanguage, new { @class = "control-label" })
                            <select class="form-control select2" name="DocumentsLeanguage" id="DocumentsLeanguage" data-placeholder="Wybierz menedżera projektu" style="width: 100%;">
                                <option value="0" @if (Model != null && Model.DocumentsLeanguage == ACSystem.Core.Leanguage.Polish) { Write("selected"); }>Polski</option>
                                <option value="1" @if (Model != null && Model.DocumentsLeanguage == ACSystem.Core.Leanguage.English) { Write("selected"); }>Angielski</option>
                                <option value="2" @if (Model != null && Model.DocumentsLeanguage == ACSystem.Core.Leanguage.Swedish) { Write("selected"); }>Szwedzki</option>
                            </select>
                        </div>
                        <div class="form-group">
                            @Html.HiddenFor(m => m.AutoSendEmail, new { @value = "0" } )
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>

