﻿@using ACSystem.Core;
@model ACSystem.Core.Models.Customers

@{
    ViewBag.Title = "Szczegóły";
    ViewBag.Description = "Informacje o kliencie ACSystem - " + Model.Name;
    ViewBag.Active = "Customers";
    ViewBag.SubActive = "List";
}

@section Styles {

    @Styles.Render("~/Content/Site/customers.css")

}

@section Scripts {    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    @Scripts.Render("~/Scripts/plugins/paging/paging.js")
    @Scripts.Render("~/Scripts/Site/customers-details.js")
    <script>
        var data = {
            current: "@Model.Id",
            dest: localStorage.getItem("customer-dest"),
            orderby: localStorage.getItem("customer-orderby"),
            search: localStorage.getItem("customer-search"),
            filter: localStorage.getItem("customer-filter")
        }

        var successFn = function (data) {
            var buttons = "";

            if (data.prev != "" && data.prev != null)
                buttons += '<a href="/Customers/Details/' + data.prev + '" class="btn btn-primary btn-sm" title="Poprzedni klient"><i class="fa fa-angle-left"></i></a>';

            if (data.next != "" && data.next != null)
                buttons += '<a href="/Customers/Details/' + data.next + '" class="btn btn-primary btn-sm" title="Następny klient"><i class="fa fa-angle-right"></i></a>';

            $("#prev-next-btns").append(buttons);
        }

        var errorFn = function () { }

        GetAjaxWithFunctions("/Customers/GetPrevNextID", "POST", data, successFn, errorFn, "");

        $('.table-pagination').paging({
            limit: 5,
            activePage: localStorage.getItem("customer-projects-" + @Model.Id),
            webdataString: "customer-projects-" + @Model.Id
        });
    </script>    
}

<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">DANE KLIENTA</h3>
                    <div class="box-tools pull-right" id="prev-next-btns">
                        <a href="/Customers/Edit/@Model.Id" class="btn btn-sm btn-primary" title="Edytuj">
                            EDYTUJ
                        </a>
                        @*@if (ViewBag.Prev != null)
                        {
                            <a href="/Customers/Details/@ViewBag.Prev" class="btn btn-primary btn-sm" title="Poprzedni klient"><i class="fa fa-angle-left"></i></a>
                        }
                        @if (ViewBag.Next != null)
                        {
                            <a href="/Customers/Details/@ViewBag.Next" class="btn btn-primary btn-sm" title="Następny klient"><i class="fa fa-angle-right"></i></a>
                        }*@
                    </div>
                </div>
                <div class="box-body user-info">
                    <p class="customer-name">@Model.Name</p>
                    <p class="customer-address">@Model.Street @Model.HouseNo</p>
                    <p class="customer-city">@Model.PostalCode @Model.City</p>
                    <p class="customer-nip">NIP: @Model.VATNumber</p>
                    <p class="customer-vat">VAT: @Model.VAT%</p>
                </div>
            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Informacje dodatkowe</h3>
                </div>
                <div class="box-body user-contact">
                    <table class="table">
                        <tr>
                            <th>Termin płatności</th>
                            <td>@Model.PaymentTerm @if (Model.PaymentTerm == 1) { Write("dzień"); } else { Write("dni"); }</td>
                        </tr>
                        <tr>
                            <th>Język dokumentów</th>
                            <td>
                                @if (Model.DocumentsLeanguage == Leanguage.Polish)
                                {
                                    Write("Polski");
                                }
                                else if (Model.DocumentsLeanguage == Leanguage.English)
                                {
                                    Write("Angielski");
                                }
                                else
                                {
                                    Write("Szwedzki");
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Dane kontaktowe</h3>
                </div>
                <div class="box-body user-contact">
                    <p class="customer-email"><a href="mailto:@Model.Email" title="@Model.Email">Napisz do klienta</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">PROJEKTY</h3>
                    <div class="box-tools pull-right">
                        <a class="btn btn-sm btn-primary" href="/Projects/Create?customer_id=@Model.Id" title="Dodaj">
                            DODAJ
                        </a>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover table-pagination">
                        <thead>
                            <tr>
                                <th>Numer projektu</th>
                                <th>Adres</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var project in Model.Projects)
                            {
                                <tr class="tr-clickable">
                                    <td class="project-details" data-project-id="@project.Id">@project.ProjectNumber</td>
                                    <td class="project-details" data-project-id="@project.Id">@project.Street, @project.City</td>
                                    <td class="project-details" data-project-id="@project.Id">
                                        @switch (project.Status)
                                        {
                                            case ProjectStatus.NotStarted:
                                                <span class='label label-default'>Nie rozpoczęte</span>
                                                break;
                                            case ProjectStatus.UnderWork:
                                                <span class='label label-warning'>W trakcie</span>
                                                break;
                                            case ProjectStatus.Finished:
                                                <span class='label label-success'>Zakończone</span>
                                                break;
                                            case ProjectStatus.FinishedWithFaults:
                                                <span class='label label-danger'>Zakończone z błędami</span>
                                                break;
                                        }
                                    </td>
                                    <td>
                                        <div class="crud-container">
                                            <a href="/Projects/Details/@project.Id" class="crud crud-edit"><i class="glyphicon glyphicon-eye-open"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Menedżer projektu</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-sm btn-primary manager-add" title="Dodaj">
                            DODAJ
                        </button>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th width="20px;"><i class="text-danger fa fa-lock"></i></th>
                                <th>Imię i nazwisko</th>
                                <th>Email</th>
                                <th>Telefon</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var manager in Model.ProjectManagers)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" class="block-pm" data-pm-id="@manager.Id" value="True" @if (manager.IsLocked) { Write("checked"); } />
                                    </td>
                                    <td>@manager.Name</td>
                                    <td><a href="mail:@manager.Email" title="@manager.Email">@manager.Email</a></td>
                                    <td>@manager.PhoneNumber</td>
                                    <td>
                                        <div class="crud-container">
                                            <span class="crud crud-edit manager-edit" data-manager-id="@manager.Id"><i class="glyphicon glyphicon-pencil"></i></span>
                                            <span class="crud crud-delete manager-delete" data-manager-id="@manager.Id"><i class="glyphicon glyphicon-remove"></i></span>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="modal" class="cal-modal cal-modal-form cal-modal-top">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Dodaj menedżera</h4>
            </div>
        @using (Html.BeginForm("ProjectManagerCreate", "Customers", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                @Html.Hidden("Id", Model.Id)
                <div class="col-xs-4 form-group" style="padding-left: 0">
                    <input type="text" name="Name" class="form-control" id="Name" placeholder="Imię i nazwisko" />
                </div>
                <div class="col-xs-4 form-group" style="padding-left: 0">
                    <input type="text" name="Email" class="form-control" id="Email" placeholder="Email" />
                </div>
                <div class="col-xs-4 form-group" style="padding-left: 0">
                    <input type="text" name="PhoneNumber" class="form-control" id="PhoneNumber" placeholder="Numer telefonu" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Anuluj</button>
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>
        }
        </div>
    </div>
</div>

<div id="modal-edit" class="cal-modal cal-modal-form cal-modal-top">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Edytuj menedżera</h4>
            </div>
            @using (Html.BeginForm("ProjectManagerEdit", "Customers", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    @Html.Hidden("CustomerId", Model.Id)
                    <input type="hidden" id="Id" name="Id" value="" />
                    <div class="col-xs-4 form-group" style="padding-left: 0">
                        <input type="text" name="Name" class="form-control" id="Name" placeholder="Imię i nazwisko" />
                    </div>
                    <div class="col-xs-4 form-group" style="padding-left: 0">
                        <input type="text" name="Email" class="form-control" id="Email" placeholder="Email" />
                    </div>
                    <div class="col-xs-4 form-group" style="padding-left: 0">
                        <input type="text" name="PhoneNumber" class="form-control" id="PhoneNumber" placeholder="Numer telefonu" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-primary">Zapisz</button>
                </div>
            }
        </div>
    </div>
</div>
