﻿@model ICollection<ACSystem.Core.Models.InventoryType>
@using ACSystem.Core

@{
    ViewBag.Title = "Dodawanie / wybieranie typu maszyny";
    Layout = "~/Views/Shared/Layouts/Popup.cshtml";    
}

@section Scripts {
    <script>
        $("#add-type").click(function () {
            var name = $("#type-name").val();

            CreateTypeInDatabase(name, false);

            $("#type-name").val("");
        });

        $("#add-and-choose-type").click(function () {
            var name = $("#type-name").val();

            CreateTypeInDatabase(name, true);

            $("#type-name").val("");
        });

        $(document).on("click", ".choose-type", function () {
            var name = $(this).data("name");
            var typeID = $(this).data("id");

            CreateConnect(name, typeID);
        });

        function CreateTypeInDatabase(name, createInParent) {
            var data = {
                Name: name
            };

            var successFn = function (data) {
                if (data.success) {
                    CreateRowInThisWindow(name, data.ID);

                    if (createInParent)
                        FillTypeFieldInParentWindow(name, data.ID);

                    toastr.success("Pomyślnie dodano rodzaj !");
                }
                else
                    toastr.error("Wystąpił błąd podczas dodawania rodzaju !");
            }

            var errorFn = function () {
                toastr.error("Wystąpił błąd podczas dodawania rodzaju !");
            }

            GetAjaxWithFunctions("/Popup/AJAX_CreateType", "POST", data, successFn, errorFn, "");
        }

        function CreateConnect(name, typeID) {
            FillTypeFieldInParentWindow(name, typeID);
        }

        function CreateRowInThisWindow(name, typeID) {
            var row = "<tr>";
            row += "<td>" + name + "</td>";
            row += '<td><button type="button" class="btn btn-xs btn-success choose-type" data-name="' + name + '" data-id="' + typeID + '"><i class="fa fa-plus"></i></button>';
            row += "</tr>";

            row += $("table tbody").html();

            $("table tbody").html(row);
        }

        function FillTypeFieldInParentWindow(name, typeID) {
            if (window.opener != null && !window.opener.closed) {
                var typeIDField = window.opener.$("#TypeID");
                var typeField = window.opener.$("#Type");

                typeIDField.val(typeID);
                typeField.val(name);

                window.close();
            }
        }
    </script>
}

<div class="col-xs-8 col-xs-offset-2">
    <h4 class="text-center">Dodawanie / wybieranie typu maszyny</h4>

    <hr />

    <div class="form-group">
        <label class="control-label">Nazwa typu maszyny</label>
        <input type="text" id="type-name" class="form-control" placeholder="Wpisz nazwę"/>        
    </div>
    <div class="form-group col-xs-6" style="padding-left: 0;">
        <button type="button" id="add-type" class="btn btn-block btn-primary">DODAJ</button>
    </div>
    <div class="form-group col-xs-6" style="padding-right: 0;">
        <button type="button" id="add-and-choose-type" class="btn btn-block btn-primary">DODAJ I PRZYPISZ</button>
    </div>

    <hr />

    <div class="col-xs-12" style="padding-left: 0; padding-right: 0;">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Typ maszyny</th>
                    <th width="30px"></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var type in Model.OrderBy(q => q.Name))
            {
                    <tr>
                        <td>
                            @type.Name
                        </td>
                        <td>
                            <button type="button" class="btn btn-xs btn-success choose-type" data-name="@type.Name" data-id="@type.ID"><i class="fa fa-plus"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>