﻿@model ICollection<ACSystem.Core.Models.Inventory_Accessories>
@using ACSystem.Core

@{
    ViewBag.Title = "Dodawanie / wybieranie akcesoriów";
    Layout = "~/Views/Shared/Layouts/Popup.cshtml";

    var inventoryID = (ViewBag.InventoryID != null) ? (int)ViewBag.InventoryID : -1;
}

@section Scripts {
    <script>
        $("#add-accessory").click(function () {
            var evidenceNo = $("#evidence-number").val();
            var name = $("#accessory-name").val();
            var photoURL = $("#check-photo").val();
            var inventoryID = $("#inventory-id").val();

            CreateAccessoryInDatabase(evidenceNo, name, photoURL, inventoryID, false);

            $("#evidence-number").val("");
            $("#accessory-name").val("");
            $("#check-photo-div").html("");
            $("#check-photo").val("")
        });

        $("#add-and-choose-accessory").click(function () {
            var evidenceNo = $("#evidence-number").val();
            var name = $("#accessory-name").val();
            var photoURL = $("#check-photo").val();
            var inventoryID = $("#inventory-id").val();

            CreateAccessoryInDatabase(evidenceNo, name, photoURL, inventoryID, true);

            $("#evidence-number").val("");
            $("#accessory-name").val("");
            $("#check-photo-div").html("");
            $("#check-photo").val("")
        });

        $(document).on("click", ".choose-accessory", function () {
            var evidenceNo = $(this).data("evidenve-number");
            var name = $(this).data("name");
            var photoURL = $(this).data("url");
            var inventoryID = $("#inventory-id").val();
            var accessoryID = $(this).data("id");

            CreateConnect(evidenceNo, name, photoURL, inventoryID, accessoryID);
        });

        $("#check-img").change(function () {
            var formData = new FormData();
            var totalFiles = document.getElementById("check-img").files.length;
            var data = {};
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("check-img").files[i];
                formData.append("check-img", file);
            }

            $.ajax({
                type: "POST",
                url: "/Popup/AJAX_UploadCheckConditionImage",
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $("#check-photo-div").LoadingOverlay("show");
                },
                success: function (data) {
                    if (data.success) {
                        $("#check-photo-div").html('<img class="img-responsive" src="' + data.URL + '" alt="" />');
                        $("#check-photo").val(data.URL)

                        toastr.success("Pomyślnie dodano zdjęcie !");
                    }
                    else
                        toastr.error("Wystąpił błąd podczas wgrywania zdjęcia");
                },
                error: function (error) {
                    toastr.error("Wystąpił błąd podczas wgrywania zdjęcia");
                },
                complete: function () {
                    $("#check-photo-div").LoadingOverlay("hide", true);
                }
            });
        });

        function CreateAccessoryInDatabase(evidenceNo, name, photoURL, inventoryID, createInParent) {
            var data = {
                EvidenceNumber: evidenceNo,
                Name: name,
                URL: photoURL,
                InventoryID: (createInParent) ? inventoryID : -1
            };

            var successFn = function (data) {
                if (data.success) {
                    CreateRowInThisWindow(evidenceNo, name, photoURL, data.ID);

                    if (createInParent)
                        CreateRowInParentWindow(evidenceNo, name, photoURL, data.ID);

                    toastr.success("Pomyślnie dodano akcesorium !");
                }
                else
                    toastr.error("Wystąpił błąd podczas dodawania akcesorium !");
            }

            var errorFn = function () {
                toastr.error("Wystąpił błąd podczas dodawania akcesorium !");
            }

            GetAjaxWithFunctions("/Popup/AJAX_CreateAccessory", "POST", data, successFn, errorFn, "");
        }

        function CreateConnect(evidenceNo, name, photoURL, inventoryID, accessoryID) {
            if (inventoryID > 0) {
                var data = {
                    InventoryID: inventoryID,
                    AccessoryID: accessoryID
                };

                var successFn = function (data) {
                    CreateRowInParentWindow(evidenceNo, name, photoURL, accessoryID);

                    toastr.success("Pomyślnie stworzono powiązanie !");
                }

                var errorFn = function () {
                    toastr.error("Wystąpił błąd podczas tworzenia powiązania !");
                }

                GetAjaxWithFunctions("/Popup/AJAX_CreateAccessoryConnect", "POST", data, successFn, errorFn, "");
            }
            else
                CreateRowInParentWindow(evidenceNo, name, photoURL, accessoryID);
        }

        function CreateRowInThisWindow(evidenceNo, name, photoURL, accessoryID) {
            var row = "<tr>";
            row += "<td>" + evidenceNo + "</td>";
            row += "<td>" + name + "</td>";
            row += '<td class="text-center"><a target="_blank" href="' + photoURL + '" class="btn btn-lat btn-xs btn-primary text-center"><i class="fa fa-eye"></i></a></td>';
            row += '<td class="text-center"><button type="button" class="btn btn-xs btn-success choose-accessory" data-evidence-numer="' + evidenceNo + '" data-name="' + name + '" data-id="' + accessoryID + '" data-url="' + photoURL + '" > <i class="fa fa-plus"></i></button > ';
            row += "</tr>";

            row += $("table tbody").html();

            $("table tbody").html(row);
        }

        function CreateRowInParentWindow(evidenceNo, name, photoURL, accessoryID) {
            var row = "<tr>";
            row += "<td>" + evidenceNo + "</td>";
            row += "<td>" + name + ' <input type="hidden" name="AccessoriesID[]" value="' + accessoryID + '" /></td>';
            row += '<td class="text-center"><a target="_blank" href="' + photoURL + '" class="btn btn-flat btn-xs btn-primary text-center"><i class="fa fa-eye"></i></a></td>';
            row += '<td class="text-center"><button type="button" class="btn btn-danger btn-xs btn-flat delete-accessory" data-accessory-id="-1"><i class="fa fa-trash"></i></button></td>';
            row += "</tr>";

            if (window.opener != null && !window.opener.closed) {
                var accessoryTable = window.opener.$("#accessory-table tbody");

                accessoryTable.append(row);
            }
        }
    </script>
    <script>
        var dropzone = $(".file-dropzone.for-inventory").dropzone({
            sending: function (file, xhr, formData) {
                var inventoryID = $(".file-dropzone.for-inventory").data("inventory-id");
                // Will send the filesize along with the file as POST data.
                formData.append("InventoryID", inventoryID);
                $("#check-photo-div").LoadingOverlay("show");
            },
            success: function (first, response) {
                if (response.result === "true") {
                    toastr.success("Plik został dodany!");
                    $("#check-photo-div").html('<img class="img-responsive" src="' + response.URL + '" alt="" />');
                    $("#check-photo").val(response.URL)     
                    $("#check-photo-div").LoadingOverlay("hide", true);
                }
            },
            successMultiple: function (first, response) {
                if (response.result === "true") {
                    toastr.success("Plik został dodany!");
                    $("#check-photo-div").html('<img class="img-responsive" src="' + response.URL + '" alt="" />');
                    $("#check-photo").val(response.URL)     
                    $("#check-photo-div").LoadingOverlay("hide", true);
                }
            }
        });
    </script>
}


<div class="col-xs-8 col-xs-offset-2">
    <h4 class="text-center">Dodawanie / wybieranie akcesoriów</h4>

    <hr />
    <div class="form-group">
        <label class="control-label">Numer seryjny</label>
        <input type="text" class="form-control" id="evidence-number" />
    </div>
    <div class="form-group">
        <label class="control-label">Nazwa nowego akcesorium</label>
        <input type="text" id="accessory-name" class="form-control" />
        <input type="hidden" id="inventory-id" value="@inventoryID" />
        <input type="hidden" id="check-photo" name="check-photo" value="" />
    </div>
    @*<div class="form-group">
            <div class="fileUpload btn btn-block btn-primary">
                <span>DODAJ ZDJĘCIE</span>
                <input type="file" class="upload" id="check-img" name="check-img" accept="image/*" />
            </div>
        </div>*@

    <form action="/Popup/AJAX_AddInventoryFile" id="inventoryFile" class="file-dropzone for-inventory" data-inventory-id="@inventoryID">
        <div class="dz-default dz-message"><span>Upuśc pliki lub kliknij by dodać plik</span></div>
    </form>

    <div id="check-photo-div" class="col-xs-12" style="padding: 10px 0;">

    </div>

    <div class="form-group">
        <button type="button" id="add-and-choose-accessory" class="btn btn-block btn-primary">DODAJ AKCESORIUM</button>
    </div>
</div>