﻿@model ICollection<ACSystem.Core.Models.InventoryWarehouse>
@using ACSystem.Core

@{
    ViewBag.Title = "Dodawanie / wybieranie magazynów";
    Layout = "~/Views/Shared/Layouts/Popup.cshtml";

    var inventoryID = (ViewBag.InventoryID != null) ? (int)ViewBag.InventoryID : -1;
    
}

@section Scripts {
    <script>
        $("#add-warehouse").click(function () {
            var street = $("#warehouse-street").val();
            var city = $("#warehouse-city").val();
            var country = $("#warehouse-country").val();

            CreateWarehouseInDatabase(street, city, country, false);

            $("#warehouse-street").val("");
            $("#warehouse-city").val("");
            $("#warehouse-country").val("");
        });

        $("#add-and-choose-warehouse").click(function () {
            var street = $("#warehouse-street").val();
            var city = $("#warehouse-city").val();
            var country = $("#warehouse-country").val();

            CreateWarehouseInDatabase(street, city, country, true);

            $("#warehouse-street").val("");
            $("#warehouse-city").val("");
            $("#warehouse-country").val("");
        });

        $(document).on("click", ".choose-warehouse", function () {
            var name = $(this).data("name");
            var warehouseID = $(this).data("id");

            CreateConnect(name, warehouseID);
        });

        $(document).on("click", ".delete-warehouse", function () {
            var tr = $(this).closest("tr");
            
            var data = {
                ID: $(this).data("id")
            };

            var successFn = function (data) {
                if (data.success) {
                    tr.remove();

                    toastr.success("Pomyślnie usunięto magazyn !");
                }
                else
                    toastr.error("Wystąpił błąd podczas usuwania magazynu !");
            }

            var errorFn = function () {
                toastr.error("Wystąpił błąd podczas usuwania magazynu !");
            }

            GetAjaxWithFunctions("/Popup/AJAX_DeleteWarehouse", "POST", data, successFn, errorFn, tr);
        });

        function CreateWarehouseInDatabase(street, city, country, createInParent) {
            var data = {
                Street: street,
                City: city,
                Country: country,
            };

            var successFn = function (data) {
                if (data.success) {
                    CreateRowInThisWindow(street, city, country, data.ID);

                    if (createInParent)
                        FillWarehouseFieldInParentWindow(street + ", " + city + ", " + country, data.ID);

                    toastr.success("Pomyślnie dodano akcesorium !");
                }
                else
                    toastr.error("Wystąpił błąd podczas dodawania akcesorium !");
            }

            var errorFn = function () {
                toastr.error("Wystąpił błąd podczas dodawania akcesorium !");
            }

            GetAjaxWithFunctions("/Popup/AJAX_CreateWarehouse", "POST", data, successFn, errorFn, "");
        }

        function CreateConnect(name, warehouseID) {
            FillWarehouseFieldInParentWindow(name, warehouseID);
        }

        function CreateRowInThisWindow(street, city, country, warehouseID) {
            var row = "<tr>";
            row += "<td>" + city + "</td>";
            row += "<td>" + street + "</td>";
            row += "<td>" + country + "</td>";
            row += '<td><button type="button" class="btn btn-xs btn-flat btn-success choose-warehouse" data-name="' + street + ', ' + city + ', ' + country + '" data-id="' + warehouseID + '"><i class="fa fa-plus"></i></button>';
            row += "</tr>";

            row += $("table tbody").html();

            $("table tbody").html(row);
        }

        function FillWarehouseFieldInParentWindow(name, warehouseID) {
            if (window.opener != null && !window.opener.closed) {
                var wareHouseIDField = window.opener.$("#WarehouseID");
                var warehouseField = window.opener.$("#Warehouse");

                wareHouseIDField.val(warehouseID);
                warehouseField.val(name);

                window.close();
            }
        }
    </script>
}

<div class="col-xs-8 col-xs-offset-2">
    <h4 class="text-center">Dodawanie / wybieranie magazynu</h4>

    <hr />

    <div class="form-group">
        <label class="control-label">Adres magazynu</label>
        <input type="text" id="warehouse-street" class="form-control" placeholder="Ulica"/>        
    </div>
    <div class="form-group col-xs-6" style="padding-left: 0;">
        <input type="text" id="warehouse-city" class="form-control" placeholder="Miasto" />
    </div>
    <div class="form-group col-xs-6" style="padding-right: 0;">
        <input type="text" id="warehouse-country" class="form-control" placeholder="Kraj" />
    </div>
    <div class="form-group col-xs-6" style="padding-left: 0;">
        <button type="button" id="add-warehouse" class="btn btn-block btn-primary">DODAJ</button>
    </div>
    <div class="form-group col-xs-6" style="padding-right: 0;">
        <button type="button" id="add-and-choose-warehouse" class="btn btn-block btn-primary">DODAJ I PRZYPISZ</button>
    </div>

    <hr />

    <div class="col-xs-12" style="padding-left: 0; padding-right: 0;">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Miasto</th>
                    <th>Ulica</th>
                    <th>Kraj</th>
                    <th width="30px"></th>
                    <th width="30px"></th>
                </tr>
            </thead>
            <tbody>
            @foreach (var warehouse in Model.OrderBy(q => q.City).ThenBy(q => q.Street))
            {
                    <tr>
                        <td>
                            @warehouse.City
                        </td>
                        <td>
                            @warehouse.Street
                        </td>
                        <td>
                            @warehouse.Country
                        </td>
                        <td>
                            <button type="button" class="btn btn-xs btn-flat btn-success choose-warehouse" data-name="@($"{warehouse.Street}, {warehouse.City}, {warehouse.Country}")" data-id="@warehouse.ID"><i class="fa fa-plus"></i></button>
                        </td>
                        <td>
                            @if (warehouse.Inventory.Count == 0 && warehouse.Inventory_Fitter.Count == 0)
                            {
                                <button type="button" class="btn btn-xs btn-flat btn-danger delete-warehouse" data-id="@warehouse.ID"><i class="fa fa-trash"></i></button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>