﻿@model ACSystem.Core.Models.Inventory_Check
@using ACSystem.Core

@{
    ViewBag.Title = "Przegląd maszyny";
    Layout = "~/Views/Shared/Layouts/Popup.cshtml";

    var inventoryID = (ViewBag.InventoryID != null) ? (int)ViewBag.InventoryID : -1;
}

@section Scripts {
    <script>
        var success = @((ViewBag.Success != null && ViewBag.Success == true) ? 1 : 0);

        if (success){

            window.close();
        }

        $("#check-img").change(function () {
            var formData = new FormData();
            var totalFiles = document.getElementById("check-img").files.length;
            var data = {};
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("check-img").files[i];
                formData.append("check-img", file);
            }

            $.ajax({
                type: "POST",
                url: "/Popup/AJAX_UploadCheckConditionImage",
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                beforeSend: function() {
                    $("#check-photo-div").LoadingOverlay("show");
                },
                success: function (data) {
                    if (data.success) {
                        $("#check-photo-div img").attr("src", data.URL);
                        $("#check-photo").val(data.URL)

                        toastr.success("Pomyślnie dodano zdjęcie !");
                    }
                    else
                        toastr.error("Wystąpił błąd podczas wgrywania zdjęcia");
                },
                error: function (error) {
                    toastr.error("Wystąpił błąd podczas wgrywania zdjęcia");
                },
                complete: function () {
                    $("#check-photo-div").LoadingOverlay("hide", true);
                }
            });
        });
    </script>
}

<div class="col-xs-8 col-xs-offset-2">
    <h4 class="text-center">Przegląd maszyny</h4>

    <hr />
    @using (Html.BeginForm())
    {
        <input type="hidden" name="InventoryID" value="@inventoryID" />
        <input type="hidden" id="check-photo" name="check-photo" value="" />
        <div class="form-group">
            <label class="control-label">Stan maszyny</label>
            <select class="form-control select2" name="ConditionStatus" id="ConditionStatus">
                <option value="@((int)Inventory_ConditionStatus.New)" @((Model != null && Model.ConditionStatus == Inventory_ConditionStatus.New) ? "selected" : "")>Nowe</option>
                <option value="@((int)Inventory_ConditionStatus.Good)" @((Model != null && Model.ConditionStatus == Inventory_ConditionStatus.Good) ? "selected" : "")>Dobre</option>
                <option value="@((int)Inventory_ConditionStatus.Ok)" @((Model != null && Model.ConditionStatus == Inventory_ConditionStatus.Ok) ? "selected" : "")>OK</option>
                <option value="@((int)Inventory_ConditionStatus.ToChange)" @((Model != null && Model.ConditionStatus == Inventory_ConditionStatus.ToChange) ? "selected" : "")>Do wymiany</option>
                <option value="@((int)Inventory_ConditionStatus.Trash)" @((Model != null && Model.ConditionStatus == Inventory_ConditionStatus.Trash) ? "selected" : "")>Skasowane</option>
            </select>
            @Html.ValidationMessageFor(m => m.ConditionStatus, "", new { @class = "text-danger"})
        </div>
        <div class="form-group">
            <label class="control-label">Komentarz</label>
            <textarea class="form-control" name="Comment" style="height: 110px; overflow-x: hidden;"></textarea>
            @Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-xs-6" style="padding-left: 0;">
            <div class="fileUpload btn btn-block btn-primary">
                <span>DODAJ ZDJĘCIE</span>
                <input type="file" class="upload" id="check-img" name="check-img" accept="image/*" />
            </div>
        </div>
        <div class="form-group col-xs-6" style="padding-left: 0;">
            <button type="submit" class="btn btn-block btn-primary">DODAJ</button>
        </div>

        <hr />

        <div id="check-photo-div" class="col-xs-12" style="padding-left: 0; padding-right: 0;">
            <img class="img-responsive" src="../../dist/Inventory_images/no-picture.png" alt="" />
        </div>
    }
</div>




