﻿@model ICollection<IGrouping<ACSystemUser, Inventory_Fitter>>
@using ACSystem.Core.Models

@{
    ViewBag.Title = "Raport - Inwentarz u montera";
    Layout = "~/Views/Shared/Layouts/Popup.cshtml";
}

@section Scripts {
    <script>
        $(".print-table").click(function () {
            var div = $(this).data("id");
            var head = $("head").html();

            var mywindow = window.open('', 'PRINT', 'height=1000,width=1000');

            mywindow.document.write('<html><head>');
            mywindow.document.write('<style>');
            mywindow.document.write('button { display: none; }');
            mywindow.document.write('table, table th, table td { border: 1px solid #ddd; }');
            mywindow.document.write('table { border-spacing: 0; border-collapse: collapse; width: 83.33333333%; margin-left: 8.33333333%; }');
            mywindow.document.write('th { border-bottom-width: 2px; padding: 8px; vertical-align: bottom; text-align: left; }');
            mywindow.document.write('td{ padding: 8px; vertical-align: top; }');
            mywindow.document.write('.fitter-name-h { text-align: center; font-size: 25px; }');
            mywindow.document.write('</style>');
            mywindow.document.write('</head><body >');
            mywindow.document.write('<h2 style="text-align: center">' + document.title + '</h3>');
            mywindow.document.write(document.getElementById(div).innerHTML);
            mywindow.document.write('</body></html>');

            mywindow.document.close(); // necessary for IE >= 10
            mywindow.focus(); // necessary for IE >= 10*/

            mywindow.print();
            mywindow.close();
        });
    </script>
}

<div class="table-responsive">
    <h4 class="text-center">Raport - Inwentarz u montera</h4>

    <hr />
    
    @foreach (var fitter in Model)
    {
        <div id="@fitter.Key.Id">
            <div class="col-xs-10 col-xs-offset-1">
                <h4 style="margin: 0;" class="pull-left fitter-name-h">@fitter.Key.FullName</h4>

                <button type="button" class="btn btn-xs btn-flat btn-primary pull-right print-table no-print" style="margin-bottom: 10px;" data-id="@fitter.Key.Id"><i class="fa fa-print"></i></button>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nr. ewidencyjny</th>
                            <th>Marka / Model</th>
                            <th>Projekt</th>
                            <th>Data pobrania</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var inventory in fitter)
                    {
                        <tr>
                            <td>
                                @inventory.Inventory.EvidenceNumber
                            </td>
                            <td>
                                @inventory.Inventory.Mark / @inventory.Inventory.ModelNumber
                            </td>
                            <td>
                                @if (inventory.Project != null)
                                {
                                    Write(inventory.Project.InSystemID + " " + inventory.Project.ProjectNumber);
                                }
                            </td>
                            <td>
                                @inventory.TakeDate.ToString("yyyy-MM-dd HH:mm")
                            </td>
                        </tr>
                    }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Nr. ewidencyjny</th>
                            <th>Marka / Model</th>
                            <th>Projekt</th>
                            <th>Data pobrania</th>
                        </tr>
                        <tr>
                            <th colspan="4" class="text-right">
                                <img src="http://@Request.Url.Authority/Monter/dist/Podpisy/@fitter.Key.Podpis" style="display: block; max-width: 100%; height: auto;" />
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    }    
</div>

