﻿@model ICollection<IGrouping<InventoryType, Inventory>>
@using ACSystem.Core.Models
@using ACSystem.Core

@{
    ViewBag.Title = "Raport - Inwentarz rodzaje";
    Layout = "~/Views/Shared/Layouts/Popup.cshtml";
}

@section Scripts {
    <script>
        $(".print-table").click(function () {
            var div = $(this).data("id");
            var head = $("head").html();

            var mywindow = window.open('', 'PRINT', 'height=1000,width=1000');

            mywindow.document.write('<html><head>');
            mywindow.document.write('<style>');
            mywindow.document.write('button { display: none; }');
            mywindow.document.write('table, table th, table td { border: 1px solid #ddd; }');
            mywindow.document.write('table { border-spacing: 0; border-collapse: collapse; width: 83.33333333%; margin-left: 8.33333333%; }');
            mywindow.document.write('th { border-bottom-width: 2px; padding: 8px; vertical-align: bottom; text-align: left; }');
            mywindow.document.write('td{ padding: 8px; vertical-align: top; }');
            mywindow.document.write('.fitter-name-h { text-align: center; font-size: 25px; }');
            mywindow.document.write('</style>');
            mywindow.document.write('</head><body >');
            mywindow.document.write('<h2 style="text-align: center">' + document.title + '</h3>');
            mywindow.document.write(document.getElementById(div).innerHTML);
            mywindow.document.write('</body></html>');

            mywindow.document.close(); // necessary for IE >= 10
            mywindow.focus(); // necessary for IE >= 10*/

            mywindow.print();
            mywindow.close();
        });
    </script>
}

<div class="table-responsive">
    <h4 class="text-center">Raport - Inwentarz rodzaje</h4>

    <hr />

    @foreach (var type in Model)
    {
        var fitterCount = type.Count(q => q.Status == InventoryStatus.Busy);
        var warehouseCount = type.Count(q => q.Status == InventoryStatus.Free);

        <div id="@type.Key.ID">
            <div class="col-xs-10 col-xs-offset-1">
                <h4 style="margin: 0;" class="pull-left fitter-name-h">@type.Key.Name | U monterów: @fitterCount | W magazynach: @warehouseCount</h4>

                <button type="button" class="btn btn-xs btn-flat btn-primary pull-right print-table no-print" style="margin-bottom: 10px;" data-id="@type.Key.ID"><i class="fa fa-print"></i></button>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nr. ewidencyjny</th>
                            <th>Marka / Model</th>
                            <th>Magazyn</th>
                            <th>Projekt</th>
                            <th>Monter</th>
                            <th>Stan</th>
                            <th>Wartość</th>
                            <th>Data ostatniego sprawdzenia</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var inventory in type)
                        {
                            var lifeDate = inventory.BuyDate.AddYears(inventory.LifeTime);
                            var monthLeft = (int)(Math.Floor((lifeDate - DateTime.Now).TotalDays / 30));

                            <tr>
                                <td>
                                    @inventory.EvidenceNumber
                                </td>
                                <td>
                                    @inventory.Mark / @inventory.ModelNumber
                                </td>
                                <td>
                                    @if (inventory.WarehouseID.HasValue)
                                    {
                                        <span>@(inventory.Warehouse?.Street), @(inventory.Warehouse?.City), @(inventory.Warehouse?.Country)</span>
                                    }
                                </td>
                                <td>
                                    @(inventory.Project?.InSystemID) @(inventory.Project?.ProjectNumber)
                                </td>
                                <td>
                                    @(inventory.Inventory_Fitter.FirstOrDefault(q => q.PutDate.HasValue == false)?.User.FullName)
                                </td>
                                @switch (inventory.ConditionStatus)
                                {
                                    case Inventory_ConditionStatus.New:
                                        <td>Nowe</td>
                                        break;
                                    case Inventory_ConditionStatus.Good:
                                        <td>Dobre</td>
                                        break;
                                    case Inventory_ConditionStatus.Ok:
                                        <td>OK</td>
                                        break;
                                    case Inventory_ConditionStatus.ToChange:
                                        <td>Do wymiany</td>
                                        break;
                                    case Inventory_ConditionStatus.Trash:
                                        <td>Skasowane</td>
                                        break;
                                }
                                <td>
                                    @(Math.Round((inventory.BuyPriceBrutto / ((inventory.LifeTime == 0) ? 1 : inventory.LifeTime * 12)) * monthLeft, 2))
                                </td>
                                <td>
                                    @(inventory.Inventory_Check.OrderByDescending(q => q.CheckDate).FirstOrDefault()?.CheckDate.ToString("yyyy-MM-dd"))
                                </td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Nr. ewidencyjny</th>
                            <th>Marka / Model</th>
                            <th>Magazyn</th>
                            <th>Projekt</th>
                            <th>Monter</th>
                            <th>Stan</th>
                            <th>Wartość</th>
                            <th>Data ostatniego sprawdzenia</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    }
</div>
