﻿@model ICollection<Inventory>
@using ACSystem.Core.Models

@{
    ViewBag.Title = "Raport - Pozostała wartość inwentarza";
    Layout = "~/Views/Shared/Layouts/Popup.cshtml";
}

@section Scripts {
    <script>
        $(".print-table").click(function () {
            var div = $(this).data("id");
            var head = $("head").html();

            var mywindow = window.open('', 'PRINT', 'height=1000,width=1000');

            mywindow.document.write('<html><head>');
            mywindow.document.write('<style>');
            mywindow.document.write('button { display: none; }');
            mywindow.document.write('table, table th, table td { border: 1px solid #ddd; }');
            mywindow.document.write('table { border-spacing: 0; border-collapse: collapse; width: 83.33333333%; margin-left: 8.33333333%; }');
            mywindow.document.write('th { border-bottom-width: 2px; padding: 8px; vertical-align: bottom; text-align: left; }');
            mywindow.document.write('td{ padding: 8px; vertical-align: top; }');
            mywindow.document.write('.fitter-name-h { text-align: center; font-size: 25px; }');
            mywindow.document.write('</style>');
            mywindow.document.write('</head><body >');
            mywindow.document.write('<h2 style="text-align: center">' + document.title + '</h3>');
            mywindow.document.write(document.getElementById(div).innerHTML);
            mywindow.document.write('</body></html>');

            mywindow.document.close(); // necessary for IE >= 10
            mywindow.focus(); // necessary for IE >= 10*/

            mywindow.print();
            mywindow.close();
        });
    </script>
}

<div class="table-responsive">
    <h4 class="text-center">Raport - Pozostała wartość inwentarza</h4>

    <hr />
    <div class="col-xs-10 col-xs-offset-1" id="print-this">  
        <button type="button" class="btn btn-xs btn-flat btn-primary pull-right print-table no-print" style="margin-bottom: 10px;" data-id="print-this"><i class="fa fa-print"></i></button>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nr. ewidencyjny</th>
                    <th>Marka / Model</th>
                    <th>Pozostała wartość</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var inventory in Model)
                {
                    var lifeDate = inventory.BuyDate.AddYears(inventory.LifeTime);
                    var monthLeft = (int)(Math.Floor((lifeDate - DateTime.Now).TotalDays / 30));

                    <tr>
                        <td>
                            @inventory.EvidenceNumber
                        </td>
                        <td>
                            @inventory.Mark / @inventory.ModelNumber
                        </td>
                        <td>
                            @(Math.Round((inventory.BuyPriceBrutto / ((inventory.LifeTime == 0) ? 1 : inventory.LifeTime * 12)) * monthLeft, 2))
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th>Nr. ewidencyjny</th>
                    <th>Marka / Model</th>
                    <th>Pozostała wartość</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
