﻿@using ACSystem.Core

@{
    ViewBag.Title = "Dodawanie plików do inwentarza";
    Layout = "~/Views/Shared/Layouts/Popup.cshtml";

    var inventoryID = (ViewBag.InventoryID != null) ? (int)ViewBag.InventoryID : -1;
}

@section Scripts {
    <script>
        var dropzone = $(".file-dropzone.for-inventory").dropzone({
            sending: function (file, xhr, formData) {
                var inventoryID = $(".file-dropzone.for-inventory").data("inventory-id");
                // Will send the filesize along with the file as POST data.
                formData.append("InventoryID", inventoryID);
            },
            success: function (first, response) {
                if (response.result === "true") {
                    toastr.success("Plik został dodany!");

                    var row = "<tr>";

                    if (response.URL.includes(".pdf"))
                        row += '<td><i class="fa fa-file-pdf-o"></i></td>';
                    else if (response.URL.includes(".png") || response.URL.includes(".jpg") || response.URL.includes(".jpeg") || response.URL.includes(".gif") || response.URL.includes(".gif"))
                        row += '<td><i class="fa fa-file-image-o"></i></td>';
                    else
                        row += '<td><i class="fa fa-file-o"></i></td>';

                    row += "<td>" + response.FileName + '<input type="hidden" name="Files[]" value="' + response.FileName + ';' + response.URL + '" /></td>';
                    row += '<td class="text-center"><a target="_blank" href="' + response.URL + '" class="btn btn-xs btn-flat btn-primary text-center"><i class="fa fa-eye"></i></a></td>';


                    row += '<td class="text-center"><button type="button" class="btn btn-xs btn-flat btn-danger delete-file" data-url="' + response.URL + '" data-id="' + response.ID + '"><i class="fa fa-trash"></i></button></td>';
                    row += "</tr>";

                    if (window.opener != null && !window.opener.closed) {
                        var filesTable = window.opener.$("#files-table tbody");

                        filesTable.append(row);
                    }

                    location.reload();
                }
            },
            successMultiple: function (first, response) {
                if (response.result === "true") {
                    toastr.success("Plik został dodany!");

                    var row = "<tr>";

                    if (response.URL.includes(".pdf"))
                        row += '<td><i class="fa fa-file-pdf-o"></i></td>';
                    else if (response.URL.includes(".png") || response.URL.includes(".jpg") || response.URL.includes(".jpeg") || response.URL.includes(".gif") || response.URL.includes(".gif"))
                        row += '<td><i class="fa fa-file-image-o"></i></td>';
                    else
                        row += '<td><i class="fa fa-file-o"></i></td>';

                    row += "<td>" + response.FileName + '<input type="hidden" name="Files[]" value="' + response.FileName + ';' + response.URL + '" /></td>';
                    row += '<td class="text-center"><a target="_blank" href="' + response.URL + '" class="btn btn-xs btn-flat btn-primary text-center"><i class="fa fa-eye"></i></a></td>'
                    row += '<td class="text-center"><button type="button" class="btn btn-xs btn-flat btn-danger delete-file" data-url="' + response.URL + '" data-id="' + response.ID + '"><i class="fa fa-trash"></i></button></td>'
                    row += "</tr>";

                    if (window.opener != null && !window.opener.closed) {
                        var filesTable = window.opener.$("#files-table tbody");

                        filesTable.append(row);
                    }

                    location.reload();
                }
            }
        });
    </script>
}

<div class="col-xs-8 col-xs-offset-2">
    <h4 class="text-center">Dodawanie plików do inwentarza</h4>

    <hr />

    <form action="/Popup/AJAX_AddInventoryFile" id="inventoryFile" class="file-dropzone for-inventory" data-inventory-id="@inventoryID">
        <div class="dz-default dz-message"><span>Upuśc pliki lub kliknij by dodać plik</span></div>
    </form>

</div>