﻿@model IEnumerable<ACSystem.Core.Models.Order>
@using ACSystem.Core.Models.ViewModels.Select;

@section Styles {
}

@section Scripts{
    @Scripts.Render("~/Scripts/Site/Generals.js")
}


<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">TWOJE ZAMÓWIENIA</h3>
        <div class="box-tools pull-right">
            <a href="/Order/SendOrder" class="btn btn-like-bg" style="color: white;">NOWE ZAMÓWIENIE</a>
        </div>
    </div>
        
    <div class="box-body table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th>Nr.zam.</th>
                    <th>Projekt</th>
                    <th>Mieszkanie</th>
                    <th>Zadanie</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var o in Model)
                {
                    <tr>
                        <td>@o.ID.ToString().PadLeft(4, '0')</td>
                        <td>@o.Project.ProjectNumber</td>
                        <td>@(o.Apartment?.NumberOfApartment)</td>
                        <td>@(o.Task?.GetTaskName(o.Task.Apartment.ProjectId)) @(o.Task?.TaskSufix)</td>
                        <td class="text-center">
                            @if (o.IsFinished)
                            {
                                <label class="label label-success">Dostarczone</label>
                            }
                            else
                            {
                                <label class="label label-default">Oczekujące</label>
                            }
                        </td>
                        <td class="text-center"><a href="/Order/ShowOrder/@o.ID" class="btn btn-like-bg" style="color: white;">POKAŻ</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>