﻿@model ACSystem.Core.Models.Tasks
@using ACSystem.Core.Models.ViewModels.Select;

@section Styles {
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
    <style>
        .select2-results, .select2-search {
            color: black;
        }
    </style>
}

@section Scripts{
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    @Scripts.Render("~/Scripts/Site/Generals.js")
    @Scripts.Render("~/Scripts/Site/SendOrder.js")
}

@{
    var projects = (ViewBag.Projects != null) ? (List<ProjectsSelect>)ViewBag.Projects : null;
    var apartments = (ViewBag.Apartments != null) ? (List<ApartmentsSelect>)ViewBag.Apartments : null;
    var tasks = (ViewBag.Tasks != null) ? (List<TasksSelect>)ViewBag.Tasks : null;
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">NOWE ZAMÓWIENIE</h3>
    </div>
    
    @using (Html.BeginForm("SendOrder", "Order", FormMethod.Post, new { role = "form" }))
    {
        <div class="box-body">
            @Html.AntiForgeryToken()
            
            @if (projects != null && projects.Count() > 0)
            {
            <div class="form-group">
                <label for="ProjectID">Projekt</label>
                <select class="form-control select2" name="ProjectID" id="Project" data-placeholder="Wybierz projekt" style="width: 100%;">
                    @foreach (var project in projects)
                    {
                        <option value="@project.ID">@project.ProjectNumber</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="ApartmentID">Mieszkanie</label>
                <select class="form-control select2" name="ApartmentID" id="Apartments" data-placeholder="Wybierz apartament" style="width: 100%;">
                    <option></option>
                    @if (apartments != null && apartments.Count > 0)
                    {
                        foreach (var apartment in apartments)
                        {
                            <option value="@apartment.ID">@apartment.ApartmentNumber</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="TaskID">Zadanie</label>
                <select class="form-control select2" name="TaskID" id="Tasks" data-placeholder="Wybierz zadanie" style="width: 100%;">
                    <option></option>
                    @if (tasks != null && tasks.Count > 0)
                    {
                        foreach (var task in tasks)
                        {
                            <option value="@task.ID">@task.ProductName @task.Sufix</option>
                        }
                    }
                </select>
            </div>

            }
            
            <hr/>

            <label class="control-label">Dodaj pozycję zamówienia</label>
            <div class="input-group">
                <input type="text" class="form-control" id="order-item" />
                <div class="input-group-btn">
                    <button type="button" class="btn btn-like-bg" id="add-order-item" title="Dodaj pozycję zamówienia">DODAJ</button>
                </div>
            </div>

            <div id="hidden-order-items">

            </div>

            <table id="order-list" class="table table-bordered table-striped" style="margin-top: 20px;">
                <thead>
                    <tr>
                        <th>Pozycja zamówienia</th>
                        <th width="150px"></th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

        </div>
        <div class="box-footer">
            <a href="/" class="btn btn-default pull-left">Anuluj</a>
            <button type="submit" class="btn btn-like-bg product-load pull-right" id="TaskSave">Złóż zamówienie</button>
        </div>
    }
</div>