﻿@model ACSystem.Core.Models.Order
@using ACSystem.Core.Models.ViewModels.Select;

@section Styles {
}

@section Scripts{
    @Scripts.Render("~/Scripts/Site/Generals.js")
}

@{ 
    var lp = 1;
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">ZAMÓWIENIE NR. @Model.ID.ToString().PadLeft(4, '0')</h3>
    </div>

    <div class="box-body table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th width="30px" style="text-align: right;">Lp.</th>
                    <th>Pozycja</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model.OrderItems)
                {
                    <tr>
                        <td style="text-align: right;">@lp.</td>
                        <td>@i.Item</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>