﻿@using ACSystem.Core.Models.ViewModels
@model ACSystem.Core.Models.Events

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Wydarzenie</h4>
    </div>
    <div class="modal-body table-responsive">
        <div class="form-group">
            <label class="control-label">Tytuł</label>
            <input type="text" name="Title" id="Title" class="form-control" value="@Model.Title" />
        </div>
        <div class="form-group">
            <label class="control-label">Opis</label>
            <textarea class="form-control" id="Description" name="Description">@Model.Description</textarea>
        </div>
        <div class="form-group">
            <label class="control-label">Data rozpoczęcia</label>
            <input type="text" name="Start" id="Start" class="form-control date-time" value="@Model.Start.ToString("yyyy-MM-dd HH:mm")" />
        </div>
        <div class="form-group">
            <label class="control-label">Data zakończenia</label>
            <input type="text" name="End" id="End" class="form-control date-time" value="@Model.End.ToString("yyyy-MM-dd HH:mm")" />
        </div>
        <div class="form-group">
            <label class="control-label">
                Całodniowe
                <input type="checkbox" id="AllDay" name="AllDay" value="True" @((Model.AllDay == true) ? "checked" : "") />
            </label>
        </div>
        <div class="form-group col-xs-6 no-padding-left">
            <button type="button" data-event-id="@Model.Id" class="btn btn-flat btn-block btn-primary save-event">ZAPISZ</button>
        </div>
        <div class="form-group col-xs-6 no-padding-right">
            <button type="button" data-event-id="@Model.Id" class="btn btn-flat btn-block btn-danger delete-event">USUŃ</button>
        </div>
        
    </div>
</div>

