﻿@using Microsoft.AspNet.Identity
@using ACSystem.Core.Models

@{
    ViewBag.Title = "Pulpit";
    ViewBag.Description = "Główne centrum zarządzania";
    ViewBag.Active = "Pulpit";

    var currentDate = DateTime.Now.ToString("yyyy-MM-dd");
}

@section Styles{
    @Styles.Render("~/Content/plugins/fullcalendar/fullcalendar.min.css")
    @Styles.Render("~/Content/plugins/iCheck/square/blue.css")
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
    @Styles.Render("~/Content/Site/home.css")    

    <style>
        .calendar-edit-icon {
            display: none;
        }

        .calendar-name:hover .calendar-edit-icon {
            display: block;
        }

        .calendar-name:hover {
            cursor: pointer;
            opacity: .8;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/fullcalendar/fullcalendar.min.js")
    @Scripts.Render("~/Scripts/plugins/fullcalendar/locale-all.js")
    @Scripts.Render("~/Scripts/plugins/iCheck/icheck.min.js")
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    <script>
        var myCurrentDate = "@currentDate";
        var currentView = "agendaWeek";
    </script>
    @Scripts.Render("~/Scripts/Site/home.js")
}

@{ 
    var projects = (ViewBag.ProjectsSelect != null) ? (List<Projects>)ViewBag.ProjectsSelect : null;
    var apartments = (ViewBag.ApartmentsSelect != null) ? (List<Apartments>)ViewBag.ApartmentsSelect : null;
    var tasks = (ViewBag.TasksSelect != null) ? (List<Tasks>)ViewBag.TasksSelect : null;
    var fitters = (ViewBag.Fitters != null) ? (List<Fitters>)ViewBag.Fitters : null;
    var calendars = (List<Calendar>)ViewBag.Calendars;
}

<!-- Main content -->
<section class="content">
    <div class="row">        
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h4 class="box-title">Filtr</h4>
                    <div class="box-tools">
                        <button class="btn btn-primary btn-sm pull-right" id="print-calendar">DRUKUJ</button>
                    </div>
                </div>

                <div class="box-body">
                    <div class="col-md-6">
                        <label style="margin-right: 10px;">
                            <input type="checkbox" class="minimal filter" id="fltr-chbx-4" value="3" checked>
                            Projekty
                        </label>
                        <label style="margin-right: 20px;">
                            <input type="checkbox" class="minimal filter" id="fltr-chbx-1" value="0" checked>
                            Zadania
                        </label>
                        <label style="margin-right: 10px;">Wydarzenia: </label>
                        <label style="margin-right: 10px;">
                            <input type="checkbox" class="minimal filter" id="fltr-chbx-2" value="1" checked>
                            Zadań
                        </label>
                        <label style="margin-right: 10px;">
                            <input type="checkbox" class="minimal filter" id="fltr-chbx-3" value="2" checked>
                            Monterów
                        </label>
                        <label style="margin-right: 10px;">
                            <input type="checkbox" class="minimal filter" id="fltr-chbx-5" value="4" checked>
                            Projektów
                        </label>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group">
                            <input type="text" id="search" placeholder="Szukaj" class="form-control" />
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary" id="start-search">Szukaj</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2 no-padding-left">
                <div class="box box-primary">
                    <div class="box-header">
                        <h6 class="box-title">KALENDARZE</h6>
                        <div class="box-tools">
                            <button class="btn btn-primary btn-sm pull-right" id="add-calendar"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        @foreach (var c in calendars.OrderBy(q => q.Name))
                        {
                            <div class="calendar-row">
                                <div class="calendar-check active" style="background-color: @c.ColorHex; margin-top: 10px;">
                                    <i class="fa fa-check"></i>
                                    <input type="hidden" value="@c.ID" />
                                </div>
                                <div class="calendar-name calendar-@c.ID edit-calendar">
                                    @c.Name
                                    <span class="text-black calendar-edit-icon" data-calendar-id="@c.ID"><i class="fa fa-edit"></i></span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-10 no-padding">
                <div class="box box-primary">
                    <div class="box-header">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary pull-right dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Dodaj wydarzenie</button>
                            <ul class="dropdown-menu pull-right">
                                <li><a style="cursor: pointer;" class="add-event-modal" data-modal="#add-user-event">Użytkownika</a></li>
                                <li><a style="cursor: pointer;" class="add-event-modal" data-modal="#add-task-event">Zadania</a></li>
                                <li><a style="cursor: pointer;" class="add-event-modal" data-modal="#add-project-event">Projektu</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="box-body no-padding">
                        <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="modal" class="cal-modal" style="width: 40%;">
    
</div>

<div id="add-calendar-modal" class="cal-modal" style="width: 40%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">DODAJ KALENDARZ</h4>
            </div>
            <div class="modal-body">
                <form action="/Home/AddCalendar" method="post" role="form">
                    <div class="form-group">
                        <label class="control-label">Nazwa kalendarza</label>
                        <input type="text" class="form-control" name="Name" />
                    </div>

                    <div class="radios form-group" style="float: left;">
                        <div class="check active" style="background-color: #AC725E; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#AC725E" name="ColorHex"/>
                        </div>
                        <div class="check" style="background-color: #D06B64; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#D06B64" />
                        </div>
                        <div class="check" style="background-color: #F83A22; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#F83A22" />
                        </div>
                        <div class="check" style="background-color: #FA573C; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#FA573C" />
                        </div>
                        <div class="check" style="background-color: #FF7537; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#FF7537" />
                        </div>
                        <div class="check" style="background-color: #FFAD46; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#FFAD46" />
                        </div>
                        <div class="check" style="background-color: #42D692; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#42D692" />
                        </div>
                        <div class="check" style="background-color: #16A765; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#16A765" />
                        </div>

                        <div class="check" style="background-color: #7BD148; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#7BD148" />
                        </div>
                        <div class="check" style="background-color: #B3DC6C; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#B3DC6C" />
                        </div>
                        <div class="check" style="background-color: #F8E983; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#F8E983" />
                        </div>
                        <div class="check" style="background-color: #FAD165; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#FAD165" />
                        </div>
                        <div class="check" style="background-color: #92E1C0; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#92E1C0" />
                        </div>
                        <div class="check" style="background-color: #9FE1E7; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#9FE1E7" />
                        </div>
                        <div class="check" style="background-color: #9FC6E7; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#9FC6E7" />
                        </div>
                        <div class="check" style="background-color: #4986E7; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#4986E7" />
                        </div>

                        <div class="check" style="background-color: #9A9CFF; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#9A9CFF" />
                        </div>
                        <div class="check" style="background-color: #B99AFF; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#B99AFF" />
                        </div>
                        <div class="check" style="background-color: #C2C2C2; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#C2C2C2" />
                        </div>
                        <div class="check" style="background-color: #CABDBF; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#CABDBF" />
                        </div>
                        <div class="check" style="background-color: #CCA6AC; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#CCA6AC" />
                        </div>
                        <div class="check" style="background-color: #F691B2; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#F691B2" />
                        </div>
                        <div class="check" style="background-color: #CD74E6; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#CD74E6" />
                        </div>
                        <div class="check" style="background-color: #A47AE2; margin-top: 10px; ">
                            <i class="fa fa-check"></i>
                            <input type="hidden" value="#A47AE2" />
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary pull-right">ZAPISZ</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div id="edit-calendar-modal" class="cal-modal" style="width: 40%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">EDYTUJ KALENDARZ</h4>
            </div>
            <div class="modal-body">
                <form action="/Home/EditCalendar" method="post" role="form">
                    <input type="hidden" name="ID" id="CalendarID" value="0" />
                    <div class="form-group">
                        <label class="control-label">Nazwa kalendarza</label>
                        <input type="text" class="form-control" name="Name" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary pull-right">ZAPISZ</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div id="add-task-event" class="cal-modal" style="width: 40%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">WYDARZENIE DLA ZADANIA</h4>
            </div>
            <div class="modal-body">
                @{
                    if (projects != null && projects.Count() > 0)
                    {
                        <div class="form-group">
                            <label for="Project">Projekt</label>
                            <select class="form-control select2" name="Project" id="Project" data-placeholder="Wybierz projekt" style="width: 100%;">
                                @foreach (var project in projects)
                                {
                                    <option value="@project.Id">@project.ProjectNumber</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Project">Mieszkanie</label>
                            <select class="form-control select2" name="Apartments" id="Apartments" data-placeholder="Wybierz apartament" style="width: 100%;">
                                @if (apartments != null && apartments.Count > 0)
                                {
                                    foreach (var apartment in apartments)
                                    {
                                        <option value="@apartment.Id">@apartment.NumberOfApartment</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Project">Zadanie</label>
                            <select class="form-control select2" name="Tasks" id="Tasks" data-placeholder="Wybierz zadanie" style="width: 100%;">
                                @if (tasks != null && tasks.Count > 0)
                                {
                                    foreach (var task in tasks)
                                    {
                                <option value="@task.Id">@task.GetTaskName(task.Apartment.ProjectId) @task.TaskSufix</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="TaskEventTitle">Tytuł</label>
                            <input type="text" name="TaskEventTitle" id="TaskEventTitle" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="TaskEventStart">Początek</label>
                            <input type="text" name="TaskEventStart" id="TaskEventStart" class="form-control date-time autodate paste-date-begin" />
                        </div>
                        <div class="form-group">
                            <label for="TaskEventEnd">Koniec</label>
                            <input type="text" name="TaskEventEnd" id="TaskEventEnd" class="form-control date-time autodate-change" />
                        </div>
                        <div class="form-group">
                            <label for="TaskEventDescription">Opis</label>
                            <textarea class="form-control" name="TaskEventDescription" id="TaskEventDescription"></textarea>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" id="TaskEventAllDay">
                                Całodniowe
                            </label>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="modal-footer" style="background: white;">
            <div class="col-md-6 no-padding-left">
                <button class="btn btn-primary form-control" id="TaskEventCancel">Anuluj</button>
            </div>
            <div class="col-md-6 no-padding-right">
                <button class="btn btn-primary form-control" id="TaskEventCreate" @if (tasks == null || tasks.Count <= 0) { Write("disabled"); }>Dodaj</button>
            </div>
        </div>
    </div>
</div>

<div id="add-task-event" class="cal-modal" style="width: 40%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">WYDARZENIE DLA ZADANIA</h4>
            </div>
            <div class="modal-body">
                @{
                    if (projects != null && projects.Count() > 0)
                    {
                        <div class="form-group">
                            <label for="Project">Projekt</label>
                            <select class="form-control select2" name="Project" id="Project" data-placeholder="Wybierz projekt" style="width: 100%;">
                                @foreach (var project in projects)
                                {
                                    <option value="@project.Id">@project.ProjectNumber</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Project">Mieszkanie</label>
                            <select class="form-control select2" name="Apartments" id="Apartments" data-placeholder="Wybierz apartament" style="width: 100%;">
                                @if (apartments != null && apartments.Count > 0)
                                {
                                    foreach (var apartment in apartments)
                                    {
                                        <option value="@apartment.Id">@apartment.NumberOfApartment</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Project">Zadanie</label>
                            <select class="form-control select2" name="Tasks" id="Tasks" data-placeholder="Wybierz zadanie" style="width: 100%;">
                                @if (tasks != null && tasks.Count > 0)
                                {
                                    foreach (var task in tasks)
                                    {
                                        <option value="@task.Id">@task.GetTaskName(task.Apartment.ProjectId) @task.TaskSufix</option>
                                    }
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="TaskEventTitle">Tytuł</label>
                            <input type="text" name="TaskEventTitle" id="TaskEventTitle" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="TaskEventStart">Początek</label>
                            <input type="text" name="TaskEventStart" id="TaskEventStart" class="form-control date-time autodate paste-date-begin" />
                        </div>
                        <div class="form-group">
                            <label for="TaskEventEnd">Koniec</label>
                            <input type="text" name="TaskEventEnd" id="TaskEventEnd" class="form-control date-time autodate-change" />
                        </div>
                        <div class="form-group">
                            <label for="TaskEventDescription">Opis</label>
                            <textarea class="form-control" name="TaskEventDescription" id="TaskEventDescription"></textarea>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" id="TaskEventAllDay">
                                Całodniowe
                            </label>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="modal-footer" style="background: white;">
            <div class="col-md-6 no-padding-left">
                <button class="btn btn-primary form-control" id="TaskEventCancel">Anuluj</button>
            </div>
            <div class="col-md-6 no-padding-right">
                <button class="btn btn-primary form-control" id="TaskEventCreate" @if (tasks == null || tasks.Count <= 0) { Write("disabled"); }>Dodaj</button>
            </div>
        </div>
    </div>
</div>

<div id="add-project-event" class="cal-modal" style="width: 40%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">WYDARZENIE DLA PROJEKTU</h4>
            </div>
            <div class="modal-body">
                @{
                    if (projects != null && projects.Count() > 0)
                    {
                        <div class="form-group">
                            <label for="Project">Projekt</label>
                            <select class="form-control select2" name="Project4Project" id="Project4Project" data-placeholder="Wybierz projekt" style="width: 100%;">
                                @foreach (var project in projects)
                                {
                                    <option value="@project.Id">@project.ProjectNumber</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="ProjectEventTitle">Tytuł</label>
                            <input type="text" name="ProjectEventTitle" id="ProjectEventTitle" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="ProjectEventStart">Początek</label>
                            <input type="text" name="ProjectEventStart" id="ProjectEventStart" class="form-control date-time autodate paste-date-begin" />
                        </div>
                        <div class="form-group">
                            <label for="ProjectEventEnd">Koniec</label>
                            <input type="text" name="ProjectEventEnd" id="ProjectEventEnd" class="form-control date-time autodate-change" />
                        </div>
                        <div class="form-group">
                            <label for="ProjectEventDescription">Opis</label>
                            <textarea class="form-control" name="ProjectEventDescription" id="ProjectEventDescription"></textarea>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" id="ProjectEventAllDay">
                                Całodniowe
                            </label>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="modal-footer" style="background: white;">
            <div class="col-md-6 no-padding-left">
                <button class="btn btn-primary form-control" id="ProjectEventCancel">Anuluj</button>
            </div>
            <div class="col-md-6 no-padding-right">
                <button class="btn btn-primary form-control" id="ProjectEventCreate" @if (projects == null || projects.Count <= 0) { Write("disabled"); }>Dodaj</button>
            </div>
        </div>
    </div>
</div>

<div id="add-user-event" class="cal-modal" style="width: 40%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">WYDARZENIE DLA UŻYTKOWNIKA</h4>
            </div>
            <div class="modal-body">
                @{
                    if (fitters != null && fitters.Count() > 0)
                    {
                        <div class="form-group">
                            <label for="Fitter">Monter</label>
                            <select class="form-control select2" name="Fitter" id="Fitter" data-placeholder="Wybierz montera" style="width: 100%;">
                                @foreach (var fitter in fitters)
                                {
                                    <option value="@fitter.Id">@fitter.User.FullName</option>
                                }
                            </select>
                        </div>
                            <div class="form-group">
                                <label for="FitterEventTitle">Tytuł</label>
                                <input type="text" name="FitterEventTitle" id="FitterEventTitle" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="FitterEventStart">Początek</label>
                                <input type="text" name="FitterEventStart" id="FitterEventStart" class="form-control date-time autodate paste-date-begin" />
                            </div>
                            <div class="form-group">
                                <label for="FitterEventEnd">Koniec</label>
                                <input type="text" name="FitterEventEnd" id="FitterEventEnd" class="form-control date-time autodate-change" />
                            </div>
                            <div class="form-group">
                                <label for="FitterEventDescription">Opis</label>
                                <textarea class="form-control" name="FitterEventDescription" id="FitterEventDescription"></textarea>
                            </div>
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" class="" id="FitterEventAllDay">
                                    Całodniowe
                                </label>
                            </div>
                    }
                }
            </div>
        </div>
        <div class="modal-footer" style="background: white;">
            <div class="col-md-6 no-padding-left">
                <button class="btn btn-primary form-control" id="FitterEventCancel">Anuluj</button>
            </div>
            <div class="col-md-6 no-padding-right">
                <button class="btn btn-primary form-control" id="FitterEventCreate" @if (fitters == null || fitters.Count <= 0) { Write("disabled"); }>Dodaj</button>
            </div>
        </div>
    </div>
</div>