﻿@model ACSystem.Core.Models.Order

@{
    var Lp = 1;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @*@Styles.Render("~/Content/css")*@
    <style>
        tr {
            border: 1px solid black;
        }

        th {
            text-align: center;
            border: 1px solid black;
            padding: 5px;
        }

        /*th:first-child {
            border: none;
        }*/

        td {
            padding: 5px;
            border: 1px solid black;
        }

            /*td:first-child {
            border: none;
        }*/

            td:nth-child(3) {
                text-align: center;
            }

        .bold {
            font-weight: bold;
        }
    </style>
    <title>Zamówienie nr. @Model.ID.ToString().PadLeft(4, '0')</title>
</head>
<body onload="window.print();" style="width: 804px; color: black !important;">
    <div style="width: 509px; border: 1px solid black; margin-top: 20px; float: left;">
        <div style="width: 500px; border-bottom: 1px solid black; padding: 5px; float: left;">
            <b>Numer zamówienia: </b> @Model.ID.ToString().PadLeft(4, '0')
        </div>
        <div style="width: 500px; border-bottom: 1px solid black; padding: 5px; float: left;">
            <b>Nazwa i numer projektu: </b> @Model.Project.ProjectNumber
        </div>
        @if (Model.Apartment != null)
        {
        <div style="width: 500px; border-bottom: 1px solid black; padding: 5px; float: left;">
            <b>LGH: </b> @(Model.Apartment?.NumberOfApartment)
        </div>
        }
        @if (Model.Task != null)
        {
        <div style="width: 500px; border-bottom: 1px solid black; padding: 5px; float: left;">
            <b>Zadanie: </b> <span>@(Model.Task?.GetTaskName(Model.Task.Apartment.ProjectId)) @(Model.Task?.TaskSufix)</span>
        </div>
        }
    </div>
    <div style="width: 509px; border: 1px solid black; margin-top: 20px; float: left;">
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th width="30px">Lp.</th>
                    <th>Pozycja</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model.OrderItems)
                {
                    <tr>
                        <td>@Lp.</td>
                        <td>@i.Item</td>
                    </tr>

                    Lp++;
                }
            </tbody>            
        </table>
    </div>
</body>
</html>
