﻿@using ACSystem.Core;
@model ACSystem.Core.Models.Tasks

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/css")
    <style>
    </style>
    <title>@Model.Apartment.Project.ProjectNumber-@Model.Apartment.NumberOfApartment-@Model.GetTaskName(Model.Apartment.ProjectId)</title>
</head>
<body onload="window.print()" style="width: 794px; border: 1px solid black;">
    <div style="border-bottom: 1px solid black; margin-bottom: 20px;">
        <h1 style="text-align:center">Produkt: @Model.GetTaskName(Model.Apartment.ProjectId)</h1>
    </div>
    <div style="width: 500px; margin: 0 auto;">
        <table class="table table-bordered">
            <tr>
                <th>Numer projektu</th>
                <td>@Model.Apartment.Project.ProjectNumber</td>
            </tr>
            <tr>
                <th>Numer mieszkania</th>
                <td>@Model.Apartment.NumberOfApartment</td>
            </tr>
            <tr>
                <th>Adres</th>
                <td>@Model.Apartment.Project.Street, @Model.Apartment.Project.City</td>
            </tr>
            <tr>
                <th>Data rozpoczęcia</th>
                <td>@Model.StartDate.ToString("yyyy-MM-dd")</td>
            </tr>
            <tr>
                <th>Data zakończenia</th>
                <td>@Model.EndDate.ToString("yyyy-MM-dd")</td>
            </tr>
            <tr>
                <th>Ilość (pozostała/całość)</th>
                <td>@(Model.ProductCount - Model.Task_Fitter.Sum(q => q.WorkDone))/@Model.ProductCount @Model.Product.Jm</td>
            </tr>
            <tr>
                <th>Cena</th>
                <td>@Model.ProductPrice</td>
            </tr>
            <tr>
                <th>Wartość</th>
                <td>@(Math.Round((Model.ProductCount * Model.ProductPrice), 2))</td>
            </tr>
            <tr>
                <th>Status</th>
                @switch (Model.Status)
                {
                    case TaskStatus.Free:
                        <td>Wolne</td>
                        break;
                    case TaskStatus.UnderWork:
                        <td>W trakcie</td>
                        break;
                    case TaskStatus.Stoped:
                        <td>Zatrzymane</td>
                        break;
                    case TaskStatus.Finished:
                        <td>Skończone</td>
                        break;
                    case TaskStatus.FinishedWithFaults:
                        <td>Skończone z błędami</td>
                        break;
                    default:
                        <td>Wolne</td>
                        break;
                }
            </tr>
        </table>
    </div>    
</body>
</html>