﻿@model Tasks
@using ACSystem.Core;
@using ACSystem.Core.Models;
@using ACSystem.Core.Extensions

@{
    ViewBag.Title = "Szczegóły - Projekt: " + Model.Apartment.Project.ProjectNumber + " LGH " + Model.Apartment.Letter + " " + Model.Apartment.NumberOfApartment + " " + Model.GetTaskName(Model.Apartment.ProjectId) + " " + Model.TaskSufix;
    ViewBag.Active = "Projects";
    ViewBag.SubActive = "List";

    ViewBag.ProjectID = Model.Apartment.ProjectId;
    ViewBag.ApartmentID = Model.ApartmentId;
    ViewBag.TaskID = Model.Id;
    var projects = (List<Projects>)ViewBag.Projects;
}

@section Styles {
    @Styles.Render("~/Content/Site/projects.css")
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
    @Styles.Render("~/Content/plugins/huebee/huebee-colorpicker.css")
    @Styles.Render("~/Content/plugins/wysihtml5/wysihtml5.css")

    <style>
        .bootstrap-datetimepicker-widget {
            z-index: 999999;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/wysihtml5/wysihtml5.js")
    <script>
            $(document).ready(function () {
                $('.select2').select2();
                $('.textarea-wysiwg').wysihtml5();
        });

        $(document).on('click', '.add-add', function () {
            var id = $(this).data('id');
            var amount = $('#add-amount').val();

            var successFn = function (data) {
                if (data.success) {
                    var row = '<tr class="adds-' + data.id + '">';
                    row += "<td>" + data.amount + "</td>";
                    row += "<td></td>";
                    row += '<td><button type="button" class="btn btn-xs btn-danger delete-add" data-id="' + data.id + '">Usuń</button></td>';
                    row += '</tr>';
                    $('.adds-table tbody').append(row);

                    toastr.success("Pomyślnie dodano korektę!");
                }
                else {
                    toastr.error("Wystąpił błąd podczas dodawania korekty!");
                }
            }

            var errorFn = function () {
                toastr.error("Wystąpił błąd podczas dodawania korekty!");
            }

            GetAjaxWithFunctions("/Task/CreateInvoiceAdd", "POST", { id, amount }, successFn, errorFn, '');
        });

        $(document).on('click', '.delete-add', function () {
            var id = $(this).data('id');

            var successFn = function (data) {
                if (data.success) {
                    $('.adds-' + id).remove();

                    toastr.success("Pomyślnie usunięto korektę !");
                }
                else {
                    toastr.error("Wystąpił błąd podczas usuwania korekty!");
                }
            }

            var errorFn = function () {
                toastr.error("Wystąpił błąd podczas usuwania korekty!");
            }

            GetAjaxWithFunctions('/Task/DeleteInvoiceAdd', "POST", { id }, successFn, errorFn, '');
        });
    </script>
    <script>
            var dropzoneTask = $(".file-dropzone.for-task").dropzone({
                sending: function (file, xhr, formData) {
                    var taskID = $(".for-task").data("task-id");
                    formData.append("TaskID", taskID);
                },
                success: function (first, response) {
                    if (response.result === "true") {
                        toastr.success("Dokument został dodany!");

                        var docRow = "<tr>";
                        docRow += "<td>" + response.fileName + "</td>";
                        docRow += '<td class="text-center"><a href="/Monter/dist/Documents/' + response.newFileName + '" class="btn btn-sm btn-primary text-center">Pobierz</a></td>';
                        docRow += "</tr>";

                        $(".documents-table").append(docRow);
                    }
                },
                successMultiple: function (first, response) {
                    if (response.result === "true") {
                        toastr.success("Dokument został dodany!");

                        var docRow = "<tr>";
                        docRow += "<td>" + response.fileName + "</td>";
                        docRow += '<td class="text-center"><a href="/Monter/dist/Documents/' + response.newFileName + '" class="btn btn-sm btn-primary text-center">Pobierz</a></td>';
                        docRow += "</tr>";

                        $(".documents-table").append(docRow);
                    }
                }
            });
    </script>
    <script>
        $(document).on("click", ".delete-question-from-task", function () {
            var ID = $(this).data("id");

            var fn = function () {
                $.get('/Task/DeleteQuestion/' + ID, function () {
                    $("#question-row-" + ID).remove();
                })
                    .done(function () {
                        toastr.success("Pomyślnie usunięto pytanie z zadania", "Sukces");
                    })
                    .fail(function () {
                        toastr.error("Wystąpił błąd podczas usuwania pytania z zadania", "Błąd!");
                    });
            };

            Confirm("Czy na pewno chcesz usunąć pytanie z zadania?", fn);
        })
    </script>
    <script>
        $(document).on("click", ".save-question-from-task", function () {
            var ID = $(this).data("id");
            var answer = $(".question-answer.task-question-" + ID).val();
            var info = $(".question-answer-extra-field.task-question-" + ID).val();
            var translate = $(".question-answer-extra-field-translate.task-question-" + ID).val();

            var data = {
                Task_QuestionID: ID,
                AnswerID: answer,
                AdditionalInfo: info,
                Translate: translate
            };

            var successFn = function (data) {
                if (data.success) {
                    toastr.success("Pomyślnie zapisano odpowiedzi do pytania.");
                }
                else {
                    toastr.error("Wystąpił błąd podczas zapisywania odpowiedzi do pytania!");
                }
            }

            var errorFn = function () {
                toastr.error("Wystąpił błąd podczas zapisywania odpowiedzi do pytania!");
            }

            GetAjaxWithFunctions("/Task/SaveAnswerInTask", "POST", data, successFn, errorFn, "#question-row-" + ID);

        })
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    @Scripts.Render("~/Scripts/plugins/iCheck/icheck.min.js")
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    @Scripts.Render("~/Scripts/plugins/paging/paging.js")
    @Scripts.Render("~/Scripts/plugins/printURL/print.js")
    @Scripts.Render("~/Scripts/plugins/huebee/huebee-colorpicker.min.js")
    @Scripts.Render("~/Scripts/plugins/jeditable/jquery.jeditable.js")
    @Scripts.Render("~/Scripts/Site/apartments-manage.js")
    @Scripts.Render("~/Scripts/Site/projects-ext.js")

    <script>

        $(document).ready(function () {
            $("#tab-payroll .table-pagination").paging({
                limit: 10,
                activePage: localStorage.getItem("task-payroll-" + @Model.Id),
                webdataString: "task-payroll-" + @Model.Id,
            });

            $("#tab-invoice .table-pagination").paging({
                limit: 10,
                activePage: localStorage.getItem("task-invoice-" + @Model.Id),
                webdataString: "task-invoice-" + @Model.Id,
            });

            $("#tab-fees .table-pagination").paging({
                limit: 10,
                activePage: localStorage.getItem("task-fees-" + @Model.Id),
                webdataString: "task-fees-" + @Model.Id,
            });

            $("#tab-orders .table-pagination").paging({
                limit: 10,
                activePage: localStorage.getItem("task-orders-" + @Model.Id),
                webdataString: "task-orders-" + @Model.Id,
            });

            $("#tab-access .table-pagination").paging({
                limit: 10,
                activePage: localStorage.getItem("task-access-" + @Model.Id),
                webdataString: "task-access-" + @Model.Id,
            });

            $("#tab-documents .table-pagination").paging({
                limit: 10,
                activePage: localStorage.getItem("task-documents-" + @Model.Id),
                webdataString: "task-documents-" + @Model.Id,
            });

            $("#tab-out-users .table-pagination").paging({
                limit: 10,
                activePage: localStorage.getItem("task-out-users-" + @Model.Id),
                webdataString: "task-out-users-" + @Model.Id,
            });

            $("#tab-planned-fitters .table-pagination").paging({
                limit: 10,
                activePage: localStorage.getItem("task-planned-fitters-" + @Model.Id),
                webdataString: "task-planned-fitters-" + @Model.Id,
            });

            $("#tab-error-photos .table-pagination").paging({
                limit: 10,
                activePage: localStorage.getItem("task-error-photos-" + @Model.Id),
                webdataString: "task-error-photos-" + @Model.Id,
            });

            $("#tab-reports .table-pagination").paging({
                limit: 10,
                activePage: localStorage.getItem("task-reports-" + @Model.Id),
                webdataString: "task-reports-" + @Model.Id,
            });

            $("#tab-reports-grouped .table-pagination").paging({
                limit: 10,
                activePage: localStorage.getItem("task-reports-grouped-" + @Model.Id),
                webdataString: "task-reports-grouped-" + @Model.Id,
            });

            $("#tab-journal .table-pagination").paging({
                limit: 10,
                activePage: localStorage.getItem("task-journal-" + @Model.Id),
                webdataString: "task-journal-" + @Model.Id,
            });
        })

    </script>

}

<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Lokalizacja</h3>
                    <div class="box-tools">
                        @if (ViewBag.PrevApartment != null)
                        {
                            <a href="/Projects/ApartmentDetails/@ViewBag.PrevApartment" class="btn btn-primary btn-sm" title="Poprzednie mieszkanie"><i class="fa fa-angle-left"></i></a>
                        }
                        @if (ViewBag.NextApartment != null)
                        {
                            <a href="/Projects/ApartmentDetails/@ViewBag.NextApartment" class="btn btn-primary btn-sm" title="Następne mieszkanie"><i class="fa fa-angle-right"></i></a>
                        }
                    </div>
                </div>
                <div class="box-body user-info">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>Projekt</th>
                            <td>
                                <a href="/Projects/Details/@Model.Apartment.ProjectId">@Model.Apartment.Project.InSystemID # @Model.Apartment.Project.ProjectNumber</a>
                            </td>
                        </tr>
                        <tr>
                            <th>LGH</th>
                            <td>
                                <a href="/Projects/ApartmentDetails/@Model.ApartmentId">@Model.Apartment.Letter@Model.Apartment.NumberOfApartment</a>
                            </td>
                        </tr>
                        @if (!string.IsNullOrEmpty(Model.Apartment.Cage))
                        {
                            <tr>
                                <th>Klatka</th>
                                <td>
                                    @Model.Apartment.Cage
                                </td>
                            </tr>
                        }
                        <tr>
                            <th>Piętro</th>
                            <td>
                                @Model.Apartment.Floor
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">OPERACJE</h3>
                </div>
                <div class="box-body">
                    @if (!Model.Accepted)
                    {
                        <a href="/Task/Accept/@Model.Id" class="btn btn-flat btn-block btn-sm btn-primary">ZAAKCEPTUJ</a>
                    }
                    @if (Model.Invoice && Model.Status != TaskStatus.Finished && Model.Status != TaskStatus.FinishedWithFaultsCorrected)
                    {
                        <a href="/Task/ForceFinish/@Model.Id" class="btn btn-flat btn-block btn-sm btn-primary">ZAKOŃCZ POZYTYWNIE</a>
                    }
                    @if (Model.ClosedDate.HasValue == false)
                    {
                        <button class="btn btn-flat btn-block btn-sm btn-primary handy-finish-task" data-task-id="@Model.Id" data-back="task">ZAKOŃCZ RĘCZNIE</button>
                    }
                    @if (!Model.Invoice)
                    {
                        if (!Model.Blocked)
                        {
                            if (Model.ForceInvoice)
                            {
                                <a href="/Task/DontForceInvoice/@Model.Id" class="btn btn-flat btn-block btn-sm btn-primary">NIE WYMUSZAJ FAKTUROWANIE</a>
                            }
                            else
                            {
                                <a href="/Task/ForceInvoice/@Model.Id" class="btn btn-flat btn-block btn-sm btn-primary">WYMUŚ FAKTUROWANIE</a>
                            }
                            <a href="/Task/BlockInvoice/@Model.Id" class="btn btn-flat btn-block btn-sm btn-primary">ZABLOKUJ FAKTUROWANIE</a>
                        }
                        else
                        {
                            <a href="/Task/UnblockInvoice/@Model.Id" class="btn btn-flat btn-block btn-sm btn-primary">ODBLOKUJ FAKTUROWANIE</a>
                        }
                    }
                    @if (!Model.Invoice && !Model.Task_Fitter.Any(q => q.InPayroll))
                    {
                        <button data-task-id="@Model.Id" class="btn btn-flat btn-block btn-sm btn-primary move-task">PRZENIEŚ ZADANIE</button>
                    }
                    <a href="/Task/FillTask/@Model.Id" class="btn btn-flat btn-block btn-sm btn-primary">DOPEŁNIJ ZADANIE</a>
                    <button class="btn btn-flat btn-block btn-sm btn-primary serwis-task" data-task-id="@Model.Id" data-back="task">STWÓRZ SERWIS</button>
                    <a href="/Task/Delete/@Model.Id" class="btn btn-flat btn-block btn-sm btn-danger" @(((Model.Status == TaskStatus.Free && !Model.Invoice) || !Model.Accepted) ? "" : "disabled")>USUŃ</a>
                </div>
            </div>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Monterzy</h3>
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>Aktualni monterzy</th>
                            <td>
                                @foreach (var fitter in Model.Fitters)
                                {
                                    <a href="/Account/Details/@fitter.Id">@fitter.User.FullName &nbsp; &nbsp;</a>
                                }
                            </td>
                        </tr>
                        <tr>
                            <th>Monterzy</th>
                            <td>
                                @{
                                    var fittersHistory = Model.Task_Fitter.GroupBy(q => q.Fitter);

                                    foreach (var hist in fittersHistory)
                                    {
                                        <a href="/Account/Details/@hist.Key.Id">@hist.Key.User.FullName &nbsp; &nbsp;</a>
                                    }
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-task" data-toggle="tab">DANE ZADANIA</a></li>
                    <li><a href="#tab-questions" data-toggle="tab">PYTANIA</a></li>
                </ul>
                <div class="tab-content">
                    @Html.Partial("Partials/Partial_TaskData", Model)
                    @Html.Partial("Partials/Partial_Questions", Model)
                </div>
            </div>
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-invoice" data-toggle="tab">FAKTURY</a></li>
                    <li><a href="#tab-payroll" data-toggle="tab">PŁACE</a></li>
                    <li><a href="#tab-fees" data-toggle="tab">SZKODY</a></li>
                    <li><a href="#tab-orders" data-toggle="tab">ZAMÓWIENIA</a></li>
                    <li><a href="#tab-documents" data-toggle="tab">DOKUMENTY</a></li>
                    <li><a href="#tab-out-users" data-toggle="tab">UŻYTKOWNICY ZEW.</a></li>
                    <li><a href="#tab-planned-fitters" data-toggle="tab">ZAPLANOWANI MONTERZY</a></li>
                    <li><a href="#tab-access" data-toggle="tab">DOSTĘPY</a></li>
                    <li><a href="#tab-adds" data-toggle="tab">KOREKTY</a></li>
                </ul>
                <div class="tab-content">
                    @Html.Partial("Partials/Partial_InvoicesView", Model.InvoiceElements.Where(q => q.Complete).ToList())
                    @Html.Partial("Partials/Partial_PayrollsView", Model.PayrollItems.Where(q => q.Active.HasValue && q.Active.Value).ToList())
                    @Html.Partial("Partials/Partial_FeesView", Model.Fees)
                    @Html.Partial("Partials/Partial_Orders", Model)
                    @Html.Partial("Partials/Partial_Documents", Model.TaskDocuments)
                    @Html.Partial("Partials/Partial_OutUsers", Model.Task_AccessGrant)
                    @Html.Partial("Partials/Partial_PlannedFitters", Model)
                    @Html.Partial("Partials/Partial_Access", Model)
                    @Html.Partial("Partials/Partial_AddsView", Model)
                </div>
            </div>
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-reports" data-toggle="tab">RAPORTY KUCHNIA</a></li>
                    <li><a href="#tab-reports-grouped" data-toggle="tab">RAPORTY GRUPOWE</a></li>
                    <li><a href="#tab-journal" data-toggle="tab">DZIENNIK AKTYWNOSCI</a></li>
                    <li>
                        <a href="#tab-comments" id="task-comments-tab" data-apartment-id="@Model.Id" data-toggle="tab">
                            KOMENTARZE
                        </a>
                    </li>
                    <li>
                        <a href="#tab-place-errors" data-toggle="tab">
                            BŁĘDY (@Model.PlaceErrors.Count)
                        </a>
                    </li>
                    <li><a href="#tab-error-photos" id="error-photos-tab" data-toggle="tab">ZDJĘCIA</a></li>
                </ul>
                <div class="tab-content">
                    @Html.Partial("Partials/Partial_ActivityView", Model)
                    @Html.Partial("Partials/Partial_ReportsView", (Model.Status == TaskStatus.Finished || Model.Status == TaskStatus.FinishedWithFaults) && (Model.Task_Question.Any() || Model.Task_Questions != null) ? Model : null)
                    @Html.Partial("Partials/Partial_ReportsGroupedView", Model.ReportElems)
                    @Html.Partial("Partials/Partial_Comments", Model.TaskComments)
                    @Html.Partial("Partials/Partial_ErrorPhotos", Model)
                    @Html.Partial("Partials/Partial_PlaceErrors", Model.PlaceErrors)
                </div>
            </div>
        </div>
    </div>
</section>

<div id="modal" class="cal-modal cal-modal-form cal-modal-top"></div>

<div id="modal-photos" class="modal-photos">
    <a href="javascript:void(0);" onclick="Custombox.modal.close();" class="demo-close"><i class="fa fa-times"></i></a>
    <button type="button" class="btn btn-outline btn-info demo-close-btn" onclick="Custombox.modal.close();">Close</button>
    <div id="photos" class="gal-container">

    </div>
</div>

<div id="move-one-task-modal" class="cal-modal">
    @Html.Partial("Modals/Modal_MoveOneTask", projects);
</div>