﻿@using ACSystem.Core.Models
@using ACSystem.Core
@model Tasks

<script>
    function OpenPopup_EditActivity(id) {
        var popup = window.open("/Popup/EditActivity/" + id, "Popup", "width=600,height=1000");
        popup.focus();
    }
</script>

<div class="tab-pane table-responsive no-padding" id="tab-journal">
    <table class="table table-hover table-pagination">
        <thead>
            <tr>
                <th>Nazwa produktu</th>
                <th>Raportujący</th>
                <th>Monter</th>
                <th>Wykonana ilość</th>
                <th>Jm.</th>
                <th>Czas pracy (h)</th>
                <th>Status</th>
                <th>Data</th>
                <th>Timestamp</th>
                <th>Zdjęcia</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                var taskDict = (Dictionary<int, int>) ViewBag.TaskDict;
                var activityList = new List<Task_Fitter>();
            }
            @foreach (var activity in Model.Task_Fitter)
            {
                if (activity.Status == TaskStatus.Finished || activity.Status == TaskStatus.FinishedWithFaults || activity.Status == TaskStatus.Stoped || activity.Status == TaskStatus.PlaceNotReady || activity.Status == TaskStatus.NieNasze || activity.Status == TaskStatus.DoWyjasnienia)
                {
                    activityList.Add(activity);
                }
            }

            @foreach (var activity in activityList.OrderByDescending(q => q.Timestamp))
            {
                if (activity.Photos.Count > 0)
                {
                    <tr id="activity-@activity.Id" class="tr-clickable activity-@activity.Id @if (activity.IsActive == false) { Write("row-disabled"); }">
                        <td class="activity-photos" data-activity-id="@activity.Id">@activity.Task.GetTaskName(activity.Task.Apartment.ProjectId)</td>
                        <td class="activity-photos" data-activity-id="@activity.Id">@(activity.ReportUserEntity?.FullName)</td>
                        <td class="activity-photos" data-activity-id="@activity.Id">@activity.Fitter.User.FullName</td>
                        <td id="activityWorkDone-@activity.Id" class="editable-activity" data-activity-id="@activity.Id">@activity.WorkDone</td>
                        <td class="activity-photos" data-activity-id="@activity.Id">@activity.Task.Product.Jm</td>
                        <td id="activityWorkTime-@activity.Id" class="editable-activity" data-activity-id="@activity.Id">@Math.Round((decimal)activity.WorkTime / 60, 1)</td>
                        <td class="activity-photos" data-activity-id="@activity.Id">
                            <span id="activity-status-@activity.Id">
                                @switch (activity.Status)
                                {
                                    case TaskStatus.Free:
                                        <span class='label label-default'>Dostępne</span>
                                        break;
                                    case TaskStatus.UnderWork:
                                        <span class='label label-warning'>W trakcie</span>
                                        break;
                                    case TaskStatus.Stoped:
                                        <span class='label label-info'>Przerwane</span>
                                        break;
                                    case TaskStatus.Finished:
                                        <span class='label label-success'>Zakończone</span>
                                        break;
                                    case TaskStatus.FinishedWithFaults:
                                        <span class='label label-danger'>Zakończone z błędami</span>
                                        break;
                                    case TaskStatus.PlaceNotReady:
                                        <span class="label label-primary">Miejsce nieprzygotowane</span>
                                        break;
                                    case TaskStatus.Planned:
                                        <span class="label label-primary">Planowane</span>
                                        break;
                                    case TaskStatus.NieNasze:
                                        <span class="label label-primary">Nie nasze</span>
                                        break;
                                    case TaskStatus.DoWyjasnienia:
                                        <span class="label label-primary">Do wyjaśnienia</span>
                                        break;
                                }
                            </span>
                        </td>
                        <td id="activity-date-@activity.Id" class="activity-photos" data-activity-id="@activity.Id">
                            @if (activity.HandDateTime.HasValue)
                            {
                                Write(activity.HandDateTime.Value.ToString("yyyy-MM-dd HH:mm"));
                            }
                            else
                            {
                                Write(activity.Timestamp.ToString("yyyy-MM-dd HH:mm"));
                            }
                        </td>
                        <td class="activity-photos" data-activity-id="@activity.Id">@activity.Timestamp.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>
                            <div class="crud-container" style="opacity: 1 !important;">
                                <span data-toggle="tooltip" data-placement="bottom" title="Zobacz" data-activity-id="@activity.Id" class="crud crud-details activity-photos" data-demo="{" content":{"fullscreen":true,"target":"#demo-modal"}},"loader":{"active":false}}"><i class="glyphicon glyphicon-eye-open"></i></span>
                            </div>
                        </td>
                        <td>
                            <span data-toggle="tooltip" data-placement="bottom" title="Edytuj" class="crud crud-delete" onclick="OpenPopup_EditActivity(@activity.Id)"><i class="glyphicon glyphicon-pencil"></i></span>
                            @if (activity.IsActive)
                            {
                                <span data-toggle="tooltip" data-placement="bottom" title="Usuń" data-activity-id="@activity.Id" class="crud crud-delete delete-activity"><i class="glyphicon glyphicon-remove"></i></span>
                            }
                        </td>
                    </tr>
                }
                else
                {
                    <tr id="activity-@activity.Id" class="activity-@activity.Id @if (activity.IsActive == false) { Write("row-disabled"); }">
                        <td>@activity.Task.GetTaskName(activity.Task.Apartment.ProjectId)</td>
                        <td>@(activity.ReportUserEntity?.FullName)</td>
                        <td>@activity.Fitter.User.FullName</td>
                        <td id="activityWorkDone-@activity.Id" class="editable-activity">@activity.WorkDone</td>
                        <td>@activity.Task.Product.Jm</td>
                        <td id="activityWorkTime-@activity.Id" class="activity-photos editable-activity">@Math.Round((decimal)activity.WorkTime / 60, 1)</td>
                        <td>
                            <span id="activity-status-@activity.Id">
                                @switch (activity.Status)
                                {
                                    case TaskStatus.Free:
                                        <span class='label label-default'>Dostępne</span>
                                        break;
                                    case TaskStatus.UnderWork:
                                        <span class='label label-warning'>W trakcie</span>
                                        break;
                                    case TaskStatus.Stoped:
                                        <span class='label label-info'>Przerwane</span>
                                        break;
                                    case TaskStatus.Finished:
                                        <span class='label label-success'>Zakończone</span>
                                        break;
                                    case TaskStatus.FinishedWithFaults:
                                        <span class='label label-danger'>Zakończone z błędami</span>
                                        break;
                                    case TaskStatus.PlaceNotReady:
                                        <span class="label label-primary">Miejsce nieprzygotowane</span>
                                        break;
                                    case TaskStatus.Planned:
                                        <span class="label label-primary">Planowane</span>
                                        break;
                                    case TaskStatus.NieNasze:
                                        <span class="label label-primary">Nie nasze</span>
                                        break;
                                    case TaskStatus.DoWyjasnienia:
                                        <span class="label label-primary">Do wyjaśnienia</span>
                                        break;
                                }
                            </span>
                        </td>
                        <td id="activity-date-@activity.Id">
                            @if (activity.HandDateTime.HasValue)
                            {
                                Write(activity.HandDateTime.Value.ToString("yyyy-MM-dd HH:mm"));
                            }
                            else
                            {
                                Write(activity.Timestamp.ToString("yyyy-MM-dd HH:mm"));
                            }
                        </td>
                        <td>@activity.Timestamp.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>
                            <div class="crud-container">

                            </div>
                        </td>
                        <td>
                            <span data-toggle="tooltip" data-placement="bottom" title="Edytuj" class="crud crud-delete" onclick="OpenPopup_EditActivity(@activity.Id)"><i class="glyphicon glyphicon-pencil"></i></span>
                            @if (activity.IsActive)
                            {
                                <span data-toggle="tooltip" data-placement="bottom" title="Usuń" data-activity-id="@activity.Id" class="crud crud-delete delete-activity"><i class="glyphicon glyphicon-remove"></i></span>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

