﻿@using ACSystem.Core.Models
@using ACSystem.Core
@model Tasks

@{ 
    var rooms = (List<Rooms>)ViewBag.Rooms;

    var noDisplayService = (Model.Production == TaskProduction.Developer) ? "opacity: 0;" : "";
    
    var productsList = (List<Products>)ViewBag.ProductsList;
    var isSetProductsList = (bool)ViewBag.IsSetProductsList;
}

<div class="tab-pane no-padding active" id="tab-task">
    @using (Html.BeginForm())
    {
    <div class="row">
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-flat btn-sm btn-primary pull-right">ZAPISZ</button>
        </div>
    </div>
    @Html.HiddenFor(m => m.Id)

    <div class="row">
        <div class="form-group col-md-4 col-xs-12">
            <label class="control-label">Status</label>
            <select class="form-control" name="Status" id="Status" data-placeholder="Wybierz status zadania" style="width: 100%;">
                <option value="@((int)ACSystem.Core.TaskStatus.Free)" @if (Model.Status == ACSystem.Core.TaskStatus.Free) { Write("selected"); }>Wolne</option>
                <option value="@((int)ACSystem.Core.TaskStatus.UnderWork)" @if (Model.Status == ACSystem.Core.TaskStatus.UnderWork) { Write("selected"); }>W trakcie</option>
                <option value="@((int)ACSystem.Core.TaskStatus.Stoped)" @if (Model.Status == ACSystem.Core.TaskStatus.Stoped) { Write("selected"); }>Zatrzymane</option>
                <option value="@((int)ACSystem.Core.TaskStatus.Finished)" @if (Model.Status == ACSystem.Core.TaskStatus.Finished) { Write("selected"); }>Zakończone</option>
                <option value="@((int)ACSystem.Core.TaskStatus.FinishedWithFaults)" @if (Model.Status == ACSystem.Core.TaskStatus.FinishedWithFaults) { Write("selected"); }>Zakończone z błędami</option>
                <option value="@((int)ACSystem.Core.TaskStatus.FinishedWithFaultsCorrected)" @if (Model.Status == ACSystem.Core.TaskStatus.FinishedWithFaultsCorrected) { Write("selected"); }>Zakończone z błędami (poprawione)</option>
                <option value="@((int)ACSystem.Core.TaskStatus.PlaceNotReady)" @if (Model.Status == ACSystem.Core.TaskStatus.PlaceNotReady) { Write("selected"); }>Miejsce nieprzygotowane</option>
                <option value="@((int)ACSystem.Core.TaskStatus.Planned)" @if (Model.Status == ACSystem.Core.TaskStatus.Planned) { Write("selected"); }>Planowane</option>
                <option value="@((int)ACSystem.Core.TaskStatus.DoWyjasnienia)" @if (Model.Status == ACSystem.Core.TaskStatus.DoWyjasnienia) { Write("selected"); }>Do wyjaśnienia</option>
                <option value="@((int)ACSystem.Core.TaskStatus.NieNasze)" @if (Model.Status == ACSystem.Core.TaskStatus.NieNasze) { Write("selected"); }>Nie nasze</option>
            </select>
        </div>
        <div class="form-group col-md-4 col-xs-12 change-reason" @*style="display: none;"*@>
            <label class="control-label">Powód zmiany statusu</label>
            <textarea name="ChangeReason" class="form-control change-reason-box" style="width: 100%; height: 34px;">@Model.ChangeReason</textarea>
        </div>
        @if (Model.Production != TaskProduction.Developer)
        {
            <div class="form-group col-md-4 col-xs-12">
                <label class="control-label">Produkt</label>
                <input type="text" class="form-control" value="@Model.GetTaskName(Model.Apartment.ProjectId) @Model.TaskSufix" disabled />
            </div>
        }
        else
        {
            <div class="form-group col-md-4 col-xs-12">
                <label class="control-label">Produkt</label>
                <select class="form-control" name="ProductId" id="ProductId" data-placeholder="Wybierz produkt" style="width: 100%;">
                    @if (isSetProductsList == true)
                    {
                        foreach (var pm in productsList.Where(q => q.Id == Model.ProductId || q.IsActive == true))
                        {
                            if (pm.Product_Project.Any(q => q.ProjectID == Model.Apartment.ProjectId) || pm.ForAllProjects)
                            {
                                <option value="@pm.Id" @if (Model.ProductId == pm.Id) { Write("selected"); }>@pm.Name</option>
                            }
                        }
                    }
                </select>
            </div>
        }
    </div>
    <div class="row">
        <div class="form-group col-md-4 col-xs-12">
            <div class="col-xs-6 no-padding-left">
                <label class="control-label">Ilość</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="ProductCount" value="@Model.ProductCount" />
                    <span class="input-group-addon">
                        @Model.Product.Jm
                    </span>
                </div>
            </div>
            <div class="col-xs-6 no-padding-right">
                <label class="control-label">Cena</label>
                <div class="input-group">
                    <input type="text" class="form-control product-price" name="ProductPrice" id="ProductPrice" value="@Model.ProductPrice" data-count-directly="true" />
                    <span class="input-group-addon">
                        kr
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group col-md-4 col-xs-12">
            <label class="control-label">Data rozpoczęcia</label>
            <input type="text" class="form-control date-time" name="StartDate" value="@Model.StartDate.ToString("yyyy-MM-dd HH:mm")" />
        </div>
        <div class="form-group col-md-4 col-xs-12">
            <label class="control-label">Data zakończenia</label>
            <input type="text" class="form-control date-time" name="EndDate" value="@Model.EndDate.ToString("yyyy-MM-dd HH:mm")" />
        </div>
    </div>
    <div class="row" @((Model.Production == TaskProduction.Developer) ? "style=display:none" : "")>
        <div class="form-group col-md-4 col-xs-12" style="@noDisplayService">
            <label class="control-label">Rodzaj serwisu</label>
            <select class="form-control select2" name="Production" id="Production" data-placeholder="Wybierz typ serwisu" style="width: 100%;">
                @if (Model.Production == TaskProduction.Complaint)
                {
                    <option value="2" selected>Reklamacja</option>
                }
                else
                {
                    <option value="2">Reklamacja</option>
                }
                @if (Model.Production == TaskProduction.Warranty)
                {
                    <option value="1" selected>Gwarancja</option>
                }
                else
                {
                    <option value="1">Gwarancja</option>
                }
            </select>
        </div>

        <div class="form-group col-md-4 col-xs-12" style="@noDisplayService">
            <label class="control-label">Pomieszczenie</label>
            <select class="form-control select2" name="RoomID" id="RoomID" data-placeholder="Wybierz pomieszczenie" style="width: 100%;">
                <option></option>
                @foreach (var room in rooms)
                {
                    <option value="@room.ID" @((Model.RoomID == room.ID) ? "selected" : "")>@room.Name</option>
                }
            </select>
        </div>
        <div class="form-group col-md-4 col-xs-12" style="@noDisplayService">
            <label class="control-label">Kod błędu</label>
            <input type="text" class="form-control" name="ErrorCode" value="@Model.ErrorCode" />
        </div>
    </div>
    <div class="row" @((Model.Production == TaskProduction.Developer) ? "style=display:none" : "")>
        <div class="form-group col-md-4 col-xs-12">
            <div class="col-xs-6 no-padding-left" style="@noDisplayService">
                <label class="control-label">Cena (km)</label>
                <div class="input-group">
                    <input type="text" class="form-control" name="DistancePrice" value="@Model.DistancePrice" />
                    <span class="input-group-addon">
                        kr
                    </span>
                </div>
            </div>
            <div class="col-xs-6 no-padding-right">
                <label class="control-label">Cena (h)</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" name="IsHourlyPay" value="True" @((Model.IsHourlyPay) ? "checked" : "") />
                    </span>
                    <input type="text" class="form-control" name="HourlyPrice" value="@Model.HourlyPrice" />
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 form-group">
            <label for="Type1">Stawka 1 </label><small class="pt1 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType1 / 100))) SEK</small>
            <div class="input-group product-load">
                @Html.TextBoxFor(m => m.PercentType1, new { @class = "form-control percent-change", placeholder = "Stawka 1", data_count_directly = "true" })
                <span class="input-group-addon">%</span>
            </div>
        </div>
        <div class="col-xs-4 form-group">
            <label for="Type2">Stawka 2 </label><small class="pt2 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType2 / 100))) SEK</small>
            <div class="input-group product-load">
                @Html.TextBoxFor(m => m.PercentType2, new { @class = "form-control percent-change", placeholder = "Stawka 2", data_count_directly = "true" })
                <span class="input-group-addon">%</span>
            </div>
        </div>
        <div class="col-xs-4 form-group">
            <label for="Type3">Stawka 3</label><small class="pt3 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType3 / 100))) SEK</small>
            <div class="input-group product-load">
                @Html.TextBoxFor(m => m.PercentType3, new { @class = "form-control percent-change", placeholder = "Stawka 3", data_count_directly = "true" })
                <span class="input-group-addon">%</span>
            </div>
        </div>
        <div class="col-xs-4 form-group">
            <label for="Type4">Stawka 4</label><small class="pt4 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType4 / 100))) SEK</small>
            <div class="input-group product-load">
                @Html.TextBoxFor(m => m.PercentType4, new { @class = "form-control percent-change", placeholder = "Stawka 4", data_count_directly = "true" })
                <span class="input-group-addon">%</span>
            </div>
        </div>
        <div class="col-xs-4 form-group">
            <label for="Type5">Stawka 5</label><small class="pt5 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType5 / 100))) SEK</small>
            <div class="input-group product-load">
                @Html.TextBoxFor(m => m.PercentType5, new { @class = "form-control percent-change", placeholder = "Stawka 5", data_count_directly = "true" })
                <span class="input-group-addon">%</span>
            </div>
        </div>
        <div class="col-xs-4 form-group">
            <label for="Type6">Stawka 6</label><small class="pt6 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType6 / 100))) SEK</small>
            <div class="input-group product-load">
                @Html.TextBoxFor(m => m.PercentType6, new { @class = "form-control percent-change", placeholder = "Stawka 6", data_count_directly = "true" })
                <span class="input-group-addon">%</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6 col-xs-12">
            <label for="Description">Opis zadania</label>
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        </div>

        <div class="form-group col-md-6 col-xs-12">
            <label for="Description">Opis do faktury</label>
            @if (!string.IsNullOrEmpty(Model.InvoiceDescriptionPL))
            {
                <small>Opis montera: @Model.InvoiceDescriptionPL</small>
            }
            @Html.TextAreaFor(m => m.InvoiceDescription, new { @class = "form-control" })
        </div>
    </div>
    }
</div>