﻿@model IEnumerable<ACSystem.Core.Models.Fees>

<div class="tab-pane table-responsive no-padding" id="tab-fees">
    @*<button type="button" class="btn btn-xs btn-primary pull-right add-fee" data-project-id="@ViewBag.ProjectID" data-apartment-id="@ViewBag.ApartmentID" style="margin-bottom: 10px;">DODAJ</button>*@
    <table class="table table-bordered table-pagination">
        <thead>
        <tr>
            <th>Numer szkody</th>
            <th>Zadanie</th>
            <th width="90px">Data</th>
            <th width="90px">Data potrącenia</th>
            <th>Kwota</th>
            <th>Status</th>
            <th>Lista płac</th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (var item in Model)
            {

                <tr data-toggle="tooltip" data-placement="bottom" title="@item.Description">
                    <td>@(item.FeeNumber.ToString().PadLeft(5, '0'))</td>
                    <td>@(item.Task?.GetTaskName(item.Task.Apartment.ProjectId)) @(item.Task?.TaskSufix)</td>
                    <td>@item.FeeDate.ToString("yyyy-MM-dd")</td>
                    <td>@(item.TakeDate?.ToString("yyyy-MM-dd"))</td>
                    <td>@Math.Ceiling(item.FeeAmount * -1)kr</td>
                    <td>
                        @switch (item.Status)
                        {
                            case ACSystem.Core.FeeStatus.DoPotracenia:
                                <span class='label label-warning'>Do potrącenia</span>
                                break;
                            case ACSystem.Core.FeeStatus.Potracone:
                                <span class='label label-success'>Potrącone</span>
                                break;
                        }
                    </td>
                    <td>@(item.Payroll?.Number.ToString().PadLeft(5, '0'))</td>
                </tr>
            }
        }
        </tbody>
    </table>
</div>
