﻿@using ACSystem.Core
@model IEnumerable<ACSystem.Core.Models.ReportElem>

@{
    var taskDict = (Dictionary<int, int>) ViewBag.TaskDict;
    var reportNag = Model.GroupBy(q => q.ReportNag);
}

<div class="tab-pane table-responsive no-padding" id="tab-reports-grouped">
    <div class="input-group input-group-sm pull-right" style="width: 150px;">
        <input type="text" name="search" id="search-reports-grouped-table-input" class="form-control pull-right" placeholder="Szukaj">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default" id="search-reports-grouped-table-btn" data-apartment-id="@ViewBag.ApartmentID"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <table id="reports-grouped-table" class="table table-hover table-pagination">
        <thead>
        <tr>
            <th>Numer</th>
            <th>Rodzaj</th>
            <th>Data</th>
            <th>ID Projektu</th>
            <th>Nazwa Projektu</th>
            <th>Status</th>
            <th>Zastępuje</th>
            <th>Wysłano</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var r in reportNag)
            {
                var reportNumber = $"LGH{r.Key.Apartment.Letter}{r.Key.Apartment.NumberOfApartment}/{r.Key.Number}";

                <tr>
                    <td>
                        @reportNumber
                    </td>
                    <td>
                        @switch (r.Key.Type)
                        {
                            case TaskReportType.Dev_Kitchen:
                                <span>Kuchnie</span>
                                break;
                            case TaskReportType.Dev_Construction:
                                <span>Budowlanka</span>
                                break;
                            case TaskReportType.Service_All:
                                <span>Serwis</span>
                                break;
                        }
                    </td>
                    <td>
                        @r.Key.Date.ToString("yyyy-MM-dd")
                    </td>
                    <td>
                        @r.Key.Project.InSystemID
                    </td>
                    <td>
                        @r.Key.Project.ProjectNumber
                    </td>
                    <td>
                        @switch (r.Key.Status)
                        {
                            case ProjectStatus.NotStarted:
                                <span class="label label-default">Nie rozpoczęte</span>
                                break;
                            case ProjectStatus.UnderWork:
                                <span class="label label-warning">W trakcie</span>
                                break;
                            case ProjectStatus.Finished:
                                <span class="label label-success">Zakończone</span>
                                break;
                            case ProjectStatus.FinishedWithFaults:
                                <span class="label label-danger">Zakończone z błędami</span>
                                break;
                        }
                    </td>
                    <td>
                        @if (r.Key.PrecursorReport != null)
                        {
                            var precursorReportNumber = $"LGH{r.Key.PrecursorReport.Apartment.Letter}{r.Key.PrecursorReport.Apartment.NumberOfApartment}/{r.Key.PrecursorReport.Number}";

                            <span>
                                @precursorReportNumber
                            </span>
                        }
                    </td>
                    <td>
                        @(r.Key.SendDate?.ToString("yyyy-MM-dd"))
                    </td>
                    <td>    
                        <div class="crud-container">
                            <span data-toggle="tooltip" data-placement="bottom" title="Szczegóły" data-report-id="@r.Key.ID" class="crud crud-details details-grouped-raport"><i class="glyphicon glyphicon-eye-open"></i></span>
                            <span data-toggle="tooltip" data-placement="bottom" title="Drukuj" data-report-id="@r.Key.ID" class="crud crud-print print-raport"  onclick="PrintURL('/Print/ApartmentRaportGrouped?ID=@r.Key.ID&Print=true')"><i class="glyphicon glyphicon-print"></i></span>
                            <span data-toggle="tooltip" data-placement="bottom" title="Wyślij" data-report-id="@r.Key.ID" class="crud crud-mail send-grouped-raport"><i class="glyphicon glyphicon-envelope"></i></span>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

<div id="modal-report" class="cal-modal cal-modal-form cal-modal-top">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">RAPORT</h4>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
