﻿@model ICollection<ACSystem.Core.Models.InvoiceElements>

@{ 
    var invoices = Model.GroupBy(q => q.Invoice).OrderByDescending(q => q.Key.CreateDate);
    
}
<div class="tab-pane table-responsive no-padding active" id="tab-invoice">
    <table class="table table-bordered table-pagination">
        <thead>
            <tr>
                <th>Numer faktury</th>
                <th>Klient</th>
                <th>Kwota</th>
                <th>Data faktury</th>
                <th>Termin</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in invoices)
                {

                    <tr>
                        <td><a href="/Office/DetailsInvoice/@item.Key.ID">@item.Key.InvoiceNo</a></td>
                        <td><a href="/Customers/Details/@item.Key.CustomerID">@item.Key.Customer.Name</a></td>
                        <td>@Math.Ceiling(item.Key.Amount) kr</td>
                        <td>@item.Key.InvoiceDate.ToString("yyyy-MM-dd")</td>
                        <td>@item.Key.PaymentTerm.ToString("yyyy-MM-dd")</td>
                        <td>
                            @switch (item.Key.Status)
                            {
                                case ACSystem.Core.InvoiceStatus.Gotowa:
                                    <span class='label label-default'>Gotowa</span>
                                    break;
                                case ACSystem.Core.InvoiceStatus.Wyslana:
                                    <span class='label label-warning'>Wysłana</span>
                                    break;
                                case ACSystem.Core.InvoiceStatus.Zaplacona:
                                    <span class='label label-success'>Zapłacona</span>
                                    break;
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
