﻿@model ICollection<ACSystem.Core.Models.PayrollItems>

<div class="tab-pane table-responsive no-padding" id="tab-payroll">
    <table class="table table-bordered table-pagination">
        <thead>
            <tr>
                <th>Numer listy</th>
                <th>Monter</th>
                <th>Produkt</th>
                <th>Data zamknięcia</th>
                <th>Kwota</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {

                    <tr>
                        <td><a href="/Office/PayrollDetails/@item.PayrollID">@item.Payroll.Number</a></td>
                        <td><a href="/Account/Details/@item.FitterID">@item.FitterName</a></td>
                        <td><a href="/Products/Details/@item.ProductID">@item.ProductName</a></td>
                        <td>@item.TaskEnd</td>
                        <td>@Math.Ceiling(item.ToPay) kr</td>
                        <td>
                            @switch (item.Status)
                            {
                                case ACSystem.Core.PayItemStatus.DoWyplaty:
                                    <span class='label label-default'>Gotowe do wypłaty</span>
                                    break;
                                case ACSystem.Core.PayItemStatus.Wstrzymane:
                                    <span class='label label-warning'>Wstrzymane</span>
                                    break;
                                case ACSystem.Core.PayItemStatus.Wyplacone:
                                    <span class='label label-success'>Wypłacone</span>
                                    break;
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>