﻿@model ACSystem.Core.Models.Tasks

<div class="tab-pane table-responsive no-padding" id="tab-orders">
    @*<button type="button" class="btn btn-sm btn-primary pull-right" id="new-order-apartment" data-project-id="@Model.ProjectId" data-apartment-id="@Model.Id" style="margin-bottom: 20px;">DODAJ</button>*@
    <table class="table table-bordered table-pagination">
        <thead>
            <tr>
                <th>Numer zamówienia</th>
                <th>Zadanie</th>
                <th>Ilość pozycji</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var o in Model.Orders)
                {

                    <tr>
                        <td>@o.ID.ToString().PadLeft(4, '0')</td>
                        @if (o.Task != null)
                        {
                            <td class="details-task" data-task-id="@o.TaskID">@(o.Task?.GetTaskName(o.Task.Apartment.ProjectId)) @(o.Task?.TaskSufix)</td>
                        }
                        else
                        {
                            <td>@(o.Task?.GetTaskName(o.Task.Apartment.ProjectId)) @(o.Task?.TaskSufix)</td>
                        }
                        <td>@o.OrderItems.Count()</td>
                        <td>
                            @if (o.IsFinished)
                            {
                                <span class="label label-success">Dostarczone</span>
                            }
                            else
                            {
                                <span class="label label-default">Oczekujące</span>
                            }
                        </td>
                        <td>
                            <div class="crud-container">
                                @if (!o.IsFinished)
                                {
                                    <span data-toggle="tooltip" data-placement="bottom" title="Zakończ zamówienie" data-order-id="@o.ID" class="crud crud-accept finish-order"><i class="glyphicon glyphicon-ok"></i></span>
                                }
                                <span data-toggle="tooltip" data-placement="bottom" title="Szczegóły" data-order-id="@o.ID" class="crud crud-details details-order"><i class="glyphicon glyphicon-eye-open"></i></span>
                                <span data-toggle="tooltip" data-placement="bottom" title="Tłumacz" data-order-id="@o.ID" data-redirect="/Projects/ApartmentDetails/@Model.Id" class="crud crud-details translate-order"><i class="fa fa-comments"></i></span>
                                <span data-toggle="tooltip" data-placement="bottom" title="Drukuj" data-order-id="@o.ID" class="crud crud-print" onclick="PrintURL('/Projects/PrintOrder/@o.ID')"><i class="fa fa-print"></i></span>
                                <span data-toggle="tooltip" data-placement="bottom" title="Wyślij" data-order-id="@o.ID" data-project-id="@o.ProjectID" class="crud crud-mail send-order"><i class="fa fa-envelope"></i></span>
                                <span data-toggle="tooltip" data-placement="bottom" title="Usuń" data-order-id="@o.ID" class="crud crud-delete delete-order"><i class="glyphicon glyphicon-remove"></i></span>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
