﻿@using ACSystem.Core.Models
@using ACSystem.Core
@model IEnumerable<TaskDocuments>

<div class="tab-pane table-responsive no-padding" id="tab-documents">
    <form action="/Projects/UploadTaskDocument" class="file-dropzone for-task" data-task-id="@ViewBag.TaskID" style="min-height: 110px;">
        <div class="dz-default dz-message"><span>Upuśc pliki lub kliknij by dodać plik</span></div>
    </form>
    <table class="table table-bordered documents-table">
        <thead>
            <tr>
                <th>DOKUMENT</th>
                <th width="30px" class="text-center"></th>
                <th width="30px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var doc in Model)
            {
                <tr>
                    <td>@doc.FileName</td>
                    <td class="text-center"><a href="/Monter/dist/Documents/@doc.FilePath" class="btn btn-flat btn-sm btn-primary text-center"><i class="fa fa-download"></i></a></td>
                    <td>
                        <button type="button" class="btn btn-flat btn-sm btn-danger delete-file" data-url="/Monter/dist/Documents/@doc.FilePath" data-id="@doc.ID" data-from="task"><i class="fa fa-trash"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

