﻿@using ACSystem.Core
@model ACSystem.Core.Models.Tasks

@{
    var taskDict = (Dictionary<int, int>) ViewBag.TaskDict;
}

<div class="tab-pane table-responsive no-padding active" id="tab-reports">
    <table class="table table-hover table-pagination">
        <thead>
        <tr>
            <th>Nazwa produktu</th>
            <th>Monter</th>
            <th>Data zamknięcia</th>
            <th>Data wysłania</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                //if (task.Production != TaskProduction.Developer)
                //{
                //    continue;
                //}

                var task_fitter = Model.Task_Fitter.FirstOrDefault(q => q.Status == ACSystem.Core.TaskStatus.Finished || q.Status == ACSystem.Core.TaskStatus.FinishedWithFaults)?.Fitter?.User?.FullName;

                //if (string.IsNullOrEmpty(task_fitter))
                //{
                //    continue;
                //}

                <tr>
                    <td>@Model.GetTaskName(Model.Apartment.ProjectId) @Model.TaskSufix</td>

                    <td>@task_fitter</td>

                    <td>@if (Model.ClosedDate.HasValue) { Write(Model.ClosedDate.Value.ToString("yyyy-MM-dd")); }</td>
                    <td>@if (Model.ReportSentDate.HasValue) { Write(Model.ReportSentDate.Value.ToString("yyyy-MM-dd")); }</td>

                    <td>
                        @if (Model.ReportSent.HasValue && Model.ReportSent.Value == true)
                        {
                            <span class='label label-success'>Wysłany</span>
                        }
                        else
                        {
                            <span class='label label-default'>Nie wysłany</span>
                        }
                    </td>

                <td>

                    <div class="crud-container">
                    @*<span data-toggle="tooltip" data-placement="bottom" title="Szczegóły" data-task-id="@task.Id" class="crud crud-details details-raport"><i class="glyphicon glyphicon-eye-open"></i></span>*@
                    <span data-toggle="tooltip" data-placement="bottom" title="Drukuj" data-task-id="@Model.Id" class="crud crud-print print-raport"  onclick="PrintURL('/Print/Raport?ID=@Model.Id&Print=true')"><i class="glyphicon glyphicon-print"></i></span>
                    <span data-toggle="tooltip" data-placement="bottom" title="Wyślij" data-task-id="@Model.Id" class="crud crud-mail send-raport"><i class="glyphicon glyphicon-envelope"></i></span>
                     </div>
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>
