﻿@model ACSystem.Core.Models.Tasks

<div class="tab-pane table-responsive no-padding" id="tab-adds">
    <div class="col-md-4 col-md-offset-7" style="margin-bottom: 15px;">
        <input type="text" class="form-control" id="add-amount" />
    </div>
    <div class="col-md-1">
        <button type="button" class="btn btn-block btn-flat btn-primary add-add" data-id="@Model.Id">Dodaj</button>
    </div>
    <table class="table table-bordered table-pagination adds-table">
        <thead>
            <tr>
                <th>Kwota korekty</th>
                <th>Faktura</th>
                <th width="50px"></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.Invoice_Adds)
                {

                    <tr class="adds-@item.ID">
                        <td>
                            @item.Amount
                        </td>
                        <td>
                            @((item.Invoice != null) ? item.Invoice.InvoiceNo : "")
                        </td>
                        <td>
                            @if (item.InvoiceID.HasValue == false)
                            {
                                <button type="button" class="btn btn-xs btn-danger delete-add" data-id="@item.ID">Usuń</button>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
