﻿@model ACSystem.Core.Models.Tasks
@using ACSystem.Core;
@using ACSystem.Core.Models;
@using ACSystem.Core.Extensions


<div class="tab-pane table-responsive no-padding" id="tab-questions">
    @Html.Hidden("selected-task-id", Model.Id)
    @if (Model.Production == TaskProduction.Developer && (Model.Task_Questions != null || Model.Task_Question.Any()))
    {
        <table class="table table-responsive table-bordered table-striped">
            <thead>
                <tr>
                    <th>Element</th>
                    <th>Status</th>
                    @if (Model.Task_Questions == null)
                    {
                        <th>Dod. Info</th>
                        <th>Tłum.</th>
                        <th></th>
                    }
                </tr>
            </thead>
            <tbody>
                @if (Model.Product.ProductType == TaskType.Kitchen && Model.Task_Questions != null)
                {
                    Html.TaskQuestionRow(Model.Task_Questions, Model.Id);
                }
                else
                {
                    foreach (Task_Question question in Model.Task_Question)
                    {
                        string bg = (question.Answer != null && question.Answer.IsError == true) ? "red" : "transparent";
                        string clr = (question.Answer != null && question.Answer.IsError == true) ? "white" : "black";
                        bool extraFieldTT = question.Answer != null && question.Answer.ExtraFieldTT;

                        <tr style="background-color: @bg; color: @clr;" id="question-row-@question.ID">
                            <td>@question.Question.QuestionPol</td>
                            <td>
                                <select class="form-control task-question-@question.ID question-answer">
                                    <option>-</option>
                                    @foreach (var a in question.Question.Answers)
                                    {
                                        string isSelected = (a.ID == question.AnswerID) ? "selected" : "";
                                        <option value="@a.ID" @isSelected>@a.AnswerPol</option>
                                    }
                                </select>
                            </td>
                            <td>
                                <input type="text" class="form-control task-question-@question.ID question-answer-extra-field" value="@question.AdditionalInformation" />
                            </td>
                            @if (extraFieldTT)
                            {
                                <td>
                                    <input type="text" class="form-control task-question-@question.ID question-answer-extra-field-translate" value="@question.Translation" />
                                </td>
                            }
                            else
                            {
                                <td>Nie dotyczy</td>
                            }
                            <td>
                                @if (!string.IsNullOrEmpty(question.Photo))
                                {
                                    <a href="/Monter/dist/Question_Images/@question.Photo" target="_blank" class="text-primary cursor-pointer"><i class="fa fa-camera"></i></a>
                                }
                                <a class="text-primary cursor-pointer save-question-from-task" data-id="@question.ID"><i class="fa fa-check"></i></a>
                                <a class="text-danger cursor-pointer delete-question-from-task" data-id="@question.ID"><i class="fa fa-remove"></i></a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else if (Model.Production != TaskProduction.Developer && Model.TaskPatches != null && Model.TaskPatches.Count() > 0)
    {
        <table class="table table-responsive table-bordered table-striped">
            <thead>
                <tr>
                    <th>Element</th>
                    <th>Opis</th>
                    <th>Monter</th>
                    <th>Timestamp</th>
                    <th width="20px">Koniec</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var patch in Model.TaskPatches)
                {
                    if (patch.Done)
                    {
                        <tr class="task-element-@patch.ID" style="background-color: green; color: white;">
                            <th>
                                <span>
                                    @patch.ItemTitle
                                </span>
                            </th>
                            <td>@patch.ItemDescription</td>
                            <td>@patch.FitterName</td>
                            <td>@(patch.Timestamp?.ToString("yyyy-MM-dd HH:mm"))</td>
                            <td><input type="checkbox" class="patch-checkbox" @if (patch.Done) { Write("checked"); } data-patch-id="@patch.ID" data-patch-status="@patch.Done" /></td>
                            <td>
                                @if (!string.IsNullOrEmpty(patch.Photo))
                                {
                                    <a href="/Monter/dist/Patch_Images/@patch.Photo" style="color: white;" target="_blank"><i class="fa fa-eye"></i></a>
                                }
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr class="task-element-@patch.ID">
                            <th>@patch.ItemTitle</th>
                            <td>@patch.ItemDescription</td>
                            <td></td>
                            <td></td>
                            <td><input type="checkbox" class="patch-checkbox" @if (patch.Done) { Write("checked"); } data-patch-id="@patch.ID" data-patch-status="@patch.Done" /></td>
                            <td></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
</div>

