﻿@using ACSystem.Core.Models
@using ACSystem.Core
@using ACSystem.Core.Models.ViewModels
@model Tasks

@{
    var plan = (List<PlannedTaskListForTask>)ViewBag.Plan;
}

<div class="tab-pane table-responsive no-padding" id="tab-planned-fitters">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Użytkownik</th>
                <th>Data</th>
                <th>Opis</th>
                <th width="30px">
                    <button type="button" class="btn btn-flat btn-sm btn-primary plan-fitter-task" data-task-id="@ViewBag.TaskID" data-apartment-id="-1"><i class="fa fa-plus"></i></button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in plan)
            {
                <tr class="plan-@m.EventID">
                    <td>
                        <a href="/Account/Details/@m.FitterID">@m.FitterName</a>
                    </td>
                    <td>
                        @m.PlannedDate.ToString("yyyy-MM-dd")
                    </td>
                    <td>
                        @m.Description
                    </td>
                    <td>
                        <span class="btn btn-flat btn-sm btn-danger delete-planned-task" data-event-id="@m.EventID" style="cursor: pointer;"><i class="fa fa-trash"></i></span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

