﻿@using ACSystem.Core.Models
@using ACSystem.Core
@model IEnumerable<Task_AccessGrant>

<div class="tab-pane table-responsive no-padding" id="tab-out-users">
    
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Użytkownik</th>
                <th width="30px">
                    <button type="button" class="btn btn-flat btn-sm btn-primary access-grant-task" data-task-id="@ViewBag.TaskID" data-apartment-id="-1"><i class="fa fa-plus"></i></button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var m in Model)
            {
                <tr class="grant-fitter-@m.User.Id">
                    <td>
                        <a href="/Account/Details/@m.User.Id">@m.User.FullName</a>
                    </td>
                    <td>
                        @if (m.User.Fitter.TaskAlreadyWork != ViewBag.TaskID)
                        {
                            <span class="btn btn-flat btn-sm btn-danger delete-grant-fitter" data-fitter-id="@m.User.Id" data-task-id="@ViewBag.TaskID" style="cursor: pointer;"><i class="fa fa-trash"></i></span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

