﻿@using ACSystem.Core.Models
@using ACSystem.Core.Models.ViewModels
@using ACSystem.Core
@model Tasks

@{
    //var taskDict = (Dictionary<int, int>)ViewBag.TaskDict;

    var photos = new List<TasksPhotos>();
}

<div class="tab-pane table-responsive no-padding" id="tab-error-photos">
    <table class="table table-hover table-pagination">
        <thead>
        <tr>
            <th style="text-align: center;" width="15px"></th>
            <th>Zadanie</th>
            <th>Pytanie</th>
            <th>Opis</th>
            <th>Rodzaj</th>
            <th></th>
        </tr> 
        </thead>
        <tbody>
            @if (Model.Product.ProductType == TaskType.Kitchen && Model.Task_Questions != null && Model.Task_Questions.TaskQuestionPhoto != null && Model.Task_Questions.TaskQuestionPhoto.Any())
            {
                foreach (var tq in Model.Task_Questions.TaskQuestionPhoto.Where(q => string.IsNullOrEmpty(q.Photo) == false))
                {
                    photos.Add(new TasksPhotos
                    {
                        ID = tq.Id,
                        Zadanie = Model.GetTaskName(Model.Apartment.ProjectId) + " " + Model.TaskSufix,
                        Pytanie = Dicts.PL_Questions[tq.Question],
                        Opis = tq.Description,
                        Link = $"<a href=\"/Monter/dist/Question_Images/{tq.Photo}\" class=\"btn btn-xs btn-primary\" target=\"_blank\">Pobierz</a>",
                        Rodzaj = "Błąd",
                        DataZamkniecia = Model.ClosedDate ?? DateTime.Now,
                        Blocked = tq.Blocked,
                        Source = "Question_Images"
                    });
                }
            }

            @if (Model.Product.ProductType == TaskType.Kitchen && Model.Task_Questions != null && Model.Task_Questions.TaskQuestionPhoto != null && Model.Task_Questions.TaskQuestionPhoto.Any())
            {
                foreach (var tp in Model.TaskPatches.Where(q => !string.IsNullOrEmpty(q.Photo)))
                {
                    photos.Add(new TasksPhotos
                    {
                        ID = tp.ID,
                        Zadanie = Model.GetTaskName(Model.Apartment.ProjectId) + " " + Model.TaskSufix,
                        Pytanie = tp.ItemTitle,
                        Opis = tp.ItemDescription,
                        Link = $"<a href=\"/Monter/dist/Patch_Images/{tp.Photo}\" class=\"btn btn-xs btn-primary\" target=\"_blank\">Pobierz</a>",
                        Rodzaj = "OK",
                        DataZamkniecia = Model.ClosedDate ?? DateTime.Now,
                        Blocked = tp.PhotoBlocked,
                        Source = "Patch_Images"
                    });
                }
            }

            @{

                var activities = Model.Task_Fitter.Where(q => q.Photos.Any()).ToList();

                if (activities.Any())
                {
                    foreach (var a in activities)
                    {
                        foreach (var ap in a.Photos)
                        {
                            photos.Add(new TasksPhotos
                            {
                                ID = ap.Id,
                                Zadanie = Model.GetTaskName(Model.Apartment.ProjectId) + " " + Model.TaskSufix,
                                Opis = ap.Desc,
                                Link = $"<a href=\"/Monter/dist/Task_Images/{ap.Photo}\" class=\"btn btn-xs btn-primary\" target=\"_blank\">Pobierz</a>",
                                Rodzaj = (a.Status != TaskStatus.Finished && a.Status != TaskStatus.Stoped) ? "Błąd" : "OK",
                                DataZamkniecia = Model.ClosedDate ?? a.Timestamp,
                                Blocked = ap.Blocked,
                                Source = "Task_Images"
                            });
                        }
                    }
                }
            }
            
            @foreach (var p in photos.OrderByDescending(q => q.DataZamkniecia))
            {
                var blocked = (p.Blocked == true) ? "is-blocked" : "";

                <tr class="@p.Source-@p.ID @blocked">
                    <td>
                        <span><i class="fa fa-lock text-danger lock-icon"></i></span>
                    </td>
                    <td>@p.Zadanie</td>
                    <td>@p.Pytanie</td>
                    <td>@p.Opis</td>
                    <td>@p.Rodzaj</td>
                    <td>
                        @Html.Raw(p.Link)

                        @if (p.Blocked)
                        {
                            <button type="button" class="btn btn-xs btn-success block-photo" data-source="@p.Source" data-id="@p.ID" data-blocked="True">Odblokuj</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-xs btn-warning block-photo" data-source="@p.Source" data-id="@p.ID" data-blocked="False">Zablokuj</button>
                        }

                        <button type="button" class="btn btn-xs btn-danger delete-photo" data-source="@p.Source" data-id="@p.ID">Usuń</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

