﻿@model ACSystem.Core.Models.Payroll

@{
    var ForFitter = Model.Items.Where(q => q.FitterName == ViewBag.FitterName.Replace('_', ' '));

    var sumaNalezna = ForFitter.Sum(q => q.ToPay);
    var sumaPotracen = ForFitter.Sum(q => q.Fees);
    var doWyplaty = sumaNalezna - sumaPotracen;

    var sumaNaleznaPLN = ForFitter.Sum(q => q.ToPayPLN);
    var sumaPotracenPLN = ForFitter.Sum(q => q.FeesPLN);
    var doWyplatyPLN = sumaNaleznaPLN - sumaPotracenPLN;

    decimal sumaGodzin = ForFitter.Sum(q => q.WorkTime);

    var hourlyRate = ForFitter.FirstOrDefault()?.HourlyRate ?? 0;

    var sumaZaGodziny = sumaGodzin * hourlyRate;
    var sumaZaGodzinyPLN = Math.Round(((double)sumaZaGodziny * Model.CurrencyRate2), 2);

    var doWyplatyMinusGodziny = doWyplaty - sumaZaGodziny;
    var doWyplatyPLNMinusGodziny = (double)doWyplatyPLN - sumaZaGodzinyPLN;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/css")
    <style>
        @@page {
            size: A4 landscape;

            @@bottom-right {
                content: counter(page) " of " counter(pages);
            }
        }

        table {
            width: 100%;
        }

        tr {
            border: 1px solid black;
        }

        th {
            text-align: center;
            border: 1px solid black;
            padding: 5px;
        }

        /*th:first-child {
            border: none;
        }*/

        td {
            padding: 5px;
            border: 1px solid black;
        }

            /*td:first-child {
            border: none;
        }*/

            td:nth-child(3) {
                text-align: center;
            }

        .bold {
            font-weight: bold;
        }
    </style>
    <title>@Model.Number.ToString().PadLeft(5, '0')-@ViewBag.FitterName.Replace('_', ' ')</title>
</head>
<body onload="window.print()">
    @*<div style="border-bottom: 1px solid black;">
            <h1 style="text-align:center">@ViewBag.FitterName.Replace('_', ' ')</h1>
            <p style="text-align:center">
                                         Numer listy płac: <b>@Model.Number.ToString().PadLeft(5, '0')</b>,
                                         Suma należna: <b>@Math.Ceiling(sumaNalezna) kr | @Math.Round(sumaNaleznaPLN, 2) zł</b>,
                                         Suma potrąceń: <b>@Math.Ceiling(sumaPotracen) kr | @Math.Round(sumaPotracenPLN, 2) zł</b>,
                                         Do wypłaty: <b>@Math.Ceiling(doWyplatyMinusGodziny) kr | @Math.Round(doWyplatyPLNMinusGodziny, 2) zł</b>
                                         Kurs SEK: <b>@Math.Round(Model.CurrencyRate2, 4) zł</b>
            </p>
        </div>*@
    <div>
        <table>
            <thead style="background: #eee;">
                <tr>
                    <th colspan="8">
                        <h6 style="text-align: right;" id="page-counter"></h6>
                        <h1 style="text-align:center">@ViewBag.FitterName.Replace('_', ' ')</h1>
                        <p style="text-align:center">
                            Numer listy płac: <b>@Model.Number.ToString().PadLeft(5, '0')</b>,
                            Suma należna: <b>@Math.Ceiling(sumaNalezna) kr</b>,
                            Suma potrąceń: <b>@Math.Ceiling(sumaPotracen) kr</b>,
                            Do wypłaty: <b>@Math.Ceiling(doWyplatyMinusGodziny) kr</b>
                        </p>
                    </th>
                </tr>
                <tr>
                    <th>Lp.</th>
                    <th>Projekt</th>
                    <th>Apartament</th>
                    <th>Produkt</th>
                    <th>Data zamknięcia</th>
                    <th>Wykonana praca</th>
                    <th>Kwota</th>
                    <th>Potrącenia</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 1;

                    foreach (var item in ForFitter)
                    {

                        <tr>
                            <td>@i</td>
                            <td>@item.ProjectNumber</td>
                            <td>@item.ApartmentNumber</td>
                            <td>@item.ProductName</td>
                            <td>@item.TaskEnd.ToString("yyyy-MM-dd")</td>
                            <td>
                                @if (item.IsHourlyPay)
                                {
                                    <span>@item.WorkDone @item.WorkDoneUnit</span> <span>|</span> <b>@item.WorkTime h</b>
                                }
                                else
                                {
                                    <b>@item.WorkDone @item.WorkDoneUnit</b> <span>|</span> <span>@item.WorkTime h</span>
                                }
                            </td>
                            <td>@Math.Ceiling(item.ToPay) kr</td>
                            <td>@Math.Ceiling(item.Fees * -1) kr</td>
                        </tr>

                        if (!string.IsNullOrEmpty(item.FeeDescription))
                        {
                            <tr>
                                <td colspan="8" style="text-align: right;">
                                    Opis: @item.FeeDescription
                                </td>
                            </tr>
                        }

                        i++;
                    }

                }
            </tbody>
            <tfoot style="background: #eee;">
                <tr>
                    <td colspan="6" style="text-align: right;">Sumy:</td>
                    <td>@Math.Ceiling(sumaNalezna) kr</td>
                    <td>@Math.Ceiling(sumaPotracen * -1) kr</td>
                </tr>
                <tr>
                    <td colspan="6" style="text-align: right;">Akord:</td>
                    <td colspan="2">@Math.Ceiling(doWyplaty) kr</td>
                </tr>
                <tr>
                    <td colspan="6" style="text-align: right;">Godziny (@sumaGodzin):</td>
                    <td colspan="2">
                        @{

                        }
                        <span>@sumaZaGodziny</span> kr
                    </td>
                </tr>
                <tr>
                    <td colspan="6" style="text-align: right;">Do wypłaty:</td>
                    <td colspan="2">@Math.Ceiling(doWyplatyMinusGodziny) kr</td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>
