﻿@import url(//fonts.googleapis.com/css?family=Open+Sans:600,400&subset=latin,cyrillic);

body {
    padding-bottom: 20px;
    background-color: #2c3b41;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

.box {
    color: #222;
}

.box a, .box a:visited {
    color: #444;
}

.box a:hover, .box a:active {
    color: #888;
    text-decoration: none;
}

.padding-bottom-30 {
    padding-bottom: 30px;
}

.logo {
    color: #fff;
}

.nav {
    margin-bottom: 30px;
    margin-left: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-circle {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0;
  font-size: 28px;
  line-height: 1.428571429;
  border-radius: 40px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-like-bg {
    background-color: #2c3b41 !important;
    color: #fff !important;
}

.btn-like-bg:focus, .btn-like-bg:hover, .btn-like-bg:active {
    background-color: #44585F;
    color: #fff;
}

.color-dark {
    color: #222;
}

#photos-names {
    color: #333;
}

.fileUpload {
    margin-bottom: 10px;
}

.machine.hid {
    display: none;
}

.machine.visible {
    display: block;
}

.jconfirm-box {
    color: black;
}

.favourite-star {
    display: inline-block;
    font-size: 25px;
    color: rgba(0,0,0,.5);
    position: relative;
    cursor: pointer;
    height:25px;
    width: 25px;
}

.favourite-star span {
    z-index: 999;
    position: absolute;
}

.favourite-star span:hover {
    opacity: 0.8;
}

.favourite-star span:active {
    transform: scale(0.93,0.93) translateY(2px)
}

.favourite-star .ring,.favourite-star .ring2 {
    opacity: 0;
    /*background: grey;*/
    width: 1px;
    height: 1px;
    position: absolute;
    top: 19px;
    left: 18px;
    border-radius: 50%;
    cursor: pointer;
}

.favourite-star.active span, .favourite-star.active-2 span {
    color: #F5CC27 !important;
}

.favourite-star.active-2 .ring {
    width: 58px !important;
    height: 58px !important;
    top: -10px !important;
    left: -10px !important;
    position: absolute;
    border-radius: 50%;
    opacity: 1 !important;
}



.favourite-star.active-3 .ring2 {
    width: 60px !important;
    height: 60px !important;
    top: -11px !important;
    left: -11px !important;
    position: absolute;
    border-radius: 50%;
    opacity: 1 !important;
}

.favourite-star .info {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    color: grey;
    position: relative;
    top: 30px;
    left: -46px;
    opacity: 0;
    transition: all 0.3s ease;
}

.favourite-star.info-tog {
    color: #F5CC27;
    position: relative;
    top: 45px;
    opacity: 1;
}

* {
    transition: all .32s ease;
}