﻿@model ACSystem.Models.View.ProjectDetailsViewModel
@using ACSystem.Core.Extensions

@{
    ViewBag.ProjectStatus = Model.Status;
    ViewBag.Title = "Szczegóły - Projekt NR " + Model.ProjectName;
    ViewBag.Active = "Projects";
    ViewBag.SubActive = "List";

    var daysLeft = (Model.EndDate - DateTime.Now)?.Days ?? 0;
    var remind = (Model.Remind && daysLeft < 0) ?
                    $"Termin końca projektu upłynął { daysLeft * -1 } { ((daysLeft == 1) ? "dzień" : "dni") } temu!" :
                    $"Termin końca projektu upłynie za { daysLeft } { ((daysLeft == 1) ? "dzień" : "dni") }";
}

<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Szczegóły projektu</h3>
                    <div class="box-tools pull-right" id="prev-next-btns">
                        <a href="/Projects/Edit/@Model.Id" class="btn btn-sm btn-primary" title="Edytuj">
                            Edytuj
                        </a>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-bordered">
                        <tr>
                            <th>
                                ID Projektu
                            </th>
                            <td>
                                @Model.InSystemId
                            </td>
                            <td colspan="2">
                                <button type="button"
                                        id="set-project-check"
                                        data-is-checked="@(!Model.IsChecked)"
                                        data-project-id="@Model.Id"
                                        class="btn btn-block btn-flat btn-xs @((Model.IsChecked) ? "btn-success" : "btn-danger")"
                                        @((Model.BeforeCheckValidationMessages.Any(e => e.Value) ? "disabled" : ""))>
                                    @((Model.IsChecked) ? "PROJEKT SPRAWDZONY" : "PROJEKT NIESPRAWDZONY")
                                </button>
                            </td>
                        </tr> <!-- ID Projektu-->
                        <tr>
                            <th>
                                Klient
                            </th>
                            <td>
                                <a href="/Customers/Details/@Model.Customer.Id">@Model.Customer.Name</a>
                            </td>
                            <td colspan="2">
                                <a href="/Reports/HourlyWorkReport?ProjectID=@Model.Id" class="btn btn-block btn-flat btn-xs btn-primary">
                                    RAPORT PRAC GODZINOWYCH
                                </a>
                            </td>
                        </tr> <!-- Klient -->
                        <tr>
                            <th>Adres</th>
                            <td class="dd-map">
                                <a target="_blank" href="https://www.google.com/maps/dir/?api=1&origin=VALLDA, Szwecja&destination=@Model.Address">@Model.Address <i class="fa fa-eye"></i></a>
                            </td>
                            <td colspan="2">
                                <button type="button" class="btn btn-block btn-primary btn-flat btn-xs" id="generuj-xml-aktywnosci" data-project-id="@Model.Id">
                                    DZIENNIK DO EXCEL
                                </button>
                            </td>
                        </tr> <!-- Adres -->
                        @if (!string.IsNullOrEmpty(Model.Supervisor))
                        {
                            <tr>
                                <th>Kierownik</th>
                                <td>@Model.Supervisor</td>
                                <td colspan="2"></td>
                            </tr>
                        }
                        @if (Model.Calendar != null)
                        {
                            <tr>
                                <th>Kalendarz</th>
                                <td style="background-color: @Model.Calendar.ColorHex; color: white; padding: 10px;">@Model.Calendar.Name</td>
                                <td colspan="2">
                                    <a href="/Parallel/UnacceptedTasks/@Model.Id" class="btn btn-block btn-primary btn-flat btn-xs">
                                        ZADANIA NIEZAAKCEPTOWANE
                                    </a>
                                </td>
                            </tr>
                        }
                        @if (Model.IsChild)
                        {
                            <tr>
                                <th>Projekt główny</th>
                                <td colspan="3">
                                    <a href="/Projects/Details/@Model.ParentProjectID">@Model.ParentProjectName</a>
                                </td>
                            </tr>
                        }
                        <tr>
                            <th>Szacunkowy czas</th>
                            <td>
                                @((Model.WorkTimeRequired - Model.WorkTimeDone).TwoOrNone()) /
                                @(Model.WorkTimeRequired.TwoOrNone()) h
                            </td>
                            <td colspan="2">
                                <a href="/Parallel/TasksInProject?projectID=@Model.Id" class="btn btn-block btn-primary btn-flat btn-xs">
                                    ZESTAWIENIE ZADAŃ
                                </a>
                            </td>
                        </tr>
                        @if (Model.FirstDoService)
                        {
                            <tr>
                                <td colspan="4">
                                    <span class="text-danger text-bold">W PIERWSZEJ KOLEJNOŚCI WYKONYWANE SĄ ZADANIA SERWISOWE !</span>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Opis do faktury</h3>
                </div>
                <div class="box-body user-contact">
                    @Html.TextAreaFor(m => m.InvoiceDescription, new { @class = "form-control", style = "width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" })
                    <button class="btn btn-sm btn-primary pull-right" style="margin-top: 15px;" id="save-project-invoice-description" data-project-id="@Model.Id">ZAPISZ OPIS</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="col-xs-3">
                        <ul class="nav nav-tabs tabs-left">
                            <li>
                                <a href="#tab-events" data-toggle="tab" data-url="/Project/Details_Events/@Model.Id" class="tab-button">
                                    WYDARZENIA
                                </a>
                            </li>
                            <li>
                                <a href="#tab-apartments" data-toggle="tab" data-url="/Project/Details_Apartments/@Model.Id" class="tab-button">
                                    APARTAMENTY
                                </a>
                            </li>
                            @if (Model.HasChilds)
                            {
                            <li>
                                <a href="#tab-child-projects" data-toggle="tab" data-url="/Project/Details_ChildProjects/@Model.Id" class="tab-button">
                                    PODPROJEKTY
                                </a>
                            </li>
                            }
                            <li>
                                <a href="#tab-products" data-toggle="tab" data-url="/Project/Details_Products/@Model.Id" class="tab-button">
                                    PRODUKTY
                                </a>
                            </li>
                            <li>
                                <a href="#tab-project-managers" data-toggle="tab" data-url="/Project/Details_ProjectManagers/@Model.Id" class="tab-button">
                                    MENEDŻEROWIE PROJEKTU
                                </a>
                            </li>
                            <li>
                                <a href="#tab-plan" data-toggle="tab" data-url="/Project/Details_ProductPlan/@Model.Id" class="tab-button">
                                    PLAN
                                </a>
                            </li>
                            <li>
                                <a href="#tab-invoice" data-toggle="tab" data-url="/Project/Details_Invoices/@Model.Id" class="tab-button">
                                    FAKTURY (@Model.InvoicesQuantity)
                                </a>
                            </li>
                            <li>
                                <a href="#tab-payroll" data-toggle="tab" data-url="/Project/Details_Payrolls/@Model.Id" class="tab-button">
                                    PŁACE
                                </a>
                            </li>
                            <li>
                                <a href="#tab-fees" data-toggle="tab" data-url="/Project/Details_Fees/@Model.Id" class="tab-button">
                                    SZKODY (@Model.FeesQuantity)
                                </a>
                            </li>
                            <li>
                                <a href="#tab-place-errors" data-toggle="tab" data-url="/Project/Details_PlaceErrors/@Model.Id" class="tab-button">
                                    BŁĘDY (@Model.PlaceErrorsQuantity)
                                </a>
                            </li>
                            <li>
                                <a href="#tab-parallel" data-toggle="tab" data-url="/Project/Details_Content/@Model.Id" class="tab-button">
                                    ZESTAWIENIE
                                </a>
                            </li>
                            <li>
                                <a href="#tab-orders" data-toggle="tab" data-url="/Project/Details_Orders/@Model.Id" class="tab-button">
                                    ZAMÓWIENIA
                                </a>
                            </li>
                            <li>
                                <a href="#tab-documents" data-toggle="tab" data-url="/Project/Details_Documents/@Model.Id" class="tab-button">
                                    DOKUMENTY
                                </a>
                            </li>
                            <li>
                                <a href="#tab-group-reports" data-toggle="tab" data-url="/Project/Details_GroupReports/@Model.Id" class="tab-button">
                                    RAPORTY GRUPOWE
                                </a>
                            </li>
                            <li>
                                <a href="#tab-access" data-toggle="tab" data-url="/Project/Details_Access/@Model.Id" class="tab-button">
                                    DOSTĘPY
                                </a>
                            </li>
                            <li>
                                <a href="#tab-journal" data-toggle="tab" data-url="/Project/Details_Activities/@Model.Id" class="tab-button">
                                    AKTYWNOŚCI
                                </a>
                            </li>
                            <li>
                                <a href="#tab-inventory" data-toggle="tab" data-url="/Project/Details_Inventory/@Model.Id" class="tab-button">
                                    INWENTARZ (@Model.InventoryQuantity)
                                </a>
                            </li>
                            <li>
                                <a href="#tab-diff" data-toggle="tab" data-url="/Project/Details_Diff/@Model.Id" class="tab-button">
                                    RÓŻNICE
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-9">
                        <div class="tab-content">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Styles {
    @Styles.Render("~/Content/plugins/bootstrap-vertical-tabs.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/pages/project-details.js")
}