﻿@using ACSystem.Core;
@using ACSystem.Core.Models;
@model ACSystem.Core.Models.Apartments

@{
    ViewBag.Title = "Szczegóły - Apartament NR " + Model.Project.ProjectNumber + " LGH " + Model.Letter + " " + Model.NumberOfApartment;
    ViewBag.Active = "Projects";
    ViewBag.SubActive = "List";

    var product = (Products)ViewBag.Product;
    var productsList = (List<Products>)ViewBag.ProductsList;
    var payroll = (List<PayrollItems>)ViewBag.Payroll;
    var invoices = (List<InvoiceElements>)ViewBag.Invoices;
    var fees = (List<Fees>)ViewBag.Fees;
    var isSetProductsList = (bool)ViewBag.IsSetProductsList;
    var projects = (List<Projects>)ViewBag.Projects;

    var taskLp = 1;
    var taskDict = new Dictionary<int, int>();

    foreach (var t in Model.Tasks)
    {
        taskDict.Add(t.Id, taskLp);
        taskLp++;
    }

    ViewBag.TaskDict = taskDict;
    ViewBag.ApartmentID = Model.Id;
    ViewBag.ProjectID = Model.ProjectId;
}

@section Styles {

    @Styles.Render("~/Content/Site/projects.css")
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
    @Styles.Render("~/Content/plugins/huebee/huebee-colorpicker.css")
    @Styles.Render("~/Content/plugins/wysihtml5/wysihtml5.css")
    @Styles.Render("~/Content/plugins/bootstrap-vertical-tabs.css")

}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/wysihtml5/wysihtml5.js")
    <script>
        $(document).ready(function () {
            $('.select2').select2();
            $('.textarea-wysiwg').wysihtml5();
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    @Scripts.Render("~/Scripts/plugins/iCheck/icheck.min.js")
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    @Scripts.Render("~/Scripts/plugins/paging/paging.js")
    @Scripts.Render("~/Scripts/plugins/printURL/print.js")
    @Scripts.Render("~/Scripts/plugins/huebee/huebee-colorpicker.min.js")
    @*@Scripts.Render("~/Scripts/plugins/jeditable/jquery.jeditable.js")*@
    @Scripts.Render("~/Scripts/Site/apartments-manage.js")
    @Scripts.Render("~/Scripts/Site/projects-ext.js")

    <script>

        $(document).ready(function () {


            $("#tab-payroll .table-pagination").paging({
                limit: 10,
                activePage: localStorage.getItem("apartment-payroll-" + @Model.Id),
                webdataString: "apartment-payroll-" + @Model.Id
            });

            $("#tab-invoice .table-pagination").paging({
                limit: 10,
                activePage: localStorage.getItem("apartment-invoice-" + @Model.Id),
                webdataString: "apartment-invoice-" + @Model.Id
            });

            $("#tab-tasks .table-pagination").paging({
                limit: 16,
                activePage: localStorage.getItem("apartment-tasks-" + @Model.Id),
                webdataString: "apartment-tasks-" + @Model.Id
            });

            $("#tab-fees .table-pagination").paging({
                limit: 10,
                activePage: localStorage.getItem("apartment-fees-" + @Model.Id),
                webdataString: "apartment-fees-" + @Model.Id
            });

            $("#tab-orders .table-pagination").paging({
                limit: 10,
                activePage: localStorage.getItem("apartment-orders-" + @Model.Id),
                webdataString: "apartment-orders-" + @Model.Id
            });

            $("#tab-access .table-pagination").paging({
                limit: 10,
                activePage: localStorage.getItem("apartment-access-" + @Model.Id),
                webdataString: "apartment-access-" + @Model.Id
            });

            $("#tab-error-photos .table-pagination").paging({
                limit: 10,
                activePage: localStorage.getItem("apartment-error-photos-" + @Model.Id),
                webdataString: "apartment-error-photos-" + @Model.Id
            });

            $("#tab-reports .table-pagination").paging({
                limit: 10,
                activePage: localStorage.getItem("apartment-reports-" + @Model.Id),
                webdataString: "apartment-reports-" + @Model.Id
            });

            $("#tab-reports-grouped .table-pagination").paging({
                limit: 10,
                activePage: localStorage.getItem("apartment-reports-grouped-" + @Model.Id),
                webdataString: "apartment-reports-grouped-" + @Model.Id
            });

            $("#tab-journal .table-pagination").paging({
                limit: 10,
                activePage: localStorage.getItem("apartment-journal-" + @Model.Id),
                webdataString: "apartment-journal-" + @Model.Id
            });
        });

    </script>

}

<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Dane apartamentu</h3>
                    <div class="box-tools">
                        @if (ViewBag.PrevApartment != null)
                        {
                            <a href="/Projects/ApartmentDetails/@ViewBag.PrevApartment" class="btn btn-primary btn-sm" title="Poprzednie mieszkanie"><i class="fa fa-angle-left"></i></a>
                        }
                        @if (ViewBag.NextApartment != null)
                        {
                            <a href="/Projects/ApartmentDetails/@ViewBag.NextApartment" class="btn btn-primary btn-sm" title="Następne mieszkanie"><i class="fa fa-angle-right"></i></a>
                        }
                    </div>
                </div>
                <div class="box-body user-info">
                    <table class="table table-bordered">
                        <tr>
                            <th>PROJEKT</th>
                            <td>
                                <a href="/Projects/Details/@Model.ProjectId">@Model.Project.ProjectNumber <i class="fa fa-eye"></i></a>
                            </td>
                            <th>NR. APARTAMENTU</th>
                            <td>
                                @Model.Letter @Model.NumberOfApartment
                            </td>
                        </tr>
                        <tr>
                            <th>ADRES</th>
                            <td>
                                <a target="_blank" href="https://www.google.com/maps/dir/?api=1&origin=VALLDA, Szwecja&destination=@Model.Project.Street, @Model.Project.City">@Model.Project.Street, @Model.Project.City <i class="fa fa-eye"></i></a>
                            </td>
                            <th>
                                KLATKA
                            </th>
                            <td>
                                @Model.Cage
                            </td>
                        </tr>
                        <tr>
                            <th colspan="2"></th>
                            <th>PIĘTRO</th>
                            <td>
                                @Model.Floor
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Opis do faktury</h3>
                </div>
                <div class="box-body user-contact">
                    @Html.TextAreaFor(m => m.InvoiceDescription, new { @class = "form-control", style = "width: 100%; height: 67px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" })
                    <button class="btn btn-sm btn-primary pull-right" id="save-apartment-invoice-description" data-apartment-id="@Model.Id" style="margin-top: 15px;">ZAPISZ OPIS</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="col-xs-3">
                        <ul class="nav nav-tabs tabs-left">
                            <li class="active"><a href="#tab-tasks" data-toggle="tab">ZADANIA</a></li>
                            <li><a href="#tab-invoice" data-toggle="tab">FAKTURY(@invoices.Count)</a></li>
                            <li><a href="#tab-payroll" data-toggle="tab">PŁACE</a></li>
                            <li><a href="#tab-fees" data-toggle="tab">SZKODY (@fees.Count)</a></li>
                            <li><a href="#tab-parallel" data-toggle="tab">ZESTAWIENIE</a></li>
                            <li><a href="#tab-orders" data-toggle="tab">ZAMÓWIENIA</a></li>
                            <li><a href="#tab-access" data-toggle="tab">DOSTĘPY</a></li>
                            <li><a href="#tab-reports" data-toggle="tab">RAPORTY KUCHNIA</a></li>
                            <li><a href="#tab-reports-grouped" data-toggle="tab">RAPORTY GRUPOWE</a></li>
                            <li><a href="#tab-journal" data-toggle="tab">DZIENNIK AKTYWNOSCI</a></li>
                            <li>
                                <a href="#tab-comments" id="task-comments-tab" data-apartment-id="@Model.Id" data-toggle="tab">
                                    KOMENTARZE (@Model.TaskComments.Count)
                                    @if (Model.TaskComments.Any(q => q.IsViewed == false))
                                    {
                                        <span class="text-danger" id="task-comment-alert">!</span>
                                    }
                                </a>
                            </li>
                            <li>
                                <a href="#tab-place-errors" data-toggle="tab">
                                    BŁĘDY (@Model.PlaceErrors.Count)
                                </a>
                            </li>
                            <li><a href="#tab-error-photos" id="error-photos-tab" data-toggle="tab">ZDJĘCIA</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-9">
                        <div class="tab-content">
                            @Html.Partial("Partials/Apartment_TasksView", Model)
                            @Html.Partial("Partials/Apartment_InvoicesView", invoices)
                            @Html.Partial("Partials/Apartment_PayrollsView", payroll)
                            @Html.Partial("Partials/Apartment_FeesView", fees)
                            @Html.Partial("Partials/Apartment_Content", Model)
                            @Html.Partial("Partials/Apartment_Orders", Model)
                            @Html.Partial("Partials/Apartment_Access", Model)
                            @Html.Partial("Partials/Apartment_ReportsView", Model.Tasks.Where(q => (q.Status == TaskStatus.Finished || q.Status == TaskStatus.FinishedWithFaults) && (q.Task_Question.Any() || q.Task_Questions != null)))
                            @Html.Partial("Partials/Apartment_ReportsGroupedView", Model.ReportNags)
                            @Html.Partial("Partials/Apartment_ActivityView", Model.Tasks)
                            @Html.Partial("Partials/Apartment_Comments", Model.TaskComments)
                            @Html.Partial("Partials/Apartment_PlaceErrors", Model.PlaceErrors)
                            @Html.Partial("Partials/Apartment_ErrorPhotos", Model.Tasks)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="modal-map" class="cal-modal cal-modal-form cal-modal-top">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Mapa</h4>
            </div>
            <div class="modal-body" id="apartment-map-in-modal">
                <iframe frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com/maps?&amp;q=@Model.Project.Street, @Model.Project.City&amp;output=embed'></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<div id="modal" class="cal-modal cal-modal-form cal-modal-top"></div>

<div id="modal-photos" class="modal-photos">
    <a href="javascript:void(0);" onclick="Custombox.modal.close();" class="demo-close"><i class="fa fa-times"></i></a>
    <button type="button" class="btn btn-outline btn-info demo-close-btn" onclick="Custombox.modal.close();">Close</button>
    <div id="photos" class="gal-container">

    </div>
</div>

<div id="move-one-task-modal" class="cal-modal">
    @Html.Partial("Modals/Modal_MoveOneTask", projects);
</div>