﻿@model ACSystem.Core.Models.Projects
@using ACSystem.Core
@using ACSystem.Core.Extensions
@using ACSystem.Core.Models
@using ACSystem.Core.Models.ViewModels

@{
    ViewBag.ProjectStatus = Model.Status;
    ViewBag.Title = "Szczegóły - Projekt NR " + Model.ProjectNumber;
    ViewBag.Active = "Projects";
    ViewBag.SubActive = "List";
    ViewBag.ProjectID = Model.Id;
    ViewBag.Apartments = Model.Apartments;

    var payroll = (List<PayrollItems>)ViewBag.Payroll;
    var invoices = (List<Invoice>)ViewBag.Invoice;
    var fees = (List<Fees>)ViewBag.Fees;
    var events = (List<EventsViewModel>)ViewBag.Events;
    var projects = (List<Projects>)ViewBag.ProjectsList;

    var projectCheckClass = (Model.IsChecked) ? "btn-success" : "btn-danger";
    var projectCheckBtnText = (Model.IsChecked) ? "PROJEKT SPRAWDZONY" : "PROJEKT NIESPRAWDZONY";

    var remindText = "";

    if (ViewBag.RemindEnd)
    {
        var days = (Model.EndDate - DateTime.Now).Days;

        var str = (days == 1) ? "dzień" : "dni";

        if (days < 0)
        {
            remindText = $"Termin końca projektu upłynął {days * -1} {str} temu!";
        }
        else
        {
            remindText = $"Termin końca projektu upłynie za {days} {str}!";
        }
    }
}

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/square/blue.css")
    @Styles.Render("~/Content/plugins/wysihtml5/wysihtml5.css")
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
    @Styles.Render("~/Content/plugins/editable/bootstrap-editable.css")
    @Styles.Render("~/Content/plugins/bootstrap-vertical-tabs.css")
    @Styles.Render("~/Content/plugins/tabelizer/tabelizer.min.css")
    @Styles.Render("~/Content/Site/projects.css")
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    @Scripts.Render("~/Scripts/plugins/paging/paging.js")
    @Scripts.Render("~/Scripts/plugins/iCheck/icheck.min.js")
    @Scripts.Render("~/Scripts/plugins/wysihtml5/wysihtml5.js")
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    @Scripts.Render("~/Scripts/plugins/editable/bootstrap-editable.min.js")
    @Scripts.Render("~/Scripts/plugins/tabelizer/jquery.tabelizer.min.js")
    @*@Scripts.Render("~/Scripts/plugins/autosize/autosize.min.js")*@
    <script>

    $(document).ready(function () {

        var table1 = $('#apartments-table').tabelize({
            fullRowClickable: true,
            onReady: function () {
            },
            onBeforeRowClick: function () {
            },
            onAfterRowClick: function () {

                var rows = {};

                $("#apartments-table tr").each(function () {
                    var id = $(this).attr("id");

                    rows[id] = $(this).hasClass("expanded");
                });

                localStorage.setItem("project-apartments-@Model.Id", JSON.stringify(rows));
            },
        });


        var rows = JSON.parse(localStorage.getItem("project-apartments-@Model.Id"));

        $.each(rows, function (key, value) {
            if (value) {
                $("#" + key).removeClass("contracted").addClass("expanded");
                table1.toggleChildren(key, true);
                table1.updateLines();
            }
        })



        $.fn.editable.defaults.mode = "inline";
        $(".editable-field2").editable();

        $('.select2').select2();
        $('.textarea-wysiwg').wysihtml5();
        $('input[type="checkbox"].minimal').iCheck({
            checkboxClass: "icheckbox_square-blue",
        });
        $('.show-tasks').click(function(){
        });

        $("#tab-payroll .table-pagination").paging({
            limit: 10,
            activePage: localStorage.getItem("project-payroll-" + @Model.Id),
            webdataString: "project-payroll-" + @Model.Id
        });

        $("#tab-invoice .table-pagination").paging({
            limit: 10,
            activePage: localStorage.getItem("project-invoice-" + @Model.Id),
            webdataString: "project-invoice-" + @Model.Id
        });

        $("#tab-project-managers .table-pagination").paging({
            limit: 10,
            activePage: localStorage.getItem("project-pm-" + @Model.Id),
            webdataString: "project-pm-" + @Model.Id
        });

        $("#tab-fees .table-pagination").paging({
            limit: 10,
            activePage: localStorage.getItem("project-fees-" + @Model.Id),
            webdataString: "project-fees-" + @Model.Id
        });

        $("#tab-orders .table-pagination").paging({
            limit: 10,
            activePage: localStorage.getItem("project-orders-" + @Model.Id),
            webdataString: "project-orders-" + @Model.Id
        });

        $("#tab-documents .table-pagination").paging({
            limit: 10,
            activePage: localStorage.getItem("project-documents-" + @Model.Id),
            webdataString: "project-documents-" + @Model.Id
        });

        $("#tab-group-reports .table-pagination").paging({
            limit: 10,
            activePage: localStorage.getItem("project-groupreports-" + @Model.Id),
            webdataString: "project-groupreports-" + @Model.Id
        });

        $("#tab-access .table-pagination").paging({
            limit: 10,
            activePage: localStorage.getItem("project-access-" + @Model.Id),
            webdataString: "project-access-" + @Model.Id
        });

        $(document).on('click', '.free-inventory', function () {
            var inventoryID = $(this).data('inventory-id');

            LoadModalContent("#modal", "/Inventory/Modal_FreeInventory?InventoryID=" + inventoryID);
        });
    })
</script>
@Scripts.Render("~/Scripts/plugins/printURL/print.js")
@Scripts.Render("~/Scripts/plugins/jeditable/jquery.jeditable.js")
@Scripts.Render("~/Scripts/Site/projects-ext.js")
@Scripts.Render("~/Scripts/Site/apartments-manage.js")
@Scripts.Render("~/Scripts/Site/group-reports-manage.js");
<script>
        var data = {
            current: "@Model.Id",
            dest: localStorage.getItem("project-dest"),
            orderby: localStorage.getItem("project-orderby"),
            search: localStorage.getItem("project-search"),
            filter: localStorage.getItem("project-filter")
        }

        var successFn = function (data) {
            var buttons = "";

            if (data.prev != "" && data.prev != null)
                buttons += '<a href="/Projects/Details/' + data.prev + '" class="btn btn-primary btn-sm" title="Poprzedny projekt"><i class="fa fa-angle-left"></i></a>';

            if (data.next != "" && data.next != null)
                buttons += '<a href="/Projects/Details/' + data.next + '" class="btn btn-primary btn-sm" title="Następny projekt"><i class="fa fa-angle-right"></i></a>';

            $("#prev-next-btns").append(buttons);
        }

        var errorFn = function () { }

        GetAjaxWithFunctions("/Projects/GetPrevNextID", "POST", data, successFn, errorFn, "");
</script>
}

<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Dane projektu</h3>
                    <div class="box-tools pull-right" id="prev-next-btns">
                        <a href="/Gantt?id=@Model.Id" class="btn btn-sm btn-primary" title="Gantt" target="_blank">
                            Gantt
                        </a>
                        <a href="/Projects/Edit/@Model.Id" class="btn btn-sm btn-primary" title="Edytuj">
                            Edytuj
                        </a>
                    </div>
                </div>
                <div class="box-body user-info">
                    <table class="table table-bordered">
                        <tr>
                            <th>ID PROJEKTU</th>
                            <td>@Model.InSystemID</td>
                            <td colspan="2">
                                <button type="button" id="set-project-check" data-is-checked="@(!Model.IsChecked)" data-project-id="@Model.Id" class="btn btn-block btn-flat btn-xs @projectCheckClass" @((ViewBag.CanCheck) ? "" : "disabled")>@projectCheckBtnText</button>
                            </td>
                        </tr>
                        <tr>
                            <th>KLIENT</th>
                            <td>
                                <a href="/Customers/Details/@Model.CustomerId">@Model.Customer.Name</a>
                            </td>
                            <td colspan="2">
                                <a href="/Reports/HourlyWorkReport?ProjectID=@Model.Id" class="btn btn-block btn-flat btn-xs btn-primary">RAPORT PRAC GODZINOWYCH</a>
                            </td>
                        </tr>
                        <tr>
                            <th>ADRES</th>
                            <td class="dd-map">
                                <a target="_blank" href="https://www.google.com/maps/dir/?api=1&origin=VALLDA, Szwecja&destination=@Model.Street, @Model.City">@Model.Street, @Model.City <i class="fa fa-eye"></i></a>
                            </td>
                            <td colspan="2">
                                <button type="button" class="btn btn-block btn-primary btn-flat btn-xs" id="generuj-xml-aktywnosci" data-project-id="@ViewBag.ProjectID">DZIENNIK DO EXCEL</button>
                            </td>
                        </tr>
                        @if (Model.Supervisor != null)
                        {
                            <tr>
                                <th>Kierownik</th>
                                <td>@Model.Supervisor.FullName</td>
                                <td colspan="2"></td>
                            </tr>
                        }
                        @if (Model.Calendar != null)
                        {
                            <tr>
                                <th>KALENDARZ</th>
                                <td style="background-color: @Model.Calendar.ColorHex; color: white; padding: 10px;">@Model.Calendar.Name</td>
                                <td colspan="2">
                                    <a href="/Parallel/UnacceptedTasks/@Model.Id" class="btn btn-block btn-primary btn-flat btn-xs">ZADANIA NIEZAAKCEPTOWANE</a>
                                </td>
                            </tr>
                        }
                        @if (Model.ChildProject)
                        {
                            <tr>
                                <th>PROJEKT GŁÓWNY</th>
                                <td colspan="3">
                                    <a href="/Projects/Details/@Model.ParentProjectID">@Model.ParentProject.ProjectNumber</a>
                                </td>
                            </tr>
                        }
                        <tr>
                            <th>
                                POTRZEBNY CZAS
                            </th>
                            <td>
                                @{
                                    var timeDone = Math.Round(Model.Apartments.Sum(q => q.Tasks.Sum(x => x.Task_Fitter.Where(y => Tasks.StatusesToCalculateTimes.Contains(y.Status) && y.IsActive)
                                                                                                                      .Sum(y => y.WorkDone * ((x.Production == TaskProduction.Developer) ? x.Product.ExpectedTime : Temp.Settings.ServiceTaskTime)))), 2);
                                    var timeNedded = Model.Apartments.Sum(q => q.Tasks.Sum(x => ((x.Production == TaskProduction.Developer) ? x.Product.ExpectedTime : Temp.Settings.ServiceTaskTime) * x.ProductCount));
                                }
                                @((timeNedded - timeDone).TwoOrNone()) /
                                @(timeNedded.TwoOrNone()) h
                            </td>
                            <td colspan="2">
                                <a href="/Parallel/TasksInProject?projectID=@Model.Id" class="btn btn-block btn-primary btn-flat btn-xs">ZESTAWIENIE ZADAŃ</a>
                            </td>
                        </tr>
                        @if (Model.FirstDoService ?? false)
                        {
                            <tr>
                                <td colspan="4">
                                    <span class="text-danger text-bold">W PIERWSZEJ KOLEJNOŚCI WYKONYWANE SĄ ZADANIA SERWISOWE !</span>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Opis do faktury</h3>
                </div>
                <div class="box-body user-contact">
                    @Html.TextAreaFor(m => m.InvoiceDescription, new { @class = "form-control", style = "width: 100%; height: 100px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" })
                    <button class="btn btn-sm btn-primary pull-right" style="margin-top: 15px;" id="save-project-invoice-description" data-project-id="@Model.Id">ZAPISZ OPIS</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="col-xs-3">
                        <ul class="nav nav-tabs tabs-left">
                            <li><a href="#tab-events" data-toggle="tab">WYDARZENIA</a></li>
                            <li class="active"><a href="#tab-apartments" data-toggle="tab">APARTAMENTY</a></li>

                            @if (Model.ChildProjects.Count > 0)
                            {
                                <li><a href="#tab-child-projects" data-toggle="tab">PODPROJEKTY</a></li>
                            }

                            <li><a href="#tab-products" data-toggle="tab">PRODUKTY</a></li>
                            <li><a href="#tab-project-managers" data-toggle="tab">MENEDŻEROWIE PROJEKTU</a></li>
                            <li><a href="#tab-plan" data-toggle="tab">PLAN</a></li>
                            <li><a href="#tab-invoice" data-toggle="tab">FAKTURY(@invoices.Count)</a></li>
                            <li><a href="#tab-payroll" data-toggle="tab">PŁACE</a></li>
                            <li><a href="#tab-fees" data-toggle="tab">SZKODY (@fees.Count)</a></li>
                            <li>
                                <a href="#tab-place-errors" data-toggle="tab">
                                    BŁĘDY (@Model.PlaceErrors.Count)
                                </a>
                            </li>
                            <li><a href="#tab-parallel" data-toggle="tab">ZESTAWIENIE</a></li>
                            <li><a href="#tab-orders" data-toggle="tab">ZAMÓWIENIA</a></li>
                            <li><a href="#tab-documents" data-toggle="tab">DOKUMENTY</a></li>
                            <li><a href="#tab-group-reports" data-toggle="tab">RAPORTY GRUPOWE</a></li>
                            <li><a href="#tab-access" data-toggle="tab">DOSTĘPY</a></li>
                            <li><a href="#tab-journal" data-toggle="tab">AKTYWNOŚCI</a></li>
                            <li><a href="#tab-inventory" data-toggle="tab">INWENTARZ (@Model.InventoryList.Count)</a></li>
                            <li><a href="#tab-diff" data-toggle="tab">RÓŻNICE</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-9">
                        <div class="tab-content">
                            @Html.Partial("Partials/Project_ProjectManagers", Model)
                            @Html.Partial("Partials/Project_ChildProjects", Model)
                            @Html.Partial("Partials/Project_Products", Model)
                            @Html.Partial("Partials/Project_Apartments", Model)
                            @Html.Partial("Partials/Project_InvoicesView", invoices)
                            @Html.Partial("Partials/Project_PayrollsView", payroll)
                            @Html.Partial("Partials/Project_FeesView", fees)
                            @Html.Partial("Partials/Project_Content", Model)
                            @Html.Partial("Partials/Project_Orders", Model)
                            @Html.Partial("Partials/Project_Documents", Model.Documents)
                            @Html.Partial("Partials/Project_ReportsGroupedView", Model.ReportNags)
                            @Html.Partial("Partials/Project_Access", Model)
                            @Html.Partial("Partials/Project_ActivityView", Model.Activities)
                            @Html.Partial("Partials/Project_Events", events)
                            @Html.Partial("Partials/Project_ProductPlan", Model)
                            @Html.Partial("Partials/Project_Inventory", Model.InventoryList)
                            @Html.Partial("Partials/Project_Diff")
                            @Html.Partial("Partials/Project_PlaceErrors", Model.PlaceErrors)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="modal" class="cal-modal cal-modal-form cal-modal-top"></div>


<div id="event-modal" class="cal-modal" style="width: 40%;">

</div>

<div id="modal-map" class="cal-modal cal-modal-form cal-modal-top">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Mapa</h4>
            </div>
            <div class="modal-body" id="apartment-map-in-modal">
                <iframe frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com/maps?&amp;q=@Model.Street, @Model.City&amp;output=embed'></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>


<div id="add-apartment-modal" class="cal-modal cal-modal-form cal-modal-top">
    @Html.Partial("Modal_AddApartment", new Apartments { ProjectId = Model.Id })
</div>

<div id="add-tasks-to-apartments-modal" class="cal-modal">
    @Html.Partial("Modal_AddTask", new Tasks())
</div>
<div id="add-tasks-service-kitchen-to-apartments-modal" class="cal-modal">
    @Html.Partial("Modals/Modal_AddKitchenServiceTask", new Tasks { Task_Questions = new Task_Questions(), ProjectID = Model.Id.ToString() })
</div>
<div id="add-tasks-service-construction-to-apartments-modal" class="cal-modal">
    @Html.Partial("Modals/Modal_AddConstructionServiceTask", new Tasks { Task_Questions = new Task_Questions(), ProjectID = Model.Id.ToString() })
</div>
<div id="edit-tasks-to-apartments-modal" class="cal-modal">
    @Html.Partial("Modals/Modal_EditTaskGroup", new Tasks())
</div>
<div id="move-apartments-modal" class="cal-modal">
    @Html.Partial("Modals/Modal_MoveApartments", Model)
</div>
<div id="change-floor-modal" class="cal-modal">
    @Html.Partial("Modals/Modal_ChangeFloor", new Apartments())
</div>
<div id="change-cage-modal" class="cal-modal">
    @Html.Partial("Modals/Modal_ChangeCage", new Apartments())
</div>
<div id="move-one-task-modal" class="cal-modal">
    @Html.Partial("Modals/Modal_MoveOneTask", projects);
</div>
<div id="move-multiple-tasks-modal" class="cal-modal">
    @Html.Partial("Modals/Modal_MoveMultipleTasks", Model);
</div>