﻿@model Projects
@using ACSystem.Core.Models

@{
    ViewBag.Title = "Edytuj";
    ViewBag.Description = "Edytuj project ACSystem";
    ViewBag.Active = "Projects";
    ViewBag.SubActive = "Create";

    var calendars = (List<Calendar>)ViewBag.Calendars;
    var projects = (List<Projects>)ViewBag.ParentProjects;

    var firstColor = calendars.FirstOrDefault()?.ColorHex;

    if (Model.CalendarID.HasValue)
    {
        firstColor = calendars.FirstOrDefault(q => q.ID == Model.CalendarID.Value)?.ColorHex;
    }

    var canFinishProjectDict = (ViewBag.CanFinishProjectDict != null) ? (Dictionary<string, bool>)ViewBag.CanFinishProjectDict : new Dictionary<string, bool>();
}

@section Styles {
    @Styles.Render("~/Content/Site/projects.css")
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
    @Styles.Render("~/Content/plugins/huebee/huebee-colorpicker.css")
    @Styles.Render("~/Content/plugins/wysihtml5/wysihtml5.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    @Scripts.Render("~/Scripts/plugins/huebee/huebee-colorpicker.min.js")
    @Scripts.Render("~/Scripts/plugins/wysihtml5/wysihtml5.js")
    @Scripts.Render("~/Scripts/Site/projects-ext.js")

    <script>
        $('.select2').select2();
        $('.textarea-wysiwg').wysihtml5();
        //$('.select2#Status').prop("disabled", @ViewBag.IsAnyError.ToString().ToLower());
        $("#ProjectManagers").select2();
        $('#CalendarID').change(function () {
            var color = $(this).children('option:selected').css("background-color");

            $(this).css("background-color", color);
        })
    </script>
}

<section class="content">
    @using (Html.BeginForm("Edit", "Projects", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.CreateDate)
        @Html.HiddenFor(m => m.InFortnox)
        <div class="row">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Dane projektu</h3>
                        <div class="box-tools pull-right">
                            <button type="submit" class="btn btn-sm btn-primary" title="Zapisz">
                                ZAPISZ
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group form-group-for-id">
                            <label class="control-label">
                                <i class="fa fa-bell-o" style="display: none;"></i>
                                ID projektu w programie
                            </label>
                            @Html.TextBoxFor(m => m.InSystemID, new { @class = "form-control", placeholder = "Wpisz numer projektu", maxlength = 10, data_project_id = Model.Id })
                            <span class="help-block" style="display: none;">UWAGA! Podany numer ID istnieje już w systemie.</span>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ProjectNumber, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.ProjectNumber, new { @class = "form-control", placeholder = "Wpisz nazwę projektu" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Podpięty pod projekt</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <input type="checkbox" id="ChildProject" name="ChildProject" value="True" @if (Model.ChildProject) { Write("checked"); } />
                                </div>
                                <select class="form-control select2" name="ParentProjectID" id="ParentProjectID">
                                    <option style="background: white;"></option>
                                    @foreach (var c in projects.OrderBy(q => q.ProjectNumber))
                                    {
                                        <option value="@c.Id" @if (Model.ParentProjectID == c.Id) { Write("selected"); }>@c.ProjectNumber</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Street, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Street, new { @class = "form-control", placeholder = "Wpisz ulicę" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.City, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "Wpisz miasto" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.StartDate, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control date-only", placeholder = "Podaj datę rozpoczęcia", @Value = (Model != null) ? Model.StartDate.ToString("yyyy-MM-dd") : "" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.EndDate, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.EndDate, "{0:yyyy-MM-dd}", new { @class = "form-control date-only", placeholder = "Podaj datę zakończenia", @Value = (Model != null) ? Model.EndDate.ToString("yyyy-MM-dd") : "" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Opis</label>
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control textarea-wysiwg", style = "width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Opis do faktury</label>
                            @Html.TextAreaFor(m => m.InvoiceDescription, new { @class = "form-control", style = "width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                <input type="checkbox" id="TakePercent" name="TakePercent" value="True" @if (Model != null && Model.TakePercent) { Write("checked"); } />
                                Pobierz do wyliczania procentowego
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                <input type="checkbox" id="IsGroupedInvoice" name="IsGroupedInvoice" value="True" @if (Model != null && Model.IsGroupedInvoice) { Write("checked"); } />
                                Grupuj fakturę
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                <input type="checkbox" id="IsChecked" name="IsChecked" value="True" @if (Model != null && Model.IsChecked) { Write("checked"); } />
                                Projekt sprawdzony
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                <input type="checkbox" id="FirstDoService" name="FirstDoService" value="True" @if (Model != null && (Model.FirstDoService ?? false)) { Write("checked"); } />
                                Najpierw zadania serwisowe
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Kalendarz</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <input type="checkbox" id="ShowInCalendar" name="ShowInCalendar" value="True" @if (Model.ShowInCalendar) { Write("checked"); } />
                                </div>
                                <select class="form-control" name="CalendarID" id="CalendarID" style="background: @firstColor; color: white;" required>
                                    <option style="background: white;"></option>
                                    @foreach (var c in calendars.OrderBy(q => q.Name))
                                    {
                                        <option value="@c.ID" style="background: @c.ColorHex; color: white; padding: 20px;" @if (Model.CalendarID == c.ID) { Write("selected"); }>@c.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                    @foreach (var elem in canFinishProjectDict)
                    {
                        if (elem.Value == true)
                        {
                            <p class="text-danger text-right">Uwaga! @elem.Key</p>
                        }
                    }
                        <div class="col-md-6 col-md-offset-6" style="padding-right: 0">
                            <select class="form-control select2" name="Status" id="Status" style="padding-right: 0" placeholder="Wybierz status">
                                <option value="1" @((Model.Status == ACSystem.Core.ProjectStatus.NotStarted) ? "selected" : "")>Nie rozpoczęte</option>
                                <option value="0" class="text-warning" @((Model.Status == ACSystem.Core.ProjectStatus.UnderWork) ? "selected" : "")>W trakcie</option>
                                <option value="3" class="text-success" @((Model.Status == ACSystem.Core.ProjectStatus.Finished) ? "selected" : "") @((canFinishProjectDict.Any(q => q.Value == true)) ? "disabled" : "")>Zakończone</option>
                                <option value="2" class="text-danger" @((Model.Status == ACSystem.Core.ProjectStatus.FinishedWithFaults) ? "selected" : "")>Zakończone z błędami</option>
                            </select>
                           @* @Html.DropDownListFor(m => m.Status, (SelectList)ViewBag.StatusList, htmlAttributes: new { @class = "form-control select2", placeholder = "Wybierz status" })*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Klient</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CustomerId, new { @class = "control-label" })
                            @Html.DropDownListFor(m => m.CustomerId, (SelectList)ViewBag.Customers, htmlAttributes: new { @class = "form-control select2", placeholder = "Wybierz klienta" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.CustomerProjectNumber, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.CustomerProjectNumber, new { @class = "form-control", placeholder = "Wpisz numer projektu kllienta" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ProjectManagers, new { @class = "control-label" })
                            <select class="form-control select2" multiple="multiple" name="ProjectManagers" id="ProjectManagers" data-placeholder="Wybierz menedżera projektu" style="width: 100%;">
                                @foreach (var pm in ViewBag.ProjectManagersList)
                                {
                                    try
                                    {
                                        if (Model.ProjectManagers.Contains(pm.Id))
                                        {
                                            <option value="@pm.Id" selected>@pm.Name</option> }
                                        else
                                        {
                                            <option value="@pm.Id">@pm.Name</option>
                                        }
                                    }
                                    catch
                                    {
                                        <option value="@pm.Id">@pm.Name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary pull-right" id="add-pm">DODAJ MENEDŻERA</button>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Kierownik projektu</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <fieldset>
                                <legend>Stawki procentowe</legend>
                                <div class="form-group col-xs-12 col-md-6">
                                    <label class="control-label">Firma</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="CompanyPercent" id="CompanyPercent" value="@Model.CompanyPercent" />
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-md-6">
                                    <label class="control-label">Monter</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="FitterPercent" id="FitterPercent" value="@Model.FitterPercent" />
                                        <span class="input-group-addon">%</span>
                                    </div>
                                </div>
                                <div class="form-group col-xs-12 col-md-6 col-md-offset-6">
                                    <button type="submit" class="btn btn-primary btn-block">ZAPISZ</button>
                                </div>
                            </fieldset>
                            <label class="control-label">Monter</label>
                            <select class="form-control select2" name="SupervisorID">
                                <option></option>
                                @{
                                    var fitters = (List<ACSystemUser>)ViewBag.Users;
                                    var supervisors = fitters.Where(q => q.Crew_Supervisor.Any()).OrderBy(q => q.Surname).ToList();
                                    var others = fitters.Where(q => q.Crew_Supervisor.Any() == false).OrderBy(q => q.Surname).ToList();
                                }
                                <optgroup label="Kierownicy">
                                    @foreach (var s in supervisors)
                                    {
                                        var selected = s.Id == Model.SupervisorID ? "selected" : "";
                                        <option value="@s.Id" @selected>@s.FullName</option>
                                    }
                                </optgroup>
                                <optgroup label="Inni">
                                    @foreach (var o in others)
                                    {
                                        var selected = o.Id == Model.SupervisorID ? "selected" : "";
                                        <option value="@o.Id" @selected>@o.FullName</option>
                                    }
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Mapa</h3>
                    </div>
                    <div class="box-body" id="apartment-map">
                        <iframe frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com/maps?&amp;q=&amp;output=embed'></iframe>
                    </div>
                </div>
            </div>
        </div>
    }
</section>

<div id="modal" class="cal-modal cal-modal-form cal-modal-top">
</div>