﻿@{
    ViewBag.Title = "Zarządzaj";
    ViewBag.Description = "Lista projektów ACSystem";
    ViewBag.Active = "Projects";
    ViewBag.SubActive = "List";
}

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/square/blue.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/iCheck/icheck.min.js")
    @Scripts.Render("~/Scripts/Site/projects.js")
}

<section class="content">
    <div class="box box-primary">
        @*<div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-sm btn-primary" title="Filtruj" data-toggle="collapse" data-target="#filtr-container">
                    Filtruj
                </button>
            </div>
        </div>*@
        <div class="box-body table-responsive no-padding">
            <div class="col-md-12" id="filtr-container">
                <button type="button" id="synchronize-projects" class="btn btn-sm btn-flat btn-primary pull-right" style="margin-left: 15px;">SYNCHRONIZUJ</button>
                <a href="/Projects/Create" class="btn btn-sm btn-primary pull-right" style="margin-left: 15px;">DODAJ</a>
                <div class="input-group input-group-sm pull-right" style="width: 150px;">
                    <input type="text" name="search" id="search-table-input" class="form-control pull-right" placeholder="Szukaj">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default" id="search-table-btn"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="input-group input-group-sm pull-right checkbox-filter">
                    <label>
                        <input type="checkbox" class="minimal status-filter filter value-1" id="fltr-chbx-1" value="1" checked>
                        Nie rozpoczęte
                    </label>
                    <label>
                        <input type="checkbox" class="minimal status-filter filter value-0" id="fltr-chbx-2" value="0" checked>
                        W trakcie
                    </label>
                    <label>
                        <input type="checkbox" class="minimal status-filter filter value-3" id="fltr-chbx-3" value="3" checked>
                        Zakończone
                    </label>
                    <label>
                        <input type="checkbox" class="minimal status-filter filter value-2" id="fltr-chbx-4" value="2" checked>
                        Zakończone z błędami
                    </label>

                    <label style="margin-left: 25px;">
                        <input type="checkbox" class="minimal status-filter is-checked value-4" id="fltr-chbx-5" value="4">
                        Sprawdzone
                    </label>
                </div>
            </div>
            <table id="projects-list" class="table table-bordered table-sortable" data-page="1" data-dest="asc" data-order-by="status" data-filter="0,1,2,3">
                <thead>
                    <tr>
                        <th></th>
                        <th data-id="inSystemID" data-dest="desc" class="clickable">ID</th>
                        <th data-id="projectNumber" data-dest="desc" class="clickable">Numer projektu</th>
                        <th data-id="street" data-dest="desc" class="clickable">Ulica</th>
                        <th data-id="city" data-dest="desc" class="clickable">Miasto</th>
                        <th>Apartamenty</th>
                        <th data-id="status" data-dest="asc" class="clickable">Status</th>
                        <th data-id="customer" data-dest="desc" class="clickable">Klient</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right"></ul>
        </div>
    </div>
</section>

<div id="modal-project-manager" class="cal-modal cal-modal-form cal-modal-top">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Dane menedżera projektu</h4>
            </div>
                <div class="modal-body">
                    <dl class="dl-horizontal">
                        <dt>Imię i nazwisko</dt>
                        <dd id="pm-name"></dd>
                        <dt>Email</dt>
                        <dd id="pm-email"></dd>
                        <dt>Numer telefonu</dt>
                        <dd id="pm-phonenumber"></dd>
                    </dl>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Zamknij</button>
                </div>
        </div>
    </div>
</div>

<div id="modal" class="cal-modal cal-modal-form cal-modal-top">

</div>