﻿@model ACSystem.Core.Models.Apartments

@{ 
    var ProjectID = (int)ViewBag.ProjectID;
}

<div class="modal-dialog" style="width: 300px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">DODAJ APARTAMENT</h4>
        </div>
        @using (Html.BeginForm("ApartmentCreate", "Projects", FormMethod.Post, new { role = "form" }))
            {
            @Html.AntiForgeryToken()
            <div class="modal-body">                
                @Html.HiddenFor(m => m.ProjectId)
                <div class="form-group" style="padding-left: 0">
                    <label class="control-label">Litera</label>
                    @Html.TextBoxFor(m => m.Letter, new { @class = "form-control", placeholder = "Wpisz literę apartamentu" })
                </div>
                <div class="form-group" style="padding-left: 0">
                    <label class="control-label">Numer mieszkania</label>
                    @Html.TextBoxFor(m => m.NumberOfApartment, new { @class = "form-control", placeholder = "Wpisz numer apartamentu" })
                </div>
                <div class="form-group" style="padding-left: 0">
                    <label class="control-label">Piętro</label>
                    @Html.TextBoxFor(m => m.Floor, new { @class = "form-control", placeholder = "Wpisz numer piętra", @type = "numeric" })
                </div>
                <div class="form-group" style="padding-left: 0">
                    <label class="control-label">Klatka</label>
                    @Html.TextBoxFor(m => m.Cage, new { @class = "form-control", placeholder = "Wpisz numer klatki" })
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-primary">Zapisz</button>
                </div>
        }
    </div>
</div>