﻿@model ACSystem.Core.Models.Tasks
@using ACSystem.Core.Models;
@using ACSystem.Core.Models.ViewModels
@using ACSystem.Core

@{ 
    var ApartmentID = (ViewBag.ApartmentID != null) ? (int)ViewBag.ApartmentID : 0;
    var ProjectID = (ViewBag.ProjectID != null) ? (int)ViewBag.ProjectID : 0;

    var product = (Products)ViewBag.Product;
    var productsList = (List<Products>)ViewBag.ProductsList;
    var isSetProductsList = (bool)ViewBag.IsSetProductsList;
    var firstProductQuestions = (List<Question>)ViewBag.Questions;
    var questions = (List<Question>)ViewBag.Questions;
    var answers = (List<Answer>)ViewBag.Answers;

    var color = "";

    if (Model != null && !string.IsNullOrEmpty(Model.ColorHex))
    {
        color = $"data-color='{Model.ColorHex}'";
    }
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">DODAJ ZADANIE</h4>
        </div>
        @using (Html.BeginForm("TaskCreate", "Projects", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
        <div class="modal-body">
            @Html.Hidden("ProjectID", ProjectID)
            @Html.HiddenFor(m => m.ApartmentId, ApartmentID)
            @Html.HiddenFor(m => m.Production, 0)
            @Html.HiddenFor(m => m.Status, (int)TaskStatus.Free)
            <input type="hidden" name="ApartmentsArray" class="apartments-array" />
            @Html.Hidden("ProjectID", ProjectID)
            <div class="form-group" style="padding-left: 0">
                <label class="control-label" for="Products">Produkt</label>
                <select class="form-control product-load select2" name="ProductId" id="ProductId" data-placeholder="Wybierz produkt" style="width: 100%;">
                    @if (isSetProductsList == true)
            {
                foreach (var pm in productsList.Where(q => q.IsActive == true).OrderBy(q => q.Name))
                {
                    if (pm.Product_Project.Any(q => q.ProjectID == ProjectID) || pm.ForAllProjects)
                    {
                        <option value="@pm.Id">@pm.GetTaskName(ProjectID)</option>
            }
        }
    }
                </select>
            </div>
            <div class="form-group col-xs-4" style="padding-left: 0;">
                <label for="Price">Cena</label>
                <div class="input-group product-load">
                    @Html.TextBoxFor(m => m.ProductPrice, new { @class = "form-control product-price", placeholder = "Podaj cenę" })
                    <span class="input-group-addon">kr</span>
                </div>
            </div>
            <div class="form-group col-xs-4" style="padding-left: 0;">
                <label for="Price">Płatność za godzinę</label>
                <div class="input-group">
                    <span class="input-group-addon">
                        @Html.CheckBoxFor(m => m.IsHourlyPay)
                    </span>
                    @Html.TextBoxFor(m => m.HourlyPrice, new { @class = "form-control", placeholder = "Podaj cenę za godzinę", @Value = 375 })
                    <span class="input-group-addon">kr</span>
                </div>
            </div>
            <div class="form-group col-xs-4" style="padding-right: 0;">
                <label for="Price">Ilość</label>
                <div class="input-group product-load">
                    @Html.TextBoxFor(m => m.ProductCount, new { @class = "form-control", placeholder = "Podaj ilość", @Value = 1 })
                    <span class="input-group-addon" id="product-jm">@product.Jm</span>
                </div>
            </div>
            <div class="form-group col-xs-4 col-xs-offset-8" style="padding-right: 0;">
                <label for="DistancePrice">Cena za kilometr</label>
                <div class="input-group">
                    @Html.TextBoxFor(m => m.DistancePrice, new { @class = "form-control", placeholder = "Podaj cenę za kilometr" })
                    <span class="input-group-addon">kr</span>
                </div>
            </div>
            <div class="form-group col-xs-6" style="padding-left: 0;">
                <label for="DateStart">Data rozpoczęcia</label>
                @*@Html.TextBoxFor(m => m.StartDate, new { @class = "form-control date-time autodate" })*@
                <input type="text" name="StartDate" id="StartDate" class="form-control date-time autodate" />
            </div>
            <div class="form-group col-xs-6" style="padding-right: 0;">
                <label for="DateStart">Data zakończenia</label>
                @*@Html.TextBoxFor(m => m.EndDate, new { @class = "form-control date-time autodate" })*@
                <input type="text" name="EndDate" id="EndDate" class="form-control date-time autodate" />
            </div>
            <div class="form-group">
                <label for="Description">Opis zadania</label>
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label for="Description">Opis do faktury</label>
                @Html.TextAreaFor(m => m.InvoiceDescription, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-default color-picker" @color>Kolor zadania</button>
                @Html.HiddenFor(m => m.ColorHex)
            </div>
            <hr />

            <div id="questions-accordion-container">
                @if (firstProductQuestions != null && firstProductQuestions.Any())
                {
                    @Html.Partial("Partials/Modal_AddTask_Questions", new QuestionsToTask() { Questions = questions ?? new List<Question>(), Task_Questions = new List<Task_Question>(), Answers = answers ?? new List<Answer>() })
                }
            </div>            

            <hr />
            <h4>Procenty</h4>
            <div class="col-xs-4 form-group">
                <label for="Type1">Stawka 1 </label><small class="pt1 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType1 / 100))) SEK</small>
                <div class="input-group product-load">
                    @Html.TextBoxFor(m => m.PercentType1, new { @class = "form-control percent-change", placeholder = "Stawka 1" })
                    <span class="input-group-addon">%</span>
                </div>
            </div>
            <div class="col-xs-4 form-group">
                <label for="Type2">Stawka 2 </label><small class="pt2 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType2 / 100))) SEK</small>
                <div class="input-group product-load">
                    @Html.TextBoxFor(m => m.PercentType2, new { @class = "form-control percent-change", placeholder = "Stawka 2" })
                    <span class="input-group-addon">%</span>
                </div>
            </div>
            <div class="col-xs-4 form-group">
                <label for="Type3">Stawka 3</label><small class="pt3 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType3 / 100))) SEK</small>
                <div class="input-group product-load">
                    @Html.TextBoxFor(m => m.PercentType3, new { @class = "form-control percent-change", placeholder = "Stawka 3" })
                    <span class="input-group-addon">%</span>
                </div>
            </div>
            <div class="col-xs-4 form-group">
                <label for="Type4">Stawka 4</label><small class="pt4 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType4 / 100))) SEK</small>
                <div class="input-group product-load">
                    @Html.TextBoxFor(m => m.PercentType4, new { @class = "form-control percent-change", placeholder = "Stawka 4" })
                    <span class="input-group-addon">%</span>
                </div>
            </div>
            <div class="col-xs-4 form-group">
                <label for="Type5">Stawka 5</label><small class="pt5 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType5 / 100))) SEK</small>
                <div class="input-group product-load">
                    @Html.TextBoxFor(m => m.PercentType5, new { @class = "form-control percent-change", placeholder = "Stawka 5" })
                    <span class="input-group-addon">%</span>
                </div>
            </div>
            <div class="col-xs-4 form-group">
                <label for="Type6">Stawka 6</label><small class="pt6 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType6 / 100))) SEK</small>
                <div class="input-group product-load">
                    @Html.TextBoxFor(m => m.PercentType6, new { @class = "form-control percent-change", placeholder = "Stawka 6" })
                    <span class="input-group-addon">%</span>
                </div>
            </div>
        </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-primary product-load">Zapisz</button>
                </div>
        }
    </div>
</div>