﻿@model IEnumerable<ACSystem.Core.Models.ViewModels.Select.FittersSelect>

@{
    var ApartmentID = (int)ViewBag.ApartmentID;
    var TaskID = (int)ViewBag.TaskID;
}

<div class="modal-dialog" style="width: 300px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">NADAJ DOSTĘP</h4>
        </div>
        @using (Html.BeginForm("GrantAccessToTask", "Projects", FormMethod.Post, new { role = "form" }))
            {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <input type="hidden" name="ApartmentID" value="@ApartmentID" />
                <input type="hidden" name="TaskID" value="@TaskID" />
                <div class="form-group" style="padding-left: 0">
                    <select class="form-control select2" name="FitterID" id="FitterID" data-placeholder="Wybierz montera" style="width: 100%;" required>
                        @foreach (var fitter in Model.Where(q => !q.IsLocked))
                        {
                            <option value="@fitter.ID">@fitter.FullName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Anuluj</button>
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>
        }
    </div>
</div>
