﻿@model ACSystem.Core.Models.Projects

@{
    var ProjectID = (int)ViewBag.ProjectID;
}

<div class="modal-dialog" style="width: 300px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">KOPIUJ PROJEKT</h4>
        </div>
        @using (Html.BeginForm("ProjectCopy", "Projects", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <input type="hidden" name="Id" value="@ProjectID" />
                <div class="form-group" style="padding-left: 0">
                    @Html.Label("Lista numerów oddzielona przecinkiem (,). Schemat: ID Projektu#Nazwa Projektu,ID Następnego Projektu#Nazwa Nastepnępnego Projektu", new { @class = "control-label" })
                    @Html.TextBox("numbers", "", new { @class = "form-control", placeholder = "Lista numerów oddzielona przecinkiem (,)" })
                </div>
                <div class="form-group">
                    <input type="checkbox" id="copyTask" name="copyTask" value="true" checked>
                    <label>
                        Kopiuj zadania
                    </label>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-primary">Kopiuj</button>
                </div>
        }
    </div>
</div>

