﻿@model ACSystem.Core.Models.Tasks
@using ACSystem.Core.Models;
@using ACSystem.Core.Models.ViewModels;

@{
    var product = (Products)ViewBag.Product;
    var questions = (List<Question>)ViewBag.Questions;
    var answers = (List<Answer>)ViewBag.Answers;
    var taskQuestions = (List<Task_Question>)ViewBag.TaskQuestions;
    var productsList = (List<Products>)ViewBag.ProductsList;
    var isSetProductsList = (bool)ViewBag.IsSetProductsList;
    var ProjectID = (ViewBag.ProjectID != null) ? (int)ViewBag.ProjectID : 0;

    var color = "";

    if (Model != null && !string.IsNullOrEmpty(Model.ColorHex))
    {
        color = $"data-color='{Model.ColorHex}'";
    }

}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">EDYTUJ ZADANIE</h4>
        </div>
        @using (Html.BeginForm("TaskEdit", "Projects", FormMethod.Post, new { role = "form" }))
            {
            @Html.AntiForgeryToken()
            @Html.Hidden("ProjectID", ProjectID);
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.ApartmentId)
            @Html.HiddenFor(m => m.TaskSufix)
            @Html.HiddenFor(m => m.Payroll)
            @Html.HiddenFor(m => m.Invoice)
            @Html.HiddenFor(m => m.Leader)
            @Html.HiddenFor(m => m.ClosedDate)
            @Html.HiddenFor(m => m.ErrorType)
            @Html.HiddenFor(m => m.Accepted)
            @Html.HiddenFor(m => m.Blocked)
            @Html.HiddenFor(m => m.ForceInvoice)
            @Html.HiddenFor(m => m.InvoiceDescriptionPL)
            <div class="modal-body">
                <div class="form-group" style="padding-left: 0">
                    <label class="control-label" for="Products">Produkt</label>
                    <select class="form-control product-load" name="ProductId" id="ProductId" data-placeholder="Wybierz produkt" style="width: 100%;">
                        @if (isSetProductsList == true)
                        {
                            foreach (var pm in productsList.Where(q => q.Id == Model.ProductId || q.IsActive == true))
                            {
                                if (pm.Product_Project.Any(q => q.ProjectID == ProjectID) || pm.ForAllProjects)
                                {
                                <option value="@pm.Id" @if (Model.ProductId == pm.Id) { Write("selected"); }>@pm.Name</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="hidden" id="FirstState" value="@((int)Model.Status)"/>
                    <label class="control-label" for="Status">Status</label>
                    <select class="form-control edit-status" name="Status" id="Status" data-placeholder="Wybierz typ zadania" style="width: 100%;">
                        <option value="@((int)ACSystem.Core.TaskStatus.Free)" @if (Model.Status == ACSystem.Core.TaskStatus.Free) { Write("selected"); }>Wolne</option>
                        <option value="@((int)ACSystem.Core.TaskStatus.UnderWork)" @if (Model.Status == ACSystem.Core.TaskStatus.UnderWork) { Write("selected"); }>W trakcie</option>
                        <option value="@((int)ACSystem.Core.TaskStatus.Stoped)" @if (Model.Status == ACSystem.Core.TaskStatus.Stoped) { Write("selected"); }>Zatrzymane</option>
                        <option value="@((int)ACSystem.Core.TaskStatus.Finished)" @if (Model.Status == ACSystem.Core.TaskStatus.Finished) { Write("selected"); }>Zakończone</option>
                        <option value="@((int)ACSystem.Core.TaskStatus.FinishedWithFaults)" @if (Model.Status == ACSystem.Core.TaskStatus.FinishedWithFaults) { Write("selected"); }>Zakończone z błędami</option>
                        <option value="@((int)ACSystem.Core.TaskStatus.PlaceNotReady)" @if (Model.Status == ACSystem.Core.TaskStatus.PlaceNotReady) { Write("selected"); }>Miejsce nieprzygotowane</option>
                    </select>
                </div>
                <div class="form-group change-reason" style="display: none;">
                    <label class="control-label">Powód zmiany statusu</label>
                    <textarea name="ChangeReason" class="form-control change-reason-box" style="width: 100%; height: 50px;"></textarea>
                </div>
                <div class="form-group col-xs-4" style="padding-left: 0;">
                    <label for="Price">Cena</label>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.ProductPrice, new { @class = "form-control product-price", placeholder = "Podaj cenę" })
                        <span class="input-group-addon">kr</span>
                    </div>
                </div>
                <div class="form-group col-xs-4" style="padding-left: 0;">
                    <label for="Price">Płatność za godzinę</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            @Html.CheckBoxFor(m => m.IsHourlyPay)
                        </span>
                        @Html.TextBoxFor(m => m.HourlyPrice, new { @class = "form-control", placeholder = "Podaj cenę za godzinę" })
                        <span class="input-group-addon">kr</span>
                    </div>
                </div>
                <div class="form-group col-xs-4">
                    <label for="Price">Ilość</label>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.ProductCount, new { @class = "form-control", placeholder = "Podaj ilość" })
                        <span class="input-group-addon" id="product-jm">@product.Jm</span>
                    </div>
                </div>
                <div class="form-group col-xs-6" style="padding-left: 0;">
                    <label for="DateStart">Data rozpoczęcia</label>
                    @Html.TextBoxFor(m => m.StartDate, new { @Value = Model.StartDate.ToString("yyyy-MM-dd HH:mm"), @class = "form-control date-time autodate" })
                </div>
                <div class="form-group col-xs-6" style="padding-right: 0;">
                    <label for="DateStart">Data zakończenia</label>
                    @Html.TextBoxFor(m => m.EndDate, new { @Value = Model.EndDate.ToString("yyyy-MM-dd HH:mm"), @class = "form-control date-time autodate" })
                </div>
                <div class="form-group">
                    <label for="Description">Opis zadania</label>
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="Description">Opis do faktury</label>
                    @if (!string.IsNullOrEmpty(Model.InvoiceDescriptionPL))
                    {
                        <small>Opis montera: @Model.InvoiceDescriptionPL</small>
                    }
                    @Html.TextAreaFor(m => m.InvoiceDescription, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-default color-picker" style="background: @Model.ColorHex" @color>Kolor zadania</button>
                    @Html.HiddenFor(m => m.ColorHex)
                </div>
                
                <div id="questions-accordion-container">
                    @if (questions != null && questions.Any())
                    {
                        @Html.Partial("Partials/Modal_AddTask_Questions", new QuestionsToTask { Questions = questions, Task_Questions = taskQuestions, Answers = answers })
                    }
                </div> 

                <hr />
                <h4>Procenty</h4>
                <div class="col-xs-4 form-group">
                    <label for="Type1">Stawka 1 </label><small class="pt1 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType1 / 100))) SEK</small>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.PercentType1, new { @class = "form-control percent-change", placeholder = "Stawka 1" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="Type2">Stawka 2 </label><small class="pt2 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType2 / 100))) SEK</small>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.PercentType2, new { @class = "form-control percent-change", placeholder = "Stawka 2" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="Type3">Stawka 3</label><small class="pt3 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType3 / 100))) SEK</small>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.PercentType3, new { @class = "form-control percent-change", placeholder = "Stawka 3" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="Type4">Stawka 4</label><small class="pt4 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType4 / 100))) SEK</small>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.PercentType4, new { @class = "form-control percent-change", placeholder = "Stawka 4" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="Type5">Stawka 5</label><small class="pt5 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType5 / 100))) SEK</small>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.PercentType5, new { @class = "form-control percent-change", placeholder = "Stawka 5" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="Type6">Stawka 6</label><small class="pt6 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType6 / 100))) SEK</small>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.PercentType6, new { @class = "form-control percent-change", placeholder = "Stawka 6" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-primary product-load">Zapisz</button>
                </div>
        }
    </div>
</div>