﻿@model ACSystem.Core.Models.Tasks
@using ACSystem.Core.Models
@using ACSystem.Core
@using ACSystem.Core.Extensions
@using ACSystem.Core.Service

@{
    var source = (Tasks)ViewBag.SourceTask;
    var rooms = (List<Rooms>)ViewBag.Rooms;
    Model.ProductPrice = 0;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">DODAJ SERWIS ZADANIA</h4>
        </div>
        @using (Html.BeginForm("TaskSerwisCreate", "Projects", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <input type="hidden" name="BackTo" value="@ViewBag.BackTo" />
                @Html.HiddenFor(m => m.ApartmentId)
                @Html.HiddenFor(m => m.TaskOriginalId)
                @Html.HiddenFor(m => m.ProductId)
                @Html.HiddenFor(m => m.Product.ProductType, new { @value = source.Product.ProductType })
                @Html.HiddenFor(m => m.Status, (int)TaskStatus.Free)
                <h3 id="ProductName">@Model.GetTaskName(Model.Apartment.ProjectId)</h3>
                <div class="form-group">
                    <label class="control-label" for="Products">Rodzaj serwisu</label>
                    <select class="form-control" name="Production" id="Production" data-placeholder="Wybierz typ serwisu" style="width: 100%;">
                        @if (Model.Production == TaskProduction.Complaint) { <option value="2" selected>Reklamacja</option> } else { <option value="2">Reklamacja</option> }
                        @if (Model.Production == TaskProduction.Warranty) { <option value="1" selected>Gwarancja</option> } else { <option value="1">Gwarancja</option> }
                    </select>
                </div>
                @*<div class="form-group">
                    <label class="control-label" for="Products">Pomieszczenie</label>
                    <select class="form-control" name="RoomID" id="RoomID" data-placeholder="Wybierz pomieszczenie" style="width: 100%;">
                        <option></option>
                        @foreach (var room in rooms)
                        {
                            if (Model.RoomID == room.ID)
                            {
                                <option value="@room.ID" selected>@room.Name</option>
                            }
                            else
                            {
                                <option value="@room.ID">@room.Name</option>
                            }
                        }
                    </select>
                </div>*@
                <div class="form-group col-xs-4" style="padding-left: 0;">
                    <label for="Price">Cena</label>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.ProductPrice, new { @class = "form-control product-price", placeholder = "Podaj cenę" })
                        <span class="input-group-addon">kr</span>
                    </div>
                </div>
                <div class="form-group col-xs-4" style="padding-left: 0;">
                    <label for="Price">Płatność za godzinę</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            @Html.CheckBoxFor(m => m.IsHourlyPay)
                        </span>
                        @Html.TextBoxFor(m => m.HourlyPrice, new { @class = "form-control", placeholder = "Podaj cenę za godzinę" })
                        <span class="input-group-addon">kr</span>
                    </div>
                </div>
                <div class="form-group col-xs-4" style="padding-right: 0;">
                    <label for="DistancePrice">Cena za kilometr</label>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.DistancePrice, new { @class = "form-control", placeholder = "Podaj cenę za kilometr" })
                        <span class="input-group-addon">kr</span>
                    </div>
                </div>
                @*<div class="form-group col-xs-4" style="padding-left: 0;">
                    <label for="DistancePrice">Kod błędu</label>
                    @Html.TextBoxFor(m => m.ErrorCode, new { @class = "form-control", placeholder = "Podaj kod błędu" })
                </div>*@
                <div class="form-group col-xs-4 col-xs-offset-8" style="padding-right: 0;">
                    <label for="Price">Ilość</label>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.ProductCount, new { @class = "form-control", placeholder = "Podaj ilość", @Value = 1, disabled = true })
                        <span class="input-group-addon" id="product-jm">@Model.Product.Jm</span>
                    </div>
                </div>
                <div class="form-group col-xs-6" style="padding-left: 0;">
                    <label for="DateStart">Data rozpoczęcia</label>
                    @Html.TextBoxFor(m => m.StartDate, new { @Value = "", @class = "form-control date-time autodate" })
                </div>
                <div class="form-group col-xs-6" style="padding-right: 0;">
                    <label for="DateStart">Data zakończenia</label>
                    @Html.TextBoxFor(m => m.EndDate, new { @Value = "", @class = "form-control date-time autodate" })
                </div>
                <div class="form-group col-xs-12" style="padding-right: 0; padding-left: 0;">
                    <label for="Description">Opis zadania</label>
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="Description">Opis do faktury</label>
                    @Html.TextAreaFor(m => m.InvoiceDescription, new { @class = "form-control" })
                </div>
                <hr />
                <h4 class="col-xs-12">Procenty</h4>
                <div class="col-xs-4 form-group">
                    <label for="Type1">Stawka 1 </label><small class="pt1 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType1 / 100))) SEK</small>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.PercentType1, new { @class = "form-control percent-change", placeholder = "Stawka 1" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="Type2">Stawka 2 </label><small class="pt2 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType2 / 100))) SEK</small>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.PercentType2, new { @class = "form-control percent-change", placeholder = "Stawka 2" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="Type3">Stawka 3</label><small class="pt3 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType3 / 100))) SEK</small>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.PercentType3, new { @class = "form-control percent-change", placeholder = "Stawka 3" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="Type4">Stawka 4</label><small class="pt4 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType4 / 100))) SEK</small>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.PercentType4, new { @class = "form-control percent-change", placeholder = "Stawka 4" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="Type5">Stawka 5</label><small class="pt5 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType5 / 100))) SEK</small>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.PercentType5, new { @class = "form-control percent-change", placeholder = "Stawka 5" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="Type6">Stawka 6</label><small class="pt6 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType6 / 100))) SEK</small>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.PercentType6, new { @class = "form-control percent-change", placeholder = "Stawka 6" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                @if (Model.Production == TaskProduction.Developer)
                {
                    <div class="col-md-12" style="margin-bottom: 20px;">
                        @if (Model.Product.ProductType == TaskType.Kitchen && Model.Task_Questions != null)
                        {
                            <h4>Lista błędów zadania źródłowego</h4>
                            <ol>
                                @foreach (var q in Model.Task_Questions.QuestionsList)
                                {
                                    var propValue = Model.Task_Questions.GetPropValue(q);
                                    var descs = Model.Task_Questions.TaskQuestionPhoto.Where(x => x.Question == q).ToList();

                                    if ((TaskQuestionStatus)propValue == TaskQuestionStatus.Nie)
                                    {
                                        var question = Objects.GetDisplayName<Task_Questions>(q);

                                        <li>
                                            @question
                                            @if (descs.Any())
                                            {
                                                <ul>
                                                    @foreach (var d in descs)
                                                    {
                                                        if (d.InService)
                                                        {
                                                            continue;
                                                        }

                                                        <li id="description-id-@d.Id">
                                                            @d.Description
                                                            <a href="#" data-question="@question" data-description="@d.Description" class="add-service-element-from-questions" data-id="@d.Id"> Dodaj</a>
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                        </li>
                                    }
                                }
                            </ol>
                        }
                        <h4>Pytania kontrolne</h4>
                        <div class="col-xs-12 pull-right">
                            <div class="form-group pull-left col-xs-5">
                                <input type="text" class="form-control task-service-error-code" placeholder="Kod błędu" />
                            </div>
                            <div class="form-group pull-left col-xs-7 no-padding">
                                <input type="text" class="form-control task-service-room" placeholder="Pomieszczenie" />
                            </div>
                            @if (Model.Product.ProductType == TaskType.Kitchen && Model.Task_Questions != null)
                            {
                                <div class="form-group pull-left col-xs-5">
                                    <select class="select2 form-control select-question-name">
                                        @foreach (var q in Model.Task_Questions.QuestionsNames)
                                        {
                                            <option value="@q">@q</option>
                                        }
                                    </select>
                                </div>
                            }
                            else
                            {
                                <div class="form-group pull-left col-xs-5">
                                    <input type="text" class="form-control select-question-name" placeholder="Pytanie"/>
                                </div>
                            }
                            <div class="input-group pull-left col-xs-7">
                                <input type="text" class="description-question form-control" placeholder="Opis" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-primary add-service-element"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 added-questions">
                            <table class="table table-responsive table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Kod</th>
                                        <th>Pom.</th>
                                        <th>Element</th>
                                        <th>Opis</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                }
                else if ((Model.Production == TaskProduction.Complaint || Model.Production == TaskProduction.Warranty))
                {
                    <p class="questions col-xs-12">Pytania kontrolne</p>
                    <div class="col-md-12 questions table-responsive">
                        <table class="table table-responsive table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Kod</th>
                                    <th>Pom.</th>
                                    <th>Element</th>
                                    <th>Opis</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var patch in Model.TaskPatches)
                                {
                                    @Html.CreateSerwisElementRow(patch.ID.ToString(), patch.ItemTitle, patch.ItemDescription, patch.Code, patch.Room)
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Anuluj</button>
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>
        }
    </div>
</div>