﻿@model ACSystem.Core.Models.Events

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Dodaj wydarzenie</h4>
        </div>
        <form class="add-task-event-form">
            <div class="modal-body" id="apartment-map-in-modal">
                @Html.HiddenFor(m => m.ReferenceTo)
                <div class="form-group">
                    <label for="Title" class="control-label">Tytuł</label>
                    <input type="text" name="Title" id="Title" class="form-control" required />
                </div>
                <div class="form-group col-md-6 no-padding-left">
                    <label for="Start" class="control-label">Początek</label>
                    <input type="text" id="Start" class="form-control date-time autodate" required />
                </div>
                <div class="form-group col-md-6 no-padding-right">
                    <label for="End" class="control-label">Koniec</label>
                    <input type="text" name="End" id="End" class="form-control date-time autodate" required />
                </div>
                <div class="form-group">
                    <label for="Description" class="control-label">Opis</label>
                    <textarea type="text" name="Description" id="Description" class="form-control" required></textarea>
                </div>
                <div class="radios">
                    <div class="check red active">
                        <input type="hidden" value="#FD1919" />
                    </div>
                    <div class="check green">
                        <input type="hidden" value="#14C52A" />
                    </div>
                    <div class="check light-blue">
                        <input type="hidden" value="#0F9898" />
                    </div>
                    <div class="check blue">
                        <input type="hidden" value="#253DAD" />
                    </div>
                    <div class="check violet">
                        <input type="hidden" value="#6E1BAA" />
                    </div>
                    <div class="check pink">
                        <input type="hidden" value="#C81481" />
                    </div>
                    <div class="check orange">
                        <input type="hidden" value="#FF7809" />
                    </div>
                    <div class="check yellow">
                        <input type="hidden" value="#FFE309" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group pull-left">
                    <label for="AllDay" class="control-label">Całodniowe</label>
                    <input type="checkbox" name="AllDay" id="AllDay" />
                </div>
                <button type="submit" class="btn btn-primary pull-right add-task-event-btn">Dodaj</button>
                <button type="button" class="btn btn-default pull-right close-modal" data-dismiss="modal">Zamknij</button>
            </div>
        </form>
    </div>
</div>