﻿@model ACSystem.Core.Models.Tasks
@using ACSystem.Core;
@using ACSystem.Core.Models;
@using ACSystem.Core.Models.ViewModels
@using ACSystem.Core.Extensions

@{ 
    var fitters = (ICollection<Fitters>)ViewBag.Fitters;
    var plan = (List<PlannedTaskListForTask>) ViewBag.Plan;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">SZCZEGÓŁY ZADANIA <button type="button" class="btn btn-xs btn-primary print-task" onclick="PrintURL('/Projects/PrintTask/@Model.Id')"><i class="fa fa-print"></i></button></h4>
            
        </div>
        <div class="modal-body">
            <input type="hidden" id="selected-task-id" value="@Model.Id" />
            <dl>
                <dt>Zadanie</dt>
            <dd class="">
                <table class="table table-responsive table-bordered">
                    <tbody>
                    <tr>
                        <th>Projekt</th>
                        <td><a href="/Projects/Details/@Model.Apartment.ProjectId">@Model.Apartment.Project.ProjectNumber</a></td>
                    </tr>
                    <tr>
                        <th>Apartament</th>
                        <td><a href="/Projects/ApartmentDetails/@Model.ApartmentId">@Model.Apartment.NumberOfApartment</a></td>
                    </tr>
                    <tr>
                        <th>Nazwa produktu</th>
                        <td>@Model.GetTaskName(Model.Apartment.ProjectId) @Model.TaskSufix</td>
                    </tr>

                    <tr>
                        <th>Ilość</th>
                        <td>@Model.ProductCount @Model.Product.Jm</td>
                    </tr>
                    <tr>
                        <th>Cena</th>
                        <td>@Model.ProductPrice</td>
                    </tr>
                    @if (Model.Room != null)
                    {
                        <tr>
                            <th>Pomieszczenie</th>
                            <td>@Model.Room.Name</td>
                        </tr>
                    }
                    @if (!string.IsNullOrEmpty(Model.ErrorCode))
                    {
                        <tr>
                            <th>Kod błędu</th>
                            <td>@Model.ErrorCode</td>
                        </tr>
                    }
                    @if (Model.IsHourlyPay && Model.HourlyPrice.HasValue)
                    {
                        <tr>
                            <th>Płatność za godzinę</th>
                            <td>@Math.Ceiling(Model.HourlyPrice.Value) kr</td>
                        </tr>
                    }
                    @if (Model.Production != TaskProduction.Developer)
                    {
                        <tr>
                            <th>Cena za kilometr</th>
                            <td>@Math.Ceiling(Model.DistancePrice) kr</td>
                        </tr>
                        <tr>
                            <th>Odległość</th>
                            <td>@Math.Ceiling(Model.Distance) km</td>
                        </tr>
                    }
                    <tr>
                        <th>Data rozpoczęcia</th>
                        <td>@Model.StartDate.ToString("yyyy-MM-dd HH:mm")</td>
                    </tr>
                    <tr>
                        <th>Data zakończenia</th>
                        <td>@Model.EndDate.ToString("yyyy-MM-dd HH:mm")</td>
                    </tr>
                    <tr>
                        <th>Opis zadania</th>
                        <td>@Model.Description</td>
                    </tr>
                     @if (!string.IsNullOrEmpty(Model.InvoiceDescriptionPL))
                     {
                         <tr>
                             <th>Opis do faktury (monter)</th>
                             <td>@Model.InvoiceDescriptionPL</td>
                         </tr>
                     }
                     <tr>
                         <th>Opis do faktury</th>
                         <td>@Model.InvoiceDescription</td>
                     </tr>
                    <tr>
                        <th>Status</th>
                        @switch (Model.Status)
                        {
                            case TaskStatus.Free:
                                <td>Wolne</td>
                                break;
                            case TaskStatus.UnderWork:
                                <td>W trakcie</td>
                                break;
                            case TaskStatus.Stoped:
                                <td>Zatrzymane</td>
                                break;
                            case TaskStatus.Finished:
                                <td>Skończone (@(Model.ClosedDate?.ToString("yyyy-MM-dd HH:mm")))</td>
                                break;
                            case TaskStatus.FinishedWithFaults:
                                <td>Skończone z błędami (@(Model.ClosedDate?.ToString("yyyy-MM-dd HH:mm")))</td>
                                break;
                            case TaskStatus.FinishedWithFaultsCorrected:
                                <td>Skończone z błędami (Poprawione)(@(Model.ClosedDate?.ToString("yyyy-MM-dd HH:mm")))</td>
                                break;
                            case TaskStatus.PlaceNotReady:
                                <td>Miejsce nieprzygotowane</td>
                                break;
                            default:
                                <td>Wolne</td>
                                break;
                        }
                    </tr>
                    @if (!string.IsNullOrEmpty(Model.ChangeReason))
                    {
                        <tr>
                            <th>Powód zmiany statusu</th>
                            <td>@Model.ChangeReason</td>
                        </tr>
                    }
                    <tr>
                        <th>Aktualni monterzy</th>
                        <td>
                            @foreach (var fitter in Model.Fitters)
                            {
                                <a href="/Account/Details/@fitter.Id">@fitter.User.FullName &nbsp; &nbsp;</a>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Monterzy</th>
                        <td>
                            @{
                                var fittersHistory = Model.Task_Fitter.GroupBy(q => q.Fitter);

                                foreach (var hist in fittersHistory)
                                {
                                    <a href="/Account/Details/@hist.Key.Id">@hist.Key.User.FullName &nbsp; &nbsp;</a>
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <th>Zaplanowani monterzy</th>
                        <td>
                            <ul style="list-style: none">
                                @foreach (var p in plan)
                                {
                                    <li class="plan-@p.EventID"><a href="/Account/Details/@p.FitterID">@p.FitterName (@p.PlannedDate.ToString("yyyy-MM-dd"))</a>
                                        <span class="delete-planned-task text-danger" data-event-id="@p.EventID" style="cursor: pointer;"><i class="fa fa-remove"></i></span>
                                    </li>
                                }
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>Przypisani użytkownicy zewnętrzni</th>
                        <td>
                            <ul style="list-style: none">
                                @foreach (var tg in Model.Task_AccessGrant)
                                {
                                    <li class="grant-fitter-@tg.User.Id"><a href="/Account/Details/@tg.User.Id">@tg.User.FullName</a>
                                        @if (tg.User.Fitter.TaskAlreadyWork != Model.Id)
                                        {
                                            <span class="delete-grant-fitter text-danger" data-fitter-id="@tg.User.Id" data-task-id="@Model.Id" style="cursor: pointer;"><i class="fa fa-remove"></i></span>
                                        }
                                    </li>
                                }
                            </ul>
                        </td>
                    </tr>
                    @if (!string.IsNullOrEmpty(Model.ColorHex))
                    {
                        <tr>
                            <th>Kolor</th>
                            <td style="background-color: @Model.ColorHex;"></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </dd>
            <dt>
            </dt>
            <dd class="table-responsive">
            <form action="/Projects/UploadTaskDocument" class="file-dropzone for-task" data-task-id="@Model.Id">
                <div class="dz-default dz-message"><span>Upuśc pliki lub kliknij by dodać plik</span></div>
            </form>
            <table class="table table-bordered documents-table">
                <thead>
                    <tr>
                        <th>DOKUMENT</th>
                        <th width="30px" class="text-center"></th>
                        <th width="30px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var doc in Model.TaskDocuments)
                    {
                        <tr>
                            <td>@doc.FileName</td>
                            <td class="text-center"><a href="/Monter/dist/Documents/@doc.FilePath" class="btn btn-flat btn-sm btn-primary text-center"><i class="fa fa-download"></i></a></td>
                            <td>
                                <button type="button" class="btn btn-flat btn-sm btn-danger delete-file" data-url="/Monter/dist/Documents/@doc.FilePath" data-id="@doc.ID" data-from="task"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            </dd>
                <dt>Stawki procentowe</dt>
                <dd class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Stawka 1</th>
                                <th>Stawka 2</th>
                                <th>Stawka 3</th>
                                <th>Stawka 4</th>
                                <th>Stawka 5</th>
                                <th>Stawka 6</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td>@Math.Ceiling(Model.PercentType1) %</td>
                                <td>@Math.Ceiling(Model.PercentType2) %</td>
                                <td>@Math.Ceiling(Model.PercentType3) %</td>
                                <td>@Math.Ceiling(Model.PercentType4) %</td>
                                <td>@Math.Ceiling(Model.PercentType5) %</td>
                                <td>@Math.Ceiling(Model.PercentType6) %</td>
                            </tr>
                            <tr class="text-center">
                                <td>@Math.Ceiling((Model.ProductPrice * (Model.PercentType1 / 100))) SEK</td>
                                <td>@Math.Ceiling((Model.ProductPrice * (Model.PercentType2 / 100))) SEK</td>
                                <td>@Math.Ceiling((Model.ProductPrice * (Model.PercentType3 / 100))) SEK</td>
                                <td>@Math.Ceiling((Model.ProductPrice * (Model.PercentType4 / 100))) SEK</td>
                                <td>@Math.Ceiling((Model.ProductPrice * (Model.PercentType5 / 100))) SEK</td>
                                <td>@Math.Ceiling((Model.ProductPrice * (Model.PercentType6 / 100))) SEK</td>
                            </tr>
                        </tbody>
                    </table>
                </dd>
                @if (Model.Production == TaskProduction.Developer && (Model.Task_Questions != null || Model.Task_Question.Any()))
                {
                    <dt class="questions">Pytania kontrolne</dt>
                    <dd class="questions table-responsive">
                        <table class="table table-responsive table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Pytanie</th>
                                    <th>Odpowiedź</th>
                                    @if (Model.Task_Questions == null)
                                    {
                                    <th>Dod. Info</th>
                                    <th>Tłum.</th>
                                    }
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                @if (Model.Task_Questions != null)
                                {
                                    @Html.TaskQuestionRow(Model.Task_Questions, Model.Id);
                                }
                                else
                                {
                                    foreach (Task_Question question in Model.Task_Question)
                                    {
                                        string bg = (question.Answer != null && question.Answer.IsError == true) ? "red" : "transparent";
                                        string clr = (question.Answer != null && question.Answer.IsError == true) ? "white" : "black";

                                        <tr style="background-color: @bg; color: @clr;">
                                            <td>@question.Question.QuestionPol</td>
                                            <td>@((question.Answer == null) ? "-" : question.Answer.AnswerPol)</td>
                                            <td>@((question.Answer != null &&  question.Answer.ExtraFieldNotTT) ? "Nie dotyczy" : (string.IsNullOrEmpty(question.AdditionalInformation)) ? "-" : question.AdditionalInformation)</td>
                                            <td>@((question.Answer != null && question.Answer.ExtraFieldNotTT) ? "Nie dotyczy" : (string.IsNullOrEmpty(question.Translation)) ? "-" : question.Translation)</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </dd>
                }
                else if ((Model.Production == TaskProduction.Complaint || Model.Production == TaskProduction.Warranty) && Model.TaskPatches != null && Model.TaskPatches.Count() > 0)
                {
                    <dt class="questions">Pytania kontrolne</dt>
                    <dd class="questions table-responsive">
                        <table class="table table-responsive table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Kod</th>
                                    <th>Element</th>
                                    <th>Opis</th>
                                    <th>Monter</th>
                                    <th>Timestamp</th>
                                    <th width="20px">Koniec</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (var patch in Model.TaskPatches)
                            {
                                if (patch.Done)
                                {
                                    <tr class="task-element-@patch.ID" style="background-color: green; color: white;">
                                        <th>@patch.Code</th>
                                        <th>
                                            <span>
                                                @patch.ItemTitle @((!string.IsNullOrEmpty(patch.Room)) ? $"({patch.Room})" : "")
                                            </span>
                                        </th>
                                        <td>@patch.ItemDescription</td>
                                        <td>@patch.FitterName</td>
                                        <td>@(patch.Timestamp?.ToString("yyyy-MM-dd HH:mm"))</td>
                                        <td><input type="checkbox" class="patch-checkbox" @if (patch.Done) { Write("checked"); } data-patch-id="@patch.ID" data-patch-status="@patch.Done"/></td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(patch.Photo))
                                            {
                                                <a href="/Monter/dist/Patch_Images/@patch.Photo" style="color: white;" target="_blank"><i class="fa fa-eye"></i></a>
                                            }
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    <tr class="task-element-@patch.ID">
                                        <th>@patch.Code</th>
                                        <th>@patch.ItemTitle  @((!string.IsNullOrEmpty(patch.Room)) ? $"({patch.Room})" : "")</th>
                                        <td>@patch.ItemDescription</td>
                                        <td></td>
                                        <td></td>
                                        <td><input type="checkbox" class="patch-checkbox" @if (patch.Done) { Write("checked"); } data-patch-id="@patch.ID" data-patch-status="@patch.Done" /></td>
                                        <td></td>
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                    </dd>
                    }
            </dl>
        </div>
    </div>
</div>