﻿@model ACSystem.Core.Models.Apartments

@{
    var ProjectID = (int)ViewBag.ProjectID;
    var ApartmentIDToCopy = (int)ViewBag.ApartmentIDToCopy;
}

<div class="modal-dialog" style="width: 300px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">KOPIUJ APARTAMENT</h4>
        </div>
        @using (Html.BeginForm("ApartmentCopy", "Projects", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                @Html.HiddenFor(m => m.ProjectId, ProjectID)
                @Html.Hidden("ApartmentIdToCopy", ApartmentIDToCopy)
                <input type="hidden" id="ApartmentIdToCopy" name="ApartmentIdToCopy" value="0" />
                <div class="form-group" style="padding-left: 0">
                    @Html.Label("Lista numerów oddzielona przecinkiem (,)", new { @class = "control-label" })
                    @Html.TextBox("numbers", "", new { @class = "form-control", placeholder = "Numer początkowy" })
                </div>
                <div class="form-group">
                    <input type="checkbox" id="CopyTask" name="CopyTask" value="true" checked>
                    <label>
                        Kopiuj zadania
                    </label>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-primary">Kopiuj</button>
                </div>
        }
    </div>
</div>

