﻿@model IEnumerable<TodoListViewModel>
@using ACSystem.Core.ViewModels
@using ACSystem.Core

@{
    ViewBag.Title = "Zarządzaj";
    ViewBag.Description = "Bieżące zmiany ACSystem";
    ViewBag.Active = "Projects";
    ViewBag.SubActive = "List";
    var order = ViewBag.ApartmentOrder;
    var lastFilter = ViewBag.LastFilter;
    var dest = ViewBag.Dest;
    var lastSelected = ViewBag.LastType;
}

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/square/blue.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/iCheck/icheck.min.js")
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")

    @Scripts.Render("~/Scripts/Site/task-todo.js")
    @Scripts.Render("~/Scripts/Site/newTodoForm.js")


}

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">
                @*<button type="button" class="btn btn-sm btn-primary" title="Filtruj" data-toggle="collapse" data-target="#filtr-container">
                        Filtruj
                    </button>*@
            </div>
        </div>

        <div class="box-body table-responsive no-padding">
            <div class="col-md-12 collapse" id="filtr-container">
                @*<div class="input-group input-group-sm pull-right" style="width: 150px;">
                        <input type="text" name="search" id="search-table-input" class="form-control pull-right" placeholder="Szukaj">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default" id="search-table-btn"><i class="fa fa-search"></i></button>
                        </div>
                    </div>*@
            </div>

            <button type="button" class="btn btn-sm btn-primary pull-right newTodo" style="margin: 10px;">Dodaj TODO</button>

            <table class="table table-bordered table-sortable table-hover table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>

                        </th>
                        <th></th>
                        <th></th>
                        <th>
                            <select id="filter-type" data-last-selected="@lastSelected">
                                <option data-type="">Wszystkie</option>
                                @*@foreach(TodoType t in Enum.GetValues(typeof(TodoType)))
                                {
                                    <option data-type="@t">@t</option>
                                }*@
                                <option data-type="TlumaczeniaPytanKontrolnych" value="TlumaczeniaPytanKontrolnych">Tłumaczenie pytań kontrolnych</option>
                                <option data-type="Akceptacja" value="Akceptacja">Akceptacja</option>
                                <option data-type="ZmianaStatusu" value="ZmianaStatusu">Zmiana Statusu</option>
                                <option data-type="ZakoczenieZBledami" value="ZakoczenieZBledami">Zakoczenie z błędami</option>
                                <option data-type="NowyKomentarz" value="NowyKomentarz">Nowy Komentarz</option>
                                <option data-type="PoprawionyBlad" value="PoprawionyBlad">Poprawiony błąd</option>
                                <option data-type="Wiadomosc" value="Wiadomosc">Wiadomość</option>
                                <option data-type="NowyBlad" value="NowyBlad">Nowy Błąd</option>
                                <option data-type="ZatrzymaneZadanie" value="ZatrzymaneZadanie">Zatrzymane zadanie</option>
                            </select>
                        </th>
                    </tr>
                    <tr id="sortable-table">
                        <th class="filter-by" data-col="project">Projekt <i class="fa @(lastFilter == "project" && dest == "asc" ? "fa-caret-down" : "fa-caret-up")"></i></th>
                        <th class="filter-by" data-col="username">Użytkownik <i class="fa @(lastFilter == "username" && dest == "asc" ? "fa-caret-down" : "fa-caret-up")"></i></th>
                        <th class="filter-by" data-col="apartment" data-order="@order">LGH <i class="fa @(lastFilter =="apartment" && dest == "asc" ? "fa-caret-down" : "fa-caret-up")"></i></th>
                        <th class="filter-by" data-col="task">Zadanie <i class="fa @(lastFilter =="task" && dest == "asc" ? "fa-caret-down" : "fa-caret-up")"></i></th>
                        <th class="filter-by" data-col="fitter">Monter <i class="fa @(lastFilter =="fitter" && dest == "asc" ? "fa-caret-down" : "fa-caret-up")"></i></th>
                        <th>Rodzaj</th>
                        <th class="filter-by" data-col="date">Data <i class="fa @(lastFilter =="date" && dest == "asc" ? "fa-caret-down" : "fa-caret-up")"></i></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                            var filtered = Model.Where(q => !String.IsNullOrEmpty(q.Task) || q.Type == TodoType.Wiadomosc || q.Type == TodoType.NowyBlad);
                            foreach (var t in Model)
                            {
                                var rodzajAkcji = "";
                                var pokazAkcje = false;
                            //var project = (t.Task != null) ? t.Task.Apartment.Project : t.PlaceError?.Project;
                            //var apartment = (t.Task != null) ? t.Task.Apartment : t.PlaceError?.Apartment;
                            //var task = (t.Task != null) ? t.Task : t.PlaceError?.Task;

                            <tr id="tr-action-@t.TodoId">
                                <td>
                                    @if (t.Project != null)
                                        {
                                        <a href="/Projects/Details/@t.ProjectId">@t.Project</a>
                                    }
                                </td>
                                <td>
                                    @if (t.AssignedUser != null)
                                        {
                                        <a href="#">@t.AssignedUser</a>
                                    }
                                @if (t.AssignedUser == null)
                                        {
                                        <p>Ogólne</p>
                                    }
                                </td>
                                <td>
                                    @if (t.Apartment != null)
                                        {
                                        <a href="/Projects/ApartmentDetails/@t.ApartmentId">@t.Apartment</a>
                                    }
                                </td>
                                <td>
                                    @if (t.Task != null)
                                        {
                                        <a href="/Task/Details/@t.TaskId">@t.Task</a>
                                    }
                                </td>
                                <td>
                                    @if (t.Fitter != null)
                                        {
                                    @t.Fitter
                                    }
                                </td>
                                <td>
                                    @switch (t.Type)
                                    {
                                        case TodoType.Akceptacja:
                                            Write("Akceptacja");
                                            rodzajAkcji = "Zaakceptuj";
                                            pokazAkcje = true;
                                        break;
                                        case TodoType.NowyKomentarz:
                                            Write("Nowy komentarz");
                                            rodzajAkcji = "Przeczytaj komentarz";
                                            pokazAkcje = true;
                                        break;
                                        case TodoType.TlumaczeniaPytanKontrolnych:
                                            Write("Tłumaczenia pytań kontrolnych");
                                            rodzajAkcji = "Tłumacz";
                                            pokazAkcje = true;
                                        break;
                                        case TodoType.ZakoczenieZBledami:
                                            Write("Zakończenie z błędami");
                                            pokazAkcje = false;
                                        break;
                                        case TodoType.ZmianaStatusu:
                                            Write("Zmiana statusu");
                                            pokazAkcje = false;
                                        break;
                                        case TodoType.PoprawionyBlad:
                                            Write("Poprawiony błąd");
                                            pokazAkcje = false;
                                        break;
                                        case TodoType.Wiadomosc:
                                            Write("Wiadomość");
                                            rodzajAkcji = "Pokaż wiadomość";
                                            pokazAkcje = true;
                                        break;
                                        case TodoType.NowyBlad:
                                            Write("Nowy błąd");
                                            rodzajAkcji = "Pokaż i tłumacz błąd";
                                            pokazAkcje = true;
                                        break;
                                        case TodoType.ZatrzymaneZadanie:
                                            Write("Zatrzymane zadanie");
                                            rodzajAkcji = "Utwórz zadanie z pozostałej ilości";
                                            pokazAkcje = true;
                                        break;
                                    }

                                    @((!string.IsNullOrEmpty(t.Error)) ? $"({t.Error})" : "")
                                </td>
                                <td>
                                    @t.Date.ToString("yyyy-MM-dd HH:mm")
                                </td>
                                <td>
                                    @if (!string.IsNullOrEmpty(t.Task))
                                    {
                                        <a href="/Task/Details/@t.TaskId" class="btn btn-xs btn-flat btn-primary" data-toggle="tooltip" data-placement="bottom" title="Szczegóły zadania"><i class="fa fa-eye"></i></a>
                                    }
                                    else if (!string.IsNullOrEmpty(t.Apartment))
                                    {
                                        <a href="/Projects/ApartmentDetails/@t.ApartmentId" class="btn btn-xs btn-flat btn-primary" data-toggle="tooltip" data-placement="bottom" title="Szczegóły apartamentu"><i class="fa fa-eye"></i></a>
                                    }
                                    else if (!string.IsNullOrEmpty(t.Project))
                                    {
                                        <a href="/Projects/Details/@t.ProjectId" class="btn btn-xs btn-flat btn-primary" data-toggle="tooltip" data-placement="bottom" title="Szczegóły projektu"><i class="fa fa-eye"></i></a>
                                    }
                                    @*else
        {
            <a href="#" class="btn btn-xs btn-flat btn-primary check-todo" data-toggle="tooltip" data-placement="bottom" title="Oznacz jako przecztane"><i class="fa fa-eye"></i></a>
        }*@

                                    @if (t.Type == TodoType.Akceptacja && t.IsTaskAccepted == false)
                                    {
                                        <span type="" class="btn btn-xs btn-secondary" title="Zadanie oczekuje na akceptację" style="cursor: auto"><i class="fa fa-check"></i></span>

                                    }
                                    else
                                    {
                                        <button type="button" class="btn btn-xs btn-flat btn-success todo-check" data-id="@t.TodoId" data-toggle="tooltip" data-placement="bottom" title="Oznacz jako zrobione"><i class="fa fa-check"></i></button>
                                    }
                                    <button type="button" class="btn btn-xs btn-flat btn-danger assignTodo" data-id="@t.TodoId" data-toggle="tooltip" data-placement="bottom" title="Przypisz użytkownika">A</button>
                                    @*<button type="button" class="btn btn-xs btn-flat btn-danger show-description" data-id="@t.ID" data-toggle="tooltip" data-placement="bottom" title="@if (t.CustomDescription != null) { Write(t.CustomDescription); } else { Write("Nie ma opisu"); } "><i class="fa fa-pen"></i></button>*@
                                    @if (pokazAkcje)
                                    {
                                        <button type="button" class="btn btn-xs btn-flat btn-warning todo-action-@t.Type" data-id="@t.TodoId" data-place-error-id="@t.ErrorId" style="padding: 1px 8px;"><i class="fa fa-bolt" data-toggle="tooltip" data-placement="bottom" title="@rodzajAkcji"></i></button>
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
</div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right"></ul>
        </div>
    </div>
</section>

<div id="modal" class="cal-modal cal-modal-form cal-modal-top"></div>

<div id="modal-photos" class="modal-photos">
    <a href="javascript:void(0);" onclick="Custombox.modal.close();" class="demo-close"><i class="fa fa-times"></i></a>
    <button type="button" class="btn btn-outline btn-info demo-close-btn" onclick="Custombox.modal.close();">Close</button>
    <div id="photos" class="gal-container">

    </div>
</div>

<div id="modal-all-photos" class="modal-photos">
    <a href="javascript:void(0);" onclick="Custombox.modal.close();" class="demo-close"><i class="fa fa-times"></i></a>
    <button type="button" class="btn btn-outline btn-info demo-close-btn" onclick="Custombox.modal.close();">Close</button>
    <div id="photos" class="gal-container">

    </div>
</div>

<div id="modal-todo-messaage" class="cal-modal cal-modal-form cal-modal-top"></div>
<div id="modal-todo-assign" class="cal-modal cal-modal-form cal-modal-top"></div>
<div id="modal-add-new-todo" class="cal-modal cal-modal-form cal-modal-top"></div>