﻿@using ACSystem.Core.Models.ViewModels.Select
@using ACSystem.Core.Models
@model Invoice

@{
    ViewBag.Title = "Szczegóły";
    ViewBag.Description = $"Faktura {Model.InvoiceNo}";
    ViewBag.Active = "Office";
    ViewBag.SubActive = "Invoice";
}

@section Styles {
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    @Scripts.Render("~/Scripts/Site/invoice-create.js")
}

<section class="content">
        <div class="row">
            <div class="col-md-12">
                <a href="/Projects/Details/@Model.ProjectID"><h4>Projekt @Model.Project.ProjectNumber</h4></a>
                @if (ViewBag.Prev != null)
                {
                    <a href="/Office/DetailsInvoice/@ViewBag.Prev" class="btn btn-primary btn-sm pull-left" title="Poprzednia faktura"><i class="fa fa-angle-left"></i></a>
                }
                @if (ViewBag.Next != null)
                {
                    <a href="/Office/DetailsInvoice/@ViewBag.Next" class="btn btn-primary btn-sm pull-left" title="Następna faktura"><i class="fa fa-angle-right"></i></a>
                }
            </div>
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Dane faktury</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-4">
                            <div class="form-group label-better" style="margin-top: 20px;">
                                @Html.TextBoxFor(x => x.InvoiceNo, new Dictionary<string, object> {
                                                                                                        { "class", "form-control can-disable" },
                                                                                                        { "placeholder", "Numer faktury *" },
                                                                                                        { "data-position", "top" },
                                                                                                        { "required", "true" },
                                                                                                        { "disabled", "true" }
                                                                                                    })
                            </div>
                            <div class="form-group label-better">
                                <input type="hidden" id="PaymentTermDays" value="@ViewBag.FirstCustomerPaymentTerm"/>
                                @Html.TextBoxFor(x => x.InvoiceDate, "{0:yyyy-MM-dd}", new Dictionary<string, object> {
                                                                                                        { "class", "form-control date-only can-disable" },
                                                                                                        { "placeholder", "Data wystawienia *" },
                                                                                                        { "data-position", "top" },
                                                                                                        { "required", "true" },
                                                                                                        { "disabled", "true" }
                                                                                                    })
                            </div>
                            <div class="form-group label-better">
                                @Html.TextBoxFor(x => x.DeliveryDate, "{0:yyyy-MM-dd}", new Dictionary<string, object> {
                                                                                                        { "class", "form-control date-only can-disable" },
                                                                                                        { "placeholder", "Data dostawy *" },
                                                                                                        { "data-position", "top" },
                                                                                                        { "required", "true" },
                                                                                                        { "disabled", "true" }
                                                                                                    })
                            </div>
                            <div class="form-group label-better">
                                @Html.TextBoxFor(x => x.PaymentTerm, "{0:yyyy-MM-dd}", new Dictionary<string, object> {
                                                                                                        { "class", "form-control date-only changeable can-disable" },
                                                                                                        { "placeholder", "Termin płatności *" },
                                                                                                        { "data-position", "top" },
                                                                                                        { "required", "true" },
                                                                                                        { "disabled", "true" }
                                                                                                    })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group no-margin-bottom">
                                <label class="control-label lb_label_my">Klient *</label>
                                <select class="form-control select2 customer-select changeable can-disable" name="CustomerID" id="CustomerID" data-placeholder="Wybierz klienta" style="width: 100%;" required disabled>
                                        <option value="@Model.CustomerID" selected>@Model.Customer.Name</option>
                                </select>
                            </div>
                            <div class="form-group no-margin-bottom">
                                <label class="control-label lb_label_my">Projekt *</label>
                                <select class="form-control select2 project-select changeable can-disable" name="ProjectID" id="ProjectID" data-placeholder="Wybierz projekt" style="width: 100%;" required disabled>
                                    
                                        <option value="@Model.ProjectID" selected>@Model.Project.ProjectNumber</option>
                                </select>
                            </div>
                            <div class="form-group no-margin-bottom">
                                <label class="control-label lb_label_my">Konto bankowe *</label>
                                <select class="form-control select2 can-disable" name="BankAccountID" id="BankAccountID" data-placeholder="Wybierz projekt" style="width: 100%;" required disabled>
                                        <option value="@Model.BankAccountID" selected>@Model.BankAccount.AccountNumber</option>
                                </select>
                            </div>
                            <div class="form-group label-better-margin-top">
                                <div class="input-group">
                                    <input class="form-control can-disable" type="number" name="PenaltyInterest" id="PenaltyInterest" min="0" max="100" data-position="top" placeholder="Odsetki karne *" required disabled value="@Model.PenaltyInterest.ToString().Replace(',','.')" />
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label lb_label_my">Uwagi</label>
                                <textarea class="form-control can-disable" id="Comments" name="Comments" style="height: 195px; resize: none;" disabled>@Model.Comments</textarea>
                            </div>
                        </div>
                        <div class="col-md-2 pull-left">
                            <div class="form-group label-better-margin-top">
                                @*<label class="control-label lb_label_my">Data od *</label>*@
                                <input type="text" class="form-control date-only can-disable" data-position="top" placeholder="Data od *" name="InvoiceDateFrom" required value="@Model.InvoiceDateFrom.ToString("yyyy-MM-dd")" disabled/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group label-better-margin-top">
                                @*<label class="control-label lb_label_my">Data do *</label>*@
                                <input type="text" class="form-control date-only can-disable" data-position="top" placeholder="Data do *" name="InvoiceDateTo" required value="@Model.InvoiceDateTo.ToString("yyyy-MM-dd")" disabled />
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    <div class="row">
        <div class="col-md-12" id="InvoiceElements">
            @Html.Partial("Partial_InvoiceElementsGenerate", Model.Elements)
        </div>
    </div>
</section>

@*@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Invoice</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.InvoiceNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InvoiceNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InvoiceNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CustomerID, "CustomerID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CustomerID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectID, "ProjectID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProjectID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ProjectID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BankAccountID, "BankAccountID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BankAccountID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BankAccountID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PenaltyInterest, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PenaltyInterest, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PenaltyInterest, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InvoiceDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InvoiceDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InvoiceDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeliveryDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DeliveryDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DeliveryDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PaymentTerm, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PaymentTerm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PaymentTerm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InvoiceDateFrom, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InvoiceDateFrom, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InvoiceDateFrom, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InvoiceDateTo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.InvoiceDateTo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.InvoiceDateTo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CreateDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
