﻿@{
    ViewBag.Title = "Zarządzaj";
    ViewBag.Description = "Lista szkód ACSystem";
    ViewBag.Active = "Office";
    ViewBag.SubActive = "Fees";
}

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/square/blue.css")
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
}

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    @Scripts.Render("~/Scripts/plugins/iCheck/icheck.min.js")
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    @Scripts.Render("~/Scripts/Site/fees.js")
}

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-sm btn-primary" title="Filtruj" data-toggle="collapse" data-target="#filtr-container">
                    Filtruj
                </button>
                <button type="button" class="btn btn-sm btn-primary add-fee" data-toggle="tooltip" data-placement="bottom" title="Dodaj">
                    Dodaj
                </button>
            </div>
        </div>
        <div class="box-body table-responsive no-padding">
            <div class="col-md-12 collapse" id="filtr-container">
                <div class="input-group input-group-sm pull-right" style="width: 150px;">
                    <input type="text" name="search" id="search-table-input" class="form-control pull-right" placeholder="Szukaj">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default" id="search-table-btn"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="input-group input-group-sm pull-right checkbox-filter">
                    <label>
                        <input type="checkbox" class="minimal status-filter" id="fltr-chbx-1" value="0" checked>
                        Do potrącenia
                    </label>
                    <label>
                        <input type="checkbox" class="minimal status-filter" id="fltr-chbx-2" value="1" checked>
                        Potrącone
                    </label>
                </div>
            </div>
            <table id="fees-list" class="table table-bordered table-sortable" data-page="1" data-dest="desc" data-order-by="feedate" data-filter="0,1">
                <thead>
                    <tr>
                        <th data-id="number" data-dest="desc" class="clickable">Numer szkody</th>
                        <th data-id="fitter" data-dest="desc" class="clickable">Imię i nazwisko montera</th>
                        <th data-id="project" data-dest="desc" class="clickable">Projekt</th>
                        <th data-id="apartment" data-dest="desc" class="clickable">Apartament</th>
                        <th data-id="product" data-dest="desc" class="clickable">Zadanie</th>
                        <th data-id="feedate" data-dest="asc" class="clickable">Data</th>
                        <th data-id="offdate" data-dest="desc" class="clickable">Data potrącenia</th>
                        <th data-id="amount" data-dest="desc" class="clickable">Kwota</th>
                        <th data-id="status" data-dest="desc" class="clickable">Status</th>
                        <th data-id="payroll" data-dest="desc" class="clickable">Lista płacowa</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right"></ul>
        </div>
    </div>
</section>
<input type="hidden" class="date-only"/>
<div id="modal" class="cal-modal cal-modal-form cal-modal-top"></div>