﻿@using ACSystem.Core.Models.ViewModels.Select
@using ACSystem.Core.Models
@model Invoice

@{
    ViewBag.Title = "Dodaj";
    ViewBag.Description = "Nowa faktura ACSystem";
    ViewBag.Active = "Office";
    ViewBag.SubActive = "Invoice";

    var CustomersList = (List<CustomerSelect>)ViewBag.CustomersList;
    var ProjectsList = (List<ProjectsSelect>)ViewBag.ProjectsList;
    var BankAccountsList = (List<BankAccounts>)ViewBag.BankAccountsList;

    var isModelNull = (Model == null);
}

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/square/blue.css")
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/iCheck/icheck.min.js")
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    @Scripts.Render("~/Scripts/Site/invoice-create.js")
}

<section class="content">
    @using (Html.BeginForm("InvoiceCreate", "Office", FormMethod.Post, new { role = "form", id = "InvoiceCreateForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ProjectID)
        <div class="row">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Dane faktury</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <div class="btn-group">
                                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-wrench"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a class="add-bank-account" style="cursor: pointer;">Dodaj konto bankowe</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Wyczyść</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-4">
                            @*<div class="form-group label-better" style="margin-top: 20px;">
                                @Html.HiddenFor(x => x.InvoiceNumber, new Dictionary<string, object> {
                                                                                                        { "class", "form-control can-disable" },
                                                                                                        { "placeholder", "Numer faktury *" },
                                                                                                        { "data-position", "top" },
                                                                                                        { "required", "true" }
                                                                                                    })
                                <input type="text" class="form-control" placeholder="Numer faktury" data-position="top" value="@Model.InvoiceNo" disabled/>
                            </div>*@
                            <div class="form-group label-better" style="margin-top: 20px;">
                                <input type="hidden" id="PaymentTermDays" value="@ViewBag.FirstCustomerPaymentTerm"/>
                                @Html.TextBoxFor(x => x.InvoiceDate, "{0:yyyy-MM-dd}", new Dictionary<string, object> {
                                                                                                        { "class", "form-control date-only can-disable" },
                                                                                                        { "placeholder", "Data wystawienia *" },
                                                                                                        { "data-position", "top" },
                                                                                                        { "required", "true" },
                                                                                                        { "value", (isModelNull) ? DateTime.Now.ToString("yyyy-MM-dd") : Model.InvoiceDate.ToString("yyyy-MM-dd") }
                                                                                                    })
                            </div>
                            <div class="form-group label-better">
                                @Html.TextBoxFor(x => x.DeliveryDate, "{0:yyyy-MM-dd}", new Dictionary<string, object> {
                                                                                                        { "class", "form-control date-only can-disable" },
                                                                                                        { "placeholder", "Data dostawy *" },
                                                                                                        { "data-position", "top" },
                                                                                                        { "required", "true" },
                                                                                                        { "value", (isModelNull) ? DateTime.Now.ToString("yyyy-MM-dd") : Model.DeliveryDate.ToString("yyyy-MM-dd") }
                                                                                                    })
                            </div>
                            <div class="form-group label-better">
                                @Html.TextBoxFor(x => x.PaymentTerm, "{0:yyyy-MM-dd}", new Dictionary<string, object> {
                                                                                                        { "class", "form-control date-only changeable can-disable" },
                                                                                                        { "placeholder", "Termin płatności *" },
                                                                                                        { "data-position", "top" },
                                                                                                        { "required", "true" },
                                                                                                        { "value", (isModelNull) ? DateTime.Now.ToString("yyyy-MM-dd") : Model.PaymentTerm.ToString("yyyy-MM-dd") }
                                                                                                    })
                            </div>
                        </div>
                        <div class="col-md-4">
                            @*<div class="form-group no-margin-bottom">
                                <label class="control-label lb_label_my">Klient *</label>
                                <select class="form-control select2 customer-select changeable can-disable" name="CustomerID" id="CustomerID" data-placeholder="Wybierz klienta" style="width: 100%;" required>
                                    @foreach (var customer in CustomersList)
                                    {
                                        <option value="@customer.ID" @if (Model.CustomerID == customer.ID) { Write("selected"); }>@customer.Name</option>
                                    }
                                </select>
                            </div>*@
                            @*<div class="form-group no-margin-bottom">
                                <label class="control-label lb_label_my">Projekt *</label>
                                <select class="form-control select2 project-select changeable can-disable" name="ProjectID" id="ProjectID" data-placeholder="Wybierz projekt" style="width: 100%;" required>
                                    @foreach (var project in ProjectsList)
                                    {
                                        <option value="@project.ID" @if (Model.ProjectID == project.ID) { Write("selected"); }>@project.ProjectNumber</option>
                                    }
                                </select>
                            </div>*@
                            <div class="form-group no-margin-bottom">
                                <label class="control-label lb_label_my">Konto bankowe *</label>
                                <select class="form-control select2 can-disable" name="BankAccountID" id="BankAccountID" data-placeholder="Wybierz konto bankowe" style="width: 100%;" required>
                                    @foreach (var account in BankAccountsList)
                                    {
                                        <option value="@account.ID" @if ((Model.BankAccount == null && account.DefaultAccount) || Model.BankAccountID == account.ID) { Write("selected"); }>@account.AccountNumber</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group label-better-margin-top">
                                <div class="input-group">
                                    <input class="form-control can-disable" type="number" name="PenaltyInterest" id="PenaltyInterest" min="0" max="100" data-position="top" placeholder="Odsetki karne *" value="8" required />
                                    <span class="input-group-addon">%</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label lb_label_my">Uwagi</label>
                                <textarea class="form-control can-disable" id="Comments" name="Comments" style="height: 195px; resize: none;" ></textarea>
                            </div>
                        </div>
                        @*<div class="col-md-2 pull-left">
                            <div class="form-group label-better-margin-top">
                                @*<label class="control-label lb_label_my">Data od *</label>
                                <input type="text" class="form-control date-only can-disable" data-position="top" placeholder="Data od *" name="InvoiceDateFrom" required value="@ViewBag.LastInvoice.ToString("yyyy-MM-dd")" />
                            </div>
                        </div>*@
                        <div class="col-md-2 pull-right">
                            <div class="form-group label-better-margin-top">
                                @*<label class="control-label lb_label_my">Data do *</label>*@
                                <input type="text" class="form-control date-only can-disable" data-position="top" placeholder="Data do *" name="InvoiceDateTo" required value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">                        
                            <button type="submit" class="btn btn-primary pull-right" id="CreateInvoicePositions">Generuj pozycje</button>
                            <button type="button" class="btn btn-primary pull-right hidden" style="margin-left: 20px;" id="SaveInvoice">Zapisz</button>
                            <button type="button" class="btn btn-primary pull-right hidden" id="CancelInvoice">Anuluj pozycje</button>
                    </div>
                </div>  
            </div>
        </div>
    }
    <div class="row">
        <div class="col-md-12" id="InvoiceElements">

        </div>
    </div>
</section>

<div id="bank-account-modal" class="cal-modal cal-modal-form cal-modal-top">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Dodaj konto bankowe</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Waluta</label>
                    <input type="text" class="form-control input-currency" id="input-currency" name="input-currency" placeholder="np. PLN" />
                </div>
                <div class="form-group">
                    <label class="control-label">Numer konta</label>
                    <input type="text" class="form-control input-account" id="input-account" name="input-account" placeholder="np. PL 11 2222 3333 0000 0000 1234 4444" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left close-modal" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-primary pull-right bank-account-create">Stwórz</button>
            </div>
        </div>
    </div>
</div>
