﻿@{
    ViewBag.Title = "Zarządzaj";
    ViewBag.Description = "Lista faktur ACSystem";
    ViewBag.Active = "Office";
    ViewBag.SubActive = "Invoice";
}

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/square/blue.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/iCheck/icheck.min.js")
    @Scripts.Render("~/Scripts/plugins/printURL/print.js")
    @Scripts.Render("~/Scripts/Site/invoice.js")
}

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-sm btn-primary" title="Filtruj" data-toggle="collapse" data-target="#filtr-container">
                    Filtruj
                </button>
                <button type="button" class="btn btn-sm btn-primary add-invoice" title="Filtruj">
                    Generuj
                </button>
                @*<a href="/Office/GenereteInvoiceXmlForAll" class="btn btn-sm btn-primary xml-invoices" title="XML">
                    XML
                </a>*@
            </div>
        </div>
        <div class="box-body table-responsive no-padding">
            <div class="col-md-12 collapse" id="filtr-container">
                <div class="input-group input-group-sm pull-right" style="width: 150px;">
                    <input type="text" name="search" id="search-table-input" class="form-control pull-right" placeholder="Szukaj">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default" id="search-table-btn"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="input-group input-group-sm pull-right checkbox-filter">
                    <label>
                        <input type="checkbox" class="minimal status-filter" id="fltr-chbx-1" value="0" checked>
                        Gotowa
                    </label>
                    <label>
                        <input type="checkbox" class="minimal status-filter" id="fltr-chbx-2" value="1" checked>
                        Wysłana
                    </label>
                    <label>
                        <input type="checkbox" class="minimal status-filter" id="fltr-chbx-3" value="2" checked>
                        Zapłacona
                    </label>
                    <label>
                        <input type="checkbox" class="minimal status-filter" id="fltr-chbx-4" value="3" checked>
                        Wygenerowany XML
                    </label>
                </div>
            </div>
            <table id="invoice-list" class="table table-bordered table-sortable" data-page="1" data-dest="desc" data-order-by="number" data-filter="0,1,2,3,4 ">
                <thead>
                    <tr>
                        <th data-id="number" data-dest="desc" class="clickable">Numer faktury</th>
                        <th data-id="fortnox" data-dest="desc" class="clickable">Fortnox</th>
                        <th data-id="project" data-dest="desc" class="clickable">Numer projektu</th>
                        <th data-id="customer" data-dest="desc" class="clickable">Klient</th>
                        <th data-id="total" data-dest="desc" class="clickable">Kwota</th>
                        <th data-id="invoicedate" data-dest="asc" class="clickable">Data faktury</th>
                        <th data-id="paymentterm" data-dest="desc" class="clickable">Termin</th>
                        <th data-id="status" data-dest="desc" class="clickable">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right"></ul>
        </div>
    </div>
</section>

<div id="modal" class="cal-modal cal-modal-form cal-modal-top">

</div>
