﻿@model ACSystem.Core.Models.Payroll

<div class="modal-dialog" style="width: 300px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Nowa lista płac</h4>
        </div>
        @using (Html.BeginForm("PayrollCreate", "Office", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="control-label">Numer</label>
                    <input type="number" class="form-control" placeholder="Numer listy płac" name="Number" id="Number" value="@(ViewBag.LastNumber + 1)" disabled/>
                </div>
                <div class="form-group">
                    <label class="control-label">Do dnia</label>
                    <input type="text" class="form-control date-only" placeholder="Do dnia" name="CreateDate" id="CreateDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" disabled/>
                </div>
                <div class="form-group">
                    <input type="checkbox" class="form-control"
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left close-modal" data-dismiss="modal">Zamknij</button>
                <button type="submit" class="btn btn-primary pull-right">Stwórz</button>
            </div>
        }

    </div>
</div>