﻿@using ACSystem.Core
@model ACSystem.Core.Models.Fees

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">SZCZEGÓŁY SZKODY</h4>
        </div>
        <div class="modal-body">
            <input type="hidden" id="selected-task-id" value="@Model.ID" />
            <dl>
                <dt>Szkoda</dt>
                <dd class="table-responsive">
                    <table class="table table-responsive table-bordered">
                        <tbody>
                            <tr>
                                <th>Numer szkody</th>
                                <td>@Model.FeeNumber.ToString().PadLeft(5, '0')</td>
                            </tr>                            
                            <tr>
                                <th>Imię i nazwisko montera</th>
                                <td>@Model.Fitter.User.FullName</td>
                            </tr>
                            <tr>
                                <th>Projekt</th>
                                <td>@(Model.Project?.ProjectNumber)</td>
                            </tr>
                            <tr>
                                <th>Apartament</th>
                                <td>@(Model.Apartment?.NumberOfApartment)</td>
                            </tr>
                            <tr>
                                <th>Zadanie</th>
                                <td>@(Model.Task?.GetTaskName(Model.Task?.Apartment.ProjectId ?? 0))</td>
                            </tr>
                            <tr>
                                <th>Data szkody</th>
                                <td>@Model.FeeDate.ToString("yyyy-MM-dd")</td>
                            </tr>
                            <tr>
                                <th>Data potrącenia</th>
                                <td>
                                    @if (Model.TakeDate.HasValue)
                                    {
                                        Model.TakeDate.Value.ToString("yyyy-MM-dd");
                                    }                                
                                </td>
                            </tr>
                            <tr>
                                <th>Kwota</th>
                                <td>@Model.FeeAmount</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                @switch (Model.Status)
                                {
                                    case FeeStatus.DoPotracenia:
                                        <td><span class="label label-warning">Do potrącenia</span></td>
                                        break;
                                    case FeeStatus.Potracone:
                                        <td><span class="label label-success">Potrącone</span></td>
                                        break;
                                    default:
                                        <td><span class="label label-warning">Do potrącenia</span></td>
                                        break;
                                }
                            </tr>
                            <tr>
                                <th>Lista płacowa</th>
                                <td>
                                @if (Model.Payroll != null)
                                {
                                    @Model.Payroll.Number.ToString().PadLeft(5, '0');
                                }
                               </td>
                            </tr>
                            <tr>
                                <th>Uwagi</th>
                                <td>@Model.Description</td>
                            </tr>
                        </tbody>
                    </table>
                </dd>
                @{ 
                    var i = 1;
                }
                @foreach (var image in Model.Files)
                {
                    var fileNameSplit = image.FileName.Split('.');

                    <dt>
                    </dt>
                    <dd>
                        <a href="~/dist/Fees/@image.FileName" target="_blank">Plik @i (@(fileNameSplit.Last()))</a>
                    </dd>

                    i++;
                }    
            </dl>
        </div>
    </div>
</div>
