﻿@using ACSystem.Core.Models
@using ACSystem.Core.Models.ViewModels.Select
@model Fees

@{ 
    var fitters = (ICollection<FittersSelect>)ViewBag.Fitters;
    var projects = (ViewBag.Projects != null) ? (ICollection<ProjectsSelect>)ViewBag.Projects : null;
    var apartments = (ViewBag.Apartments != null) ? (ICollection<ApartmentsSelect>)ViewBag.Apartments : null;
    var tasks = (ICollection<TasksSelect>)ViewBag.Tasks;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Nowa szkoda</h4>
        </div>
        @using (Html.BeginForm("FeeCreate", "Office", FormMethod.Post, new { role = "form" }))
            {
            @Html.AntiForgeryToken()
            <input type="hidden" name="CallbackUrl" value="@ViewBag.CallbackURL" />
            <div class="modal-body">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div id="Images">

                </div>
                <div class="form-group">
                    <label class="control-label">Numer</label>
                    <input type="hidden" name="FeeNumber" value="@((ViewBag.LastNumber + 1))" />
                    <input type="number" class="form-control" placeholder="Numer szkody" name="FeeNumberDisplay" id="FeeNumber" value="@((ViewBag.LastNumber + 1).ToString().PadLeft(5, '0'))" disabled/>
                </div>
                <div class="form-group">
                    <label class="control-label">Monter</label>
                    <select class="form-control select2" name="FitterID" id="FitterID" data-placeholder="Wybierz montera" style="width: 100%;" required>
                        @foreach (var fitter in fitters.Where(q => !q.IsLocked))
                        {
                            <option value="@fitter.ID">@fitter.FullName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    @if (projects != null && ViewBag.ProjectID == null)
                    {
                        <label class="control-label">Projekt</label>
                        <select class="form-control select2 project-select changeable" id="ProjectID" name="ProjectID" data-placeholder="Wybierz projekt" style="width: 100%;" required>
                            @foreach (var project in projects)
                            {
                                <option value="@project.ID">@project.ProjectNumber</option>
                            }
                        </select>
                    }
                    else
                    {
                        <input type="hidden" name="ProjectID" value="@ViewBag.ProjectID" />
                    }
                </div>
                <div class="form-group">
                    @if (apartments != null && ViewBag.ApartmentID == null)
                    {
                        <label class="control-label">Apartament</label>
                        <select class="form-control select2 apartment-select changeable" id="ApartmentID" name="ApartmentID" data-placeholder="Wybierz mieszkanie" style="width: 100%;">
                            @if (projects != null)
                            {
                                <option></option>
                            }
                            @foreach (var apartment in apartments)
                            {
                                <option value="@apartment.ID">@apartment.ApartmentNumber</option>
                            }
                        </select>
                    }
                    else
                    {
                        <input type="hidden" name="ApartmentID" value="@ViewBag.ApartmentID" />
                    }
                </div>
                <div class="form-group">
                    <label class="control-label">Zadanie</label>
                    <select class="form-control select2 task-select changeable" id="TaskID" name="TaskID" data-placeholder="Wybierz zadanie" style="width: 100%;">
                        <option></option>
                        @foreach (var task in tasks)
                        {
                            <option value="@task.ID">@task.ProductName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Data szkody</label>
                    @Html.TextBoxFor(m => m.FeeDate, new { @class = "form-control date-only" })
                </div>
                <div class="form-group">
                    <label class="control-label">Opis szkody</label>
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="control-label">Koszt</label>
                    @Html.TextBoxFor(m => m.FeeAmount, new { @class = "form-control" })
                </div>
                <div class="fileUpload btn btn-sm btn-primary">
                    <span>DODAJ DOKUMENT</span>
                    <input type="file" class="upload profile-img-class" id="profile-img" name="profile-img" />
                </div>
                <div class="form-group photo-names">
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-left close-modal" data-dismiss="modal">Zamknij</button>
                    <button type="submit" class="btn btn-primary pull-right">Stwórz</button>
                </div>
        }

    </div>
</div>

<script>
</script>

