﻿@using ACSystem.Core.Models
@using ACSystem.Core.Models.ViewModels.Select
@model Fees

@{
    var fitters = (ICollection<FittersSelect>)ViewBag.Fitters;
    var projects = (ICollection<ProjectsSelect>)ViewBag.Projects;
    var apartments = (ICollection<ApartmentsSelect>)ViewBag.Apartments;
    var tasks = (ICollection<TasksSelect>)ViewBag.Tasks;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Edytuj szkodę</h4>
        </div>
        @using (Html.BeginForm("FeeEdit", "Office", FormMethod.Post, new { role = "form" }))
            {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ID)
            @Html.HiddenFor(m => m.PayrollID)
            @Html.HiddenFor(m => m.Status)
            @Html.HiddenFor(m => m.TakeDate)
            <div id="Images">

            </div>
            <div class="modal-body">
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label">Numer</label>
                    @Html.TextBoxFor(m => m.FeeNumber, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="control-label">Monter</label>
                    <select class="form-control select2" name="FitterID" id="FitterID" data-placeholder="Wybierz montera" style="width: 100%;" required>
                        @foreach (var fitter in fitters.Where(q => !q.IsLocked))
                        {
                            if (Model.FitterID == fitter.ID)
                            {
                                <option value="@fitter.ID" selected>@fitter.FullName</option>
                            }
                            else
                            {
                                <option value = "@fitter.ID"> @fitter.FullName</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Projekt</label>
                    <select class="form-control select2 project-select changeable" name="ProjectID" data-placeholder="Wybierz montera" style="width: 100%;" required>
                        @foreach (var project in projects)
                        {
                            if (Model.ProjectID == project.ID)
                            {
                                <option value="@project.ID" selected>@project.ProjectNumber</option>
                            }
                            else
                            {
                                <option value="@project.ID"> @project.ProjectNumber</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Apartament</label>
                    <select class="form-control select2 apartment-select changeable" name="ApartmentID" data-placeholder="Wybierz montera" style="width: 100%;">
                        @foreach (var apartment in apartments)
                        {
                            if (Model.ApartmentID == apartment.ID)
                            {
                                <option value="@apartment.ID" selected>@apartment.ApartmentNumber</option>
                            }
                            else
                            {
                                <option value="@apartment.ID"> @apartment.ApartmentNumber</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Zadanie</label>
                    <select class="form-control select2 task-select changeable" id="TaskID" name="TaskID" data-placeholder="Wybierz montera" style="width: 100%;">
                        @foreach (var task in tasks)
                        {
                            if (Model.TaskID == task.ID)
                            {
                                <option value="@task.ID" selected>@task.ProductName</option>
                            }
                            else
                            {
                                <option value="@task.ID"> @task.ProductName</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Data szkody</label>
                    @Html.TextBoxFor(m => m.FeeDate, new { @class = "form-control date-only", @Value = Model.FeeDate.ToString("yyyy-MM-dd") })
                </div>
                <div class="form-group">
                    <label class="control-label">Opis szkody</label>
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label class="control-label">Koszt</label>
                    @Html.TextBoxFor(m => m.FeeAmount, new { @class = "form-control" })
                </div>
                <div class="fileUpload btn btn-sm btn-primary">
                    <span>DODAJ DOKUMENT</span>
                    <input type="file" class="upload profile-img-class" id="profile-img" name="profile-img" />
                </div>
                <div class="form-group photo-names">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left close-modal" data-dismiss="modal">Zamknij</button>
                <button type="submit" class="btn btn-primary pull-right">Zapisz</button>
            </div>
        }

    </div>
</div>

<script>
</script>

