﻿@model IEnumerable<ACSystem.Core.Models.InvoiceElements>
@using ACSystem.Core.Extensions
@using ACSystem.Core.Models
@using ACSystem.Core.Models.ViewModels.Select

@{
    var projectsList = Model.GroupBy(q => q.ProjectID).Select(q => q.Key).ToList();
    
    Invoice invoice = new Invoice();

    if (Model != null && Model.FirstOrDefault() != null)
    {
        invoice = Model.FirstOrDefault().Invoice;
    }

    var complete = invoice.Complete;
    var notInvoicedTasks = (List<TasksSelect>)ViewBag.NotInvoicedTasks;
    var apartments = (List<ApartmentsSelect>)ViewBag.Apartments;

    //var freeApartments = new List<ApartmentsSelect>();

    //if (apartments != null && apartments.Count() > 0)
    //{
    //    foreach(var free in apartments)
    //    {
    //        if (apartmentsList.Any(q => q.Key == free.ApartmentNumber) == false)
    //        {
    //            freeApartments.Add(free);
    //        }
    //    }
    //}
}

@using (Html.BeginForm("InvoiceSave", "Office", FormMethod.Post, new {role = "form", id = "InvoiceSaveForm"}))
{
    if (projectsList != null && projectsList.Count() > 0)
    {
        foreach (var p in projectsList)
        {
            var apartmentsList = Model.Where(q => q.ProjectID == p).GroupBy(q => q.ApartmentNumber).ToList();
            var project = Model.FirstOrDefault(q => q.ProjectID == p).Project;
            var invoiceID = Model.FirstOrDefault(q => q.ProjectID == p).InvoiceID;

            if (project == null)
            {
                using (var db = new ACSystemContext())
                {
                    project = db.Projects.Find(p);
                }
            }

         <input type="hidden" name="InvoiceIDs[]" id="InvoiceID" class="invoiceIDs" value="@invoiceID"/>
         <div class="box box-primary collapsed-box project-@p invoice-project-container">
             <div class="box-header with-border">
                 <h3 class="box-title">Projekt @project.ProjectNumber</h3>
                 <div class="box-tools pull-right">
                     <span class="badge bg-danger bg-project-@project.ProjectNumber.ClearChars()"><span>0</span> SEK</span> 
                     <button type="button" class="btn btn-box-tool" data-widget="collapse">
                         <i class="fa fa-plus"></i>
                     </button>
                     @if (!complete)
                     {
                        @*<button type="button" class="btn btn-box-tool delete-invoice-project" data-project-id="@p.Key" data-invoice-id="@invoiceID">
                            <i class="fa fa-trash"></i>
                        </button>*@
                         <input type="checkbox" class="minimal all-element-active" value="0" data-checkboxes="check-project-@project.ProjectNumber.ClearChars()">
                     }
                 </div>
             </div>
             <div class="box-body">
                 
                 <div id="apartments-boxes">
                     @foreach (var apartment in apartmentsList)
                     {
                         var tasks = Model.Where(q => q.ApartmentNumber == apartment.Key && q.ProjectID == p).ToList();

                         var apartmentNotInvoiced = new List<TasksSelect>();

                         if (notInvoicedTasks == null)
                         {
                             notInvoicedTasks = new List<TasksSelect>();
                         }

                         var notInvoiced = notInvoicedTasks.Where(q => q.Apartment == apartment.Key);

                         foreach (var elem in notInvoiced)
                         {
                             if (tasks.Any(q => q.TaskID == elem.ID) == false)
                             {
                                 apartmentNotInvoiced.Add(elem);
                             }
                         }


                         <div class="box box-primary collapsed-box apartment-@apartment.Key invoice-element-container">
                             <div class="box-header with-border">
                                 <h3 class="box-title">LGH @apartment.Key</h3>
                                 <div class="box-tools pull-right">

                                     <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                         <i class="fa fa-plus"></i>
                                     </button>
                                     @if (!complete)
                                     {
                                        @*<button type="button" class="btn btn-box-tool delete-invoice-apartment" data-apartment-number="@apartment.Key" data-invoice-id="@invoiceID">
                                            <i class="fa fa-trash"></i>
                                        </button>*@
                                         <input type="checkbox" class="minimal all-element-active check-project-@project.ProjectNumber.ClearChars()" value="0" data-checkboxes="check-apartment-@apartment.Key.ClearChars()-project-@project.ProjectNumber.ClearChars()">
                                     }
                                 </div>
                             </div>
                             <div class="box-body table-responsive">
                                 <table class="table table-hover">
                                     <thead>
                                     <tr>
                                         <th>Produkt</th>
                                         <th>Ilość</th>
                                         <th>Jednostka</th>
                                         <th>Wartość</th>
                                         <th>Kwota</th>
                                         <th></th>
                                     </tr>
                                     </thead>
                                     <tbody>
                                     @foreach (var task in tasks)
                                     {
                                         var korekta = (task.Invoice_AddsID.HasValue) ? " (korekta)" : "";
                                         <tr data-element-id="@task.ID" class="element-@task.ID invoice-element">
                                             <td><a href="/Task/Details/@task.TaskID" target="_blank">@task.ProductName@korekta</a></td>
                                             <td>@task.Quantity</td>
                                             <td>@task.Unit</td>
                                             <td>@task.UnitPrice</td>
                                             <td class="invoice-element-value">
                                                @if (task.Invoice_AddsID.HasValue)
                                                {
                                                    Write(Math.Ceiling(task.Total.Value));
                                                }
                                                else
                                                {
                                                    Write(Math.Ceiling((task.UnitPrice * task.Quantity)));
                                                }                                                
                                             </td>
                                             <td>
                                                 @if (!complete)
                                                 {
                                                    @*<span data-toggle="tooltip" data-placement="bottom" title="Usuń" data-element-id="@task.ID" class="crud crud-delete delete-element"><i class="glyphicon glyphicon-remove"></i></span>*@
                                                     <input type="checkbox" class="minimal check-apartment-@apartment.Key.ClearChars()-project-@project.ProjectNumber.ClearChars() element-active" data-project-number="@project.ProjectNumber.ClearChars()" data-row-value="@Math.Ceiling((task.UnitPrice * task.Quantity))" value="1" name="element-@task.ID" @if (task.Complete)
                                                                                                                                                                                              {
                                                                                                                                                                                                  Write("checked");
                                                                                                                                                                                              }>
                                                 }
                                             </td>
                                         </tr>
                                     }
                                     </tbody>
                                 </table>
                             </div>
                             <div class="box-footer">
                                 @*@if (apartmentNotInvoiced.Count() > 0)
                                {
                                    var apartmentID = notInvoiced.FirstOrDefault().ApartmentID;

                                    <div class="input-group col-md-5 col-md-offset-7">
                                        <select class="form-control select2" name="AddTask" id="AddTask-@apartment.Key" data-placeholder="Wybierz zadanie">
                                            @foreach (var not in apartmentNotInvoiced)
                                            {
                                                if (tasks.Any(q => q.TaskID == not.ID) == false)
                                                {
                                                    <option value="@not.ID">@not.NameWithSufix</option>
                                                }
                                            }
                                        </select>
                                        <div class="input-group-btn">
                                            <button type="submit" class="btn btn-default AddTaskBtn" data-apartment-number="@apartment.Key" data-invoice-id="@ViewBag.InvoiceID" title="Dodaj"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>
                                }*@
                             </div>
                         </div>
                     }
                 </div>
             </div>
         </div>

     }
 }
}