﻿@model IEnumerable<ACSystem.Core.Models.InvoiceElements>
@using ACSystem.Core.Models
@using ACSystem.Core.Models.ViewModels.Select

@{ 
    var apartmentsList = Model.GroupBy(q => q.ApartmentNumber).ToList();
    Invoice invoice = new Invoice();

    if (Model != null && Model.FirstOrDefault() != null)
    {
        invoice = Model.FirstOrDefault().Invoice;
    }

    var complete = invoice.Complete;
    var notInvoicedTasks = (List<TasksSelect>)ViewBag.NotInvoicedTasks;
    var apartments = (List<ApartmentsSelect>)ViewBag.Apartments;

    var freeApartments = new List<ApartmentsSelect>();

    if (apartments != null && apartments.Count() > 0)
    {
        foreach(var free in apartments)
        {
            if (apartmentsList.Any(q => q.Key == free.ApartmentNumber) == false)
            {
                freeApartments.Add(free);
            }
        }
    }
}

<input type="hidden" name="InvoiceID" id="InvoiceID" value="@ViewBag.InvoiceID" />

@if (apartments != null && apartments.Count() > 0)
{
<div class="box box-primary collapsed-box">
    <div class="box-header with-border">
        <h3 class="box-title">Dodaj apartament</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="input-group col-md-5 col-md-offset-7">
            <select class="form-control select2" name="AddApartment" id="AddApartment" data-placeholder="Wybierz apartament">
                @foreach (var free in freeApartments)
                {
                    <option value="@free.ApartmentNumber">@free.ApartmentNumber</option>
                }
            </select>
            <div class="input-group-btn">
                <button type="submit" class="btn btn-default AddApartmentBtn" data-invoice-id="@ViewBag.InvoiceID" title="Dodaj"><i class="fa fa-plus"></i></button>
            </div>
        </div>

    </div>
</div>
}


        @if (complete)
        {
            <div class="box box-primary table-responsive table-striped">
                @{
                    var elementsList = new List<InvoiceElements>();

                    foreach (var apartment in apartmentsList)
                    {
                        var tasks = Model.Where(q => q.ApartmentNumber == apartment.Key && q.ProjectID == (Model.FirstOrDefault()?.ProjectID ?? 0));

                        foreach (var task in tasks)
                        {
                            if (elementsList.Any(q => q.ProductName == task.ProductName && q.UnitPrice == task.UnitPrice))
                            {
                                var elem = elementsList.FirstOrDefault(q => q.ProductName == task.ProductName && q.UnitPrice == task.UnitPrice);

                                elem.Quantity += task.Quantity;
                            }
                            else
                            {
                                elementsList.Add(new InvoiceElements
                                {
                                    ProductName = task.ProductName,
                                    Quantity = task.Quantity,
                                    Unit = task.Unit,
                                    UnitPrice = task.UnitPrice
                                });
                            }
                        }
                    }
                }
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Produkt</th>
                            <th>Ilość</th>
                            <th>Jednostka</th>
                            <th>Wartość</th>
                            <th>Kwota</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var elem in elementsList)
                        {
                            <tr>
                                <td>@elem.ProductName</td>
                                <td>@elem.Quantity</td>
                                <td>@elem.Unit</td>
                                <td>@elem.UnitPrice</td>
                                <td class="invoice-element-value">
                                    @if (elem.Invoice_AddsID.HasValue)
                                    {
                                        Write(Math.Ceiling(elem.Total.Value));
                                    }
                                    else
                                    {
                                        Write(Math.Ceiling((elem.UnitPrice * elem.Quantity)));
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

<div id="apartments-boxes">
    @foreach (var apartment in apartmentsList)
    {
        var tasks = Model.Where(q => q.ApartmentNumber == apartment.Key).ToList();

        var apartmentNotInvoiced = new List<TasksSelect>();

        if (notInvoicedTasks == null) { notInvoicedTasks = new List<TasksSelect>(); }

            var notInvoiced = notInvoicedTasks.Where(q => q.Apartment == apartment.Key);

            foreach (var elem in notInvoiced)
            {
                if (tasks.Any(q => q.TaskID == elem.ID) == false)
                {
                    apartmentNotInvoiced.Add(elem);
                }
            }

        
        <div class="box box-primary collapsed-box apartment-@apartment.Key invoice-element-container">
            <div class="box-header with-border">
                <h3 class="box-title">Apartament @apartment.Key</h3>
                <div class="box-tools pull-right">

                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                    @if (!complete)
                {
                        <button type="button" class="btn btn-box-tool delete-invoice-apartment" data-apartment-number="@apartment.Key" data-invoice-id="@ViewBag.InvoiceID">
                            <i class="fa fa-trash"></i>
                        </button>
                    }
                </div>
            </div>
            <div class="box-body table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Produkt</th>
                            <th>Ilość</th>
                            <th>Jednostka</th>
                            <th>Wartość</th>
                            <th>Kwota</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in tasks)
                        {
                            <tr data-element-id="@task.ID" class="element-@task.ID invoice-element">
                                <td>@task.ProductName</td>
                                <td>@task.Quantity</td>
                                <td>@task.Unit</td>
                                <td>@task.UnitPrice</td>
                                <td class="invoice-element-value">
                                    @if (task.Invoice_AddsID.HasValue)
                                    {
                                        Write(Math.Ceiling(task.Total.Value));
                                    }
                                    else
                                    {
                                        Write(Math.Ceiling((task.UnitPrice * task.Quantity)));
                                    }
                                </td>
                                <td>
                                    @if (!complete)
                                    {
                                        <span data-toggle="tooltip" data-placement="bottom" title="Usuń" data-element-id="@task.ID" class="crud crud-delete delete-element"><i class="glyphicon glyphicon-remove"></i></span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="box-footer">
                @if (apartmentNotInvoiced.Count() > 0)
                {
                    var apartmentID = notInvoiced.FirstOrDefault().ApartmentID;

                    <div class="input-group col-md-5 col-md-offset-7">
                        <select class="form-control select2" name="AddTask" id="AddTask-@apartment.Key" data-placeholder="Wybierz zadanie">
                            @foreach (var not in apartmentNotInvoiced)
                            {
                                if (tasks.Any(q => q.TaskID == not.ID) == false)
                                {
                                    <option value="@not.ID">@not.NameWithSufix</option>
                                }
                            }
                        </select>
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default AddTaskBtn" data-apartment-number="@apartment.Key" data-invoice-id="@ViewBag.InvoiceID" title="Dodaj"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
