﻿@model ACSystem.Core.Models.Payroll

@{
    ViewBag.Title = "Lista płac";
    ViewBag.Description = $"nr {Model.Number}";
    ViewBag.Active = "Office";
    ViewBag.SubActive = "Payroll";

    var fitters = Model.Items.OrderBy(q => q.FitterName).GroupBy(q => q.FitterName).Select(q => q.Key);
    var fittersHourlyRate = (Dictionary<string, int>)ViewBag.FitterHourlyRate;
    var hoursNotReported = (Dictionary<string, string>)ViewBag.HoursNotReported;
    var toDate = (string) ViewBag.ToDate;
}

@section Styles {

    @Styles.Render("~/Content/plugins/iCheck/square/blue.css")
    @Styles.Render("~/Content/plugins/select2/select2.min.css")

}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/iCheck/icheck.min.js")
    @Scripts.Render("~/Scripts/plugins/printURL/print.js")
    @Scripts.Render("~/Scripts/Site/payroll.js")
}

@using (Html.BeginForm("PayrollSave", "Office", FormMethod.Post, new { role = "form", id = "PayrollSaveForm" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("ID", Model.Id)
    @Html.Hidden("HoursNotReported", (hoursNotReported != null) ? string.Join(",", hoursNotReported.Keys.ToArray()) : "")
    @Html.Hidden("ToDate", toDate)
<section class="content">
    @*<div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>

        </div>
        <div class="box-body table-responsive no-padding">*@
    <div class="row">
        <div class="col-md-6">
           <h4>Suma listy płac: <span id="sum-sek">0</span> kr / <span id="sum-pln">0</span> zł</h4>
        </div>
        <div class="col-md-6" style="padding-bottom: 30px; text-align: right;">
            <button type="button" class="btn btn-default" id="check-all">Zaznacz wszystko</button>
            <button type="button" class="btn btn-default" id="uncheck-all">Odznacz wszystko</button>
            <button type="submit" class="btn btn-primary save-payroll-btn">Zapisz</button>
            <a href="/Office/PayrollCancel/@Model.Id" class="btn btn-danger">Anuluj</a>
        </div>
    </div>

    @*<div class="row">
        <div class="col-md-12">
            @if (hoursNotReported != null)
            {
                foreach (var h in hoursNotReported)
                {
                    if (fitters.Any(q => q.Equals(h.Value)))
                    {
                        <p class="text-danger">Monter @h.Value posiada niezaraportowane dni robocze.</p>
                    }
                }
            }
        </div>
    </div>*@

    @foreach (var fitter in fitters)
            {
                var items = Model.Items.Where(q => q.FitterName == fitter).ToList();

                var fitterID = "0";

                if (items != null && items.Count > 0)
                {
                    fitterID = items.FirstOrDefault().FitterID;
                }

                <div class="panel box box-primary" id="fitter-@fitter.Replace(' ', '_')">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#@fitter.Replace(' ', '_')" aria-expanded="false" class="collapsed">
                                @fitter
                            </a>
                        </h4>
                        <div class="box-tools pull-right">
                            <span class="badge bg-fitter-@fitter.Replace(' ', '_')"><span class="sum-badge sek">0</span> kr | <span class="sum-badge pln">0</span> zł</span>
                        </div>
                    </div>
                    <div id="@fitter.Replace(' ', '_')" class="panel-collapse collapse" aria-expanded="false">
                        <div class="box-body table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Projekt</th>
                                        <th>Apartament</th>
                                        <th>Produkt</th>
                                        <th>Data zamknięcia</th>
                                        <th>Wykonana praca</th>
                                        <th>Kwota</th>
                                        <th>Godz.</th>
                                        <th>Dodatki / Potrącenia</th>
                                        <th><input type="checkbox" class="minimal all-element-active" value="0" data-checkboxes="check-@fitter.Replace(' ', '_')"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        foreach (var item in items)
                                        {
                                            var hourlyRate = fittersHourlyRate[item.FitterID];
                                            var hourCost = hourlyRate * item.WorkTime;
                                            var hourCostPLN = hourCost * (decimal)item.Payroll.CurrencyRate2;
                                            <tr>
                                                <td><a href="/Projects/Details/@item.ProjectID">@item.ProjectNumber</a></td>
                                                <td><a href="/Projects/ApartmentDetails/@item.ApartmentID">@item.ApartmentNumber</a></td>
                                                <td><a href="/Products/Details/@item.ProductID">@(item.Task?.GetTaskName(item?.ProjectID ?? 0) ?? item.ProductName)</a></td>
                                                <td>@item.TaskEnd.ToString("yyyy-MM-dd")</td>
                                                <td>
                                                    @if (item.IsHourlyPay)
                                                    {
                                                        <span>@item.WorkDone @item.WorkDoneUnit</span> <span>|</span> <b>@item.WorkTime h</b>
                                                    }
                                                    else
                                                    {
                                                        <b>@item.WorkDone @item.WorkDoneUnit</b> <span>|</span> <span>@item.WorkTime h</span>
                                                    }
                                                </td>
                                                <td>@Math.Ceiling(item.ToPay) kr | @Math.Round(item.ToPayPLN, 2) zł</td>
                                                <td>@Math.Ceiling(hourCost) kr | @Math.Round((decimal)hourCostPLN, 2) zł</td>
                                                <td>@Math.Ceiling(item.Fees * -1) kr | @Math.Round(item.FeesPLN * -1, 2) zł</td>
                                                <td>
                                                    <input type="checkbox" class="minimal element-active check-@fitter.Replace(' ', '_')" value="1" name="element-@item.Id"
                                                           data-fitter="@fitter.Replace(' ', '_')"
                                                           data-row-pay-sek="@Math.Ceiling(item.ToPay)"
                                                           data-row-pay-pln="@Math.Round(item.ToPayPLN, 2)"
                                                           data-row-fee-sek="@Math.Ceiling(item.Fees * -1)"
                                                           data-row-fee-pln="@Math.Round(item.FeesPLN * -1, 2)"
                                                           data-row-hour-cost-sek="@Math.Ceiling(hourCost)"
                                                           data-row-hour-cost-pln="@Math.Round(hourCostPLN, 2)"
                                                           @if (item.Active.HasValue && item.Active.Value) { Write("checked"); }>
                                                </td>
                                            </tr>


                                            if (!string.IsNullOrEmpty(item.FeeDescription))
                                            {
                                                <tr>
                                                    <td colspan="8" style="text-align: right;">
                                                        Opis: @item.FeeDescription
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                                        }
    @*</div>
            <div class="box-footer clearfix">
            </div>
        </div>*@
</section>
}
