﻿@using ACSystem.Core.Models
@using ACSystem.Core
@model ACSystem.Core.Models.Payroll

@{
    ViewBag.Title = "Lista płac";
    ViewBag.Description = $"nr {Model.Number} ({Model.CreateDate.ToString("yyyy-MM-dd HH:mm")})";
    ViewBag.Active = "Office";
    ViewBag.SubActive = "Payroll";

    var fitters = Model.Items.OrderBy(q => q.FitterName).GroupBy(q => q.FitterName).Select(q => q.Key);

    var fittersList = (List<Fitters>)ViewBag.Fitters;
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/iCheck/icheck.min.js")
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    @Scripts.Render("~/Scripts/plugins/printURL/print.js")
    @Scripts.Render("~/Scripts/Site/payroll.js")
}

<section class="content" style="min-height: 0;">
    <div>
        @if (ViewBag.Prev != null)
        {
            <a href="/Office/PayrollDetails/@ViewBag.Prev" class="btn btn-primary btn-sm pull-left" title="Poprzednia lista płac"><i class="fa fa-angle-left"></i></a>
        }
        @if (ViewBag.Next != null)
        {
            <a href="/Office/PayrollDetails/@ViewBag.Next" class="btn btn-primary btn-sm pull-left" title="Następna lista płac"><i class="fa fa-angle-right"></i></a>
        }
    </div>
</section>
<section class="content" style="margin-top: 30px;">
    <div class="panel box box-primary" id="not-generated-reasons">
        <div class="box-header with-border">
            <h4 class="box-title col-md-8">
                <a data-toggle="collapse" data-parent="#not-generated-reasons" href="#not-generated-reasons-body" aria-expanded="false" class="collapsed">
                    Lista osób, którym nie wygenerowano listy płac
                </a>
            </h4>
        </div>
        <div id="not-generated-reasons-body" class="panel-collapse collapse" aria-expanded="false">
            <div class="box-body">
                @foreach (var error in Model.Payroll_Errors)
                {
                    <p class="text-danger">@error.Error</p>
                }
            </div>
        </div>
    </div>
    @*<div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>

        </div>
        <div class="box-body table-responsive no-padding">*@

    @foreach (var fitter in fitters)
    {
        var items = Model.Items.Where(q => q.FitterName == fitter).ToList();

        var fitterID = "0";

        if (items != null && items.Count > 0)
        {
            fitterID = items.FirstOrDefault().FitterID;
        }

        var background = "";
        var headerColor = "";

        if (items.All(q => q.Status == PayItemStatus.Wyplacone))
        {
            background = "style=background:forestgreen;";
            headerColor = "style=color:white;";
        }
        else if (items.All(q => q.Status == PayItemStatus.Wstrzymane))
        {
            background = "style=background:lightsalmon;";
            headerColor = "style=color:white;";
        }

        var hourlyRate = items.FirstOrDefault()?.HourlyRate ?? 0;

        var fitt = fittersList.FirstOrDefault(q => q.User.FullName == fitter);
        var hours = items.Sum(q => q.WorkTime);
        var hourCost = hours * hourlyRate;
        var hourCostPLN = (double)hourCost * Model.CurrencyRate2;

        var first = items.FirstOrDefault();

        <div class="panel box box-primary" id="fitter-@fitter.Replace(' ', '_')">
            <div class="box-header with-border" @background>
                <h4 class="box-title col-md-8">
                    <a data-toggle="collapse" data-parent="#accordion" href="#@fitter.Replace(' ', '_')" aria-expanded="false" class="collapsed" @headerColor>
                        @fitter
                    </a>
                    <small @headerColor>
                        @if (!string.IsNullOrEmpty(first.InvoiceNumber))
                        {
                            <span style="margin-right: 10px;">Nr. FV: @first.InvoiceNumber</span>
                        }
                        @if (first.InvoiceDate.HasValue)
                        {
                            <span style="margin-right: 10px;">Data wystawienia: @first.InvoiceDate.Value.ToString("yyyy-MM-dd")</span>
                        }
                        @if (!string.IsNullOrEmpty(first.InvoiceOwner))
                        {
                            <span style="margin-right: 10px;">Wystawił: @first.InvoiceOwner</span>
                        }
                        @if (first.InvoiceTimestamp.HasValue)
                        {
                            <span>Timestamp: @first.InvoiceTimestamp.Value.ToString("yyyy-MM-dd HH:mm")</span>
                        }
                    </small>
                </h4>
                <div class="pull-right col-md-4">
                    <span class="badge bg-danger">@Math.Ceiling(((items.Sum(q => q.ToPay) - hourCost) - items.Sum(q => q.Fees))) SEK</span>
                    <span class="badge bg-danger">
                        @Math.Round((((double)items.Sum(q => q.ToPayPLN) - hourCostPLN) - (double)items.Sum(q => q.FeesPLN)), 2) PLN
                    </span>
                    <button type="button" class="btn btn-xs btn-primary print-fitter-payroll" data-box-id="/Office/PayrollForFitter?PayrollID=@Model.Id&FitterName=@fitter.Replace(' ', '_')&FitterID=@fitterID"><i class="fa fa-print"></i></button>
                    <button type="button" class="btn btn-xs btn-primary send-fitter-payroll" data-payroll-id="@Model.Id" data-fitter-id="@fitterID" data-toggle="tooltip" data-placement="bottom" title="Wyślij ponownie"><i class="fa fa-envelope"></i></button>
                    <button type="button" class="btn btn-xs btn-default payroll-to-pay" data-payroll-id="@Model.Id" data-fitter-id="@fitterID" data-toggle="tooltip" data-placement="bottom" title="Status - Gotowe do wypłaty"><i class="fa fa-sticky-note-o"></i></button>
                    <button type="button" class="btn btn-xs btn-danger payroll-stoped" data-payroll-id="@Model.Id" data-fitter-id="@fitterID" data-toggle="tooltip" data-placement="bottom" title="Status - Wstrzymane"><i class="fa fa-hand-stop-o"></i></button>
                    <button type="button" class="btn btn-xs btn-success payroll-payed" data-payroll-id="@Model.Id" data-fitter-id="@fitterID" data-toggle="tooltip" data-placement="bottom" title="Status - Wypłacone"><i class="fa fa-usd"></i></button>
                </div>
            </div>
            <div id="@fitter.Replace(' ', '_')" class="panel-collapse collapse" aria-expanded="false">
                <div class="box-body table-responsive">
                    <div class="row" style="margin-bottom: 20px; margin-left:0; margin-right: 0;">
                        @using (Html.BeginForm("ChangeFitterPayrollInfo", "Office", FormMethod.Post, new { role = "form" }))
                        {
                            <input type="hidden" name="payrollID" value="@Model.Id" />
                            <input type="hidden" name="fitter" value="@fitter" />

                            <div class="col-md-3">
                                <label class="control-label">
                                    Numer faktury
                                </label>
                                <input type="text" class="form-control" name="InvoiceNumber" value="@first.InvoiceNumber" />
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">
                                    Data wystawienia
                                </label>
                                <input type="text" class="form-control date-only-first-null" name="InvoiceDate" value="@(first.InvoiceDate?.ToString("yyyy-MM-dd"))" />
                            </div>
                            <div class="col-md-3">
                                <label class="control-label">
                                    Wystawił
                                </label>
                                <input type="text" class="form-control" name="InvoiceOwner" value="@first.InvoiceOwner" />
                            </div>
                            <div class="col-md-3">
                                <label class="control-label" style="opacity: 0">
                                    NIEWIDZIALNE
                                </label>
                                <button type="submit" class="btn btn-primary form-control">ZAPISZ</button>
                            </div>
                        }
                    </div>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Projekt</th>
                                <th>Apartament</th>
                                <th>Produkt</th>
                                <th>Data zamknięcia</th>
                                <th>Wykonana praca</th>
                                <th>Kwota</th>
                                <th>Potrącenia</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var item in items)
                                {


                                    <tr>
                                        <td><a href="/Projects/Details/@item.ProjectID">@item.ProjectNumber</a></td>
                                        <td><a href="/Projects/ApartmentDetails/@item.ApartmentID">@item.ApartmentNumber</a></td>
                                        <td><a href="/Products/Details/@item.ProductID">@(item.Task?.GetTaskName(item.ProjectID ?? 0) ?? item.ProductName)</a></td>
                                        <td>@item.TaskEnd.ToString("yyyy-MM-dd")</td>
                                        <td>
                                            @if (item.IsHourlyPay)
                                            {
                                                <span>@item.WorkDone @item.WorkDoneUnit</span> <span>|</span> <b>@item.WorkTime h</b>
                                            }
                                            else
                                            {
                                                <b>@item.WorkDone @item.WorkDoneUnit</b> <span>|</span> <span>@item.WorkTime h</span>
                                            }
                                        </td>
                                        <td>@Math.Ceiling(item.ToPay) kr | @Math.Round(item.ToPayPLN, 2) zł</td>
                                        <td>@Math.Ceiling(item.Fees * -1) kr | @Math.Round(item.FeesPLN * -1, 2) zł</td>
                                        <td>
                                            @switch (item.Status)
                                            {
                                                case ACSystem.Core.PayItemStatus.DoWyplaty:
                                                    <span class='label label-default'>Gotowe do wypłaty</span>
                                                    break;
                                                case ACSystem.Core.PayItemStatus.Wstrzymane:
                                                    <span class='label label-warning'>Wstrzymane</span>
                                                    break;
                                                case ACSystem.Core.PayItemStatus.Wyplacone:
                                                    <span class='label label-success'>Wypłacone</span>
                                                    break;
                                            }
                                        </td>
                                    </tr>

                                    if (!string.IsNullOrEmpty(item.FeeDescription))
                                    {
                                        <tr>
                                            <td colspan="8" style="text-align: right;">
                                                Opis: @item.FeeDescription
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
    @*</div>
            <div class="box-footer clearfix">
            </div>
        </div>*@
</section>

