﻿@{
    ViewBag.Title = "Zarządzaj";
    ViewBag.Description = "Lista płac ACSystem";
    ViewBag.Active = "Office";
    ViewBag.SubActive = "Payroll";

    var fitters = (List<ACSystem.Core.Models.ViewModels.Select.FittersSelect>)ViewBag.Fitters;
}

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/square/blue.css")
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/iCheck/icheck.min.js")
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    @Scripts.Render("~/Scripts/Site/payroll.js")
}

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-sm btn-primary" title="Filtruj" data-toggle="collapse" data-target="#filtr-container">
                    Filtruj
                </button>
                <button type="button" class="btn btn-sm btn-primary create-payroll" title="Generuj" data-toggle="collapse" data-target="#generate-payroll">
                    Generuj
                </button>
            </div>
        </div>
        <div class="box-body table-responsive no-padding">
            <div class="col-md-12 collapse" id="filtr-container">
                <div class="input-group input-group-sm pull-right" style="width: 150px;">
                    <input type="text" name="search" id="search-table-input" class="form-control pull-right" placeholder="Szukaj">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default" id="search-table-btn"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="input-group input-group-sm pull-right checkbox-filter">
                    <label>
                        <input type="checkbox" class="minimal status-filter" id="fltr-chbx-1" value="0" checked>
                        Gotowa
                    </label>
                    <label>
                        <input type="checkbox" class="minimal status-filter" id="fltr-chbx-2" value="1" checked>
                        Częściowo wypłacona
                    </label>
                    <label>
                        <input type="checkbox" class="minimal status-filter" id="fltr-chbx-3" value="2" checked>
                        Zamknięta
                    </label>
                </div>
            </div>
            <div id="generate-payroll" class="col-md-12 collapse">
            @using (Html.BeginForm("PayrollCreate", "Office", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="input-group pull-right">
                    <button type="submit" class="btn btn-primary">Stwórz</button>
                </div>
                <div class="input-group pull-right" style="padding-right: 10px; width: 220px;">
                    <span class="input-group-addon" style="padding-top: 8px; padding-bottom: 2px;">
                        <input type="checkbox" class="for-fitter-check" name="ForFitter" value="true" />
                    </span>
                    <select class="form-control select2" name="FitterID" id="FitterID" disabled>
                        @foreach (var fitter in fitters.OrderBy(q => q.FullName))
                        {
                            <option value="@fitter.ID">@fitter.FullName</option>
                        }
                    </select>
                </div>
                <div class="input-group pull-right" style="padding-right: 10px; width: 200px;">
                    <span class="input-group-addon">
                        Do dnia
                    </span>
                    <input type="text" class="form-control date-only" placeholder="Do dnia" name="CreateDate" id="CreateDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                </div>
                <div class="input-group pull-right" style="padding-right: 10px; width: 200px;">
                    <span class="input-group-addon">
                        Numer
                    </span>
                    <input type="hidden" name="Number" value="@(ViewBag.LastNumber + 1)" />
                    <input type="number" class="form-control" placeholder="Numer listy płac" name="NumberDisplay" id="Number" value="@((ViewBag.LastNumber + 1).ToString().PadLeft(5, '0'))" disabled />
                </div>
            }
            </div>
            <table id="payroll-list" class="table table-bordered table-sortable" data-page="1" data-dest="desc" data-order-by="date" data-filter="0,1,2">
                <thead>
                    <tr>
                        <th data-id="number" data-dest="desc" class="clickable">Numer listy</th>
                        <th data-id="date" data-dest="asc" class="clickable">Data</th>
                        <th data-id="sum" data-dest="desc" class="clickable">Suma Faktura / Akord</th>
                        <th>Pozostało</th>
                        <th data-id="status" data-dest="desc" class="clickable">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right"></ul>
        </div>
    </div>
</section>

<div id="modal" class="cal-modal cal-modal-form cal-modal-top">

</div>
