﻿@using ACSystem.Core
@using ACSystem.Core.Models

@model ICollection<Task_Fitter>

@{
    var project = (Projects)ViewBag.Project;
    var apartment = (Apartments)ViewBag.Apartment;
    var currentDay = (DateTime)ViewBag.CurrentDay;

    int ProjectID = -1, ApartmentID = -1;

    var returnID = (ApartmentID > 0) ? ApartmentID : ProjectID;
    var returnTypeID = (ApartmentID > 0) ? "ApartmentID" : "ProjectID";

    var title = "RAPORT PRAC GODZINOWYCH ";

    if (apartment != null)
    {
        title += $"PROJEKT: ({apartment.Project.InSystemID}) {apartment.Project.ProjectNumber} LGH {apartment.Letter}{apartment.NumberOfApartment}";

        ProjectID = apartment.ProjectId;
        ApartmentID = apartment.Id;
    }
    else if (project != null)
    {
        title += $"PROJEKT: ({project.InSystemID}) {project.ProjectNumber}";

        ProjectID = project.Id;
    }

    ViewBag.Title = title;
    ViewBag.Active = "Projects";
    ViewBag.SubActive = "List";
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">DZIEŃ @currentDay.ToString("yyyy-MM-dd")</h3>
                    <div class="box-tools pull-right">
                        @if (Model.Any(q => !q.DayChecked))
                        {
                            <button type="button" class="btn btn-flat btn-sm btn-primary" onclick="window.history.back()">WRÓĆ</button>
                            <a class="btn btn-flat btn-sm btn-primary" href="/Reports/HourlyWorkReport_CheckDay?ProjectID=@ProjectID&ApartmentID=@ApartmentID&Day=@currentDay.ToString("yyyy-MM-dd")">ODZNACZ TEN DZIEŃ</a>
                        }
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-hover">
                        <tbody>
                            @{
                                var fitters = Model.GroupBy(q => q.Fitter);

                                foreach (var f in fitters)
                                {
                                    <tr>
                                        <th colspan="5">
                                            <h4 class="text-bold">@f.Key.User.FullName</h4>
                                        </th>
                                    </tr>

                                    var tasks = Model.Where(q => q.FitterId == f.Key.Id).Select(q => q.Task);

                                    var apartments = tasks.GroupBy(q => q.Apartment);

                                    foreach (var a in apartments)
                                    {
                                        <tr>
                                            <th colspan="5">
                                                <h5 class="text-bold">LGH @a.Key.Letter@a.Key.NumberOfApartment</h5>
                                            </th>
                                        </tr>                                        

                                        foreach (var t in Model.Where(q => q.Task.ApartmentId == a.Key.Id && q.FitterId == f.Key.Id && q.IsActive && q.Status != TaskStatus.Free && q.Status != TaskStatus.UnderWork && (q.WorkDone > 0 || q.WorkTime > 0)))
                                        {
                                            <tr>
                                                <td>
                                                    @t.Task.GetTaskName(t.Task.Apartment.ProjectId) @t.Task.TaskSufix
                                                </td>
                                                <td>
                                                    @t.WorkDone @t.Task.Product.Jm
                                                </td>
                                                <td>
                                                    @(t.WorkTime / 60) h
                                                </td>
                                                <td>
                                                    @t.Timestamp.ToString("yyyy-MM-dd HH:mm")
                                                </td>
                                                <td>
                                                    <a href="/Reports/HorulyWorkReport_DisactiveWork?ActivityID=@t.Id&IDType=@returnTypeID&ID=@returnID">
                                                        <i class="fa fa-remove"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</section>
