﻿@using ACSystem.Core.Models
@model ICollection<DateTime>

@{
    var project = (Projects)ViewBag.Project;
    var apartment = (Apartments)ViewBag.Apartment;
    var daysUncheckedList = (List<DateTime>)ViewBag.DaysUncheckedList;
    var daysAllList = (List<DateTime>)ViewBag.DaysAllList;
    var doubleList = (Dictionary<int, List<Task_Fitter>>)ViewBag.DoubleList;
    var apartments = (List<Apartments>)ViewBag.Apartments;

    int ProjectID = -1, ApartmentID = -1;

    var title = "RAPORT PRAC ";

    if (apartment != null)
    {
        title += $"({apartment.Project.InSystemID}) {apartment.Project.ProjectNumber} LGH {apartment.Letter}{apartment.NumberOfApartment}";

        ProjectID = apartment.ProjectId;
        ApartmentID = apartment.Id;
    }
    else if (project != null)
    {
        title += $"({project.InSystemID}) {project.ProjectNumber}";

        ProjectID = project.Id;
    }

    ViewBag.Title = title;
    ViewBag.Active = "Projects";
    ViewBag.SubActive = "List";
    ViewBag.ProjectID = ProjectID;
    ViewBag.ApartmentID = ApartmentID;
    ViewBag.EmptyDaysUnchecked = !daysUncheckedList.Any();
}

@section Scripts {   
    <script>
        $(document).ready(function () {
            $(".show-details").click(function () {
                var boxID = $(this).data("box");

                $(".details-box").addClass("hidden");
                $(boxID).removeClass("hidden");
            });

            $(".fitter-checkbox").change(function () {
                $(".fitter-checkbox").each(function (index) {
                    var allChecked = true;

                    if ($(this).is(":checked") === false)
                        allChecked = false;

                    $("#check-all-fitters").prop("checked", allChecked);
                });
            });

            $("#check-all-fitters").change(function () {
                var isChecked = $(this).is(":checked");

                $(".fitter-checkbox").prop("checked", isChecked);
            });
            
            $(".product-checkbox").change(function () {
                $(".product-checkbox").each(function (index) {
                    var allChecked = true;

                    if ($(this).is(":checked") === false)
                        allChecked = false;

                    $("#check-all-products").prop("checked", allChecked);
                });
            });

            $("#check-all-products").change(function () {
                var isChecked = $(this).is(":checked");

                $(".product-checkbox").prop("checked", isChecked);
            });

            $("#excel-form").submit(function (e) {
                
                var successFn = function (data) {
                    if (data.success) {
                        window.location = '/dist/HourRaport/' + data.file;
                    }
                    else {
                        toastr.error("Wystąpił błąd podczas generowania pliku excel!");
                    }
                }

                var errorFn = function () {
                    toastr.error("Wystąpił błąd podczas generowania pliku excel!");
                }

                var data = $(this).serialize();

                GetAjaxWithFunctions("/Reports/HourlyWorkReport_GenerateExcel", "POST", data, successFn, errorFn, "");

                e.preventDefault();
            });
        })
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    @if (daysUncheckedList.Any())
                    {
                        <li class="active"><a href="#tab-days-unchecked" data-toggle="tab">DNI NIESPRAWDZONE</a></li>
                    }
                    <li @if (!daysUncheckedList.Any()) { Write("class=active"); }><a href="#tab-days-all" data-toggle="tab">DNI WSZYSTKIE</a></li>
                    @if (doubleList.Any())
                    {
                        <li><a href="#tab-double" data-toggle="tab">PODWÓJNE WPISY</a></li>
                    }
                    <li><a href="#tab-tasks" data-toggle="tab">ZADANIA</a></li>
                    <li><a href="#tab-products" data-toggle="tab">PRODUKTY</a></li>
                    <li><a href="#tab-fitters" data-toggle="tab">MONTERZY</a></li>
                    <li><a href="#tab-excel" data-toggle="tab">EXCEL</a></li>
                </ul>
                <div class="tab-content">
                    @if (daysUncheckedList.Any())
                    {
                        @Html.Partial("Partials/HourlyWorkReport_DaysUnchecked", daysUncheckedList)
                    }
                    @Html.Partial("Partials/HourlyWorkReport_DaysAll", daysAllList)
                    @if (doubleList.Any())
                    {
                        @Html.Partial("Partials/HourlyWorkReport_Double", doubleList)
                    }
                    @Html.Partial("Partials/HourlyWorkReport_Tasks", apartments)
                    @Html.Partial("Partials/HourlyWorkReport_Products", apartments)
                    @Html.Partial("Partials/HourlyWorkReport_Fitters", apartments)
                    @Html.Partial("Partials/HourlyWorkReport_Excel", apartments)
                </div>
            </div>      
        </div>
        
    </div>
</section>
