﻿@using ACSystem.Core.Models.ViewModels.Select
@model ACSystem.Core.Models.ViewModels.ProductsViewModel
@{
    ViewBag.Title = "Dodaj";
    ViewBag.Description = "Nowy produkt ACSystem";
    ViewBag.Active = "Products";
    ViewBag.SubActive = "Create";

    var projects = (List<ProjectsSelect>)ViewBag.Projects;
}

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/square/blue.css")
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
    @Styles.Render("~/Content/Site/products.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/iCheck/icheck.min.js")
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    @Scripts.Render("~/Scripts/Site/products-ext.js")
}

<section class="content">
    @using (Html.BeginForm("Create", "Products", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <input type="hidden" name="IsActive" value="True" />
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Dane produktu</h3>
                        <div class="box-tools pull-right">
                            <button type="submit" class="btn btn-sm btn-primary" title="Dodaj">
                                DODAJ
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Wpisz nazwę produktu" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Rodzaj produktu</label>
                            <select class="form-control" name="ProductType" id="ProductType">
                                <option value="0" @if (Model?.ProductType == ACSystem.Core.TaskType.Kitchen) { Write("selected"); }>Kuchnia</option>
                                <option value="1" @if (Model?.ProductType == ACSystem.Core.TaskType.Construction) { Write("selected"); }>Budowlanka</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" class="minimal" name="ForAllProjects" value="True" @if (Model != null && Model.ForAllProjects) { Write("checked"); } />
                                Dla wszystkich projektów
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" class="minimal" name="NoExtra" value="True" @if (Model != null && Model.NoExtra) { Write("checked"); } />
                                Bez dodatku
                            </label>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.DescriptionPL, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.DescriptionPL, new { @class = "form-control", placeholder = "Wpisz opis" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.DescriptionEN, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.DescriptionEN, new { @class = "form-control", placeholder = "Wpisz opis (EN)" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.DescriptionSE, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.DescriptionSE, new { @class = "form-control", placeholder = "Wpisz opis (SE)" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Price, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Price, new { @class = "form-control", placeholder = "Podaj cenę" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Jm, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Jm, new { @class = "form-control", placeholder = "Podaj jednostkę miary" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.JmEng, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.JmEng, new { @class = "form-control", placeholder = "Podaj jednostkę miary (EN)" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.JmSwe, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.JmSwe, new { @class = "form-control", placeholder = "Podaj jednostkę miary (SE)" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ExpectedTime, new { @class = "control-label" })
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.ExpectedTime, new { @class = "form-control", placeholder = "Podaj planowany czas wykonania" })
                                <span class="input-group-addon">h</span>
                            </div>
                            </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.TimePercent, new { @class = "control-label" })
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.TimePercent, new { @class = "form-control", placeholder = "Podaj procent czasu" })
                                <span class="input-group-addon">%</span>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Przypisane projekty</h3>
                    </div>
                    <div class="box-body">
                        <select class="form-control select2" multiple="multiple" name="ConnectedProjects" data-placeholder="Wybierz projekty" style="width: 100%;" >
                            @if (projects != null && projects.Count > 0)
                            {
                                foreach (var p in projects)
                                {
                                    if (Model != null && Model.ConnectedProjects != null && Model.ConnectedProjects.Contains(p.ID))
                                    {
                                        <option value="@p.ID" selected>@p.ProjectNumber</option>
                                    }
                                    else
                                    {
                                        <option value="@p.ID">@p.ProjectNumber</option>
                                    }
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Procenty</h3>
                    </div>
                    <div class="box-body">
                        <div class="col-xs-4 form-group">
                            @Html.LabelFor(m => m.Type1, new { @class = "control-label" })<small class="pt1 pull-right">@Math.Ceiling(((Model?.Price ?? 0) * ((Model?.Type1 ?? 0) / 100))) SEK</small>
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Type1, new { @class = "form-control percent-change", placeholder = "Stawka 1" })
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="col-xs-4 form-group">
                            @Html.LabelFor(m => m.Type2, new { @class = "control-label" })<small class="pt2 pull-right">@Math.Ceiling(((Model?.Price ?? 0) * ((Model?.Type2 ?? 0) / 100))) SEK</small>
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Type2, new { @class = "form-control percent-change", placeholder = "Stawka 2" })
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="col-xs-4 form-group">
                            @Html.LabelFor(m => m.Type3, new { @class = "control-label" })<small class="pt3 pull-right">@Math.Ceiling(((Model?.Price ?? 0) * ((Model?.Type3 ?? 0) / 100))) SEK</small>
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Type3, new { @class = "form-control percent-change", placeholder = "Stawka 3" })
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="col-xs-4 form-group">
                            @Html.LabelFor(m => m.Type4, new { @class = "control-label" })<small class="pt4 pull-right">@Math.Ceiling(((Model?.Price ?? 0) * ((Model?.Type4 ?? 0) / 100))) SEK</small>
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Type4, new { @class = "form-control percent-change", placeholder = "Stawka 4" })
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="col-xs-4 form-group">
                            @Html.LabelFor(m => m.Type5, new { @class = "control-label" })<small class="pt5 pull-right">@Math.Ceiling(((Model?.Price ?? 0) * ((Model?.Type5 ?? 0) / 100))) SEK</small>
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Type5, new { @class = "form-control percent-change", placeholder = "Stawka 5" })
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="col-xs-4 form-group">
                            @Html.LabelFor(m => m.Type6, new { @class = "control-label" })<small class="pt6 pull-right">@Math.Ceiling(((Model?.Price ?? 0) * ((Model?.Type6 ?? 0) / 100))) SEK</small>
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Type6, new { @class = "form-control percent-change", placeholder = "Stawka 6" })
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
