﻿@model ACSystem.Core.Models.Products

@{
    ViewBag.Title = "Szczegóły - Numer ewidencyjny " + Model.Name;
    ViewBag.Active = "Products";
    ViewBag.SubActive = "List";    
}

@section Styles {

    @Styles.Render("~/Content/Site/products.css")

}

@section Scripts {
    @Scripts.Render("~/Scripts/Site/products-ext.js")

    <script>
        var data = {
            current: "@Model.Id",
            dest: localStorage.getItem("product-dest"),
            orderby: localStorage.getItem("product-orderby"),
            search: localStorage.getItem("product-search"),
            filter: localStorage.getItem("inventory-filter")
        }

        var successFn = function (data) {
            var buttons = "";

            if (data.prev != "" && data.prev != null)
                buttons += '<a href="/Products/Details/' + data.prev + '" class="btn btn-primary btn-sm" title="Poprzedni produkt"><i class="fa fa-angle-left"></i></a>';

            if (data.next != "" && data.next != null)
                buttons += '<a href="/Products/Details/' + data.next + '" class="btn btn-primary btn-sm" title="Następni produkt"><i class="fa fa-angle-right"></i></a>';

            $("#prev-next-btns").append(buttons);
        }

        var errorFn = function () { }

        GetAjaxWithFunctions("/Products/GetPrevNextID", "POST", data, successFn, errorFn, "");
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Dane</h3>
                    <div class="box-tools pull-right" id="prev-next-btns">
                        @*@if (ViewBag.Prev != null)
                        {
                            <a href="/Products/Details/@ViewBag.Prev" class="btn btn-primary btn-sm pull-left" title="Poprzedni produkt"><i class="fa fa-angle-left"></i></a>
                        }
                        @if (ViewBag.Next != null)
                        {
                            <a href="/Products/Details/@ViewBag.Next" class="btn btn-primary btn-sm pull-left" title="Następny produkt"><i class="fa fa-angle-right"></i></a>
                        }*@
                        <a href="/Products/Edit/@Model.Id" class="btn btn-sm btn-primary" title="Edytuj" style="margin-left: 15px;">
                            Edytuj
                        </a>
                    </div>
                </div>
                <div class="box-body user-info">
                    <dl>
                        <dt>Nazwa</dt>
                        <dd>@Model.Name</dd>
                        <dt>Rodzaj produktu</dt>
                        <dd>
                        @switch (Model.ProductType)
                        {
                            case ACSystem.Core.TaskType.Kitchen:
                                Write("Kuchnia");
                                break;
                            case ACSystem.Core.TaskType.Construction:
                                Write("Budowlanka");
                                break;
                        }
                        </dd>
                        <dt>Opis</dt>
                        <dd>@Model.DescriptionPL</dd>
                        <dt>Opis (EN)</dt>
                        <dd>@Model.DescriptionEN</dd>
                        <dt>Opis (SE)</dt>
                        <dd>@Model.DescriptionSE</dd>
                        <dt>Jednostka miary</dt>
                        <dd>@Model.Jm</dd>
                        <dt>Jednostka miary (EN)</dt>
                        <dd>@Model.JmEng</dd>
                        <dt>Jednostka miary (SE)</dt>
                        <dd>@Model.JmSwe</dd>
                        <dt>Cena</dt>
                        <dd>@Model.Price</dd>
                        <dt>Planowany czas wykonania</dt>
                        <dd>@Model.ExpectedTime h</dd>
                        <dt>Procent czasu</dt>
                        <dd>@(Model.TimePercent)%</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Procenty</h3>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>Typ 1</th>
                            <th>Typ 2</th>
                            <th>Typ 3</th>
                            <th>Typ 4</th>
                            <th>Typ 5</th>
                            <th>Typ 6</th>
                        </tr>
                        <tr>
                            <td>@(Model.PercentHeight.Type1 ?? 0) %</td>
                            <td>@(Model.PercentHeight.Type2 ?? 0) %</td>
                            <td>@(Model.PercentHeight.Type3 ?? 0) %</td>
                            <td>@(Model.PercentHeight.Type4 ?? 0) %</td>
                            <td>@(Model.PercentHeight.Type5 ?? 0) %</td>
                            <td>@(Model.PercentHeight.Type6 ?? 0) %</td>
                        </tr>
                        <tr>
                            <td>@Math.Ceiling((Model.Price * ((Model.PercentHeight.Type1 ?? 0) / 100))) SEK</td>
                            <td>@Math.Ceiling((Model.Price * ((Model.PercentHeight.Type2 ?? 0) / 100))) SEK</td>
                            <td>@Math.Ceiling((Model.Price * ((Model.PercentHeight.Type3 ?? 0) / 100))) SEK</td>
                            <td>@Math.Ceiling((Model.Price * ((Model.PercentHeight.Type4 ?? 0) / 100))) SEK</td>
                            <td>@Math.Ceiling((Model.Price * ((Model.PercentHeight.Type5 ?? 0) / 100))) SEK</td>
                            <td>@Math.Ceiling((Model.Price * ((Model.PercentHeight.Type6 ?? 0) / 100))) SEK</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</section>