﻿@using ACSystem.Core.Models.ViewModels.Select
@model ACSystem.Core.Models.ViewModels.ProductsViewModel
@{
    ViewBag.Title = "Zapisz";
    ViewBag.Description = "Edytuj produkt ACSystem";
    ViewBag.Active = "Products";
    ViewBag.SubActive = "Create";

    var projects = (List<ProjectsSelect>)ViewBag.Projects;
    var products = (List<ProductsSelect>)ViewBag.Products;
}

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/square/blue.css")
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
    @*@Styles.Render("~/Content/Site/products.css")*@
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/iCheck/icheck.min.js")
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    @Scripts.Render("~/Scripts/Site/products-ext.js")
}

<section class="content">
    @using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.IsActive)
            @Html.HiddenFor(m => m.InSystemID)
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Dane produktu</h3>
                        <div class="box-tools pull-right">
                            @if (ViewBag.Prev != null)
                {
                    <a href="/Products/Details/@ViewBag.Prev" class="btn btn-primary btn-sm btn-flat pull-left" title="Poprzedni produkt"><i class="fa fa-angle-left"></i></a>
    }
                            @if (ViewBag.Next != null)
                {
                    <a href="/Products/Details/@ViewBag.Next" class="btn btn-primary btn-sm btn-flat pull-left" title="Następny produkt"><i class="fa fa-angle-right"></i></a>
    }
                            <button type="submit" class="btn btn-sm btn-flat btn-primary" title="Zapisz" style="margin-left: 15px;">
                                ZAPISZ
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Name, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Wpisz nazwę produktu" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">Rodzaj produktu</label>
                            <select class="form-control" name="ProductType" id="ProductType">
                                <option value="0" @if (Model?.ProductType == ACSystem.Core.TaskType.Kitchen) { Write("selected"); }>Kuchnia</option>
                                <option value="1" @if (Model?.ProductType == ACSystem.Core.TaskType.Construction) { Write("selected"); }>Budowlanka</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" class="minimal" name="ForAllProjects" value="True" @if (Model != null && Model.ForAllProjects) { Write("checked"); } />
                                Dla wszystkich projektów
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" class="minimal" name="NoExtra" value="True" @if (Model != null && Model.NoExtra) { Write("checked"); } />
                                Bez dodatku
                            </label>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.DescriptionPL, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.DescriptionPL, new { @class = "form-control", placeholder = "Wpisz opis po polsku" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.DescriptionEN, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.DescriptionEN, new { @class = "form-control", placeholder = "Wpisz opis po angielsku" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.DescriptionSE, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.DescriptionSE, new { @class = "form-control", placeholder = "Wpisz opis po szwedzku" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Price, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Price, new { @class = "form-control", placeholder = "Podaj cenę" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Jm, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Jm, new { @class = "form-control", placeholder = "Podaj jednostkę miary" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.JmEng, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.JmEng, new { @class = "form-control", placeholder = "Podaj jednostkę miary (EN)" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.JmSwe, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.JmSwe, new { @class = "form-control", placeholder = "Podaj jednostkę miary (SE)" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ExpectedTime, new { @class = "control-label" })
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.ExpectedTime, new { @class = "form-control", placeholder = "Podaj planowany czas wykonania" })
                                <span class="input-group-addon">h</span>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.TimePercent, new { @class = "control-label" })
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.TimePercent, new { @class = "form-control", placeholder = "Podaj procent czasu" })
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Procenty</h3>
                    </div>
                    <div class="box-body">
                        <div class="col-xs-4 form-group">
                            @Html.LabelFor(m => m.Type1, new { @class = "control-label" })<small class="pt1 pull-right">@Math.Ceiling((Model.Price * ((Model.Type1 ?? 0) / 100))) SEK</small>
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Type1, new { @class = "form-control percent-change", placeholder = "Stawka 1" })
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="col-xs-4 form-group">
                            @Html.LabelFor(m => m.Type2, new { @class = "control-label" })<small class="pt2 pull-right">@Math.Ceiling((Model.Price * ((Model.Type2 ?? 0) / 100))) SEK</small>
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Type2, new { @class = "form-control percent-change", placeholder = "Stawka 2" })
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="col-xs-4 form-group">
                            @Html.LabelFor(m => m.Type3, new { @class = "control-label" })<small class="pt3 pull-right">@Math.Ceiling((Model.Price * ((Model.Type3 ?? 0) / 100))) SEK</small>
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Type3, new { @class = "form-control percent-change", placeholder = "Stawka 3" })
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="col-xs-4 form-group">
                            @Html.LabelFor(m => m.Type4, new { @class = "control-label" })<small class="pt4 pull-right">@Math.Ceiling((Model.Price * ((Model.Type4 ?? 0) / 100))) SEK</small>
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Type4, new { @class = "form-control percent-change", placeholder = "Stawka 4" })
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="col-xs-4 form-group">
                            @Html.LabelFor(m => m.Type5, new { @class = "control-label" })<small class="pt5 pull-right">@Math.Ceiling((Model.Price * ((Model.Type5 ?? 0) / 100))) SEK</small>
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Type5, new { @class = "form-control percent-change", placeholder = "Stawka 5" })
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                        <div class="col-xs-4 form-group">
                            @Html.LabelFor(m => m.Type6, new { @class = "control-label" })<small class="pt6 pull-right">@Math.Ceiling((Model.Price * ((Model.Type6 ?? 0) / 100))) SEK</small>
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Type6, new { @class = "form-control percent-change", placeholder = "Stawka 6" })
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Pytania</h3>
                        <div class="box-tools pull-right">
                            <a class="btn btn-primary btn-sm btn-flat" href="/Question/QuestionsForProduct/@Model.Id"><i class="fa fa-cogs"></i></a>
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-pagination">
                            <thead>
                                <tr>
                                    <th>Pytanie</th>
                                    <th>Tłumaczenie</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var q in Model.Questions)
                                {
                                    <tr>
                                        <td>@q.Question.QuestionPol</td>
                                        <td>@q.Question.QuestionTranslate</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Przypisane projekty</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-md-5">
                                <select class="form-control select2" id="ProjectID" data-placeholder="Wybierz projekty" style="width: 100%;">
                                    @if (projects != null && projects.Count > 0)
                                    {
                                        foreach (var p in projects)
                                        {
                                            if (Model == null || Model.ConnectedProjects.Contains(p.ID) == false)
                                            {
                                                <option value="@p.ID">@p.ProjectNumber</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <div class="input-group">
                                    <input type="number" class="form-control" id="ProductPrice" min="0" placeholder="Cena" value="@Math.Ceiling(Model.Price)" />
                                    <span class="input-group-addon">
                                        kr
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button type="button" class="btn btn-primary btn-sm btn-flat pull-left" id="connect-product" data-product-id="@Model.Id" style="margin-bottom: 20px;">DODAJ</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label class="control-label">Stawka #1</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="PercentType1" min="0" value="@((Model.Type1.HasValue) ? Math.Ceiling(Model.Type1.Value) : 0)" />
                                    <span class="input-group-addon">
                                        %
                                    </span>
                                </div>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Stawka #2</label>
                                <div class="input-group">
                                    <input type="number" class="form-control" id="PercentType2" min="0" value="@((Model.Type2.HasValue) ? Math.Ceiling(Model.Type2.Value) : 0)" />
                                    <span class="input-group-addon">
                                        %
                                    </span>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-pagination products-table">
                            <thead>
                            <tr>
                                <th>Projekt</th>
                                <th>Cena</th>
                                <th>P1</th>
                                <th>P2</th>
                                <th width="20px"></th>
                            </tr>
                            </thead>
                            <tbody>
                            @{
                                foreach (var o in Model.Product_Prodject)
                                {

                                    <tr class="connect-@o.ID">
                                        <td><a href="/Projects/Details/@o.ProjectID">@o.ProjectNumber</a></td>
                                        <td id="connect-price-@o.ID" data-price="@o.Price">@o.Price kr</td>
                                        <td id="connect-p1-@o.ID" data-p="@o.PercentType1">@((o.PercentType1.HasValue && o.PercentType1.Value > 0) ? o.PercentType1 + "%" : "")</td>
                                        <td id="connect-p2-@o.ID" data-p="@o.PercentType2">@((o.PercentType2.HasValue && o.PercentType2.Value > 0) ? o.PercentType2 + "%" : "")</td>
                                        <td>
                                            <div class="crud-container">
                                                <span data-toggle="tooltip" data-placement="bottom" title="Edytuj cenę" data-connect-id="@o.ID" class="crud crud-edit edit-connect-product"><i class="fa fa-pencil"></i></span>
                                                <span data-toggle="tooltip" data-placement="bottom" title="Usuń" data-connect-id="@o.ID" class="crud crud-delete delete-connect-product"><i class="glyphicon glyphicon-remove"></i></span>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Grupa produktów</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group col-md-12">
                            <select class="form-control select2" id="SubProductID" data-placeholder="Wybierz produkty" style="width: 100%;">
                                @if (products != null && products.Count > 0)
                                {
                                    foreach (var p in products)
                                    {
                                        if (Model == null || Model.Product_Group.Any(q => q.ProductSubID == p.ID) == false)
                                        {
                                            <option value="@p.ID">@p.Name</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group col-md-5">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    Ilość
                                </span>
                                <input type="number" class="form-control" id="ProductCount" min="0" placeholder="Ilość" value="1" />
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">Zadanie</span>
                                <select class="form-control select2" id="CreateTask">
                                    <option value="1" selected>TAK</option>
                                    <option value="0">NIE</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-primary btn-sm btn-flat pull-left" id="group-product" data-product-id="@Model.Id" style="margin-bottom: 20px;">DODAJ</button>
                        </div>
                        <table class="table table-bordered table-pagination group-table">
                            <thead>
                                <tr>
                                    <th>Produkt</th>
                                    <th>Ilość</th>
                                    <th>Zadanie</th>
                                    <th width="20px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var o in Model.Product_Group)
                                    {

                                        <tr class="group-@o.Product_GroupID">
                                            <td><a href="/Products/Details/@o.ProductSubID">@o.ProductSub.Name</a></td>
                                            <td id="group-quantity-@o.Product_GroupID" data-quantity="@o.Quantity">@o.Quantity @o.ProductSub.Jm</td>
                                            <td id="group-task-@o.Product_GroupID" data-task="@o.CreateTask">
                                                @((o.CreateTask) ? "TAK" : "NIE")
                                            </td>
                                            <td>
                                                <div class="crud-container">
                                                    <span data-toggle="tooltip" data-placement="bottom" title="Edytuj" data-group-id="@o.Product_GroupID" class="crud crud-edit edit-group-product"><i class="fa fa-pencil"></i></span>
                                                    <span data-toggle="tooltip" data-placement="bottom" title="Usuń" data-group-id="@o.Product_GroupID" class="crud crud-delete delete-group-product"><i class="glyphicon glyphicon-remove"></i></span>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</section>

<div id="editprice-modal" class="cal-modal cal-modal-form cal-modal-top">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">EDYCJA CENY</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="ToEditConnectID" />
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Cena</label>
                        <div class="input-group">
                            <input type="text" id="ToEditPrice" class="form-control" />
                            <div class="input-group-addon">
                                kr
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Stawka #1</label>
                        <div class="input-group">
                            <input type="text" id="ToEditPercentType1" class="form-control" />
                            <div class="input-group-addon">
                                %
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Stawka #2</label>
                        <div class="input-group">
                            <input type="text" id="ToEditPercentType2" class="form-control" />
                            <div class="input-group-addon">
                                %
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary btn-flat btn-block save-connect-product-price">ZAPISZ</button>
            </div>
        </div>
    </div>
</div>

<div id="editgroup-modal" class="cal-modal cal-modal-form cal-modal-top static-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">EDYCJA</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <input type="hidden" id="ToEditGroupID" />
                    <div class="col-md-4">
                        <input type="text" id="ToEditQuantity" class="form-control" />
                    </div>
                    <div class="col-md-5">
                        <label>
                            Czy tworzyć zadanie?
                            <input type="checkbox" id="ToEditTask" value="True" class="ml-2" />
                        </label>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-primary btn-flat save-group-product">ZAPISZ</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>