﻿@{
    ViewBag.Title = "Zarządzaj";
    ViewBag.Description = "Lista narzędzi ACSystem";
    ViewBag.Active = "Products";
    ViewBag.SubActive = "List";
}

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/square/blue.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/iCheck/icheck.min.js")
    @Scripts.Render("~/Scripts/Site/products.js")
}

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            @*<div class="box-tools pull-right">
                <a href="/Products/Create" class="btn btn-sm btn-primary pull-right" style="margin-left: 15px;">DODAJ</a>
                <label style="margin-left: 25px;">
                    <input type="checkbox" class="minimal status-filter is-checked" id="fltr-chbx-1" value="1">
                    Sprawdzone
                </label>
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="search" id="search-table-input" class="form-control pull-right" placeholder="Szukaj">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default" id="search-table-btn"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>*@
        </div>
        <div class="box-body table-responsive no-padding">
            <div class="col-md-12" id="filtr-container">
                <button type="button" id="synchronize-products" class="btn btn-sm btn-flat btn-primary pull-right" style="margin-left: 15px;">SYNCHRONIZUJ</button>
                <a href="/Products/Create" class="btn btn-sm btn-flat btn-primary pull-right" style="margin-left: 15px;">DODAJ</a>
                <div class="input-group input-group-sm pull-right" style="width: 150px;">
                    <input type="text" name="search" id="search-table-input" class="form-control pull-right" placeholder="Szukaj">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default" id="search-table-btn"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="input-group input-group-sm pull-right checkbox-filter">
                    <label style="margin-left: 25px;">
                        <input type="checkbox" class="minimal status-filter is-checked value-0" id="fltr-chbx-1" value="0">
                        Pokaż nieaktywne
                    </label>
                </div>
            </div>
            <table id="products-list" class="table table-bordered table-sortable" data-page="1" data-dest="asc" data-order-by="name" data-filter="">
                <thead>
                    <tr>
                        <th data-id="name" data-dest="asc" class="clickable">Nazwa</th>
                        <th>Rodzaj</th>
                        <th>Opis</th>
                        <th data-id="price" data-dest="desc" class="clickable">Cena</th>
                        <th>Jm</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right"></ul>
        </div>
    </div>
</section>