﻿@model ACSystem.Core.Models.Apartments
@using ACSystem.Core
@using ACSystem.Core.Extensions
@using ACSystem.Core.Models

@{
    ViewBag.Title = "Apartment";
    var fitter = (Fitters)ViewBag.Fitter;

}

@section Scripts {
<script>
    $(".report-services").click(function () {
        var ids = [];

        $(".taskPatches:checked").each(function () {
            ids.push($(this).val());
        });

        if (ids.length > 0) {
            $.post("/Apartment/RaportServices", { IDs: ids }, function () { location.reload(); });
        }
        else {
            toastr.error("Aby zaraportować serwisy, zaznacz błędy");
        }
    });
</script>
}

<div class="box box-primary">
    <div class="box-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Nr. projektu</th>
                    <td>@Model.Project.ProjectNumber</td>
                </tr>
                <tr>
                    <th>Adres</th>
                    <td>
                        <a target="_blank" href="https://www.google.com/maps/dir/?api=1&origin=VALLDA, Szwecja&destination=@Model.Project.Street, @Model.Project.City">@Model.Project.Street, @Model.Project.City <i class="fa fa-eye"></i></a>
                    </td>
                </tr>
                <tr>
                    <th>Klatka</th>
                    <td>@Model.Cage</td>
                </tr>
                <tr>
                    <th>Nr. apartamentu</th>
                    <td>@Model.Letter @Model.NumberOfApartment</td>
                </tr>
                <tr>
                    <th>Piętro</th>
                    <td>@Model.Floor</td>
                </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-2 col-md-offset-4" style="margin-top: 20px;">
                <a class="btn btn-like-bg btn-block btn-flat" href="/Tools/AddPlaceError?ProjectID=@Model.ProjectId&ApartmentID=@Model.Id&place=apartment">Dodaj błąd</a>
            </div>
            <div class="col-md-2" style="margin-top: 20px;">
                <a class="btn btn-like-bg btn-block btn-flat" href="/Projects/Project?id=@Model.ProjectId">Wróc do projektu</a>
            </div>
        </div>
        @if (Model.Tasks.Any(q => q.TaskPatches.Any(x => x.Done == false)))
        {
            <div class="row">
                <div class="col-md-2 col-md-offset-5" style="margin-top: 20px;">
                    <button class="btn btn-like-bg btn-block btn-flat report-services">Zaraportuj serwisy</button>
                </div>
            </div>
        }

    </div>
</div>

<div class="box box-primary">
    <div class="box-header">
        <h4 class="box-title">
            ZADANIA
        </h4>
    </div>
    <div class="box-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Produkt</th>
                    <th>Ilość</th>
                    <th>Stawka</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var tasks = Model.Tasks.Where(
                        q =>
                        (
                            (q.Status == TaskStatus.Free || q.Status == TaskStatus.Stoped || q.Status == TaskStatus.Stoped || q.Status == TaskStatus.FinishedWithFaults || (q.Status == TaskStatus.PlaceNotReady && q.Task_Fitter.FirstOrDefault(x => x.Status == TaskStatus.PlaceNotReady) != null && q.Task_Fitter.FirstOrDefault(x => x.Status == TaskStatus.PlaceNotReady).Timestamp.ToString("yyyy-MM-dd") != DateTime.Now.ToString("yyyy-MM-dd")))
                        ) &&
                        q.ProductCount > 0 &&
                        (
                            fitter.User.CanSeeAll ||
                            (
                                q.Access_User_Task.Count(t => t.UserID.Equals(fitter.Id)) > 0 ||
                                q.Apartment.Access_User_Apartment.Count(a => a.UserID.Equals(fitter.Id)) > 0 ||
                                q.Apartment.Project.Access_User_Project.Count(p => p.UserID.Equals(fitter.Id)) > 0
                            )
                        ));

                    foreach (var task in tasks)
                    {
                        if (fitter.User.UserType == UserType.Zewnetrzny && task.Task_AccessGrant.Count(q => q.FitterID == fitter.Id) == 0)
                        {
                            continue;
                        }

                        if ((((fitter.User.FirstDoService ?? false) || (Model.Project.FirstDoService ?? false)) && Model.Tasks.Any(q => (q.Production != TaskProduction.Developer || q.Status == TaskStatus.FinishedWithFaults) && q.Status != TaskStatus.Finished)) && (task.Production == TaskProduction.Developer && task.Status != TaskStatus.FinishedWithFaults))
                        {
                            continue;
                        }

                        decimal procent = 0;

                        switch (fitter.PercentType)
                        {
                            case 1:
                                procent = task.PercentType1;
                                break;
                            case 2:
                                procent = task.PercentType2;
                                break;
                            case 3:
                                procent = task.PercentType3;
                                break;
                            case 4:
                                procent = task.PercentType4;
                                break;
                            case 5:
                                procent = task.PercentType5;
                                break;
                            case 6:
                                procent = task.PercentType6;
                                break;
                            default:
                                procent = 0;
                                break;
                        }

                        procent = procent / 100;

                        var stawka = Math.Ceiling(task.ProductPrice * procent);

                        <tr>
                            <td><a href="/Projects/Task/@task.Id">@task.GetTaskName(task.Apartment.ProjectId) @task.TaskSufix</a></td>
                            <td>@{ Write(task.ProductCount - task.Task_Fitter.Where(q => q.IsActive).Sum(q => q.WorkDone)); } @task.Product.Jm</td>
                            <td>@stawka kr</td>
                            <td>
                                @switch (task.Status)
                                {
                                    case TaskStatus.Free:
                                        <span class='label label-default'>Dostępne</span>
                                        break;
                                    case TaskStatus.UnderWork:
                                        <span class='label label-warning'>W trakcie</span>
                                        break;
                                    case TaskStatus.Stoped:
                                        <span class='label label-info'>Przerwane</span>
                                        break;
                                    case TaskStatus.Finished:
                                        <span class='label label-success'>Zakończone</span>
                                        break;
                                    case TaskStatus.FinishedWithFaults:
                                        <span class='label label-danger'>Zakończone z błędami</span>
                                        break;
                                    case TaskStatus.FinishedWithFaultsCorrected:
                                        <span class='label label-success'>Zakończone z błędami</span>
                                        break;
                                    case TaskStatus.PlaceNotReady:
                                        <span class="label label-primary">Miejsce nieprzygotowane</span>
                                        break;
                                    case TaskStatus.Planned:
                                        <span class="label label-primary">Planowane</span>
                                        break;
                                    case TaskStatus.NieNasze:
                                        <span class="label label-primary">Nie nasze</span>
                                        break;
                                    case TaskStatus.DoWyjasnienia:
                                        <span class="label label-primary">Do wyjaśnienia</span>
                                        break;
                                }
                            </td>
                        </tr>

                        if (task.TaskPatches.Any()) {
                            foreach (var p in task.TaskPatches)
                            {
                                <tr>
                                    <td colspan="3" class="text-right">
                                        KOD:@p.Code | @p.ItemTitle (@p.ItemDescription) @((!string.IsNullOrEmpty(p.Room)) ? "(" + p.Room + ")" : "")
                                    </td>
                                    <td>
                                        @if (!p.Done)
                                        {
                                            <input type="checkbox" class="minimal taskPatches" name="taskPatches[]" value="@p.ID" />
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>




