﻿@model ACSystem.Core.Models.Invoice

    @{
        var apartmentsList = Model.Elements.GroupBy(q => q.ApartmentNumber).ToList();
    }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/css")
    <style>
        dt {
                float: left;
                width: 160px;
                overflow: hidden;
                clear: left;
                text-align: right;
                text-overflow: ellipsis;
                white-space: normal;
        }

        dd {
            margin-left: 180px;
        }
    </style>
    <title>@Model.InvoiceNo</title>
</head>
<body onload="window.print()" style="width: 804px; color: black !important;">
    <embed width="100%" height="100%" name="plugin" id="plugin" src="http://localhost:64228/dist/Invoice/@(Model.ID).pdf" type="application/pdf" internalinstanceid="17">
    @*<div style="width: 402px; float: left; padding-left: 15px;">
        <h2 style="font-weight: bold;">AC SERVICE s.c</h2>
    </div>
    <div style="width: 402px; float: left;">
        <h3 style="font-weight: bold; text-align: right; margin-top: 35px;">INVOICE</h3>
    </div>
    <div style="margin-top: 20px; width: 804px; float: left; padding-left: 15px;">
        <p style="margin-bottom: 0;">L. Chotkowski &amp; R. Astinger</p>
        <p style="margin-bottom: 0;">76004 Sianów</p>
        <p style="margin-bottom: 0;">Poland</p>
        <p style="margin-bottom: 0;">info@acbygg.com</p>
    </div>
    <div style="border: 5px solid #ccc; margin-top: 20px; font-size: 11px; margin-left: 15px; width: 335px; float: left; padding: 5px;">
        <div style="width: 100%; float: left; margin-top: 10px;">
            <span style="text-align: left; font-weight: bold; display: block; float:left;">Invoice date</span>
            <span style="text-align: right; display: block; float: right;">@Model.InvoiceDate.ToString("yyyy-MM-dd")</span>
        </div>
        <div style="width: 100%; float: left;">
            <span style="text-align: left; font-weight: bold; display: block; float:left;">Invoice No</span>
            <span style="text-align: right; display: block; float: right;">@Model.InvoiceNo</span>
        </div>
        <div style="width: 100%; float: left;">
            <span style="text-align: left; font-weight: bold; display: block; float:left;">Customer No</span>
            <span style="text-align: right; display: block; float: right;">@Model.CustomerID</span>
        </div>
        <div style="width: 100%; float: left; margin-top: 10px;">
            <span style="text-align: left; font-weight: bold; display: block; float:left;">Customer VAT-No</span>
            <span style="text-align: right; display: block; float: right;">@Model.Customer.VATNumber</span>
        </div>
        <div style="width: 100%; float: left;">
            <span style="text-align: left; font-weight: bold; display: block; float:left;">Date due(@((Model.PaymentTerm - Model.InvoiceDate).TotalDays) days)</span>
            <span style="text-align: right; display: block; float: right;">@Model.PaymentTerm.ToString("yyyy-MM-dd")</span>
        </div>
        <div style="width: 100%; float: left;">
            <span style="text-align: left; font-weight: bold; display: block; float:left;">IBAN</span>
            <span style="text-align: right; display: block; float: right;">@Model.BankAccount.AccountNumber</span>
        </div>
        <div style="width: 100%; float: left;">
            <span style="text-align: left; font-weight: bold; display: block; float:left;"><h4>TO PAY SEK</h4></span>
            <span style="text-align: right; display: block; float: right;">
                @if (Model.Customer.VAT > 0 && Model.Customer.ReverseCharge == false)
                {
                    <h4>@Math.Round((Model.Amount + (Model.Amount * ((decimal)Model.Customer.VAT / 100))), 2)</h4>
                }
                else
                {
                    <h4>@Math.Round((Model.Amount), 2)</h4>
                }
            </span>
        </div>
    </div>
    <div style="margin-top: 20px; font-size: 11px; width: 402px; float: left;">
        <dl class="dl-horizontal">
            <dt>Invoice address</dt>
            <dd>@Model.Customer.Name <br /> @Model.Customer.Street <br /> @Model.Customer.City <br /> @Model.Customer.VATNumber</dd>            
        </dl>
    </div>
    <div style="border: 5px solid #ccc; font-size: 11px; margin-left: 15px; margin-top: 5px; width: 804px; float: left; padding: 5px;">
        <div style="width: 392px; float: left;">
            <dl class="dl-horizontal" style="margin-bottom: 0px;">
                <dt style="text-align: left;">Your reference</dt>
                <dd style="text-transform: uppercase;">@(Model.Project.Project_ProjectManager.FirstOrDefault()?.ProjectManager.Name)</dd>
                <dt style="text-align: left;">Your order No</dt>
                <dd style="text-transform: uppercase;">@Model.Project.ProjectNumber</dd>
                <dt style="text-align: left;">Terms of delivery</dt>
                <dd style="text-transform: uppercase;"></dd>
                <dt style="text-align: left;">Transported by</dt>
                <dd style="text-transform: uppercase;"></dd>
            </dl>
        </div>
        <div style="width: 392px; float: left;">
            <dl class="dl-horizontal" style="margin-bottom: 0px;">
                <dt style="text-align: left;">Our reference</dt>
                <dd style="text-transform: uppercase;">Richard Astinger</dd>
                <dt style="text-align: left;">Penalty interest</dt>
                <dd style="text-transform: uppercase;">@Model.PenaltyInterest%</dd>
                <dt style="text-align: left;">Delivery date</dt>
                <dd style="text-transform: uppercase;">@Model.DeliveryDate.ToString("yyyy-MM-dd")</dd>
            </dl>
        </div>
    </div>
    <div style="border: 5px solid #ccc; font-size: 11px; margin-left: 15px; margin-top: 5px; width: 804px; float: left; padding: 5px;">
        <dl class="dl-horizontal" style="margin-bottom: 0px;">
            <dt style="text-align: left;">Invoice period</dt>
            <dd style="text-transform: uppercase;">@Model.InvoiceDateFrom.ToString("yyyy-MM-dd") - @Model.InvoiceDateTo.ToString("yyyy-MM-dd")</dd>
            <dt style="text-align: left;">Order number</dt>
            <dd style="text-transform: uppercase;">@Model.Project.ProjectNumber</dd>
            <dt style="text-align: left;">Order address</dt>
            <dd style="text-transform: uppercase;">@Model.Project.Street, @Model.Project.City</dd>
        </dl>
    </div>
    <div style="width: 804px; margin-top: 20px; float: left; margin-left: 15px;">
        <table class="table">
            <thead>
                <tr>
                    <th>Denomination</th>
                    <th>Delivery date</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Unit price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var apartment in apartmentsList)
                {
                    var tasks = Model.Elements.Where(q => q.ApartmentNumber == apartment.Key).ToList();

                    <tr>
                        <th colspan="6">LGH @apartment.Key</th>
                    </tr>

                    foreach (var task in tasks)
                    {
                        <tr>
                            <td>@task.ProductName</td>
                            <td></td>
                            <td>@task.Quantity</td>
                            <td>@task.Unit</td>
                            <td>@task.UnitPrice</td>
                            <td>@Math.Round((task.UnitPrice * task.Quantity), 2)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div style="margin-top: 30px; width: 402px; float: left; margin-left: 15px;">
        <p style="font-size: 11px; text-align: left;">ACCOUNT NUMBER @Model.BankAccount.Currency @Model.BankAccount.AccountNumber</p>
    </div>
    <div style="border-bottom: 1px solid #333; margin-top: 30px; width: 268px; margin-left: 119px; float: left;">
        <p style="font-size: 11px; text-align: right;">Net: @Model.Amount</p>
        @if (Model.Customer.VAT > 0 && Model.Customer.ReverseCharge == false)
        {
            var vat = Model.Customer.VAT;
            var vatPercentage = (decimal)Model.Customer.VAT / 100;

            <p style="font-size: 11px; text-align: right;">VAT @Model.Customer.VAT%: @Math.Round((Model.Amount * vatPercentage), 2)</p>
        }
    </div>
    <div style="width: 268px; margin-left: 536px; float: left;">
        <div style="width: 100%; float: left;">
            <span style="text-align: left; font-weight: bold; display: block; float:left;"><h4>TO PAY</h4></span>
            <span style="text-align: right; display: block; float: right;">
@if (Model.Customer.VAT > 0 && Model.Customer.ReverseCharge == false)
{
    <h4>@Math.Round((Model.Amount + (Model.Amount * ((decimal)Model.Customer.VAT / 100))), 2)</h4>
}
else
{
    <h4>@Math.Round((Model.Amount), 2)</h4>
}

            </span>
        </div>
    </div>
    <div style="border-top: 1px solid #333; width: 804px; float: left; margin-left: 15px;">
        <div style="font-size: 11px; margin-top: 5px; padding-left: 0; width: 268px; float: left;">
            Swift/BIC: PKOPPLPW <br />
            IBAN @Model.BankAccount.AccountNumber <br />
            VAT-no: PL4990578638
        </div>
        <div style="font-size: 11px; margin-top: 5px; padding-left: 0; width: 268px; float: left;">
            @if (Model.Customer.ReverseCharge == true)
            {
                <span>
                    Odwrotne obiążenie -reverese charge <br />
                    Omvänd Skatteskyldighet
                </span>
            }
        </div>
    </div>*@
</body>
</html>
