﻿@model ACSystem.Core.Models.Tasks
@using ACSystem.Core
@using ACSystem.Core.Extensions
@using ACSystem.Core.Models

@{
    var print = (ViewBag.Print) ? "onload=window.print()" : "";
    var lang = Model.Apartment.Project.Customer.DocumentsLeanguage;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    @*@Styles.Render("~/Content/css")*@
    <style>
        tr {
            border: 1px solid black;
        }

        th {
            text-align: center;
            border: 1px solid black;
            padding: 5px;
        }

        /*th:first-child {
            border: none;
        }*/

        td {
            padding: 5px;
            border: 1px solid black;
        }

            /*td:first-child {
            border: none;
        }*/

            td:nth-child(3) {
                text-align: center;
            }

        .bold {
            font-weight: bold;
        }
    </style>
    <title>@Model.GetTaskName(Model.Apartment.ProjectId) @Model.TaskSufix @Model.Apartment.Project.ProjectNumber.@Model.Apartment.NumberOfApartment</title>
</head>
<body @print style="width: 804px; color: black !important;">
    <p style="text-align: right; margin-right: 50px;">@if (Model.ClosedDate.HasValue) { Write(Model.ClosedDate.Value.ToString("yyyy-MM-dd")); }</p>

    @*<div style="width: 100%; text-align: center;">

        <h2>Montagegodkännande</h2>

                <h3>
                    Leverans och installation av kök
                    <br />
                    (Skåp, luckor, bänksklvor och sparksocklar)
                </h3>
            </div>*@
    <div style="width: 509px; border: 1px solid black; margin-top: 20px; float: left;">
        <div style="width: 500px; border-bottom: 1px solid black; padding: 5px; float: left;">
            @if (lang == Leanguage.Polish) {
                <b>Nazwa i numer projektu: </b> @Model.Apartment.Project.ProjectNumber
            } else if (lang == Leanguage.Swedish) {
                <b>Projektnamn och projektnummer: </b> @Model.Apartment.Project.ProjectNumber
            } else {
                <b>Project name and project number: </b> @Model.Apartment.Project.ProjectNumber
            }
        </div>
        <div style="width: 500px; padding: 5px; float: left; border-bottom: 1px solid black;">
            @if (lang == Leanguage.Polish) {
                <b>Adres: </b> <span>@Model.Apartment.Project.Street, @Model.Apartment.Project.City</span>
            } else if (lang == Leanguage.Swedish) {
                <b>Adress: </b> <span>@Model.Apartment.Project.Street, @Model.Apartment.Project.City</span>
            } else {
                <b>Address: </b> <span>@Model.Apartment.Project.Street, @Model.Apartment.Project.City</span>
            }

        </div>
        <div style="width: 500px; padding: 5px; float: left;">
            <b>LGH: </b> @Model.Apartment.NumberOfApartment
        </div>
        <div style="width: 500px; padding: 5px; float: left;">
            @if (lang == Leanguage.Polish) {
                <b>Produkt: </b> <span>@Model.Product.DescriptionPL</span>
            } else if (lang == Leanguage.Swedish) {
                <b>Produkt: </b> <span>@Model.Product.DescriptionSE</span>
            } else {
                <b>Product: </b> <span>@Model.Product.DescriptionEN</span>
            }
        </div>
    </div>
    <div style="width: 509px; border: 1px solid black; margin-top: 20px; float: left;">
        <table style="width: 100%;">
            <thead>
                <tr>
                    <th style="width: 10%;"></th>
                    <th></th>
                    @if (lang == Leanguage.Polish) {
                        <th style="font-weight: bold; width: 20%;">Zatwierdzone przez montera</th>
                        if (Model.Production == TaskProduction.Developer) {
                            <th>Błędy</th>
                        }
                    } else if (lang == Leanguage.Swedish) {
                        <th style="font-weight: bold; width: 20%;">Godkännade av montör</th>
                        if (Model.Production == TaskProduction.Developer) {
                            <th>Fel</th>
                        }
                    } else {
                        <th style="font-weight: bold; width: 20%;">Approve by fitter</th>
                        if (Model.Production == TaskProduction.Developer) {
                            <th>Errors</th>
                        }
                    }

                </tr>
            </thead>
            @if (Model.Production == TaskProduction.Developer && Model.Task_Questions != null) {
                <tbody>
                    @Html.RaportQuestions(Model.Task_Questions, Model.Apartment.Project.Customer.DocumentsLeanguage)
                </tbody>
            } else if (Model.Production == TaskProduction.Developer && Model.Task_Question.Any()) {
                <tbody>
                    @{
                        var qLp = 1;
                        foreach (Task_Question q in Model.Task_Question) {
                            if (q.Answer != null && q.Answer.IsNotApplicable == true) {
                                continue;
                            }

                            <tr>
                                <td>@qLp</td>
                                <td>@q.Question.QuestionTranslate</td>
                                <td>@((q.Answer != null) ? q.Answer.AnswerTranslate : "-")</td>
                                <td>@((q.Answer != null && q.Answer.ExtraFieldTT) ? q.Translation : q.AdditionalInformation)</td>
                            </tr>

                            qLp++;
                        }
                    }
                </tbody>
            } else {
                <tbody>
                    @Html.RaportQuestions(Model.TaskPatches.ToList(), Model.Apartment.Project.Customer.DocumentsLeanguage)
                </tbody>
            }
            <tfoot>
                <tr style="font-weight: bold;">
                    @{
                        var colspan = 3;
                        if (Model.Production != TaskProduction.Developer) {
                            colspan = 2;
                        }
                    }
                    <td colspan="@colspan" style="text-align: right;">
                        @if (lang == Leanguage.Polish) {
                            Write("Zamontowane przez");
                        } else if (lang == Leanguage.Swedish) {
                            Write("Monterad av");
                        } else {
                            Write("Fitted by");
                        }
                    </td>
                    <td>
                        @{
                            var monter = Model.Task_Fitter.Where(q => q.IsActive).OrderByDescending(q => q.Timestamp).FirstOrDefault();

                            if (monter != null) {
                                Write(monter.Fitter.User.FullName);
                            }
                        }
                    </td>
                </tr>
                <tr style="font-weight: bold;">
                    <td colspan="@colspan" style="text-align: right;">
                        @if (lang == Leanguage.Polish) {
                            Write("Data i godzina");
                        } else if (lang == Leanguage.Swedish) {
                            Write("Datum och tid");
                        } else {
                            Write("Date and time");
                        }
                    </td>
                    <td>
                        @(Model.ClosedDate?.ToString("yyyy-MM-dd HH:mm"))
                    </td>
                </tr>

            </tfoot>
        </table>
        <div style="text-align: right">
            <img src="http://@Request.Url.Authority/Monter/dist/Podpisy/@monter.Fitter.User.Podpis" />
        </div>
    </div>
    @if (ViewBag.Print) {
        <div style="width: 509px; margin-left: 50px; margin-top: 20px; float: left;">
            @foreach (var activity in Model.Task_Fitter) {
                if (!activity.IsActive) {
                    continue;
                }

                foreach (var photo in activity.Photos.Where(q => q.Blocked == false)) {
                    if (photo.Blocked) {
                        continue;
                    }

                    <div style="width: 100%; margin-top: 20px;">
                        <img src="/Monter/dist/Task_Images/@photo.Photo" style="width: 100%;" alt="@photo.Desc" />
                    </div>
                }
            }
        </div>

        if (Model.Task_Questions != null) {
            <div style="width: 509px; margin-left: 50px; margin-top: 20px; float: left;">
                @foreach (var error in Model.Task_Questions.TaskQuestionPhoto.Where(q => q.Blocked == false)) {
                    <div style="width: 100%; margin-top: 20px;">
                        <img src="/Monter/dist/Question_Images/@error.Photo" style="width: 100%;" alt="@error.TranslatedDescription" />
                        @if (string.IsNullOrEmpty(error.TranslatedDescription)) {
                            <p>@error.Description</p>
                        } else {
                            <p>@error.TranslatedDescription</p>
                        }
                    </div>
                }
            </div>
        }

        if (Model.Task_Question != null && Model.Task_Question.Any(q => !string.IsNullOrEmpty(q.Photo))) {
            <div style="width: 509px; margin-left: 50px; margin-top: 20px; float: left;">
                @foreach (var error in Model.Task_Question.Where(q => !string.IsNullOrEmpty(q.Photo))) {
                    <div style="width: 100%; margin-top: 20px;">
                        <img src="/Monter/dist/Question_Images/@error.Photo" style="width: 100%;" alt="@error.Answer.AnswerTranslate" />
                        @if (string.IsNullOrEmpty(error.Answer.AnswerTranslate)) {
                            <p>@error.Answer.AnswerPol</p>
                        } else {
                            <p>@error.Answer.AnswerTranslate</p>
                        }
                    </div>
                }
            </div>
        }
    }
</body>
</html>
