﻿@using ACSystem.Core.Models

@model PlaceError

@section Scripts {
    <script>
        $("#error-img").change(function () {
            var formData = new FormData();
            var totalFiles = document.getElementById("error-img").files.length;
            var data = {};
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("error-img").files[i];
                formData.append("error-img", file);
            }

            $.ajax({
                type: "POST",
                url: "/Inventory/AJAX_AddInventoryFile",
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $("body").LoadingOverlay("show");
                },
                success: function (data) {
                    if (data.result === "true") {
                        var row = "<tr>";
                        row += "<td>" + data.FileName + '<input type="hidden" name="_photos[]" value="' + data.URL + '" /></td>';
                        row += '<td class="text-center"><button type="button" class="btn btn-xs btn-flat btn-danger delete-file" data-url="' + data.URL + '" data-id="' + data.ID + '"><i class="fa fa-trash"></i></button></td>'
                        row += "</tr>";

                        $("#files-table").append(row);

                        toastr.success("Pomyślnie dodano plik !");
                    }
                    else
                        toastr.error("Wystąpił błąd podczas wgrywania pliku");
                },
                error: function (error) {
                    toastr.error("Wystąpił błąd podczas wgrywania pliku");
                },
                complete: function () {
                    $("body").LoadingOverlay("hide", true);
                }
            });
        });

        $(document).on("click", ".delete-file", function () {
            var id = $(this).data("id");
            var url = $(this).data("url");
            var tr = $(this).closest("tr");

            var data = {
                ID: id,
                URL: url
            };

            var successFn = function (data) {
                if (data.success)
                    tr.remove();
                else
                    toastr.error("Wystąpił błąd podczas usuwania pliku !");
            }

            var errorFn = function () {
                toastr.error("Wystąpił błąd podczas usuwania pliku !");
            }

            GetAjaxWithFunctions("/Inventory/AJAX_DeleteFile", "POST", data, successFn, errorFn, tr);
        });
    </script>
}

@{
    var place = (string)ViewBag.Place;
    var header = "";
    var backURL = "";

    switch (place) {
        case "project":
            header = "PROJEKTU " + Model.Project.ProjectNumber;
            backURL = "/Projects/Project/" + Model.ProjectID;
            break;
        case "apartment":
            header = "LGH " + Model.Apartment.NumberOfApartment;
            backURL = "/Apartment/Details/" + Model.ApartmentID;
            break;
        case "task":
            header = "ZADANIA " + Model.Task.Name;
            backURL = "/Projects/Task/" + Model.TaskID;
            break;
    }
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">DODAJ BŁĄD DO @header</h3>
    </div>

    @using (Html.BeginForm("AddPlaceError", "Tools", FormMethod.Post, new { role = "form" }))
    {
        <div class="box-body">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ProjectID)
            @Html.HiddenFor(m => m.ApartmentID)
            @Html.HiddenFor(m => m.TaskID)
            @Html.HiddenFor(m => m.FitterID)
            @Html.HiddenFor(m => m.Date)
            @Html.Hidden("_place", place)

            <div class="row">
                <div class="col-md-12">
                    <label class="control-label">Opis błędu</label>
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-12">
                    <table id="files-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Zdjęcie</th>
                                <th width="30px" class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@if (Model != null)
                            {
                                foreach (var doc in Model.Inventory_Photo)
                                {
                                    <tr>
                                        <td>
                                            @doc.Name
                                            <input type="hidden" class="inventory-files" name="Files[]" value="@doc.Name;@doc.URL" />
                                        </td>
                                        <td class="text-center"><button type="button" class="btn btn-flat btn-xs btn-danger delete-file" data-url="@doc.URL" data-id="@doc.ID"><i class="fa fa-trash"></i></button></td>
                                    </tr>
                                }
                            }*@
                        </tbody>
                    </table>

                    <hr />

                    <h3>Dodaj nowy plik</h3>

                    <div class="form-group">
                        <input type="file" class="upload" id="error-img" name="check-img" accept="image/*" />
                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <a href="@backURL" class="btn btn-default pull-left">Anuluj</a>
            <button type="submit" class="btn btn-like-bg pull-right">Wyślij</button>
        </div>
    }
</div>