﻿@model List<ACSystem.Core.Models.Invoice>

<div class="tab-pane table-responsive no-padding" id="tab-invoice">
    <a href="/Office/InvoiceCreate?projectID=@ViewBag.ProjectID" class="btn btn-sm btn-primary pull-right">Dodaj</a>
    <table class="table table-bordered table-pagination">
        <thead>
        <tr>
            <th>Numer faktury</th>
            <th>Klient</th>
            <th>Kwota</th>
            <th>Data faktury</th>
            <th>Termin</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (var item in Model)
            {

                <tr>
                    <td><a href="/Office/DetailsInvoice/@item.ID">@item.InvoiceNo</a></td>
                    <td><a href="/Customers/Details/@item.CustomerID">@item.Customer.Name</a></td>
                    <td>@Math.Ceiling(item.Amount) kr</td>
                    <td>@item.InvoiceDate.ToString("yyyy-MM-dd")</td>
                    <td>@item.PaymentTerm.ToString("yyyy-MM-dd")</td>
                    <td>
                        @switch (item.Status)
                        {
                            case ACSystem.Core.InvoiceStatus.Gotowa:
                                <span class='label label-default'>Gotowa</span>
                                break;
                            case ACSystem.Core.InvoiceStatus.Wyslana:
                                <span class='label label-warning'>Wysłana</span>
                                break;
                            case ACSystem.Core.InvoiceStatus.Zaplacona:
                                <span class='label label-success'>Zapłacona</span>
                                break;
                        }
                    </td>
                </tr>
            }
        }
        </tbody>
        <tfoot>
            <tr>
                <th colspan="2"></th>
                <th>
                    @Math.Ceiling(Model.Sum(q => q.Amount)) kr
                </th>
                <th colspan="3"></th>
            </tr>
        </tfoot>
    </table>
</div>
