﻿@using ACSystem.Core
@model IEnumerable<ACSystem.Core.Models.ReportNag>

@{
    var taskDict = (Dictionary<int, int>) ViewBag.TaskDict;
}

<div class="tab-pane table-responsive no-padding" id="tab-group-reports" style="min-height: 200px;">
    <div class="input-group input-group-sm pull-right" style="width: 150px;">
        <input type="text" name="search" id="search-project-reports-grouped-table-input" class="form-control pull-right" placeholder="Szukaj">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default" id="search-project-reports-grouped-table-btn" data-project-id="@ViewBag.ProjectID"><i class="fa fa-search"></i></button>
        </div>
    </div>
    <div class="input-group-btn" style="margin-right: 10px;">
        <div>
            <button type="button" class="btn btn-sm btn-primary pull-right dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="margin-right: 10px;">OPERACJE</button>
            <ul class="dropdown-menu pull-right">
                <li><a style="cursor: pointer;" id="check-unsended">ZAZNACZ NIEWYSŁANE</a></li>
                <li><a style="cursor: pointer;" id="check-unprinted">ZAZNACZ NIEWYDRUKOWANE</a></li>
                <li><a style="cursor: pointer;" id="check-all">ZAZNACZ WSZYSTKIE</a></li>
                <li><a style="cursor: pointer;" id="uncheck-all">ODZNACZ WSZYSTKIE</a></li>
                <li><a style="cursor: pointer;" id="send-checked">WYŚLIJ ZAZNACZONE</a></li>
                <li><a style="cursor: pointer;" id="print-checked">DRUKUJ ZAZNACZONE</a></li>
            </ul>
        </div>
    </div>
    <table id="reports-grouped-table" class="table table-hover table-pagination">
        <thead>
        <tr>
            <th></th>
            <th>Numer</th>
            <th>LGH</th>
            <th>Rodzaj</th>
            <th>Data</th>
            <th>Status</th>
            <th>Zastępuje</th>
            <th>Wysłano</th>
            <th>Druk</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var r in Model.OrderByDescending(q => q.Date))
            {
                var reportNumber = $"LGH{r.Apartment.Letter}{r.Apartment.NumberOfApartment}/{r.Number}";
                var unsendedClass = (r.SendDate.HasValue) ? "" : "unsended-report";
                var unprintedClass = (r.Printed.HasValue && r.Printed.Value) ? "" : "unprintend-report";

                <tr>
                    <td>
                        <input type="checkbox" class="report-check report-check-@r.ID @unsendedClass @unprintedClass" value="@r.ID" />
                    </td>
                    <td>
                        @reportNumber
                    </td>
                    <td>
                        @r.Apartment.Letter@r.Apartment.NumberOfApartment
                    </td>
                    <td>
                        @switch (r.Type)
                        {
                            case TaskReportType.Dev_Kitchen:
                                <span>Kuchnie</span>
                                break;
                            case TaskReportType.Dev_Construction:
                                <span>Budowlanka</span>
                                break;
                            case TaskReportType.Service_All:
                                <span>Serwis</span>
                                break;
                        }
                    </td>
                    <td>
                        @r.Date.ToString("yyyy-MM-dd")
                    </td>
                    <td>
                        @switch (r.Status)
                        {
                            case ProjectStatus.NotStarted:
                                <span class="label label-default">Nie rozpoczęte</span>
                                break;
                            case ProjectStatus.UnderWork:
                                <span class="label label-warning">W trakcie</span>
                                break;
                            case ProjectStatus.Finished:
                                <span class="label label-success">Zakończone</span>
                                break;
                            case ProjectStatus.FinishedWithFaults:
                                <span class="label label-danger">Zakończone z błędami</span>
                                break;
                        }
                    </td>
                    <td>
                        @if (r.PrecursorReport != null)
                        {
                            var precursorReportNumber = $"LGH{r.PrecursorReport.Apartment.Letter}{r.PrecursorReport.Apartment.NumberOfApartment}/{r.PrecursorReport.Number}";

                            <span>
                                @precursorReportNumber
                            </span>
                        }
                    </td>
                    <td class="td-sended-@r.ID">
                        @(r.SendDate?.ToString("yyyy-MM-dd"))
                    </td>
                    <td class="td-printed-@r.ID">
                        @if (r.Printed.HasValue && r.Printed.Value)
                        {
                            Write("TAK");
                        }
                    </td>
                    <td>    
                        <div class="crud-container">
                            <span data-toggle="tooltip" data-placement="bottom" title="Szczegóły" data-report-id="@r.ID" class="crud crud-details details-grouped-raport"><i class="glyphicon glyphicon-eye-open"></i></span>
                            <span data-toggle="tooltip" data-placement="bottom" title="Drukuj" data-report-id="@r.ID" class="crud crud-print print-raport"  onclick="PrintURL('/Print/ApartmentRaportGrouped?ID=@r.ID&Print=true')"><i class="glyphicon glyphicon-print"></i></span>
                            <span data-toggle="tooltip" data-placement="bottom" title="Wyślij" data-report-id="@r.ID" class="crud crud-mail send-grouped-raport"><i class="glyphicon glyphicon-envelope"></i></span>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

<div id="modal-report" class="cal-modal cal-modal-form cal-modal-top">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">RAPORT</h4>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
</div>
