﻿@using ACSystem.Core.Models
@model ICollection<ProjectDocuments>

<div class="tab-pane table-responsive no-padding" id="tab-docs">
    <form action="/Projects/UploadProjectDocument" class="file-dropzone for-project" data-project-id="@ViewBag.ProjectID">
        <div class="dz-default dz-message"><span>Upuśc pliki lub kliknij by dodać plik</span></div>
    </form>
    <table class="table table-bordered table-pagination project-documents-table">
        <thead>
            <tr>
                <th>Dokument</th>
                <th width="30px;"></th>
                <th width="30px;"></th>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {

                    <tr>
                        <td>@item.FileName</td>
                        <td class="text-center"><a href="/Monter/dist/Documents/@item.FilePath" class="btn btn-flat btn-sm btn-primary text-center"><i class="fa fa-download"></i></a></td>
                        <td>
                            <button type="button" class="btn btn-flat btn-sm btn-danger delete-file" data-url="/Monter/dist/Documents/@item.FilePath" data-id="@item.ID" data-from="project"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
