﻿@using ACSystem.Core.Models
@using ACSystem.Core
@model IEnumerable<Inventory>

<div class="tab-pane table-responsive no-padding" id="tab-inventory">
    <table class="table table-bordered table-pagination">
        <thead>
            <tr>
                <th>Numer ew. "S"</th>
                <th>Numer ew. "T"</th>
                <th>Typ</th>
                <th>Marka</th>
                <th>Magazyn</th>
                <th>Posiada</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var o in Model)
                {
                    var fitter = ((o.Inventory_Fitter.FirstOrDefault(q => q.PutDate.HasValue == false) != null) ? o.Inventory_Fitter.FirstOrDefault(q => q.PutDate.HasValue == false).User : null);

                    <tr>
                        <td>@((!string.IsNullOrEmpty(o.EvidenceNumber)) ? $"S-{@o.EvidenceNumber}" : "")</td>
                        <td>@((!string.IsNullOrEmpty(o.EvidenceNumber2)) ? $"T-{@o.EvidenceNumber2}" : "")</td>
                        <td>@o.Type.Name</td>
                        <td>@o.Mark</td>
                        <td>@((o.Warehouse != null) ? $"{o.Warehouse.Street}, {o.Warehouse.City}, {o.Warehouse.Country}" : "")</td>
                        <td><a href="/Account/Details/@((fitter != null) ? fitter.Id : "")">@((fitter != null) ? fitter.FullName : "")</a></td>
                        <td>
                            <div class="crud-container">
                                <a class="crud crud-details" href="/Inventory/Details/@o.ID" data-toggle="tooltip" , data-placement="bottom" title="Szczegóły"><i class="glyphicon glyphicon-eye-open"></i></a>

                                @if (o.OwnerType != InventoryOwnerType.Private)
                                {
                                    <span data-toggle="tooltip" data-placement="bottom" title="Zwolnij" data-inventory-id="@o.ID" class="crud crud-delete-fitter free-inventory"><i class="fa fa-user-times"></i></span>
                                }
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
