﻿@using ACSystem.Core.Models

@{
    var Model = (List<view_CheckPayrollRateNorm>)ViewBag.CheckPayrollRateNorm;
}
<div class="tab-pane table-responsive no-padding" id="tab-diff-payrolls">
    <table class="table table-bordered table-sortable table-hover table-striped">
        <thead>
            <tr>
                <th>Lista płac</th>
                <th>Monter</th>
                <th>LGH</th>
                <th>Zadanie</th>
                <th>Ilość</th>
                <th colspan="2">Procent</th>
                <th colspan="2">Stawka</th>
                <th>Różnica</th>
                <th></th>
            </tr>
            <tr>
                <th colspan="6" rowspan="2"></th>
                <th title="Planowany">P</th>
                <th title="Rzeczywisty">R</th>
                <th title="Planowana">P</th>
                <th title="Rzeczywista">R</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr class="tr-diff-payroll-@m.PayrollItemID">
                    <td>
                        <a href="/Office/PayrollDetails/@m.PayrollID">@m.PayrollNumber</a>
                    </td>
                    <td>
                        @m.FitterName
                    </td>
                    <td>
                        <a href="/Projects/ApartmentDetails/@m.ApartmentID">@m.ApartmentNumber</a>
                    </td>
                    <td>
                        <a href="/Tasks/Details/@m.TaskID">@m.ProductName</a>
                    </td>
                    <td>
                        @m.WorkDone
                    </td>
                    <td>
                        @m.PercentTypeReal%
                    </td>
                    <td>
                        @m.PercentTypePlan%
                    </td>
                    <td>
                        @m.ToPayPlan kr
                    </td>
                    <td>
                        @m.ToPayReal kr
                    </td>
                    <td>
                        @{
                            var diff = m.ToPayReal - m.ToPayPlan;

                            var diffSpanClass = (diff * -1 >= 0) ? "success" : "danger";
                        }

                        <span class="text-@diffSpanClass">@(diff * -1) kr</span>
                    </td>
                    <td>
                        <div class="crud-container">
                            <span data-toggle="tooltip" data-placement="bottom" title="Nie pokazuj" data-payroll-item-id="@m.PayrollItemID" class="crud crud-delete-fitter dont-show-payroll"><i class="fa fa-eye-slash"></i></span>
                            <span data-toggle="tooltip" data-placement="bottom" title="Wygeneruj szkodę" data-payroll-item-id="@m.PayrollItemID" data-diff="@diff" class="crud crud-delete-fitter generate-fee"><i class="fa fa-dollar"></i></span>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
