﻿@using ACSystem.Core.Models.ViewModels
@model ICollection<EventsViewModel>

<div class="tab-pane table-responsive no-padding" id="tab-events">
    <button type="button" class="btn btn-flat btn-sm btn-primary pull-right" id="add-event" data-id="@ViewBag.ProjectID">DODAJ</button>
    <table class="table table-bordered table-pagination project-events-table">
        <thead>
            <tr>
                <th>Data</th>
                <th>LGH</th>
                <th>Zadanie</th>
                <th>Tytuł</th>
                <th>Opis</th>
                <th width="30px"></th>
                <th width="30px"></th>
        </thead>
        <tbody>
            @{

                var first = true;
                foreach (var item in Model.OrderByDescending(q => q.Date))
                {
                    <tr @((item.Date < DateTime.Now == false) ? "class=text-bold" : "")>
                       <td>@item.Date.ToString("yyyy-MM-dd HH:mm")</td>
                        <td>@item.LGH</td>
                        <td>@item.Task</td>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                        <td>
                            <button type="button" class="btn btn-flat btn-success btn-xs show-event" data-id="@item.ID" data-type="@item.Type"><i class="fa fa-pencil"></i></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-flat btn-danger btn-xs delete-event" data-id="@item.ID"><i class="fa fa-trash"></i></button>
                        </td>
                    </tr>

                    first = false;
                }
            }
        </tbody>
    </table>
</div>

