﻿@using ACSystem.Core.Models

@{
    var Model = (List<view_CheckTaskPriceNorm>)ViewBag.CheckTaskPriceNorm;
}
<div class="tab-pane table-responsive no-padding active" id="tab-diff-tasks">
    <table class="table table-bordered table-sortable">
        <thead>
            <tr>
                <th>LGH</th>
                <th>Zadanie</th>
                <th>Cena rzeczywista</th>
                <th>Cena planowana</th>
                <th>Różnica</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr class="tr-diff-task-@m.TaskID">
                    <td>
                        <a href="/Projects/ApartmentDetails/@m.ApartmentID">@m.LGH</a>
                    </td>
                    <td>
                        <a href="/Tasks/Details/@m.TaskID">@m.ProductName</a>
                    </td>
                    <td>
                        @m.ProductPriceReal kr
                    </td>
                    <td>
                        @m.ProductPricePlanned kr
                    </td>
                    <td>
                        @{
                            var diff = m.ProductPriceReal - m.ProductPricePlanned;

                            var diffSpanClass = (diff >= 0) ? "success" : "danger";
                        }

                        <span class="text-@diffSpanClass">@diff kr</span>
                    </td>
                    <td>
                        <div class="crud-container">
                            <span data-toggle="tooltip" data-placement="bottom" title="Nie pokazuj" data-task-id="@m.TaskID" class="crud crud-delete-fitter dont-show"><i class="fa fa-eye-slash"></i></span>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
