﻿@using ACSystem.Core
@using ACSystem.Core.Extensions

@model ACSystem.Core.Models.Projects

@{
    ViewBag.ProjectId = Model.Id;
    var descSize = (string.IsNullOrEmpty(Model.Description)) ? "" : "height: 150px;";
}

<style>
    tr.show-tasks {
        cursor: pointer;
    }

    .show-tasks .sign:after {
        content: "+";
        display: inline-block;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
    }

    .show-tasks.expand .sign:after {
        content: "-";
    }

    .box-title a {
        color: #333;
        font-size: 18px;
        padding-top: 3px;
    }

    #apartments-container {
        height: 400px;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 10px;
        border: 1px solid #ddd;
    }

    #apartments-table tr:hover {
        background-color: #ddd;
    }

    #apartments-table td {
        font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: #333;
    }
</style>

<div class="tab-pane table-responsive no-padding active" id="tab-apartments" style="overflow: hidden;">
    <div class="col-md-12 no-padding">
        @Html.TextAreaFor(m => m.Description, new { @class = "textarea-wysiwg", style = "width: 100%; " + descSize + " font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;" })
    </div>
    <div class="form-group col-md-12 no-padding">
        <div class="input-group-btn">
            <button class="btn btn-sm btn-primary pull-right" id="save-project-description" data-project-id="@Model.Id">ZAPISZ OPIS</button>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px">
        @*<button type="button" class="btn btn-xs btn-primary pull-right add-apartment" data-project-id="@Model.Id" style="margin-bottom: 10px;">DODAJ APARTAMENT</button>*@
        <div class="col-md-3">
            <div class="input-group">
                <span class="input-group-addon">LGH</span>
                <input class="form-control" id="search-apartment-input" placeholder="wprowadź numer mieszkania..." />
            </div>
        </div>
        <div class="col-md-3">
            <select class="form-control select2" id="ProductId_search" data-placeholder="Wybierz produkt" style="width: 100%;">
                <option value="-1">Wybierz produkt...</option>
                @foreach (var pm in Model.Product_Project.Where(q => q.Product.IsActive == true)) {
                    <option value="@pm.ProductID">@pm.ProductName</option>

                }
            </select>
        </div>
        <div class="col-md-4">
            <label class="pull-right">
                <input type="checkbox" class="minimal check-all-apartments" style="margin-right: 15px;" />
                <span style="margin-left: 10px;">Zaznacz wszystkie mieszkania</span>
            </label>
        </div>
        <div class="col-md-2">
            <div class="input-group-btn">
                <div>
                    <button type="button" class="btn btn-sm btn-primary pull-right dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="margin-left: 10px;">OPERACJE</button>
                    <ul class="dropdown-menu pull-right">
                        <li><a style="cursor: pointer;" class="operation-modal" data-modal="#add-apartment-modal">DODAJ MIESZKANIE</a></li>
                        <li><a style="cursor:pointer;" id="move-apartments-btn" class="operation-modal hidden" data-modal="#move-apartments-modal">PRZENIEŚ MIESZKANIA</a></li>
                        <li><a style="cursor:pointer;" id="delete-apartments-btn" class="delete-selected-apartments hidden">USUŃ MIESZKANIA</a></li>
                        <li><a style="cursor: pointer;" id="change-floor-btn" class="operation-modal hidden" data-modal="#change-floor-modal">ZMIEŃ PIĘTRO</a></li>
                        <li><a style="cursor: pointer;" id="change-cage-btn" class="operation-modal hidden" data-modal="#change-cage-modal">ZMIEŃ KLATKĘ</a></li>
                        <li><a style="cursor: pointer;" id="add-tasks-btn" class="operation-modal hidden" data-modal="#add-tasks-to-apartments-modal">DODAJ ZADANIA</a></li>
                        <li><a style="cursor: pointer;" id="add-tasks-service-kitchen-btn" class="operation-modal hidden" data-modal="#add-tasks-service-kitchen-to-apartments-modal">DODAJ ZADANIA - SERWIS KUCHNIA</a></li>
                        <li><a style="cursor: pointer;" id="add-tasks-service-construction-btn" class="operation-modal hidden" data-modal="#add-tasks-service-construction-to-apartments-modal">DODAJ ZADANIA - SERWIS BUDOWLANE</a></li>
                        <li><a style="cursor: pointer;" id="edit-tasks-btn" class="operation-modal hidden" data-modal="#edit-tasks-to-apartments-modal">EDYTUJ ZADANIA</a></li>
                        <li><a style="cursor: pointer;" id="move-one-task-btn" class="operation-modal hidden" data-modal="#move-one-task-modal">PRZENIEŚ ZADANIE</a></li>
                        <li><a style="cursor: pointer;" id="move-multiple-tasks-btn" class="operation-modal hidden" data-modal="#move-multiple-tasks-modal">PRZENIEŚ ZADANIA</a></li>
                        <li><a style="cursor: pointer;" id="delete-tasks-btn" class="delete-selected-tasks hidden">USUŃ ZADANIA</a></li>
                        <li><a style="cursor: pointer;" id="raport-service-with-code" class="hidden" data-project-id="@Model.Id">RAPORT SERWISÓW Z KODEM</a></li>
                        <li><a style="cursor: pointer;" id="raport-kitchen-zip" class="hidden">PACZKA RAPORTÓW KUCHNIA</a></li>
                    </ul>
                </div>
                <div>
                    <button type="button" class="btn btn-sm btn-primary pull-right reports-btn report-btn hidden" data-type="service" data-what="all" style="margin-left: 10px;">RAPORT SERWIS</button>
                    <button type="button" class="btn btn-sm btn-primary pull-right reports-btn report-btn hidden" data-type="dev" data-what="construction" style="margin-left: 10px;">RAPORT BUDOWLANE</button>
                    <button type="button" class="btn btn-sm btn-primary pull-right reports-btn report-btn hidden" data-type="dev" data-what="kitchen" style="margin-left: 10px;">RAPORT KUCHNIE</button>
                </div>
                @*<div>
                        <button type="button" class="btn btn-sm btn-primary pull-right dropdown-toggle reports-btn hidden" data-toggle="dropdown" aria-expanded="false" style="margin-left: 10px;">RAPORT - SERWIS</button>
                        <ul class="dropdown-menu pull-right">
                            <li><a style="cursor: pointer;" class="report-btn" data-type="service" data-what="all">WSZYSTKO</a></li>
                            <li><a style="cursor:pointer;" class="report-btn" data-type="service" data-what="kitchen">KUCHNIE</a></li>
                            <li><a style="cursor: pointer;" class="report-btn" data-type="service" data-what="construction">BUDOWLANE</a></li>
                        </ul>
                    </div>

                    <div>
                        <button type="button" class="btn btn-sm btn-primary pull-right dropdown-toggle reports-btn hidden" data-toggle="dropdown" aria-expanded="false">RAPORT - PRODUKCJA</button>
                        <ul class="dropdown-menu pull-right">
                            <li><a style="cursor: pointer;" class="report-btn" data-type="dev" data-what="all">WSZYSTKO</a></li>
                            <li><a style="cursor:pointer;" class="report-btn" data-type="dev" data-what="kitchen">KUCHNIE</a></li>
                            <li><a style="cursor: pointer;" class="report-btn" data-type="dev" data-what="construction">BUDOWLANE</a></li>
                        </ul>
                    </div>*@

            </div>
        </div>
    </div>
    <div class="box-group" id="apartments-container">

        <table id="apartments-table" class="controller" style="width: 100%">
            <tr data-level="header" class="header">
                <th width="50%"></th>
                <th></th>
                <th></th>
                <th></th>
                <th width="50px"></th>
            </tr>
            @{
                var apartmentsByCage = Model.Apartments.GroupBy(q => q.Cage);

                foreach (var cage in apartmentsByCage.OrderBy(q => q.Key)) {
                    var notStartedCount = 0;
                    var underWorkCount = 0;
                    var stopedCount = 0;
                    var finishedCount = 0;
                    var finishedFaultsCount = 0;
                    var placeNotReadyCount = 0;

                    var allFinished = true;

                    foreach (var apartment in cage) {
                        notStartedCount += apartment.Tasks.Count(q => q.Status == TaskStatus.Free);
                        underWorkCount += apartment.Tasks.Count(q => q.Status == TaskStatus.UnderWork);
                        stopedCount += apartment.Tasks.Count(q => q.Status == TaskStatus.Stoped);
                        finishedCount += apartment.Tasks.Count(q => q.Status == TaskStatus.Finished || q.Status == TaskStatus.FinishedWithFaultsCorrected);
                        finishedFaultsCount += apartment.Tasks.Count(q => q.Status == TaskStatus.FinishedWithFaults);
                        placeNotReadyCount += apartment.Tasks.Count(q => q.Status == TaskStatus.PlaceNotReady || q.Status == TaskStatus.Planned || q.Status == TaskStatus.DoWyjasnienia || q.Status == TaskStatus.NieNasze);

                        if (apartment.Tasks.All(q => q.Status == TaskStatus.Finished) == false) {
                            allFinished = false;
                        }
                    }

                    var lghNumbers = cage.Select(q => q.Letter + q.NumberOfApartment);
                    var apartmentsGrouped = Model.Apartments.Where(q => q.Cage == cage.Key).GroupBy(q => q.Floor);
                    var productsList = cage.Select(q => q.Tasks.GroupBy(x => x.ProductId).Select(x => x.Key)).ToList();
                    var productsIDs = new List<int>();

                    productsList.ForEach(x => productsIDs.AddRange(x));
                    productsIDs = productsIDs.GroupBy(q => q).Select(q => q.Key).ToList();


                    if (apartmentsByCage.Count() > 0 && !string.IsNullOrEmpty(cage.Key)) {
                        ViewBag.Parent = $"#cage-{cage.Key}";
                        ViewBag.Cage = cage.Key;
                        ViewBag.KeyPrefix = $"cage-{cage.Key}";
                        ViewBag.Level = 2;
                        var timeNeeded = cage.Sum(q => q.Tasks.Sum(y => ((y.Production == TaskProduction.Developer) ? y.Product.ExpectedTime : Temp.Settings.ServiceTaskTime) * y.ProductCount));
                        var timeDone = cage.Sum(q => q.Tasks.Sum(y => y.Task_Fitter.Where(z => ACSystem.Core.Models.Tasks.StatusesToCalculateTimes.Contains(z.Status) && z.IsActive).Sum(z => z.WorkDone * ((y.Production == TaskProduction.Developer) ? y.Product.ExpectedTime : Temp.Settings.ServiceTaskTime))));

                        <tr data-child="1" data-level="1" id="cage-@cage.Key" class="search-apartment cage-row" data-lgh="@(string.Join(",", lghNumbers))" data-products="@(string.Join(",", productsIDs))" data-cage="@cage.Key">
                            <td>
                                Klatka @cage.Key (<span class="cage-count">@cage.Count()</span>) <span class="cage-time">Czas: @((timeNeeded - timeDone).TwoOrNone()) / @(timeNeeded.TwoOrNone()) h</span>
                                @if (allFinished) {<span class="text-success"><i class="fa fa-check"></i></span>}
                            </td>
                            <td></td>
                            <td colspan="2" style="text-align: center;">
                                @{
                                    if (notStartedCount > 0) {
                                        <span class='label label-default'>@notStartedCount</span>
                                    }

                                    if (underWorkCount > 0) {
                                        <span class='label label-warning'>@underWorkCount</span>
                                    }

                                    if (stopedCount > 0) {
                                        <span class='label label-info'>@stopedCount</span>
                                    }

                                    if (finishedCount > 0) {
                                        <span class='label label-success'>@finishedCount</span>
                                    }

                                    if (finishedFaultsCount > 0) {
                                        <span class='label label-danger'>@finishedFaultsCount</span>
                                    }

                                    if (placeNotReadyCount > 0) {
                                        <span class='label label-primary'>@placeNotReadyCount</span>
                                    }
                                }
                            </td>
                            <td style="background:white;text-align:center;">
                                <input type="checkbox" class="minimal cage-check" value="cage-@ViewBag.Cage" />
                            </td>
                        </tr>
                        @Html.Partial("Partials/Project_ApartmentsByCage", apartmentsGrouped)
                        @*<div class="panel box box-solid" style="margin-bottom: 0;">
                                <div class="box-header with-border" style="border-color: #ddd; @boxStyle">
                                    <div class="col-xs-1 cage-check-div">
                                        <input type="checkbox" class="minimal cage-check" value="cage-@ViewBag.Cage" />
                                    </div>
                                    <div class="col-xs-4">
                                        <h4 class="box-title">
                                            <a style="@headerWhite" data-toggle="collapse" data-parent="#apartments-container" href="#cage-@cage.Key" aria-expanded="true">
                                                Klatka @cage.Key (@cage.Count())
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="col-xs-8">
                                        @{
                                            if (notStartedCount > 0)
                                            {
                                                <span class='label label-default'>@notStartedCount</span>
                                            }

                                            if (underWorkCount > 0)
                                            {
                                                <span class='label label-warning'>@underWorkCount</span>
                                            }

                                            if (stopedCount > 0)
                                            {
                                                <span class='label label-info'>@stopedCount</span>
                                            }

                                            if (finishedCount > 0)
                                            {
                                                <span class='label label-success'>@finishedCount</span>
                                            }

                                            if (finishedFaultsCount > 0)
                                            {
                                                <span class='label label-danger'>@finishedFaultsCount</span>
                                            }

                                            if (placeNotReadyCount > 0)
                                            {
                                                <span class='label label-primary'>@placeNotReadyCount</span>
                                            }
                                        }
                                    </div>
                                </div>
                                <div id="cage-@cage.Key" class="panel-collapse collapse in" aria-expanded="true">
                                    @Html.Partial("Partials/Project_ApartmentsByCage", apartmentsGrouped)
                                </div>
                            </div>*@

                    } else {
                        ViewBag.Parent = "#apartments-container";
                        ViewBag.KeyPrefix = "";
                        ViewBag.Cage = "";
                        ViewBag.Level = 1;
                        @Html.Partial("Partials/Details_ApartmentsByCage", apartmentsGrouped)

                    }
                }
            }
        </table>
    </div>
</div>

<script>

</script>

