﻿@using ACSystem.Core
@using ACSystem.Core.Extensions
@using ACSystem.Core.Models
@using Microsoft.AspNet.Identity

@model IEnumerable<Projects>

@{
    var innerUser = (bool)ViewBag.InnerUser;
    var canSeeAll = (bool)ViewBag.CanSeeAll;
    var userId = User.Identity.GetUserId();
    var favourites = (List<int>)ViewBag.FavouriteIDs;
    var favouriteCities = (List<FavouriteCity>)ViewBag.FavouriteCity;

    var cities = Model.GroupBy(q => q.City).Select(q => new { City = q.Key, Count = q.Count(), HasFavourites = (q.Any(x => x.FavouriteProjects.Count() > 0) || favouriteCities.Any(x => x.City == q.Key)) });

    var citiesSorted = cities.OrderByDescending(q => q.HasFavourites).ThenBy(q => q.City);
}

<div class="tab-pane table-responsive no-padding @ViewBag.Active" id="tab-@ViewBag.Tab">
    <div class="box-group" id="accordion">
        @foreach (var city in citiesSorted)
        {
            <div class="panel box box-comment">
                <div class="box-header with-border">
                    <h4 class="box-title">
                        <a data-toggle="collapse" data-parent="#@ViewBag.Tab-accordion" href="#@ViewBag.Tab-@city.City.ClearChars()" aria-expanded="false" class="collapsed">
                            <div class="favourite-star favourite-@city.City.ClearChars() @((favouriteCities.Any(x => x.City == city.City)) ? "active active-2 active-3" : "")" data-city="@city.City.ClearChars()">
                                <span class="fa fa-star@((favouriteCities.Any(x=> x.City == city.City)) ? "" : "-o") favourite-city"  data-city="@city.City.ClearChars()"></span>

                                <div class="ring"></div>
                                <div class="ring2"></div>
                            </div>
                            @city.City
                        </a>
                    </h4>
                    <div class="box-tools pull-right">
                        <span class="badge bg-primary">@city.Count</span>
                    </div>
                </div>
                <div id="@ViewBag.Tab-@city.City.ClearChars()" class="panel-collapse collapse" aria-expanded="false">
                    <div class="box-body table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th width="38px"></th>
                                    <th>Numer</th>
                                    <th>Ulica</th>
                                    <th>Zadania</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var projects = Model.Where(q => q.City == city.City).ToList();

                                    foreach (var project in projects)
                                    {
                                        var tasksCount = 0;

                                        foreach (var apartment in project.Apartments.Where(q => !string.IsNullOrEmpty(q.NumberOfApartment)).OrderBy(q => q.NumberOfApartment.Length).ThenBy(q => q.NumberOfApartment))
                                        {
                                            if (innerUser)
                                            {
                                                tasksCount += apartment.Tasks.Where(
                                                        q =>
                                                        (q.Status == TaskStatus.Free || q.Status == TaskStatus.Stoped || q.Status == TaskStatus.FinishedWithFaults || q.Status == TaskStatus.DoWyjasnienia) &&
                                                        (
                                                            canSeeAll ||
                                                            (
                                                                q.Access_User_Task.Count(t => t.UserID.Equals(userId)) > 0 ||
                                                                q.Apartment.Access_User_Apartment.Count(a => a.UserID.Equals(userId)) > 0 ||
                                                                q.Apartment.Project.Access_User_Project.Count(p => p.UserID.Equals(userId)) > 0
                                                            )
                                                        )
                                                        &&
                                                        (
                                                            (ViewBag.Tab == "all") ||
                                                            (ViewBag.Tab == "dev" && q.Production == TaskProduction.Developer && q.Status != TaskStatus.FinishedWithFaults) ||
                                                            (ViewBag.Tab == "ser" && (q.Production != TaskProduction.Developer || q.Status == TaskStatus.FinishedWithFaults))
                                                        )
                                                    ).Count();
                                            }
                                            else
                                            {
                                                foreach (var t in apartment.Tasks)
                                                {
                                                    if (t.Task_AccessGrant.Count(q => q.FitterID == userId) > 0)
                                                    {
                                                        tasksCount++;
                                                    }
                                                }
                                            }
                                        }

                                        var url = $"/Projects/Project?id={project.Id}&showHistory={ViewBag.ShowHistory}";

                                        <tr>
                                            <td>
                                                <div class="favourite-star favourite-@project.Id @((favourites.Contains(project.Id)) ? "active active-2 active-3" : "")" data-id="@project.Id">
                                                    <span class="fa fa-star@((favourites.Contains(project.Id)) ? "" : "-o")"></span>
                                                    <div class="ring"></div>
                                                    <div class="ring2"></div>
                                                </div>
                                            </td>
                                            <td><a href="@url">@project.ProjectNumber</a></td>
                                            <td>@project.Street</td>
                                            <td>@tasksCount</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
</div>