﻿@using ACSystem.Core

<div class="box box-primary collapsed-box">
    <div class="box-header">
        <h3 class="box-title">Dokumenty</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="box-body table-responsive">
        <table class="table table-bordered documents-table">
            <thead>
            <tr>
                <th>DOKUMENT</th>
                <th width="100px" class="text-center">
                    <div class="fileUpload btn btn-sm btn-success text-center">
                        <span>DODAJ</span>
                        <input type="file" class="upload" id="task-document" name="task-document" data-task-id="@Model.Id" />
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var doc in Model.TaskDocuments)
            {
                <tr>
                    <td>@doc.FileName</td>
                    <td class="text-center"><a href="/dist/Documents/@doc.FilePath" class="btn btn-sm btn-primary text-center" style="color: white;">Pobierz</a></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<div class="box box-primary collapsed-box">
    <div class="box-header">
        <h3 class="box-title">Zdjęcia</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        @if (Model.Product.ProductType == TaskType.Kitchen)
        {
            <div class="col-md-12">
                <div class="fileUpload btn btn-sm btn-like-bg">
                    <span>ZDJĘCIE WNĘTRZA SZAFKI NA ZLEW</span>
                    <input type="file" class="upload" id="unit-sink-task-img" name="task-img" accept="image/*"/>
                </div>
                <div id="unit-sink-photos-names" class="unit-sink-photos-names"></div>
            </div>

            <div class="col-md-12">
                <div class="fileUpload btn btn-sm btn-like-bg">
                    <span>ZDJĘCIE WNĘTRZA SZAFKI NA OKAP</span>
                    <input type="file" class="upload" id="unit-fan-task-img" name="task-img" accept="image/*"/>
                </div>
                <div id="unit-fan-photos-names" class="unit-fan-photos-names"></div>
            </div>

            <div class="col-md-12">
                <div class="fileUpload btn btn-sm btn-like-bg">
                    <span>ZDJĘCIE WNĘTRZA SZUFLADY Z ZABEZPIECZENIEM</span>
                    <input type="file" class="upload" id="in-drawer-task-img" name="task-img" accept="image/*"/>
                </div>
                <div id="in-drawer-photos-names" class="in-drawer-photos-names"></div>
            </div>
        }
        <div class="col-md-12">
            <div class="fileUpload btn btn-sm btn-like-bg">
                <span>ZDJĘCIE OGÓLNE</span>
                <input type="file" class="upload" id="other-task-img" name="task-img" accept="image/*"/>
            </div>
            <div id="other-photos-names" class="other-photos-names"></div>
        </div>
    </div>
</div>
