﻿<div class="box box-primary collapsed-box">
    <div class="box-header">
        <h3 class="box-title">Komentarz</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">            
        <textarea name="TaskComment" id="TaskComment" class="form-control" style="width: 100%; height: 100px;"></textarea>
    </div>
</div>






