﻿@using ACSystem.Core
@using ACSystem.Core.Extensions
@using ACSystem.Core.Models

@model IEnumerable<IGrouping<int, Apartments>>

@{
    var fitter = (Fitters)ViewBag.Fitter;
}

@foreach (var floor in Model.OrderBy(q => q.Key))
{
    var floorTasksCount = 0;

    foreach (var apartment in floor)
    {
        if (fitter.User.UserType == UserType.Wewnetrzny)
        {
            floorTasksCount += apartment.Tasks.Count(
                q =>
                (
                    (q.Status == TaskStatus.Free || q.Status == TaskStatus.Stoped || q.Status == TaskStatus.FinishedWithFaults || (q.Status == TaskStatus.PlaceNotReady && q.Task_Fitter.FirstOrDefault(x => x.Status == TaskStatus.PlaceNotReady) != null && q.Task_Fitter.FirstOrDefault(x => x.Status == TaskStatus.PlaceNotReady).Timestamp.ToString("yyyy-MM-dd") != DateTime.Now.ToString("yyyy-MM-dd")))
                ) &&
                q.ProductCount > 0 &&
                (
                    fitter.User.CanSeeAll ||
                    (
                        q.Access_User_Task.Count(t => t.UserID.Equals(fitter.Id)) > 0 ||
                        q.Apartment.Access_User_Apartment.Count(a => a.UserID.Equals(fitter.Id)) > 0 ||
                        q.Apartment.Project.Access_User_Project.Count(p => p.UserID.Equals(fitter.Id)) > 0
                    )
                )
                &&
                (
                    (ViewBag.Tab == "all") ||
                    (ViewBag.Tab == "dev" && q.Production == TaskProduction.Developer && q.Status != TaskStatus.FinishedWithFaults) ||
                    (ViewBag.Tab == "ser" && (q.Production != TaskProduction.Developer || q.Status == TaskStatus.FinishedWithFaults))
                )
            );
        }
        else
        {
            foreach (var t in apartment.Tasks.Where(
                q => (ViewBag.ShowHistory || (q.Status == TaskStatus.Free || q.Status == TaskStatus.Stoped || q.Status == TaskStatus.FinishedWithFaults || (q.Status == TaskStatus.PlaceNotReady && q.Task_Fitter.FirstOrDefault(x => x.Status == TaskStatus.PlaceNotReady) != null && q.Task_Fitter.FirstOrDefault(x => x.Status == TaskStatus.PlaceNotReady).Timestamp.ToString("yyyy-MM-dd") != DateTime.Now.ToString("yyyy-MM-dd")))) && q.ProductCount > 0))
            {
                if (t.Task_AccessGrant.Count(q => q.FitterID == fitter.Id) > 0)
                {
                    if (ViewBag.Tab == "all")
                    {
                        floorTasksCount++;
                    }
                    else if (ViewBag.Tab == "dev" && t.Production == TaskProduction.Developer)
                    {
                        floorTasksCount++;
                    }
                    else if (ViewBag.Tab == "ser" && t.Production != TaskProduction.Developer)
                    {
                        floorTasksCount++;
                    }
                }
            }
        }
    }

    <div class="panel box box-solid" style="margin-bottom: 0">
        <div class="box-header with-border" style="padding-left: 20px;">
            <h4 class="box-title">
                <a data-toggle="collapse" data-parent="@ViewBag.Parent" href="#@ViewBag.Tab-@(ViewBag.KeyPrefix)floor-@floor.Key" aria-expanded="false" class="collapsed">
                    Piętro @floor.Key
                </a>
            </h4>
            <div class="box-tools pull-right">
                <span class="badge bg-primary">@floorTasksCount</span>
            </div>
        </div>
        <div id="@ViewBag.Tab-@(ViewBag.KeyPrefix)floor-@floor.Key" class="panel-collapse collapse">
            @foreach (var apartment in floor.OrderBy(q => q.NumberOfApartment.Length).ThenBy(q => q.NumberOfApartment))
            {
                var apartmentTasksCount = 0;

                if (fitter.User.UserType == UserType.Wewnetrzny)
                {
                    apartmentTasksCount += apartment.Tasks.Count(
                        q =>
                        (
                            (q.Status == TaskStatus.Free || q.Status == TaskStatus.Stoped || q.Status == TaskStatus.FinishedWithFaults || (q.Status == TaskStatus.PlaceNotReady && q.Task_Fitter.FirstOrDefault(x => x.Status == TaskStatus.PlaceNotReady) != null && q.Task_Fitter.FirstOrDefault(x => x.Status == TaskStatus.PlaceNotReady).Timestamp.ToString("yyyy-MM-dd") != DateTime.Now.ToString("yyyy-MM-dd")))
                        ) &&
                        q.ProductCount > 0 &&
                        (
                            fitter.User.CanSeeAll ||
                            (
                                q.Access_User_Task.Count(t => t.UserID.Equals(fitter.Id)) > 0 ||
                                q.Apartment.Access_User_Apartment.Count(a => a.UserID.Equals(fitter.Id)) > 0 ||
                                q.Apartment.Project.Access_User_Project.Count(p => p.UserID.Equals(fitter.Id)) > 0
                            )
                        )
                        &&
                        (
                            (ViewBag.Tab == "all") ||
                            (ViewBag.Tab == "dev" && q.Production == TaskProduction.Developer && q.Status != TaskStatus.FinishedWithFaults) ||
                            (ViewBag.Tab == "ser" && (q.Production != TaskProduction.Developer || q.Status == TaskStatus.FinishedWithFaults))
                        )
                    );
                }
                else
                {
                    foreach (var t in apartment.Tasks.Where(
                        q => (ViewBag.ShowHistory || (q.Status == TaskStatus.Free || q.Status == TaskStatus.Stoped || q.Status == TaskStatus.FinishedWithFaults || (q.Status == TaskStatus.PlaceNotReady && q.Task_Fitter.FirstOrDefault(x => x.Status == TaskStatus.PlaceNotReady) != null && q.Task_Fitter.FirstOrDefault(x => x.Status == TaskStatus.PlaceNotReady).Timestamp.ToString("yyyy-MM-dd") != DateTime.Now.ToString("yyyy-MM-dd")))) && q.ProductCount > 0))
                    {
                        if (t.Task_AccessGrant.Count(q => q.FitterID == fitter.Id) > 0)
                        {
                            if (ViewBag.Tab == "all")
                            {
                                apartmentTasksCount++;
                            }
                            else if (ViewBag.Tab == "dev" && t.Production == TaskProduction.Developer)
                            {
                                apartmentTasksCount++;
                            }
                            else if (ViewBag.Tab == "ser" && t.Production != TaskProduction.Developer)
                            {
                                apartmentTasksCount++;
                            }
                        }
                    }
                }

            <div class="panel box box-solid" style="margin-bottom: 0;">
                <div class="box-header with-border" style="padding-left: 40px;">
                    <h4 class="box-title">
                        <a data-toggle="collapse" data-parent="#floor-container-@floor.Key" href="#@ViewBag.Tab-@apartment.Id" aria-expanded="false" class="collapsed">
                            LGH @apartment.Letter@apartment.NumberOfApartment
                        </a>

                        <a href="/Apartment/Details/@apartment.Id" class="btn btn-flat btn-like-bg">
                            SZCZEGÓŁY
                        </a>
                    </h4>
                    <div class="box-tools pull-right">
                        <span class="badge bg-primary">@apartmentTasksCount</span>
                    </div>
                </div>
                <div id="@ViewBag.Tab-@apartment.Id" class="panel-collapse collapse" aria-expanded="false">
                    <div class="col-md-12">
                        @Html.Raw(apartment.Description)
                    </div>
                    <div class="box-body table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Produkt</th>
                                    <th>Ilość</th>
                                    <th>Stawka</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var tasks = apartment.Tasks.Where(
                                        q =>
                                        (
                                            ViewBag.ShowHistory ||
                                            (q.Status == TaskStatus.Free || q.Status == TaskStatus.Stoped || q.Status == TaskStatus.Stoped || q.Status == TaskStatus.FinishedWithFaults || (q.Status == TaskStatus.PlaceNotReady && q.Task_Fitter.FirstOrDefault(x => x.Status == TaskStatus.PlaceNotReady) != null && q.Task_Fitter.FirstOrDefault(x => x.Status == TaskStatus.PlaceNotReady).Timestamp.ToString("yyyy-MM-dd") != DateTime.Now.ToString("yyyy-MM-dd")))
                                        ) &&
                                        q.ProductCount > 0 &&
                                        (
                                            fitter.User.CanSeeAll ||
                                            (
                                                q.Access_User_Task.Count(t => t.UserID.Equals(fitter.Id)) > 0 ||
                                                q.Apartment.Access_User_Apartment.Count(a => a.UserID.Equals(fitter.Id)) > 0 ||
                                                q.Apartment.Project.Access_User_Project.Count(p => p.UserID.Equals(fitter.Id)) > 0
                                            )
                                        ));

                                    foreach (var task in tasks)
                                    {
                                        if (fitter.User.UserType == UserType.Zewnetrzny && task.Task_AccessGrant.Count(q => q.FitterID == fitter.Id) == 0)
                                        {
                                            continue;
                                        }

                                        if (ViewBag.Tab == "dev" && (task.Production != TaskProduction.Developer || task.Status == TaskStatus.FinishedWithFaults))
                                        {
                                            continue;
                                        }
                                        else if (ViewBag.Tab == "ser" && task.Production == TaskProduction.Developer && task.Status != TaskStatus.FinishedWithFaults)
                                        {
                                            continue;
                                        }

                                        decimal procent = 0;

                                        switch (fitter.PercentType)
                                        {
                                            case 1:
                                                procent = task.PercentType1;
                                                break;
                                            case 2:
                                                procent = task.PercentType2;
                                                break;
                                            case 3:
                                                procent = task.PercentType3;
                                                break;
                                            case 4:
                                                procent = task.PercentType4;
                                                break;
                                            case 5:
                                                procent = task.PercentType5;
                                                break;
                                            case 6:
                                                procent = task.PercentType6;
                                                break;
                                            default:
                                                procent = 0;
                                                break;
                                        }

                                        procent = procent / 100;

                                        var stawka = Math.Ceiling(task.ProductPrice * procent);

                                        <tr>
                                            <td><a href="/Projects/Task/@task.Id">@task.GetTaskName(task.Apartment.ProjectId) @task.TaskSufix</a></td>
                                            <td>@{ Write(task.ProductCount - task.Task_Fitter.Where(q => q.IsActive).Sum(q => q.WorkDone)); } @task.Product.Jm</td>
                                            <td>@stawka kr</td>
                                            <td>
                                                @switch (task.Status)
                                                {
                                                    case TaskStatus.Free:
                                                        <span class='label label-default'>Dostępne</span>
                                                        break;
                                                    case TaskStatus.UnderWork:
                                                        <span class='label label-warning'>W trakcie</span>
                                                        break;
                                                    case TaskStatus.Stoped:
                                                        <span class='label label-info'>Przerwane</span>
                                                        break;
                                                    case TaskStatus.Finished:
                                                        <span class='label label-success'>Zakończone</span>
                                                        break;
                                                    case TaskStatus.FinishedWithFaults:
                                                        <span class='label label-danger'>Zakończone z błędami</span>
                                                        break;
                                                    case TaskStatus.FinishedWithFaultsCorrected:
                                                        <span class='label label-success'>Zakończone z błędami</span>
                                                        break;
                                                    case TaskStatus.PlaceNotReady:
                                                        <span class="label label-primary">Miejsce nieprzygotowane</span>
                                                        break;
                                                    case TaskStatus.Planned:
                                                        <span class="label label-primary">Planowane</span>
                                                        break;
                                                    case TaskStatus.NieNasze:
                                                        <span class="label label-primary">Nie nasze</span>
                                                        break;
                                                    case TaskStatus.DoWyjasnienia:
                                                        <span class="label label-primary">Do wyjaśnienia</span>
                                                        break;
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
}