﻿@using ACSystem.Core
@using ACSystem.Core.Extensions
@using ACSystem.Core.Models

@model ICollection<Apartments>

<div class="tab-pane table-responsive no-padding @ViewBag.Active" id="tab-@ViewBag.Tab">
    @{
        var fitter = (Fitters)ViewBag.Fitter;
        var apartmentsByCage = Model.GroupBy(q => q.Cage);

        var tasksCount = 0;

        foreach (var cage in apartmentsByCage.OrderBy(q => q.Key))
        {
            foreach (var apartment in cage)
            {
                if (fitter.User.UserType == UserType.Wewnetrzny)
                {
                    tasksCount += apartment.Tasks.Count(
                    q =>
                    (
                        (q.Status == TaskStatus.Free || q.Status == TaskStatus.Stoped || q.Status == TaskStatus.FinishedWithFaults || (q.Status == TaskStatus.PlaceNotReady && q.Task_Fitter.FirstOrDefault(x => x.Status == TaskStatus.PlaceNotReady) != null && q.Task_Fitter.FirstOrDefault(x => x.Status == TaskStatus.PlaceNotReady).Timestamp.ToString("yyyy-MM-dd") != DateTime.Now.ToString("yyyy-MM-dd")))
                    ) &&
                    q.ProductCount > 0 &&
                    (
                        fitter.User.CanSeeAll ||
                        (
                            q.Access_User_Task.Count(t => t.UserID.Equals(fitter.Id)) > 0 ||
                            q.Apartment.Access_User_Apartment.Count(a => a.UserID.Equals(fitter.Id)) > 0 ||
                            q.Apartment.Project.Access_User_Project.Count(p => p.UserID.Equals(fitter.Id)) > 0
                        )
                    )
                    &&
                    (
                        (ViewBag.Tab == "all") ||
                        (ViewBag.Tab == "dev" && q.Production == TaskProduction.Developer && q.Status != TaskStatus.FinishedWithFaults) ||
                        (ViewBag.Tab == "ser" && (q.Production != TaskProduction.Developer || q.Status == TaskStatus.FinishedWithFaults))
                    )
                );
                }
                else
                {
                    foreach (var t in apartment.Tasks.Where(
                        q => (ViewBag.ShowHistory || (q.Status == TaskStatus.Free || q.Status == TaskStatus.Stoped || q.Status == TaskStatus.FinishedWithFaults || (q.Status == TaskStatus.PlaceNotReady && q.Task_Fitter.FirstOrDefault(x => x.Status == TaskStatus.PlaceNotReady) != null && q.Task_Fitter.FirstOrDefault(x => x.Status == TaskStatus.PlaceNotReady).Timestamp.ToString("yyyy-MM-dd") != DateTime.Now.ToString("yyyy-MM-dd")))) && q.ProductCount > 0))
                    {
                        if (t.Task_AccessGrant.Count(q => q.FitterID == fitter.Id) > 0)
                        {
                            if (ViewBag.Tab == "all")
                            {
                                tasksCount++;
                            }
                            else if (ViewBag.Tab == "dev" && t.Production == TaskProduction.Developer)
                            {
                                tasksCount++;
                            }
                            else if (ViewBag.Tab == "ser" && t.Production != TaskProduction.Developer)
                            {
                                tasksCount++;
                            }
                        }
                    }
                }
            }

            var apartmentsByFloor = cage.GroupBy(q => q.Floor);

            if (apartmentsByCage.Count() > 0 && !string.IsNullOrEmpty(cage.Key))
            {
                ViewBag.Parent = $"#{ViewBag.Tab}-cage-{cage.Key.ClearChars()}";
                ViewBag.Cage = cage.Key;
                ViewBag.KeyPrefix = cage.Key.ClearChars();

                <div class="panel box box-solid" style="margin-bottom: 0;">
                    <div class="box-header with-border">
                        <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#tab-all" href="#@ViewBag.Tab-cage-@cage.Key.ClearChars()" aria-expanded="false" class="collapsed">
                                Klatka @cage.Key
                            </a>
                        </h4>
                        <div class="box-tools pull-right">
                            <span class="badge bg-primary">@tasksCount</span>
                        </div>
                    </div>
                    <div id="@ViewBag.Tab-cage-@cage.Key.ClearChars()" class="panel-collapse collapse">
                        @Html.Partial("Partials/Project_ApartmentsByCage", apartmentsByFloor)
                    </div>
                </div>
            }
            else
            {
                ViewBag.Parent = "#tab-" + ViewBag.Tab;
                ViewBag.KeyPrefix = "";
                ViewBag.Key = 1;

                @Html.Partial("Partials/Project_ApartmentsByCage", apartmentsByFloor)
            }
        }
    }
</div>