﻿@model ACSystem.Core.Models.ReportNag
@using ACSystem.Core
@using ACSystem.Core.Extensions

@{
    var print = (ViewBag.Print) ? "onload=window.print()" : "";
    var lang = Model.Apartment.Project.Customer.DocumentsLeanguage;
    var reportNumber = $"LGH{Model.Apartment.Letter}{Model.Apartment.NumberOfApartment}/{Model.Number}";
    var precursorReportNumber = (Model.PrecursorReport != null) ? $"(Tidigare rapport: LGH{Model.PrecursorReport.Apartment.Letter}{Model.PrecursorReport.Apartment.NumberOfApartment}/{Model.PrecursorReport.Number})" : "";
}

<div style="display: block; float: left;" class="each-report">
    <div style="width: 205mm; min-height: 292mm; border: 1px solid black; position: relative; margin-bottom: 4.4mm;">
        <h5 style="text-align: right; margin-right: 25px;">@Model.Date.ToString("yyyy-MM-dd")</h5>
        <h2 style="text-align: center;">Egenkontroll @reportNumber</h2>
        <h2 style="text-align: center;"><small>@precursorReportNumber</small></h2>
        <h4 style="text-align: center;">PROJEKT @Model.Project.InSystemID @Model.Project.ProjectNumber LGH @Model.Apartment.Letter@Model.Apartment.NumberOfApartment</h4>
        <h4 style="text-align: center;">@Model.Project.Street, @Model.Project.City</h4>
        <h4 style="text-align: center;">
            Status Lägenhet:
            @if (Model.Elements.All(q => q.PercentDone == 100))
            {
                <span>Allt arbete klart</span>
            }
            else if (Model.Elements.Any(q => q.PercentDone == 90) && !Model.Elements.Any(q => q.PercentDone < 90))
            {
                <span>Finns Brister</span>
            }
            else
            {
                <span>Arbete pågår</span>
            }
        </h4>

        <table style="width: 95%; border: 1px solid black; margin: 0 auto; font-size: 11pt; border-collapse: collapse; margin-bottom: 150px;">
            <thead>
                <tr>
                    @if (Model.Type == TaskReportType.Service_All)
                    {
                        <th>Kod</th>
                        <th>Utfört arbete</th>
                        <th>Rum</th>
                    }
                    else
                    {
                        <th>Utfört arbete</th>
                    }
                    <th>Antal</th>
                    <th>Senaste kontroll</th>
                    <th width="40%">Montör</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var e in Model.Elements)
            {
                    <tr>
                        @if (Model.Type == TaskReportType.Service_All)
                        {
                            <td>@e.Task.ErrorCode</td>
                            <td>
                                @e.Task.Product.DescriptionSE @e.Task.TaskSufix
                                @if (e.PercentDone == 100)
                                {
                                    <span style="color: green; font-weight: bold;">&#x2714;</span>
                                }
                            </td>
                            <td>@(e.Task.Room?.Translate)</td>
                        }
                        else
                        {
                            <td>
                                @e.Task.Product.DescriptionSE @e.Task.TaskSufix
                                @if (e.PercentDone == 100)
                                {
                                    <span style="color: green; font-weight: bold;">&#x2714;</span>
                                }
                            </td>
                        }
                        <td>
                            @if (Model.Type == TaskReportType.Dev_Construction)
                            {
                                <span>@e.WorkDone av @e.WorkToDo @e.Task.Product.JmSwe (@e.PercentDone %)</span>
                            }
                            else
                            {
                                switch (e.PercentDone)
                                {
                                    case 100:
                                        <span>OK</span>
                                        break;
                                    case 90:
                                        <span>NOT OK</span>
                                        break;
                                    default:
                                        <span>NOT DONE</span>
                                        break;
                                }
                            }
                        </td>
                        <td>
                            @e.LastReportDate
                        </td>
                        <td>
                            @{
                                var fittersHistory = e.Task.Task_Fitter.GroupBy(q => q.Fitter);
                                var fittersList = new List<string>();
                                foreach (var hist in fittersHistory)
                                {
                                    fittersList.Add(hist.Key.User.FullName);
                                }

                                <span>@string.Join(", ", fittersList)</span>
                            }
                        </td>
                    </tr>
                    <tr style="display: none;">
                        @{
                            var colspan = 3;

                            if (Model.Type == TaskReportType.Service_All)
                            {
                                colspan = 5;
                            }
                        }

                        <td colspan="@colspan" style="text-align: right;">
                            Signatur
                        </td>
                        <td>
                            @if (e.PercentDone == 100 && e.Fitter != null)
                            {
                                <img src="http://@Request.Url.Authority/Monter/dist/Podpisy/@e.Fitter.Podpis" style="display: block; max-width: 100%; height: auto;" />
                            }
                        </td>
                    </tr>
                            }
            </tbody>
        </table>
        <p style="position: absolute; bottom: 82px; right: 10px; font-weight: bold;">
            @if (Model.Elements.All(q => q.PercentDone == 100))
            {
                var endDate = Model.Elements.OrderByDescending(q => q.LastReportDate).FirstOrDefault();

                if (endDate != null && endDate.LastReportDate.HasValue)
                {
                    <span>Arbete i lägenheten avslutades den: @endDate.LastReportDate.Value.ToString("yyyy-MM-dd")</span>
                }
            }
        </p>
        <div style="position: absolute; bottom: 0; border-top: 1px solid black; width: 100%; height: 80px;">
            <div style="width: 35%; margin-left: 3%; float: left;">
                <h4 style="margin: 5px 0;">Astinger & Chotkowski Service AB</h4>
                <h5 style="margin: 5px 0;">Frejgatan 13</h5>
                <h5 style="margin: 5px 0;">114 79 Stockholm</h5>
            </div>
            <div style="width: 30%; margin-left: 3%; float: left;">
                <h5 style="margin: 5px 0;">info@acbygg.com</h5>
                <h5 style="margin: 5px 0;">www.acbygg.com</h5>
            </div>
            <div style="width: 25%; margin-right: 3%; float: left; display: none;">
                <img src="http://@Request.Url.Authority/Monter/dist/Podpisy/@ViewBag.Podpis" style="display: block; max-width: 100%; height: auto;" />
            </div>
        </div>
    </div>
</div>
