﻿@model ACSystem.Core.Models.ReportNag
@using ACSystem.Core
@using ACSystem.Core.Extensions

@{
    var print = (ViewBag.Print) ? "onload=window.print()" : "";
    var reportNumber = $"LGH{Model.Apartment.Letter}{Model.Apartment.NumberOfApartment}/{Model.Number}";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    @*@Styles.Render("~/Content/css")*@
    <style>
        tr {
            border: 1px solid black;
        }

        th {
            text-align: center;
            border: 1px solid black;
            padding: 5px;
        }

        /*th:first-child {
            border: none;
        }*/

        td {
            padding: 5px;
            border: 1px solid black;
        }

            /*td:first-child {
            border: none;
        }*/

            td:nth-child(3) {
                text-align: center;
            }

        .bold {
            font-weight: bold;
        }

        @@media print {
            div {
                page-break-after: always;
            }
        }

    </style>
    <title>Egenkontroll @reportNumber</title>
</head>
<body @print style="width: 205mm; color: black !important;">
    @Html.Partial("Partials/GroupedReports_Content", Model)
</body>
</html>
