﻿@model ICollection<ReportNag>
@using ACSystem.Core.Models

@{
    var print = (ViewBag.Print) ? "onload=window.print()" : "";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    @*@Styles.Render("~/Content/css")*@
    <style>
        tr {
            border: 1px solid black;
        }

        th {
            text-align: center;
            border: 1px solid black;
            padding: 5px;
        }

        /*th:first-child {
            border: none;
        }*/

        td {
            padding: 5px;
            border: 1px solid black;
        }

            /*td:first-child {
            border: none;
        }*/

            td:nth-child(3) {
                text-align: center;
            }

        .bold {
            font-weight: bold;
        }

        @@media print {
            div.each-report {
                page-break-after: always;
            }
        }

    </style>
    <title>Report</title>
</head>
<body @print style="width: 205mm; color: black !important;">
    @foreach (var m in Model)
    {
        @Html.Partial("Partials/GroupedReports_Content", m);
    }
</body>
</html>
