﻿@model ACSystem.Core.Models.Projects
@using ACSystem.Core
@using ACSystem.Core.Extensions

@{
    ViewBag.Print = true;

    var print = (ViewBag.Print) ? "onload=window.print()" : "";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    @*@Styles.Render("~/Content/css")*@
    <style>
        tr {
            border: 1px solid black;
        }

        th {
            text-align: center;
            border: 1px solid black;
            padding: 5px;
        }

        /*th:first-child {
            border: none;
        }*/

        td {
            padding: 5px;
            border: 1px solid black;
        }

            /*td:first-child {
            border: none;
        }*/

            td:nth-child(3) {
                text-align: center;
            }

        .bold {
            font-weight: bold;
        }
    </style>
    <title>Projekt @Model.InSystemID @Model.ProjectNumber</title>
</head>
<body @print style="width: 205mm; color: black !important;">
    <div style="width: 205mm; min-height: 292mm; position: absolute;">
        <table style="width: 95%; border: 1px solid black; margin: 0 auto; font-size: 11pt; border-collapse: collapse;">
            <thead>
                <tr>
                    <td colspan="6">
                        <h5 style="text-align: right; margin-right: 25px;">@DateTime.Now.ToString("yyyy-MM-dd")</h5>
                        <h2 style="text-align: center;">RAPPORT </h2>
                        <h4 style="text-align: center;">PROJEKT @Model.InSystemID @Model.ProjectNumber</h4>
                        <h4 style="text-align: center;">
                            STATUS PROJEKTU:
                            @switch (Model.Status)
                            {
                                case ProjectStatus.UnderWork:
                                    <span>W Trakcie</span>
                                    break;
                                case ProjectStatus.FinishedWithFaults:
                                    <span>Zakończony z błędami</span>
                                    break;
                                case ProjectStatus.Finished:
                                    <span>Zakończony</span>
                                    break;
                            }
                        </h4>
                    </td>
                </tr>
                <tr>
                    <th>Kod</th>
                    <th>Zadanie</th>
                    <th>Pomieszczenie</th>
                    <th>Ostatni raport</th>
                    <th>Monterzy</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model.Apartments)
                {
                    var tasksWithCode = a.Tasks.Where(q => q.TaskPatches.Any(x => string.IsNullOrEmpty(x.Code) == false));

                    if (!tasksWithCode.Any())
                    {
                        continue;
                    }

                    <tr>
                        <td colspan="7">                            
                            <h4 style="margin: 0;">LGH @a.Letter@a.NumberOfApartment</h4>
                        </td>
                    </tr>
                    foreach (var t in tasksWithCode)
                    {
                        foreach (var p in t.TaskPatches.Where(q => string.IsNullOrEmpty(q.Code) == false))
                        { 
                            var workDone = t.Task_Fitter.Sum(q => q.WorkDone);

                            <tr>
                                <td>@p.Code</td>
                                <td>
                                    @t.Product.DescriptionSE @t.TaskSufix
                                    @if (p.Done)
                                    {
                                        <span style="color: green; font-weight: bold;">&#x2714;</span>
                                    }
                                </td>
                                <td>@(p.Room)</td>                                
                                <td>
                                    @{ 
                                        if (p.Timestamp.HasValue)
                                        {
                                            <span>@p.Timestamp.Value.ToString("yyyy-MM-dd HH:mm")</span>
                                        }

                                    }
                                </td>
                                <td>
                                    @p.FitterName
                                </td>
                            </tr>
                        }
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <div style="width: 100%;">
                            <h4 style="margin: 5px 0;">AC Service s.c</h4>
                            <p style="margin: 5px 0;"><a href="mailto:@User.Identity.Name" style="text-decoration: none; color: black;">@User.Identity.Name</a></p>
                            <p style="margin: 5px 0;">@DateTime.Now.ToString("yyyy-MM-dd")</p>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>
</html>
