﻿@using ACSystem.Core.Models

@model ICollection<Question>


@{
    ViewBag.Title = "Zarządzaj";
    ViewBag.Description = "Lista pytań ACSystem";
    ViewBag.Active = "Question";

    var firstQuestion = true;

    var types = (List<QuestionType>)ViewBag.Types;
    var answersForFirstQuestion = (Dictionary<int, List<Answer>>)ViewBag.AnswersForFirstQuestion;
    var product = (Products)ViewBag.Product;
    var product_questions = (List<Product_Question>)ViewBag.Product_Questions;

}

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/square/blue.css")
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
}

    @section Scripts {

    <script>
        var productID = @product.Id;
    </script>

    @Scripts.Render("~/Scripts/plugins/iCheck/icheck.min.js")
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    @Scripts.Render("~/Scripts/Site/question.js")
}

<section class="content">
    <h3>Produkt <a href="/Products/Edit/@product.Id">@product.Name</a></h3>
    <div class="box box-primary">
        <div class="box-body">
            <ul class="nav nav-tabs">
                @foreach (var type in types)
                {
                    <li @((firstQuestion) ? "class=active" : "")><a data-toggle="tab" href="#@type.ID">@type.Type</a></li>

                    firstQuestion = false;
                }

                @{
                    firstQuestion = true;
                }
            </ul>

            <div class="tab-content">
                @foreach (var type in types)
                {
                    var firstQuestionModel = Model.FirstOrDefault(q => q.QuestionTypeID == type.ID);

                    <div id="@type.ID" class="tab-pane fade in @((firstQuestion) ? "active" : "")">
                        <div class="row">                            
                            <div class="col-md-6">
                                <h3 class="text-center">Pytania</h3>
                                <hr />
                                <form class="form-inline pytania-form-for-connect" style="margin: 15px">
                                    <div class="form-group" style="margin-right: 5px;">
                                        <label>Pytanie</label>
                                        <input type="text" class="form-control" tabindex="1" name="QuestionPol" />
                                    </div>
                                    <div class="form-group">
                                        <label>Tłumaczenie</label>
                                        <input type="text" class="form-control" tabindex="2" name="QuestionTranslate" />
                                    </div>
                                    <input type="hidden" name="QuestionTypeID" value="@type.ID" />
                                    <button type="submit" class="btn btn-default" tabindex="3">Dodaj</button>
                                </form>
                                <table id="tab-pytania-@type.ID" class="table table-bordered table-hover" style="margin: 20px 5px;">
                                    <thead>
                                        <tr>
                                            <th width="50px"></th>
                                            <th style="width: 50%;">Pytanie</th>
                                            <th style="width: 50%;">Tłumaczenie</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var question in Model.Where(q => q.QuestionTypeID == type.ID))
                                        {
                                            <tr class="tr-clickable @((question.ID == firstQuestionModel.ID) ? "selected" : "") question question-@question.ID" data-id="@question.ID" data-type-id="@type.ID" data-is-connect="true">
                                                <td><input type="checkbox" class="minimal-break" onchange="ConnectQuestionToProduct(@question.ID, @product.Id)" @((product_questions.Any(q => q.QuestionID == question.ID) ? "checked" : ""))/></td>
                                                <td>@question.QuestionPol</td>
                                                <td>@question.QuestionTranslate</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <h3 class="text-center">Odpowiedzi</h3>
                                <hr />
                                <form class="form-inline odpowiedzi-form-for-connect" style="margin: 15px">
                                    <div class="row">
                                        <div class="form-group pull-right">
                                            <label>Tłumaczenie</label>
                                            <input type="text" class="form-control" tabindex="5" name="AnswerTranslate" />
                                        </div>
                                        <div class="form-group pull-right" style="margin-right: 5px;">
                                            <label>Odpowiedź</label>
                                            <input type="text" class="form-control" tabindex="4" name="AnswerPol" />
                                            <br />
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 15px;">
                                        <button type="submit" class="btn btn-default pull-right" tabindex="7" @((firstQuestionModel != null) ? "" : "disabled")>Dodaj</button>
                                        <div class="form-group pull-right" style="margin-right: 10px;">
                                            <label>
                                                Błąd
                                                <input type="checkbox" class="minimal" name="isError" value="True" />
                                            </label>
                                        </div>
                                        <div class="form-group pull-right" style="margin-right: 10px;">
                                            <label>
                                                Nie dotyczy
                                                <input type="checkbox" class="minimal" name="IsNotApplicable" value="True" />
                                            </label>
                                        </div>
                                        <div class="form-group pull-right" style="margin-right: 5px;">
                                            <label>Info</label>
                                            <select class="form-control select2" tabindex="6" name="ExtraFields">
                                                <option value="none">Brak info</option>
                                                <option value="ntt">Bez tłumaczenia</option>
                                                <option value="tt">Do tłumaczenia</option>
                                            </select>
                                        </div>
                                        <input id="question-hidden-input" type="hidden" name="QuestionID" value="@((firstQuestionModel != null) ? firstQuestionModel.ID : -1)" />
                                    </div>
                                </form>
                                <table id="tab-odpowiedzi" class="table table-bordered table-hover" data-question-id="@((firstQuestionModel != null) ? firstQuestionModel.ID : -1)" style="margin: 20px 5px;">
                                    <thead>
                                        <tr>
                                            <th style="width: 20%;">Odpowiedź</th>
                                            <th style="width: 20%;">Tłumaczenie</th>
                                            <th style="width: 15%;">Info</th>
                                            <th style="width: 20%;">Nie dotyczy</th>
                                            <th style="width: 20%;">Błąd</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var answer in answersForFirstQuestion[type.ID])
                                        {
                                        <tr class="question-@answer.QuestionID answer-@answer.ID">
                                            <td>@answer.AnswerPol</td>
                                            <td>@answer.AnswerTranslate</td>
                                            <td>@answer.ExtraField_Get</td>
                                            <td>@answer.IsNotApplicable_Get</td>
                                            <td>@answer.IsError_Get</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    firstQuestion = false;
                }
            </div>
        </div>
    </div>
</section>