﻿@using ACSystem.Core.Models
@using ACSystem.Core
@model ICollection<UserChangeLog>

<div class="tab-pane table-responsive no-padding" id="tab-log">
    <table class="table table-bordered table-pagination">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Wiadomość</th>
                <th>Użytkownik</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var o in Model)
                {
                    <tr>
                        <td>@o.Timestamp.ToString()</td>
                        <td>@o.Message</td>
                        <td>@o.ChangeUser.UserName</td>                        
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
