﻿@using ACSystem.Core.Models
@using ACSystem.Core
@model IEnumerable<Fitter_Crew>

@{ 
    var fitters = (List<ACSystemUser>)ViewBag.Fitters;
}

<div class="tab-pane table-responsive no-padding" id="tab-crew">
    <div class="row no-margin">
        <form id="supervisor-percents" class="col-md-6 no-margin">
            <input type="hidden" name="SupervisorID" value="@ViewBag.UserID" />
            <fieldset>
                <legend>Stawki procentowe</legend>
                <div class="form-group col-xs-12 col-md-6">
                    <label class="control-label">Firma</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="CompanyPercent" id="CompanyPercent" value="@ViewBag.CompanyPercent"/>
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-md-6">
                    <label class="control-label">Monter</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="FitterPercent" id="FitterPercent" value="@ViewBag.FitterPercent" />
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-md-6 col-md-offset-6">
                    <button type="submit" class="btn btn-primary btn-block">ZAPISZ</button>
                </div>
            </fieldset>
        </form>
        <form id="add-crew-member" class="col-md-6">
            <input type="hidden" name="SupervisorID" value="@ViewBag.UserID" />
            <fieldset>
                <legend>Dodaj członka ekipy</legend>
                <div class="form-group col-xs-12 col-md-12">
                    <label class="control-label">Monter</label>
                    <select class="form-control select2" name="MemberID">
                        <option></option>
                        @foreach (var f in fitters)
                        {
                            <option value="@f.Id">@f.FullName</option>
                        }
                    </select>
                </div>
                <div class="form-group col-xs-12 col-md-6 col-md-offset-6">
                    <button type="submit" class="btn btn-primary btn-block">DODAJ</button>
                </div>
            </fieldset>
        </form>
    </div>
    <table class="table table-bordered table-pagination table-hover crew-table">
        <thead>
            <tr>
                <th>Imię i nazwisko</th>
                <th width="30px;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model)
            {
                <tr class="member-id-@m.ID">
                    <td>@m.Member.FullName</td>
                    <td>
                        <a class="text-danger text-center delete-member cursor-pointer" data-member-id="@m.ID" title="Usuń"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $("#add-crew-member").submit(function (e) {
            var data = $(this).serialize();

            var successFn = function (data) {
                if (data.success) {
                    var option = $('option[value="' + data.MemberID + '"]')
                    var fullName = option.html();
                    var row = '<tr class="member-id-' + data.DataID + '"><td>' + fullName + '</td><td><a class="text-danger delete-member cursor-pointer" data-member-id="' + data.DataID + '" title="Usuń"><i class="fa fa-times"></i></a></td></tr>';
                    toastr.success("Pomyślnie dodano członka ekipy.");
                    option.remove();
                }
                else
                    toastr.error(data.error);

                $(".crew-table").append(row);
            }

            var errorFn = function () {
                toastr.error("Wystąpił błąd podczas dodawania członka ekipy.");
            }

            GetAjaxWithFunctions("/Account/AddCrewMember", "POST", data, successFn, errorFn, "");

            e.preventDefault();
        });

        $("#supervisor-percents").submit(function (e) {
            var data = $(this).serialize();

            var successFn = function (data) {
                if (data.success)
                    toastr.success("Pomyślnie zapisano stawki.");
                else
                    toastr.error(data.error);
            }

            var errorFn = function () {
                toastr.error("Wystąpił błąd podczas zapisywania stawek.");
            }

            GetAjaxWithFunctions("/Account/SupervisorPercents", "POST", data, successFn, errorFn, "");

            e.preventDefault();
        });
    });

    $(document).on("click", ".delete-member", function () {
        var id = $(this).data("member-id");

        var successFn = function (data) {
            if (data.success) {
                $(".member-id-" + id).remove();
                toastr.success("Pomyślnie usunięto członka ekipy.");
            }
            else
                toastr.error(data.error);
        }

        var errorFn = function () {
            toastr.error("Wystąpił błąd podczas usuwania członka.");
        }

        var fn = function () { GetAjaxWithFunctions("/Account/DeleteCrewMember", "POST", { id }, successFn, errorFn, ""); };

        Confirm("Czy na pewno chcesz usunąć członka ekipy?", fn);
    });
</script>