﻿@using ACSystem.Core.Models
@using ACSystem.Core
@model ICollection<UserDocuments>

<div class="tab-pane table-responsive no-padding" id="tab-docs">
    <form action="/Account/UploadDocument" class="file-dropzone" data-id="@ViewBag.UserID">
        <div class="dz-default dz-message"><span>Upuśc pliki lub kliknij by dodać plik</span></div>
    </form>
    <table class="table table-bordered table-pagination documents-table">
        <thead>
            <tr>
                <th>Opis</th>
                <th width="150px">Pokaż monterowi</th>
                <th width="100px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(UserDocuments doc in Model) {
                <tr id="document-row-@doc.ID">
                    <td>
                        <input type="text" class="form-control" id="document-description-@doc.ID" value="@doc.DocumentDescription" />
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        <input type="checkbox" class="document-visible-@doc.ID" value="True" @((doc.ShowToUser) ? "checked" : "") />
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        <a class="text-success text-center save-document cursor-pointer" data-id="@doc.ID" title="Zapisz"><i class="fa fa-check"></i></a>
                        <a class="text-primary text-center cursor-pointer" href="@doc.URL" title="Pobierz" target="_blank"><i class="fa fa-download"></i></a>
                        <a class="text-danger text-center delete-document cursor-pointer" data-id="@doc.ID" title="Usuń"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
