﻿@using ACSystem.Core.Models
@using ACSystem.Core
@model ACSystemUser

@{ 
    var data = Model.Inventory_Fitter.Where(q => q.Inventory.Status != InventoryStatus.Deleted && q.Inventory.Status != InventoryStatus.Sold && q.PutDate.HasValue == false).Select(q => q.Inventory).ToList();

    foreach (var d in Model.InventoryList.Where(q => q.Status != InventoryStatus.Deleted && q.Status != InventoryStatus.Sold))
    {
        if (data.Any(q => q.ID == d.ID) == false)
        { data.Add(d); }
    }
}

<div class="tab-pane table-responsive no-padding active" id="tab-inventory">
    <table class="table table-bordered table-pagination">
        <thead>
            <tr>
                <th>Numer ew. "S"</th>
                <th>Numer ew. "T"</th>
                <th>Typ</th>
                <th>Marka</th>
                <th>Status</th>
                <th>Magazyn</th>
                <th>Projekt</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var o in data)
                {
                    <tr>
                        <td>@((!string.IsNullOrEmpty(o.EvidenceNumber)) ? $"S-{@o.EvidenceNumber}" : "")</td>
                        <td>@((!string.IsNullOrEmpty(o.EvidenceNumber2)) ? $"T-{@o.EvidenceNumber2}" : "")</td>
                        <td>@o.Type.Name</td>
                        <td>@o.Mark</td>
                        <td>
                            @switch (o.Status)
                            {
                                case InventoryStatus.Busy:
                                    <span class="label label-warning">Zajęte</span>
                                    break;
                                case InventoryStatus.Free:
                                    <span class="label label-success">Dostępne</span>
                                    break;
                                case InventoryStatus.Deleted:
                                    <span class="label label-danger">Skasowane</span>
                                    break;
                                case InventoryStatus.Sold:
                                    <span class="label label-default">Sprzedane</span>
                                    break;
                            }
                        </td>
                        <td>@((o.Warehouse != null) ? $"{o.Warehouse.Street}, {o.Warehouse.City}, {o.Warehouse.Country}" : "")</td>
                        <td><a href="/Projects/Details/@((o.Project != null) ? o.Project.Id : -1)">@((o.Project != null) ? o.Project.ProjectNumber : "")</a></td>
                        <td>
                            <div class="crud-container">
                                <a class="crud crud-details" href="/Inventory/Details/@o.ID" data-toggle="tooltip" , data-placement="bottom" title="Szczegóły"><i class="glyphicon glyphicon-eye-open"></i></a>

                                @if (o.OwnerType != InventoryOwnerType.Private)
                                {
                                    <span data-toggle="tooltip" data-placement="bottom" title="Zwolnij" data-inventory-id="@o.ID" class="crud crud-delete-fitter free-inventory"><i class="fa fa-user-times"></i></span>
                                }
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
