﻿@model ACSystem.Core.Models.Tasks
@using ACSystem.Core.Models;
@using ACSystem.Core;
@using Microsoft.AspNet.Identity

@section Styles {
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
    <style>
        .select2-container {
            color: #333 !important;
        }
    </style>
}

@section Scripts{
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    <script>
        $(document).ready(function() {
            $("#TaskSaveAndGet").click(function() {
                $("#GetTaskHidden").val("True");
                $("form").submit();
            });

            $(".select2").select2();
        });
    </script>
    @Scripts.Render("~/Scripts/Site/Generals.js")
    @Scripts.Render("~/Scripts/Site/TaskAdd.js")
}

@{    
    var product = (Products)ViewBag.Product;
    var projectsList = (List<ACSystem.Core.Models.ViewModels.Select.ProjectsSelect>)ViewBag.ProjectsList;
    var apartmentsList = (List<ACSystem.Core.Models.ViewModels.Select.ApartmentsSelect>)ViewBag.ApartmentsList;
    var productsList = (List<Products>)ViewBag.ProductsList;
    var isSetProductsList = (bool)ViewBag.IsSetProductsList;

    Model.StartDate = DateTime.Now.AddHours(-3);
    Model.EndDate = DateTime.Now;
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">DODAJ ZADANIE</h3>
    </div>
    
    @using (Html.BeginForm("AddServiceTask", "Projects", FormMethod.Post, new { role = "form" }))
    {
    <div class="box-body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.PercentType1)
        @Html.HiddenFor(m => m.PercentType2)
        @Html.HiddenFor(m => m.PercentType3)
        @Html.HiddenFor(m => m.PercentType4)
        @Html.HiddenFor(m => m.PercentType5)
        @Html.HiddenFor(m => m.PercentType6)
        @Html.HiddenFor(m => m.ProductPrice)
                @Html.HiddenFor(m => m.Todo, new { @Value = true })
                @Html.HiddenFor(m => m.Status, (int)TaskStatus.Free)
        <p class="text-danger">@ViewBag.Error</p>
        <div class="form-group" style="padding-left: 0">
            <label class="control-label">Rodzaj serwisu</label>
            <select class="form-control select2" name="Production" id="Production" data-placeholder="Wybierz rodzaj seriwsu"  style="width: 100%;">
                <option value="2">Reklamacja</option>
                <option value="1">Gwarancja</option>
            </select>
        </div>
        <div class="form-group" style="padding-left: 0">
            <label class="control-label" for="ProjectId">Projekt</label>
            <select class="form-control projects-load select2" name="ProjectId" id="ProjectId" data-placeholder="Wybierz projekt" style="width: 100%;" data-filtr="1">
                @if (isSetProductsList == true)
                {
                    foreach (var pm in projectsList)
                    {
                        <option value="@pm.ID" @if (Model.Apartment != null && pm.ID == Model.Apartment.ProjectId) { Write("selected"); }>@pm.ProjectNumber</option>
                    }
                }
            </select>
        </div>
        <div class="form-group" style="padding-left: 0">
            <label class="control-label" for="ApartmentId">Mieszkanie</label>
            <select class="form-control apartments-load select2" name="ApartmentId" id="ApartmentId" data-placeholder="Wybierz mieszkanie" style="width: 100%;">

                @foreach (var pm in apartmentsList)
                {
                    <option value="@pm.ID" @if (pm.ID == Model.ApartmentId) { Write("selected"); }>@pm.ApartmentNumber</option>
                }
            </select>
        </div>
        <div class="form-group" style="padding-left: 0">
            <label class="control-label" for="Products">Produkt</label>
            <select class="form-control product-load select2" name="ProductId" id="ProductId" data-placeholder="Wybierz produkt" style="width: 100%;">
                @if (isSetProductsList == true)
                {
                    foreach (var pm in productsList.Where(q => q.IsActive == true))
                    {
                        if (pm.Product_Project.Any(q => q.ProjectID == Model.Apartment?.ProjectId) || pm.ForAllProjects)
                        {
                            <option value="@pm.Id" @if (pm.Id == Model.ProductId) { Write("selected"); }>@pm.Name</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="form-group col-xs-4 col-xs-offset-8" style="padding-right: 0; float: left;">
            <label for="Price">Ilość</label>
            <div class="input-group product-load">
                @Html.TextBoxFor(m => m.ProductCount, new { @class = "form-control", placeholder = "Podaj ilość", type = "number", min = "1", @Value = 1, disabled = true})
                <span class="input-group-addon" id="product-jm">@product.Jm</span>
            </div>
        </div>
        <div class="form-group col-xs-6" style="padding-left: 0;">
            <label for="DateStart">Data rozpoczęcia</label>
            @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control date-time", @Value = Model.StartDate.ToString("yyyy-MM-dd HH:mm") })
        </div>
        <div class="form-group col-xs-6" style="padding-right: 0;">
            <label for="DateStart">Data zakończenia</label>
            @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control date-time", @Value = Model.EndDate.ToString("yyyy-MM-dd HH:mm") })
        </div>
        <div class="form-group">
            <label for="Description">Opis zadania</label>
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label for="Description">Opis do faktury</label>
            @Html.TextAreaFor(m => m.InvoiceDescriptionPL, new { @class = "form-control" })
        </div>
        <div class="fileUpload btn btn-sm btn-like-bg task-photo">
            <span>DODAJ ZDJĘCIE PRZED</span>
            <input type="file" class="upload" id="task-img" name="patch-img" accept="image/*" />
        </div>
        <div class="col-md-12" style="margin-bottom: 20px;">
            <h4>Pytania kontrolne</h4>
            <div class="col-xs-12 pull-right">
                <div class="input-group pull-right col-xs-7">
                    <input type="text" class="description-question form-control" placeholder="Opis" />
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-primary add-service-element"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <div class="form-group pull-right col-xs-5">
                    <select class="select2 form-control select-question-name">
                        @foreach (var q in Model.Task_Questions.QuestionsNames)
                        {
                            <option value="@q">@q</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-xs-12 added-questions">

            </div>
        </div>

    </div>
    <div class="box-footer">
        <a href="/" class="btn btn-default pull-left">Anuluj</a>
        <button type="submit" class="btn btn-primary product-load" id="TaskSave">Zapisz</button>        
        <input type="hidden" name="GetTask" id="GetTaskHidden" value="False" />
        <button type="button" class="btn btn-primary product-load" id="TaskSaveAndGet" @if (ViewBag.IsFitterbusy) { Write("disabled"); }>Zapisz i pobierz</button>
    </div>
    }
</div>