﻿@using Microsoft.AspNet.Identity
@using ACSystem.Core
@using ACSystem.Core.Models
@model Dictionary<string, List<Projects>>

@{
    ViewBag.Title = "Projekty - zadania";
    var user = (ACSystemUser)ViewBag.User;
}

@section Scripts {
    <script>
        $(document).on('click', '#filtruj', function () {
            var city = $('#project-city').val();
            var number = $('#project-number').val();
            var showHistory = $('#show-history').is(':checked');

            location.assign("/Projects/@ViewBag.Page?city=" +
                city +
                "&number=" +
                number +
                '&showHistory=' +
                showHistory);
        })
    </script>
}

<div class="box box-default">
    <div class="box-body">
        <div class="form-group">
            <input class="form-control" id="project-city" placeholder="Miasto" value="@ViewBag.City"/>
        </div>
        <div class="form-group">
            <input class="form-control" id="project-number" placeholder="Numer Projektu" value="@ViewBag.Number"/>
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" id="show-history" @if (ViewBag.ShowHistory) { Write("checked"); }/>
                Pokaż wszystko
            </label>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-block btn-like-bg" id="filtruj">Filtruj</button>
        </div>
    </div>
</div>

<div class="box box-default">
    <div class="box-header">
        <h4 class="box-title">PROJEKTY</h4>
    </div>
    <div class="box-body">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @if (!((user.FirstDoService ?? false) && (Model["service"].Count() > 0)))
                {
                <li class="active"><a href="#tab-all" data-toggle="tab">WSZYSTKIE</a></li>
                <li><a href="#tab-dev" data-toggle="tab">PRODUKCYJNE</a></li>
                }
                <li @((!((user.FirstDoService ?? false) && Model["service"].Count() > 0)) ? "" : "class=active")><a href="#tab-ser" data-toggle="tab">SERWISOWE</a></li>
            </ul>
            <div class="tab-content">

                @if (!((user.FirstDoService ?? false) && Model["service"].Count() > 0))
                {
                    ViewBag.Tab = "all";
                    ViewBag.Active = "active";

                    @Html.Partial("Partials/AvailableTasks_Projects", Model["all"]);

                    ViewBag.Tab = "dev";
                    ViewBag.Active = "";

                    @Html.Partial("Partials/AvailableTasks_Projects", Model["developer"]);
                }

                @{
                    ViewBag.Tab = "ser";
                    ViewBag.Active = (!((user.FirstDoService ?? false) && Model["service"].Count() > 0)) ? "" : "active";
                }
                @Html.Partial("Partials/AvailableTasks_Projects", Model["service"])
            </div>
        </div>
    </div>
</div>