﻿
@{
    ViewBag.Title = "ChooseToAddTask";
}

<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">WYBIERZ RODZAJ ZADANIA</h3>
    </div>
    <div class="box-body text-center">
        <div class="form-group">
            <a href="/Projects/AddTask" class="btn btn-like-bg">ZADANIE PRODUKCYJNE</a>
        </div>

        <div class="form-group">
            <a href="/Projects/AddServiceKitchenTask" class="btn btn-like-bg">SERWIS - KUCHNIA</a>
        </div>

        <div class="form-group">
            <a href="/Projects/AddServiceConstructionTask" class="btn btn-like-bg">SERWIS - BUDOWLANE</a>
        </div>
    </div>
</div>

