﻿@model ACSystem.Core.Models.Tasks
@using ACSystem.Core.Models.ViewModels.Select
@using ACSystem.Core
@using ACSystem.Core.Models
@using ACSystem.Core.Extensions

@section Scripts{
    <script>
        var isKitchen = @((Model?.Product.ProductType == TaskType.Kitchen).ToString().ToLower());
    </script>
    @if (Model == null) {
        <script>
            location.href = "/";
        </script>
    }
    @Scripts.Render("~/Scripts/Site/Task.js")
}

@{
    ViewBag.Title = "Aktualne zadanie";

    var freeFitters = (List<FittersSelect>)ViewBag.FreeFitters;

    var currentFitter = (Fitters)ViewBag.Fitter;
    var lastStatus = Model.Task_Fitter.OrderByDescending(q => q.Timestamp).FirstOrDefault(q => q.Status != TaskStatus.UnderWork)?.Status ?? TaskStatus.Free;

    decimal procent = 0;
    decimal stawka = 0;

    if (Model != null)
    {
        switch (currentFitter.PercentType)
        {
            case 1:
                procent = Model.PercentType1;
                break;
            case 2:
                procent = Model.PercentType2;
                break;
            case 3:
                procent = Model.PercentType3;
                break;
            case 4:
                procent = Model.PercentType4;
                break;
            case 5:
                procent = Model.PercentType5;
                break;
            case 6:
                procent = Model.PercentType6;
                break;
            default:
                procent = 0;
                break;
        }

        procent = procent / 100;

        stawka = Model.ProductPrice * procent;
    }
}

 @if (ViewBag.Error != null)
{
    <div class="error-content col-md-12">
        <p>@ViewBag.Error</p>
    </div>
}

@if (Model != null)
{
    <h3 class="text-center text-uppercase">Aktualne zadanie</h3>

    <div class="box box-primary">
        <div class="box-header">
            @if (ViewBag.UserID == Model.Leader)
            {
                <button type="button" class="btn btn-like-bg pull-right add-fitter">Dodaj montera</button>
            }
        </div>
        <div class="box-body">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Nr. projektu</th>
                        <td>@Model.Apartment.Project.ProjectNumber</td>
                    </tr>
                    <tr>
                        <th>Klatka</th>
                        <td>@Model.Apartment.Cage</td>
                    </tr>
                    <tr>
                        <th>Adres</th>
                        <td><a target="_blank" href="https://www.google.com/maps/dir/?api=1&origin=VALLDA, Szwecja&destination=@Model.Apartment.Project.Street, @Model.Apartment.Project.City">@Model.Apartment.Project.Street, @Model.Apartment.Project.City <i class="fa fa-eye"></i></a></td>
                    </tr>
                    <tr>
                        <th>Nr. apartamentu</th>
                        <td>@Model.Apartment.NumberOfApartment</td>
                    </tr>
                    <tr>
                        <th>Piętro</th>
                        <td>@Model.Apartment.Floor</td>
                    </tr>
                    <tr>
                        <th>Nazwa produktu</th>
                        <td>@Model.GetTaskName(Model.Apartment.ProjectId) @Model.TaskSufix</td>
                    </tr>
                    <tr>
                        <th>Ilość</th>
                        <td>@{ Write(Model.ProductCount - Model.Task_Fitter.Where(q => q.IsActive).Sum(q => q.WorkDone)); }  @Model.Product.Jm</td>
                    </tr>
                    <tr>
                        <th>Stawka</th>
                        <td>@Math.Ceiling(stawka) kr</td>
                    </tr>
                    <tr>
                        <th>Data rozpoczęcia</th>
                        <td>@Model.StartDate.ToString("yyyy-MM-dd HH:mm")</td>
                    </tr>
                    <tr>
                        <th>Data zakończenia</th>
                        <td>@Model.EndDate.ToString("yyyy-MM-dd HH:mm")</td>
                    </tr>
                    <tr>
                        <th>Opis zadania</th>
                        <td>@Model.Description</td>
                    </tr>
                </tbody>
            </table>

            <div class="col-md-2 col-md-offset-3" style="margin-top: 20px;">
                <a class="btn btn-like-bg btn-block btn-flat" href="/Tools/AddPlaceError?ProjectID=@Model.Apartment.ProjectId&ApartmentID=@Model.ApartmentId&TaskID=@Model.Id&place=task">Dodaj błąd</a>
            </div>
            <div class="col-md-2" style="margin-top: 20px;">
                <a class="btn btn-like-bg btn-block btn-flat" href="/Apartment/Details/@Model.ApartmentId">Wróc do apartamentu</a>
            </div>
            <div class="col-md-2" style="margin-top: 20px;">
                <a class="btn btn-like-bg btn-block btn-flat" href="/Projects/Project?id=@Model.Apartment.ProjectId&showHistory=False">Wróc do projektu</a>
            </div>
        </div>
        <div class="box-footer text-center">
            <div class="form-group">
                <label class="control-label">
                    Data i godzina aktywności
                </label>
                <input type="text" class="form-control date-time" id="activity-datetime" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" />
            </div>
            @if (ViewBag.UserID == Model.Leader && Model.Production == TaskProduction.Developer)
            {
                <div class="form-group col-md-3 col-xs-3">
                    <button type="button" class="btn btn-info developer stop-task allow-block" data-toggle="tooltip" data-placement="bottom" title="Zatrzymaj"><i class="fa fa-hand-stop-o"></i></button>
                </div>
                <div class="form-group col-md-3 col-xs-3">
                    <button type="button" class="btn btn-success developer finish-task allow-block" data-toggle="tooltip" data-placement="bottom" title="Zakończ"><i class="fa fa-check-square-o"></i></button>
                </div>
                <div class="form-group col-md-3 col-xs-3">
                    <button type="button" class="btn btn-danger developer finish-faults-task allow-block" data-toggle="tooltip" data-placement="bottom" title="Zakończ z błędami"><i class="fa fa-times"></i></button>
                </div>
                <div class="form-group col-md-3 col-xs-3">
                    <button type="button" class="btn btn-warning developer place-not-ready allow-block" data-toggle="tooltip" data-placement="bottom" title="Miejsce nie przygotowane"><i class="fa fa-warning"></i></button>
                </div>
            }
            else if (ViewBag.UserID == Model.Leader && Model.Production != TaskProduction.Developer)
            {
                <div class="form-group col-md-3 col-xs-3">
                    <button type="button" class="btn btn-info service stop-task allow-block" data-toggle="tooltip" data-placement="bottom" title="Zatrzymaj"><i class="fa fa-hand-stop-o"></i></button>
                </div>
                <div class="form-group col-md-3 col-xs-3">
                    <button type="button" class="btn btn-success service finish-task allow-block" data-toggle="tooltip" data-placement="bottom" title="Zakończ"><i class="fa fa-check-square-o"></i></button>
                </div>
                <div class="form-group col-md-3 col-xs-3">
                    <button type="button" class="btn btn-danger service finish-faults-task allow-block" data-toggle="tooltip" data-placement="bottom" title="Zakończ z błędami"><i class="fa fa-times"></i></button>
                </div>
                <div class="form-group col-md-3 col-xs-3">
                    <button type="button" class="btn btn-warning service place-not-ready allow-block" data-toggle="tooltip" data-placement="bottom" title="Miejsce nie przygotowane"><i class="fa fa-warning"></i></button>
                </div>
            }
            else
            {
                <button type="button" class="btn btn-like-bg leave-task allow-block">Opuść zadanie</button>
            }
        </div>
    </div>

    <div class="box box-primary collapsed-box">
        <div class="box-header">
            <h3 class="box-title">Opis Projektu</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            @Html.Raw(Model.Apartment.Project.Description)
        </div>
    </div>

    <div class="box box-primary collapsed-box">
        <div class="box-header">
            <h3 class="box-title">Opis Apartamentu</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            @Html.Raw(Model.Apartment.Description)
        </div>
    </div>

    <div class="box box-primary collapsed-box">
        <div class="box-header">
            <h3 class="box-title">Dokumenty</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body table-responsive">
            <table class="table table-bordered documents-table">
                <thead>
                    <tr>
                        <th>DOKUMENTY PROJEKTU</th>
                        <th width="100px" class="text-center">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var doc in Model.Apartment.Project.Documents)
                    {
                        <tr>
                            <td>@doc.FileName</td>
                            <td class="text-center"><a href="/dist/Documents/@doc.FilePath" class="btn btn-sm btn-primary text-center" style="color: white;">Pobierz</a></td>
                        </tr>
                    }
                </tbody>
            </table>
            <table class="table table-bordered documents-table">
                <thead>
                    <tr>
                        <th>DOKUMENTY ZADANIA</th>
                        <th width="100px" class="text-center">

                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var doc in Model.TaskDocuments)
                    {
                        <tr>
                            <td>@doc.FileName</td>
                            <td class="text-center"><a href="/dist/Documents/@doc.FilePath" class="btn btn-sm btn-primary text-center" style="color: white;">Pobierz</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="box box-primary collapsed-box">
        <div class="box-header">
            <h3 class="box-title">Mapa</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <iframe style="width: 100%;" frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com/maps?&amp;q=@Model.Apartment.Project.Street, @Model.Apartment.Project.City&amp;output=embed'></iframe>
        </div>
    </div>

    if (Model.Production == TaskProduction.Developer && ViewBag.UserID == Model.Leader)
    {
        using (Html.BeginForm("CurrentTask", "Projects", FormMethod.Post, new { role = "form", id = "developer-close-task-form" }))
        {
        <input type="hidden" name="activityDateTime" id="activity-datetime-hidden" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" />
        if (Model.Product.ProductType == TaskType.Kitchen && Model.Task_Questions != null)
        {
        <!-- Pytania kontrolne -->
        <div class="box box-primary collapsed-box developer">
            <div class="box-header">
                <h3 class="box-title">Lista akceptacyjna</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                @Html.RaportQuestionRadioButtons(Model.Task_Questions)

                @{
                    var isMachinesSelected = Model.Task_Questions.Machines == TaskQuestionStatus.Tak;
                }

                <div class="form-group question machine hid">
                    @Html.LabelFor(m => m.Task_Questions.Oven, new { @class = "control-label machine hid" })
                    <br />
                    @{
                        string[] checks = { "", "", "checked" };
                        if (!isMachinesSelected) { checks[0] = ""; checks[1] = ""; checks[2] = "checked"; }
                        else if (isMachinesSelected && Model.Task_Questions.Oven == TaskQuestionStatus.Nie) { checks[0] = "checked"; checks[1] = ""; checks[2] = ""; }
                        else if (isMachinesSelected && Model.Task_Questions.Oven == TaskQuestionStatus.Tak) { checks[0] = ""; checks[1] = "checked"; checks[2] = ""; }
                        else if (isMachinesSelected && Model.Task_Questions.Oven == TaskQuestionStatus.Nie_Dotyczy) { checks[0] = ""; checks[1] = ""; checks[2] = "checked"; }

                    }
                    <input type="radio" name="Task_Questions.Oven" id="Task_Questions_Oven" class="question" value="0" @checks[0]/> Nie
                    <input type="radio" name="Task_Questions.Oven" id="Task_Questions_Oven" class="question" value="1"  @checks[1]/> Tak
                    <input type="radio" name="Task_Questions.Oven" id="Task_Questions_Oven" class="question last" value="2" @checks[2] /> Nie dotyczy
                    <br />
                    <div class="fileUpload btn btn-sm btn-like-bg machines-photo" id="Photo_Task_Questions_Oven">
                        <span>DODAJ ZDJĘCIE</span>
                        <input type="file" class="upload" id="question-img" name="question-img" data-question="Oven" accept="image/*" />
                    </div>
                </div>
                <div class="form-group question machine hid">
                    @Html.LabelFor(m => m.Task_Questions.FridgeFreezer1, new { @class = "control-label machine hid" })
                    <br />
                    @{
                        checks[0] = ""; checks[1] = ""; checks[2] = "checked";
                        if (!isMachinesSelected) { checks[0] = ""; checks[1] = ""; checks[2] = "checked"; }
                        else if (isMachinesSelected && Model.Task_Questions.FridgeFreezer1 == TaskQuestionStatus.Nie) { checks[0] = "checked"; checks[1] = ""; checks[2] = ""; }
                        else if (isMachinesSelected && Model.Task_Questions.FridgeFreezer1 == TaskQuestionStatus.Tak) { checks[0] = ""; checks[1] = "checked"; checks[2] = ""; }
                        else if (isMachinesSelected && Model.Task_Questions.FridgeFreezer1 == TaskQuestionStatus.Nie_Dotyczy) { checks[0] = ""; checks[1] = ""; checks[2] = "checked"; }

                    }
                    <input type="radio" name="Task_Questions.FridgeFreezer1" id="Task_Questions_FridgeFreezer1" class="question" value="0"  @checks[0]/> Nie
                    <input type="radio" name="Task_Questions.FridgeFreezer1" id="Task_Questions_FridgeFreezer1" class="question" value="1"  @checks[1]/> Tak
                    <input type="radio" name="Task_Questions.FridgeFreezer1" id="Task_Questions_FridgeFreezer1" class="question" value="2" @checks[2]/> Nie dotyczy
                    <br />
                    <div class="fileUpload btn btn-sm btn-like-bg machines-photo" id="Photo_Task_Questions_FridgeFreezer1">
                        <span>DODAJ ZDJĘCIE</span>
                        <input type="file" class="upload" id="question-img" name="question-img" data-question="FridgeFreezer1" accept="image/*" />
                    </div>
                </div>
                <div class="form-group question machine hid">
                    @Html.LabelFor(m => m.Task_Questions.FridgeFreezer2, new { @class = "control-label machine hid" })
                    <br />
                    @{
                        checks[0] = ""; checks[1] = ""; checks[2] = "checked";
                        if (!isMachinesSelected) { checks[0] = ""; checks[1] = ""; checks[2] = "checked"; }
                        else if (isMachinesSelected && Model.Task_Questions.FridgeFreezer2 == TaskQuestionStatus.Nie) { checks[0] = "checked"; checks[1] = ""; checks[2] = ""; }
                        else if (isMachinesSelected && Model.Task_Questions.FridgeFreezer2 == TaskQuestionStatus.Tak) { checks[0] = ""; checks[1] = "checked"; checks[2] = ""; }
                        else if (isMachinesSelected && Model.Task_Questions.FridgeFreezer2 == TaskQuestionStatus.Nie_Dotyczy) { checks[0] = ""; checks[1] = ""; checks[2] = "checked"; }

                    }
                    <input type="radio" name="Task_Questions.FridgeFreezer2" id="Task_Questions_FridgeFreezer2" class="question" value="0"  @checks[0]/> Nie
                    <input type="radio" name="Task_Questions.FridgeFreezer2" id="Task_Questions_FridgeFreezer2" class="question" value="1"  @checks[1]/> Tak
                    <input type="radio" name="Task_Questions.FridgeFreezer2" id="Task_Questions_FridgeFreezer2" class="question" value="2" @checks[2]/> Nie dotyczy
                    <br />
                    <div class="fileUpload btn btn-sm btn-like-bg machines-photo" id="Photo_Task_Questions_FridgeFreezer2">
                        <span>DODAJ ZDJĘCIE</span>
                        <input type="file" class="upload" id="question-img" name="question-img" data-question="FridgeFreezer2" accept="image/*" />
                    </div>
                </div>
                <div class="form-group question machine hid">
                    @Html.LabelFor(m => m.Task_Questions.Hob, new { @class = "control-label machine hid" })
                    <br />
                    @{
                        checks[0] = ""; checks[1] = ""; checks[2] = "checked";
                        if (!isMachinesSelected) { checks[0] = ""; checks[1] = ""; checks[2] = "checked"; }
                        else if (isMachinesSelected && Model.Task_Questions.Hob == TaskQuestionStatus.Nie) { checks[0] = "checked"; checks[1] = ""; checks[2] = ""; }
                        else if (isMachinesSelected && Model.Task_Questions.Hob == TaskQuestionStatus.Tak) { checks[0] = ""; checks[1] = "checked"; checks[2] = ""; }
                        else if (isMachinesSelected && Model.Task_Questions.Hob == TaskQuestionStatus.Nie_Dotyczy) { checks[0] = ""; checks[1] = ""; checks[2] = "checked"; }

                    }
                    <input type="radio" name="Task_Questions.Hob" id="Task_Questions_Hob" class="question" value="0"  @checks[0]/> Nie
                    <input type="radio" name="Task_Questions.Hob" id="Task_Questions_Hob" class="question" value="1"  @checks[1]/> Tak
                    <input type="radio" name="Task_Questions.Hob" id="Task_Questions_Hob" class="question" value="2" checked/> Nie dotyczy
                    <br />
                    <div class="fileUpload btn btn-sm btn-like-bg machines-photo" id="Photo_Task_Questions_Hob">
                        <span>DODAJ ZDJĘCIE</span>
                        <input type="file" class="upload" id="question-img" name="question-img" data-question="Hob" accept="image/*" />
                    </div>
                </div>
                <div class="form-group question machine hid">
                    @Html.LabelFor(m => m.Task_Questions.Dishwasher, new { @class = "control-label machine hid" })
                    <br />
                    @{
                        checks[0] = ""; checks[1] = ""; checks[2] = "checked";
                        if (!isMachinesSelected) { checks[0] = ""; checks[1] = ""; checks[2] = "checked"; }
                        else if (isMachinesSelected && Model.Task_Questions.Dishwasher == TaskQuestionStatus.Nie) { checks[0] = "checked"; checks[1] = ""; checks[2] = ""; }
                        else if (isMachinesSelected && Model.Task_Questions.Dishwasher == TaskQuestionStatus.Tak) { checks[0] = ""; checks[1] = "checked"; checks[2] = ""; }
                        else if (isMachinesSelected && Model.Task_Questions.Dishwasher == TaskQuestionStatus.Nie_Dotyczy) { checks[0] = ""; checks[1] = ""; checks[2] = "checked"; }

                    }
                    <input type="radio" name="Task_Questions.Dishwasher" id="Task_Questions_Dishwasher" class="question" value="0"  @checks[0]/> Nie
                    <input type="radio" name="Task_Questions.Dishwasher" id="Task_Questions_Dishwasher" class="question" value="1"  @checks[1]/> Tak
                    <input type="radio" name="Task_Questions.Dishwasher" id="Task_Questions_Dishwasher" class="question" value="2" @checks[2]/> Nie dotyczy
                    <br />
                    <div class="fileUpload btn btn-sm btn-like-bg machines-photo" id="Photo_Task_Questions_Dishwasher">
                        <span>DODAJ ZDJĘCIE</span>
                        <input type="file" class="upload" id="question-img" name="question-img" data-question="Dishwasher" accept="image/*" />
                    </div>
                </div>
                <div class="form-group question machine hid">
                    @Html.LabelFor(m => m.Task_Questions.Mikrowave, new { @class = "control-label machine hid" })
                    <br />
                    @{
                        checks[0] = ""; checks[1] = ""; checks[2] = "checked";
                        if (!isMachinesSelected) { checks[0] = ""; checks[1] = ""; checks[2] = "checked"; }
                        else if (isMachinesSelected && Model.Task_Questions.Mikrowave == TaskQuestionStatus.Nie) { checks[0] = "checked"; checks[1] = ""; checks[2] = ""; }
                        else if (isMachinesSelected && Model.Task_Questions.Mikrowave == TaskQuestionStatus.Tak) { checks[0] = ""; checks[1] = "checked"; checks[2] = ""; }
                        else if (isMachinesSelected && Model.Task_Questions.Mikrowave == TaskQuestionStatus.Nie_Dotyczy) { checks[0] = ""; checks[1] = ""; checks[2] = "checked"; }

                    }
                    <input type="radio" name="Task_Questions.Mikrowave" id="Task_Questions_Mikrowave" class="question"  value="0"  @checks[0]/> Nie
                    <input type="radio" name="Task_Questions.Mikrowave" id="Task_Questions_Mikrowave" class="question" value="1"  @checks[1]/> Tak
                    <input type="radio" name="Task_Questions.Mikrowave" id="Task_Questions_Mikrowave" class="question" value="2" @checks[2]/> Nie dotyczy
                    <br />
                    <div class="fileUpload btn btn-sm btn-like-bg machines-photo" id="Photo_Task_Questions_Mikrowave">
                        <span>DODAJ ZDJĘCIE</span>
                        <input type="file" class="upload" id="question-img" name="question-img" data-question="Mikrowave" accept="image/*" />
                    </div>
                </div>
                <div class="form-group question machine hid">
                    @Html.LabelFor(m => m.Task_Questions.Fan, new { @class = "control-label machine hid" })
                    <br />
                    @{
                        checks[0] = ""; checks[1] = ""; checks[2] = "checked";
                        if (!isMachinesSelected) { checks[0] = ""; checks[1] = ""; checks[2] = "checked"; }
                        else if (isMachinesSelected && Model.Task_Questions.Fan == TaskQuestionStatus.Nie) { checks[0] = "checked"; checks[1] = ""; checks[2] = ""; }
                        else if (isMachinesSelected && Model.Task_Questions.Fan == TaskQuestionStatus.Tak) { checks[0] = ""; checks[1] = "checked"; checks[2] = ""; }
                        else if (isMachinesSelected && Model.Task_Questions.Fan == TaskQuestionStatus.Nie_Dotyczy) { checks[0] = ""; checks[1] = ""; checks[2] = "checked"; }

                    }
                    <input type="radio" name="Task_Questions.Fan" id="Task_Questions_Fan" class="question" value="0"  @checks[0]/> Nie
                    <input type="radio" name="Task_Questions.Fan" id="Task_Questions_Fan" class="question" value="1"  @checks[1]/> Tak
                    <input type="radio" name="Task_Questions.Fan" id="Task_Questions_Fan" class="question" value="2" @checks[2]/> Nie dotyczy
                    <br />
                    <div class="fileUpload btn btn-sm btn-like-bg machines-photo" id="Photo_Task_Questions_Fan">
                        <span>DODAJ ZDJĘCIE</span>
                        <input type="file" class="upload" id="question-img" name="question-img" data-question="Fan" accept="image/*" />
                    </div>
                </div>
            </div>
        </div>
        }

        if (Model.Task_Question != null)
        {
            <div class="box box-primary collapsed-box developer">
                <div class="box-header">
                    <h3 class="box-title">Lista akceptacyjna</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-responsive table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Pytanie</th>
                                <th>Odp.</th>
                                <th>Zdj.</th>
                            </tr>
                            <tr>
                                <th colspan="2">Dodatkowe informacje</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Task_Question q in Model.Task_Question)
                            {
                                string photoButtonBlocked = (q.Answer != null && q.Answer.IsError == true) ? "" : "disabled";

                                <tr>
                                    <td>@q.Question.QuestionPol</td>
                                    <td>
                                        @if (q.Question.Answers.Count() > 0)
                                        {
                                            <select name="answers[]" class="form-control answer-select" data-id="@q.ID">
                                                <option>-</option>
                                                @foreach (Answer a in q.Question.Answers)
                                                {
                                                    string answerType = (a.IsError == true) ? "ER" : "OK";
                                                    string isSelected = (a.ID == q.AnswerID) ? "selected" : "";
                                                    <option value="@answerType-@q.ID-@a.ID" @isSelected>@a.AnswerPol</option>
                                                }
                                            </select>
                                        }
                                        else
                                        {
                                            <input type="hidden" name="answers[]" value="OK-@q.ID-brak" />
                                        }
                                    </td>
                                    <td>
                                        <div class="fileUpload btn btn-sm btn-like-bg question-id-@q.ID @photoButtonBlocked">
                                            <span>DODAJ ZDJĘCIE</span>
                                            <input type="file" class="upload" id="question-img" name="question-img" data-question="@q.ID" accept="image/*"/>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <input type="text" class="form-control" name="additionalInformations[]" data-id="@q.ID" value="@q.AdditionalInformation" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

        <!-- Wykonana ilość -->
        <div class="box box-primary collapsed-box developer">
            <div class="box-header">
                <h3 class="box-title">Wykonana ilość</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                @foreach (var fitter in Model.Fitters)
                {
                    <div class="form-group col-md-12" >
                        <label class="control-label text-black">@fitter.User.FullName</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label text-black">Wykonana praca</label>
                        <input type="number" step="0.01" min="0" max="99999" class="form-control done-input" id="done-@fitter.Id" name="done-@fitter.Id" placeholder="0.00" required value="0" />
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label text-black">Czas (h)</label>
                        <input type="number" step="0.5" min="0" max="99999" class="form-control time-input" id="time-@fitter.Id" name="time-@fitter.Id" placeholder="0" required value="0" />
                    </div>
                }
                <input type="hidden" name="ToEnd" id="ToEnd" value="@{ Write((Model.ProductCount - Model.Task_Fitter.Where(q => q.IsActive).Sum(q => q.WorkDone)).ToString().Replace(',', '.')); }" />
                <input type="hidden" name="Status" id="Status" value="2" />

                <label class="control-label text-black error-type">Rodzaj błędu</label>
                <select class="form-control error-type" name="ErrorType" id="ErrorType">
                    <option value="0" selected>Brak</option>
                    <option value="1">Błąd ilościowy</option>
                    <option value="2">Stwórz zadanie uzupełniające</option>
                </select>
            </div>
        </div>
        @Html.Partial("Partials/CurrentTask_AddComment");
        <div class="box box-primary collapsed-box">
            <div class="box-header">
                <h3 class="box-title">Opis do faktury</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="form-group">
                    @Html.TextAreaFor(m => m.InvoiceDescriptionPL, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <!-- Zdjęcia -->
        @Html.Partial("Partials/CurrentTask_AddPhoto");
        }
    }
    else if (Model.Production != TaskProduction.Developer && ViewBag.UserID == Model.Leader)
    {
        using (Html.BeginForm("CurrentTask", "Projects", FormMethod.Post, new { role = "form", id = "service-close-task-form" }))
        {
        if (Model.TaskPatches != null && Model.TaskPatches.Count() > 0)
        {
        <!-- Pytania kontrolne -->
        <div class="box box-primary collapsed-box service">
            <div class="box-header">
                <h3 class="box-title">Pytania kontrolne</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-responsive table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Kod</th>
                            <th>Element</th>
                            <th>Opis</th>
                            <th>Skończone</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var patch in Model.TaskPatches)
                        {
                            if (patch.Done)
                            {
                                 <tr class="task-element-@patch.ID" style="background-color: green; color: white;">
                                    <td>@patch.Code</td>
                                    <td>@patch.ItemTitle (@patch.Room)</td>
                                    <td>@patch.ItemDescription</td>
                                    <td><input type="checkbox" class="patch-checkbox" @if (patch.Done) { Write("checked"); } data-patch-id="@patch.ID" data-patch-status="@patch.Done" disabled/></td>
                                    <td></td>
                                </tr>
                            }
                            else
                            {
                                 <tr class="task-element-@patch.ID">
                                     <td>@patch.Code</td>
                                     <td>@patch.ItemTitle (@patch.Room)</td>
                                     <td>@patch.ItemDescription</td>
                                     <td><input type="checkbox" class="patch-checkbox" @if (patch.Done) { Write("checked"); } data-patch-id="@patch.ID" data-patch-status="@patch.Done" /></td>
                                     <td>
                                         <div class="fileUpload btn btn-sm btn-like-bg patches-photo" id="patch-photo-@patch.ID" style="display: none;">
                                             <span>DODAJ ZDJĘCIE</span>
                                             <input type="file" class="upload" id="patch-img" name="patch-img" data-patch-id="@patch.ID" data-patch-title="@patch.ItemTitle.ToLower().Replace(" ", "_")" accept="image/*" />
                                         </div>
                                     </td>
                                 </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        }
        <!-- Wykonana ilość -->
        <div class="box box-primary collapsed-box service">
            <div class="box-header">
                <h3 class="box-title">Wykonana ilość</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                @foreach (var fitter in Model.Fitters)
                {
                    var countBlock = (Model.TaskPatches != null && Model.TaskPatches.Count() > 0) ? "disabled" : "";
                    var countMax = (Model.TaskPatches != null && Model.TaskPatches.Count() > 0) ? 0 : 99999;

                    <div class="form-group col-md-12">
                        <label class="control-label text-black">@fitter.User.FullName</label>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label text-black">Wykonana praca</label>
                        <input type="number" step="0.01" min="0" max="@countMax" class="form-control done-input not-hidden patch-count-to-add" id="done-@fitter.Id" name="done-@fitter.Id" placeholder="0.00" required value="0" @*@countBlock*@ />
                        @*<input type="hidden" class="patch-count-to-add" name="done-@fitter.Id" value="0" />*@
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label text-black">Czas (h)</label>
                        <input type="number" step="0.5" min="0" max="99999" class="form-control time-input" id="time-@fitter.Id" name="time-@fitter.Id" placeholder="0" required value="0" />
                    </div>
                }
                <div class="form-group col-md-6">
                    <label class="control-label text-black">Odległość (km)</label>
                    <input type="number" step="1" min="0" max="999999" class="form-control" name="Distance" value="0" />
                </div>
                <input type="hidden" name="ToEnd" id="ToEnd" value="@{ Write((Model.ProductCount - Model.Task_Fitter.Where(q => q.IsActive).Sum(q => q.WorkDone)).ToString().Replace(',', '.')); }" />
                <input type="hidden" name="Status" id="Status" value="2" />

                <label class="control-label text-black error-type">Rodzaj błędu</label>
                <select class="form-control error-type" name="ErrorType" id="ErrorType">
                    <option value="0" selected>Brak</option>
                    <option value="1">Błąd ilościowy</option>
                    <option value="2">Stwórz zadanie uzupełniające</option>
                </select>
            </div>
        </div>
        @Html.Partial("Partials/CurrentTask_AddComment");
        <!-- Zdjęcia -->
        @Html.Partial("Partials/CurrentTask_AddPhoto");
        }
    }
    else
    {
        using (Html.BeginForm("LeaveTask", "Projects", FormMethod.Post, new { role = "form", id = "leave-task-form" }))
        {
        <!-- Wykonana ilość -->
        <div class="box box-primary collapsed-box">
            <div class="box-header">
                <h3 class="box-title">Wykonana ilość</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <input type="hidden" name="ToEnd" id="ToEnd" value="@{ Write((Model.ProductCount - Model.Task_Fitter.Where(q => q.IsActive).Sum(q => q.WorkDone)).ToString().Replace(',', '.')); }" />
                <input type="number" step="0.01" min="0" max="99999" class="form-control done-input" id="WorkDone" name="WorkDone" placeholder="0.00" required value="0" />
            </div>
        </div>
        @Html.Partial("Partials/CurrentTask_AddComment");
        <!-- Zdjęcia -->
        @Html.Partial("Partials/CurrentTask_AddPhoto");
        }
    }

    <div id="modal-leave" class="cal-modal cal-modal-form cal-modal-top">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title color-dark">Wykonana ilość</h4>
                </div>
                @using (Html.BeginForm("LeaveTask", "Projects", FormMethod.Post, new { role = "form" }))
                {
                    <div class="modal-body">
                        <input type="number" step="0.01" min="0" max="@{ Write((Model.ProductCount - Model.Task_Fitter.Where(q => q.IsActive).Sum(q => q.WorkDone)).ToString().Replace(',', '.')); }" class="form-control done-input" id="WorkDone" name="WorkDone" placeholder="0.00" required value="0" />

                        <hr />
                        <div class="fileUpload btn btn-sm btn-like-bg">
                            <span>DODAJ ZDJĘCIE</span>
                            <input type="file" class="upload" id="task-img" name="task-img" accept="image/*" />
                        </div>
                        <div id="photos-names" class="photos-names"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-like-bg pull-left" data-dismiss="modal">OK</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <div id="modal-add-fitter" class="cal-modal cal-modal-form cal-modal-top" style="width: 300px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">DODAJ MONTERA</h4>
            </div>
                <div class="modal-body">
                    <input type="hidden" name="TaskID" id="TaskID" value="@Model.Id" />
                    <div class="form-group" style="padding-left: 0">
                        <select class="form-control select2" name="FitterID" id="FitterID" data-placeholder="Wybierz montera" style="width: 100%;" required>
                            @foreach (var fitter in freeFitters)
                            {
                                <option value="@fitter.ID">@fitter.FullName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Anuluj</button>
                    <button type="button" class="btn btn-primary btn-add-fitter">Zapisz</button>
                </div>
        </div>
    </div>
}
else
{
    <h3>Aktualnie żadne zadanie nie jest przypisane!</h3>
}