﻿@model ACSystem.Core.Models.Projects
@using ACSystem.Core.Models;
@using ACSystem.Core;

@{
    ViewBag.Title = "Apartment";

    var fitter = (Fitters)ViewBag.Fitter;

    var availableApartments = new List<Apartments>();
    var apartmentsDeveloper = new List<Apartments>();
    var apartmentsService = new List<Apartments>();

    foreach (var apartment in Model.Apartments.Where(q => q.NumberOfApartment.ToUpper().Contains((string)ViewBag.Number.ToUpper())))
    {
        foreach (var task in apartment.Tasks.Where(q => fitter.User.CanSeeAll || q.Access_User_Task.Count(t => t.UserID.Equals(fitter.Id)) > 0 || q.Apartment.Access_User_Apartment.Count(t => t.UserID.Equals(fitter.Id)) > 0 || q.Apartment.Project.Access_User_Project.Count(t => t.UserID.Equals(fitter.Id)) > 0))
        {
            var productCount = task.ProductCount - task.Task_Fitter.Sum(q => q.WorkDone);

            if ((
                ViewBag.ShowHistory ||
                (task.Status == TaskStatus.Free || task.Status == TaskStatus.Stoped || task.Status == TaskStatus.FinishedWithFaults || (task.Status == TaskStatus.PlaceNotReady && task.Task_Fitter.FirstOrDefault(q => q.Status == TaskStatus.PlaceNotReady) != null && task.Task_Fitter.FirstOrDefault(q => q.Status == TaskStatus.PlaceNotReady).Timestamp.ToString("yyyy-MM-dd") != DateTime.Now.ToString("yyyy-MM-dd")))))
            {
                var ac = availableApartments.Where(q => q.Id == apartment.Id).Count();
                var acDev = apartmentsDeveloper.Where(q => q.Id == apartment.Id).Count();
                var acSer = apartmentsService.Where(q => q.Id == apartment.Id).Count();

                if (fitter.User.UserType == UserType.Wewnetrzny)
                {
                    if (!(ac > 0))
                    {
                        availableApartments.Add(apartment);
                    }

                    if (!(acDev > 0) && task.Production == TaskProduction.Developer && task.Status != TaskStatus.FinishedWithFaults)
                    {
                        apartmentsDeveloper.Add(apartment);
                    }

                    if (!(acSer > 0) && (task.Production != TaskProduction.Developer || task.Status == TaskStatus.FinishedWithFaults))
                    {
                        apartmentsService.Add(apartment);
                    }
                }
                else
                {
                    if (task.Task_AccessGrant.Count(q => q.FitterID == fitter.Id) > 0)
                    {
                        if (!(ac > 0))
                        {
                            availableApartments.Add(apartment);
                        }
                    }

                    if (!(acDev > 0) && task.Production == TaskProduction.Developer)
                    {
                        apartmentsDeveloper.Add(apartment);
                    }

                    if (!(acSer > 0) && task.Production != TaskProduction.Developer)
                    {
                        apartmentsService.Add(apartment);
                    }
                }

            }
        }
    }
}

<div style="font-size: 33px !important;" class="favourite-star favourite-@Model.Id @((fitter.User.FavouriteProjects.Any(q => q.ProjectID == Model.Id)) ? "active active-2 active-3" : "")" data-id="@Model.Id">
    <span class="fa fa-star@((fitter.User.FavouriteProjects.Any(q => q.ProjectID == Model.Id)) ? "" : "-o")"></span>
    <div class="ring"></div>
    <div class="ring2"></div>
</div>
<span style="margin-left: 40px; font-size: 30px; margin-bottom: 10px; font-weight: 500;">Projekt @Model.ProjectNumber</span>

@section Scripts {
    <script>
        $(document).on('click', '#filtruj', function () {
            var number = $('#apartment-number').val();
            var showHistory = $('#show-history').is(':checked');

            location.assign("/Projects/Project?id=" + @Model.Id + "&number=" + number +
                '&showHistory=' +
                showHistory)
        })
    </script>
}

<div class="box box-default">
    <div class="box-body">
        <div class="form-group">
            <input class="form-control" id="apartment-number" placeholder="Numer Mieszkania" value="@ViewBag.Number" />
        </div>
        <div class="form-group">
            <label>
                <input type="checkbox" id="show-history" @if (ViewBag.ShowHistory) { Write("checked"); } />
                Pokaż wszystko
            </label>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-block btn-like-bg" id="filtruj">Filtruj</button>
        </div>
        <div class="col-md-2 col-md-offset-5" style="margin-top: 20px;">
            <a class="btn btn-like-bg btn-block btn-flat" href="/Tools/AddPlaceError?ProjectID=@Model.Id&place=project">Dodaj błąd</a>
        </div>
    </div>
</div>

<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">OPIS PROJEKTU</h3>
    </div>
    <div class="box-body">
        @Html.Raw(Model.Description)
    </div>
</div>

<div class="box box-primary collapsed-box">
    <div class="box-header">
        <h3 class="box-title">Dokumenty</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-bordered documents-table">
            <thead>
                <tr>
                    <th>DOKUMENT</th>
                    <th width="100px" class="text-center">

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var doc in Model.Documents)
            {
                    <tr>
                        <td>@doc.FileName</td>
                        <td class="text-center"><a href="/dist/Documents/@doc.FilePath" class="btn btn-sm btn-primary text-center" style="color: white;">Pobierz</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="box box-primary">
    <div class="box-header">
        <h4 class="box-title">APARTAMENTY</h4>
    </div>
    <div class="box-body">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                @if (!(((Model.FirstDoService ?? false) || (fitter.User.FirstDoService ?? false)) && apartmentsService.Count() > 0))
                {
                <li class="active"><a href="#tab-all" data-toggle="tab">WSZYSTKIE</a></li>
                <li><a href="#tab-dev" data-toggle="tab">PRODUKCYJNE</a></li>
                }
                <li @((!(((Model.FirstDoService ?? false) || (fitter.User.FirstDoService ?? false)) && apartmentsService.Count() > 0)) ? "" : "class=active")><a href="#tab-ser" data-toggle="tab">SERWISOWE</a></li>
            </ul>
            <div class="tab-content">
                @if (!(((Model.FirstDoService ?? false) || (fitter.User.FirstDoService ?? false)) && apartmentsService.Count() > 0))
                {

                    ViewBag.Tab = "all";
                    ViewBag.Active = "active";

                    @Html.Partial("Partials/Project_Apartments", availableApartments);

                    ViewBag.Tab = "dev";
                    ViewBag.Active = "";

                    @Html.Partial("Partials/Project_Apartments", apartmentsDeveloper);
                }
                @{
                    ViewBag.Tab = "ser";
                    ViewBag.Active = (!(((Model.FirstDoService ?? false) || (fitter.User.FirstDoService ?? false)) && apartmentsService.Count() > 0)) ? "" : "active";
                }
                @Html.Partial("Partials/Project_Apartments", apartmentsService)
            </div>
        </div>
    </div>
</div>