﻿@model ACSystem.Core.Models.Tasks
@using ACSystem.Core
@using ACSystem.Core.Extensions
@using ACSystem.Core.Models

@section Scripts{
    @Scripts.Render("~/Scripts/Site/Task.js")
}

@{
    ViewBag.Title = "Task";
    var fitter = (Fitters)ViewBag.Fitter;

    decimal procent = 0;

    switch (fitter.PercentType)
    {
        case 1:
            procent = Model.PercentType1;
            break;
        case 2:
            procent = Model.PercentType2;
            break;
        case 3:
            procent = Model.PercentType3;
            break;
        case 4:
            procent = Model.PercentType4;
            break;
        case 5:
            procent = Model.PercentType5;
            break;
        case 6:
            procent = Model.PercentType6;
            break;
        default:
            procent = 0;
            break;
    }

    procent = procent / 100;

    var stawka = Math.Ceiling(Model.ProductPrice * procent);
}

<div class="box box-primary">
    <div class="box-body">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Nr. projektu</th>
                    <td>@Model.Apartment.Project.ProjectNumber</td>
                </tr>
                <tr>
                    <th>Adres</th>
                    <td>@Model.Apartment.Project.Street, @Model.Apartment.Project.City</td>
                </tr>
                <tr>
                    <th>Klatka</th>
                    <td>@Model.Apartment.Cage</td>
                </tr>
                <tr>
                    <th>Nr. apartamentu</th>
                    <td>@Model.Apartment.NumberOfApartment</td>
                </tr>
                <tr>
                    <th>Piętro</th>
                    <td>@Model.Apartment.Floor</td>
                </tr>
                <tr>
                    <th>Nazwa produktu</th>
                    <td>@Model.GetTaskName(Model.Apartment.ProjectId) @Model.TaskSufix</td>
                </tr>
                <tr>
                    <th>Ilość</th>
                    <td>@{ Write(Model.ProductCount - Model.Task_Fitter.Where(q => q.IsActive).Sum(q => q.WorkDone)); } @Model.Product.Jm</td>
                </tr>
                <tr>
                    <th>Stawka</th>
                    <td>@stawka kr</td>
                </tr>
                <tr>
                    <th>Data rozpoczęcia</th>
                    <td>@Model.StartDate.ToString("yyyy-MM-dd HH:mm")</td>
                </tr>
                <tr>
                    <th>Data zakończenia</th>
                    <td>@Model.EndDate.ToString("yyyy-MM-dd HH:mm")</td>
                </tr>
                <tr>
                    <th>Opis zadania</th>
                    <td>@Model.Description</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>
                        @switch (Model.Status)
                        {
                            case TaskStatus.Free:
                                <span class="label label-default">Dostępne</span>
                                break;
                            case TaskStatus.UnderWork:
                                <span class="label label-warning">W trakcie</span>
                                break;
                            case TaskStatus.Stoped:
                                <span class="label label-info">Zatrzymane</span>
                                break;
                            case TaskStatus.Finished:
                                <span class="label label-success">Zakończone</span>
                                break;
                            case TaskStatus.FinishedWithFaults:
                                <span class="label label-danger">Zakończone z błędami</span>
                                break;
                            case TaskStatus.PlaceNotReady:
                                <span class="label label-primary">Miejsce nieprzygotowane</span>
                                break;
                            case TaskStatus.Planned:
                                <span class="label label-primary">Planowane</span>
                                break;
                            case TaskStatus.NieNasze:
                                <span class="label label-primary">Nie nasze</span>
                                break;
                            case TaskStatus.DoWyjasnienia:
                                <span class="label label-primary">Do wyjaśnienia</span>
                                break;
                        }
                    </td>
                </tr>
                <tr>
                    <th>Aktualni monterzy</th>
                    <td>
                        @foreach (var f in Model.Fitters)
                        {
                            <span>@f.User.FullName &nbsp; &nbsp;</span>
                        }
                    </td>
                </tr>
                <tr>
                    <th>Monterzy</th>
                    <td>
                        @{
                            var fittersHistory = Model.Task_Fitter.GroupBy(q => q.Fitter);

                            foreach (var hist in fittersHistory)
                            {
                                <span>@hist.Key.User.FullName &nbsp; &nbsp;</span>
                            }
                        }
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-md-2 col-md-offset-3" style="margin-top: 20px;">
            <a class="btn btn-like-bg btn-block btn-flat" href="/Tools/AddPlaceError?ProjectID=@Model.Apartment.ProjectId&ApartmentID=@Model.ApartmentId&TaskID=@Model.Id&place=task">Dodaj błąd</a>
        </div>
        <div class="col-md-2" style="margin-top: 20px;">
            <a class="btn btn-like-bg btn-block btn-flat" href="/Apartment/Details/@Model.ApartmentId">Wróc do apartamentu</a>
        </div>
        <div class="col-md-2" style="margin-top: 20px;">
            <a class="btn btn-like-bg btn-block btn-flat" href="/Projects/Project?id=@Model.Apartment.ProjectId&showHistory=False">Wróc do projektu</a>
        </div>
    </div>
    <div class="box-footer">
        @if (ViewBag.IsFitterBusy == false && (Model.Status == TaskStatus.Free || Model.Status == TaskStatus.Stoped || Model.Status == TaskStatus.PlaceNotReady || Model.Status == TaskStatus.FinishedWithFaults))
        {
            <button class="btn btn-like-bg" id="get-task" data-task-id="@Model.Id">Pobierz</button>
        }
        else
        {
            <button class="btn btn-like-bg disabled" id="get-task" data-task-id="@Model.Id">Pobierz</button>
        }
    </div>
</div>

@if (Model.Product.ProductType == TaskType.Kitchen && Model.Production == TaskProduction.Developer && Model.Task_Questions != null)
{
    <div class="box box-primary collapsed-box">
        <div class="box-header">
            <h3 class="box-title">Pytania kontrolne</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body table-responsive">
            <table class="table table-responsive table-bordered table-striped">
                @Html.RaportQuestionsAllStates(Model.Task_Questions)
            </table>
        </div>
    </div>
}
else if (Model.Task_Question != null && Model.Production == TaskProduction.Developer)
{
    <div class="box box-primary collapsed-box">
        <div class="box-header">
            <h3 class="box-title">Pytania kontrolne</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body table-responsive">
            <table class="table table-responsive table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Pytanie</th>
                        <th>Odp.</th>
                    </tr>
                    <tr>
                        <th colspan="2">Dodatkowe informacje</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Task_Question q in Model.Task_Question)
                    {
                        <tr>
                            <td>@q.Question.QuestionPol</td>
                            <td>@((q.AnswerID.HasValue) ? q.Answer.AnswerPol : "-")</td>
                        </tr>
                        <tr>
                            <td colspan="2">@((!string.IsNullOrEmpty(q.AdditionalInformation)) ? q.AdditionalInformation : "-")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else if ((Model.Production == TaskProduction.Complaint || Model.Production == TaskProduction.Warranty) && Model.TaskPatches != null && Model.TaskPatches.Count() > 0)
{
    <div class="box box-primary collapsed-box">
        <div class="box-header">
            <h3 class="box-title">Pytania kontrolne</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body table-responsive">
            <table class="table table-responsive table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Kod</th>
                        <th>Element</th>
                        <th>Opis</th>
                        <th>Skończone</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var patch in Model.TaskPatches)
                    {
                        if (patch.Done)
                        {
                            <tr class="task-element-@patch.ID" style="background-color: green; color: white;">
                                <td>@patch.Code</td>
                                <td>@patch.ItemTitle (@patch.Room)</td>
                                <td>@patch.ItemDescription</td>
                                <td>@if (patch.Done) { Write("TAK"); } else { Write("NIE"); }</td>
                            </tr>
                        }
                        else
                        {
                            <tr class="task-element-@patch.ID">
                                <td>@patch.Code</td>
                                <td>@patch.ItemTitle (@patch.Room)</td>
                                <td>@patch.ItemDescription</td>
                                <td>@if (patch.Done) { Write("TAK"); } else { Write("NIE"); }</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<div class="box box-primary collapsed-box">
    <div class="box-header">
        <h3 class="box-title">Opis Projektu</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        @Html.Raw(Model.Apartment.Project.Description)
    </div>
</div>

<div class="box box-primary collapsed-box">
    <div class="box-header">
        <h3 class="box-title">Opis Apartamentu</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        @Html.Raw(Model.Apartment.Description)
    </div>
</div>

<div class="box box-primary collapsed-box">
    <div class="box-header">
        <h3 class="box-title">Dokumenty</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="box-body table-responsive">
        <table class="table table-bordered documents-table">
            <thead>
                <tr>
                    <th>DOKUMENTY PROJEKTU</th>
                    <th width="100px" class="text-center">

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var doc in Model.Apartment.Project.Documents)
                {
                    <tr>
                        <td>@doc.FileName</td>
                        <td class="text-center"><a href="/dist/Documents/@doc.FilePath" class="btn btn-sm btn-primary text-center" style="color: white;">Pobierz</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <table class="table table-bordered documents-table">
            <thead>
                <tr>
                    <th>DOKUMENTY ZADANIA</th>
                    <th width="100px" class="text-center">

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var doc in Model.TaskDocuments)
                {
                    <tr>
                        <td>@doc.FileName</td>
                        <td class="text-center"><a href="/dist/Documents/@doc.FilePath" class="btn btn-sm btn-primary text-center" style="color: white;">Pobierz</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="box box-primary collapsed-box">
    <div class="box-header">
        <h3 class="box-title">Zdjęcia</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div id="photos" class="gal-container">
            @{
                var i = 0;
            }

            @if (Model.Task_Questions != null)
            {
                foreach (var p in Model.Task_Questions.TaskQuestionPhoto)
                {
                    <div class="col-md-4 col-sm-6 co-xs-12 gal-item photo-@p.Id">
                        <div class="box">
                            <a href="#" data-index="@i">
                                <img src="/dist/Question_Images/@p.Photo">
                            </a>
                            <div id="modal-photos-@i" class="modal-photos modal-photos-multiple">
                                <a href="javascript:void(0);" onclick="Custombox.modal.close();" class="demo-close"><i class="fa fa-times"></i></a>
                                @*<button type="button" class="btn btn-outline btn-info demo-close-btn" onclick="Custombox.modal.close();">Close</button>*@
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img src="/dist/Question_Images/@p.Photo" class="img-responsive">
                                    </div>
                                    <div class="col-md-12 description">
                                        <h4 style="color: black;">@p.Description</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    i++;
                }
            }
            @foreach (var tf in Model.Task_Fitter)
            {
                foreach (var p in tf.Photos)
                {
                    <div class="col-md-4 col-sm-6 co-xs-12 gal-item photo-@p.Id">
                        <div class="box">
                            <a href="#" data-index="@i">
                                <img src="/dist/Task_Images/@p.Photo">
                            </a>
                            <div id="modal-photos-@i" class="modal-photos modal-photos-multiple">
                                <a href="javascript:void(0);" onclick="Custombox.modal.close();" class="demo-close"><i class="fa fa-times"></i></a>
                                @*<button type="button" class="btn btn-outline btn-info demo-close-btn" onclick="Custombox.modal.close();">Close</button>*@
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img src="/dist/Task_Images/@p.Photo" class="img-responsive">
                                    </div>
                                    <div class="col-md-12 description">
                                        <h4 style="color: black;">@p.Desc</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    i++;
                }
            }
        </div>
    </div>
</div>

<div class="box box-primary collapsed-box">
    <div class="box-header">
        <h3 class="box-title">Mapa</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <iframe style="width: 100%;" frameborder='0' scrolling='no' marginheight='0' marginwidth='0' src='https://maps.google.com/maps?&amp;q=@Model.Apartment.Project.Street, @Model.Apartment.Project.City&amp;output=embed'></iframe>
    </div>
</div>





