﻿@model ACSystem.Core.Models.Task_Fitter
@using ACSystem.Core

@{ 
    ViewBag.Title = "Edycja wpisu dziennika aktywności";
    Layout = "~/Views/Shared/Layouts/Popup.cshtml";

    var success = (ViewBag.Success != null && ViewBag.Success == true);
}

@section Scripts {
    @if (success)
    {
        <script>
            if (window.opener != null && !window.opener.closed) {
                var activityRow = window.opener.$("#activity-" + @Model.Id);
                var workDone = window.opener.$("#activityWorkDone-" + @Model.Id);
                var workTime = window.opener.$("#activityWorkTime-" + @Model.Id);
                var status = window.opener.document.getElementById("activity-status-" + @Model.Id);
                var date = window.opener.$("#activity-date-" + @Model.Id);

                var isActive = @(Model.IsActive ? 1 : 0);

                if (isActive && activityRow.hasClass("row-disabled"))
                    activityRow.removeClass("row-disabled");
                else if (!isActive && !activityRow.hasClass("row-disabled"))
                    activityRow.addClass("row-disabled")

                var label = GetStatusLabel(@((int)Model.Status));

                workDone.html(@Model.WorkDone);
                workTime.html(@(Model.WorkTime / 60));
                status.innerHTML = label;
                date.html("@Model.HandDateTime.Value.ToString("yyyy-MM-dd HH:mm")");
            }

            window.close();
        </script>
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal col-xs-8 col-xs-offset-2">
        <h4>Edycja aktywności</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <label class="control-label col-md-2">Wykonana ilość</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkDone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.WorkDone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Czas pracy</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkTimeDecimal, new { htmlAttributes = new { @class = "form-control", @Value = Model.WorkTime / 60 }, @type = "text" })
                @Html.ValidationMessageFor(model => model.WorkTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Status</label>
            <div class="col-md-10">
                <select class="form-control select2" name="Status" id="Status">
                    <option value="@((int)TaskStatus.Stoped)" @if (Model.Status == TaskStatus.Stoped) { Write("selected"); }>Zatrzymane</option>
                    <option value="@((int)TaskStatus.Finished)" @if (Model.Status == TaskStatus.Finished) { Write("selected"); }>Zakończone</option>
                    <option value="@((int)TaskStatus.FinishedWithFaults)" @if (Model.Status == TaskStatus.FinishedWithFaults) { Write("selected"); }>Zakończone z błędami</option>
                    <option value="@((int)TaskStatus.PlaceNotReady)" @if (Model.Status == TaskStatus.PlaceNotReady) { Write("selected"); }>Miejsce nieprzygotowane</option>
                </select> 
                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Data</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.HandDateTime, new { htmlAttributes = new { @class = "form-control date-time", @Value = (Model.HandDateTime.HasValue) ? Model.HandDateTime.Value.ToString("yyyy-MM-dd HH:mm") : Model.Timestamp.ToString("yyyy-MM-dd HH:mm")     } })
                @Html.ValidationMessageFor(model => model.HandDateTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-12">
                Wpis aktywny
                @Html.EditorFor(m => m.IsActive)
            </label>
            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <input type="submit" value="Zapisz" class="btn btn-block btn-primary" />
            </div>
        </div>
    </div>
}
