﻿@using ACSystem.Core.Models

@model ICollection<view_CheckPayrollRateNorm>

@{
    ViewBag.Title = "Różnice stawek";
    ViewBag.Description = "Zestawienie różnic pomiędzy zaplanowanymi a rzeczywistymi stawkami listy płac";
    ViewBag.Active = "Parallel";
    ViewBag.SubActive = "CheckPayrollRateNorm";
}

@section Scripts  {
    <script>
        $(document).ready(function () {
            $(".dont-show").click(function () {
                var ID = $(this).data("payroll-item-id");

                var data = { ID };

                var successFn = function () {
                    $(".tr-" + ID).remove();
                    toastr.success("Pomyślnie oznaczono element listy płac");
                }
                var errorFn = function () {
                    toastr.error("Wystąpił błąd podczas oznaczania elementu listy płac !");
                }

                GetAjaxWithFunctions("/Parallel/DontShowInCheckPayrollRateNorm", "POST", data, successFn, errorFn, "");
            });
            $(".generate-fee").click(function () {
                var ID = $(this).data("payroll-item-id");
                var Diff = $(this).data("diff");

                var data = { ID, Diff };

                var successFn = function () {
                    $(".tr-" + ID).remove();
                    toastr.success("Pomyślnie wygenerowano szkodę dla elementu listy płac");
                }
                var errorFn = function () {
                    toastr.error("Wystąpił błąd podczas generowania szkody dla elementu listy płac !");
                }

                GetAjaxWithFunctions("/Parallel/GenerateFeeFromCheckPayrollRateNorm", "POST", data, successFn, errorFn, "");
            });
        });
    </script>
}

<section class="content">
    <div class="box box-primary">
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-sortable table-hover table-striped">
                <thead>
                    <tr>
                        <th>Lista płac</th>
                        <th>Monter</th>
                        <th>Projekt</th>
                        <th>LGH</th>
                        <th>Zadanie</th>
                        <th>Ilość</th>
                        <th colspan="2">Procent</th>
                        <th colspan="2">Stawka</th>
                        <th>Różnica</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th colspan="6" rowspan="2"></th>
                        <th title="Planowany">P</th>
                        <th title="Rzeczywisty">R</th>
                        <th title="Planowana">P</th>
                        <th title="Rzeczywista">R</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model)
                    {
                        <tr class="tr-@m.PayrollItemID">
                            <td>
                                <a href="/Office/PayrollDetails/@m.PayrollID">@m.PayrollNumber</a>
                            </td>
                            <td>
                                @m.FitterName
                            </td>
                            <td>
                                <a href="/Projects/Details/@m.ProjectID">@m.ProjectNumber</a>
                            </td>
                            <td>
                                <a href="/Projects/ApartmentDetails/@m.ApartmentID">@m.ApartmentNumber</a>
                            </td>
                            <td>
                                <a href="/Task/Details/@m.TaskID">@m.ProductName</a>
                            </td>
                            <td>
                                @m.WorkDone
                            </td>
                            <td>
                                @m.PercentTypeReal%
                            </td>
                            <td>
                                @m.PercentTypePlan%
                            </td>
                            <td>
                                @m.ToPayPlan kr
                            </td>
                            <td>
                                @m.ToPayReal kr
                            </td>
                            <td>
                                @{
                                    var diff = m.ToPayReal - m.ToPayPlan;

                                    var diffSpanClass = (diff * -1 >= 0) ? "success" : "danger";
                                }

                                <span class="text-@diffSpanClass">@(diff * -1) kr</span>
                            </td>
                            <td>
                                <div class="crud-container">
                                    <span data-toggle="tooltip" data-placement="bottom" title="Nie pokazuj" data-payroll-item-id="@m.PayrollItemID" class="crud crud-delete-fitter dont-show"><i class="fa fa-eye-slash"></i></span>
                                    <span data-toggle="tooltip" data-placement="bottom" title="Wygeneruj szkodę" data-payroll-item-id="@m.PayrollItemID" data-diff="@diff" class="crud crud-delete-fitter generate-fee"><i class="fa fa-dollar"></i></span>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>