﻿@using ACSystem.Core.Models

@model ICollection<view_CheckTaskPriceNorm>

@{
    ViewBag.Title = "Różnice cen";
    ViewBag.Description = "Zestawienie różnic pomiędzy zaplanowanymi a rzeczywistymi cenami zadań";
    ViewBag.Active = "Parallel";
    ViewBag.SubActive = "CheckTaskPriceNorm";
}

@section Scripts  {
    <script>
        $(document).ready(function () {
            $(".dont-show").click(function () {
                var ID = $(this).data("task-id");

                var data = { ID };

                var successFn = function () {
                    $(".tr-" + ID).remove();
                    toastr.success("Pomyślnie oznaczono zadanie");
                }
                var errorFn = function () {
                    toastr.error("Wystąpił błąd podczas oznaczania zadania !");
                }

                GetAjaxWithFunctions("/Parallel/DontShowInCheckTaskPriceNorm", "POST", data, successFn, errorFn, "");
            });
        });
    </script>
}

<section class="content">
    <div class="box box-primary">
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-sortable">
                <thead>
                    <tr>
                        <th>Projekt</th>
                        <th>LGH</th>
                        <th>Zadanie</th>
                        <th>Cena rzeczywista</th>
                        <th>Cena planowana</th>
                        <th>Różnica</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model)
                    {
                        <tr class="tr-@m.TaskID">
                            <td>
                                <a href="/Projects/Details/@m.ProjectID">@m.ProjectNumber</a>
                            </td>
                            <td>
                                <a href="/Projects/ApartmentDetails/@m.ApartmentID">@m.LGH</a>
                            </td>
                            <td>
                                <a href="/Tasks/Details/@m.TaskID">@m.ProductName</a>
                            </td>
                            <td>
                                @m.ProductPriceReal kr
                            </td>
                            <td>
                                @m.ProductPricePlanned kr
                            </td>
                            <td>
                                @{
                                    var diff = m.ProductPriceReal - m.ProductPricePlanned;

                                    var diffSpanClass = (diff >= 0) ? "success" : "danger";
                                }

                                <span class="text-@diffSpanClass">@diff kr</span>
                            </td>
                            <td>
                                <div class="crud-container">
                                    <span data-toggle="tooltip" data-placement="bottom" title="Nie pokazuj" data-task-id="@m.TaskID" class="crud crud-delete-fitter dont-show"><i class="fa fa-eye-slash"></i></span>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>