﻿@using ACSystem.Core.Models.ViewModels.Select
@{
    ViewBag.Title = "Zawartość projektu";
    ViewBag.Description = "Zestawienie zawartości i wykonania projektu";
    ViewBag.Active = "Parallel";
    ViewBag.SubActive = "Content";

    var ProjectsList = (List<ProjectsSelect>)ViewBag.ProjectsList;
}

@section Styles {
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    @Scripts.Render("~/Scripts/Site/parallel-content.js")
}

<section class="content">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border" style="padding: 12px;">
                <h3></h3>
                <div class="box-tools pull-right">
                    <select class="form-control select2" id="ProjectID" data-placeholder="Wybierz projekt">
                        <option></option>
                        @foreach (var p in ProjectsList)
                        {
                            <option value="@p.ID">@p.ProjectNumber</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    
    <div id="project-content">
        
    </div>
</section>
