﻿@using ACSystem.Core
@model IEnumerable<ACSystem.Core.Models.Fitters>

@{
    ViewBag.Title = "Lokalizacja monterów";
    ViewBag.Description = "";
    ViewBag.Active = "Parallel";
    ViewBag.SubActive = "FittersLocation";
}

@section Scripts  {
    <script>
        $(document).ready(function () {
            $(".free-fitter").click(function () {
                var data = { ID: $(this).data("fitter-id") };

                var successFn = function () { location.reload(); }
                var errorFn = function () {
                    toastr.error("Wystąpił błąd podczas zwalniania montera !");
                }

                GetAjaxWithFunctions("/Parallel/FreeFitter", "POST", data, successFn, errorFn, "");
            });
        });
    </script>
}

<section class="content">
    <div class="box box-primary">
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-sortable">
                <thead>
                <tr>
                    <th>Imię i nazwisko</th>
                    <th>Projekt</th>
                    <th>Mieszkanie</th>
                    <th>Zadanie</th>
                    <th>Pobrano</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model)
                    {
                        <tr>
                            <td><a href="/Account/Details/@m.Id">@m.User.FullName</a></td>
                            <td><a href="/Projects/Details/@m.Task.Apartment.ProjectId">@m.Task.Apartment.Project.ProjectNumber</a></td>
                            <td><a href="/Projects/ApartmentDetails/@m.Task.ApartmentId">@m.Task.Apartment.NumberOfApartment</a></td>
                            <td>@m.Task.GetTaskName(m.Task.Apartment.ProjectId)</td>
                            <td>

                                @{
                                    var activity = m.Task.Task_Fitter.Where(q => q.Status == TaskStatus.UnderWork).OrderByDescending(q => q.Timestamp).FirstOrDefault();
                                }

                                @if (activity != null)
                                {
                                    @activity.Timestamp.ToString("yyyy-MM-dd HH:mm")
                                }
                            </td>
                            <td>
                                <div class="crud-container">
                                    <span data-toggle="tooltip" data-placement="bottom" title="Zwolnij" data-fitter-id="@m.Id" class="crud crud-delete-fitter free-fitter"><i class="fa fa-user-times"></i></span>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>