﻿@using System.Data.Entity.Core.Objects
@using ACSystem.Core.Models
@model ICollection<ACSystem.Core.Models.Fitters>

@{
    ViewBag.Title = "Zestawienie godzinowe";
    ViewBag.Description = "Zestawienie przepracowanych godzin";
    ViewBag.Active = "Parallel";
    ViewBag.SubActive = "Hours";
}

@section Styles {
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
    <style>
        table tr, table td, table th, table {
            border-color: #333 !important;
            font-size: 10px;
        }

            table td, table th {
                text-align: center;
            }

            table .fitterName {
                text-align: left;
            }

            table th {
                background-color: #ddd;
            }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: #eee;
        }

        td.day-in-payroll {
            padding-left: 0;
            padding-right: 0;
        }

        span.day-in-payroll {
            background: #A5D6A7;
            color: black;
            padding: 0px 4px;
            border-radius: 50%;
        }

        @@media print {
            .box-primary {
                border-top: 0;
            }

            .main-footer {
                display: none;
            }
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    @Scripts.Render("~/Scripts/Site/generals.js")
    <script>
        $(document).ready(function () {
            $('.select2').select2();

            //$('.day-save-btn').click(function () {
            //    var id = $(this).data('id');
            //    var fitter = $(this).data('fitter');

            //    saveDay(id, fitter);
            //});
        });

        $(document).on('click', '.day-save-btn', function () {
            var id = $(this).data('id');
            var fitter = $(this).data('fitter');

            saveDay(id, fitter);
        });

        $(document).on('click', '#edit-btn', function () {
            $('.edit-cell').toggle();
            $('.info-cell').toggle();
        });

        function saveDay(id, fitterId) {
            var hours = $('#hours-' + id).val();
            var freeDay = $('#freeday-' + id).is(':checked');

            var data = {
                id,
                hours,
                freeDay
            };

            $.post('/Parallel/SaveDay', data, function (data) {
                if (data.success) {
                    var text = (freeDay) ? 'W' : hours;
                    $('#hours-info-' + id).text(text);
                    $('#hours-' + id).val(text);
                    calculateFitter(fitterId);
                    toastr.success("Dzień zapisano pomyślnie.");
                }
                else
                    toastr.error("Wystąpił błąd podczas zapisywania dnia!");
            });
        }

        function calculateFitter(id) {
            var hours = 0;

            $('.hours-' + id).each(function () {
                var n = $(this).val().replace(',', '.');
                hours += ($.isNumeric(n)) ? Number(n) : 0;
            });

            $('#hours-sum-' + id).text(hours.toFixed(2).replace('.', ',').replace(',00', ''));
        }
    </script>
}

<section class="content" style="overflow: hidden;">
    <div class="box box-primary" style="overflow: hidden;">
        <div class="box-body table-responsive no-padding" style="overflow: hidden;">
            <div class="col-md-6 pull-left hidden-print" style="margin-top: 10px;">
                <button type="button" class="btn btn-primary btn-flat" onclick="window.print();">DRUKUJ</button>
                <a href="/Parallel/GenerateHours?year=@ViewBag.Year&month=@ViewBag.Month" class="btn btn-primary btn-flat">GENERUJ</a>
                <button type="button" class="btn btn-primary btn-flat" id="edit-btn">EDYTUJ</button>
            </div>
            @using (Html.BeginForm())
            {
                <div class="col-md-4 pull-right col-xs-12 hidden-print" id="filtr-container">
                    <div class="form-group col-xs-3">
                        <label>
                            <select id="select-month" name="Month" class="form-control">
                                @for (var i = 1; i <= 12; i++)
                                {
                                    if (ViewBag.Month == i)
                                    {
                                        <option value="@i" selected>@i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </label>
                    </div>
                    <div class="form-group col-xs-3">
                        <label>
                            <select id="select-year" name="Year" class="form-control">
                                @for (var i = 2017; i <= DateTime.Now.Year; i++)
                                {
                                    if (ViewBag.Year == i)
                                    {
                                        <option value="@i" selected>@i</option>
                                    }
                                    else
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </label>
                    </div>
                    <div class="input-group input-group-sm col-xs-6">
                        <input type="text" name="Search" id="search-table-input" class="form-control pull-right" placeholder="Szukaj">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default" id="search-table-btn"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            }
            <div id="hours-table">
                <h3 class="text-center">Miesiąc @ViewBag.Month, Rok @ViewBag.Year</h3>
                <table id="projects-list" class="table table-bordered table-hover table-striped table-sortable" data-page="1" data-dest="asc" data-order-by="projectNumber" data-filter="0,1,2,3">
                    <thead>
                        <tr>
                            <th class="fitterName">Monter</th>
                            @for (var i = 1; i <= DateTime.DaysInMonth(ViewBag.Year, ViewBag.Month); i++)
                            {
                                <th>@i</th>
                            }
                            <th style="background: #fff176;">&Sigma;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var fitter in Model.Where(q => !q.User.LockoutEnabled))
                        {
                            var user = fitter.User;
                            var hoursSum = 0m;

                        <tr>
                            <td class="fitterName">@user.FullName</td>

                            @for (var i = 1; i <= DateTime.DaysInMonth(ViewBag.Year, ViewBag.Month); i++) {
                                var hours = 0m;
                                var date = new DateTime(int.Parse(ViewBag.Year.ToString()), int.Parse(ViewBag.Month.ToString()), i);
                                var day = user.Fitter_Hours.FirstOrDefault(e => e.Date == date);
                                bool isWeekend = date.DayOfWeek == DayOfWeek.Saturday || date.DayOfWeek == DayOfWeek.Sunday;
                                bool isFreeDay = false;
                                var value = "-";
                                var inPayrollClass = (day != null && day.PayrollID.HasValue) ? "class=day-in-payroll" : "";
                                var payrollTooltip = (day != null && day.Payroll != null) ? $"Lista płac {day.Payroll.GetNumber()}" : "";

                                    if (day != null && !day.PayrollID.HasValue) {
                                        isFreeDay = day.FreeDay;
                                        hours = day.Hours;
                                        hoursSum += hours;
                                        value = (!isFreeDay) ? hours.ToString().Replace(",00", "") : "W";

                                        <td class="edit-cell" title="Dzień @i" @((isWeekend) ? "style=background:#ffab91;display:none" : "style=display:none")>
                                            <input id="hours-@day.ID" class="hours-@day.FitterID" type="text" style="width: 24px; padding: 0; text-align: center;" value="@value" /> @*<span>@hours</span>*@
                                            <div style="display: flex; justify-content: center;">
                                                <input id="freeday-@day.ID" type="checkbox" style="margin: 0;" @((day.FreeDay) ? "checked" : "") />
                                                <button class="day-save-btn" type="button" style="padding:0; height:13px; width:13px; line-height:1;" data-id="@day.ID" data-fitter="@day.FitterID">z</button>
                                            </div>
                                        </td>
                                        <td id="hours-info-@day.ID" class="info-cell" title="Dzień @i" @((isWeekend) ? "style=background:#ffab91;" : "")>
                                            <span>
                                                @value
                                            </span>
                                        </td>
                                    } else {

                                        if (day != null) {
                                            hoursSum += day.Hours;
                                            value = (!day.FreeDay) ? day.Hours.ToString().Replace(",00", "") : "W";
                                        }

                                        <td title="Dzień @i; @payrollTooltip" @((isWeekend) ? "style=background:#ffab91;" : "") @inPayrollClass>
                                            <span @inPayrollClass>
                                                @value
                                            </span>
                                        </td>
                                    }
                            }
                            <td style="background: #fff176;" id="hours-sum-@fitter.Id">@hoursSum.ToString().Replace(",00", "")</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right"></ul>
        </div>
    </div>
</section>
