﻿@using ACSystem.Core
@model IEnumerable<ACSystem.Core.Models.Tasks>

@{
    ViewBag.Title = "Inwentarz";
    ViewBag.Description = "";
    ViewBag.Active = "Parallel";
    ViewBag.SubActive = "Inventory";
}

@section Scripts {
    <script>
        $(".show-report").click(function () {
            var page = $(this).data("page");

            var popup = window.open("/Popup/" + page + "/", "Popup", "width=1000,height=1000");
            popup.focus();
        });
    </script>
}

<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Raport inwentarza</h3>
        </div>
        <div class="box-body">
            <div class="col-md-4" style="margin-top: 20px;">
                <button type="button" id="fitter-list" class="btn btn-flat btn-block btn-primary show-report" data-page="Report_InventoryFitterList">INWENTARZ U MONTERA</button>
            </div>
            <div class="col-md-4" style="margin-top: 20px;">
                <button type="button" id="projects-list" class="btn btn-flat btn-block btn-primary show-report"data-page="Report_InventoryProjectList">INWENTARZ NA PROJEKCIE</button>
            </div>
            <div class="col-md-4" style="margin-top: 20px;">
                <button type="button" id="warehouse-list" class="btn btn-flat btn-block btn-primary show-report"data-page="Report_InventoryWarehouseList">ZAWARTOŚĆ MAGAZYNÓW</button>
            </div>
            <div class="col-md-4" style="margin-top: 20px;">
                <button type="button" id="inventory-list" class="btn btn-flat btn-block btn-primary show-report"data-page="Report_InventoryAllList">WSZYSTKIE MASZYNY</button>
            </div>
            <div class="col-md-4" style="margin-top: 20px;">
                <button type="button" id="lifetime-list" class="btn btn-flat btn-block btn-primary show-report"data-page="Report_InventoryLifetimeList">POZOSTAŁA WARTOŚĆ</button>
            </div>
            <div class="col-md-4" style="margin-top: 20px;">
                <button type="button" id="types-list" class="btn btn-flat btn-block btn-primary show-report"data-page="Report_InventoryTypeList">TYPY MASZYN</button>
            </div>
        </div>
    </div>
</section>