﻿@model ACSystem.Core.Models.ProjectInvoicesPercent

@{
    ViewBag.Title = "Zestawienie procentowe";
    ViewBag.Description = $"{Model.CalcPercent}%";
    ViewBag.Active = "Parallel";
    ViewBag.SubActive = "InvoicePercent";

    var showSave = (ViewBag.ShowSave == null) ? true : ViewBag.ShowSave;
}

@section Scripts {
    <script>
        $("#page-print").click(function () {
            window.print();
        });
    </script>
}

@section Styles {
    <style>
        @@media print {
            button {
                display: none !important;
            }

            .box {
                border-top: 0 !important;
            }

            .main-footer {
                display: none !important;
            }
        }
    </style>    
}

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="col-md-6 text-left">
                <button type="button" class="btn btn-primary" id="page-print">Drukuj</button>
            </div>
            <div class="col-md-6 text-right">
                @if (showSave)
                {
                    using (Html.BeginForm("InvoicePercentCreate", "Parallel", new { role = "form" }))
                    {
                        <input type="hidden" name="ID" value="@Model.ID" />
                        <button type="submit" class="btn btn-primary" title="Zapisz">
                            Zapisz
                        </button>
                    }
                }
                
            </div>
        </div>
        <div class="box-body table-responsive no-padding">            
            <table class="table table-bordered table-sortable">
                <thead>
                    <tr>
                        <td colspan="2">
                            <h3 class="box-title">Zestawienie z dnia: @Model.GenerateDate.ToString("yyyy-MM-dd HH:mm")</h3>
                        </td>
                        <td>
                            <h3 class="box-title">
                                Suma: @Math.Ceiling(Model.AmountSum) SEK
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <th>ID Projektu</th>
                        <th>Nazwa projektu</th>
                        <th>Wyliczony procent</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var elem in Model.Element)
                    {
                        <tr>
                            <td>@elem.ProjectNumber</td>
                            <td>@elem.ProjectName</td>
                            <td>@Math.Ceiling(elem.Amount) SEK</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right"></ul>
        </div>
    </div>
</section>

<div id="modal-project-manager" class="cal-modal cal-modal-form cal-modal-top">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Dane menedżera projektu</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>Imię i nazwisko</dt>
                    <dd id="pm-name"></dd>
                    <dt>Email</dt>
                    <dd id="pm-email"></dd>
                    <dt>Numer telefonu</dt>
                    <dd id="pm-phonenumber"></dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<div id="modal" class="cal-modal cal-modal-form cal-modal-top">

</div>