﻿

@{
    ViewBag.Title = "Procent faktur";
    ViewBag.Description = "Lista";
    ViewBag.Active = "Parallel";
    ViewBag.SubActive = "InvoicePercent";
}

@section Scripts {
    @Scripts.Render("~/Scripts/Site/invoice-percent.js")
}

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">
                <a href="/Parallel/InvoicePercentCreate" class="btn btn-sm btn-primary" title="Dodaj">Dodaj</a>
            </div>
        </div>
        <div class="box-body table-responsive no-padding">            
            <table id="table-list" class="table table-bordered table-sortable" data-page="1" data-dest="desc" data-order-by="date">
                <thead>
                    <tr>
                        <th data-id="date" data-dest="asc" class="clickable">Data generowania</th>
                        <th data-id="amount" data-dest="desc" class="clickable">Suma</th>
                        <th data-id="percent" data-dest="desc" class="clickable">Procent</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right"></ul>
        </div>
    </div>
</section>

