﻿@using ACSystem.Core
@model IEnumerable<ACSystem.Core.Models.Tasks>

@{
    ViewBag.Title = "Zadania ujemne";
    ViewBag.Description = "";
    ViewBag.Active = "Parallel";
    ViewBag.SubActive = "TasksMinus";
}

<section class="content">
    <div class="box box-primary">
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-sortable">
                <thead>
                    <tr>
                        <th>Projekt</th>
                        <th>Mieszkanie</th>
                        <th>Zadanie</th>
                        <th>Do wykonania</th>
                        <th>Wykonano</th>
                        <th>Różnica</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model)
                    {
                        <tr>
                            <td><a href="/Projects/Details/@m.Apartment.ProjectId">@m.Apartment.Project.ProjectNumber</a></td>
                            <td><a href="/Projects/ApartmentDetails/@m.ApartmentId">@m.Apartment.NumberOfApartment</a></td>
                            <td>@m.GetTaskName(m.Apartment.ProjectId) @m.TaskSufix</td>
                            <td>@m.ProductCount</td>
                            <td>@m.Task_Fitter.Where(q => q.IsActive).Sum(q => q.WorkDone)</td>
                            <td>@(m.ProductCount - (m.Task_Fitter.Where(q => q.IsActive).Sum(q => q.WorkDone)))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>