﻿@using ACSystem.Core
@using ACSystem.Core.Models
@using ACSystem.Core.Extensions
@model Product_Project

@{
    List<view_TaskForProductProject> tasks = (List<view_TaskForProductProject>)ViewBag.TasksForProductProject;
    List<view_FitterTasksWorkDone> counts = (List<view_FitterTasksWorkDone>)ViewBag.FittersTasksWorkDone;
}

@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jq-3.3.1/dt-1.10.20/sp-1.0.1/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#tasks-table tfoot th.type').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" />');
            });

            var table = $('#tasks-table').DataTable({
                'language': {
                    'lengthMenu': 'Pokaż _MENU_ rekordów na stronę',
                    'zeroRecords': 'Nie znaleziono żadych rekordów',
                    'info': 'Strona _PAGE_ z _PAGES_',
                    'infoEmpty': 'Brak rekordów',
                    'infoFiltered': '(przeszukano _MAX_ rekordów)',
                    'thousands': ' ',
                    'search': 'Szukaj...',
                    'paginate': {
                        'first': 'Pierwsza',
                        'last': 'Ostatnia',
                        'next': 'Następna',
                        'previous': 'Poprzednia'
                    }
                },
                initComplete: function () {
                    var column = this.api().column(3);
                    var select = $('<select placeholder="Przeszukaj Status"><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());
                            column.search(val ? '^' + val + '$' : '', true, false).draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d + '</option>');
                    });
                }
            });
            table.columns().every(function () {
                var that = this;

                $('input', this.footer()).on('keyup change clear', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });
    </script>
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-3.3.1/dt-1.10.20/sp-1.0.1/datatables.min.css" />
}

@{
    ViewBag.Title = $"Zadania dla produktu {Model.ProductName} w projekcie {Model.ProjectNumber}";
}

<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                <ul class="nav nav-tabs" style="margin-bottom: 20px;">
                    <li class="active"><a href="#tab-tasks" data-toggle="tab">ZADANIA</a></li>
                    <li><a href="#tab-counts" data-toggle="tab">ILOŚCI</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab-tasks">
                        <table id="tasks-table" class="table table-bordered table-hover display" style="width:100%;margin-top:20px;">
                            <thead>
                                <tr>
                                    <th>Mieszkanie</th>
                                    <th>Wykonano</th>
                                    <th>Zadano</th>
                                    <th>Status</th>
                                    <th>Monterzy</th>
                                    <th>Data</th>
                                    <th>Listy płac</th>
                                    <th>Faktury</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(view_TaskForProductProject t in tasks) {
                                    <tr>
                                        <td>@t.ApartmentNumber</td>
                                        <td>@t.WorkDone</td>
                                        <td>@t.ProductCount</td>
                                        <td>@t.Status.GetDescription()</td>
                                        <td>@t.Fitters</td>
                                        <td>@(t.ClosedDate?.ToString("yyyy-MM-dd"))</td>
                                        <td>@t.Payrolls</td>
                                        <td>@t.Invoices</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="type">Mieszkanie</th>
                                    <th class="type">Wykonano</th>
                                    <th class="type">Zadano</th>
                                    <th class="choose">Status</th>
                                    <th class="type">Monterzy</th>
                                    <th class="type">Data</th>
                                    <th class="type">Listy płac</th>
                                    <th class="type">Faktury</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="tab-pane col-md-6" id="tab-counts">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Monter</th>
                                    <th>Wykonana ilość</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(view_FitterTasksWorkDone c in counts) {
                                    <tr>
                                        <td>@c.FullName</td>
                                        <td>@c.WorkDone</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
