﻿@using ACSystem.Core
@using ACSystem.Core.Models.ViewModels

@model Filter_ProjectExcel

@section Styles {
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.select2-states').select2({
                placeholder: "WYBIERZ STATUSY ZADAŃ"
            });

            $('.select2-task-types').select2({
                placeholder: "WYBIERZ RODZAJE ZADAŃ"
            });

            $("#excel-form").submit(function (e) {
                
                var successFn = function (data) {
                    if (data.success) {
                        window.location = '/dist/Reports/' + data.file;
                    }
                    else {
                        toastr.error("Wystąpił błąd podczas generowania pliku excel!");
                    }
                }

                var errorFn = function () {
                    toastr.error("Wystąpił błąd podczas generowania pliku excel!");
                }

                var data = $(this).serialize();

                GetAjaxWithFunctions("/Parallel/TasksInProject_GenerateExcel", "POST", data, successFn, errorFn, "");

                e.preventDefault();
            });
        });
    </script>
}

@{
    ViewBag.Active = "Projects";
    ViewBag.SubActive = "Details";
}

<form role="form" id="excel-form">
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Raport zadań projektu @Model.Project.ProjectNumber</h3>
                <div class="box-tools pull-right">
                    <button type="submit" class="btn btn-primary btn-flat btn-sm">GENERUJ EXCEL</button>
                </div>
            </div>
            <div class="box-body">
                <input type="hidden" name="ProjectID" value="@Model.Project.Id" />
                <div class="col-md-3">
                    <table class="table table-bordered table-tbody-scroll">
                        <thead>
                            <tr>
                                <th style="padding-top: 0;">
                                    <h4 style="margin-bottom: 4px;">
                                        WYBIERZ MIESZKANIA
                                    </h4>
                                </th>
                                <th style="padding-top: 0;" width="65px">
                                    <input type="checkbox" class="check-all" data-type="lgh" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var a in Model.Apartments)
                            {
                                <tr>
                                    <td>@a.NumberOfApartment</td>
                                    <td width="50px">
                                        <input type="checkbox" class="lgh-checkbox" name="Apartments[]" value="@a.Id" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3">
                    <table class="table table-bordered table-tbody-scroll">
                        <thead>
                            <tr>
                                <th style="padding-top: 0;">
                                    <h4 style="margin-bottom: 4px;">
                                        WYBIERZ MONTERÓW
                                    </h4>
                                </th>
                                <th style="padding-top: 0;" width="65px">
                                    <input type="checkbox" class="check-all" data-type="fitter" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var f in Model.Fitters)
                            {
                                <tr>
                                    <td>@f.FullName</td>
                                    <td  width="50px">
                                        <input type="checkbox" class="fitter-checkbox" name="Fitters[]" value="@f.Id" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3">
                    <table class="table table-bordered table-tbody-scroll">
                        <thead>
                            <tr>
                                <th style="padding-top: 0;">
                                    <h4 style="margin-bottom: 4px;">
                                        WYBIERZ PRODUKTY
                                    </h4>
                                </th>
                                <th style="padding-top: 0;" width="65px">
                                    <input type="checkbox" class="check-all" data-type="product" />
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var p in Model.Products)
                            {
                                <tr>
                                    <td>@p.ProductName</td>
                                    <td width="50px">
                                        <input type="checkbox" class="product-checkbox" name="Products[]" value="@p.ProductID" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <select class="form-control select2-states" multiple name="States[]">
                            <option value="@((int)TaskStatus.Free)">Dostępne</option>
                            <option value="@((int)TaskStatus.UnderWork)">W trakcie</option>
                            <option value="@((int)TaskStatus.Stoped)">Zatrzymane</option>
                            <option value="@((int)TaskStatus.PlaceNotReady)">Miejsce nieprzygotowane</option>
                            <option value="@((int)TaskStatus.Planned)">Zaplanowane</option>
                            <option value="@((int)TaskStatus.DoWyjasnienia)">Do wyjaśnienia</option>
                            <option value="@((int)TaskStatus.NieNasze)">Nie nasze</option>
                            <option value="@((int)TaskStatus.FinishedWithFaults)">Zakończone z błędami</option>
                            <option value="@((int)TaskStatus.FinishedWithFaultsCorrected)">Zakończone z błędami (poprawione)</option>
                            <option value="@((int)TaskStatus.Finished)">Zakończone</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control select2-task-types" multiple name="TaskTypes[]">
                            <option value="@((int)TaskProduction.Developer)">Produkcyjne</option>
                            <option value="@((int)TaskProduction.Warranty)">Gwarancyjne</option>
                            <option value="@((int)TaskProduction.Complaint)">Reklamacyjne</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>