﻿@using ACSystem.Core
@using ACSystem.Core.Models.ViewModels
@model IEnumerable<TaskFullViewModel>

@{
    ViewBag.Title = ViewBag.UnacceptedTasks_Header;
    ViewBag.Description = "";
    ViewBag.Active = "Parallel";
    ViewBag.SubActive = "UnacceptedTasks";
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.unaccepted-accept-task').click(function () {
                var id = $(this).data('id');

                var successFn = function (data) {
                    if (data.success) {
                        $('.task-' + id).remove();
                        toastr.success("Pomyślnie zaakceptowano zadanie!");
                    }
                    else {
                        toastr.error("Wystąpił błąd podczas akceptacji zadania!");
                    }
                }

                var errorFn = function () {
                    toastr.error("Wystąpił błąd podczas akceptacji zadania!");
                }

                GetAjaxWithFunctions("/Projects/AcceptTask?id=" + id + "&ajax=True", "GET", null, successFn, errorFn, '');
            });
        })
    </script>
}

<section class="content">
    <div class="box box-primary">
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered table-sortable">
                <thead>
                    <tr>

                        @if (ViewBag.IsForProject == false)
                        {
                            <th>Projekt</th>
                        }
                        <th>Mieszkanie</th>
                        <th>Zadanie</th>
                        <th>Start</th>
                        <th>Do wykonania</th>
                        <th>Cena</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in Model)
                    {
                        <tr class="task-@m.TaskID">
                            @if (ViewBag.IsForProject == false)
                            {
                                <td><a href="/Projects/Details/@m.ProjectId">@m.ProjectNumber</a></td>
                            }
                            <td><a href="/Projects/ApartmentDetails/@m.ApartmentId">@m.ApartmentNumber</a></td>
                            <td><a href="/Task/Details/@m.TaskID">@m.ProductName</a></td>
                            <td>@m.StartDate.ToString("yyyy-MM-dd")</td>
                            <td>@m.ProductCount @m.JM</td>
                            <td>@m.ProductPrice</td>
                            <td>
                                @switch (m.Status)
                                {
                                    case TaskStatus.Free:
                                        <span class='label label-default'>Dostępne</span>
                                        break;
                                    case TaskStatus.UnderWork:
                                        <span class='label label-warning'>W trakcie</span>
                                        break;
                                    case TaskStatus.Stoped:
                                        <span class='label label-info'>Przerwane</span>
                                        break;
                                    case TaskStatus.Finished:
                                        <span class='label label-success'>Zakończone</span>
                                        break;
                                    case TaskStatus.FinishedWithFaults:
                                        <span class='label label-danger'>Zakończone z błędami</span>
                                        break;
                                    case TaskStatus.FinishedWithFaultsCorrected:
                                        <span class='label label-success'>Zakończone z błędami</span>
                                        break;
                                    case TaskStatus.PlaceNotReady:
                                        <span class="label label-primary">Miejsce nieprzygotowane</span>
                                        break;
                                    case TaskStatus.Planned:
                                        <span class="label label-primary">Planowane</span>
                                        break;
                                    case TaskStatus.NieNasze:
                                        <span class="label label-primary">Nie nasze</span>
                                        break;
                                    case TaskStatus.DoWyjasnienia:
                                        <span class="label label-primary">Do wyjaśnienia</span>
                                        break;
                                }
                            </td>
                            <td>
                                <div class="crud-container">
                                    <span data-toggle="tooltip" data-placement="bottom" title="Zaakceptuj" class="crud crud-accept unaccepted-accept-task" data-id="@m.TaskID"><i class="glyphicon glyphicon-ok"></i></span>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

