﻿@using ACSystem.Core.Models
@model List<UserDocuments>

@{
    ViewBag.Title = "Lista dokumentów użytkownika";
}

<h3 class="text-center text-uppercase">@ViewBag.Title</h3>

<div class="box box-primary">
    <div class="box-body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nazwa dokumentu</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    string[] urlArray = item.URL.Split('/');
                    urlArray = urlArray.Skip(2).ToArray();
                    <tr>
                        <td>@item.DocumentDescription</td>
                        <td><a href="/@string.Join("/", urlArray)" class="btn btn-like-bg" target="_blank">Pobierz</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

