﻿@using ACSystem.Core.Models.ViewModels
@model ACSystem.Core.Models.Events

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">@Model.Title</h4>
    </div>
    <div class="modal-body">
        <dl>
            <dt>Wydarzenie</dt>
            <dd class="table-responsive">
                <table class="table table-responsive table-bordered">
                    <tbody>
                        <tr>
                            <th>Opis wydarzenia</th>
                            <td>@Model.Description</td>
                        </tr>
                        <tr>
                            <th>Data rozpoczęcia</th>
                            <td>@Model.Start.ToString("dd.MM.yyyy HH:mm")</td>
                        </tr>
                        <tr>
                            <th>Data zakończenia</th>
                            <td>@Model.End.ToString("dd.MM.yyyy HH:mm")</td>
                        </tr>
                    </tbody>
                </table>
            </dd>
        </dl>
    </div>
</div>

