﻿@using ACSystem.Core.Models.ViewModels
@model ACSystem.Core.Models.Events

<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">@Model.Title</h4>
    </div>
    <div class="modal-body">
        <dl>
            <dt>Zadanie</dt>
            <dd class="table-responsive">
                <table class="table table-responsive table-bordered">
                    <tbody>
                    @if (ViewBag.TaskData != null)
                    {
                        var task = (TaskFullViewModel)ViewBag.TaskData;
                        <tr>
                            <th>Numer projektu</th>
                            <td>@task.ProjectNumber</td>
                        </tr>
                        <tr>
                            <th>Numer apartamentu</th>
                            <td>@task.ApartmentNumber</td>
                        </tr>
                        <tr>
                            <th>Aktualny monter</th>
                            <td>@task.CurrentFitterName</td>
                        </tr>
                        <tr>
                            <th>Nazwa produktu</th>
                            <td>@task.ProductName</td>
                        </tr>
                    }
                    <tr>
                        <th>Wiadomość</th>
                        <td>@Model.Description</td>
                    </tr>
                    <tr>
                        <th>Zaplanowana data</th>
                        <td>@Model.Start.ToString("yyyy-MM-dd HH:mm")</td>
                    </tr>
                    </tbody>
                </table>
            </dd>
            <dt></dt>
            <dl><a href="/Projects/Task/@Model.ReferenceTo" class="btn btn-like-bg">Przejdz do szczegółów</a></dl>
        </dl>
    </div>
</div>

