﻿@using ACSystem.Core.Models
@using ACSystem.Core.Models.ViewModels
@model ACSystemUser

@{
    ViewBag.Title = "Strona główna";
    var currentDate = DateTime.Now.ToString("yyyy-MM-dd");

    var plan = (List<PlannedTaskList>)ViewBag.Plan;
    var calendars = (List<Calendar>)ViewBag.Calendars;
    var unraportedHours = (bool)ViewBag.UnraportedHours;
    var buttonEnabled = (Model.HireDate <= DateTime.Now && Model.ReleaseDate >= DateTime.Now) || !Model.HireDate.HasValue || !Model.ReleaseDate.HasValue ? "" : "disabled";
}

@section Styles {
    @Styles.Render("~/Content/plugins/fullcalendar/fullcalendar.min.css")
    @Styles.Render("~/Content/plugins/iCheck/square/blue.css")
    @Styles.Render("~/Content/Site/home.css")
    <style>
        .fc-event {
            color: #fff !important;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    @Scripts.Render("~/Scripts/plugins/fullcalendar/fullcalendar.min.js")
    @Scripts.Render("~/Scripts/plugins/fullcalendar/locale-all.js")
    @Scripts.Render("~/Scripts/plugins/iCheck/icheck.min.js")
    <script>
        var myCurrentDate = "@currentDate";
        var currentView = "agendaDay";
    </script>
    @Scripts.Render("~/Scripts/Site/Home.js")
}

@if (string.IsNullOrEmpty(buttonEnabled)) {
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title calendar-date"></h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-sm btn-primary" title="Filtruj" data-toggle="collapse" data-target="#calendars-container">
                    Kalendarze
                </button>
                <button type="button" class="btn btn-sm btn-primary" title="Filtruj" data-toggle="collapse" data-target="#filtr-container">
                    Filtruj
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>

            </div>
        </div>
        <div class="box-body no-padding">
            <div class="col-md-12 collapse" id="filtr-container">
                <div class="input-group input-group-sm pull-right col-md-8">
                    <div class="form-group col-md-5">
                        <input type="text" id="project-number-search" placeholder="Numer projektu" class="form-control" />
                    </div>
                    <div class="form-group col-md-5">
                        <input type="text" id="apartment-number-search" placeholder="Numer mieszkania" class="form-control" />
                    </div>
                    <div class="form-group col-md-5">
                        <input type="text" id="street-search" placeholder="Ulica" class="form-control" />
                    </div>
                    <div class="form-group col-md-5">
                        <input type="text" id="city-search" placeholder="Miasto" class="form-control" />
                    </div>
                    <div class="form-group col-md-2">
                        <button type="button" class="btn btn-block btn-primary" id="start-search">Szukaj</button>
                    </div>
                </div>
                <div class="input-group input-group-sm pull-right checkbox-filter col-md-4">
                    <label>
                        <input type="checkbox" class="minimal filter" id="fltr-chbx-5" value="4" checked>
                        Projekty
                    </label>
                    <label>
                        <input type="checkbox" class="minimal filter" id="fltr-chbx-1" value="0" checked>
                        Zadania
                    </label>
                    <label>
                        <input type="checkbox" class="minimal filter" id="fltr-chbx-2" value="1" checked>
                        Zadania - wydarzenia
                    </label>
                    <label>
                        <input type="checkbox" class="minimal filter" id="fltr-chbx-3" value="2" checked>
                        Użytkownicy - wydarzenia
                    </label>
                    <label>
                        <input type="checkbox" class="minimal filter" id="fltr-chbx-4" value="3" checked>
                        Użytkownicy - planowanie
                    </label>
                </div>
            </div>
            <div class="col-md-12 collapse" id="calendars-container">
                @foreach (var c in calendars.OrderBy(q => q.Name)) {
                    <div class="col-md-2">
                        <div class="calendar-row">
                            <div class="calendar-check active" style="background-color: @c.ColorHex; margin-top: 10px;">
                                <i class="fa fa-check"></i>
                                <input type="hidden" value="@c.ID" />
                            </div>
                            <div class="calendar-name calendar-@c.ID edit-calendar">
                                @c.Name
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div id="calendar"></div>
        </div>
    </div>
    if (plan != null && plan.Any()) {
        <div class="box box-primary collapsed-box">
            <div class="box-header">
                <h3 class="box-title">Zaplanowane zadania</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body table-responsive">
                <table class="table table-responsive table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Zadanie</th>
                            <th>Planowana data</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in plan) {
                            <tr>
                                <td>@p.TaskName</td>
                                <td>@p.PlannedDate.ToString("yyyy-MM-dd")</td>
                                <td><a href="/Projects/Task/@p.TaskID" class="btn btn-like-bg" style="color: white;">Szczegóły</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
}
<div class="col-xs-6 text-center padding-bottom-30">
    <a class="btn btn-app @buttonEnabled" href="/Projects/AvailableTasks">
        <span class="badge bg-light-blue">@ViewBag.TaskCount</span>
        <i class="fa fa-tasks"></i> Zadania
    </a>
</div>
<div class="col-xs-6 text-center padding-bottom-30">
    <a class="btn btn-app @buttonEnabled" href="/Projects/CurrentTask">
        @if ((bool)ViewBag.Busy) {
            <span class="badge bg-orange">ZAJĘTY</span>
        }
        <i class="fa fa-thumb-tack"></i> Obecne zadanie
    </a>
</div>
<div class="col-xs-6 text-center padding-bottom-30">
    <a class="btn btn-app @buttonEnabled" href="/Projects/FavouriteProjects">
        <span class="badge bg-light-blue">@ViewBag.FavouriteProjectsTaskCount</span>
        <i class="fa fa-star"></i> Ulubione
    </a>
</div>
<div class="col-xs-6 text-center padding-bottom-30">
    <a class="btn btn-app @buttonEnabled" href="/Projects/ChooseToAddTask">
        <i class="fa fa-plus-square"></i> Dodaj zadanie
    </a>
</div>
<div class="col-xs-6 text-center padding-bottom-30">
    <a class="btn btn-app @buttonEnabled" href="/Order">
        <i class="fa fa-shopping-basket"></i> Zamówienia
    </a>
</div>
<div class="col-xs-6 text-center padding-bottom-30">
    <a class="btn btn-app @buttonEnabled" href="/Inventory/FreeList">
        <i class="fa fa-wrench"></i> Narzędzia
    </a>
</div>
<div class="col-xs-6 text-center padding-bottom-30">
    <a class="btn btn-app" href="/Home/PayrollList">
        <i class="fa fa-money"></i> Płace
    </a>
</div>
<div class="col-xs-6 text-center padding-bottom-30">
    <a class="btn btn-app" href="/Home/NotInPayroll">
        <i style="color: #ccc" class="fa fa-money"></i> Nierozliczone
    </a>
</div>
<div class="col-xs-6 text-center padding-bottom-30">
    <a class="btn btn-app @buttonEnabled" href="/Home/Documents">
        <i class="fa fa-file-text-o"></i> Dokumenty
    </a>
</div>

<div id="modal" class="cal-modal cal-modal-form cal-modal-top" style="color: #333;">

</div>