﻿@using ACSystem.Core.Models
@model List<IGrouping<Tasks, Task_Fitter>>

@{
    ViewBag.Title = "Lista zadań zafakturowanych i nie dodanych do listy płac";
    var percentType = Model.First().First().Fitter.PercentType;
}

<h3 class="text-center text-uppercase">Lista zadań zafakturowanych i nie dodanych do listy płac</h3>

<div class="box box-primary">
    <div class="box-body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Projekt/Mieszkanie/Zadanie</th>
                    <th>Ilość wykonana</th>
                    <th>Kwota</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Key.Apartment.Project.ProjectNumber / @item.Key.Apartment.Letter @item.Key.Apartment.NumberOfApartment / @item.Key.GetTaskName(item.Key.Apartment.ProjectId)</td>
                        <td>@item.First().WorkDone</td>
                        <td>@(((item.First().Fitter.PercentType == 1) ? item.Key.PercentType1 : item.Key.PercentType2) * item.First().WorkDone * item.Key.ProductPrice)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

