﻿@using ACSystem.Core.Models
@model List<IGrouping<Payroll, PayrollItems>>

@{
    ViewBag.Title = "Listy płac";

    var payrollItems = (List<PayrollItems>)ViewBag.PayrollItems;
}

<h3 class="text-center text-uppercase">Listy płac</h3>

<div class="box box-primary">
    <div class="box-body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nr. Listy</th>
                    <th>Data</th>
                    <th>Kwota</th>
                    <th>Status</th>
                    <th>Numer Faktury</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    var sum = payrollItems.Where(q => q.PayrollID == item.Key.Id).Sum(q => q.ToPay);

                    var background = "";
                    var status = "";

                    if (item.Any(q => !string.IsNullOrEmpty(q.InvoiceNumber)))
                    {
                        status = "Faktura wystawiona";
                        background = "style=background:green;color:white;";
                    }
                    else if (item.All(q => q.Status == ACSystem.Core.PayItemStatus.Wyplacone))
                    {
                        status = "Wypłacone";
                        background = "style=background:green;color:white;";
                    }
                    else if (item.All(q => q.Status == ACSystem.Core.PayItemStatus.DoWyplaty))
                    {
                        status = "Do wypłaty";
                        background = "style=background:white;color:black;";
                    }
                    else
                    {
                        status = "W trakcie";
                        background = "style=background:orange;color:white;";
                    }

                    <tr @background>
                        <td>@item.Key.Number.ToString().PadLeft(5, '0')</td>
                        <td>@item.Key.CreateDate.ToString("yyyy-MM-dd")</td>
                        <td>@Math.Ceiling(sum) kr</td>
                        <td>@status</td>
                        <td>@payrollItems.FirstOrDefault(q => q.PayrollID == item.Key.Id).InvoiceNumber</td>
                        <td style="text-align: center;"><a class="btn btn-success" style="color: white;" href="/Home/PayrollItems/@item.Key.Id">Szczegóły</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

