﻿@using ACSystem.Core.Models
@model List<PayrollItems>

@{
    ViewBag.Title = "Listy płac - szczegóły";
    var payroll = Model.FirstOrDefault().Payroll;
    var itemFirst = Model.FirstOrDefault();
}

<h3 class="text-center text-uppercase">Lista płac nr @payroll.Number.ToString().PadLeft(5, '0')</h3>
<h4 class="text-center text-uppercase">Status: @((Model.All(q => q.Status == ACSystem.Core.PayItemStatus.Wyplacone)) ? "Wypłacono" : "Gotowe do wypłaty")</h4>

@if (itemFirst.InvoiceTimestamp.HasValue)
{
    <h4 class="text-center text-uppercase">Faktura: @itemFirst.InvoiceNumber, Data wystawienia: @itemFirst.InvoiceTimestamp.Value.ToString("yyyy-MM-dd HH:mm")</h4>
}

<div class="box box-primary">
    <div class="box-body table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Apartament</th>
                    <th>Produkt</th>
                    <th>Data zamknięcia</th>
                    <th>Kwota</th>
                    <th>Potrącenia</th>
                    <th>Suma</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ProjectNumber.@item.ApartmentNumber</td>
                        <td>@item.ProductName</td>
                        <td>@item.TaskEnd.ToString("yyyy-MM-dd")</td>
                        <td>@Math.Ceiling(item.ToPay) kr</td>
                        <td>@Math.Ceiling(item.Fees * -1) kr</td>
                        <td>@(Math.Ceiling(item.ToPay) - Math.Ceiling(item.Fees)) kr</td>
                        <td>
                            @switch (item.Status)
                            {
                                case ACSystem.Core.PayItemStatus.DoWyplaty:
                                    <span class='label label-default'>Gotowe do wypłaty</span>
                                    break;
                                case ACSystem.Core.PayItemStatus.Wstrzymane:
                                    <span class='label label-warning'>Wstrzymane</span>
                                    break;
                                case ACSystem.Core.PayItemStatus.Wyplacone:
                                    <span class='label label-success'>Wypłacone</span>
                                    break;
                            }
                        </td>
                    </tr>

                    if (!string.IsNullOrEmpty(item.FeeDescription))
                    {
                        <tr>
                            <td colspan="8" style="text-align: right;">
                                Opis: @item.FeeDescription
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

