﻿@*@model ACSystem.Core.Models.ViewModels.TaskFullViewModel*@
@model ACSystem.Core.Models.Tasks
@using ACSystem.Core;
@using ACSystem.Core.Models;

@{ 
    var currentFitter = (Fitters)ViewBag.Fitter;

    decimal procent = 0;
    decimal stawka = 0;

    if (Model != null)
    {
        switch (currentFitter.PercentType)
        {
            case 1:
                procent = Model.PercentType1;
                break;
            case 2:
                procent = Model.PercentType2;
                break;
            case 3:
                procent = Model.PercentType3;
                break;
            case 4:
                procent = Model.PercentType4;
                break;
            case 5:
                procent = Model.PercentType5;
                break;
            case 6:
                procent = Model.PercentType6;
                break;
            default:
                procent = 0;
                break;
        }

        procent = procent / 100;

        stawka = Model.ProductPrice * procent;
    }
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">SZCZEGÓŁY ZADANIA</h4>
        </div>
        <div class="modal-body">
            <dl>
                <dt>Zadanie</dt>
                <dd class="table-responsive">
                    <table class="table table-responsive table-bordered">
                        <tbody>
                            <tr>
                                <th>Numer projektu</th>
                                <td>@Model.Apartment.Project.ProjectNumber</td>
                            </tr>
                            <tr>
                                <th>Numer apartamentu</th>
                                <td>@Model.Apartment.NumberOfApartment</td>
                            </tr>
                            <tr>
                                <th>Adres</th>
                                <td>@Model.Apartment.Project.Street, @Model.Apartment.Project.City</td>
                            </tr>
                            <tr>
                                <th>Aktualni monterzy</th>
                                <td>
                                    @foreach (var fitter in Model.Fitters)
                                    {
                                        <span>@fitter.User.FullName &nbsp; &nbsp;</span>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <th>Nazwa produktu</th>
                                <td>@Model.GetTaskName(Model.Apartment.ProjectId) @Model.TaskSufix</td>
                            </tr>
                            <tr>
                                <th>Ilość</th>
                                <td>@Model.ProductCount @Model.Product.Jm</td>
                            </tr>
                            <tr>
                                <th>Cena</th>
                                <td>@Math.Ceiling(stawka)</td>
                            </tr>
                            <tr>
                                <th>Data rozpoczęcia</th>
                                <td>@Model.StartDate.ToString("yyyy-MM-dd HH:mm")</td>
                            </tr>
                            <tr>
                                <th>Data zakończenia</th>
                                <td>@Model.EndDate.ToString("yyyy-MM-dd HH:mm")</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>
                                    @{
                                        switch ((int)Model.Status)
                                        {
                                            case 0:
                                                Write("Wolne");
                                                break;
                                            case 1:
                                                Write("W trakcie");
                                                break;
                                            case 2:
                                                Write("Zatrzymane");
                                                break;
                                            case 3:
                                                Write("Skończone");
                                                break;
                                            case 4:
                                                Write("Skończone z błędami");
                                                break;
                                            case 6:
                                                Write("Miejsce nieprzygotowane");
                                                break;
                                            default:
                                                Write("Wolne");
                                                break;
                                        }
                                    }
                            </tr>
                        </tbody>
                    </table>
                    @if ((Model.Status == TaskStatus.Free || Model.Status == TaskStatus.Stoped) && ViewBag.IsFitterBusy == false)
                    {
                        <button class="btn btn-like-bg" id="get-task" data-task-id="@Model.Id">Pobierz</button>
                    }
                    else
                    {
                        <button class="btn btn-like-bg disabled" id="get-task" data-task-id="@Model.Id">Pobierz</button>
                    }
                </dd>
                @if (Model.Product.ProductType == TaskType.Kitchen && Model.Production == TaskProduction.Developer && Model.Task_Questions != null)
                {
                    <dt class="questions-hidden questions">Pytania kontrolne</dt>
                    <dd class="questions-hidden questions table-responsive">
                        <table class="table table-responsive table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Element</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody id="dd-product-questions" class="text-center">
                                <tr><th>Szafki dolne</th><td class="@Model.Task_Questions.BaseUnits">@Model.Task_Questions.BaseUnits</td></tr>
                                <tr><th>Szafki ścienne</th><td class="@Model.Task_Questions.WallUnits">@Model.Task_Questions.WallUnits</td></tr>
                                <tr><th>Szafki wysokie</th><td class="@Model.Task_Questions.TallUnits">@Model.Task_Questions.TallUnits</td></tr>
                                <tr><th>Wypełniacz</th><td class="@Model.Task_Questions.Fillers">@Model.Task_Questions.Fillers</td></tr>
                                <tr><th>Sufitowy</th><td class="@Model.Task_Questions.CeillingScribe">@Model.Task_Questions.CeillingScribe</td></tr>
                                <tr><th>Część boczna</th><td class="@Model.Task_Questions.SidePiece">@Model.Task_Questions.SidePiece</td></tr>
                                <tr><th>Blat</th><td class="@Model.Task_Questions.Worktop">@Model.Task_Questions.Worktop</td></tr>
                                <tr><th>Zlew</th><td class="@Model.Task_Questions.Sink">@Model.Task_Questions.Sink</td></tr>
                                <tr><th>Uchwyty</th><td class="@Model.Task_Questions.Handles">@Model.Task_Questions.Handles</td></tr>
                                <tr><th>Cokoły</th><td class="@Model.Task_Questions.Plinth">@Model.Task_Questions.Plinth</td></tr>
                                <tr><th>Kratki</th><td class="@Model.Task_Questions.Grids">@Model.Task_Questions.Grids</td></tr>
                                <tr><th>Oświetlenie</th><td class="@Model.Task_Questions.Lighting">@Model.Task_Questions.Lighting</td></tr>
                                <tr><th>Silikon</th><td class="@Model.Task_Questions.Silicon">@Model.Task_Questions.Silicon</td></tr>
                                <tr><th>Instrukcje</th><td class="@Model.Task_Questions.Manuals">@Model.Task_Questions.Manuals</td></tr>
                                <tr><th>Urządzenia</th><td class="@Model.Task_Questions.Machines">@Model.Task_Questions.Machines</td></tr>
                                <tr><th>Piekarnik</th><td class="@Model.Task_Questions.Oven">@Model.Task_Questions.Oven</td></tr>
                                <tr><th>Zamrażarka 1</th><td class="@Model.Task_Questions.FridgeFreezer1">@Model.Task_Questions.FridgeFreezer1</td></tr>
                                <tr><th>Zamrażarka 2</th><td class="@Model.Task_Questions.FridgeFreezer2">@Model.Task_Questions.FridgeFreezer2</td></tr>
                                <tr><th>Płyta</th><td class="@Model.Task_Questions.Hob">@Model.Task_Questions.Hob</td></tr>
                                <tr><th>Zmwyarka</th><td class="@Model.Task_Questions.Dishwasher">@Model.Task_Questions.Dishwasher</td></tr>
                                <tr><th>Mikrofalówka</th><td class="@Model.Task_Questions.Mikrowave">@Model.Task_Questions.Mikrowave</td></tr>
                                <tr><th>Wentylator</th><td class="@Model.Task_Questions.Fan">@Model.Task_Questions.Fan</td></tr>
                            </tbody>
                        </table>
                    </dd>
                }
                else if (Model.Product.ProductType == TaskType.Kitchen && (Model.Production == TaskProduction.Complaint || Model.Production == TaskProduction.Warranty) && Model.TaskPatches != null)
                {
                    <dt class="questions">Pytania kontrolne</dt>
                    <dd class="questions table-responsive">
                        <table class="table table-responsive table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Element</th>
                                    <th>Opis</th>
                                    <th>Skończone</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var patch in Model.TaskPatches)
                                {
                                    if (patch.Done)
                                    {
                                        <tr class="task-element-@patch.ID" style="background-color: green; color: white;">
                                            <th>@patch.ItemTitle</th>
                                            <td>@patch.ItemDescription</td>
                                            <td>TAK</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="task-element-@patch.ID" style="background-color: red; color: white;">
                                            <th>@patch.ItemTitle</th>
                                            <td>@patch.ItemDescription</td>
                                            <td>NIE</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </dd>
                }
            </dl>
        </div>
    </div>
</div>
