﻿@model Inventory
@using ACSystem.Core
@using ACSystem.Core.Models

@section Styles {
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
    <style>
        .select2-container {
            color: #333 !important;
        }
    </style>
}

@section Scripts{
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    <script>
        $(document).ready(function() {
            $(".select2").select2();
        });

        $("#add-accessory").click(function () {
            var evidenceNo = $("#evidence-number").val();
            var name = $("#accessory-name").val();
            var photoURL = $("#check-photo").val();

            CreateAccessoryInDatabase(evidenceNo, name, photoURL, false);

            $("#evidence-number").val("");
            $("#accessory-name").val("");
            $("#check-photo-div").html("");
            $("#check-photo").val("")
        });

        $("#add-and-choose-accessory").click(function () {
            var evidenceNo = $("#evidence-number").val();
            var name = $("#accessory-name").val();
            var photoURL = $("#check-photo").val();

            CreateAccessoryInDatabase(evidenceNo, name, photoURL, true);

            $("#evidence-number").val("");
            $("#accessory-name").val("");
            $("#check-photo-div").html("");
            $("#check-photo").val("")
        });

        $("#check-img").change(function () {
            var formData = new FormData();
            var totalFiles = document.getElementById("check-img").files.length;
            var data = {};
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("check-img").files[i];
                formData.append("check-img", file);
            }

            $.ajax({
                type: "POST",
                url: "/Inventory/AJAX_UploadCheckConditionImage",
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $("#check-photo-div").LoadingOverlay("show");
                },
                success: function (data) {
                    if (data.success) {
                        $("#check-photo-div").html('<img class="img-responsive" src="' + data.URL + '" alt="" />');
                        $("#check-photo").val(data.URL)

                        toastr.success("Pomyślnie dodano zdjęcie !");
                    }
                    else
                        toastr.error("Wystąpił błąd podczas wgrywania zdjęcia");
                },
                error: function (error) {
                    toastr.error("Wystąpił błąd podczas wgrywania zdjęcia");
                },
                complete: function () {
                    $("#check-photo-div").LoadingOverlay("hide", true);
                }
            });
        });

        $("#inventory-img").change(function () {
            var formData = new FormData();
            var totalFiles = document.getElementById("inventory-img").files.length;
            var data = {};
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("inventory-img").files[i];
                formData.append("inventory-img", file);
            }

            $.ajax({
                type: "POST",
                url: "/Inventory/AJAX_AddInventoryFile",
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                beforeSend: function () {
                    $("body").LoadingOverlay("show");
                },
                success: function (data) {
                    if (data.result === "true") {
                        var row = "<tr>";
                        row += "<td>" + data.FileName + '<input type="hidden" name="Files[]" value="' + data.FileName + ';' + data.URL + '" /></td>';
                        row += '<td class="text-center"><button type="button" class="btn btn-xs btn-flat btn-danger delete-file" data-url="' + data.URL + '" data-id="' + data.ID + '"><i class="fa fa-trash"></i></button></td>'
                        row += "</tr>";

                        $("#files-table").append(row);

                        toastr.success("Pomyślnie dodano plik !");
                    }
                    else
                        toastr.error("Wystąpił błąd podczas wgrywania pliku");
                },
                error: function (error) {
                    toastr.error("Wystąpił błąd podczas wgrywania pliku");
                },
                complete: function () {
                    $("body").LoadingOverlay("hide", true);
                }
            });
        });

        $(document).on("click", ".delete-file", function () {
            var id = $(this).data("id");
            var url = $(this).data("url");
            var tr = $(this).closest("tr");

            var data = {
                ID: id,
                URL: url
            };

            var successFn = function (data) {
                if (data.success)
                    tr.remove();
                else
                    toastr.error("Wystąpił błąd podczas usuwania pliku !");
            }

            var errorFn = function () {
                toastr.error("Wystąpił błąd podczas usuwania pliku !");
            }

            GetAjaxWithFunctions("/Inventory/AJAX_DeleteFile", "POST", data, successFn, errorFn, tr);
        })

        function CreateAccessoryInDatabase(evidenceNo, name, photoURL, createInParent) {
            var data = {
                EvidenceNumber: evidenceNo,
                Name: name,
                URL: photoURL
            };

            var successFn = function (data) {
                if (data.success) {
                    var selected = (createInParent) ? "selected" : "";
                    var option = '<option value="' + data.ID + '" ' + selected + '>' + name + '</option>';

                    $("#AccessoriesSelect").append(option);

                    toastr.success("Pomyślnie dodano akcesorium !");
                }
                else
                    toastr.error("Wystąpił błąd podczas dodawania akcesorium !");
            }

            var errorFn = function () {
                toastr.error("Wystąpił błąd podczas dodawania akcesorium !");
            }

            GetAjaxWithFunctions("/Inventory/AJAX_CreateAccessory", "POST", data, successFn, errorFn, "");
        }

    </script>

}

@{
    ViewBag.Title = "Pobierz narzędzie";

    var types = (ViewBag.Types != null) ? (List<InventoryType>)ViewBag.Types : new List<InventoryType>();
    var warehouses = (ViewBag.Warehouses != null) ? (List<InventoryWarehouse>)ViewBag.Warehouses : new List<InventoryWarehouse>();
    var accessories = (ViewBag.Accessories != null) ? (List<Inventory_Accessories>)ViewBag.Accessories : new List<Inventory_Accessories>();
}

<h3 class="text-center text-uppercase">Dodaj narzędzie</h3>
@using (Html.BeginForm("Create", "Inventory", FormMethod.Post))
{
<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">
            Dane narzędzia
        </h3>
    </div>
    <div class="box-body">
        <div class="form-group">
            <label class="control-label">Numery ewidencyjne</label>
            <div class="input-group">
                <div class="input-group-addon">
                    <span>S</span>
                </div>
                @Html.TextBoxFor(m => m.EvidenceNumber, new { @class = "form-control", placeholder = "Wpisz numer ewidencyjny S" })
            </div>
            @Html.ValidationMessageFor(m => m.EvidenceNumber, "", new { @class = "text-danger" })
            <div class="input-group" style="margin-top: 10px;">
                <div class="input-group-addon">
                    <span>T</span>
                </div>
                @Html.TextBoxFor(m => m.EvidenceNumber2, new { @class = "form-control", placeholder = "Wpisz numer ewidencyjny T" })
            </div>
            @Html.ValidationMessageFor(m => m.EvidenceNumber2, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.TypeID, new { @class = "control-label" })
            <select class="form-control select2" name="TypeID">
                @foreach (var t in types)
                {
                    <option value="@t.ID" @((Model != null && Model.TypeID == t.ID) ? "selected" : "")>@t.Name</option>
                }
            </select>
            @Html.ValidationMessageFor(m => m.TypeID, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Mark, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Mark, new { @class = "form-control", placeholder = "Wpisz markę" })
            @Html.ValidationMessageFor(m => m.Mark, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ModelNumber, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.ModelNumber, new { @class = "form-control", placeholder = "Wpisz numer modelu" })
            @Html.ValidationMessageFor(m => m.ModelNumber, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.LifeTime, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.LifeTime, new { @class = "form-control", placeholder = "Wpisz żywotność (lata)", @Type = "number", step = 1 })
            @Html.ValidationMessageFor(m => m.LifeTime, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BuyDate, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.BuyDate, new { @class = "form-control date-only", placeholder = "Podaj datę zakupu" })
            @Html.ValidationMessageFor(m => m.BuyDate, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BuyPriceBrutto, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.BuyPriceBrutto, new { @class = "form-control", placeholder = "Podaj kwotę brutto" })
            @Html.ValidationMessageFor(m => m.BuyPriceBrutto, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.BuyPlace, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.BuyPlace, new { @class = "form-control", placeholder = "Wpisz miejsce zakupu" })
            @Html.ValidationMessageFor(m => m.BuyPlace, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Status, new { @class = "control-label" })
            <select class="form-control select2" name="Status" id="Status">
                <option value="@((int)InventoryStatus.Free)" @((Model != null && Model.Status == InventoryStatus.Free) ? "selected" : "")>Wolne</option>
                <option value="@((int)InventoryStatus.Busy)" @((Model != null && Model.Status == InventoryStatus.Busy) ? "selected" : "")>Zajęte</option>
                <option value="@((int)InventoryStatus.Deleted)" @((Model != null && Model.Status == InventoryStatus.Deleted) ? "selected" : "")>Skasowane</option>
            </select>
            @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConditionStatus, new { @class = "control-label" })
            <select class="form-control select2" name="ConditionStatus" id="ConditionStatus">
                <option value="@((int)Inventory_ConditionStatus.New)" @((Model != null && Model.ConditionStatus == Inventory_ConditionStatus.New) ? "selected" : "")>Nowe</option>
                <option value="@((int)Inventory_ConditionStatus.Good)" @((Model != null && Model.ConditionStatus == Inventory_ConditionStatus.Good) ? "selected" : "")>Dobre</option>
                <option value="@((int)Inventory_ConditionStatus.Ok)" @((Model != null && Model.ConditionStatus == Inventory_ConditionStatus.Ok) ? "selected" : "")>OK</option>
                <option value="@((int)Inventory_ConditionStatus.ToChange)" @((Model != null && Model.ConditionStatus == Inventory_ConditionStatus.ToChange) ? "selected" : "")>Do wymiany</option>
                <option value="@((int)Inventory_ConditionStatus.Trash)" @((Model != null && Model.ConditionStatus == Inventory_ConditionStatus.Trash) ? "selected" : "")>Skasowane</option>
            </select>
            @Html.ValidationMessageFor(m => m.OwnerType, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { @class = "control-label" })
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-flat btn-block btn-primary">DODAJ</button>
        </div>
    </div>
</div>
<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Akcesoria</h3>
    </div>
    <div class="box-body">
        <div class="form-group">
            <label class="control-label">Akcesorium</label>
            <select class="form-control select2" multiple name="AccessoriesID[]" id="AccessoriesSelect">
                @foreach (var a in accessories)
                {
                    <option value="@a.ID" @((Model != null && Model.Inventory_Accessories_Connect.Any(q => q.AccessoryID == a.ID)) ? "selected" : "")>@a.Name</option>
                }
            </select>
        </div>

        <hr />

        <h3>Dodaj nowe akcesorium</h3>

        <div class="form-group">
            <label class="control-label">Numer seryjny</label>
            <input type="text" id="evidence-number" class="form-control" />
        </div>
        <div class="form-group">
            <label class="control-label">Nazwa nowego akcesorium</label>
            <input type="text" id="accessory-name" class="form-control" />
            <input type="hidden" id="check-photo" name="check-photo" value="" />
        </div>
        <div class="form-group">
                <span>DODAJ ZDJĘCIE</span>
                <input type="file" class="upload" id="check-img" name="check-img" accept="image/*" />
        </div>

        <div id="check-photo-div" class="col-xs-12" style="padding: 10px 0;">

        </div>

        <div class="form-group col-xs-6" style="padding-left: 0;">
            <button type="button" id="add-accessory" class="btn btn-block btn-primary">DODAJ</button>
        </div>
        <div class="form-group col-xs-6" style="padding-right: 0;">
            <button type="button" id="add-and-choose-accessory" class="btn btn-block btn-primary">DODAJ I PRZYPISZ</button>
        </div>
    </div>
</div>
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">PLIKI</h3>
    </div>
    <div class="box-body">
        <table id="files-table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>DOKUMENT</th>
                    <th width="30px" class="text-center"></th>
                    <th width="30px" class="text-center"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var doc in Model.Inventory_Photo)
                    {
                        <tr>
                            <td>
                                @doc.Name
                                <input type="hidden" class="inventory-files" name="Files[]" value="@doc.Name;@doc.URL" />
                            </td>
                            <td class="text-center"><button type="button" class="btn btn-flat btn-xs btn-danger delete-file" data-url="@doc.URL" data-id="@doc.ID"><i class="fa fa-trash"></i></button></td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <hr />

        <h3>Dodaj nowy plik</h3>

        <div class="form-group">
            <input type="file" class="upload" id="inventory-img" name="check-img" accept="image/*" />
        </div>

    </div>
</div>
}


