﻿@model IEnumerable<ACSystem.Core.Models.Inventory> 
@using ACSystem.Core.Extensions

@{
    ViewBag.Title = "Index";
}

<h3 class="text-center text-uppercase">Dostępne narzędzia</h3>

<div class="box box-primary">
    <div class="box-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nr. Ewidencyjny</th>
                    <th>Marka</th>
                    <th>Model</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        @if (!item.EvidenceNumber.IsNullOrEmpty() && !item.EvidenceNumber2.IsNullOrEmpty())
                        {
                            <td>
                                S-@item.EvidenceNumber
                                <br />
                                T-@item.EvidenceNumber2
                            </td>
                        }
                        else if (!item.EvidenceNumber.IsNullOrEmpty())
                        {
                            <td>
                                S-@item.EvidenceNumber
                            </td>
                        }
                        else
                        {
                            <td>T-@item.EvidenceNumber2</td>
                        }
                        <td>@item.Mark</td>
                        <td>@item.Type</td>
                        <td style="text-align: center;"><a class="btn btn-danger" style="color: white;" href="/Inventory/PutInventory/@item.Id">Zdaj</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>