﻿@using ACSystem.Core.Extensions

@{
    ViewBag.Title = "Lista narzędzi";

    var freeList = (List<ACSystem.Core.Models.Inventory>)ViewBag.Free;
    var forFitterList = (List<ACSystem.Core.Models.Inventory>)ViewBag.ForFitter;
    var privateList = (List<ACSystem.Core.Models.Inventory>)ViewBag.Private;
}

<h3 class="text-center text-uppercase">Narzędzia</h3>
<a href="/Inventory/Create" class="btn btn-flat btn-primary pull-right"><i class="fa fa-plus"></i></a>
<div class="nav-tabs-custom" style="color: #333;">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-private" data-toggle="tab">PRYWATNE</a></li>
        <li><a href="#tab-have" data-toggle="tab">W POSIADANIU</a></li>
        <li><a href="#tab-free" data-toggle="tab">W MAGAZYNIE</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane table-responsive no-padding active" id="tab-private">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nr. Ewidencyjny</th>
                        <th>Marka</th>
                        <th>Model</th>
                        <th>Rodzaj</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in privateList.Where(q => q.Status != ACSystem.Core.InventoryStatus.Sold))
                    {
                        <tr>
                            @if (!item.EvidenceNumber.IsNullOrEmpty() && !item.EvidenceNumber2.IsNullOrEmpty())
                            {
                                <td>
                                    S-@item.EvidenceNumber
                                    <br />
                                    T-@item.EvidenceNumber2
                                </td>
                            }
                            else if (!item.EvidenceNumber.IsNullOrEmpty())
                            {
                                <td>
                                    S-@item.EvidenceNumber
                                </td>
                            }
                            else
                            {
                                <td>T-@item.EvidenceNumber2</td>
                            }
                            <td>@item.Mark</td>
                            <td>@item.ModelNumber</td>
                            <td>@item.Type.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="tab-pane table-responsive no-padding" id="tab-have">
            @{
                var busyGrouped = forFitterList.GroupBy(q => q.Project).ToList();

                foreach (var b in busyGrouped)
                {
                    if (b.Key == null)
                    {
                        continue;
                    }

                    <div class="panel box box-comment">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#@b.Key.Id" aria-expanded="false" class="collapsed">
                                    @b.Key.InSystemID # @b.Key.ProjectNumber # @b.Key.Street, @b.Key.City
                                </a>
                            </h4>
                            <div class="box-tools pull-right">
                                <span class="badge bg-primary">@b.Count()</span>
                            </div>
                        </div>
                        <div id="@b.Key.Id" class="panel-collapse collapse" aria-expanded="false">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Nr. Ewidencyjny</th>
                                        <th>Marka</th>
                                        <th>Model</th>
                                        <th>Rodzaj</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in b)
                                    {
                                        <tr>
                                            @if (!item.EvidenceNumber.IsNullOrEmpty() && !item.EvidenceNumber2.IsNullOrEmpty())
                                            {
                                                <td>
                                                    S-@item.EvidenceNumber
                                                    <br />
                                                    T-@item.EvidenceNumber2
                                                </td>
                                            }
                                            else if (!item.EvidenceNumber.IsNullOrEmpty())
                                            {
                                                <td>
                                                    S-@item.EvidenceNumber
                                                </td>
                                            }
                                            else
                                            {
                                                <td>T-@item.EvidenceNumber2</td>
                                            }
                                            <td>@item.Mark</td>
                                            <td>@item.ModelNumber</td>
                                            <td>@item.Type.Name</td>
                                            <td style="text-align: center;"><a class="btn btn-danger" style="color: white;" href="/Inventory/PutInventory/@item.ID">Zdaj</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="tab-pane table-responsive no-padding" id="tab-free">
            @{
                var freeGrouped = freeList.GroupBy(q => q.Warehouse).ToList();

                foreach (var f in freeGrouped)
                {
                    if (f.Key == null)
                    {
                        continue;
                    }

                    <div class="panel box box-comment">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#warehouse-@f.Key.ID" aria-expanded="false" class="collapsed">
                                    @f.Key.Street, @f.Key.City, @f.Key.Country
                                </a>
                            </h4>
                            <div class="box-tools pull-right">
                                <span class="badge bg-primary">@f.Count()</span>
                            </div>
                        </div>
                        <div id="warehouse-@f.Key.ID" class="panel-collapse collapse" aria-expanded="false">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Nr. Ewidencyjny</th>
                                        <th>Marka</th>
                                        <th>Model</th>
                                        <th>Rodzaj</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in freeList)
                                    {
                                        <tr>
                                            <td>@item.EvidenceNumber</td>
                                            <td>@item.Mark</td>
                                            <td>@item.ModelNumber</td>
                                            <td>@item.Type.Name</td>
                                            <td style="text-align: center;"><a class="btn btn-success" style="color: white;" href="/Inventory/GetInventory/@item.ID">Pobierz</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

