﻿@model Inventory
@using ACSystem.Core.Models

@section Styles {
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
    <style>
        .select2-container {
            color: #333 !important;
        }
    </style>
}

@section Scripts{
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    <script>
        $(document).ready(function() {
            $(".select2").select2();
        });
    </script>
}

@{
    ViewBag.Title = "Pobierz narzędzie";

    var warehouses = (ViewBag.Warehouses != null) ? (List<InventoryWarehouse>)ViewBag.Warehouses : new List<InventoryWarehouse>();
    var projects = (ViewBag.Projects != null) ? (List<Projects>)ViewBag.Projects : new List<Projects>();
}

<h3 class="text-center text-uppercase">Zdaj narzędzie</h3>

<div class="box box-primary">
    <div class="box-body">
        <h2 class="text-center">@Model.Mark / @Model.ModelNumber</h2>
        @if (!Model.EvidenceNumber.IsNullOrEmpty() && !Model.EvidenceNumber2.IsNullOrEmpty())
        {
            <h4 class="text-center">Nr. ewidencyjny: S-@Model.EvidenceNumber / T-@Model.EvidenceNumber2</h4>
        }
        else if (!Model.EvidenceNumber.IsNullOrEmpty())
        {
            <h4 class="text-center">Nr. ewidencyjny: S-@Model.EvidenceNumber</h4>
        }
        else
        {
            <h4 class="text-center">Nr. ewidencyjny: T-@Model.EvidenceNumber2</h4>
        }
        <h4 class="text-center">Projekt: @Model.Project.InSystemID # @Model.Project.ProjectNumber # @Model.Project.Street, @Model.Project.City</h4>

        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.ID)
            <div class="form-group col-xs-6 col-xs-offset-3">
                <label class="control-label">Na magazyn</label>
                <select class="form-control select2" name="WarehouseID">
                    @foreach (var p in warehouses)
                    {
                        <option value="@p.ID">@p.Street, @p.City, @p.Country</option>
                    }
                </select>
            </div>
            <div class="form-group col-xs-4 col-xs-offset-4">
                <button type="submit" class="btn btn-flat btn-block btn-primary">Zdaj</button>
            </div>
        }

        @using (Html.BeginForm("GetInventory", "Inventory", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.ID)
            @Html.Hidden("MoveInventory", true)
            <div class="form-group col-xs-6 col-xs-offset-3">
                <label class="control-label">Przepisz na projekt</label>
                <select class="form-control select2" name="ProjectID">
                    @foreach (var p in projects)
                    {
                        <option value="@p.Id">@p.InSystemID # @p.ProjectNumber # @p.Street, @p.City</option>
                    }
                </select>
            </div>
            <div class="form-group col-xs-4 col-xs-offset-4">
                <button type="submit" class="btn btn-flat btn-block btn-primary">Przepisz</button>
            </div>
        }
    </div>
</div>


