﻿@using ACSystem.Core.Models
@model IEnumerable<Fitter_Hours>

@{
    ViewBag.Title = "Godziny";
    var years = (DateTime.Now.Year - 2019) + 1;
    var selectedMonth = Model.FirstOrDefault().Date.Month;
    var selectedYear = Model.FirstOrDefault().Date.Year;
    var projects = (List<Projects>)ViewBag.Projects;
    var culture = new System.Globalization.CultureInfo("pl-PL");
}

@section Styles {
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    <script>
        $("document").ready(function () {
            $('.select2').select2();

            $(".day-select").change(function () {
                var id = $(this).data("id");
                var hours = $(this).val();

                var successFn = function (data) {
                    if (data.success) {
                        toastr.success("Pomyślnie ustawiono czas pracy");
                    }
                    else {
                        toastr.error("Wystąpił błąd podczas ustawiania czasu pracy");
                    }
                }

                var errorFn = function () {
                    toastr.error("Wystąpił błąd podczas ustawiania czasu pracy");
                }

                GetAjaxWithFunctions("/Hours/UpdateHours", "POST", { hoursID: id, hours }, successFn, errorFn);
            })

            $(".dodaj-wpis").click(function () {
                var id = $(this).data("id");
                var date = $(this).data("date")
                $("#modal-dodaj-wpis #ID").val(id);
                $("#modal-dodaj-wpis .wybrana-data").html(date);
                $("#modal-dodaj-wpis").modal();
                //new Custombox.modal({
                //    content: {
                //        effect: 'fadein',
                //        target: '#modal-dodaj-wpis',
                //        animateFrom: 'top',
                //        animateTo: 'bottom',
                //        positionX: 'center',
                //        positionY: 'center',
                //    },
                //    overlay: {
                //        active: 0.5
                //    }
                //}).open();
            });

            $(".pokaz-szczegoly").click(function () {
                var id = $(this).data("id");

                var successFn = function (data) {
                    $(".modal-szczegoly .wybrana-data").html(data.Date);
                    $(".modal-szczegoly tbody").html("");
                    for (var i = 0; i < data.List.length; i++) {
                        $(".modal-szczegoly tbody").append("<tr><td>" + data.List[i].Project + "</td><td>" + data.List[i].Hours + '</td><td><button class="btn btn-xs btn-link usun-wpis" data-id="' + data.List[i].ID + '" style="color: red"> usuń</button></label></td></tr>');
                    }
                }

                var errorFn = function () {
                    toastr.error("Wystąpił błąd podczas pobierania danych");
                }

                GetAjaxWithFunctions("/Hours/GetDetails", "POST", { id }, successFn, errorFn);

                new Custombox.modal({
                    content: {
                        effect: 'fadein',
                        target: '#modal-szczegoly',
                        animateFrom: 'top',
                        animateTo: 'bottom',
                        positionX: 'center',
                        positionY: 'center',
                    },
                    overlay: {
                        active: 0.5
                    }
                }).open();
            });

            $(document).on("click", ".save-wpis", function () {
                var id = $("#ID").val();
                var projectID = $("#ProjectID").val()
                var hours = $("#Hours").val();
                var freeDay = $("#FreeDay").is(":checked");

                var successFn = function (data) {
                    if (data.success) {
                        location.reload();
                    }
                    else {
                        toastr.error("Wystąpił błąd podczas zapisywania czasu pracy");
                    }
                }

                var errorFn = function () {
                    toastr.error("Wystąpił błąd podczas zapisywania czasu pracy");
                }

                GetAjaxWithFunctions("/Hours/AddHours", "POST", { id, hours, projectID, freeDay }, successFn, errorFn);
            })

            $(document).on("click", ".usun-wpis", function () {
                var id = $(this).data("id");

                var successFn = function (data) {
                    if (data.success) {
                        location.reload();
                    }
                    else {
                        toastr.error("Wystąpił błąd podczas usuwania czasu pracy");
                    }
                }

                var errorFn = function () {
                    toastr.error("Wystąpił błąd podczas usuwania czasu pracy");
                }

                GetAjaxWithFunctions("/Hours/DeleteHours", "POST", { id }, successFn, errorFn);
            })
        });
    </script>
}

<div class="box box-primary">
    <div class="box-header">
        <h4 class="box-title">Godziny (@(Model.Sum(q => q.Fitter_Hours_Project.Sum(x => x.Hours))) h)</h4>
    </div>
    <div class="box-body">
        <div class="row">
            <form target="/Hours/Index" method="get">
                <div class="form-group col-xs-4">
                    <label>Miesiąc</label>
                    <select name="month" class="form-control">
                        @for (var i = 1; i <= 12; i++)
                        {
                            <option value="@i" @((selectedMonth == i) ? "selected" : "")>@i</option>
                        }
                    </select>
                </div>
                <div class="form-group col-xs-4">
                    <label>Rok</label>
                    <select name="year" class="form-control">
                        @for (var i = 0; i < years; i++)
                        {
                            <option value="@(2019 + i)" @((selectedYear == 2019 + i) ? "selected" : "")>@(2019 + i)</option>
                        }
                    </select>
                </div>
                <div class="col-xs-4">
                    <label></label>
                    <button type="submit" class="btn btn-block btn-flat btn-like-bg">WYBIERZ</button>
                </div>
            </form>
        </div>
        <div style="border-collapse: collapse;">
            @foreach (var m in Model)
            {
                <div class="col-xs-4 text-center" style="border: 1px solid #808080; padding: 5px; border-collapse: collapse;">
                    <label class="text-center">
                        @culture.DateTimeFormat.GetDayName(m.Date.DayOfWeek).Substring(0, 3)
                        @m.Date.ToString("dd.MM")
                        <br />
                        <button class="btn btn-xs btn-link dodaj-wpis" data-id="@m.ID" data-date="@m.Date.ToString("yyyy-MM-dd")" style="color: forestgreen"> dodaj</button>
                    </label>
                    <br />
                    <button class="btn btn-link pokaz-szczegoly" data-id="@m.ID">
                        @if (m.Fitter_Hours_Project.Any(q => q.FreeDay) == false)
                        {
                            <span>@(m.Fitter_Hours_Project.Sum(q => q.Hours)) h</span>
                        }
                        else
                        {
                            <span class="text-danger">Wolne</span>
                        }
                    </button>
                </div>
            }
        </div>
    </div>
</div>

<div id="modal-dodaj-wpis" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title color-dark">Przepracowany czas <br /> <span class="wybrana-data"></span></h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="ID" name="ID" value="-1" />
                <div class="form-group">
                    <label class="control-label" style="color:black;">Projekt</label>
                    <select class="form-control select2" name="ProjectID" id="ProjectID" data-placeholder="Wybierz projekt" style="color:black; width: 100%;">
                        @foreach (var p in projects)
                        {
                            <option value="@p.Id">@p.InSystemID # @p.ProjectNumber</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" style="color:black;">Czas</label>
                    <input type="number" step="0.5" min="0" max="24" class="form-control" id="Hours" name="Hours" placeholder="0.00" value="0" />
                </div>
                <div class="form-group">
                    <label class="control-label" style="color: black;">Dzień wolny <input type="checkbox" id="FreeDay" name="FreeDay" /></label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-like-bg pull-left save-wpis" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div id="modal-szczegoly" class="cal-modal cal-modal-form cal-modal-top modal-szczegoly">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title color-dark">Lista godzin dla dnia <br /> <span class="wybrana-data"></span></h4>
            </div>
            <div class="modal-body table-responsive">
                <table class="table" style="color: black;">
                    <thead>
                        <tr>
                            <th>Projekt</th>
                            <th>Godz.</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-like-bg pull-left close-modal">OK</button>
            </div>
        </div>
    </div>
</div>