﻿@using ACSystem.Core.Models
@model IEnumerable<view_GlobalSearch>

@{
    ViewBag.Title = "Szukaj";
    ViewBag.Description = "Wyszukiwanie ACSystem";

    var pages = ViewBag.Pages;
    var currentPage = ViewBag.CurrentPage;
}

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/square/blue.css")
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/iCheck/icheck.min.js")
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")

    <script>
        CreateSortingIcon('@ViewBag.Destination', '@ViewBag.OrderBy');
        $('.minimal').iCheck({
            radioClass: 'iradio_square-blue'
        });

        $(".details-search").change(function () {
            var field = $(this).data("field");
            var val = $(this).val();

            $("#" + field + "-search").val(val);
        })

        $(".details-search").on("dp.change", function () {
            var field = $(this).data("field");
            var val = $(this).val();

            $("#" + field + "-search").val(val);
        })

        $(".page-btn").click(function () {
            var page = $(this).data("page");

            $("#page").val(page);

            $("#search-form").submit();
        })

        $(document).on('click', 'table th', function () {
            $("#orderby").val($(this).data('orderby'));

            var currentDest = $(this).data('dest');

            $('table th').data('dest', 'desc');

            if (currentDest === 'asc')
                $(this).data('dest', 'desc');
            if (currentDest === 'desc') $(this).data('dest', 'asc');

            $("#dest").val($(this).data('dest'));
            
            $("#search-form").submit();
        });

        function CreateSortingIcon(dest, orderBy) {
            var iconAsc = '<i class="glyphicon glyphicon-sort-by-alphabet sort-column-icon"></i>';
            var iconDesc = '<i class="glyphicon glyphicon-sort-by-alphabet-alt sort-column-icon"></i>'

            $('table thead tr th i').remove();

            if (orderBy === 'ID' && dest === 'asc')
                $('table thead tr th:nth-child(1)').append(iconAsc);
            else if (orderBy === 'ID' && dest === 'desc')
                $('table thead tr th:nth-child(1)').append(iconDesc);
            if (orderBy === 'Project' && dest === 'asc')
                $('table thead tr th:nth-child(2)').append(iconAsc);
            else if (orderBy === 'Project' && dest === 'desc')
                $('table thead tr th:nth-child(2)').append(iconDesc);
            else if (orderBy === 'Address' && dest === 'asc')
                $('table thead tr th:nth-child(3)').append(iconAsc);
            else if (orderBy === 'Address' && dest === 'desc')
                $('table thead tr th:nth-child(3)').append(iconDesc);
            else if (orderBy === 'LGH' && dest === 'asc')
                $('table thead tr th:nth-child(4)').append(iconAsc);
            else if (orderBy === 'LGH' && dest === 'desc')
                $('table thead tr th:nth-child(4)').append(iconDesc);
            else if (orderBy === 'Task' && dest === 'asc')
                $('table thead tr th:nth-child(5)').append(iconAsc);
            else if (orderBy === 'Task' && dest === 'desc')
                $('table thead tr th:nth-child(5)').append(iconDesc);
            else if (orderBy === 'Invoice' && dest === 'asc')
                $('table thead tr th:nth-child(6)').append(iconAsc);
            else if (orderBy === 'Invoice' && dest === 'desc')
                $('table thead tr th:nth-child(6)').append(iconDesc);
            else if (orderBy === 'Payroll' && dest === 'asc')
                $('table thead tr th:nth-child(7)').append(iconAsc);
            else if (orderBy === 'Payroll' && dest === 'desc')
                $('table thead tr th:nth-child(7)').append(iconDesc);
            else if (orderBy === 'Fitter' && dest === 'asc')
                $('table thead tr th:nth-child(8)').append(iconAsc);
            else if (orderBy === 'Fitter' && dest === 'desc')
                $('table thead tr th:nth-child(8)').append(iconDesc);
            else if (orderBy === 'Timestamp' && dest === 'asc')
                $('table thead tr th:nth-child(9)').append(iconAsc);
            else if (orderBy === 'Timestamp' && dest === 'desc')
                $('table thead tr th:nth-child(9)').append(iconDesc);
        }

    </script>
}

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Wyszukiwarka</h3>
        </div>
        <div class="box-body table-responsive no-padding">
            <div class="col-md-4 col-md-offset-4" style="margin-top: 20px; margin-bottom: 20px;">
                <form action="/Search/Global" method="GET" id="search-form">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" id="main-query" name="query" class="form-control" placeholder="Szukaj..." value="@ViewBag.Query">
                            <input type="hidden" id="id-search" name="id" value="@ViewBag.IDSearch" />
                            <input type="hidden" id="projekt-search" name="projekt" value="@ViewBag.ProjektSearch" />
                            <input type="hidden" id="adres-search" name="adres" value="@ViewBag.AdresSearch" />
                            <input type="hidden" id="lgh-search" name="lgh" value="@ViewBag.LGHSearch" />
                            <input type="hidden" id="zadanie-search" name="zadanie" value="@ViewBag.ZadanieSearch" />
                            <input type="hidden" id="monter-search" name="monter" value="@ViewBag.MonterSearch" />
                            <input type="hidden" id="date-search" name="date" value="@ViewBag.DateSearch" />
                            <input type="hidden" id="page" name="page" value="@ViewBag.CurrentPage" />
                            <input type="hidden" id="faktura-search" name="faktura" value="@ViewBag.InvoiceSearch" />
                            <input type="hidden" id="payroll-search" name="payroll" value="@ViewBag.PayrollSearch" />
                            <input type="hidden" id="orderby" name="orderby" value="@ViewBag.OrderBy" />
                            <input type="hidden" id="dest" name="dest" value="@ViewBag.Destination" />

                            <span class="input-group-btn">
                                <button type="submit" id="search-btn" class="btn btn-flat btn-success">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-12 table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td>
                                <input type="text" class="form-control details-search" data-field="id" value="@ViewBag.IDSearch" />
                            </td>
                            <td>
                                <input type="text" class="form-control details-search" data-field="projekt" value="@ViewBag.ProjektSearch" />
                            </td>
                            <td>
                                <input type="text" class="form-control details-search" data-field="adres" value="@ViewBag.AdresSearch" />
                            </td>
                            <td>
                                <input type="text" class="form-control details-search" data-field="lgh" value="@ViewBag.LGHSearch" />
                            </td>
                            <td>
                                <input type="text" class="form-control details-search" data-field="zadanie" value="@ViewBag.ZadanieSearch" />
                            </td>
                            <td>
                                <input type="text" class="form-control details-search" data-field="faktura" value="@ViewBag.InvoiceSearch" />
                            </td>
                            <td>
                                <input type="text" class="form-control details-search" data-field="payroll" value="@ViewBag.PayrollSearch" />
                            </td>
                            <td>
                                <input type="text" class="form-control details-search" data-field="monter" value="@ViewBag.MonterSearch" />
                            </td>
                            <td>
                                <input type="text" class="form-control details-search" data-field="date" value="@ViewBag.DateSearch" />
                            </td>
                        </tr>
                        <tr>
                            <th data-orderby="ID" data-dest="@ViewBag.Destination">ID</th>
                            <th data-orderby="Project" data-dest="@ViewBag.Destination">Projekt</th>
                            <th data-orderby="Address" data-dest="@ViewBag.Destination">Adres</th>
                            <th data-orderby="LGH" data-dest="@ViewBag.Destination">LGH</th>
                            <th data-orderby="Task" data-dest="@ViewBag.Destination">Zadanie</th>
                            <th data-orderby="Invoice" data-dest="@ViewBag.Destination">Faktura</th>
                            <th data-orderby="Payroll" data-dest="@ViewBag.Destination">Listy płac</th>
                            <th data-orderby="Fitter" data-dest="@ViewBag.Destination">Monter</th>
                            <th data-orderby="Timestamp" data-dest="@ViewBag.Destination">Timestamp</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var a in Model)
                    {
                        <tr>
                            <td>
                                <a target="_blank" href="/Projects/Details/@a.ProjectID">@a.InSystemID</a>
                            </td>
                            <td>
                                <a target="_blank" href="/Projects/Details/@a.ProjectID">@a.ProjectNumber</a>
                            </td>
                            <td>
                                <a target="_blank" href="https://www.google.com/maps/dir/?api=1&origin=Vallda, Szwecja&destination=@a.Adres">@a.Adres</a>
                            </td>
                            <td>
                                <a target="_blank" href="/Projects/ApartmentDetails/@a.ApartmentID">@a.LGH</a>
                            </td>
                            <td>
                                <a target="_blank" href="/Task/Details/@a.TaskID">@a.Task</a>
                            </td>
                            <td>
                                @if (a.InvoiceID.HasValue)
                                {
                                    <a target="_blank" href="/Office/DetailsInvoice/@a.InvoiceID">@a.InvoiceNumber.PadLeft(6, '0') | @a.FortnoxUrl</a>
                                }
                            </td>
                            <td>
                                @if (!string.IsNullOrEmpty(a.P_id)) {
                                    var payrollIds = a.P_id.Split(';');
                                    var payrollNos = a.P_no.Split(';');

                                    for (var i = 0; i < payrollIds.Count(); i++)
                                    {
                                        <a target="_blank" href="/Office/PayrollDetails/@payrollIds[i]">@payrollNos[i].PadLeft(5, '0') </a>
                                    }
                                }
                            </td>
                            <td>
                                <a target="_blank" href="/Account/Details/@a.FitterID">@a.Fitter</a>
                            </td>
                            <td>@a.TimeStamp</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
                @if (pages > 1 && currentPage > 1)
                {
                    <li><a href="#" class="page-btn" data-page="@(currentPage - 1)">«</a></li>
                }

                @{
                    var pagesBefore = currentPage - 3;
                    var pagesAfter = currentPage + 3;
                }

                @if (pagesBefore > 0 && pagesBefore != 1)
                {
                    <li><a href="#" class="page-btn" data-page="1">1</a></li>
                    <li><a href="#">...</a></li>
                }

                @for (var i = 1; i <= pages; i++)
                {
                    if (i >= pagesBefore && i <= pagesAfter)
                    {
                        if (i == currentPage)
                        {
                        <li class="active"><a href="#">@i</a></li>
                        }
                        else
                        {
                        <li><a href="#" class="page-btn" data-page="@i">@i</a></li>
                        }
                    }
                }

                @if (pagesAfter < pages)
                {
                    <li><a href="#">...</a></li>
                    <li><a href="#" class="page-btn" data-page="@pages">@pages</a></li>
                }

                @if (pages > 1 && currentPage < pages)
                {
                        <li><a href="#" class="page-btn" data-page="@(currentPage + 1)">»</a></li>
                }
            </ul>
        </div>
    </div>
</section>

<div id="modal" class="cal-modal cal-modal-form cal-modal-top"></div>
