﻿@model ACSystem.Core.Models.Inventory
@using ACSystem.Core
@using ACSystem.Core.Extensions

@{
    ViewBag.InventoryStatus = Model.Status;
    ViewBag.Title = "Szczegóły - Numer ewidencyjny " + Model.EvidenceNumber;
    ViewBag.Active = "Inventory";
    ViewBag.SubActive = "List";

    var currentFitter = Model.Inventory_Fitter.Where(q => q.PutDate == null).FirstOrDefault();

    var lifeDate = Model.BuyDate.AddYears(Model.LifeTime);
    var monthLeft = (int)(Math.Floor((lifeDate - DateTime.Now).TotalDays / 30));

}

@section Styles {
    @Styles.Render("//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css")
    <style>
        .gallery {
            display: inline-block;
            margin-top: 20px;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    @Scripts.Render("//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js")
    @Scripts.Render("~/Scripts/Site/inventory-ext.js")
    <script>
        $(".fancybox").fancybox({
            openEffect: "none",
            closeEffect: "none"
        });
    </script>
    <script>
            var data = {
                current: "@Model.ID",
                dest: localStorage.getItem("inventory-dest"),
                orderby: localStorage.getItem("inventory-orderby"),
                search: localStorage.getItem("inventory-search"),
                filter: localStorage.getItem("inventory-filter")
            }

            var successFn = function (data) {
                var buttons = "";

                if (data.prev != "" && data.prev != null)
                    buttons += '<a href="/Inventory/Details/' + data.prev + '" class="btn btn-primary btn-sm" title="Poprzedne narzędzie"><i class="fa fa-angle-left"></i></a>';

                if (data.next != "" && data.next != null)
                    buttons += '<a href="/Inventory/Details/' + data.next + '" class="btn btn-primary btn-sm" title="Następne nardzędzie"><i class="fa fa-angle-right"></i></a>';

                $("#prev-next-btns").append(buttons);
            }

            var errorFn = function () { }

            GetAjaxWithFunctions("/Inventory/GetPrevNextID", "POST", data, successFn, errorFn, "");
    </script>
}

<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Dane narzędzia</h3>
                    <div class="box-tools pull-right" id="prev-next-btns">
                        <a href="/Inventory/Edit/@Model.ID" class="btn btn-sm btn-primary" title="Edytuj">
                            Edytuj
                        </a>
                        @*@if (ViewBag.Prev != null)
                        {
                            <a href="/Inventory/Details/@ViewBag.Prev" class="btn btn-primary btn-sm" title="Poprzednie narzędzie"><i class="fa fa-angle-left"></i></a>
                        }
                        @if (ViewBag.Next != null)
                        {
                            <a href="/Inventory/Details/@ViewBag.Next" class="btn btn-primary btn-sm" title="Następne narzędzie"><i class="fa fa-angle-right"></i></a>
                        }*@
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>Nr. ewidencyjny</th>
                            @if (!Model.EvidenceNumber.IsNullOrEmpty() && !Model.EvidenceNumber2.IsNullOrEmpty())
                            {
                                <td>
                                    S-@Model.EvidenceNumber
                                    <br />
                                    T-@Model.EvidenceNumber2
                                </td>
                            }
                            else if (!Model.EvidenceNumber.IsNullOrEmpty())
                            {
                                <td>
                                    S-@Model.EvidenceNumber
                                </td>
                            }
                            else
                            {
                                <td>T-@Model.EvidenceNumber2</td>
                            }
                        </tr>
                        <tr>
                            <th>Typ maszyny</th>
                            <td>@Model.Type.Name</td>
                        </tr>
                        <tr>
                            <th>Marka / model</th>
                            <td>@Model.Mark / @Model.ModelNumber</td>
                        </tr>
                        <tr>
                            <th>Data zakupu</th>
                            <td>@Model.BuyDate.ToString("yyyy-MM-dd")</td>
                        </tr>
                        <tr>
                            <th>Żywotność (lata)</th>
                            <td>@Model.LifeTime</td>
                        </tr>
                        <tr>
                            <th>Kwota zakupu netto</th>
                            <td>@Model.BuyPriceNetto</td>
                        </tr>
                        <tr>
                            <th>Kwota zakupu brutto</th>
                            <td>@Model.BuyPriceBrutto</td>
                        </tr>
                        @if (Model.SellPrice.HasValue)
                        {
                            <tr>
                                <th>Cena sprzedaży</th>
                                <td>@Model.SellPrice </td>
                            </tr>
                        }
                        <tr>
                            <th>Miejsce zakupu</th>
                            <td>@Model.BuyPlace</td>
                        </tr>
                        <tr>
                            <th>Własność</th>
                            @switch (Model.OwnerType)
                            {
                                case InventoryOwnerType.General:
                                    <td>Ogólna</td>
                                    break;
                                case InventoryOwnerType.Private:
                                    <td>Prywatna</td>
                                    break;
                            }
                        </tr>
                        @if (Model.OwnerType == InventoryOwnerType.Private)
                        {
                            <tr>
                                <th>Właściciel</th>
                                <td>
                                    @(Model.Owner?.FullName)
                                </td>
                            </tr>
                        }
                        <tr>
                            <th colspan="2">Opis</th>
                        </tr>
                        <tr>
                            <td colspan="2">
                                @Model.Description
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Akcesoria</h3>
                    <div class="box-tools pull-right">
                        <button type="button" id="add-accessory" class="btn btn-sm btn-flat btn-primary" data-id="@Model.ID"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <div id="accessory-table" class="box-body table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Nr. ewidencyjny</th>
                                <th>Nazwa</th>
                                <th width="30px"></th>
                                <th width="30px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Inventory_Accessories_Connect.Count > 0)
                            {
                                foreach (var accessory in Model.Inventory_Accessories_Connect)
                                {
                                    <tr>
                                        <td>
                                            @accessory.Accessory.EvidenceNumber
                                        </td>
                                        <td>
                                            @accessory.Accessory.Name
                                            <input type="hidden" name="AccessoriesID[]" value="@accessory.AccessoryID" />
                                        </td>
                                        <td class="text-center">
                                            @{
                                                var photo = accessory.Accessory.Photos.FirstOrDefault();

                                                if (photo != null)
                                                {
                                                    <a target="_blank" href="@photo.URL" class="btn btn-flat btn-xs btn-primary text-center"><i class="fa fa-eye"></i></a>
                                                }
                                            }
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-danger btn-flat btn-xs delete-accessory" data-connect-id="@accessory.ID"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Dokumenty</h3>
                    <div class="box-tools pull-right">
                        <button type="button" id="add-file" class="btn btn-sm btn-flat btn-primary" data-id="@Model.ID"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <table id="files-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Nazwa</th>
                                <th width="30px"></th>
                                <th width="30px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var doc in Model.Inventory_Photo)
                            {
                                <tr>
                                    <td>
                                        @doc.Name
                                    </td>
                                    <td class="text-center">
                                        <a target="_blank" href="@doc.URL" class="btn btn-flat btn-xs btn-primary text-center"><i class="fa fa-eye"></i></a>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-flat btn-xs btn-danger delete-file" data-url="@doc.URL" data-id="@doc.ID"><i class="fa fa-trash"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Aktualny status</h3>
                </div>
                <div class="box-body table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Stan</th>
                                <th>Pozostała wartość</th>
                                <th>Magazyn</th>
                                <th>Projekt</th>
                                <th>W posiadaniu</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @switch (Model.Status)
                                {
                                    case InventoryStatus.Free:
                                        <td>Dostępne</td>
                                        break;
                                    case InventoryStatus.Busy:
                                        <td>Zajęte</td>
                                        break;
                                    case InventoryStatus.Deleted:
                                        <td>Skasowane</td>
                                        break;
                                    case InventoryStatus.Sold:
                                        <td>Sprzedane</td>
                                        break;
                                }

                                @switch (Model.ConditionStatus)
                                {
                                    case Inventory_ConditionStatus.New:
                                        <td>Nowe</td>
                                        break;
                                    case Inventory_ConditionStatus.Good:
                                        <td>Dobre</td>
                                        break;
                                    case Inventory_ConditionStatus.Ok:
                                        <td>OK</td>
                                        break;
                                    case Inventory_ConditionStatus.ToChange:
                                        <td>Do wymiany</td>
                                        break;
                                    case Inventory_ConditionStatus.Trash:
                                        <td>Skasowane</td>
                                        break;
                                }

                                <td>@(Math.Round((Model.BuyPriceBrutto / ((Model.LifeTime == 0) ? 1 : (Model.LifeTime * 12))) * monthLeft, 2))</td>

                                @if (Model.WarehouseID.HasValue)
                                {
                                    <td> @Model.Warehouse.Street @Model.Warehouse.City @Model.Warehouse.Country </td>
                                }
                                else
                                {
                                    <td> ----</td>
                                }

                                @if (Model.ProjectID.HasValue && Model.OwnerType != InventoryOwnerType.Private)
                                {
                                    <td><a href="/Projects/Details/@Model.ProjectID.Value">@Model.Project.ProjectNumber</a></td>
                                }
                                else
                                {
                                    <td>----</td>
                                }

                                @if (Model.OwnerType == InventoryOwnerType.Private && Model.Owner != null)
                                {
                                    <td>@Model.Owner.Name @Model.Owner.Surname</td>
                                }
                                else if (currentFitter != null)
                                {
                                    <td><a href="/Account/Details/@currentFitter.UserID">@currentFitter.User.FullName</a></td>
                                }
                                else
                                {
                                    <td>----</td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">ZDJĘCIA</h3>
                </div>
                <div class="box-body">
                    <div class="list-group gallery" style="margin-top: 0; margin-bottom: 0;">
                        @foreach (var photo in Model.Inventory_Photo)
                        {
                            var fileNameSplit = photo.Name.Split('.');
                            var extension = fileNameSplit[fileNameSplit.Count() - 1].ToUpper();

                            if (extension == "JPG" || extension == "JPEG" || extension == "PNG" || extension == "BMP")
                            {
                                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                                    <a class="thumbnail fancybox" rel="ligthbox" href="@photo.URL">
                                        <img class="img-responsive" alt="" src="@photo.URL" />
                                        <div class='text-right'>
                                            <small class='text-muted'>@photo.Name</small>
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab-dziennik" data-toggle="tab">DZIENNIK AKTYWNOŚCI</a></li>
                    <li><a href="#tab-check" data-toggle="tab">PRZEGLĄDY</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane table-responsive no-padding active" id="tab-dziennik">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>Imię i nazwisko</th>
                                <th>Data pobrania</th>
                                <th>Na projekt</th>
                                <th>Data oddania</th>
                                <th>Do magazynu</th>
                            </tr>
                            @foreach (var fitter in Model.Inventory_Fitter.OrderByDescending(q => q.TakeDate))
                            {
                                <tr>
                                    <td>
                                        <a href="/Account/Details/@fitter.UserID">@fitter.User.FullName</a>
                                    </td>
                                    <td>
                                        @fitter.TakeDate.ToString("yyyy-MM-dd HH:mm")
                                    </td>
                                    <td>
                                        @((fitter.ProjectID.HasValue) ? fitter.Project.ProjectNumber : "----")
                                    </td>
                                    <td>
                                        @((fitter.PutDate.HasValue) ? fitter.PutDate.Value.ToString("yyyy-MM-dd HH:mm") : "Do teraz")
                                    </td>
                                    <td>
                                        @((fitter.WarehouseID.HasValue) ? $"{fitter.Warehouse.Street}, {fitter.Warehouse.City}, {fitter.Warehouse.Country}" : "----")
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <div class="tab-pane table-responsive no-padding" id="tab-check">
                        <table id="check-table" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Data przeglądu</th>
                                    <th>Kto wykonał</th>
                                    <th>Nadany stan</th>
                                    <th>Komentarz</th>
                                    <th width="30px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var check in Model.Inventory_Check)
                                {
                                    <tr>
                                        <td>
                                            @check.CheckDate.ToString("yyyy-MM-dd HH:mm")
                                        </td>
                                        <td>
                                            @check.User.FullName
                                        </td>
                                        @switch (Model.ConditionStatus)
                                        {
                                            case Inventory_ConditionStatus.New:
                                                <td>Nowe</td>
                                                break;
                                            case Inventory_ConditionStatus.Good:
                                                <td>Dobre</td>
                                                break;
                                            case Inventory_ConditionStatus.Ok:
                                                <td>OK</td>
                                                break;
                                            case Inventory_ConditionStatus.ToChange:
                                                <td>Do wymiany</td>
                                                break;
                                            case Inventory_ConditionStatus.Trash:
                                                <td>Skasowane</td>
                                                break;
                                        }
                                        <td>
                                            @check.Comment
                                        </td>
                                        <td>
                                            @if (check.Photos != null && check.Photos.FirstOrDefault() != null)
                                            {
                                                <a target="_blank" href="@check.Photos.FirstOrDefault().URL" class="btn btn-flat btn-xs btn-primary text-center"><i class="fa fa-eye"></i></a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>