﻿@model Inventory
@using ACSystem.Core
@using ACSystem.Core.Models

@{
    ViewBag.Title = "Edytuj inwentarz";
    ViewBag.Description = "Edytuj narzędzie ACSystem";
    ViewBag.Active = "Inventory";
    ViewBag.SubActive = "Edit";

    var fitters = (ViewBag.Fitters != null) ? (List<ACSystemUser>)ViewBag.Fitters : new List<ACSystemUser>();
}

@section Styles {
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
    @*@Styles.Render("~/Content/Site/inventory.css")*@

    <style>
        .row-disabled .delete-accessory {
            display: none;
        }
    </style>
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    @Scripts.Render("~/Scripts/Site/inventory-ext.js")
}

<section class="content">
    @using (Html.BeginForm("Edit", "Inventory", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ID)
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Dane narzędzia</h3>
                        <div class="box-tools pull-right">
                            <button type="submit" class="btn btn-sm btn-flat btn-primary" title="Dodaj">
                                ZAPISZ
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="control-label">Numery ewidencyjne</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <span>S</span>
                                </div>
                                @Html.TextBoxFor(m => m.EvidenceNumber, new { @class = "form-control", placeholder = "Wpisz numer ewidencyjny S" })
                            </div>
                            @Html.ValidationMessageFor(m => m.EvidenceNumber, "", new { @class = "text-danger" })
                            <div class="input-group" style="margin-top: 10px;">
                                <div class="input-group-addon">
                                    <span>T</span>
                                </div>
                                @Html.TextBoxFor(m => m.EvidenceNumber2, new { @class = "form-control", placeholder = "Wpisz numer ewidencyjny T" })
                            </div>
                            @Html.ValidationMessageFor(m => m.EvidenceNumber2, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.TypeID, new { @class = "control-label" })
                            @Html.HiddenFor(m => m.TypeID)
                            <div class="input-group">
                                <input type="text" id="Type" class="form-control" value="@((Model != null && Model.Type != null) ? Model.Type.Name : "")" placeholder="Wybierz typ maszyny >>" disabled />
                                <span class="input-group-btn">
                                    <button type="button" id="choose-type" class="btn btn-flat btn-primary"><i class="fa fa-plus"></i></button>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(m => m.TypeID, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Mark, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.Mark, new { @class = "form-control", placeholder = "Wpisz markę" })
                            @Html.ValidationMessageFor(m => m.Mark, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ModelNumber, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.ModelNumber, new { @class = "form-control", placeholder = "Wpisz numer modelu" })
                            @Html.ValidationMessageFor(m => m.ModelNumber, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.LifeTime, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.LifeTime, new { @class = "form-control", placeholder = "Wpisz żywotność (lata)", @Type = "number", step = 1 })
                            @Html.ValidationMessageFor(m => m.LifeTime, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Status, new { @class = "control-label" })
                            <select class="form-control select2" name="Status" id="Status">
                                <option value="@((int)InventoryStatus.Free)" @((Model != null && Model.Status == InventoryStatus.Free) ? "selected" : "")>Wolne</option>
                                <option value="@((int)InventoryStatus.Busy)" @((Model != null && Model.Status == InventoryStatus.Busy) ? "selected" : "")>Zajęte</option>
                                <option value="@((int)InventoryStatus.Deleted)" @((Model != null && Model.Status == InventoryStatus.Deleted) ? "selected" : "")>Skasowane</option>
                            </select>
                            @Html.ValidationMessageFor(m => m.OwnerType, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConditionStatus, new { @class = "control-label" })
                            <select class="form-control select2" name="ConditionStatus" id="ConditionStatus">
                                <option value="@((int)Inventory_ConditionStatus.New)" @((Model != null && Model.ConditionStatus == Inventory_ConditionStatus.New) ? "selected" : "")>Nowe</option>
                                <option value="@((int)Inventory_ConditionStatus.Good)" @((Model != null && Model.ConditionStatus == Inventory_ConditionStatus.Good) ? "selected" : "")>Dobre</option>
                                <option value="@((int)Inventory_ConditionStatus.Ok)" @((Model != null && Model.ConditionStatus == Inventory_ConditionStatus.Ok) ? "selected" : "")>OK</option>
                                <option value="@((int)Inventory_ConditionStatus.ToChange)" @((Model != null && Model.ConditionStatus == Inventory_ConditionStatus.ToChange) ? "selected" : "")>Do wymiany</option>
                                <option value="@((int)Inventory_ConditionStatus.Trash)" @((Model != null && Model.ConditionStatus == Inventory_ConditionStatus.Trash) ? "selected" : "")>Skasowane</option>
                            </select>
                            @Html.ValidationMessageFor(m => m.OwnerType, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Description, new { @class = "control-label" })
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Dane zakupu</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.BuyDate, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.BuyDate, new { @class = "form-control date-only", placeholder = "Podaj datę zakupu", @Value = Model.BuyDate.ToString("yyyy-MM-dd") })
                            @Html.ValidationMessageFor(m => m.BuyDate, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.BuyPriceBrutto, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.BuyPriceBrutto, new { @class = "form-control", placeholder = "Podaj kwotę brutto" })
                            @Html.ValidationMessageFor(m => m.BuyPriceBrutto, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.BuyPlace, new { @class = "control-label" })
                            @Html.TextBoxFor(m => m.BuyPlace, new { @class = "form-control", placeholder = "Wpisz miejsce zakupu" })
                            @Html.ValidationMessageFor(m => m.BuyPlace, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Własność</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.OwnerType, new { @class = "control-label" })
                            <select class="form-control select2" name="OwnerType" id="OwnerType">
                                <option value="@((int)InventoryOwnerType.General)" @((Model != null && Model.OwnerType == InventoryOwnerType.General) ? "selected" : "")>Ogólna</option>
                                <option value="@((int)InventoryOwnerType.Private)" @((Model != null && Model.OwnerType == InventoryOwnerType.Private) ? "selected" : "")>Prywatna</option>
                            </select>
                            @Html.ValidationMessageFor(m => m.OwnerType, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.OwnerID, new { @class = "control-label" })
                            <select class="form-control select2" name="OwnerID" id="OwnerID">
                                <option></option>
                                @foreach (var fitter in fitters)
                                {
                                    <option value="@fitter.Id" @((Model != null && Model.OwnerID == fitter.Id) ? "selected" : "")>@fitter.FullName</option>
                                }
                            </select>
                            @Html.ValidationMessageFor(m => m.OwnerID, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.WarehouseID, new { @class = "control-label" })
                            @Html.HiddenFor(m => m.WarehouseID)
                            <div class="input-group">
                                <input type="text" id="Warehouse" class="form-control" value="@((Model != null && Model.Warehouse != null) ? $"{Model.Warehouse.Street}, {Model.Warehouse.City}, {Model.Warehouse.Country}" : "")" placeholder="Wybierz magazyn >>" disabled />
                                <span class="input-group-btn">
                                    <button type="button" id="choose-warehouse" class="btn btn-flat btn-primary"><i class="fa fa-plus"></i></button>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(m => m.WarehouseID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Akcesoria</h3>
                        <div class="box-tools pull-right">
                            <button type="button" id="add-accessory" class="btn btn-sm btn-flat btn-primary" data-id="@Model.ID"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div id="accessory-table" class="box-body table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Nr. ewidencyjny</th>
                                    <th>Nazwa</th>
                                    <th width="30px"></th>
                                    <th width="30px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Inventory_Accessories_Connect.Count > 0)
                                {
                                    foreach (var accessory in Model.Inventory_Accessories_Connect.OrderByDescending(q => q.Active).ThenBy(q => q.Accessory.Name))
                                    {
                                        <tr>
                                            <td @((accessory.Active == false) ? "class=row-disabled" : "")>
                                                @accessory.Accessory.EvidenceNumber
                                            </td>
                                            <td @((accessory.Active == false) ? "class=row-disabled" : "")>
                                                @accessory.Accessory.Name

                                            </td>
                                            <td class="text-center">
                                                @if (accessory.Accessory.Photos.Any() && !string.IsNullOrEmpty(accessory.Accessory.Photos.FirstOrDefault().URL))
                                                {
                                                    <a target="_blank" href="@accessory.Accessory.Photos.FirstOrDefault().URL" class="btn btn-flat btn-xs btn-primary text-center"><i class="fa fa-eye"></i></a>
                                                }
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-danger btn-flat btn-xs delete-accessory" data-connect-id="@accessory.ID"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">PLIKI</h3>
                        <div class="box-tools pull-right">
                            <button type="button" id="add-file" class="btn btn-sm btn-flat btn-primary" data-id="@Model.ID"><i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <table id="files-table" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="30px"></th>
                                    <th>DOKUMENT</th>
                                    <th width="30px" class="text-center"></th>
                                    <th width="30px" class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var doc in Model.Inventory_Photo)
                                    {
                                        <tr class="doc-row-@doc.ID">
                                            <td>
                                                @if (doc.URL.Contains(".pdf"))
                                                {
                                                    <i class="fa fa-file-pdf-o"></i>
                                                }
                                                else if (doc.URL.ToLower().Contains(".png") || doc.URL.ToLower().Contains(".jpg") || doc.URL.ToLower().Contains(".jpeg") || doc.URL.ToLower().Contains(".bmp") || doc.URL.ToLower().Contains(".gif"))
                                                {
                                                    <i class="fa fa-file-image-o"></i>
                                                }
                                                else
                                                {
                                                    <i class="fa fa-file-o"></i>
                                                }
                                            </td>
                                            <td>
                                                <span class="hover doc-name-edit" data-id="@doc.ID" data-name="@doc.Name">@doc.Name <i class="fa fa-pencil"></i></span>
                                            </td>
                                            <td class="text-center"><a target="_blank" href="@doc.URL" class="btn btn-flat btn-xs btn-primary text-center"><i class="fa fa-eye"></i></a></td>
                                            <td class="text-center"><button type="button" class="btn btn-flat btn-xs btn-danger delete-file" data-url="@doc.URL" data-id="@doc.ID"><i class="fa fa-trash"></i></button></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
</section>

<div id="edit-filename-modal" class="cal-modal" style="width: 40%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">EDYTUJ NAZWĘ PLIKU</h4>
            </div>
            <div class="modal-body">
                <form action="/Inventory/EditFileName" class="edit-filename-form" method="post" role="form">
                    <input type="hidden" name="ID" id="ID" value="0" />
                    <div class="form-group">
                        <label class="control-label">Nazwa pliku</label>
                        <input type="text" class="form-control" name="Name" id="Name" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary pull-right close-modal" data-dismiss="modal">ZAPISZ</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
