﻿@{
    ViewBag.Title = "Zarządzaj";
    ViewBag.Description = "Lista narzędzi ACSystem";
    ViewBag.Active = "Inventory";
    ViewBag.SubActive = "List";
}

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/square/blue.css")
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/iCheck/icheck.min.js")
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    @Scripts.Render("~/Scripts/Site/inventory.js")
}

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">
                <a href="/Inventory/Create" class="btn btn-sm btn-primary pull-right" style="margin-left: 15px;">DODAJ</a>
                <button type="button" class="btn btn-sm btn-primary" title="Filtruj" data-toggle="collapse" data-target="#filtr-container">
                    FILTRUJ
                </button>
            </div>
        </div>
        <div class="box-body table-responsive no-padding">
            <div class="col-md-12" id="filtr-container">
                <div class="input-group input-group-sm pull-right checkbox-filter">
                    <label>
                        <input type="checkbox" class="minimal status-filter filter value-0" id="fltr-chbx-1" value="0" checked>
                        Dostępne
                    </label>
                    <label>
                        <input type="checkbox" class="minimal status-filter filter value-1" id="fltr-chbx-2" value="1" checked>
                        Zajęte
                    </label>
                    <label>
                        <input type="checkbox" class="minimal status-filter filter value-2" id="fltr-chbx-3" value="2">
                        Skasowane
                    </label>
                    <label>
                        <input type="checkbox" class="minimal status-filter filter value-3" id="fltr-chbx-4" value="3">
                        Sprzedane
                    </label>
                </div>
                <div class="form-group col-md-4 col-md-offset-8">
                    <input type="text" class="form-control checkEnterClick" id="search_accessories_no" placeholder="Numer akcesorium" />
                </div>
            </div>
            <table id="inventory-list" class="table table-bordered table-sortable" data-page="1" data-dest="asc" data-order-by="numberOfMachine" data-filter="0,1">
                <thead>
                    <tr>
                        <td>
                            <input type="text" class="form-control checkEnterClick" id="search_numer_ew_s" />
                        </td>
                        <td>
                            <input type="text" class="form-control checkEnterClick" id="search_numer_ew_t" />
                        </td>
                        <td>
                            <input type="text" class="form-control checkEnterClick" id="search_typ" />
                        </td>
                        <td>
                            <input type="text" class="form-control checkEnterClick" id="search_marka" />
                        </td>
                        <td>
                            <input type="text" class="form-control date-only-first-null checkEnterClick" id="search_data" />
                        </td>
                        <td>

                        </td>
                        <td>
                            <input type="text" class="form-control checkEnterClick" id="search_magazyn" />
                        </td>
                        <td>
                            <input type="text" class="form-control checkEnterClick" id="search_posiada" />
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary btn-flat btn-block" id="search-table-btn">SZUKAJ</button>
                        </td>
                    </tr>
                    <tr>
                        <th data-id="numberOfMachine" data-dest="asc" class="clickable">Numer ew. "S"</th>
                        <th data-id="numberOfMachine2" data-dest="asc" class="clickable">Numer ew. "T"</th>
                        <th data-id="type" data-dest="desc" class="clickable">Typ</th>
                        <th data-id="mark" data-dest="desc" class="clickable">Marka</th>
                        <th data-id="buydate" data-dest="desc" class="clickable">Data zakupu</th>
                        <th data-id="status" data-dest="desc" class="clickable">Status</th>
                        <th data-id="magazyn" data-dest="desc" class="clickable">Magazyn</th>
                        <th data-id="owner" data-dest="desc" class="clickable">Posiada</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right"></ul>
        </div>
    </div>
</section>

<div id="modal" class="cal-modal cal-modal-form cal-modal-top"></div>