﻿@using ACSystem.Core.Models

@{
    var InventoryID = (int)ViewBag.InventoryID;
}

<div class="modal-dialog" style="width: 300px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Sprzedaj inwentarz</h4>
        </div>
        @using (Html.BeginForm("SellInventory", "Inventory", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <input type="hidden" name="InventoryID" value="@InventoryID" />
                <div class="form-group" style="padding-left: 0">
                    <label class="control-label">Cena sprzedaży</label>
                    <input type="text" class="form-control" name="SellPrice" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Anuluj</button>
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>
        }
    </div>
</div>
