﻿@model ICollection<InventoryWarehouse>
@using ACSystem.Core.Models

@{
    var InventoryID = (int)ViewBag.InventoryID;
}

<div class="modal-dialog" style="width: 300px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Przypisz monterowi</h4>
        </div>
        @using (Html.BeginForm("FreeInventory", "Inventory", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <input type="hidden" name="InventoryID" value="@InventoryID" />
                <div class="form-group" style="padding-left: 0">
                    <label class="control-label">Magazyn</label>
                    <select class="form-control select2" name="WarehouseID" id="WarehouseID" data-placeholder="Wybierz magazyn" style="width: 100%;" required>
                        @foreach (var warehouse in Model.OrderBy(q => q.City).ThenBy(q => q.Street))
                        {
                            <option value="@warehouse.ID">@warehouse.Street, @warehouse.City, @warehouse.Country</option>
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Anuluj</button>
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>
        }
    </div>
</div>
