﻿@model IEnumerable<ACSystem.Core.Models.ViewModels.Select.FittersSelect>
@using ACSystem.Core.Models

@{
    var InventoryID = (int)ViewBag.InventoryID;
    var Projects = (ViewBag.Projects != null) ? (List<Projects>)ViewBag.Projects : new List<Projects>();
}

<div class="modal-dialog" style="width: 300px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Przypisz monterowi</h4>
        </div>
        @using (Html.BeginForm("GiveInventory", "Inventory", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <input type="hidden" name="InventoryID" value="@InventoryID" />
                <div class="form-group" style="padding-left: 0">
                    <label class="control-label">Monter</label>
                    <select class="form-control select2" name="FitterID" id="FitterID" data-placeholder="Wybierz montera" style="width: 100%;" required>
                        @foreach (var fitter in Model)
                        {
                            <option value="@fitter.ID">@fitter.FullName</option>
                        }
                    </select>
                </div>
                <div class="form-group" style="padding-left: 0">
                    <label class="control-label">Projekt</label>
                    <select class="form-control select2" name="ProjectID" id="ProjectID" data-placeholder="Wybierz projekt" style="width: 100%;" required>
                        @foreach (var project in Projects)
                        {
                            <option value="@project.Id">@project.InSystemID # @project.ProjectNumber # @project.City</option>
                        }
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Anuluj</button>
                <button type="submit" class="btn btn-primary">Zapisz</button>
            </div>
        }
    </div>
</div>
