﻿@model ACSystem.Core.Models.Order

@{
    var Lp = 1;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">ZAMÓWIENIE NR. @Model.ID.ToString().PadLeft(4, '0')</h4>

        </div>
        <div class="modal-body table-responsive">
            @using (Html.BeginForm("TranslateOrder", "Projects", FormMethod.Post))
            {
                <input type="hidden" name="Redirect" value="@ViewBag.Redirect" />
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th width="30px">Lp.</th>
                            <th>Pozycja</th>
                            <th>Tłumaczenie</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in Model.OrderItems)
                        {
                            <tr>
                                <td>@Lp. <input type="hidden" name="ID[]" value="@i.ID" /></td>
                                <td><input type="text" name="Item[]" class="form-control" value="@i.Item" /></td>
                                <td><input type="text" name="Translated[]" class="form-control" value="@i.Translated" /></td>
                            </tr>

                            Lp++;
                        }
                    </tbody>
                </table>

                <button type="submit" class="btn btn-primary pull-right">Zapisz</button>
            }
        </div>
    </div>
</div>