﻿
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Dodaj menedżera</h4>
        </div>
            <div class="modal-body"> 
                <input type="hidden" id="HiddenCustomerID" value="@ViewBag.CustomerID" />
                <div class="col-xs-4 form-group" style="padding-left: 0">
                    <input type="text" name="PMName" class="form-control" id="PMName" placeholder="Imię i nazwisko" />
                </div>
                <div class="col-xs-4 form-group" style="padding-left: 0">
                    <input type="text" name="PMEmail" class="form-control" id="PMEmail" placeholder="Email" />
                </div>
                <div class="col-xs-4 form-group" style="padding-left: 0">
                    <input type="text" name="PMPhoneNumber" class="form-control" id="PMPhoneNumber" placeholder="Numer telefonu" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-primary save-pm close-modal">Zapisz</button>
            </div>
    </div>
</div>