﻿@using ACSystem.Core.Models

@{ 
    var apartments = (List<Apartments>)ViewBag.Apartments;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">WYDARZENIE DLA ZADANIA</h4>
        </div>
        <div class="modal-body">
            @{
                <input type="hidden" id="ProjectID" value="@ViewBag.ProjectID" />
                    <div class="form-group">
                        <label for="Project">Mieszkanie</label>
                        <select class="form-control select2" name="Apartments" id="Apartments" data-placeholder="Wybierz apartament" style="width: 100%;">
                            <option></option>
                            @if (apartments != null && apartments.Count > 0)
                            {
                                foreach (var apartment in apartments)
                                {
                                    <option value="@apartment.Id">@apartment.NumberOfApartment</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Project">Zadanie</label>
                        <select class="form-control select2" name="Tasks" id="Tasks" data-placeholder="Wybierz zadanie" style="width: 100%;">
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="TaskEventTitle">Tytuł</label>
                        <input type="text" name="TaskEventTitle" id="TaskEventTitle" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="TaskEventStart">Początek</label>
                        <input type="text" name="TaskEventStart" id="TaskEventStart" class="form-control date-time autodate paste-date-begin" />
                    </div>
                    <div class="form-group">
                        <label for="TaskEventEnd">Koniec</label>
                        <input type="text" name="TaskEventEnd" id="TaskEventEnd" class="form-control date-time autodate-change" />
                    </div>
                    <div class="form-group">
                        <label for="TaskEventDescription">Opis</label>
                        <textarea class="form-control" name="TaskEventDescription" id="TaskEventDescription"></textarea>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" id="TaskEventAllDay">
                            Całodniowe
                        </label>
                    </div>
            }
        </div>
    </div>
    <div class="modal-footer" style="background: white;">
        <div class="col-md-6 no-padding-left">
            <button class="btn btn-primary form-control" id="TaskEventCancel">Anuluj</button>
        </div>
        <div class="col-md-6 no-padding-right">
            <button class="btn btn-primary form-control" id="TaskEventCreate">Dodaj</button>
        </div>
    </div>
</div>

