﻿@using ACSystem.Core.Models
@model Tasks

@{ 
    var i = 0;
}

<a href="javascript:void(0);" onclick="Custombox.modal.close();" class="demo-close"><i class="fa fa-times"></i></a>
<button type="button" class="btn btn-outline btn-info demo-close-btn" onclick="Custombox.modal.close();">Close</button>
<div id="photos" class="gal-container">
    @foreach (var qt in Model.Task_Questions.TaskQuestionPhoto)
    {
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item photo-@qt.Id">
            <div class="box">
                <a href="#" data-index="@i">
                    <img src="/Monter/dist/Question_Images/@qt.Photo">
                </a>
                <h4>@qt.Description</h4>
                <div id="modal-photos-@i" class="modal-photos modal-photos-multiple">
                    <a href="javascript:void(0);" onclick="Custombox.modal.close();" class="demo-close"><i class="fa fa-times"></i></a>
                    <button type="button" class="btn btn-outline btn-info demo-close-btn" onclick="Custombox.modal.close();">Close</button>
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="/Monter/dist/Task_Images/@qt.Photo" class="img-responsive">
                        </div>
                        <div class="col-md-12 description">
                            <h4></h4>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="2" tabindex="-1" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="">
                            </div>
                            <div class="col-md-12 description">
                                <h4></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        i++;
    }

    @foreach (var tf in Model.Task_Fitter)
    {
        foreach (var tq in tf.Photos)
        {
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item photo-@tq.Id">
                <div class="box">
                    <a href="#" data-index="@i">
                        <img src="/Monter/dist/Task_Images/@tq.Photo">
                    </a>
                    <h4>@tq.Desc</h4>
                    <div id="modal-photos-@i" class="modal-photos modal-photos-multiple">
                        <a href="javascript:void(0);" onclick="Custombox.modal.close();" class="demo-close"><i class="fa fa-times"></i></a>
                        <button type="button" class="btn btn-outline btn-info demo-close-btn" onclick="Custombox.modal.close();">Close</button>
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="/Monter/dist/Task_Images/@tq.Photo" class="img-responsive">
                            </div>
                            <div class="col-md-12 description">
                                <h4>@tq.Desc</h4>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="2" tabindex="-1" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <div class="modal-body">
                                    <img src="/Monter/dist/Task_Images/@tq.Photo">
                                </div>
                                <div class="col-md-12 description">
                                    <h4>@tq.Desc</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            i++;
        }
    }
</div>

