﻿@model ACSystem.Core.Models.Apartments
@using ACSystem.Core.Models

@{
    var ProjectID = (int)ViewBag.ProjectID;
    var projects = (List<Projects>)ViewBag.Projects;
}

<div class="modal-dialog" style="width: 300px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">ZMIEŃ PIĘTRO</h4>
        </div>
        @using (Html.BeginForm("ChangeFloor", "Projects", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <input type="hidden" name="ProjectID" value="@ProjectID" />
                <input type="hidden" name="ApartmentsArray" class="apartments-array" />
                <div class="form-group">
                    <div class="form-group" style="padding-left: 0">
                        <label class="control-label">Piętro</label>
                        @Html.TextBoxFor(m => m.Floor, new { @class = "form-control", placeholder = "Wpisz numer piętra", @type = "number" })
                    </div>

                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-primary">Zmień</button>
                </div>
        }
    </div>
</div>

