﻿@model ACSystem.Core.Models.Order
@using ACSystem.Core.Models.ViewModels.Select;

@{
    var Lp = 1;
    var tasks = (ViewBag.Tasks != null) ? (List<TasksSelect>)ViewBag.Tasks : null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">NOWE ZAMÓWIENIE</h4>

        </div>
        <div class="modal-body table-responsive">
            @using (Html.BeginForm("NewOrder", "Projects", FormMethod.Post, new { role = "form" }))
            {
                <div class="box-body">
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.ProjectID, new { @Value = ViewBag.ProjectID })
                    @Html.HiddenFor(m => m.ApartmentID, new { @Value = ViewBag.ApartmentID })
                    <div class="form-group">
                    <label for="TaskID">Zadanie</label>
                    <select class="form-control select2" name="TaskID" id="Tasks" data-placeholder="Wybierz zadanie" style="width: 100%;">
                        <option></option>
                        @if (tasks != null && tasks.Count > 0)
                        {
                            foreach (var task in tasks)
                            {
                                <option value="@task.ID">@task.ProductName @task.Sufix</option>
                            }
                        }
                            </select>
                        </div>                        

                    <hr />

                    <label class="control-label">Dodaj pozycję zamówienia</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="order-item" />
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-like-bg" id="add-order-item" title="Dodaj pozycję zamówienia">DODAJ</button>
                        </div>
                    </div>

                    <div class="hidden-order-items">

                    </div>

                    <table class="table table-bordered table-striped order-list" style="margin-top: 20px;">
                        <thead>
                            <tr>
                                <th>Pozycja zamówienia</th>
                                <th width="150px"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
                    <button type="submit" class="btn btn-like-bg product-load pull-right">Złóż zamówienie</button>
            }
        </div>
    </div>
</div>
