﻿@using ACSystem.Core.Models

@model PlaceError

@{
    var place = (string)ViewBag.Place;
    var header = "";
    var backURL = "";

    switch (place)
    {
        case "project":
            header = "PROJEKTU " + Model.Project.ProjectNumber;
            backURL = "/Projects/Project/" + Model.ProjectID;
            break;
        case "apartment":
            header = "LGH " + Model.Apartment.NumberOfApartment;
            backURL = "/Apartment/Details/" + Model.ApartmentID;
            break;
        case "task":
            header = "ZADANIA " + Model.Task.Name;
            backURL = "/Projects/Task/" + Model.TaskID;
            break;
    }
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">DODAJ BŁĄD DO @header</h4>
        </div>
        <div class="modal-body">

            @using (Html.BeginForm("AddPlaceError", "Projects", FormMethod.Post, new { role = "form" }))
            {
            <div class="box-body">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.ProjectID)
                @Html.HiddenFor(m => m.ApartmentID)
                @Html.HiddenFor(m => m.TaskID)
                @Html.HiddenFor(m => m.FitterID)
                @Html.HiddenFor(m => m.Date)
                @Html.Hidden("_place", place)

                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">Opis błędu</label>
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="control-label">Tłumaczenie</label>
                        @Html.TextAreaFor(m => m.Translated, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-12">
                        <table class="table table-bordered table-hover error-files-table">
                            <thead>
                                <tr>
                                    <th>Zdjęcie</th>
                                    <th width="30px" class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                        <hr />

                        <h3>Dodaj nowy plik</h3>

                        <div class="form-group">
                            <input type="file" class="upload error-img" name="check-img" accept="image/*" />
                        </div>
                    </div>
                </div>
            </div>
                <div class="box-footer">
                    <div class="col-md-6 no-padding-left">
                        <button class="btn btn-primary form-control close-modal" data-dismiss="modal" aria-label="Close">Anuluj</button>
                    </div>
                    <div class="col-md-6 no-padding-right">
                        <button type="submit" class="btn btn-primary form-control">Dodaj</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
