﻿@model ACSystem.Core.Models.ReportNag
@using ACSystem.Core

@{
    var raportNumber = $"LGH{Model.Apartment.Letter}{Model.Apartment.NumberOfApartment}/{Model.Number}";
    var precursorNumber = (Model.PrecursorReport != null) ? $"LGH{Model.Apartment.Letter}{Model.Apartment.NumberOfApartment}/{Model.PrecursorReport.Number}" : "";
}

<div class="modal-dialog" style="width: 800px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">RAPORT @raportNumber</h4>

        </div>
        <div class="modal-body table-responsive">
            <table class="table table-bordered" style="width: 50%;">
                <tr>
                    <th>Numer</th>
                    <td>@raportNumber</td>
                </tr>
                <tr>
                    <th>Numer poprzedniego</th>
                    <td>@precursorNumber</td>
                </tr>
                <tr>
                    <th>ID Projektu</th>
                    <td>@Model.Project.InSystemID</td>
                </tr>
                <tr>
                    <th>Nazwa projektu</th>
                    <td>@Model.Project.ProjectNumber</td>
                </tr>
                <tr>
                    <th>Apartament</th>
                    <td>LGH @Model.Apartment.Letter@Model.Apartment.NumberOfApartment</td>
                </tr>
                <tr>
                    <th>Status projektu</th>
                    <td>
                        @switch (Model.Status)
                        {
                            case ProjectStatus.UnderWork:
                                <span>W Trakcie</span>
                                break;
                            case ProjectStatus.FinishedWithFaults:
                                <span>Zakończony z błędami</span>
                                break;
                            case ProjectStatus.Finished:
                                <span>Zakończony</span>
                                break;
                        }
                    </td>
                </tr>
            </table>

            <table style="margin-top: 15px;" class="table table-bordered">
                <thead>
                    <tr>
                        @if (Model.Type == TaskReportType.Service_All)
                        {
                            <th>Kod</th>
                            <th>Zadanie</th>
                            <th>Pomieszczenie</th>
                        }
                        else
                        {
                            <th>Zadanie</th>
                        }
                        <th>Wykonano</th>
                        <th>Ostatni raport</th>
                        <th width="40%">Monterzy</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var e in Model.Elements)
                    {
                        <tr>
                            @if (Model.Type == TaskReportType.Service_All)
                            {
                                <td>@e.Task.ErrorCode</td>
                                <td>
                                    @e.Task.Product.DescriptionSE @e.Task.TaskSufix
                                    @if (e.PercentDone == 100)
                                    {
                                        <span style="color: green; font-weight: bold;">&#x2714;</span>
                                    }
                                </td>
                                <td>@(e.Task.Room?.Name)</td>
                            }
                            else
                            {
                                <td>
                                    @e.Task.Product.DescriptionSE @e.Task.TaskSufix
                                    @if (e.PercentDone == 100)
                                    {
                                        <span style="color: green; font-weight: bold;">&#x2714;</span>
                                    }
                                </td>
                            }
                            <td>
                                @if (e.Task.Product.ProductType == TaskType.Construction)
                                {
                                    <span>@e.WorkDone z @e.WorkToDo @e.Task.Product.Jm (@e.PercentDone %)</span>
                                }
                                else
                                {
                                    switch (e.PercentDone)
                                    {
                                        case 100:
                                            <span>OK</span>
                                            break;
                                        case 99:
                                            <span>NOT OK</span>
                                            break;
                                        default:
                                            <span>NOT DONE</span>
                                            break;
                                    }
                                }
                            </td>
                            <td>
                                @e.LastReportDate
                            </td>
                            <td>
                                @{
                                    var fittersHistory = e.Task.Task_Fitter.GroupBy(q => q.Fitter);
                                    var fittersList = new List<string>();
                                    foreach (var hist in fittersHistory)
                                    {
                                        fittersList.Add(hist.Key.User.FullName);
                                    }

                                    <span>@string.Join(", ", fittersList)</span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

