﻿@model ACSystem.Core.Models.Order

@{ 
    var Lp = 1;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">ZAMÓWIENIE NR. @Model.ID.ToString().PadLeft(4, '0')</h4>

        </div>
        <div class="modal-body table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th width="30px">Lp.</th>
                        <th>Pozycja</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model.OrderItems)
                    {
                        <tr>
                            <td>@Lp.</td>
                            <td>
                                @i.Item 
                                @if (!string.IsNullOrEmpty(i.Translated))
                                {
                                    <span>(@i.Translated)</span>
                                }
                            </td>
                        </tr>

                        Lp++;
                                }
                </tbody>
            </table>
        </div>
    </div>
</div>