﻿@model ACSystem.Core.Models.Tasks
@using ACSystem.Core
@using ACSystem.Core.Models;

@{
    var product = (Products)ViewBag.Product;
    var productsList = (List<Products>)ViewBag.ProductsList;
    var isSetProductsList = (bool)ViewBag.IsSetProductsList;
    var ProjectID = (ViewBag.ProjectID != null) ? (int)ViewBag.ProjectID : 0;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">EDYTUJ ZADANIA</h4>
        </div>
        @using (Html.BeginForm("TaskEditGroup", "Projects", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("TasksArray", "");
            @Html.Hidden("ProjectID", ProjectID)
            <div class="modal-body">
                <div class="form-group">
                    <input type="hidden" id="FirstState" value="@((int)Model.Status)"/>
                    <label class="control-label" for="Status">Status</label>
                    <select class="form-control edit-status" name="Status" id="Status" data-placeholder="Wybierz typ zadania" style="width: 100%;">
                        <option value="@((int)TaskStatus.DoNotChange)">Nie zmieniaj</option>
                        <option value="@((int)TaskStatus.Free)">Wolne</option>
                        <option value="@((int)TaskStatus.UnderWork)">W trakcie</option>
                        <option value="@((int)TaskStatus.Stoped)">Zatrzymane</option>
                        <option value="@((int)TaskStatus.PlaceNotReady)">Miejsce nieprzygotowane</option>
                        <option value="@((int)TaskStatus.Planned)">Planowane</option>
                        <option value="@((int)TaskStatus.DoWyjasnienia)">Do wyjaśnienia</option>
                        <option value="@((int)TaskStatus.NieNasze)">Nie nasze</option>
                        <option value="@((int)TaskStatus.Finished)">Zakończone</option>
                        <option value="@((int)TaskStatus.FinishedWithFaults)">Zakończone z błędami</option>
                    </select>
                </div>
                <div class="form-group col-xs-6" style="padding-left: 0;">
                    <label for="Price">Cena</label>
                    <div class="input-group product-load">
                        <span class="input-group-addon">
                            <input type="checkbox" name="change-price" value="True"/>
                        </span>
                        @Html.TextBoxFor(m => m.ProductPrice, new {@class = "form-control product-price", placeholder = "Podaj cenę", @Value = ""})
                        <span class="input-group-addon">kr</span>
                    </div>
                </div>
                <div class="form-group col-xs-6">
                    <label for="Price">Ilość</label>
                    <div class="input-group product-load">
                        <span class="input-group-addon">
                            <input type="checkbox" name="change-qnty" value="True" />
                        </span>
                        @Html.TextBoxFor(m => m.ProductCount, new { @class = "form-control", placeholder = "Podaj ilość" })
                    </div>
                </div>
                <div class="form-group col-xs-6" style="padding-left: 0;">
                    <label for="DateStart">Data rozpoczęcia</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" name="change-date-start" value="True"/>
                        </span>
                        @Html.TextBoxFor(m => m.StartDate, new { @Value = "", @class = "form-control date-time autodate" })
                    </div>
                </div>
                <div class="form-group col-xs-6" style="padding-right: 0;">
                    <label for="DateStart">Data zakończenia</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" name="change-date-end" value="True" />
                        </span>
                        @Html.TextBoxFor(m => m.EndDate, new { @Value = "", @class = "form-control date-time autodate" })
                    </div>
                </div>
                <div class="form-group">
                    <label for="Description">Opis zadania</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" name="change-description" value="True" />
                        </span>
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                    </div>
                </div>
                <hr />
                <h4>Procenty <input type="checkbox" name="change-percents" value="True" /></h4>
                <div class="col-xs-4 form-group">
                    <label for="Type1">Stawka 1 </label><small class="pt1 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType1 / 100))) SEK</small>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.PercentType1, new { @class = "form-control percent-change", placeholder = "Stawka 1" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="Type2">Stawka 2 </label><small class="pt2 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType2 / 100))) SEK</small>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.PercentType2, new { @class = "form-control percent-change", placeholder = "Stawka 2" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="Type3">Stawka 3</label><small class="pt3 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType3 / 100))) SEK</small>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.PercentType3, new { @class = "form-control percent-change", placeholder = "Stawka 3" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="Type4">Stawka 4</label><small class="pt4 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType4 / 100))) SEK</small>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.PercentType4, new { @class = "form-control percent-change", placeholder = "Stawka 4" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="Type5">Stawka 5</label><small class="pt5 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType5 / 100))) SEK</small>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.PercentType5, new { @class = "form-control percent-change", placeholder = "Stawka 5" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="Type6">Stawka 6</label><small class="pt6 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType6 / 100))) SEK</small>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.PercentType6, new { @class = "form-control percent-change", placeholder = "Stawka 6" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-primary product-load">Zapisz</button>
                </div>
        }
    </div>
</div>