﻿@using ACSystem.Core.Models
@{
    var OrderID = (int)ViewBag.OrderID;
    var PMs = (ICollection<Project_ProjectManager>) ViewBag.PMs;
}

<div class="modal-dialog" style="width: 300px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">WYŚLIJ ZAMÓWIENIE</h4>
        </div> 
        <div class="modal-body">
            <input type="hidden" id="OrderID" value="@OrderID" />
            <label class="control-label">Wybierz menedżera projektu</label>
            <div class="form-grup input-group">
                <select class="select2 form-control" id="pm-mail">
                    <option></option>
                    @foreach (var p in PMs)
                    {
                        <option value="@p.ProjectManager.Email">@p.ProjectManager.Name</option>
                    }
                </select>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary send-pm-mail">WYŚLIJ</button>
                </div>
            </div>
            <label class="control-label">lub wpisz email odbiorcy zamówienia</label>
            <div class="input-group">
                <input type="text" class="form-control" id="handy-mail" placeholder="Odbiorca zamówienia"/>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-primary send-handy-mail">WYŚLIJ</button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Anuluj</button>
        </div>
    </div>
</div>

