﻿@model ACSystem.Core.Models.Projects
@using ACSystem.Core.Models

@{
    var ProjectID = (int)ViewBag.ProjectID;
    var projects = (List<Projects>)ViewBag.Projects;
}

<div class="modal-dialog" style="width: 300px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">PRZENIEŚ MIESZKANIA</h4>
        </div>
        @using (Html.BeginForm("MoveApartments", "Projects", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <input type="hidden" name="CurrentProjectID" value="@ProjectID" />
                <div class="form-group">
                    <label class="control-label">Przenieś do projektu</label>
                    <select class="form-control" name="MoveProjectID" id="MoveProjectID">
                        <option style="background: white;"></option>
                        @foreach (var c in projects.OrderBy(q => q.ProjectNumber))
                        {
                            <option value="@c.Id">@c.ProjectNumber @if (c.ChildProject == false) { Write(" (Główny)"); }</option>
                        }
                    </select>

                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-primary">Przenieś</button>
                </div>
        }
    </div>
</div>

