﻿@model Tasks

@using ACSystem.Core
@using ACSystem.Core.Models.ViewModels.Select
@using ACSystem.Core.Models


@{ 
    var fitters = (List<FittersSelect>)ViewBag.Fitters;
    
    var toGo = Model.ProductCount - Model.Task_Fitter.Where(q => q.IsActive).Sum(q => q.WorkDone);
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">RĘCZNY KONIEC ZADANIA - @Model.GetTaskName(Model.Apartment.ProjectId) @Model.TaskSufix</h4>

        </div>
        <div class="modal-body table-responsive">
            @using (Html.BeginForm("HandyFinishTask", "Projects", FormMethod.Post))
            {
                <h3>Ilość do zakończenia: <span class="count-to-go">@toGo</span></h3>
                <input type="hidden" name="CountToGo" id="countToGo" value="@toGo" />
                <input type="hidden" name="TaskID" value="@Model.Id" />
                <input type="hidden" name="BackTo" value="@ViewBag.BackTo" />
                <div class="form-group">
                    <label class="control-label" for="Status">Status</label>
                    <select class="form-control" name="Status" id="Status" data-placeholder="Wybierz status zadania" style="width: 100%;">
                        <option value="@((int)TaskStatus.Finished)">Zakończone</option>
                        <option value="@((int)TaskStatus.FinishedWithFaults)">Zakończone z błędami</option>
                        <option value="@((int)TaskStatus.PlaceNotReady)">Miejsce nieprzygotowane</option>
                        <option value="@((int)TaskStatus.DoWyjasnienia)">Do wyjaśnienia</option>
                        <option value="@((int)TaskStatus.NieNasze)">Nie nasze</option>
                    </select>
                </div>

                <h4>Przypisz ilości do monterów: </h4>

                <table width="400px" style="margin: 0 auto;">
                    <thead>
                        <tr>
                            <th>Monter</th>
                            <th width="100px">Praca</th>
                            <th width="100px">Czas</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var fitter in fitters)
                        {
                            <tr>
                                <td>
                                    @fitter.FullName
                                </td>
                                <td>
                                    <input type="number" value="0" name="work-done_@fitter.ID" class="form-control work-done-field" step="0.01"/>
                                </td>
                                <td>
                                    <input type="number" value="0" name="work-time_@fitter.ID" class="form-control" min="0" step="0.01"/>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <button type="submit" class="btn btn-primary pull-right submit-handy-finish">ZAPISZ</button> 
            }
        </div>
    </div>
</div>
