﻿@model ACSystem.Core.Models.Tasks
@using ACSystem.Core.Models;
@using ACSystem.Core

@{ 
    var ApartmentID = (ViewBag.ApartmentID != null) ? (int)ViewBag.ApartmentID : 0;

    var product = (Products)ViewBag.Product;
    var productsList = (List<Products>)ViewBag.ProductsList;
    var isSetProductsList = (bool)ViewBag.IsSetProductsList;
    var rooms = (List<Rooms>)ViewBag.Rooms;

    var color = "";

    if (Model != null && !string.IsNullOrEmpty(Model.ColorHex))
    {
        color = $"data-color='{Model.ColorHex}'";
    }
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">DODAJ SERWIS - KUCHNIA</h4>
        </div>
        @using (Html.BeginForm("TaskSerwisCreate", "Projects", FormMethod.Post, new { role = "form" }))
            {
            @Html.AntiForgeryToken()
            <input type="hidden" name="ApartmentsArray" class="apartments-array"/>
            @Html.HiddenFor(m => m.ProjectID)
            @Html.HiddenFor(m => m.Product.ProductType, new { @Value = "0" })
            <div class="modal-body">
                @Html.HiddenFor(m => m.ApartmentId, new { @Value = ApartmentID })
                @Html.HiddenFor(m => m.Status, (int)TaskStatus.Free)
                <div class="form-group">
                    <label class="control-label" for="Products">Rodzaj serwisu</label>
                    <select class="form-control select2" name="Production" id="Production" data-placeholder="Wybierz typ serwisu" style="width: 100%;">
                        <option value="2">Reklamacja</option> 
                        <option value="1">Gwarancja</option> 
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="Products">Pomieszczenie</label>
                    <select class="form-control" name="RoomID" id="RoomID" data-placeholder="Wybierz pomieszczenie" style="width: 100%;">
                        <option></option>
                        @foreach (var room in rooms)
                        {
                            if (Model.RoomID == room.ID)
                            {
                                <option value="@room.ID" selected>@room.Name</option>
                            }
                            else
                            {
                                <option value="@room.ID">@room.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group" style="padding-left: 0">
                    <label class="control-label" for="Products">Produkt</label>
                    <select class="form-control select2 product-load" name="ProductId" id="ProductId" data-placeholder="Wybierz produkt" style="width: 100%;">
                        @if (isSetProductsList == true)
                        {
                            foreach (var pm in productsList.Where(q => q.IsActive == true))
                            {
                                if (pm.Product_Project.Any(q => q.ProjectID == ViewBag.ProjectID) || pm.ForAllProjects)
                                {
                                    <option value="@pm.Id">@pm.GetTaskName(ViewBag.ProjectID)</option>
                                }
                            }
                        }
                    </select>
                </div>
                <div class="form-group col-xs-4" style="padding-left: 0;">
                    <label for="Price">Cena</label>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.ProductPrice, new { @class = "form-control product-price", placeholder = "Podaj cenę" })
                        <span class="input-group-addon">kr</span>
                    </div>
                </div>
                <div class="form-group col-xs-4" style="padding-left: 0;">
                    <label for="Price">Płatność za godzinę</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                            @Html.CheckBoxFor(m => m.IsHourlyPay)
                        </span>
                        @Html.TextBoxFor(m => m.HourlyPrice, new { @class = "form-control", placeholder = "Podaj cenę za godzinę", @Value = 375 })
                        <span class="input-group-addon">kr</span>
                    </div>
                </div>
                <div class="form-group col-xs-4" style="padding-right: 0;">
                    <label for="Price">Ilość</label>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.ProductCount, new { @class = "form-control", placeholder = "Podaj ilość", @Value = 1 })
                        <span class="input-group-addon" id="product-jm">@product.Jm</span>
                    </div>
                </div>
                <div class="form-group col-xs-4" style="padding-left: 0;">
                    <label for="DistancePrice">Kod błędu</label>
                    @Html.TextBoxFor(m => m.ErrorCode, new { @class = "form-control", placeholder = "Podaj kod błędu" })
                </div>
                <div class="form-group col-xs-4 col-xs-offset-4" style="padding-right: 0;">
                    <label for="DistancePrice">Cena za kilometr</label>
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.DistancePrice, new { @class = "form-control", placeholder = "Podaj cenę za kilometr" })
                        <span class="input-group-addon">kr</span>
                    </div>
                </div>
                <div class="form-group col-xs-6" style="padding-left: 0;">
                    <label for="DateStart">Data rozpoczęcia</label>
                    @*@Html.TextBoxFor(m => m.StartDate, new { @class = "form-control date-time autodate" })*@
                    <input type="text" name="StartDate" id="StartDate" class="form-control date-time autodate" /> 
                </div>
                <div class="form-group col-xs-6" style="padding-right: 0;">
                    <label for="DateStart">Data zakończenia</label>
                    @*@Html.TextBoxFor(m => m.EndDate, new { @class = "form-control date-time autodate" })*@
                    <input type="text" name="EndDate" id="EndDate" class="form-control date-time autodate" /> 
                </div>
                <div class="form-group">
                    <label for="Description">Opis zadania</label>
                    @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-default color-picker" @color>Kolor zadania</button>
                    @Html.HiddenFor(m => m.ColorHex)
                </div>

                <hr />
                <h4>Procenty</h4>
                <div class="col-xs-4 form-group">
                    <label for="Type1">Stawka 1 </label><small class="pt1 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType1 / 100))) SEK</small>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.PercentType1, new { @class = "form-control percent-change", placeholder = "Stawka 1" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="Type2">Stawka 2 </label><small class="pt2 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType2 / 100))) SEK</small>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.PercentType2, new { @class = "form-control percent-change", placeholder = "Stawka 2" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="Type3">Stawka 3</label><small class="pt3 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType3 / 100))) SEK</small>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.PercentType3, new { @class = "form-control percent-change", placeholder = "Stawka 3" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="Type4">Stawka 4</label><small class="pt4 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType4 / 100))) SEK</small>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.PercentType4, new { @class = "form-control percent-change", placeholder = "Stawka 4" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="Type5">Stawka 5</label><small class="pt5 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType5 / 100))) SEK</small>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.PercentType5, new { @class = "form-control percent-change", placeholder = "Stawka 5" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-xs-4 form-group">
                    <label for="Type6">Stawka 6</label><small class="pt6 pull-right">@Math.Ceiling((Model.ProductPrice * (Model.PercentType6 / 100))) SEK</small>
                    <div class="input-group product-load">
                        @Html.TextBoxFor(m => m.PercentType6, new { @class = "form-control percent-change", placeholder = "Stawka 6" })
                        <span class="input-group-addon">%</span>
                    </div>
                </div>
                <div class="col-md-12" style="margin-bottom: 20px;">
                    <h4>Pytania kontrolne</h4>
                    <div class="col-xs-12 pull-right">
                        <div class="input-group pull-right col-xs-7">
                            <input type="text" class="description-question form-control" placeholder="Opis"/>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary add-service-element"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="form-group pull-right col-xs-5">
                            <select class="select2 form-control select-question-name">
                                @foreach (var q in Model.Task_Questions.QuestionsNames)
                                {
                                    <option value="@q">@q</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 added-questions">
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Anuluj</button>
                <button type="submit" class="btn btn-primary product-load">Zapisz</button>
            </div>
        }
    </div>
</div>