﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ACSystem</title>
    @Styles.Render("~/Content/plugins/toastr/toastr.min.css")
    @Styles.Render("~/Content/bootstrap-datetimepicker.css")
    @Styles.Render("~/Content/plugins/jqconfirm/jquery-confirm.min.css")
    @Styles.Render("~/Content/plugins/customBox/custombox.css")
    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css")
    @Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css")
    @Styles.Render("~/Content/Site/layout.css")
    @Styles.Render("~/Content/Site/generals.css")
    @Styles.Render("~/Content/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="logo text-center">
            <h2><b>AC</b>System</h2>
        </div>
        <div class="nav">
            <a class="btn btn-default btn-circle" href="/" title="Strona główna"><i class="fa fa-home"></i></a>
            <button type="button" class="btn btn-default btn-circle go-back" onclick="history.back()" title="Wróć"><i class="fa fa-arrow-left"></i></button>
            <div class="pull-right">
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <a class="btn btn-default btn-circle" href="javascript:document.getElementById('logoutForm').submit()" title="Wyloguj"><i class="fa fa-sign-out"></i></a>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()   
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/plugins/toastr/toastr.min.js")
    @Scripts.Render("~/Scripts/plugins/LoadingOverlay/loadingoverlay.min.js")
    @Scripts.Render("~/Scripts/plugins/jqconfirm/jquery-confirm.min.js")
    @Scripts.Render("~/Scripts/plugins/customBox/custombox.js")
    @Scripts.Render("~/Scripts/moment-with-locales.min.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    @Scripts.Render("~/Scripts/Site/Generals.js")
    @Scripts.Render("~/Scripts/Site/app.js")
    @RenderSection("scripts", required: false)
</body>
</html>
