﻿/* CRUD */
.crud-container {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;

    display: table;
    margin: 0 auto;
}

tr:hover .crud-container {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 1;
}

.crud {
    cursor: pointer;
    color: #333;
}

.crud-details {
    padding: 5px;
}

.crud-details:hover {
    color: #1D4AB1;
}

.crud-edit {
    padding: 5px;
}

.crud-edit:hover {
    color: #5AAC56;
}

.crud-delete {
    padding: 5px;
}

.crud-delete:hover {
    color: #B10005;
}


.cal-modal {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-clip: padding-box;
    display: none;
}

.cal-modal-top {
    margin-top: 50px;
}

.cal-modal .close {
    position: absolute;
    top: 15px;
    right: 25px;
    color: #000;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.cal-modal {
    text-align: left !important;
}

.custombox-modal-container-slide > div {
    float: none;
}


/* File upload */
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

/* Tables */
.sort-column-icon {
    float:right;
}

.table-sortable th.clickable {
    cursor: pointer;
}

.td-clickable {
    cursor: pointer;
}

.td-clickable:hover {
    color: rgba(0,0,0,0.7);
}

td.with-label {
    text-align: center;
}

td a, td a:visited, td a:active {
    color: #333;
}

td a:hover{
    color: #999;
}

#filtr-container {
    margin: 10px 0;
}

.checkbox-filter label {
    margin-right:10px;
    margin-top: 5px;
}

.box-header {
    text-transform: uppercase;
}

dd a, dd a:visited, dd a:active {
    color: #333;
}

dd a:hover{
    color: #999;
}

/* CALENDAR */

.fc table {
    table-layout: auto !important;
}

.fc-toolbar .fc-center, .fc-toolbar .fc-right, .fc-toolbar .fc-left {
    padding-top: 10px;
}

.fc-list-table .fc-widget-header {
    padding: 5px !important;
    font-weight: bold;
}

.fc-list-table .fc-widget-header .fc-list-heading-main {
    float: right;
}

.fc-list-table .fc-widget-header .fc-list-heading-alt {
    float: left;
}

.fc-list-table .fc-list-item-time {
    white-space: nowrap;
}

.fc td {
    border-style: solid;
    border-width: 1px;
    padding: 0;
    vertical-align: top;
}

.fc-list-table td {
    border-width: 0 0 0 !important;
    padding: 8px 14px !important;
}

.fc-list-item {
    width: 100%;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.fc-list-item:hover {
    background: #f7f7f7;
}


.fc-list-item-title {
    width: 100%;
}

.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: #ddd;
}

.fc-list-item-marker {
    display: none;
}


.gal-container{
    padding: 12px;
}
.gal-item{
    overflow: hidden;
    padding: 3px;
}
.gal-item .box{
    height: auto;
    overflow: hidden;
}
.box img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    -o-object-fit:cover;
}
.gal-item a:focus{
    outline: none;
}
.gal-item a:after{
    content:"\e003";
    font-family: 'Glyphicons Halflings';
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    right: 3px;
    left: 3px;
    top: 3px;
    bottom: 3px;
    text-align: center;
    line-height: 350px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.gal-item a:hover:after{
    opacity: 1;
}
.modal-open .gal-container .modal{
    background-color: rgba(0,0,0,0.4);
}
.modal-open .gal-item .modal-body{
    padding: 0px;
}
.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}
.modal-open .gal-item button.close:focus{
    outline: none;
}
.modal-open .gal-item button.close span{
    position: relative;
    top: -3px;
    font-weight: lighter;
    text-shadow:none;
}
.gal-container .modal-dialogue{
    width: 80%;
}
.gal-container .description{
    position: relative;
    height: 40px;
    top: -40px;
    padding: 10px 25px;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: left;
}
.gal-container .description h4{
    margin:0px;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
}
.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}
@media (min-width: 768px) {
    .gal-container .modal-dialog {
        width: 55%;
        margin: 50 auto;
    }
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}

.modal-photos {
    background-color: #FFF;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    padding: 24px;
    width: 60%;
    position: relative;
    display: none;
    overflow:scroll;
}

.modal-photos-multiple {
    width: auto !important;
    overflow-x: scroll;
}

.demo-close {
    display: block;
    position: absolute;
    top: 0;
    right: 30px;
    z-index: 10000;
    outline: none;
    font-size: 30px;
    line-height: 30px;
    transition: transform .3s ease-in-out;
    color: #333;
}

    .demo-close:hover {
        transform: rotate(360deg);
        color: #333;
    }

.demo-close-btn {
    display: none;
}

.calendar-row {
    display: flex;
}

.calendar-name {
    margin-top: 10px;
    font-size: 13px;
    padding-top: 4px;
}

.calendar-check {
    width: 25px;
    height: 25px;
    border: none;
    color: white;
    text-align: center;
    padding-top: 6px;
    margin-right: 5px;
    border-radius: 5px;
}

.calendar-check:hover {
    opacity: 0.7;
}

.calendar-check i {
    display: none;
}

.calendar-check:hover i, .calendar-check.active i {
    display: block;
}

/*SELECT2*/

.custombox-overlay {
    z-index: 9989 !important;
}

{
    z-index: 9990 !important;
}

.custombox-content .select2-container, .select2-container--open {
    z-index: 9999 !important;
    color: black;
}

.select2-container {
    z-index: 9988;
    color:black;

}