﻿.btn-app {
    padding: 20px 0;
    background-color: #fff;
    height:auto;
    width: 120px;
    color: #444;
    border: 1px solid #3e4965;
    font-size: 14px;
}

.btn-app .badge {
    position: absolute;
    font-size: 15px;
    padding: 5px 10px;
    font-weight: bold;
}

.btn-app .fa {
    font-size: 30px;
}
