﻿@using ACSystem.Core.Models
@using ACSystem.Core.Models.ViewModels.Select
@model RentAndLoan

@{
    ViewBag.Title = "Dodaj";
    ViewBag.Description = "Nowy czynsz lub pożyczka";
    ViewBag.Active = "Office";
    ViewBag.SubActive = "RentAndLoan";

    var fitters = (ViewBag.Fitters != null) ? (List<FittersSelect>)ViewBag.Fitters : new List<FittersSelect>();
}

@section Styles {
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    @Scripts.Render("~/Scripts/Site/rent-and-loan.js")
}

<section class="content">
    @using (Html.BeginForm("Create", "RentAndLoan", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Czynsz lub pożyczka</h3>
                        <div class="box-tools pull-right">
                            <button type="submit" class="btn btn-sm btn-primary" title="Dodaj">
                                DODAJ
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="control-label">
                                Monter
                            </label>
                            <select class="form-control select2" name="FitterID" required>
                                @foreach (var fitter in fitters.Where(q => !q.IsLocked))
                                {
                                    <option value="@fitter.ID">@fitter.SurName @fitter.Name</option>
                                }
                            </select> 
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Opis czynszu lub pożyczki
                            </label>
                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "Wpisz opis czynszu lub pożyczki", required = true })
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Częstotliwość
                            </label>
                            <select class="form-control select2" name="Frequency" required>
                                <option value="0">Co wypłatę</option>
                                <option value="1">Co miesiąc</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Data rozpoczęcia
                            </label>
                            @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control date-only", @Value = (Model != null) ? Model.StartDate.ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd"), required = true })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Kwoty</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="control-label">
                                Kwota czynszu lub pożyczki
                            </label>
                            @Html.TextBoxFor(m => m.FullAmount, new { @class = "form-control", placeholder = "Wprowadź kwotę czynszu lub pożyczki", required = true, type = "number" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Wysokość raty
                            </label>
                            @Html.TextBoxFor(m => m.InstallmentAmount, new { @class = "form-control", placeholder = "Wprowadź wysokość raty", required = true, type = "number" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Oprocentowanie
                            </label>
                            @Html.TextBoxFor(m => m.InterestRate, new { @class = "form-control", placeholder = "Wprowadz wysokość oprocentowania", required = true, type = "number"})
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Waluta
                            </label>
                            <select class="form-control select2" name="Currency" required>
                                <option value="0">SEK</option>
                                <option value="1">PLN</option>
                            </select>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    }
</section>