﻿@using ACSystem.Core.Models
@using ACSystem.Core.Models.ViewModels.Select
@model RentAndLoan

@{
    ViewBag.Title = "Edytuj";
    ViewBag.Description = Model.Description;
    ViewBag.Active = "Office";
    ViewBag.SubActive = "RentAndLoan";

    var fitter = (ViewBag.Fitter != null) ? ViewBag.Fitter : "";
}

@section Styles {
    @Styles.Render("~/Content/plugins/select2/select2.min.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    @Scripts.Render("~/Scripts/Site/rent-and-loan.js")
}

<section class="content">
    <div class="row">
        @using (Html.BeginForm("Edit", "RentAndLoan", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ID)
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Czynsz lub pożyczka</h3>
                        <div class="box-tools pull-right">
                            @if (ViewBag.Prev != null)
                            {
                                <a href="/RentAndLoan/Edit/@ViewBag.Prev" class="btn btn-primary btn-sm pull-left" title="Poprzednia pożyczka"><i class="fa fa-angle-left"></i></a>
                            }
                            @if (ViewBag.Next != null)
                            {
                                <a href="/RentAndLoan/Edit/@ViewBag.Next" class="btn btn-primary btn-sm pull-left" title="Następna pożyczka"><i class="fa fa-angle-right"></i></a>
                            }
                            <button type="submit" class="btn btn-sm btn-primary" title="Zapisz" style="margin-left: 15px;">
                                ZAPISZ
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="control-label">
                                Monter
                            </label>
                            <select class="form-control select2" disabled>
                                <option>@fitter</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Opis czynszu lub pożyczki
                            </label>
                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "Wpisz opis czynszu lub pożyczki", required = true })
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Częstotliwość
                            </label>
                            <select class="form-control select2" name="Frequency" required>
                                <option value="0" @if (Model.Frequency == ACSystem.Core.InstallmentFrequency.PerPayroll) { Write("selected"); }>Co wypłatę</option>
                                <option value="1" @if (Model.Frequency == ACSystem.Core.InstallmentFrequency.PerMonth) { Write("selected"); }>Co miesiąc</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Data rozpoczęcia
                            </label>
                            @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control date-only", @Value = (Model != null) ? Model.StartDate.ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd"), required = true })
                        </div>
                        <div class="form-group" style="opacity: 0;">
                            <label class="control-label">
                                NIEWIDOCZNE
                            </label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Kwoty</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="control-label">
                                Kwota czynszu lub pożyczki
                            </label>
                            @Html.TextBoxFor(m => m.FullAmountToInput, new { @class = "form-control", placeholder = "Wprowadź kwotę czynszu lub pożyczki", required = true, type = "number", disabled = true })
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Pozostała kwota
                            </label>
                            @Html.TextBoxFor(m => m.LeftAmountToInput, new { @class = "form-control", placeholder = "Wprowadź kwotę czynszu lub pożyczki", required = true, type = "number", disabled = true })
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Dodaj do kwoty czynszu lub pożyczki
                            </label>
                            @Html.TextBoxFor(m => m.AddAmount, new { @class = "form-control", placeholder = "Wprowadź kwotę czynszu lub pożyczki", required = true, type = "number" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Wysokość raty
                            </label>
                            @Html.TextBoxFor(m => m.InstallmentAmountToInput, new { @class = "form-control", placeholder = "Wprowadź wysokość raty", required = true, type = "number" })
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Oprocentowanie
                            </label>
                            @Html.TextBoxFor(m => m.InterestRate, new { @class = "form-control", placeholder = "Wprowadz wysokość oprocentowania", required = true, type = "number"})
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Waluta
                            </label>
                            <select class="form-control select2" name="Currency" required disabled>
                                <option value="0" @if (Model.Currency == ACSystem.Core.Currency.SEK) { Write("selected"); }>SEK</option>
                                <option value="1" @if (Model.Currency == ACSystem.Core.Currency.PLN) { Write("selected"); }>PLN</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Pobrane raty</h3>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <div class="box-body">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Kwota</th>
                                <th>Lista płac</th>
                                <th>Data</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in Model.Installments)
                            {
                                <tr>
                                    <td>@i.ChargeAmount</td>
                                    <td>@(i.Payroll?.Number.ToString().PadLeft(5, '0') ?? "-")</td>
                                    <td>@i.Timestamp.ToString("yyyy-MM-dd HH:mm")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>