﻿

@{
    ViewBag.Title = "Czynsze i pożyczki";
    ViewBag.Description = "Lista";
    ViewBag.Active = "Office";
    ViewBag.SubActive = "RentAndLoan";
}

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/square/blue.css")
}

@section Scripts {
    @Scripts.Render("~/Scripts/plugins/select2/select2.full.min.js")
    @Scripts.Render("~/Scripts/plugins/iCheck/icheck.min.js")
    @Scripts.Render("~/Scripts/Site/rent-and-loan.js")
}

<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
            <div class="box-tools pull-right">
                <a href="/RentAndLoan/Create" class="btn btn-sm btn-primary" title="Dodaj">Dodaj</a>
            </div>
        </div>
        <div class="box-body table-responsive no-padding">
            <div class="col-md-12" id="filtr-container">
                <div class="input-group input-group-sm pull-right" style="width: 150px;">
                    <input type="text" name="search" id="search-table-input" class="form-control pull-right" placeholder="Szukaj">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default" id="search-table-btn"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <div class="input-group input-group-sm pull-right checkbox-filter">
                    <label>
                        <input type="checkbox" class="minimal status-filter" id="fltr-chbx-1" value="0" checked>
                        Gotowe
                    </label>
                    <label>
                        <input type="checkbox" class="minimal status-filter" id="fltr-chbx-2" value="1" checked>
                        Częściowo potrącone
                    </label>
                    <label>
                        <input type="checkbox" class="minimal status-filter" id="fltr-chbx-3" value="2" checked>
                        Zamknięte
                    </label>
                </div>
            </div>            
            <table id="table-list" class="table table-bordered table-sortable" data-page="1" data-dest="desc" data-order-by="number" data-filter="0,1,2">
                <thead>
                    <tr>
                        <th data-id="number" data-dest="asc" class="clickable">Numer</th>
                        <th data-id="fitter" data-dest="desc" class="clickable">Monter</th>
                        <th>Opis</th>
                        <th data-id="full-amount" data-dest="desc" class="clickable">Pełna kwota</th>
                        <th data-id="installment-amount" data-dest="desc" class="clickable">Kwota raty</th>
                        <th data-id="left-amount" data-dest="desc" class="clickable">Pozostała kwota</th>
                        <th data-id="status" data-dest="desc" class="clickable">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right"></ul>
        </div>
    </div>
</section>

