﻿@model Projects
@using ACSystem.Core.Models

@{
    var ProjectID = (int)ViewBag.ProjectID;
}

<div class="modal-dialog" style="width: 300px">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">PRZENIEŚ ZADANIE</h4>
        </div>
        @using (Html.BeginForm("MoveMultipleTasks", "Projects", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <input type="hidden" name="TasksArray" class="tasks-array" />
                <div class="form-group">
                    <label class="control-label">Mieszkanie</label>
                    <select class="form-control select2 move-one-task-apartment-id" name="MoveApartmentID" id="MoveApartmentID">
                        <option style="background: white;"></option>
                        @foreach (var c in Model.Apartments)
                        {
                            <option value="@c.Id">@c.NumberOfApartment</option>
                        }
                    </select>
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left close-modal" data-dismiss="modal">Anuluj</button>
                    <button type="button" class="btn btn-primary move-multiple-tasks-submit-button">Przenieś</button>
                </div>
        }
    </div>
</div>

